{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__005: フランチェスカ・ブロムフィールド：Daisies",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 17th October - 21st November, 2020",
		ogimage: "https://imlabor.org/twobytwobytwo/005/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "005",
                "item": ""+ site.url +"/jp/twobytwobytwo/005/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/005/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "005"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span><br>{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">フランチェスカ・ブロムフィールド</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">17th October - 21st November, 2020<br>※ 開廊時間：14時 - 19時／木、金、土曜日</dd>
				</dl>
				<dl class="item">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><a href="{{ site.rootJP }}journal/interview/008/">Interview with: フランチェスカ・ブロムフィールド</a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide02_sp.jpg"/></picture><span class="caption">Study for a Daisy Chained Walk, 2020, Graphite and Pencil on paper 1300mm × 640mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide05_sp.jpg"/></picture><span class="caption">H is for Help (Harness), 2020, Wool, felt, polyester, 1450mm × 400mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide08_sp.jpg"/></picture><span class="caption">DR.08, 2020, Limewood, wax, polyester, satin, 480mm × 160mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide12_sp.jpg"/></picture><span class="caption">S.A. , 2020, Pencil and graphite on paper, wax, pinewood, MDF, acid-free tape, PVA, polyester, satin 1220mm × 260mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide13_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide15_sp.jpg"/></picture><span class="caption">Friendship Chain of Gargoyles, 2020, Limewood, polyester, wax, stain, 2000mm x 280mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/005/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/005/img/slide17_sp.jpg"/></picture></li>
			</ul>
		</div>
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

