{% if item.category === "INTERVIEW" -%}
<article class="c-card"><a class="link" href="{% if item.language -%}/{{ item.language }}{% endif -%}/journal/interview/{{ item.number }}">
    <div class="img"><img src="/journal/interview/{{ item.number }}/img/thum.jpg" alt=""></div>
    <div class="body">
        <div class="upper">
            <p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
            <h4 class="title">{{ item.title }}{% if item.titleJP -%}<span class="jp"> {{ item.titleJP }}</span>{% endif -%}</h4>
            <p class="author">by__ {{ item.author }}</p>
        </div>
        <div class="lower">
            <p class="text">{{ item.text }} &hellip;</p>
        </div>
    </div>
</a></article>
{% elif item.category === "REVIEW" -%}
<article class="c-card"><a class="link" href="{% if item.language -%}/{{ item.language }}{% endif -%}/journal/review/{{ item.number }}">
    <div class="img"><img src="/journal/review/{{ item.number }}/img/thum.jpg" alt=""></div>
    <div class="body">
        <div class="upper">
            <p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
            <h4 class="title">{% if item.titleJP -%}<span class="jp">{{ item.titleJP }}</span>{% endif -%}{{ item.title }}</h4>
            <p class="author">by__ {{ item.author }}</p>
        </div>
        <div class="lower">
            <p class="text">{{ item.text }} &hellip;</p>
        </div>
    </div>
</a></article>
{% elif item.category === "2x2x2" -%}
<article class="c-card"><a class="link" href="{% if item.language -%}/{{ item.language }}{% endif -%}/twobytwobytwo/{{ item.number }}">
    <div class="img"><img src="/twobytwobytwo/{{ item.number }}/img/thum.jpg" alt=""></div>
    <div class="body">
        <div class="upper">
            <p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
            <h4 class="title">{% if item.titleJP -%}<span class="jp">{{ item.titleJP }}</span>{% endif -%}{{ item.title }}</h4>
        </div>
    </div>
</a></article>
{% elif item.category === "CURATION" -%}
<article class="c-card"><a class="link" href="{% if item.language -%}/{{ item.language }}{% endif -%}/curation/{{ item.number }}">
    <div class="img"><img src="/curation/{{ item.number }}/img/thum.jpg" alt=""></div>
    <div class="body">
        <div class="upper">
            <p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
            <h4 class="title">{% if item.titleJP -%}<span class="jp">{{ item.titleJP }}</span>{% endif -%}{{ item.title }}</h4>
            <p class="author">Venue__ {{ item.venue }}</p>
        </div>
        <div class="lower">
            <p class="text">{{ item.text }} &hellip;</p>
        </div>
    </div>
</a></article>
{% endif -%}
