<ul class="list">
	<li class="item -twitter"><a href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ info.path }}" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="{{ site.root }}img/common/ico_twitter.svg" alt="" /></a></li>
	<li class="item -facebook"><a href="http://www.facebook.com/share.php?u={{ site.url }}{{ info.path }}" ><img src="{{ site.root }}img/common/ico_facebook.svg" alt="" /></a></li>
	<li class="item -pinterest"><a data-pin-do="buttonPin" data-pin-count="above" data-pin-custom="true" data-pin-save="false" href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ info.path }}&amp;media=&amp;description={{ page.title }}"><img src="{{ site.root }}img/common/ico_pinterest.svg" alt="" /></a></li>
</ul>
