<footer id="l-footer" class="l-footer">
    <div class="inner">
        <ul class="left-column">
            <li class="item">imlabor is an artist collective founded in 2017.</li>
            <li class="item copyright">Copyright &copy; 2020 im labor.</li>
        </ul>
        <ul class="right-column">
            <li class="item -contact"><a href="mailto:info@imlabor.org" target="_blank" rel="noopener">contact</a></li>
            <li class="item"><a href="https://www.instagram.com/imlabor/" target="_blank" rel="noopener">instagram</a></li>
        </ul>
    </div>
    {# <div id="c-pagetop" class="c-pagetop"><a href="#top"><span></span></a></div> #}
<!-- /#l-footer --></footer>
