<header id="l-header" class="l-header">
    <div class="inner">
        <div id="l-drawer-nav-toggle" class="l-drawer-nav-toggle">MENU</div>
        <nav id="l-drawer-nav" class="l-drawer-nav">
            <div class="list">
                <div class="item{% if page.type === 'twobytwobytwo' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}twobytwobytwo/">2 x 2 x 2</a>
                </div>
                <div class="item{% if page.type === 'journal' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}journal/">JOURNAL</a>
                </div>
                <div class="item{% if page.type === 'curation' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}curation/">CURATION</a>
                </div>
                <div class="item{% if page.type === 'about' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}about/">ABOUT</a>
                </div>
            </div>
            <div class="list -lower">
                <div class="item">
                    <a href="mailto:info@imlabor.org" target="_blank" rel="noopener">CONTACT</a>
                </div>
                <div class="item">
                    <a href="https://www.instagram.com/imlabor/" target="_blank" rel="noopener">INSTAGRAM</a>
                </div>
            </div>
        </nav>
        <h1 class="logo"><a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}"><img src="{{ site.root }}img/common/logo_imlabor.svg" alt="{{ site.name }}"></a></h1>
        <nav class="l-header-nav">
            <div class="list">
                <div class="item{% if page.type === 'twobytwobytwo' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}twobytwobytwo/">2 x 2 x 2</a>
                </div>
                <div class="item{% if page.type === 'journal' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}journal/">JOURNAL</a>
                </div>
                <div class="item{% if page.type === 'curation' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}curation/">CURATION</a>
                </div>
                <div class="item{% if page.type === 'about' %} -current{% endif %}">
                    <a href="{% if page.lang === 'jp' %}{{ site.rootJP }}{% else %}{{ site.root }}{% endif %}about/">ABOUT</a>
                </div>
                {# <span class="bar"></span> #}
            </div>
        </nav>
        <nav class="l-header-lang">
            <ul class="list">
                <li class="item -jp {% if page.lang === 'jp' %}is-current{% endif %}"><a href="{{ site.rootJP }}">JP</a></li>
                <li class="item -en {% if page.lang === 'en' %}is-current{% endif %}"><a href="{{ site.root }}">EN</a></li>
            </ul>
        </nav>
    </div>
<!-- /#l-header --></header>
