<nav class="page-breadcrumbs">
    <ul>
{%- for prop in page.breadcrumbs.itemListElement %}
{% if loop.last %}
        <li><a>{{ prop.name }}</a></li>
{%- else %}
        <li><a href="{{ prop.item }}">{{ prop.name }}</a></li>
{%- endif %}
{%- endfor %}
    </ul>
</nav>
