{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__003: スカーレット・プラテル",
    description: "スカーレット・プラテルは言葉の代わりにレンズを通して物事の本質を捉えることを試みている、写真を中心に活動するイギリス人アーティストである。中毒性のある色彩で撮影された蛇や鳥などの動物たちは独特な存在感を放ち、展示されている空間を何か神聖な場所へと変えていく。",
		ogimage: "https://imlabor.org/journal/interview/003/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "003",
                "item": ""+ site.url +"/jp/journal/interview/003/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/003/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "003"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「他人のニーズに答えてもあなたの不安な気持ちが消えることは無いでしょう。結局、自分で自分を満たすことでしか精神の安定は図れないのです。」</h3>
				<p class="lead">スカーレット・プラテルは言葉の代わりにレンズを通して物事の本質を捉えることを試みている、写真を中心に活動するイギリス人アーティストである。中毒性のある色彩で撮影された蛇や鳥などの動物たちは独特な存在感を放ち、展示されている空間を何か神聖な場所へと変えていく。自分自身を自己破壊的な人間であると説明するプラテルだが、彼女が撮影した作品を眺めていると、愛や癒しの必要性を再確認させられる。</p>
				<p class="lead">今回のインタビューでは、新作「I AM I」や「YOU ARE YOU」などの作品をはじめ、ヨーロッパ・フォトグラフィー・アワードにノミネートされた経験や現在の活動について話を聞いた。</p>
				<p><span class="talker">IM LABOR__</span>まず初めに、今回私たちのプロジェクトスペース2×2×2で発表している新作「I AM I」（コンドル）と「YOU ARE YOU」（吸血鬼）について教えてください。</p>
				<p><span class="talker">Scarlett Platel__</span>この二つの作品は、「I AM I」と「YOU ARE YOU」というテキストで結ばれています。<br>
				自然への回帰、そして動物の精神と繋がることが、社会全体の意識を目覚めさせるため必要な薬になるという事に気づいて以来、動物をモチーフにした作品を作ることが多くなりました。自然破壊はすでに不可逆的な地点まで来ています。今後絶滅を余儀なくされる動物たちの数は後を絶たないと生物学者たちは予想していて、地球を救うという巨大な仕事を私たちは本格的に実行する必要があります。自然への回帰、そして精神的に動物と繋がることはこの仕事を遂行するためにも必要不可欠であると考えています。</p>
				<p>心理学の世界で与える側と奪う側に物事は二分化されるという考え方があります。コンドル（「I AM I」）を自立と実現の象徴とし、私たちが生み出した搾取社会を象徴する吸血鬼を（「YOU ARE YOU」）並べて展示する事によって、私たちはみな「私」にも「あなた」にもなれる、という選択肢を提示することを今回の展示では試みました。共依存している「あなた」ではなく癒しの「私」によって与えるという行為が成り立つのです。</p>
				<p>“I AM I” と “YOU ARE YOU” はゲシュタルトの祈りから来ています。ゲシュタルトの祈りは、心理療法の世界では広く知られており、一般的には、ゲシュタルト療法の中心となる個人的自立の哲学を要約したものとして捉えられていて、自律性と相互依存の問題の論及する際の出発点として扱われることがよくあります。「他人のニーズに答えてもあなたの不安な気持ちが消えることは無いでしょう。結局、自分で自分を満たすことでしか精神の安定は図れないのです。」</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide01_sp.jpg" /></picture><span class="caption">WIP: a print straight from the dark room, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide02_sp.jpg" /></picture></span><span class="caption">CONDOR, I am I, 2020, pint on aluminum, 1030mm×1370mm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide03_sp.jpg" /></picture><span class="caption">VAMPIRE, You are You, 2020, pint on aluminum, 1030mm×1370mm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide04_sp.jpg" /></picture><span class="caption">Shooting process1 - CONDOR, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide05_sp.jpg" /></picture><span class="caption">Shooting process2 - CONDOR, courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>制作過程について教えていただけますか？</p>
				<p><span class="talker">SP__</span>今回の作品を制作するにあたって国際猛禽センターの協力を得られたのは非常に幸運でしたね。職員のアダブ・ブロッホ氏のおかげで、コンドルのプーキーとペイズリーの撮影をすることができました。国際猛禽センターが行なっている保護活動に関しても非常に感銘を受けました。</p>
				<p>動物を被写体にした写真を撮影することが多くなって以来、私の頭の中や夢の中に動物がよく出てくるようになりました。その頭の中の動物を追いかけていくうちに作りたいイメージが呼び起こされていくという感じですね。動物を被写体に撮影するのはかなり刺激的です。基本的に動物の機微を逃さないようにデジタルで撮影しますが、その前にフィルムカメラでも前撮り撮影します。私は暗室で過ごす時間を大切に考えていて、私にとってフィルム写真は画家にとってのスケッチのような感覚です。基本的にデジタルとフィルムを行き来するのが好きで、この二つが衝突して新しいものが生まれるのも期待しています。プロセスを常に記憶していくことは物を作る上でとても重要な行為だと思います。写真を単なるイメージに留めないためにも、作品に身体性を持たせる必要があると考えています。錬金術のようなものです。私は自分の作品を写真というよりオブジェクトとして捉えていて、気付き、解放、実行を喚起させる像のような物なんです。</p>
				<p><span class="talker">IL__</span>これまでのプラテルさんの作品の多くはコンストラクティッド・フォトグラフィの手法に分類されると思うのですが、通常実際に撮影するまでにどれほどの時間を準備に費やしますか？ またプラテルさんの修了展で「The Mothers」「Bella, Love Bird」「Lord Make Me Pure, But Not Yet」の3枚の写真を展示されていましたが、写真だけではなく床が黒く塗られていたり、壁にラテックス製の白いカーテンがかけられていたりなどのインスタレーションの部分もとても印象的でした。プラテルさんにとってインスタレーションは写真作品の補間装置的な役割として捉えているのかお聞きしたいです。</p>
				<p><span class="talker">SP__</span>私は長いこと、写真家の規律を重んじる複雑なプロセスに完全に隷属していました。でも今は、自分自身を写真家というよりはアーティストだと思っていて、自分の視点を表現するために必要な手法を選択するようにしています。私の作品は常に癒し・治癒に対してのモチベーションから生まれていて、これは人間が成長するために発芽させる必要がある種のようなものです。原始的で秘教的な言葉をあえて選択して自身の作品を説明する事によって、自分の自己中心的かもしれない発見や思考を普遍的なメタファーへと変換できないかなと考えています。このやり方が上手くいかないこともありますが…..というか基本的に上手くいっていません。でも、もし自分の作品が普遍的に理解させるものになってしまったら、私は作品を作ることをやめてしまうと思います。</p>
				<p>修了展に関して言うと、床やその他のインスタレーションのオブジェクトは映画のセットのようなもので、修了展では写真作品の主題を強めるために彫刻的なアプローチをしてみました。実際にそのインスタレーションを通したことで、自分でも気付いていなかった作品のコンテクストを認識することが出来ました。「The Mothers」は修了展後にダミアン・グリフィスがキュレーションした「Light observed」（KARST Gallery）で再展示する機会があったのですが、そこでようやく作品を完全に昇華することができたと思います。</p>
				<p><span class="talker">IL__</span>ブライトン大学のクリティカル・アート学科を2011年に卒業していますが、学部在学中から写真を主軸に活動していたんですか？</p>
				<p><span class="talker">SP__</span>実はクリティカル・アート学科には間違えて入学してしまったんですよね。その当時私はまだ若かったですし、自己形成過程の途中でした。結果としてこの学科に入学したことは私にとっては最高の経験になったのですが。クリティカル・アート科は美術哲学とコンセプチュアルベースのカリキュラムがメインで、学生たちは自己認識を再構築することを求められました。そのせいで、自信をなくしてしまうこともありました。それまで聞いたことのなかった芸術言語に触れたことで、認識していなかった自分の心や魂と向き合わなければいけなくなったので、不安定になった時期もありましたね。でも、そのおかげで自分の興味やそれを表現するための手法を見つけることが出来たと思います。自分の潜在意識を表現するための言語を習得するためには学習と忍耐と時間が必要ですが、クリティカルコースはそれらを与えてくれたように思います。フィルム写真には在学中に出会いました。</p>
				<p><span class="talker">IL__</span>その後プラテルさんは2016年にロイヤル・カレッジ・オブ・アート（RCA）の修士課程・写真学科に進学しましたが、そのきっかけを教えてください。</p>
				<p><span class="talker">SP__</span>私がRCAへの進学を決めたのは、ブリュッセルで初めて個展を開催した時でした。その時のギャラリストから、写真の設営方法や、印画紙が歪んでいる等を指摘されて私はまだ学ぶ必要があるなって思ったんです。あの時はこれでもかってぐらい指摘されて、殺してやりたくらい腹が立っていたんですが、そのおかげで自分のプロ意識の甘さに気付けたのでギャラリストには感謝しています。（笑）</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide06_sp.jpg" /></picture><span class="caption">THE MOTHERS, 2018, C-Type Darkroom print on Aluminum, 110cm×920cm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide07_sp.jpg" /></picture></span><span class="caption">BELLA, THE LOVE BIRD, 2018, C-Type Darkroom print on Aluminum, 162cm×122cm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide08_sp.jpg" /></picture><span class="caption">LORD MAKE ME PURE, 2018, C-Type Darkroom print on Aluminum, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide09_sp.jpg" /></picture><span class="caption">The Mothers Gift, courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>RCA在学中の2017年にEuropean Photography Awardにノミネートされていますが、その経験についてお話聞かせていただけますか？</p>
				<p><span class="talker">SP__</span>聞いてくれてありがとうございます。RCAに入学してよかったことは、様々な素晴らしい機会を提供してくれたことです。私は基本的に恥ずかしがりやで、自分をさらけ出すのが苦手なんです。なので、賞とか公募類に応募するのは自分にとっては非常に大変なことでした。今もそんな感じですが… European Phorography Awardはヨーロッパの写真組合が主催していて、有難いことに当時のクラスメイトのヨナシュ・メライネクと私がイギリス代表の写真家として選出されました。その後イタリアで作品を発表する機会をもらえたのですが、非常に光栄なことだと思っています。その当時イギリスはEU離脱に関する国民投票の時期だったので、特に若いアーティストである私にとっては意味がある事だったと感じています。私たちの世代の、下の世代のアーティストがヨーロッパの他のアーティストとの繋がりを保ち続ける事で、各国との隔たりを打破することができるのではないかと思っています。この賞がこの先もずっと続くことを本当に願っています。</p>
				<p><span class="talker">IL__</span>作品のレファレンスや、インスピレーションなどありましたら教えていただけますか？</p>
				<p><span class="talker">SP__</span>私はネットワークや思考の中で自由に動くのが苦手で、好きなことだけに没頭してしまい、なかなかそこから抜け出くなってしまうのが常に悩みの種です。音楽も食べ物も人に関してもそうですね。（笑）</p>
				<p>多くの才能あるアーティスト、特に同時代のアーティストに刺激や感銘を受けていますが、ヨーゼフ・ボイスとマシュー・バーニーは私の中で常に重要視している大好きなアーティストです。最近はこの二人の他にマルグリット・ヒューモー（Marguerite Humeau）もリストに加わりました。この三人の作品の展示をいつかキュレーションしてみたいですね。息を呑むくらい素敵な展示になると思います。</p>
				<p><span class="talker">IL__</span>最後に、最近の活動について教えてもらえますか？</p>
				<p><span class="talker">SP__</span>今はエディンバラのLtd Ink Corporationで開催する個展の準備をしています。私はもともとLtd Ink Corporationが行なっている活動が大好きで、個展が出来ることをとても嬉しく思っています。Ltd Ink Corporationアーティストのケヴィン・ハーマン（Kevin Harman）主催のプロジェクトで、彼はエディンバラのアートシーンを活性化するために非常に勢力的に活動しているアーティストなんです。</p>
				<p>新作は親密な旅を通して成長し続ける有機体をテーマにした作品です。私を完成させる欠けているピースを見つけるための物語になります。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide10_sp.jpg" /></picture><span class="caption">Scarlett Platel, Courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">スカーレット・プラテルは複雑な精神分析やスピリチュアルな思想から浮かび上がる概念やイメージを組み立てることを試みている、ロンドンとエディンバラで活動する1987年生まれのイギリス人アーティストである。写真、動画、彫刻を用いて、プラテルは強力なシンボルや原始的な形を再構築し、日常に潜む変態的な事実を露出させる。主な展示に『The Same Tendecy』Summerhall（スコットランド）、平遥国際写真祭（中国）、ブライトン国際写真際（英国）、『Fakers』Thames Side Studio Gallery（英国）、主な受賞歴にhe Metro Imaging Mentorship Award 2018 国立肖像画美術館（英国）、The New Contemporary Art Prize 2018（英国）、 European Photography Award  2017ノミネート等がある。2020年にスコットランド、エディンバラにあるLtd Ink Galleryにて個展開催予定。2011年ブライトン芸術大学クリティカルアート学科を卒業、その後2016年ロイヤル・カレッジ・オブ・アート写真科に進学、2018年同大学修了。</dd>
				</dl>
			</div>
			{# <div class="c-data">
				<p class="link"><a href="http://www.matthewburrows.org/" target="_blank" rel="noopener">http://www.matthewburrows.org/</a></p>
			</div> #}
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

