{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__007: Lavender Hair",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ February 14 - March 13, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/007/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "007",
                "item": ""+ site.url +"/jp/twobytwobytwo/007/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/007/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "007"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">冨樫達彦、ヨウコ ピンカム、渡邉庸平</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">February 14 - March 13, 2021<br>※ 開廊時間：14時 - 19時／木、金、土曜日</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">2月14日より、<a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener noreferrer">LavenderOener Chair / 灯明</a>によるキュレーション展 “Lavender Hair” がim labor にて開催されます。</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>冨樫達彦</strong><br>
					1992年山形県生まれ、荒川区在住。Sandberg Institute修了。食堂灯明（トウメイ）の料理担当。</dd>
					<dd class="desc"><strong>ヨウコ ピンカム</strong><br>
					1989年千葉県生まれ。編み物を通してウールの面白さを発見して以来、ウールを主な素材として使用した作品を制作している。現在はタフティングの技法を用いたラグの制作などを行なっている。主なグループ展に「アーティストランニングフェスティバル」XYZ collective、2020などがある。</dd>
					<dd class="desc"><strong>渡邉庸平</strong><br>
					1990年福島県生まれ、荒川区在住。東京芸術大学大学院修了。主な展覧会に、「Giant Chorus」HAGIWARA PROJECTS (2019, 東京)「4 boxes and pyramids」 4649 (2018, 東京)、「渡邉庸平:猫の肌理、雲が裏返る光」 KomagomeSOKO (2017, 東京)、「THE EXPOSED#9 passing pictures」g/p Gallery 東雲 (2015, 東京)など。</dd>
					<dd class="desc"><a href="{{ site.rootJP }}journal/interview/010/"><strong>In conversation with: Lavender Opener Chair</strong></a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide04_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "To forest", 2021, Wool, 173cm × 110cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide07_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Paper on leather", 2021, leather, wood, carbon and ink, 49cm × 66.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide10_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Cars", 2021, C-type print, 39cm × 32.5cm, Framed: 73cm x 54.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide13_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Box", 2021, Acrylic on plywood, 60cm × 30cm x 11.8cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide15_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "BICLO", 2021, Inkjet print, and perfume, 115cm × 75cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide18_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#2", 2021, Ink on paper, 18cm × 14,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide20_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide21_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#3", 2021, Ink on paper, 30cm × 21,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide24_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Rose is a rose", 2021, Printer, incence and paper, 21.7cm × 29.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide25_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide27_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#1", 2021, Ink on paper, 29.4cm × 19.2,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide28_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "In forest", 2021, Wool, 88cm × 87cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide29_sp.jpg"/></picture></li>
			</ul>
		</div>
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

