{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'about',
    lang: 'jp',
    title: "ABOUT",
    description: "imlaborは2017年に設立されたアーティストコレクティブで、新興アーティストが参加する展示会を開催しています。",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "ABOUT",
                "item": ""+ site.url +"/jp/about/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<section class="page-section">
    <div class="inner">
        <div class="text">
            <p>imlaborは2017年に設立されたアーティストコレクティブで、新興アーティストが参加する展示会を開催しています。2x2x2は2020年3月からオープンし、imlaborが運営する東京にあるプロジェクトスペースです。</p>
            <p>お問い合わせは、こちらにお問い合わせください。 <a href="mailto:info@imlabor.org" target="_blank" rel="noopener">info@imlabor.org.</a></p>
        </div>
    </div>
</section><!-- /.pege-section -->
{% endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}
