{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__008: インディア・ニールセン: Crybaby",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ March 28 - April 24, 2021, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/008/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "008",
                "item": ""+ site.url +"/jp/twobytwobytwo/008/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/008/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "008"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">インディア・ニールセン</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">March 28 - April 24, 2021<br>※ 開廊時間：14時 - 19時／木、金、土曜日</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">Cartoon Network（アニメ専門チャンネル）で再放送される昔のアニメ、MTVから連日流れてくるヒップ・ホップ黄金時代の映像、そして、インターネットの登場とそれに伴って誕生したソーシャルメディアの原型などに囲まれて育ったインディア・ニールセンは、まさに真の90年代のキッズと呼べるのではないでしょうか。あらゆる情報へアクセスすることや、世界中の人々と繋がることが指先一つで可能な環境は、デジタルネイティブの第一世代に囲まれて育った彼女にとっては当たり前のことでした。しかし、それから数十年後、インターネット登場初期の興奮はミレニアム世代の倦怠感へと変わっていってしまいました。このような情報過多が事実への不信感や知識の重複、グローバルな接続性による地域社会からの離脱、身近な環境への無関心、瞬時のデジタルインタラクションが親密さの欠如や肉体的・感情的な関わりへの不足を招いたことは、今になって初めて理解できることです。身を持ってこの現状を体験しているニールセンは、潜在意識を呼び覚まし、「オンライン」における視覚的・口頭言語に感情的な物語を再導入することを自身の作品を介して試みていると話します。</dd>
					<dd class="desc">ニールセンの絵画には、自身の青春時代に流行していた音楽のサンプリングやリミックス方法、マーティン・キッペンベルガー、ピーター・ソール、ジグマー・ポルケなどのアーティストが提唱したアプロプリエーションへの態度や、インターネットや大衆文化から吸収したイメージや、カソリックの図像に囲まれていた子供時代の記憶が取り入れられています。ニールセンが通常引用するモチーフには、アニメ、パワー・パフガールズの敵役HIMや、聖なる心臓が燃えているイメージ、大胆なゴシック文字、様式化され切断された手足などがあります。それらはニールセンの人生における瞬間や記憶を象徴するものであり、代役となって作家自身の感情が吹き込まれているのです。それらのアイコニック的なモチーフを引用しているにもかかわらず、ニールセンの絵画は、ノスタルジックなキッチュさや皮肉、風刺などとは程遠い所にあります。何故なら、彼女の作品が内包するエネルギーと強さは、過去の検証を通じて処理された現在に根ざしているからです。様々な美術史的影響をサンプリングし、チャンネル化して描くことで、ニールセンの絵画は具象、抽象、表現主義どれにも分類されることがないと同時に、どれとも機能させることを可能にしています。例えば、フィリップ・ガストンの厚いマチエールの油絵、フランシス・ピカビアが描く幽玄な半透明の顔、ポール・テックの不気味な肉の魅力などを一つの構図に融合させることで、ニールセンは複数の芸術スタイルと絵画技法を横断する作品を制作し、またそれによって鑑賞者は作品を理解する足がかりを得ることができるのです。</dd>
					<dd class="desc">さらに、ニールセンの独特なタイトルやモジュール式彫刻に使われている不可解なテキストは、鑑賞者が彼女のペインティングを鑑賞する際に、コンテクストのヒントのようなものとして存在しています。当初はモジュール式彫刻を絵画の付随的なフレーミング装置として捉えていましたが、ある種のサイトスペシフィック性を持ち合わせた、2次元と3次元の間の往来を手助けする自立した彫刻として最近では機能するようになってきました。「Cry Baby」、「Build It Up」、「Burn It Down」など、個々の単語やフレーズ、文章の断片がギャラリーの空間に生息し、メランコリックな不安感を演出します。同様に、ニールセンのタイトル付けに対するユニークなアプローチは、観客が作品を解釈し理解しようとする試みを助けることもあれば、妨げることもあります。時には、率直で事実に即したものもありますが、タイトルはしばしばアナグラムやイニシャルなど暗号めいたものが多く、これらのコード化されたテキストは、絵画を解くためのヒントになりうるのでしょうか。あるいは逆に、言葉の本質的な不完全さを浮き彫りにする目くらましなのかもしれません。いずれにしても、ニールセンの作品は鑑賞者に疑問を投げかけ、手の届かないところにあるかもしれない意味を探求させるのです。</dd>
					<dd class="desc">- ヘクター・キャンベル（美術史家、キュレーター）</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">インディア・ニールセンは、ロンドンを拠点に活動しているアーティストです。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2021年には、ロンドンのFREEHOUSEで個展を開催するほか、マーゲートのWell Projectsで2人展、ITローマのAnnarummaギャラリーで3人展を開催する予定です。主な個展「Seer Kin Lives」は、2016年にロンドンのJack Bell Gallery（ロンドン）。2020年にはPlatform Southwark（ロンドン）での2人展他、Eastside Projects（バーミンガム）、Roman Road、Southwark Park Galleries、Collective Ending、The Residence Gallery、ASC Gallery、The Hockney Gallery、Gallery 46、The Horse Hospital、Tripp Gallery、Matt's Gallery、Limbo、The Peckham Experiment Building（ロンドン）、Assembly House（リーズ）、White Columns（ニューヨーク）、Spazio Amanita（フィレンツェ）、Im Labor Gallery（東京）など国際的に作品を発表しています。主な受賞歴に、ロイヤル・カレッジ・オブ・アートの「The Villiers-David Bursary」（2017年）、スレード・スクール・オブ・ファイン・アートの「The Steer/Orpen/Charles Heath Clarke Bursary」（2016年）、「a-n arts Writing Prize 」(2019年)。<br>
					RCA卒業後は、ノルウェーのアーティストIda Ekbladに従事。</dd>
					<dd class="desc"><a href="{{ site.rootJP }}journal/interview/011/"><strong>Installation view &amp; interview with: インディア・ニールセン</strong></a></dd>
				</dl>
			</div>
		</div>
		{# <div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide04_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "To forest", 2021, Wool, 173cm × 110cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide07_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Paper on leather", 2021, leather, wood, carbon and ink, 49cm × 66.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide10_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Cars", 2021, C-type print, 39cm × 32.5cm, Framed: 73cm x 54.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide13_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Box", 2021, Acrylic on plywood, 60cm × 30cm x 11.8cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide15_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "BICLO", 2021, Inkjet print, and perfume, 115cm × 75cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide18_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#2", 2021, Ink on paper, 18cm × 14,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide20_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide21_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#3", 2021, Ink on paper, 30cm × 21,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide24_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Rose is a rose", 2021, Printer, incence and paper, 21.7cm × 29.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide25_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide27_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#1", 2021, Ink on paper, 29.4cm × 19.2,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide28_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "In forest", 2021, Wool, 88cm × 87cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/008/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/slide29_sp.jpg"/></picture></li>
			</ul>
		</div> #}
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

