{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__017: Interview with: 高見澤 ゆう",
	description: "高見澤ゆうは東京を拠点にアーティスト、そしてアーティスト・ラン・スペース4649のディレクターとして活動している。木箱や、映像、写真などの媒体を通して、高見澤はアートという現象の価値やアーティストのアイデンティティについて言及し、芸術におけるオリジナリティの可能性と不可能性を探り、アートワークと呼ばれるオブジェとただのオブジェの違いを問いながら、物がどのように芸術として認識されるのかを解き明かそうと試みている。",
	ogimage: "https://imlabor.org/journal/interview/017/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "017",
				"item": site.url + "/jp/journal/interview/017/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/017/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "017"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「支持体について考えることが芸術なんじゃないかなって。それを考えることは現実について何かを考えるってことでもあるし、現実を扱うメディアが芸術だなって思ってる。」</h3>
				<p class="lead">高見澤ゆうは東京を拠点にアーティスト、そしてアーティスト・ラン・スペース<a href="http://4-6-4-9.jp/" target="_blank" rel="noopener noreferrer">4649</a>のディレクターとして活動している。木箱や、映像、写真などの媒体を通して、高見澤はアートという現象の価値やアーティストのアイデンティティについて言及し、芸術におけるオリジナリティの可能性と不可能性を探り、アートワークと呼ばれるオブジェとただのオブジェの違いを問いながら、物がどのように芸術として認識されるのかを解き明かそうと試みている。</p>
				<p class="lead">本インタビューでは2月5日から開催される個展「imlabor at 2x2x2」について、また高見澤君の制作に影響を与えたアーティストや、今後の展開について話を伺った。</p>
				<p><span class="talker">IM LABOR__</span>2021年の4649での個展のテキストで「光を時間的に享受する点において絵画とは映像である」というゲルハルト・リヒターの発言から、「絵画や彫刻が他のオブジェに比べて時間的な存在」だという事に気づいたって書かれてあったけど、高見澤くんが作品を作るとき、絵画をつくってるという意識が常にあるの？</p>
				<p><span class="talker">YUU TAKAMIZAWA__</span>最近まで、作品は絵を描いているっていう意識で作ってたけど…でもやっぱり絵画ではないと思うんだよ。それは俺が決めれば良いことなんだけどさ。最近の人が使う言葉での絵画ではないなって思うようになった。</p>
				<p><span class="talker">IL__</span>最近の意味での絵画？</p>
				<p><span class="talker">YT__</span>俺の言ってる絵画っていうのは限定的な意味なんだけど…その限定的だとされるようになってきたのが最近のことだから。今の絵画って多分、絵を描くこと一般を指すんじゃないですか？でも俺はそこにはあまり興味なくて…俺は、あまりにも俯瞰的すぎるものは自分では作れなくて。それを言い切る根拠みたいなものが無い。それで、グリンバーグの用語の、アカデミックアートって言葉がすごくわかりやすいなって思っていて。</p>
				<p>あの人って多くの芸術のことをアカデミックアートって言ってるんだよね。そのアカデミックアートの定義というのが、支持体に関して何の言及も持たないものって言っていて。例えばサロン絵画とか見るとわかりやすいけど。あれって、キャンバスに絵を描くという、当時だったらアカデミーというか、世の中が与えてくれた前提の中で、内容だけを入れ替えればいい、というものをアカデミックと呼んでて。内容を奇抜にしたり、支持体の方に目がいかないようにしたりとか、とにかく内容に興味を持たせるようなもののこと。</p>
				<p>こういうのアートじゃないとか言うと、怒っちゃたりする人もいるけど、でも、俺はやっぱここ1、2年、支持体について考えてないものはアートじゃないって思ってて、それをちゃんと言っていこうって。自分がいいなって思う作品は大体、というか絶対に支持体について考えられてる。支持体について考えることが芸術なんじゃないかなって。それを考えることは現実について何かを考えるってことでもあるし、現実を扱うメディアが芸術だなって思ってる。</p>
				<p><span class="talker">IL__</span>現在の高見澤くんの作品に至るまで、どういった作品を作ってた？主に絵画？</p>
				<p><span class="talker">YT__</span>ずっと絵描いてたよ、学生の時。フィギュラティブなやつではないけど。抽象が好きだから。美術史という前提があった上で、自分はどうやって絵を描けるかなっていうのをその時はずっと考えてて。それで絵を型取りしたものを作ったり、2016年くらい。技術的に失敗しててあまり良い作品ではなかったんだけど、ただのプラスチックの塊みたいで。</p>
				<p><span class="talker">IL__</span>型取りした絵は自分で描いたもの？</p>
				<p><span class="talker">YT__</span>一応自分で描いたけど、その絵が特別重要な作品だったわけではなくて。色があって…色がついてるってことは厳密に言えばテクスチャーがあるってこと。それを型取りするってことが大事だったから。緑色の抽象絵画で、それを型取りして、その型にFRP流し込んで、もう一回ストレッチャーにつけて、っていうのを作ったよ。それから今までやってきた作品はその延長線になってる。</p>
				<p><span class="talker">IL__</span>2018年に4649での渡邉庸平と二人展<a href="http://4-6-4-9.jp/4_boxes_and_pyramids.html" target="_blank" rel="noopener noreferrer">「4 boxes and pyramids」</a>で展示したクレートの中に絵が入っている作品「絵画、輸送用木箱」のシリーズはその延長線の初期に作った作品だよね。</p>
				<p><span class="talker">YT__</span>うん。絵の型取りをした作品はそもそも、時間が無い絵を作ろうと思ったからキャストしたんだけど。その次何作ろうかって考えた時に、初めから光が当たってなかったらいいのかなって。絵が裏向きに置かれてたり、しまわれてる時に興味があって。絵ってオブジェっぽいものなのに壁に掛けられて光が当たって、そんな訳のわからないものをみんな受け入れてるのってなんでだろうって、そのシステムに興味があったから。逆にそうではない時の状態も気になった。</p>
				<p><span class="talker">IL__</span>都現美の企画展<a href="https://www.mot-art-museum.jp/exhibitions/motcollection-becoming/" target="_blank" rel="noopener noreferrer">コレクション・ビカミング</a>でアド・ラインハートの「タイムレス・ペインティング」の裏側に段ボールが貼ってあって、ギャラリーの名前とか、フラジールとか、梱包の時に描いたであろう文字が手書きで描かれてあってすごい面白かったのをなんか思い出した。</p>
				<p><span class="talker">YT__</span>アド・ラインハートの絵をNYで見た時すごい感動した。アメリカの美術をいろいろ見てたら、みんな真っ黒い絵を描こうとしてるなって思って、真っ黒い絵を描くために四苦八苦してて。</p>
				<p><span class="talker">IL__</span>「絵画、輸送用木箱」の中に入ってる絵は高見澤くんが実際に描いたやつ？</p>
				<p><span class="talker">YT__</span>うん。あと、その「絵画、輸送用木箱」の前に名前とかが描かれた段ボールの中に絵が入ってる作品があるんだけど。それには、俺が描いた黒い絵が中に入ってる。黒い絵ができた時、これを全部入れようって作ったものなんだけど。渡邉庸平と4649で展示する話になった時、本当はよっぺ（渡邉庸平）の作品をクレートの中に入れたいなって思ってた。でも、その時はそれをやる勇気がなくて。それで、いつかやりたいなって思ってて、Void+で2021年に展示をした時に、小林優平くんが作った作品を入れたままにして出したんだよ。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide01_sp.jpg" /></picture><span class="caption">'No.5, black square painting, scroll', 絵画、輸送用木箱, 182 x 60 x 30.2cm, courtesy of the artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide02_sp.jpg" /></picture><span class="caption">'No.7.8.9. black square small paintings in wooden box', Painting, wooden boxes for transportation, 60 x 45 x 57cm, courtesy of the artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide03_sp.jpg" /></picture><span class="caption">'Untitled', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide04_sp.jpg" /></picture><span class="caption">'Installation view of “POP-UP RUNNING by 4649”', courtesy of Void+</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide05_sp.jpg" /></picture><span class="caption">'study (sox04042018)', courtesy of artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide06_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>そうだったんだ。あと気になってたのが、靴下の作品。この作品は絵画と光の関係についてとはまた別のコンテクストで作られてるような感じがするけど、現在に至るまで継続的に展示に出てくるよね。これは全部同じ靴下なの？</p>
				<p><span class="talker">YT__</span>いや、全部違う靴下。クレートの作品をやってる間に靴下が溜まってきたから、展示しようかなって思って、出してたんだけど。その時は何も考えてなくて、でもNADAのインスタに靴下の作品が上がった時に、コメントでこれが芸術なのかとか何だとか否定的なことが書かれていて… それに結構感動した。自分はこれをやってて大丈夫なんだって気持ちになったというか。</p>
				<p>絵とかさ、椅子とかが、そこに存在してて、これは一体何なんだろうってぼーっと考えることについて作品を作ってるんだけど。それと、アートを売ったり作ったりする人がいて、それが歴史的にずっと受け継がれてきて、それも何なんだろうって。簡単にいうとアートについてとモノについてなんだけど、それが自分の中で二つに別れちゃってて、作品作るときにいつもこの二つがどう関係するんだろうってことを考えてて。最近またグリンバーグを読んで、その二つが繋がったんだよ。</p>
				<p><span class="talker">IL__</span>さっき抽象画描いてたって言ったけど、抽象表現主義の作家がやっぱり好きだったの？あと、他に影響というか、今の作品に影響を与えたムーブメントとかある？</p>
				<p><span class="talker">YT__</span>いや、全然好きじゃなくて。俺はマーク・ロスコとかバーネット・ニューマンとか結構無理で。あーゆうのインチキだよな、とか思ってたからさ。でも、マイケル・フリードって人がいて、その人がきっかけで逆張りみたいな感じでグリンバーグに興味持ち始めたから。今世の中で一般的に間違ってたって思われているような人、フリードもそうだし。</p>
				<p>大学で教わったこととか、読んだりした本とか大体がフェリックス・ゴンザレス＝トレスが良いっていうバイアスがかかったものが多くて。例えば、ミニマルアートだったら、カール・アンドレとかロバート・モリスがいて、彼らはドナルド・ジャッドと対立していて。こんな言い方は一面的だけど、ジャッドはグリンバーグっぽいというかフォーマリズムの延長みたいな作品だからさ。でも、同じようにミニマリストと呼ばれるモリスとかは、革新的な存在のように語られるんですよ。それまでいわゆる網膜的だった芸術がもう少し身体へと広がって、開放するというポジティブな面でジャッドよりモリスとかの方が良いって言われているような感じ。あと、70年代とかはいかにダン・グラハムがジョセフ・コスースより良いかっていう論調が強いと思っていて。それも、美術的な概念とかよりも外の世界に目を広げたから、ダン・グラハムは.. 偉大とされているんじゃないか、とか。</p>
				<p>俺は、ジャッドとかコスースの方に興味があって。なんかひらかれてないっていうのがすごいいいなって。</p>
				<p><span class="talker">IL__</span>ひらかれてない？</p>
				<p><span class="talker">YT__</span>何が言いたいかっていうと、それから最終的にロバート・スミッソンとかゴンザレス＝トレスとかが出てきて、彼らはやっぱりひらいていったわけじゃないですか。トレスはみんなの家のベッドとか、その場じゃないとこに目を向けさせたわけじゃないですか…作品を使ってみんなが想像力を働かせられる場所に誘導するというか。それは素晴らしいなと思うし、当時は必要だったんだろうなとも思う。でも俺は、それが嫌で。なんというか、今みんなひらかれすぎだし、全部考えることもやることも社会の中で共有できる、換金可能なものにしないといけないというか、共感をベースにしてる。</p>
				<p>俺そうゆうのが嫌だから… 例に過ぎないけど、ジャッドとかコスースとかは本人にしかわからないような、自分の中で完結している方に行ってしまってたから、あまり良く言われないのかもしれないけど、俺はすごいそれが必要だと思っていて。もうちょっと自分にしかわからないようなものを見せたりしたいし。アートワールドの方がなくなっても、一人でやり続けてるかもしれないな、ってそういうような物の方がいいって思う。</p>
				<p>俺の制作は存在することに、なんの前提がなくてもできる、これから先俺が一人生きていたらできるようなことをしているつもりがあって。大体いまいわゆる”コンセプチュアルアート”って呼ばれるものって、さっき話したアカデミックアートのようなもので、ホワイトキューブっていうキャンバスみたいな前提があって内容を入れ替えてるだけのものだから。なんか、嫌だなって。だから俺はそうならないように作ってるんですけど。</p>
				<p>あと、ハイデッガーがものの遠さみたいな話していて、美術の支持体の話と一緒じゃんってなったんだけど.... 何だっけ...（2分沈黙）　ちょっと思い出せないからいいや。</p>
				<p><span class="talker">IL__</span>ハイデッガーの話すごい気になるんだけど。（笑） 思い出したら教えて。<br>今回im laborでやる個展に出すものの中に椅子のパーツがプラスチックバッグに梱包された作品があるけど、その”コンセプチュアルアート”として見られないようにするためには、レディメイドではなくて作った椅子を展示するとかそういった意識はあった？例えばペーター・フィッシュリ&amp;ダヴィッド・ヴァイスの作品を見た時、最初レディメイドだと思い込んでたのが、実際は全部作られたもので。その瞬間やられたなってなったけど。</p>
				<p><span class="talker">YT__</span>椅子の作品「IKEA ‘Marius’ stool BK 2021025」は複製なんだけど、そこの複製する過程の意味合いが強くって。フィッシュリ&amp;ヴァイスは85%ぐらいな気がする、複製のクオリティが。俺はそこに造形的な良さみたいなものを感じ過ぎたかも、手作り感みたいなのが少し残ってて。だから俺の椅子の作品では95%ぐらいは再現したくて、実際に見たら93％くらいかもしれないけど。</p>
				<p>学生の時作った絵画を複製した作品もそうだけど、一瞬の時の椅子を作りたかったんだよね。椅子は存在し続けてるし、絵も存在し続けてる。でもその中から型が取られた瞬間なら、時間が奪われた状態になるから。それを前は絵でやっていたけど、絵である必要はないかなと。椅子から時間を取り去った状態を作りたかった。</p>
				<p><span class="talker">IL__</span>今回im laborでやる個展の作品について話聞いてもいい？</p>
				<p><span class="talker">YT__</span>今回の展覧会は大きく分けて二種類の作品で構成されています、一つはホワイトキューブやアートワールドみたいな大きな支持体と言えるようなものへの考察についての作品。もう一方は、もっと小さく具体的な椅子という物体を通して、アート作品になりうるオブジェクト全般について記述した作品。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide07_sp.jpg" /></picture><span class="caption">'Installation view of “imlabor at 2x2x2”', courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide08_sp.jpg" /></picture><span class="caption">'A bench for viewers to sit on during my show at imlabor 2x2x2', 2022, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide09_sp.jpg" /></picture><span class="caption">'untitled', 2021, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide10_sp.jpg" /></picture><span class="caption">'IKEA ‘Marius’ stool BK 20210205', 2021, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide11_sp.jpg" /></picture><span class="caption">'Drain, imlabor, 2022', 2022, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>高見澤くんが美術に興味を持ち始めたきっかけって何だった？</p>
				<p><span class="talker">YT__</span>なんで、美術に興味がいったんだっけ…なんか、 小学校の時に地元の美術館で<a href="https://www.setagayaartmuseum.or.jp/exhibition/special/detail.php?id=sp00083" target="_blank" rel="noopener noreferrer">デ・ジェンダリズム</a>っていう展示をやってて、長谷川裕子さんキュレーションなんだけど。小学校にその展示の図録があって、それを盗んできて家で読んでた。その展示が本当にやばくて。出展作家はね、ロバート・ゴーバーとか、マリーナ・アブラモヴィッチとか、マシュー・バーニーとか。ゴーバーは今に至るまで、ずっと好きだな。</p>
				<p><span class="talker">IL__</span>小学生でロバート・ゴーバーってなかなかの体験だね。他に好きな作家いた？</p>
				<p><span class="talker">YT__</span>アラーキーとか。近所にアラーキーの家があって。それで、周りがあそこにアラキって人が住んでるって盛り上がってて。それでアラキってなんだろうってなったら、高校生ぐらいのとき本屋で荒木の本を見つけて、そっから好きになった。あと、さっき話に出たけど、アド・ラインハートも好き。真っ黒い絵を描く人たちのジャンルがあると思ってて、昔はそこに加わりたかった。</p>
				<p><span class="talker">IL__</span>小学生の高見澤くんの琴線にデ・ジェンダリズムのカタログが触れたのって、元々美術が身近な存在だったとか？どんな子供だった？</p>
				<p><span class="talker">YT__</span>いや、好きなのは本を読む方で。小学校の時はキノコ図鑑が家にあって、形とか名前が面白いからひたすら覚えて。だから最初はきのこが好きで。都会だからあんまないけどよくキノコ探してて、そしたら超でかいさるの腰掛けがあって。それをもぎ取って小一の時先生に見せたらさ、めっちゃ褒められた。それで、その後魚が好きになって。その後歴史が好きになってとにかく本を読んでた。当時64が流行ってて、スマブラとかさ。俺、あれが本当に楽しくなくて、だから9歳から11歳くらいまでほとんど友達と遊んだことなくて。友達んち行ってスマブラやる流れになるのがだるすぎて、おじいちゃんと川行ったり、一人で本読んだりしてた。</p>
				<p>小さい頃から絵は描いてはいたけど、図鑑を模写したり。でもそれこそ漫画とか描いてた訳ではないし… なんで、こんな風になったんだろう。</p>
				<p><span class="talker">IL__</span>何でだろう... 今後やりたいなって思ってることとかある？</p>
				<p><span class="talker">YT__</span>前まで展覧会をやらないとどうにもならないなって思ってたけど、今は展示作業したりするのが楽しいなって。前まで展覧会自体にいいイメージがなくて。生き抜くための都合でやらなきゃいけないだけのことだと思ってたから。でも最近は場所をみて、ここに何を置いたらいいのかっていうのを考えられるようになってきたから、色んなとこでやりたいなって思う。</p>
				<p>あと、自分の体の不快を取り除いていきたいなって思ってる。今まで健康を気遣ってる人って自分のことを苛めるのが好きな人だって思ってたけど、違うんだなってのを初めて知った。この前サウナに行ったんだけど、気持ちいいなって。</p>
				<p><span class="talker">IL__</span>そういえば、ハイデッガーの話思い出した？</p>
				<p><span class="talker">YT__</span>思い出した。ハイデッガーの話をしたのはさ... ハイデッガーが言ってた「目に見える方法で現前してるものは、隠された前提の上であらわれる」って、これはまさに芸術の支持体のことに言い換えられる。それで菅木志雄が昔書いてたテキストの中で、喫茶店や映画館にいる時の話をしていて。彼みたいな全てのオブジェを果てしなく遠くみるようなものの見方って、ハイデッガーに近いなって思ってて。それって菅木志雄が当時の人たちの中ではより深くハイデッガーとかを読んでたんだろうなとも思うし、すごい現代的な考え方なんだとも思う。自分の制作の文脈の中で、彼みたいなアーティストが世界のプレゼンスや事物への認識の方法の部分ですごく大事な作家なんだという話がしたかったわけです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide12_sp.jpg" /></picture><span class="caption">Yuu Takamizawa, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>高見澤 ゆう</strong><br>
					1990年東京都出身　東京都在住<br>
					<br>
					<strong>個展・二人展</strong><br>
					2022&nbsp;(forthcoming)&nbsp;&nbsp;King’s Leap, ニューヨーク、NY<br>
					2022&nbsp;&nbsp;imlabor, 東京<br>
					2021&nbsp;&nbsp;4649, 東京<br>
					2020&nbsp;&nbsp;Pina, ウィーン<br>
					2019&nbsp;&nbsp;Unlimited Liability Company / MX Gallery, ニューヨーク、NY<br>
					2018&nbsp;&nbsp;4 boxes and pyramids / 4649, 東京<br>
					2017&nbsp;&nbsp;ad nauseam / Workstation, 東京<br>
					2016&nbsp;&nbsp;mold boy / Workstation, 東京<br>
					<br>
					<strong>グループ展</strong><br>
					2020&nbsp;&nbsp;Kings Gate Postal Service Project / Kings Gate Project <br>
					2020&nbsp;&nbsp;9人の目 / ヒカリエ 8, 東京<br>
					2019&nbsp;&nbsp;4649-5963 / Mumei, 東京<br>
					2018&nbsp;&nbsp;NADA Miami 2018 / Ice Palace Studio, マイアミ、FL<br>
					2018&nbsp;&nbsp;4649, 東京<br>
					2017&nbsp;&nbsp;no show / KAYOKOYUKI, 東京<br>
					2015&nbsp;&nbsp;SPVI Ⅱ / ターナーギャラリー、東京<br>
					2014&nbsp;&nbsp;TAMAVIVANT / パルテノン多摩・多摩美術大学、東京<br>
					2014&nbsp;&nbsp;SPVI / ターナーギャラリー、東京<br>
					2013&nbsp;&nbsp;at work / 東京芸術大学絵画工房、東京<br>
					<br>
					<strong>プロジェクト</strong><br>
					2017 - present&nbsp;&nbsp;4649, 東京<br>
					2015 - 2017&nbsp;&nbsp;Workstation, 東京</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

