{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__018: In conversation with: マーク・レッキー",
	description: "ターナー賞受賞の英国人アーティスト、マーク・レッキーは、物事の周辺にある生活、つまり彼自身の人生を映し出す、ほとんど病的とも言える興味を表現追求し続けている。彼は、自身が育ったエレスメア・ポートのことを、次のように説明する。「リバプール郊外の過剰な人口を有するこの町は、活動の周縁にあると同時に、衰退しつつあるイングランド北西部の工業地帯の一部であり、常に自らを振り返っているような、最良の時代がすでに終わったことを切実に認めているような場所だった。」",
	ogimage: "https://imlabor.org/journal/interview/018/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "018",
				"item": site.url + "/jp/journal/interview/018/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/018/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "018"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「映像はワクワクさせられ、親しみたくなるものです。何かに魅了され、それを知り、体に吸収したいと思うと同時に、その画像に体が吸い寄せられ、多幸感に達することができるんです。」</h3>
				<p class="lead">ターナー賞受賞の英国人アーティスト、マーク・レッキーは、物事の周辺にある生活、つまり彼自身の人生を映し出す、ほとんど病的とも言える興味を表現追求し続けている。彼は、自身が育ったエレスメア・ポートのことを、次のように説明する。「リバプール郊外の過剰な人口を有するこの町は、活動の周縁にあると同時に、衰退しつつあるイングランド北西部の工業地帯の一部であり、常に自らを振り返っているような、最良の時代がすでに終わったことを切実に認めているような場所だった。」</p>
				<p class="lead">同年にロンドンのICA（インスティテュート・オブ・コンテンポラリー・アーツ）で上映され、注目を集めた彼のビデオ『フィオルッチ・メイド・ミー・ハードコア』（1999年）は、1970年代、1980年代、1990年代のダンスや音楽のサブカルチャーを捉えたもので、主に労働階級の若者たちが、消費文化、すなわちブランドのレジャーウェア、スポーツウェア、音楽を、一種の憧れのドラッグとして利用していたムーブメントがあり、これらの店に出入りする中産階級をサルトリア的に模倣しながら、独自の活力あるコミュニティを作り出していた。フィオルッチ・メイド・ミー・ハードコアは、イギリスのブリットポップの内省的なノスタルジーやロンドンのYBAs（ヤング・ブリティッシュ・アーティスト）の急成長するキャリア主義によって、当時ほとんど忘れられ、取って代わられたこれらのムーブメントを、レッキーが映像によって蘇らせると同時に、これらのコミュニティを動かす生命力がすでに薄れていることへの苦い自覚を持って制作したものである。</p>
				<p class="lead">この映像粒子の粗いビデオドキュメントは、デジタル化され、編集され、後にインターネットを通じて拡散されるにつれて質が低下し、フィオルッチ・メイド・ミー・ハードコアのスペクトルの質をさらに際立たせている。このビデオで捉えられた社会の絆は、すぐに、あらゆる自己表現の方法が直ちに観察、吸収、解剖されるYouTube、ソーシャルメディア、インターネット文化の高速情報ネットワークに追い越されていく。フィオルッチの制作以来23年間、レッキーはテクノロジーや労働者階級の文化の映像や遺物に魅了され続け、それらを自身の人生経験や欲求を探求するためのサロゲートとして、サウンド、彫刻、人類学的アサンブラージュ、インスタレーション、ビデオといった形で作品を発表している。</p>
				<p class="lead">新型コロナウイルスのパンデミックから抜け出したばかりのロンドンの1月10日の朝、レッキーはZoom上で、ニューカッスル・ポリテクニックのアートスクールに通っていた頃のこと、インターネットがサブカルチャーの進化をどう変えたか、カーゴ・カルトへの興味、テクノロジーによって激しい陶酔状態に達することができるという彼の変わらぬ信念について話をしてくれた。</p>
				<p class="lead -note"><sup>*</sup>このインタビューは2022年1月10日にZoomを利用して実施しました。</p>
				<p><span class="talker">INDIA NIELSEN__</span>ニューカッスル・ポリテクニックでファインアートの学士号を取得し、1990年に卒業されましたね。その体験はどのようなものだったのでしょうか？</p>
				<p><span class="talker">MARK LECKEY__</span>当時のニューカッスルは、かなり田舎でした。80年代半ばに行った時は、ほとんどの学生がロンドンやホームカントリーの出身で、かなり地味な感じでした。</p>
				<p><span class="talker">IN__</span>そうだったんですか。</p>
				<p><span class="talker">ML__</span>80年代のサブカルチャーで、アナーコ・ヒッピーみたいなものですね。</p>
				<p><span class="talker">IN__</span>なぜ、「クラスティー」と呼ばれるようになったんですか？衛生的なものだったんですか？</p>
				<p><span class="talker">ML__</span>そうですね。彼らはパンキッシュなヒッピーみたいなもので、結局「クラスティー」と呼ばれるようになったんです。</p>
				<p><span class="talker">IN__</span>つまり、怒れるヒッピーみたいなものですかね？</p>
				<p><span class="talker">ML__</span>そうですね、彼らはヒッピーよりも怒りが強く、過激でしたが、それと同時にかなり異様な存在にもなり得ました。ニューカッスルには、ロンドンのアートスクールに通わず、80年代半ばに急成長していたキャリア主義にのめりこもうとする南方の地味な子供たちがたくさんいました。その結果、私がいた頃のニューカッスルはかなりメロウ（甘美）な雰囲気で、ヒッピーではない私にとってはもどかしかったですね。</p>
				<p>そして、80年代後半、ゴールドスミスから批評理論が生まれ、国内を席巻するようになりました。それは1989年頃にはニューカッスルにまで広がりを見せました。私たちは2年生になり、フランス理論の世界に深く入り込みました。突然、ロラン・バルトとジャック・デリダを読まなくてはならなくなったんです。大学全体の雰囲気がガラッと変わりましたね。その結果、みんなかなり深刻になって、自信をなくしてしまいました。自己批判や自分の思い込みへの疑問として紹介されましたが、基本的には自分のやっていることに確信が持てなくなり、仕事ができなくなる人が出てきました。メチャクチャでしたね。私はとても戸惑いました。私は以前、大文字の「A」が付いたアートと呼ばれるウイルスのキャリアと見なし、複製するためには宿主を必要とすると考えていました。母体が必要なんです。それが美術学校の仕事です。この大文字の「A」のアートは、あなたにとってある意味異質なものですが、それを学生たちに再現させるんです。やりたいことができるかどうか分かりません。</p>
				<p><span class="talker">IN__</span>特にイギリスの美術学校はとても会話が多いので、ウィルスというなら、ウィルスは言語ですね。まるでアートの世界が会話であり、それに参加するためにはあるレベルの流暢さが必要であるかのように、自分の作品について話し、正当性を主張する方法を教えてくれるんです。</p>
				<p><span class="talker">ML__</span>ええ、その通りです。</p>
				<p><span class="talker">IN__</span>では、どのように対応したのでしょうか？</p>
				<p><span class="talker">ML__</span>私にはできませんでした。苦労して、最終的には何かを得ることはできましたが、ほとんどの場合、自分には無理だと感じました。私には文学的な素養がなかったんです。フィクションを読んで育ちましたが、本というものは私の育った環境にはなかったんです。とても大変なことだと思いました。</p>
				<p><span class="talker">IN__</span>2008年に「インダストリアル・ライト &amp; マジック」がターナー賞を受賞した後、あなたの作品は「過度に学術的だ」という批判を多く受けていましたから、あなたがそう言うのはとてもおかしいですね。</p>
				<p><span class="talker">ML__</span>（笑）そうですね。</p>
				<p>その時の私の反応が、今となってはかなり鼻持ちならない、自己憐憫に満ちたものに感じられるので、そう言われるとちょっと赤面してしまいますが、それは私がとても驚いていたからです。それが、最後の手段だと思っていました。1990年にニューカッスルを離れた時、もう作品を作りたくなかったんです。当時求められていたような方法で作品を作る知的能力は、基本的に自分にはないと思っていました。理論がつかめず、諦めました。何年も経ってから、私は、どうすれば欠如や不能ではなく、知るところから芸術を作ることができるかを考えることで、戻る道を見つけました。それが私にとっての理論だったんです。純粋な欠落です。それで思ったんです。「自分の経験や世界の捉え方を作品にする」、そしてそれを外に広げていくのだと。それが自信になり、再び作品を作り始めました。ですから、アカデミックだと言われた時、私は、「そんなことはない！」と思いました。というのも、実はいろいろな意味で、それとは全く反対のところから生まれていたんです。でも、私もウイルスに感染していました。アート言語と言説に感染していたんです。私はアウトサイダーアーティストというわけではなかったんです。</p>
				<p><span class="talker">IN__</span>では、『フィオルッチ・メイド・ミー・ハードコア』（1999年）は、ご自身の体験から作品を作られた最初の例なのでしょうか？</p>
				<p><span class="talker">ML__</span>ええ、もちろんです。今でこそ飽和状態になっていますが、90年代後半はレイブやアンダーグラウンドの文化はかなり忘れられていました。音楽の風景の一部として考えられていなかったので、それが腹立たしかったですね（笑）。フィオルッチ・メイド・ミー・ハードコアを作ったのは、イギリスのブリットポップ時代の終わり頃だったので、その頃のカルチャーはオアシスなどのバンドが中心で、全く面白くなかったんです。私にとってのブリットポップはとてもノスタルジックで後ろ向きなものでしたが、フィオルッチで話していたものはもっと未来志向で、実験的で、しかも大衆文化的なレベルで実験的なものだったのです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide01_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide02_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide03_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide04_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide05_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>フィオルッチに描かれているサブカルチャーには、どの程度関わっていたのでしょうか？</p>
				<p><span class="talker">ML__</span>中には、とてもそう思う人もいます。スカリー、レイバー……いろいろな段階を経て、私の場合はソウルミュージックから始まったんです。学校を出た時はソウルボーイでした。ノーザンソウルのムーブメントは、実は私の前の世代なんですが、まだ残っていたんですね。やはりそういう人を意識していたんですね。</p>
				<p><span class="talker">IN__</span>2016年に制作したテイトのプロモーションビデオでは、リバプール郊外のエレスメア・ポートで育った感覚を「ダンスフロアの端に立って、みんなが楽しく過ごしているのを見ている」ようだと表現していますね。フィオルッチを見ていると、そんな気持ちになります。とても怒っている感じです。クラブで気まずい10代になったような気分です。その場にいながら、同時にその周辺にいるような、自分の居場所がないような内面的な感覚があるからです。</p>
				<p><span class="talker">ML__</span>その一部は、地理的に物事の周辺にあるだけでなく、最盛期がすでに終わっていたために常に自分自身を振り返っていた町の出身であるという私の生活体験からきているのだと思います。私はフィオルッチと一緒に、前述のように軽視されていると感じていたサブカルチャーの主観的なドキュメンタリーを作ることを目指したのです。しかし、編集の過程で、そのオーラをより強く感じるようになり、映像の中に入り込みたくなるような不思議な状態になりました。ですから、私にとってのフィオルッチは、その場にいなければならないという強迫観念と、このアーカイブ映像に親しみ、存在すること、そして同時に、それがなくなってしまったことを意識することの間で、押し合いへし合いをしているのです。彼らは幽霊です。すでに色褪せるのが早い記録です。例えば、最後に入れたレイバーの映像は1993年のもので、フィオルッチを作ったのは1998年頃です。それからわずか5年後のことですが、すでにあの幽霊のような感覚は、私の中にありました。</p>
				<p><span class="talker">IN__</span>フィオルッチからは、メランコリックな志を感じます。映画に登場するグループの多くは、例えば「スカリーズ」、主に労働者階級の子供たちで構成され、中流階級に「溶け込む」方法として、ブランドのレジャーウェアやスポーツウェアを身に着けていました。</p>
				<p>このように、彼らは経済的な状況は変わらないのに、あるブランドを憧れのドラッグとして利用し、階級が上がったように見せていたのです。ニューヨークのアンダーグラウンドなボールカルチャーを記録したジェニー・リビングストン監督のドキュメンタリー映画『パリ、夜は眠らない。』（1990年）を思い出しますね。これらの舞踏会部門の多くは、「重役」、「女子学生」、「軍人」など、従来のシスジェンダー、ストレート、白人の役割を最も説得力のあるドレスで演じきった女王にトロフィーが授与されるなど、溶け込む、または「通り過ぎる」ことに重きを置いていました。その影響もあったのでしょうか？</p>
				<p><span class="talker">ML__</span>はい、そうですね。かなり影響がありました。</p>
				<p><span class="talker">IN__</span>では、フィオルッチの題材が批判されることがありますが、それについてはどうお考えでしょうか。2016年のartnetでは、その年のあなたのMoMa PS1展のレビューで、作家のクリスチャン・ヴィヴェロス＝ファウネがフィオルッチとそのダンサーについて以下のように書いています。「若者とドラッグカルチャーがそれを男性に固執するというあなたの考えでない限り、この映画を破壊することはありません。」昨夜、YouTubeでそのビデオをもう一度見ていたら、その下にあなたが彼の言葉をそのまま引用したコメントを残しているのに気付きました。「ふざけるな」という意味でやったのですか、それとも賛同したのでしょうか？</p>
				<p><span class="talker">ML__</span>ただ、私が慢心していただけだと思います（笑）。</p>
				<p><span class="talker">IN__</span>（笑）でも、彼の発言についてどう思いますか？</p>
				<p><span class="talker">ML__</span>まぁ、彼の言うとおりかもしれませんね。ですから気になったし、載せたんでしょうね。フィオルッチは、消費について、そして20世紀後半の消費文化をサブカルチャーがどのように覆してきたかについて述べています。それは、あるグループが持つブランドへの忠誠心や購入するレコード、消費方法、そしてそれを何らかの形で破壊することができるかということだったんです。そして、フランクフルトとアドルノ学派は、破壊的なものは何もないと言っていました。完全に妄想であると。</p>
				<p><span class="talker">IN__</span>自分の個性を、着るもの、聴くもの、消費するもので決めるという、消費を中心とした自己概念なので、妄想と言えるかもしれませんね。</p>
				<p><span class="talker">ML__</span>そうです、それが論旨なんです！（笑）でも、それに対して、やはり、ありきたりなことを言いたいんです。「でも、そんな感じじゃなかった！」というのは、フィーリングに関わることだからです。その気持ちが妄想であったとしても、力強いです。</p>
				<p>フィオルッチは、労働者階級の若者たちが、消費を通じて自分たちの文化や活力あるコミュニティを作り出していく姿を本質的に描いています。ですから、おっしゃるような志半ばの妨げがあった形ですが、そういう意味では実は生産的なんです。妄想だけではありません。それは、資本主義の妄想に過ぎないという批判に勝ります。なぜなら、このようなネットワークやコミュニティが確立され、繁栄するだけでなく、他の社会的関係を生み出すエネルギーも生み出すためです。</p>
				<p><span class="talker">IN__</span>そのグループは何か破壊的なことをしていたと思いますか？</p>
				<p><span class="talker">ML__</span>いえ、一種の違いを確立しているだけだと思うんです。破壊的かどうかにはあまり興味がありません。それは創造性の手段であり、具体的には、自分の所有する文化を創造する手段なんです。私にとって重要なのは、所有権です。自分のテリトリーであり、自分が決めたテリトリーでもあるのです。授業に戻ると、それは、下に落ちていない、下から湧き上がってくるからこそ重要なんです。自分から上へ向かっていくからこそ、その絆はとても強く、力強いものになるのです。それが、私が注目するところです。破壊的というわけではありません。特にバランスを崩すこともないと思うんですが。</p>
				<p>20世紀後半のサブカルチャーは、メインストリームがはっきりしていたからこそ、メインストリームの外側で活動できたのだと思います。その制度を指して「これがヘゲモニーだ」と言い、その外側で活動する、そういう意味でメインストリームに対する破壊的な存在になれると思うんですね。でも、今は主流そのものが崩壊していますよね？リベラルな機関や主流メディアは、あらゆる方面から攻撃されています。</p>
				<p><span class="talker">IN__</span>インターネットの影響も大きいと思います。インターネット以前は、人々はもっと地理的に自分を特定していたように思います。聴く音楽の種類や着る服は、大体自分がどこで育ったか、誰と一緒にいるかを示すものでした。「ローカル」な文化がポツポツとあったんですね。今はインターネットで文化を吸収し、画面を通して一人で体験することが一般的になっているので、最初から距離を置いているんですね。そのため、以前のように音楽やファッションを軸にした明確なグループを形成することが難しくなっているのかもしれません。</p>
				<p><span class="talker">ML__</span>ええ、今は全然違いますよ。サブカルチャーが衰退したわけではありません。インターネットがこれらすべての分野に広がり、ファッションだけでなく、レコード業界やブランドのユビキタス性の面でもサブカルチャーが繁栄できるようになりました。フィオルッチの主題の一つは、これらの異なるダンス文化を生み出したそれぞれの地理的な地域が、いかにして孤立して起こったかということです。長い間、気付かれずに放置されていたため、突然変異で他のおかしな現象に枝分かれしてしまったということです。インターネット以降は、すべてがすぐに観察され、吸収されるため、もはやそういうことはありえません。何もそんな悠長なことは言っていられません。サブカルチャーは、インターネットが観察し、変質させたもののひとつに過ぎないんです。</p>
				<p>キット・マッキントッシュの『Neon Screams』という本を読んだんですが、過去15年の間にオートチューンがどのように変異してきたかについて書かれています。ヤング・サグやフューチャーのようなオートチューンを使う音楽アーティストや、サーバビーやベイビー・キームのような新しいアーティストについて言及しています。私としては、初めて彼らの音楽を聴いたとき、このように思いました。「これからの音楽は、こういうものだ。」</p>
				<p><span class="talker">IN__</span>フューチャーを初めて聴いた時、「そうか、彼は本当にフューチャーなんだ」と思ったということですか？</p>
				<p><span class="talker">ML__</span>（笑）フューチャーよりもヤング・サグの方がそう思いましたね。ヤング・サグを聴いた時は、「なんだこれ？」という感じでした。とても新しいですね。以前はそんな音は存在しなかったんです。</p>
				<p><span class="talker">IN__</span>具体的にはオートチューンの使い方のことでしょうか？</p>
				<p><span class="talker">ML__</span>Neon Screamsの中でマッキントッシュは、これらのアーティストが感情的でサイケデリックな音楽を作っているが、それはすべてテクノロジーによって流されており、非常に奇妙な効果を生み出していると話していました。サイボーグにすることで、より人間らしくなれるということを実感しているんです。</p>
				<p><span class="talker">IN__</span>そう、自分を守るための手段なんですね。この保護、距離感がすでに焼き付いているからこそ、不快なことに対してもっと無防備に、オープンになれるのでしょう。発しているのは自分だけど、自分の声ではないんです。仮面をかぶっているようなものです。</p>
				<p><span class="talker">ML__</span>その通りですね。先ほどフィオルッチの話をした時に、距離と親密さの関係で興味を惹かれたのは、今はすべてがメディア化されているので、それが現代の条件の一部になっていると思うんです。常に何かに近づこうとしたり、何かを感じようとしながら、この疎外された、媒介された状態にあるんだと思います。自分なりの複雑なダンスや関係性を見出すことで、ある種の生命力を誘発することができるんです。より人間味を感じるためには、かなり冷たく機械的なものに行かなければなりません。</p>
				<p><span class="talker">IN__</span>そのため、ご自身を直接フィーチャーしていない作品が多いのでしょうか。例えば、フィオルッチでは、すべてドキュメンタリー風演出ですが、それはあなたが体験した個人的な経験の代用品です。そのため、より傷つきやすくなったのでしょうか？</p>
				<p><span class="talker">ML__</span>ええ、その通りです。代用品みたいなものだからでしょうか？普段は、自分が宿ることのできる代理の身体を見つけて、その中で「現在」を感じています。</p>
				<p><span class="talker">IN__</span>アートの世界では、階級や性別など、何らかの形で「他者」とみなされる人たちをフェティッシュ化する傾向がありますよね。労働者階級である自分自身や自分の立場をフェティッシュ化しなければならないとは思いませんでしたか？それは、自分の作品でお金を稼ごうと思ったら、少しは遊ばないといけないというのが、アートの世界の暗黙の了解になっているような気がするためです。</p>
				<p><span class="talker">ML__</span>2019年にテイトで行った高速道路の橋のショー「O' Magic Power of Bleakness」はご覧になりましたか？</p>
				<p><span class="talker">IN__</span>はい…</p>
				<p><span class="talker">ML__</span>あの番組は、そういう問題を自分で解決しようという試みだったんです。</p>
				<p><span class="talker">IN__</span>どのようにですか？</p>
				<p><span class="talker">ML__</span>私は若い頃、長い間忘れていた超常現象を体験しました。今、私には小さな子供が2人いるんですが、上の子が妖精や魔法に興味を持ち始めたので、彼女と一緒にこの番組をよく見ています。その体験が現実のものなのか、どの領域で行われたものなのかが把握できなかったので、民間伝承や子供のすり替え、妖精界と非魔法界との関わり方について読み始めました。妖精界では人間のエネルギーと血統を混ぜて活性化させるべき時期に、若者をさらっていくんです。それは、私自身の経験のメタファーでもありました。帰ってみると、まるで自分が変身したかのような錯覚に陥ったんです。幼なじみとも、家族とも会話ができなくなりました。疎外感を感じていました。</p>
				<p>「O' Magic Power of Bleakness」は、この二つの出来事、つまり若い頃に経験した超自然的な出会いと、大人になってから経験した、言語によって変容し疎外された経験について書かれているんです。この作品は、高速道路の橋の下にいる子供たちの話を追ったもので、その中の一人が、自分たちが住んでいる町から脱出したいと話しているんです。彼は向上心があるんです。社会派の古典的な青春映画と、おとぎ話をぶつけようとしたんです。どの青春映画を見ても、必ず一人は外に出たがっている子がいますよね。私の物語では、その子はおとぎの国にさらわれ、代わりにすり替えられた子供が戻ってくるんです。そして、他の子供たちが友達に何が起こったのかを理解しようとする姿が描かれています。魔術的リアリズムの自伝です。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide06_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide07_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide08_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide09_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide10_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide11_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>超常現象に遭遇した時のエピソードを教えてください。</p>
				<p><span class="talker">ML__</span>私が8歳の時です。高速道路の橋の下で、よく友達と遊んだものです。橋は斜面に架かっていて、上部にひさしがあり、その下に座ることができました。ある時、ふと横を見ると、妖精みたいな格好をした生き物がいたんです。鈴のついた緑色の帽子をかぶっていて、つま先に鈴のついた赤い巻き毛の靴をはいていました。この出会いを納得させたのは、その見せ方に、まるで嘲笑を感じたからです。「見ろよ～、妖精が見えるぞ！魔法生物を見ているようだ！」それがとても怖いと思ったんです。</p>
				<p><span class="talker">IN__</span>何をやっていたんですか？</p>
				<p><span class="talker">ML__</span>ただ立っているだけで、嬉しそうに私をあざ笑っているんです。私をコケにし、現実をコケにしたんです（笑）。</p>
				<p><span class="talker">IN__</span>（笑）つまり、自分のために特別に提示してくれたのだと感じたのですね。ほとんど、その時点から現実の感覚が永久に狂ってしまうことを告げるように...。そのことを誰かに話しましたか？</p>
				<p><span class="talker">ML__</span>いえ、隠してました。しかし、興味深いことに、19歳の時、私は美術学校に行くためにOレベル（GCSE）を受け直すために大学に戻りました。私は英作文をやっていて、子供の頃の体験について書くという課題があったので、ふと思いつきました。「妖精を見た時のことを書こう。」書きながら、それまで信じていたことが本当だったことに気付き、書き出すことでその呪縛が解けたような気がしました。もう信じられなくなりました。バカバカしいと思いました。</p>
				<p><span class="talker">IN__</span>それまでいろいろ考えていたことなんでしょうか？</p>
				<p><span class="talker">ML__</span>いえ、何も考えず、ただ事実として受け入れていたんです。子供の頃の出来事を時系列に並べると、妹が車にひかれそうになり ガラス窓から落ちて 妖精を見た。それを19歳の時に、大人になりたての自分が書いて払拭するまで、そうやって思い続けていたんです。それが最近になって、出会いとして蘇ったんです。皆さんもそうかもしれませんが、私の人生経験は、現実の出来事と想像や夢の中の出来事の連続のような気がするんです。</p>
				<p><span class="talker">IN__</span>そうですね。きっとみんなそうなんでしょうね。</p>
				<p><span class="talker">ML__</span>みんなそうでしょう？とても複雑に絡み合っています。私がアーティストになった理由のひとつは、このせいで現実的な意味での機能不全に陥ってしまったからです。</p>
				<p><span class="talker">IN__</span>作品に関連して、魔法についてどのように考えていますか？それは、自分の考え方や見せ方次第で、別の立場や精神状態、領域に行けるというような、魔法のような思考と結びついているような気がします。この考えは、あなたの作品の多くに通底しているように思います。</p>
				<p><span class="talker">ML__</span>そうですね。それは、テクノロジーによって、ある体験を強化したり、超越的なものに昇華させたりすることができるという考え方でしょう。私は映像に動かされます。そのような作品に出会った時、私はとても感動し、その作品と深く関わりたくなるんです。それはやはり、私が仕事をする上での強迫観念です。何かに魅了され、それを知りたい、体に吸収したいと思うのと同時に、その映像に体が吸い寄せられ、多幸感に達することができるんです。それが、私が求めているものです。</p>
				<p><span class="talker">IN__</span>作品を作っている最中の多幸感はありますか？</p>
				<p><span class="talker">ML__</span>そうですね。自分で供給していると、本当にハイになるんです。（笑）</p>
				<p><span class="talker">IN__</span>（笑）90年代にフィオルッチを作っていた頃と同じ技術で作品を作っているんですか？</p>
				<p><span class="talker">ML__</span>何を求めているかによりますね。CGIとVHSをミックスした『Dream English Kid 1964 - 1999 AD』（2015年）という映像作品を作りました。以前はよく言っていましたが、今となってはそれほど面白くもないんですが、アナログの過去を背負って、このデジタルの現在に臨んでいる気がします。私の場合は、それらが絡み合っているんです。</p>
				<p>すべてが4Kのシャープネスであれば、フィオルッチ作りのあの押し出し感のある距離感や親近感は得られなかったと思います。映像はすでに劣化していて、それをパソコンに取り込んでデジタル化し、編集するための技術は、さらに劣化を進めるだけでした。それが、距離感を高めることになりました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide12_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide13_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide14_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide15_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide16_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>フィオルッチの映像はどこで入手されたんですか？そのほとんどはドキュメンタリー番組からでしたね。</p>
				<p><span class="talker">ML__</span>この10年で、すべてがどこから来たのかが分かったんです。インターネットが普及し始めた頃で、まだメールが普及する前です。誰かがビデオテープを持っているかもしれないと聞けば、手紙を書いてコピーをお願いしなければなりませんでした。時間がかかるけど、こだわりがあったから楽しかったです。</p>
				<p><span class="talker">IN__</span>あぁ、テープが欲しいというのは、ただ手紙を書くだけだったんですか？どこから送られてくるか分からないということですか？</p>
				<p><span class="talker">ML__</span>はい、3番目に手に入れたものです。フィオルッチの冒頭に出てくるノーザンソウルの映像は、トニー・パーマー監督の『This England』という、今ではかなり有名な映画からのものです。「WIGAN CASINO」と書かれたVHSテープが送られてきただけで、当時は全く知りませんでした。Wigan Casinoに行ったことのある人たちが、自分たちの間で回し読みしていたんです。こんなことはグーグルでも確認できないし…でもその分、ワクワクしました。空から魔法のような技術的遺物が降ってくるという、カーゴ・カルト的な発想のような気がしたんです。</p>
				<p><span class="talker">IN__</span>ジェフ・クーンズのステンレススチール彫刻『ラビット』（1986年）をCGIビデオプロジェクションとしてリメイクした作品『メイド・イン・ヘブン』（2004年）を思い出しますね。これをリメイクすることは、カーゴ・カルト的な修行のように感じられたのでしょうか？</p>
				<p><span class="talker">ML__</span>そうですね。当時、私はラビットを一種の不思議なオブジェのように思っていました。あの彫刻はありえないものです。あまりに完璧で、人間が作ったとは思えないような。今にして思えば、完璧な消耗品ですね。カール・マルクスが2つのテーブルについて述べていますが、1つはテーブルとして使用する以上の価値が見いだせないため、普通の物体であり続けています。しかし、2つ目のテーブルは、消費の対象として作られたもので、それ自体に関するあらゆる観念を持ち、その機能を超えて生気を帯びているんです。この2つの違いの一つは、2番目のテーブルが、商品でありながら、労働によって作られたように見えないことです。大工が切り出したものではなく、何もないところから、完全な形で出現したように見えるんです。クーンズのラビットも同じで、作られたことを想像できないんです。まるで、彼の頭の中にある考えが、そのまま現実の世界になって現れたかのようです。</p>
				<p><span class="talker">IN__</span>カーゴ・カルトのことを考えると、その魔法の一部を自分のものにするために複製していたんですか？彫刻家のトム・サックスが、自分の家にモンドリアンを飾るために、モンドリアンの絵をテープで自作したように？</p>
				<p><span class="talker">ML__</span>そうなんですか？ そうですね。自分の領域に取り込みたかったので、しばらく自分の部屋にビデオを映していました。ただ見て、一緒にいたかったんです。そして思ったんです。「どうしたら、そこにあるかのように錯覚させることができるのか？」クーンズのラビットが本当に私の部屋にいるように感じられるようにしたかったんです。</p>
				<p><span class="talker">IN__</span>どのように作ったんですか？</p>
				<p><span class="talker">ML__</span>友人がCGIで作ってくれました。ゴミ捨て場だった私の部屋を再現し、ウサギを作って、そのCGI空間に配置したんですが、うまくいきませんでした。あまりにデジタルな感じがしたんです。そこで、16ミリのフィルムに転写して上映することで、デジタルビデオであることを感じさせないようにしています。そうすることで、より説得力が増します。それが、この作品の狙いです。</p>
				<p><span class="talker">IN__</span>先ほど、ターナー賞受賞後にあなたの作品が「学術的すぎる」という批判を受けたという話をしたら、赤面していましたね。でも、あなたの作品の多くは、よりアカデミックな言葉が似合うと思います。というのも、メイド・イン・ヘブンは、あなたにとって親密な目的を持っていると話していますが、他のアーティストの作品を直接引用しているので、あなたの活動を取り巻く会話では、作品の美術史的文脈、テクノロジー、消費などに焦点が当てられる傾向があるように見受けられるからです。気持ちを話す場が少なくなったような気がします。作品について話す時、よりパーソナルな部分を強調することで、このバランスを取り戻そうとしたことはないのでしょうか？それとも、そのまま放置していたのでしょうか？</p>
				<p><span class="talker">ML__</span>振り返ってみると、なぜ作るのか、どんなことにこだわるのか、もっと力説しておけばよかったと思うこともあります。アートの世界に関わっていると、ウイルスに感染した時に、コミュニケーションの糸口、つまり何かを話す方法を提供してくれると思うんです。そういう話をしないで、他の話をしようとすると疲れることもあります。また、その「何か別のもの」は、言いようのないものですよね。この得体の知れないものを掴もうとしているんでしょう。ですから、もし使える既成の言語があれば……と思うんです。「あぁ、良かった。これを使って、不在とか存在とかの話ができるんだ...」と、ボールが回ってきて会話ができるようになるんです。しかし、感情について語ろうとすると、おっしゃるように、ある種の詩的な領域に入るか、非常に率直で正直でなければならず、それは非常に難しいことです。</p>
				<p><span class="talker">IN__</span>それも、かなり厳しいものがあります。</p>
				<p><span class="talker">ML__</span>そうです、向き合うことですね。でも、その一方で、今振り返ると、自分が作っていた作品に弧を描いているのが分かるんです。クーンズの作品を作った時、私はまだアートの世界とその関心事にとても没頭していました。</p>
				<p><span class="talker">IN__</span>まだやっていないことで、これからやってみたいことはありますか？</p>
				<p><span class="talker">ML__</span>数年前、私は長編映画の本書きを依頼されました。1940年にアドルフォ・ビオイ＝カサーレスというアルゼンチンの作家が書いた『モレルの発明』という本を映画化したものです。この作品は、無人島だと思っていた不思議な島にいる男の話で、次々と訪問者が現れては消えていくというものです。彼は、彼らが再登場するたびに、まったく同じことを繰り返していることに気付きます。今は宙ぶらりんの状態ですが、いつかは復活してほしいと思っています。</p>
				<p><span class="talker">IN__</span>若手アーティストへのアドバイスがあればお願いします。</p>
				<p><span class="talker">ML__</span>私は30代後半から40代前半までこのことに気付きませんでしたが、今でも良いアドバイスのように思います。それは、自分がやりたいこと、なりたいものがアートであるにもかかわらず、常にアートから遠ざかろうとすることです。それが何であれ、それはあなたのことなんです。それは関係がないんですけどね。それはあなたなんです。そして、自分が自分であればあるほど良いんですが、自分が自分であることはとても難しいので、それは陳腐な考えになっていきます。自己表現と、あらゆる面で自己表現とは何かをすでに知っている完全に媒介された世界との間で、常に葛藤があると思います。それを乗り越えるのは難しいので、楽しむというより、そういう葛藤を生きがいにするようにしましょう。今までで一番良かったのは、自分自身のコンパスに気付いたことです。それはここにありました。全てはここにあったんです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide17_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide18_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide19_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide20_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><dd class="desc">マーク・レッキー（1964年生まれ）は、コラージュ・アート、音楽、ビデオなどで活躍するイギリス人現代美術家である。ノスタルジーや不安といったテーマや、ポップカルチャーの要素を取り入れたファウンド・オブジェクト・アートや映像作品の制作を行っている。2008年ターナー賞を受賞。</dd>
					<dd class="desc">2008年にケルンのKölnischer Kunstvereinで、2007年にディジョンのLe Consortiumで個展を開催するなど、国際的に幅広く作品を発表している。また、ニューヨーク近代美術館、アブロンズ・アート・センター、ロンドン現代美術館（ともに2009年）、ソロモン・R・グッゲンハイム美術館（2008年）でパフォーマンスを行っている。レッキーの作品はテート美術館とポンピドゥー・センターに収蔵されている。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">インディア・ニールセン（1991年ロンドン生まれ）は、ロンドンを拠点に活動しているアーティストである。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2022年、ロシア・モスクワのLazy Mike galleryで個展を開催予定。最近では、V.O Curations、Fitzrovia gallery（ロンドン）、Annarumma gallery（ナポリ）での2022年のグループ展に参加。最近の個展に、M is for Madonna, M is for Mariah, M is for Mother at Darren Flook、2021年にCrybaby at Imlabor (Tokyo)、2020年にRedivideR at Platform Southwark (London)がある。また、2021年にWhite Crypt Project Space、Collective Ending（ロンドン）、Spazio Amanita x Avant Arte（フィレンツェ）、2020年にDanny BaezのキュレーションによるWhite Columns（ニューヨーク）、Roman Road、The Residence Gallery、Southwark Park Galleries（ロンドン）でのグループ展に参加。またIm laborのウェブサイトでは、他のアーティストへのインタビューなど、執筆活動も行っている。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

