/* transition
------------------------------------------ */
*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html {
	cursor: default;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-break: break-word;
}

body {
	margin: 0;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
	margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0;
}

hr {
	overflow: visible;
	height: 0;
}

main {
	display: block;
}

nav ol,
nav ul {
	padding: 0;
	list-style: none;
}

pre {
	font-family: monospace,monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

iframe {
	border-style: none;
}

img {
	border-style: none;
}

svg:not([fill]) {
	fill: currentColor;
}

svg:not(:root) {
	overflow: hidden;
}

table {
	border-collapse: collapse;
}

button,
input,
select {
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
	border: 1px solid #a0a0a0;
}

input {
	overflow: visible;
}

legend {
	display: table;
	max-width: 100%;
	color: inherit;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

select {
	text-transform: none;
}

textarea {
	overflow: auto;
	margin: 0;
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	padding: 0;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
	box-shadow: none;
}

details {
	display: block;
}

dialog {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	padding: 1em;
	border: solid;
	margin: auto;
	background-color: white;
	color: black;
}

dialog:not([open]) {
	display: none;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

[hidden] {
	display: none;
}

[aria-busy="true"] {
	cursor: progress;
}

[aria-controls] {
	cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
	cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
	display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

body {
	min-width: 320px;
	color: #1d1d1d;
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
}

::-moz-selection {
	background-color: #b9f726;
}

::selection {
	background-color: #b9f726;
}

a {
	color: #000000;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* Lazyload
------------------------------------------ */
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.slick-track:before, .slick-track:after {
	display: table;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	height: 100%;
	min-height: 1px;
	float: left;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */
.swiper-container {
	position: relative;
	/* Fix of Webkit flickering */
	z-index: 1;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.swiper-container.-cover {
	width: 100%;
	height: 100%;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical > .swiper-wrapper {
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.swiper-container-multirow > .swiper-wrapper {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	margin: 0 auto;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.swiper-slide-invisible-blank {
	visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-transition-property: height,-webkit-transform;
	transition-property: height,-webkit-transform;
	transition-property: transform,height;
	transition-property: transform,height,-webkit-transform;
}

/* 3D Effects */
.swiper-container-3d {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	z-index: 10;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 27px 44px;
	cursor: pointer;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	cursor: auto;
	opacity: 0.35;
	pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	right: auto;
	left: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 10px;
	left: auto;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
	display: none;
}

.swiper-pagination {
	position: absolute;
	z-index: 10;
	text-align: center;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: 300ms opacity;
	transition: 300ms opacity;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 10px;
	left: 0;
	width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	position: relative;
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	-webkit-transform: scale(0.66);
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	-webkit-transform: scale(0.66);
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	-webkit-transform: scale(0.33);
	transform: scale(0.33);
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 100%;
	opacity: 0.2;
}

button.swiper-pagination-bullet {
	padding: 0;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #007aff;
	opacity: 1;
}

.swiper-container-vertical > .swiper-pagination-bullets {
	top: 50%;
	right: 10px;
	-webkit-transform: translate3d(0px, -50%, 0);
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
	display: block;
	margin: 6px 0;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	width: 8px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	-webkit-transition: 200ms top,200ms -webkit-transform;
	transition: 200ms top,200ms -webkit-transform;
	transition: 200ms transform,200ms top;
	transition: 200ms transform,200ms top,200ms -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	-webkit-transition: 200ms left,200ms -webkit-transform;
	transition: 200ms left,200ms -webkit-transform;
	transition: 200ms transform,200ms left;
	transition: 200ms transform,200ms left,200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	-webkit-transition: 200ms right,200ms -webkit-transform;
	transition: 200ms right,200ms -webkit-transform;
	transition: 200ms transform,200ms right;
	transition: 200ms transform,200ms right,200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
	position: absolute;
	background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #007aff;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #ffffff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
	background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
	background: #ffffff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
	background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
	background: #000000;
}

.swiper-pagination-lock {
	display: none;
}

/* Scrollbar */
.swiper-scrollbar {
	position: relative;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	-ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	z-index: 50;
	bottom: 3px;
	left: 1%;
	width: 98%;
	height: 5px;
}

.swiper-container-vertical > .swiper-scrollbar {
	position: absolute;
	z-index: 50;
	top: 1%;
	right: 3px;
	width: 5px;
	height: 98%;
}

.swiper-scrollbar-drag {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.swiper-scrollbar-lock {
	display: none;
}

.swiper-zoom-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.swiper-slide-zoomed {
	cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 42px;
	height: 42px;
	margin-top: -21px;
	margin-left: -21px;
	-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

.swiper-lazy-preloader:after {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	content: '';
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube {
	overflow: visible;
}

.swiper-container-cube .swiper-slide {
	z-index: 1;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	visibility: hidden;
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
	pointer-events: auto;
	visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	z-index: 0;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	opacity: 0.6;
}

.swiper-container-flip {
	overflow: visible;
}

.swiper-container-flip .swiper-slide {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: none;
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
	-ms-perspective: 1200px;
}

.c-button {
	margin-top: 30px;
	text-align: center;
}

.c-button .link {
	display: inline-block;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
}

.c-button .link:after {
	display: inline-block;
	width: 21px;
	height: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-image: url(/img/common/button_arrow.svg);
	background-repeat: no-repeat;
	background-size: 21px 5px;
	content: '';
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.c-card {
	overflow: hidden;
	border-radius: 4px;
	-webkit-box-shadow: 0px 4px 9.2px 0.8px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 4px 9.2px 0.8px rgba(0, 0, 0, 0.07);
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.625;
}

.c-card .link {
	display: block;
	text-decoration: none;
}

.c-card .img {
	display: block;
	overflow: hidden;
}

.c-card .body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	padding: 15px 20px 20px;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}

.c-card .body .category,
.c-card .body .date,
.c-card .body .author {
	font-size: 0.75rem;
	line-height: 1;
}

.c-card .body .category {
	display: inline-block;
	padding-right: 1em;
	margin-top: 0.75em;
}

.c-card .body .category:after {
	display: inline-block;
	width: 1px;
	height: 8px;
	margin-left: 1em;
	background-color: #000000;
	content: '';
}

.c-card .body .title {
	display: block;
	margin: 0.25em 0 0 0;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 500;
}

.c-card .body .author {
	margin-top: 1em;
}

.c-card .body .text {
	margin-top: 1.2em;
	color: #494949;
	font-size: 0.875rem;
	line-height: 1.5714;
}

.-jp .c-card .body .title .jp {
	font-family: 'Noto Sans JP',sans-serif;
	font-style: normal;
	font-weight: 500;
}

.-jp .c-card .body .text {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.8571;
}

.c-column.-twoby .c-card .body {
	min-height: auto;
}

.c-column .c-card + .c-card {
	margin-top: 25px;
}

.c-data {
	font-size: 1rem;
	line-height: 1.625;
}

.c-data + .c-data {
	margin-top: 4em;
}

.c-data .item + .item {
	margin-top: 1em;
}

.c-data .item.-press {
	margin-top: 1em;
}

.c-data .item.-press .term {
	display: block;
}

.c-data .item.-press .desc {
	display: block;
	margin-top: 1em;
}

.c-data .item.-press .desc strong {
	font-weight: 500;
}

.c-data .item.-press + .-notes {
	margin-top: 2em;
}

.c-data .item.-about .term, .c-data .item.-author .term {
	display: block;
}

.c-data .item.-about .desc, .c-data .item.-author .desc {
	display: block;
	margin-top: 1em;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5714;
}

.c-data .item.-notes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.4286;
}

.c-data .item.-notes .term {
	margin-right: 1em;
	white-space: nowrap;
}

.c-data .item.-notes .desc {
	margin-top: 0;
}

.c-data .item.-notes + .-press {
	margin-top: 2em;
}

.c-data .item.-author {
	position: relative;
	padding-top: 4em;
}

.c-data .item.-author::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 1px;
	background-color: #000000;
	content: "";
}

.c-data .term {
	display: inline-block;
	padding-right: 1em;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 500;
}

.c-data .desc {
	display: inline;
	margin: 0;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 300;
}

.c-data .link {
	font-size: 0.875rem;
	line-height: 1.5714;
}

.c-data .link a {
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 500;
}

.-jp .c-data .desc {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.-jp .c-data .item.-about .desc, .-jp .c-data .item.-author .desc {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.-jp .c-data .item.-author .term {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5714;
}

.-jp .c-data .item.-notes .desc {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6667;
}

.-jp .c-data .item.-press .desc {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.c-kv {
	width: 100%;
	height: 100vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.c-kv img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.c-kv[data-page="index"] img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.c-kv[data-page="interview"] {
	background-image: url(../journal/interview/001/img/bg-kv_sp.jpg);
}

.c-kv[data-page="curation"] img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.c-kv[data-page="review"] {
	height: auto;
}

.c-kv[data-page="review"] img {
	display: block;
	height: 100%;
	margin: 0 auto;
}

.c-kv[data-page="news"] {
	padding-top: 10.6667vw;
	text-align: center;
}

.c-kv[data-page="news"] img {
	width: 100%;
}

.c-kv > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.c-kv > a.is-upcoming {
	pointer-events: none;
}

.c-kv > a.is-upcoming > .inner > .title {
	text-decoration: none;
}

.c-kv > a > .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 69.3333%;
	margin: 0 auto 0 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.c-kv > a > .inner > .title {
	color: #fff;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 8.5333vw;
	font-style: normal;
	font-weight: 400;
	line-height: 12.2667vw;
	text-decoration: underline;
}

.c-kv > a > .inner > .title .jp {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 8vw;
	font-style: normal;
	font-weight: 400;
	line-height: 12.2667vw;
}

.c-kv > a > .inner > .info {
	margin-bottom: 2.6667vw;
}

.c-kv > a > .inner .label {
	display: inline-block;
	padding: 0 1.0667vw;
	margin-right: 5.3333vw;
	margin-bottom: 2.6667vw;
	background-color: #b9f726;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 3.2vw;
	font-style: normal;
	font-weight: 200;
	line-height: 4vw;
}

.c-kv > a > .inner .tag {
	color: #fff;
	font-size: 4.2667vw;
	line-height: 6.4vw;
}

.c-kv > a > .inner .tag > .category {
	position: relative;
	padding-right: 2.6667vw;
	margin-right: 2.6667vw;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 400;
}

.c-kv > a > .inner .tag > .category:before {
	position: absolute;
	top: 0.5em;
	right: 0;
	width: 1px;
	height: 2.6667vw;
	background-color: #fff;
	content: '';
}

.c-kv > a > .inner .tag > .date {
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 300;
}

.kv-caption {
	display: block;
	max-width: 640px;
	padding: 0 5.3333vw;
	margin: 16px auto 0;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 200;
	line-height: 1.6667;
	text-align: center;
}

.c-pagetop {
	position: absolute;
	right: 6.6667vw;
	bottom: 37.3333vw;
	width: 6.4vw;
	height: 3.4667vw;
}

.c-pagetop a {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/common/arrow_up-black.svg);
	background-repeat: no-repeat;
	background-size: 6.4vw 3.4667vw;
	text-decoration: none;
}

.c-parallax-wrapper {
	position: relative;
	overflow: hidden;
}

.c-parallax-wrapper .c-parallax {
	position: absolute;
	z-index: -5;
	top: -5%;
	left: calc(-1 * ((100vw - 100%) / 2));
	width: 100vw;
	height: 150%;
	margin: auto;
}

.c-parallax-wrapper .c-parallax-image {
	width: 105%;
	height: 105%;
	background-position: center top;
	background-size: cover;
}

.slider {
	position: relative;
	padding: 56px 0;
	font-size: 0;
	list-style-type: none;
}

.slider .slick-slide {
	position: relative;
}

.slider .slick-slide:focus {
	outline: none;
}

.slider .slick-counter,
.slider .slick-caption {
	max-width: 640px;
	text-align: center;
}

.slider .slick-counter {
	margin: 1em auto 0;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.06em;
	line-height: 1;
}

.slider .slick-counter .current,
.slider .slick-counter .total {
	display: inline-block;
	padding: 0 10px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.slider .caption {
	display: none;
}

.slider .slick-caption {
	margin: 1em 5.3333vw 0;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5714;
}

.slider .slide-arrow {
	position: absolute;
	z-index: 2;
	top: 41.9355%;
	right: 4vw;
	width: 6.6667vw;
	height: 6.6667vw;
	padding: 0;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: url(/img/common/slide_arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 6.6667vw 2vw;
	cursor: pointer;
	line-height: 1;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slider .slide-arrow.prev-arrow {
	left: 4vw;
	margin-top: -3.3333vw;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.slider .slick-dots {
	position: absolute;
	bottom: 150px;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	padding: 0;
	padding-top: 0.9375vw;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	list-style-type: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slider .slick-dots > li > button {
	width: 1.6vw;
	height: 1.6vw;
	padding: 0;
	border: none;
	border: 1px solid #666666;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border-radius: 0;
	border-radius: 50%;
	outline: none;
	text-indent: -9999px;
}

.slider .slick-dots > li + li {
	margin-left: 2.1333vw;
}

.slider .slick-dots > li.slick-active > button {
	border-color: #000000;
	background-color: #000000;
}

.slider.-default .slick-list {
	background-color: #000000;
}

.slider.-default .c-video {
	margin-top: 50%;
}

.-collapse {
	padding: 60px 0;
}

.-collapse li + li {
	margin-top: 20px;
}

.-collapse .caption,
.-collapse .video-caption {
	display: block;
	margin: 1em 5.3333vw 2em;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5714;
	text-align: center;
}

.-collapse .c-video .caption {
	display: none;
}

.c-sns {
	margin-top: 4em;
	font-size: 1rem;
	line-height: 1.625;
}

.c-sns > .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.c-sns .heading {
	padding-right: 1em;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 300;
}

.c-sns .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	font-size: 0;
	list-style-type: none;
}

.c-sns .list .item + .item {
	margin-left: 16px;
}

.c-sns .list .-twitter,
.c-sns .list .-facebook,
.c-sns .list .-pinterest {
	width: 18px;
	height: 18px;
}

.c-sns .list .-pinterest {
	cursor: pointer;
}

.c-text {
	color: #1d1d1d;
	font-style: normal;
	font-weight: 500;
}

.c-text strong {
	font-weight: 900;
}

.c-text em {
	font-style: italic;
}

.c-text small {
	font-size: 0.8em;
}

.c-text {
	font-size: 0.875rem;
	line-height: 1.5714;
}

.c-text.-xs {
	font-size: 0.625rem;
	line-height: 1.8;
}

.c-text.-s {
	font-size: 0.75rem;
	line-height: 1.6667;
}

.c-text.-m {
	font-size: 0.875rem;
	line-height: 1.5714;
}

.c-text.-l {
	font-size: 1.125rem;
	line-height: 1.4444;
}

.c-text.-xl {
	font-size: 1.25rem;
	line-height: 1.4;
}

.c-text.-xxl {
	font-size: 1.5rem;
	line-height: 1.3333;
}

.c-text.-gray {
	color: #494949;
}

.c-text.-white {
	color: #fff;
}

.c-text.-primary {
	color: #000000;
}

.c-text + * {
	margin-top: 16px;
}

.c-text + .c-list.-notes {
	margin-top: 8px;
}

.c-video {
	position: relative;
	display: block;
	height: auto;
	padding: 0 0 56.25%;
}

.c-video .movie {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.l-container {
	position: relative;
	min-height: 100vh;
	padding-top: 60px;
	padding-bottom: 142px;
}

.l-drawer-nav-toggle {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 26.6667vw;
	height: 100%;
	align-items: center;
	margin: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.l-drawer-nav {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	width: 66%;
	height: 100%;
	padding: 0 5.3333vw 0 10.6667vw;
	margin-top: 61px;
	background-color: #fff;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform,-webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.l-drawer-nav.is-open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.l-drawer-nav > .list {
	width: 100%;
	padding: 56px 0;
	font-size: 1.125rem;
	font-size: 0.875rem;
	line-height: 1;
	line-height: 1;
}

.l-drawer-nav > .list > .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.l-drawer-nav > .list > .item + .item {
	margin-top: 4em;
}

.l-drawer-nav > .list > .item.-disabled > a {
	opacity: 0.3;
	pointer-events: none;
}

.l-drawer-nav > .list > .item.-current > a {
	opacity: 1;
}

.l-drawer-nav > .list > .item > a {
	display: block;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 400;
	opacity: 1;
	text-decoration: none;
}

.l-drawer-nav > .list.-lower {
	font-size: 0.75rem;
	line-height: 1;
	text-decoration: underline;
}

.l-drawer-nav > .list.-lower a {
	opacity: 1;
}

.l-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 142px;
	background-color: #000000;
}

.l-footer > .inner {
	max-width: 1280px;
	height: 100%;
	padding: 30px 5.3333vw;
	margin: 0 auto;
}

.l-footer > .inner > .left-column,
.l-footer > .inner > .right-column {
	padding: 0;
	color: #fff;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5;
	list-style-type: none;
}

.l-footer > .inner > .left-column > .item + .item {
	margin-top: 8px;
}

.l-footer > .inner > .right-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-top: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.l-footer > .inner > .right-column > .item + .item {
	padding-left: 20px;
}

.l-footer > .inner > .right-column > .item a {
	color: #fff;
	text-transform: uppercase;
}

.l-header-lang {
	position: relative;
	width: 26.6667vw;
	height: 100%;
}

.l-header-lang > .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	font-size: 0;
	list-style-type: none;
}

.l-header-lang > .list > .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.l-header-lang > .list > .item.-en {
	position: relative;
	margin-left: 30px;
}

.l-header-lang > .list > .item.-en::before {
	position: absolute;
	top: calc(50% - 4px);
	left: -15px;
	width: 1px;
	height: 10px;
	background-color: #000000;
	content: '';
}

.l-header-lang > .list > .item.is-current a {
	opacity: 1;
}

.l-header-lang > .list > .item a {
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	opacity: 0.3;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	vertical-align: middle;
}

.l-header-nav {
	display: none;
}

.l-header-nav > .list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0;
}

.l-header-nav > .list > .item {
	width: auto;
	padding: 0 30px;
}

.l-header-nav > .list > .item.-disabled > a {
	opacity: 0.3;
	pointer-events: none;
}

.l-header-nav > .list > .item.-current > a {
	opacity: 1;
}

.l-header-nav > .list > .item.-current ~ .bar {
	opacity: 1;
}

.l-header-nav > .list > .item:nth-child(1).-current ~ .bar {
	top: 69px;
}

.l-header-nav > .list > .item:nth-child(2).-current ~ .bar {
	top: 140px;
}

.l-header-nav > .list > .item:nth-child(3).-current ~ .bar {
	top: 212px;
}

.l-header-nav > .list > .item:nth-child(4).-current ~ .bar {
	top: 284px;
}

.l-header-nav > .list > .item > a {
	display: block;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	opacity: 1;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.l-header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
	background-color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.l-header > .inner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1280px;
	height: 60px;
	align-items: center;
	justify-content: space-between;
	padding: 0 5.3333vw;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
}

.l-header > .inner > .logo {
	width: 67px;
	height: 12px;
}

.l-header > .inner > .logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.l-header > .inner > .logo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.l-main {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.l-main::before {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	opacity: 0;
	pointer-events: none;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.l-main.is-alpha::before {
	opacity: 1;
	pointer-events: all;
}

.index-latest .latest {
	padding: 58px 0;
}

.index-latest .latest > .header {
	margin-bottom: 26px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.index-latest .latest > .date {
	margin-bottom: 8px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1;
}

.index-latest .latest > .title {
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5556;
}

.index-news-list {
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 300;
}

.index-news-list > .date {
	font-size: 0.75rem;
	line-height: 1;
}

.index-news-list > .content {
	margin: 0.5em 0 0;
}

.index-news-list > .content + .date {
	margin-top: 2em;
}

.index-section {
	max-width: 1280px;
	padding: 0 5.3333vw;
	margin: 0 auto;
}

.index-section > .inner > .text .link {
	color: #666666;
	font-size: 0.75rem;
	line-height: 1.6667;
}

.index-textile > .inner > .text {
	position: relative;
	width: 100%;
	height: 48vw;
	text-align: center;
}

.index-textile > .inner > .text .title {
	padding-top: 13.3333vw;
	padding-bottom: 2.6667vw;
	color: #fff;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 6.4vw;
	font-style: normal;
	font-weight: 400;
	line-height: 6.4vw;
}

.index-textile > .inner > .text .link {
	font-size: 3.2vw;
	line-height: 3.2vw;
}

.index-textile > .inner > .text::after {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 12px;
	height: 10px;
	background-image: url(../img/common/ico_blank-white.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 12px 10px;
	content: '';
	opacity: 0.5;
}

.index-textile > .inner > .image {
	width: 100%;
	height: 53.3333vw;
	background-image: url(../img/index/bg_japanese_textile.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-breadcrumbs {
	width: 100%;
}

.page-breadcrumbs > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 38px 4.6875% 30px;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-box-pack: start;
	-ms-flex-align: center;
	-ms-flex-line-pack: center;
	-ms-flex-pack: start;
}

.page-breadcrumbs li {
	font-size: 0.75rem;
	line-height: 1;
}

.page-breadcrumbs li a {
	color: #494949;
}

.page-breadcrumbs li a[href] {
	text-decoration: none;
}

.page-breadcrumbs li:after {
	display: inline-block;
	width: 5px;
	height: 8px;
	margin: 0 8px;
	content: '>';
}

.page-breadcrumbs li:last-child:after {
	display: none;
	content: none;
}

.page-container {
	background-color: #fff;
}

.page-section {
	padding: 50px 0;
}

.page-section + .page-section {
	margin-top: -50px;
}

.page-section > .inner {
	max-width: 640px;
	padding: 0 6.6667vw;
	margin: 0 auto;
}

.page-section > .inner.-full {
	max-width: 1280px;
}

.page-section > .inner.-noprofile {
	padding-top: 56px;
}

.page-section .header {
	margin-bottom: 40px;
}

.page-section .header.-latest {
	margin-bottom: 30px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
}

.page-section .header .category {
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.625;
}

.page-section .header .category::before {
	position: absolute;
	top: 0.4em;
	right: -1px;
	width: 1px;
	height: 12px;
	background-color: #000;
	content: '';
}

.page-section .header .date {
	display: inline-block;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.625;
}

.page-section .header .title {
	position: relative;
	width: 100%;
	padding: 14px 0;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.04em;
	line-height: 1.3125;
}

.page-section .header .c-data + .c-sns {
	margin-top: 1.8em;
}

.page-section .header .c-sns {
	margin-top: 0.5em;
}

.page-section .texttitle {
	margin-top: 40px;
	margin-bottom: 32px;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3333;
}

.page-section .lead {
	padding-bottom: 16px;
}

.page-section .text {
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.625;
}

.page-section .text p + p {
	margin-top: 26px;
}

.page-section .text .talker {
	display: inline-block;
	padding-right: 1em;
	font-family: acumin-pro-wide,sans-serif;
	font-style: normal;
	font-weight: 500;
}

.page-section .text.-chat p + p {
	margin-top: 20px;
}

.page-section .text.-chat .talker {
	display: block;
}

.page-section .text.-chat .left,
.page-section .text.-chat .right {
	max-width: 69.3333vw;
}

.page-section .text.-chat .right {
	margin-left: auto;
}

.page-section .text.-chat .right.-single {
	text-align: right;
}

.page-section .text.-chat .right .talker {
	padding-right: 0;
	text-align: right;
}

.page-section .text.-review .lead {
	padding-bottom: 0;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5556;
}

.page-section .text.-review .lead.-note {
	font-size: 0.875rem;
	line-height: 2;
}

.page-section .text.-review .lead + p:not([class]) {
	margin-top: 52px;
}

.-jp .page-section .header .title .jp {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 1.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
}

.-jp .page-section .text {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.-jp .page-section .text.-review .lead {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.875;
}

.-jp .page-section .text.-review .lead.-note {
	font-size: 0.875rem;
	line-height: 2;
}

.-jp .page-section .texttitle {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.6667;
}

.page-section.-en-jp .text {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.page-section.-en-jp .text .texttitle {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 2.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.6471;
}

.page-section.-en-jp .text .texttitle .en {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.5;
}

.page-section.-en-jp .text .lead {
	font-family: 'Noto Sans JP',sans-serif;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.9091;
}

.page-section.-en-jp .text .lead .en {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6667;
}

.page-section.-en-jp .text .en {
	display: inline-block;
	margin-top: 0.5em;
	font-family: acumin-pro-wide,sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.625;
}

.page-section.-en-jp .text figure {
	margin: 3em 0;
}

.page-section.-en-jp .text figcaption {
	margin-top: 1em;
	font-size: 0.75rem;
	line-height: 2;
}

._bgc-primary {
	background-color: #000000 !important;
}

._bgc-text {
	background-color: #1d1d1d !important;
}

._bgc-white {
	background-color: #fff !important;
}

._bgc-sky {
	background-color: !important;
}

._bgc-pink {
	background-color: !important;
}

._bgc-smoke {
	background-color: !important;
}

._bgc-cream {
	background-color: !important;
}

._cl-text {
	color: #1d1d1d;
}

._cl-gray {
	color: #494949;
}

._cl-white {
	color: #fff;
}

._cl-primary {
	color: #000000;
}

._cl-link {
	color: #000000;
}

._hide {
	display: none !important;
}

._block {
	display: block !important;
}

._inline {
	display: inline !important;
}

._inline-block {
	display: inline-block !important;
}

._table {
	display: table !important;
}

._table-row {
	display: table-row !important;
}

._table-cell {
	display: table-cell !important;
}

._fx {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

._fx.-flex-start {
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: start;
	-ms-flex-align: start;
	-ms-flex-line-pack: start;
	-ms-flex-pack: start;
}

._fx.-flex-end {
	align-content: flex-end;
	align-items: flex-end;
	justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-align: end;
	-ms-flex-line-pack: end;
	-ms-flex-pack: end;
}

._fx.-center {
	align-content: center;
	align-items: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-line-pack: center;
	-ms-flex-pack: center;
}

._fx.-stretch {
	align-content: stretch;
	align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	-ms-flex-line-pack: stretch;
}

._fx.-fxd-c {
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

._fx.-fxd-cr {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-box-direction: reverse;
	-webkit-box-orient: vertical;
}

._fx.-fxd-r {
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
}

._fx.-fxd-rr {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-direction: reverse;
	-webkit-box-orient: horizontal;
}

._fx.-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

._fx.-nowrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

._fx.-jc-fs {
	justify-content: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}

._fx.-jc-fe {
	justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}

._fx.-jc-c {
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

._fx.-jc-sb {
	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

._fx.-jc-sa {
	justify-content: space-around;
	-ms-flex-pack: distribute;
}

._fx.-ac-c {
	align-content: center;
	-ms-flex-line-pack: center;
}

._fx.-ac-s {
	align-content: stretch;
	-ms-flex-line-pack: stretch;
}

._fx.-ac-fs {
	align-content: flex-start;
	-ms-flex-line-pack: start;
}

._fx.-ac-fe {
	align-content: flex-end;
	-ms-flex-line-pack: end;
}

._fx.-ac-sb {
	align-content: space-between;
	-ms-flex-line-pack: justify;
}

._fx.-ac-sa {
	align-content: space-around;
	-ms-flex-line-pack: distribute;
}

._fx.-ai-c {
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

._fx.-ai-s {
	align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
}

._fx.-ai-fs {
	align-items: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
}

._fx.-ai-fe {
	align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
}

._fx.-ai-b {
	align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
}

._fi {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-flex: 0;
}

._fi.-glow {
	flex-grow: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
}

._fi.-glow2 {
	flex-grow: 2;
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
}

._fi.-glow3 {
	flex-grow: 3;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
}

._fi.-glow4 {
	flex-grow: 4;
	-webkit-box-flex: 4;
	-ms-flex-positive: 4;
}

._fi.-glow5 {
	flex-grow: 5;
	-webkit-box-flex: 5;
	-ms-flex-positive: 5;
}

._fi.-shrink {
	flex-shrink: 1;
	-ms-flex-negative: 1;
}

._fi.-shrink2 {
	flex-shrink: 2;
	-ms-flex-negative: 2;
}

._fi.-shrink3 {
	flex-shrink: 3;
	-ms-flex-negative: 3;
}

._fi.-shrink4 {
	flex-shrink: 4;
	-ms-flex-negative: 4;
}

._fi.-shrink5 {
	flex-shrink: 5;
	-ms-flex-negative: 5;
}

._fi.-order1 {
	order: 1;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

._fi.-order2 {
	order: 2;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

._fi.-order3 {
	order: 3;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
}

._fi.-order4 {
	order: 4;
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
}

._fi.-order5 {
	order: 5;
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
}

._fi.-order6 {
	order: 6;
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
}

._fi.-order7 {
	order: 7;
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
}

._fi.-order8 {
	order: 8;
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
}

._fi.-order9 {
	order: 9;
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
}

._fi.-order10 {
	order: 10;
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
}

._fz-xs {
	font-size: 0.625rem !important;
	line-height: 1.8 !important;
}

._fz-s {
	font-size: 0.75rem !important;
	line-height: 1.6667 !important;
}

._fz-m {
	font-size: 0.875rem !important;
	line-height: 1.5714 !important;
}

._fz-l {
	font-size: 1.125rem !important;
	line-height: 1.4444 !important;
}

._fz-xl {
	font-size: 1.25rem !important;
	line-height: 1.4 !important;
}

._fz-xxl {
	font-size: 1.5rem !important;
	line-height: 1.3333 !important;
}

._wh-nw {
	white-space: nowrap;
}

._m0 {
	margin: 0 !important;
}

._mt0 {
	margin-top: 0 !important;
}

._mb0 {
	margin-bottom: 0 !important;
}

._ml0 {
	margin-left: 0 !important;
}

._mr0 {
	margin-right: 0 !important;
}

._ma {
	margin: auto !important;
}

._mta {
	margin-top: auto !important;
}

._mba {
	margin-bottom: auto !important;
}

._mla {
	margin-left: auto !important;
}

._mra {
	margin-right: auto !important;
}

._m0a {
	margin: 0 auto !important;
}

._p0 {
	padding: 0 !important;
}

._pt0 {
	padding-top: 0 !important;
}

._pb0 {
	padding-bottom: 0 !important;
}

._pl0 {
	padding-left: 0 !important;
}

._pr0 {
	padding-right: 0 !important;
}

._ta-l {
	text-align: left !important;
}

._ta-r {
	text-align: right !important;
}

._ta-c {
	text-align: center !important;
}

._ta-j {
	text-align: justify !important;
}

._va-t {
	vertical-align: top !important;
}

._va-m {
	vertical-align: middle !important;
}

._va-b {
	vertical-align: bottom !important;
}

._va-bs {
	vertical-align: baseline !important;
}

._nowrap {
	white-space: nowrap !important;
}

._wrap {
	white-space: wrap !important;
}

@media screen and (min-width: 768px) {
	a:hover {
		text-decoration: none;
	}
	a[href^="tel:"] {
		color: #1d1d1d;
		pointer-events: none;
		text-decoration: none;
	}
	.swiper-wrapper {
		position: relative;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 100%;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform,-webkit-transform;
	}
	.swiper-container-android .swiper-slide,
	.swiper-wrapper {
		-webkit-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
	}
	.swiper-slide {
		position: relative;
		width: 100%;
		height: 100%;
		flex-shrink: 0;
		-ms-flex-negative: 0;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform,-webkit-transform;
	}
	.c-button {
		margin-top: 60px;
		text-align: right;
	}
	.c-button .link:hover:after {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	.c-card {
		font-size: 0.875rem;
		line-height: 1.5714;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.c-card:hover {
		background-color: #000;
	}
	.c-card:hover .body {
		color: #fff;
	}
	.c-card:hover .body .text {
		color: #fff;
	}
	.c-card:hover .img img {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	.c-card .img img {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.c-card .body {
		padding: 20px 25px 25px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.c-card .body .title {
		margin: 0.5em 0 0 0;
		font-size: 1.0625rem;
		line-height: 1.4118;
	}
	.c-card .body .author {
		margin-top: 1em;
	}
	.c-card .body .text {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.-jp .c-card .body .title .jp {
		font-size: 1rem;
		line-height: 1.5;
	}
	.-jp .c-card .body .text {
		font-size: 0.875rem;
		line-height: 1.8571;
	}
	.c-column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-right: -1.6611%;
		margin-left: -1.6611%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	}
	.c-column .c-card {
		width: 46.731%;
		margin-right: 1.6077%;
		margin-left: 1.6077%;
	}
	.c-column .c-card + .c-card {
		margin-top: 0;
	}
	.c-column .c-card:nth-of-type(n + 3) {
		margin-top: 5.042%;
	}
	.c-data {
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	.c-data .item.-about .desc, .c-data .item.-author .desc {
		font-size: 1rem;
		line-height: 1.75;
	}
	.c-data .link {
		font-size: 1rem;
		line-height: 1.75;
	}
	.-jp .c-data .desc {
		font-size: 1rem;
		line-height: 2;
	}
	.-jp .c-data .item.-about .desc, .-jp .c-data .item.-author .desc {
		font-size: 0.875rem;
		line-height: 2;
	}
	.-jp .c-data .item.-author .term {
		font-size: 1rem;
		line-height: 1.75;
	}
	.-jp .c-data .item.-notes .desc {
		font-size: 0.75rem;
		line-height: 1.6667;
	}
	.-jp .c-data .item.-press .desc {
		font-size: 1rem;
		line-height: 2;
	}
	.c-kv {
		z-index: -1;
		height: calc(75vh - 75px);
	}
	.c-kv img {
		height: calc(75vh - 75px);
	}
	.c-kv[data-page="index"] img {
		height: calc(75vh - 75px);
	}
	.c-kv[data-page="interview"] {
		background-image: url(../journal/interview/001/img/bg-kv_pc.jpg);
	}
	.c-kv[data-page="curation"] img {
		height: calc(75vh - 75px);
	}
	.c-kv[data-page="review"] img {
		max-width: 960px;
	}
	.c-kv[data-page="news"] {
		padding-top: 40px;
	}
	.c-kv[data-page="news"] img {
		max-width: 1184px;
	}
	.c-kv > a:hover .title {
		text-decoration: none;
	}
	.c-kv > a > .inner {
		width: auto;
		padding: 0;
	}
	.c-kv > a > .inner > .title {
		font-size: 3.5rem;
		line-height: 1.2857;
	}
	.c-kv > a > .inner > .title .jp {
		font-size: 3.25rem;
		line-height: 1.3846;
	}
	.c-kv > a > .inner > .info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 20px;
	}
	.c-kv > a > .inner .label {
		padding: 0 8px;
		margin-right: 20px;
		margin-bottom: 0;
		font-size: 1rem;
		line-height: 1.625;
		white-space: nowrap;
	}
	.c-kv > a > .inner .tag {
		font-size: 1.125rem;
		line-height: 1.4444;
		white-space: nowrap;
	}
	.c-kv > a > .inner .tag > .category {
		padding-right: 20px;
		margin-right: 20px;
	}
	.c-kv > a > .inner .tag > .category:before {
		top: 0.4em;
		height: 12px;
	}
	.kv-caption {
		padding: 0;
		margin: 20px auto 0;
		font-size: 0.875rem;
		line-height: 1.5714;
	}
	.c-pagetop {
		right: 75px;
		bottom: 120px;
		width: 30px;
		height: 16px;
	}
	.c-pagetop a {
		background-size: 30px 16px;
	}
	.slider {
		min-height: 960px;
		padding: 96px 0 72px;
		margin: 0 auto;
		cursor: -webkit-grab;
		cursor: grab;
	}
	.slider .slick-slide {
		padding: 0 10px;
	}
	.slider .slick-slide img {
		height: 640px;
	}
	.slider .slick-counter {
		margin: 20px auto 0;
	}
	.slider .slick-caption {
		margin: 20px auto 0;
	}
	.slider .slide-arrow {
		top: 43.0108%;
		right: 2.3438vw;
		width: 2.3438vw;
		width: 3.9063vw;
		height: 4.6875vw;
		height: 3.9063vw;
		background-size: 3.9063vw 1.1719vw;
	}
	.slider .slide-arrow.prev-arrow {
		left: 2.3438vw;
		margin-top: -25px;
	}
	.slider .slick-dots {
		bottom: 152px;
	}
	.slider .slick-dots > li > button {
		width: 0.4688vw;
		height: 0.4688vw;
	}
	.slider .slick-dots > li + li {
		margin-left: 0.7813vw;
	}
	.slider.-default .slick-list {
		background-color: #fff;
	}
	.slider.-default .c-video {
		margin-top: 0;
	}
	.-collapse li + li {
		margin-top: 0;
	}
	.-collapse .caption,
	.-collapse .video-caption {
		display: none;
	}
	.c-sns {
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	.c-sns .list .item + .item {
		margin-left: 20px;
	}
	.c-sns .list .-twitter,
	.c-sns .list .-facebook,
	.c-sns .list .-pinterest {
		width: 24px;
		height: 24px;
	}
	.c-text {
		font-size: 1rem;
		line-height: 1.625;
	}
	.c-text.-xs {
		font-size: 0.625rem;
		line-height: 2.2;
	}
	.c-text.-s {
		font-size: 0.75rem;
		line-height: 1.8333;
	}
	.c-text.-m {
		font-size: 1rem;
		line-height: 1.625;
	}
	.c-text.-l {
		font-size: 1.25rem;
		line-height: 1.5;
	}
	.c-text.-xl {
		font-size: 1.625rem;
		line-height: 1.3846;
	}
	.c-text.-xxl {
		font-size: 2.25rem;
		line-height: 1.2778;
	}
	.c-text + * {
		margin-top: 24px;
	}
	.c-text + .c-list.-notes {
		margin-top: 16px;
	}
	.c-video {
		min-width: 1137px;
	}
	.l-footer > .inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 60px;
		-webkit-box-align: center;
		-webkit-box-pack: justify;
		-ms-flex-align: center;
		-ms-flex-pack: justify;
	}
	.l-header-nav > .list > .item > a:hover {
		opacity: 0.3;
	}
	.index-latest .latest {
		padding: 90px 0;
	}
	.index-latest .latest > .header {
		margin-bottom: 0;
		font-size: 2.5rem;
		line-height: 1.7;
	}
	.index-latest .latest > .date {
		margin-bottom: 0;
		font-size: 1.5rem;
		line-height: 1.75;
	}
	.index-latest .latest > .title {
		font-size: 2rem;
		line-height: 1.75;
	}
	.index-section {
		padding: 0 60px;
	}
	.index-textile > .inner > .text {
		width: 37.5vw;
		height: 29.6875vw;
	}
	.index-textile > .inner > .text .title {
		padding-top: 12.3438vw;
		padding-bottom: 1.25vw;
		font-size: 1.25vw;
		line-height: 1.875vw;
	}
	.index-textile > .inner > .text .link {
		font-size: 0.9375vw;
		line-height: 1.5625vw;
	}
	.index-textile > .inner > .text::after {
		top: 10px;
		right: 10px;
	}
	.index-textile > .inner > .image {
		width: 62.5vw;
		height: auto;
	}
	.page-breadcrumbs li a[href]:hover {
		text-decoration: none;
	}
	.page-breadcrumbs li:after {
		width: 6px;
		height: 10px;
	}
	.page-section {
		padding: 100px 0;
	}
	.page-section + .page-section {
		margin-top: -100px;
	}
	.page-section > .inner {
		padding: 0;
	}
	.page-section > .inner.-full {
		padding: 0 60px;
	}
	.page-section > .inner.-noprofile {
		padding-top: 96px;
	}
	.page-section .header {
		margin-bottom: 60px;
	}
	.page-section .header.-latest {
		margin-bottom: 60px;
		font-size: 1.5rem;
		line-height: 1;
	}
	.page-section .header .category {
		padding-right: 20px;
		margin-right: 20px;
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	.page-section .header .date {
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	.page-section .header .title {
		padding: 18px 0;
		font-size: 3.5rem;
		line-height: 1.2857;
	}
	.page-section .texttitle {
		margin-top: 0;
		font-size: 2.5rem;
		line-height: 1.5;
	}
	.page-section .lead {
		padding-bottom: 27px;
	}
	.page-section .text {
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	.page-section .text p + p {
		margin-top: 32px;
	}
	.page-section .text.-chat p + p {
		margin-top: 32px;
	}
	.page-section .text.-chat .left,
	.page-section .text.-chat .right {
		max-width: 400px;
	}
	.page-section .text.-chat .right {
		margin-right: -1em;
	}
	.page-section .text.-chat .right.-single {
		padding-right: 1em;
	}
	.page-section .text.-chat .right.-single .talker {
		margin-right: -1em;
	}
	.page-section .text.-chat .right .talker {
		padding-right: 1em;
	}
	.page-section .text.-review .lead {
		font-size: 1.5rem;
		line-height: 1.6667;
	}
	.page-section .text.-review .lead.-note {
		font-size: 1rem;
		line-height: 2;
	}
	.page-section .text.-review .lead + p:not([class]) {
		margin-top: 64px;
	}
	.-jp .page-section .header .title .jp {
		font-size: 3.25rem;
		line-height: 1.3077;
	}
	.-jp .page-section .text {
		font-size: 1rem;
		line-height: 2;
	}
	.-jp .page-section .text.-review .lead {
		font-size: 1.375rem;
		line-height: 1.9091;
	}
	.-jp .page-section .text.-review .lead.-note {
		font-size: 1rem;
		line-height: 2;
	}
	.-jp .page-section .texttitle {
		font-size: 2.125rem;
		line-height: 1.6471;
	}
	.page-section.-en-jp .text {
		font-size: 1rem;
		line-height: 2;
	}
	.page-section.-en-jp .text .en {
		font-size: 1.125rem;
		line-height: 1.7778;
	}
	._sp:not(._tb):not(._pc) {
		display: none !important;
	}
	._fz-xs {
		font-size: 0.625rem !important;
		line-height: 2.2 !important;
	}
	._fz-s {
		font-size: 0.75rem !important;
		line-height: 1.8333 !important;
	}
	._fz-m {
		font-size: 1rem !important;
		line-height: 1.625 !important;
	}
	._fz-l {
		font-size: 1.25rem !important;
		line-height: 1.5 !important;
	}
	._fz-xl {
		font-size: 1.625rem !important;
		line-height: 1.3846 !important;
	}
	._fz-xxl {
		font-size: 2.25rem !important;
		line-height: 1.2778 !important;
	}
}

@media screen and (max-width: 767px) {
	.swiper-container {
		overflow: visible;
	}
	._tb:not(._sp):not(._pc) {
		display: none !important;
	}
	._tb._pc:not(._sp) {
		display: none !important;
	}
	._sp-hide {
		display: none !important;
	}
	._sp-m0 {
		margin: 0 !important;
	}
	._sp-mt0 {
		margin-top: 0 !important;
	}
	._sp-mb0 {
		margin-bottom: 0 !important;
	}
	._sp-ml0 {
		margin-left: 0 !important;
	}
	._sp-mr0 {
		margin-right: 0 !important;
	}
	._sp-ta-l {
		text-align: left !important;
	}
	._sp-ta-r {
		text-align: right !important;
	}
	._sp-ta-c {
		text-align: center !important;
	}
	._sp-ta-j {
		text-align: justify !important;
	}
	._sp-nowrap {
		white-space: nowrap !important;
	}
	._sp-wrap {
		white-space: wrap !important;
	}
}

@media screen and (min-width: 1024px) {
	.c-column .c-card {
		width: 30.7563%;
		margin-right: 1.2605%;
		margin-left: 1.2605%;
	}
	.c-column .c-card:nth-of-type(n + 3) {
		margin-top: 0;
	}
	.c-column .c-card:nth-of-type(n + 4) {
		margin-top: 40px;
	}
	.c-kv > a > .inner > .title .name {
		white-space: nowrap;
	}
	.l-container {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	.l-drawer-nav-toggle {
		display: none;
	}
	.l-drawer-nav {
		display: none;
	}
	.l-footer {
		height: 75px;
	}
	.l-footer > .inner > .left-column,
	.l-footer > .inner > .right-column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		font-size: 0.875rem;
		line-height: 1;
	}
	.l-footer > .inner > .left-column > .item + .item,
	.l-footer > .inner > .right-column > .item + .item {
		padding-left: 40px;
	}
	.l-footer > .inner > .left-column > .item + .item {
		margin-top: 0;
	}
	.l-footer > .inner > .right-column {
		margin: 0;
	}
	.l-header-lang {
		width: 76px;
	}
	.l-header-lang > .list > .item a {
		font-size: 0.875rem;
		line-height: 1;
	}
	.l-header-lang > .list > .item a:hover {
		opacity: 1;
	}
	.l-header-nav {
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		padding: 0;
		margin: 0;
		-webkit-transform: none;
		transform: none;
		-webkit-transition-property: none;
		transition-property: none;
	}
	.l-header-nav > .list > .item:nth-child(1).-current ~ .bar {
		top: 0;
		left: 44px;
	}
	.l-header-nav > .list > .item:nth-child(2).-current ~ .bar {
		top: 0;
		left: 158px;
	}
	.l-header-nav > .list > .item:nth-child(3).-current ~ .bar {
		top: 0;
		left: 285px;
	}
	.l-header-nav > .list > .item:nth-child(4).-current ~ .bar {
		top: 0;
		left: 402px;
	}
	.l-header-nav > .list > .item:hover ~ .bar {
		opacity: 1;
	}
	.l-header-nav > .list > .item:nth-child(1):hover ~ .bar {
		left: 44px;
	}
	.l-header-nav > .list > .item:nth-child(2):hover ~ .bar {
		left: 158px;
	}
	.l-header-nav > .list > .item:nth-child(3):hover ~ .bar {
		left: 285px;
	}
	.l-header-nav > .list > .item:nth-child(4):hover ~ .bar {
		left: 402px;
	}
	.l-header-nav > .list > .item:nth-child(1):hover ~ .-current .gnav-child {
		opacity: 0;
	}
	.l-header-nav > .list > .item:hover .gnav-child {
		z-index: 2;
		opacity: 1;
		pointer-events: auto;
	}
	.l-header {
		border-bottom: none;
	}
	.l-header > .inner {
		height: 75px;
		padding: 0 60px;
	}
	.l-header > .inner > .logo {
		width: 76px;
		height: 14px;
		margin: 0;
	}
	._sp._tb:not(._pc) {
		display: none !important;
	}
	._tb:not(._sp):not(._pc) {
		display: none !important;
	}
	._pc-hide {
		display: none !important;
	}
	._pc-m0 {
		margin: 0 !important;
	}
	._pc-mt0 {
		margin-top: 0 !important;
	}
	._pc-mb0 {
		margin-bottom: 0 !important;
	}
	._pc-ml0 {
		margin-left: 0 !important;
	}
	._pc-mr0 {
		margin-right: 0 !important;
	}
	._pc-ta-l {
		text-align: left !important;
	}
	._pc-ta-r {
		text-align: right !important;
	}
	._pc-ta-c {
		text-align: center !important;
	}
	._pc-ta-j {
		text-align: justify !important;
	}
	._pc-nowrap {
		white-space: nowrap !important;
	}
	._pc-wrap {
		white-space: wrap !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	._sp._pc:not(._tb) {
		display: none !important;
	}
	._tb-hide {
		display: none !important;
	}
	._tb-m0 {
		margin: 0 !important;
	}
	._tb-mt0 {
		margin-top: 0 !important;
	}
	._tb-mb0 {
		margin-bottom: 0 !important;
	}
	._tb-ml0 {
		margin-left: 0 !important;
	}
	._tb-mr0 {
		margin-right: 0 !important;
	}
	._tb-ta-l {
		text-align: left !important;
	}
	._tb-ta-r {
		text-align: right !important;
	}
	._tb-ta-c {
		text-align: center !important;
	}
	._tb-ta-j {
		text-align: justify !important;
	}
	._tb-nowrap {
		white-space: nowrap !important;
	}
	._tb-wrap {
		white-space: wrap !important;
	}
}

@media screen and (max-width: 1023px) {
	._pc:not(._sp):not(._tb) {
		display: none !important;
	}
}

@media screen and (max-width: 1279px) {
	._wide {
		display: none !important;
	}
}

@media screen and (min-width: 1280px) {
	._wide-hide {
		display: none !important;
	}
}
