{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__007: Lavender Hair",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ February 14 - March 13, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/007/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "2x2x2",
                "item": ""+ site.url +"/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "007",
                "item": ""+ site.url +"/twobytwobytwo/007/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/007/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "007"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Tatsuhiko Togashi, Yoko Pinkham, Yohei Watanabe</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">February 14 - March 13, 2021<br>※ Opening hours: 2pm - 7pm / Thur - Sat.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">We are pleased to announce a group show “Lavender Hair” curated by <a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener noreferrer">Lavender Opener Chair / Tomei</a>, an artist-run gallery in Tokyo, starts from February 14, 2014.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Tatsuhiko Togashi</strong><br>
					Born in 1992 in Yamagata prefecture, Japan currently lives and works in Arakawa, Tokyo. After completing a MA at Sandberg Instituut in Holland, Togashi opened an artist-run gallery with a restaurant, "Lavender Opener Chair / Tomei," in Arakawa, Tokyo. Also, Togashi is in charge of cooking at Tomei.</dd>
					<dd class="desc"><strong>Yoko Pinkham</strong><br>
					Born in 1989, Chiba, Japan. She started working with wools which is now her main material when she found knitting for her fun. Recently she's been producing rugs using tufting techniques. Recent exhibitions include "Artist Running Festival" xyz collective, 2020.</dd>
					<dd class="desc"><strong>Yohei Watanabe</strong><br>
					Born in 1990 in Fukushima Prefecture, Japan and currently lives and works in Arakawa, Tokyo. Completed a MA at Tokyo National University of Fine Arts and Music. Recent exhibitions include "Giant Chorus," HAGIWARA PROJECTS (2019, Tokyo), "4 boxes and pyramids," 4649 (2018, Tokyo), "Yohei Watanabe: exture of Cat, Clouds Reversed in Retina," KomagomeSOKO (2017, Tokyo), "THE EXPOSED #9 passing pictures" g/p Gallery Shinonome (2015, Tokyo), etc.</dd>
					<dd class="desc"><a href="{{ site.root }}journal/interview/010/"><strong>In conversation with: Lavender Opener Chair</strong></a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide04_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "To forest", 2021, Wool, 173cm × 110cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide07_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Paper on leather", 2021, leather, wood, carbon and ink, 49cm × 66.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide10_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Cars", 2021, C-type print, 39cm × 32.5cm, Framed: 73cm x 54.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide13_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "Box", 2021, Acrylic on plywood, 60cm × 30cm x 11.8cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide15_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "BICLO", 2021, Inkjet print, and perfume, 115cm × 75cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide18_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#2", 2021, Ink on paper, 18cm × 14,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide20_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide21_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#3", 2021, Ink on paper, 30cm × 21,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide24_sp.jpg"/></picture><span class="caption">Tatsuhiko Togashi, "Rose is a rose", 2021, Printer, incence and paper, 21.7cm × 29.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide25_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide27_sp.jpg"/></picture><span class="caption">Yohei Watanabe, "BOOK#1", 2021, Ink on paper, 29.4cm × 19.2,5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide28_sp.jpg"/></picture><span class="caption">Yoko Pinkham, "In forest", 2021, Wool, 88cm × 87cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/007/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/007/img/slide29_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

