{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__012: Emotional Frequencies at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ December 12, 2021 - January 23, 2022",
		ogimage: "https://imlabor.org/twobytwobytwo/012/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "012",
                "item": site.url +"/jp/twobytwobytwo/012/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/012/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "012"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">フランチェスカ・ブロムフィールド、片山真妃</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">December 12, 2021 - January 23, 2022<br>
					※ 開廊時間：14時 - 19時／土、日曜日<br>※ 上記会期中の間2021年12月27日から2022年1月7日の間、冬季休廊とさせていただきます。</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">Ringlets: the diminutive plural of ring. They decorate her nape like page marginalia. Think of the way you can tease a curl and it springs back. Think of the way a haunting is tethered to its return, and the way vines, too, might loop.  A marker will leave itself out to let itself be known, and so crumbs have increasingly been on her mind.</dd>
					<dd class="desc">Like daisy chains, strangers enter links by blooms of time. Ringlets shares her birthday with a cultural icon and a renowned theoretical physicist, and believes that a collision is likewise a commons. The sign a part of an organology that discloses its workings in sympathy with others, betraying a sort of distributed sense.</dd>
					<dd class="desc">This is when Ringlets slips into the granularity of ordinary things — the hour, the calendar, the count. But the grid protects its logic, even if cut like the quantified self. Even if built to be broken down, and duly reconstructed. Where the cryptographer would find naught but a whisper of rubble and, perhaps, a handful of bees. (For such are emotional frequencies.) </dd>
					<dd class="desc">Still, she pursues her namesake. If the loom discloses its wisdom to the tapestry, then yes, she follows the quivering warp. Notational forms tessellate, becoming pattern, becoming image. What are we but Ringlets pulled close to the undulating weft: when they straighten us out we finally become what they once called ‘abstract’.</dd>
					<dd class="desc">- Text by Elaine Tam</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>フランチェスカ・ブロムフィールド</strong>（1990年生まれ）は、ロンドンを拠点に活動するイギリス人アーティスト。チェルシー・カレッジ・オブ・アーツにて美術学士号を取得後、ロイヤル・カレッジ・オブ・アート絵画科を2019年に修了。最近の個展には「War Hammer」（2017年）Barbican Arts Trust（ロンドン）、「International Treaty」（2015年） The Horse Hospital（ロンドン）などがある。主なグループ展に「Chrome Villa, with Col Self」（2018年）Andor Gallery（ロンドン）, 「Glass Houses」（2020年） Mcbeans Orchids, （ルイス、英国）、「Multiverse」（2019年） Gazelli Art House（ロンドン）、「 Autumn Yield」（2019年） Bridget Riley Studios（ロンドン） など。また、2016年に Barbican Arts Group Trust賞を受賞。</dd>
					<dd class="desc"><strong>片山真妃</strong>（1982年生まれ）は、東京を拠点に活動している日本人アーティスト。近年の個展に、「F3(a&lt;b),P6(c&lt;d),M12(e&lt;f):b=c,d=e」2021年、 XYZ collective（東京）、「Solstices &amp; Equinoxes for TOKYO &amp;Four cities in 2021」2021年、chicane. space、「鳥と鼠と20の茶色など」 2018年、XYZ collective （東京）、「キュリー夫人年表」2016年、  Maki Fine Arts（東京）などがある。主なグループ展に「BIJYUTSU JYORON3」2021年、静岡、「NEW INTIMACIES」2020年、soda（東京）、「COOL INVITATIONS 6」2019年、XYZ collective（東京）、「Here's why patterns, Here's why patterns, Here's why patterns」Misako&amp;Rosen、2019年（東京）などに参加。</dd>
				</dl>
				<dl class="item">
					<dt class="term">Special thanks to__</dt>
					<dd class="desc"><a href="https://xyzcollective.jp/" target="_blank" rel="noopener noreferrer">XYZ Collective</a></a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Emotional Frequencies'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide03_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "Twins", 2021, Pencil on paper, 104 x 76cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide06_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "Ariel flight paths", 2021, Watercolour on paper, 76 x 26cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide08_sp.jpg"/></picture><span class="caption">Maki Katayama, "P3M3", 2020, Oil on canvas, 19 x 27.3 + 16 x 27.3cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide10_sp.jpg"/></picture><span class="caption">Maki Katayama, "F8P8", 2021, Oil on canvas, tacks, 45.5 x 38 + 45.5 x 33.3cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide13_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "The Trip", 2021, Pencil on paper, 76 x 76cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide15_sp.jpg"/></picture><span class="caption">Maki Katayama, "F10P8P4", 2021, Oil on canvas, 53 x 45.5 + 45.5 x 33.3 + 33.3 x 22cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide17_sp.jpg"/></picture><span class="caption">Maki Katayama, "M3M3#2", 2021, Oil on canvas, tacks, 27.3 x 16cm diptych</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide18_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide20_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "Pie Chart of Grievances", 2020, Watercolour on paper, 37 x 19cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide21_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide22_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "Floating Head", 2021, Pencil and graphite on paper, 84 x 38cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide24_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide25_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide27_sp.jpg"/></picture><span class="caption">Francesca Blomfield, "Gemini Bridge", 2021, Pencil and watercolour on paper, 76 x 55cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/012/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/012/img/slide28_sp.jpg"/></picture><span class="caption">Maki Katayama, "F8M8", 2020, Oil on canvas, tacks, 19 x 27.3 + 16 x 27.3cm</span></li>
			</ul>
		</div>
	<!-- /.page-container --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

