{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__007: Interview with: COBRA",
    description: "COBRA is a Japanese artist and the founder of XYZ Collective, an artist-run gallery based in Tokyo, Japan. Using various disciplines such as video, performance, sculpture, and painting COBRA intends to present trifling contradictions hidden within both art history and our daily lives, with a dose of  humour.",
		ogimage: "https://imlabor.org/journal/interview/007/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "007",
                "item": ""+ site.url +"/journal/interview/007/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/007/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "007"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I've always been an obsessive collector, and I particularly like to collect things that I don't understand. This sensibility is the thing I value most when it comes to making artwork.”</h3>
				<p class="lead">COBRA is a Japanese artist and the founder of XYZ Collective, an artist-run gallery based in Tokyo, Japan. Using various disciplines such as video, performance, sculpture, and painting COBRA intends to present trifling contradictions hidden within both art history and our daily lives, with a dose of  humour. Bold impact and a sense of undeniable discomfort are the first impressions when encountering his works.</p>
				<p class="lead">While listening to COBRA's story of how he perceives himself as merely a sacrificial offering, I thought about his work 'The Object' (2017) and 'The Hunter' (2011). 'The Object' is a sculptural work that uses a portrait of COBRA's face and a mold made out of fiber-reinforced plastic as clock dial.  'The Hunter,' is a video / performance work in which COBRA plays the role of a hunter living within the confines of his studio, surrounded by sculptures, paintings and other objects. People who witness COBRA’S performative works, whereby he treats his own body as another material in his artistic practice, cannot help but consider the fragile illusion of the ego.</p>
				<p class="lead">In the following interview we discuss COBRA’s twin roles as artist and gallerist. </p>
				<p><span class="talker">IM LABOR__</span>First of all, I'd like to ask you about your video and performance work. Since 2011, when you created your video work 'The Hunter' to now, you have appeared in almost all of your works; can you talk about what it means to you to feature yourself as COBRA in your work?</p>
				<p><span class="talker">COBRA__</span>I think I started to feature myself in my work because of that video piece, ’The Hunter'. 'The Hunter' is actually a private work made in collaboration with my artist friend, Masaya Chiba. At the time, Masaya had a solo exhibition at a gallery in Tokyo, so we decided to show an edited version of ‘The Hunter’ there alongside his work. I think that was the only time the work was shown in public. ‘The Hunter’ is a performance and video work whereby I basically play the role of a hunter and live in my studio for ten days. The studio was filled with a tonne of objects and paintings made by Masaya.</p>
				<p>Masaya is a painter who uses objects he makes himself as motifs within his paintings as a way of ‘shutting space’ into the frame of the painting. Hence, while I was filming ‘The Hunter’, I thought I too would eventually become a part of his paintings, alongside the objects he made.</p>
				<p><span class="talker">IL__</span>I get the impression that you treat your own body as if it were an object or material to be used in your work. It seems that you take a very sculptural approach to your work. Do you have that sensibility?</p>
				<p><span class="talker">CO__</span>That's really interesting. Actually, Kazuhito Tanaka, an artist and the director of an artist-run gallery Soda Kyoto, has said the same thing before to me. He said I'm a sculptor, not a performer.</p>
				<p><span class="talker">IL__</span>You completed a BA in Ceramics, Glass, and Metal works at Tama Art University<sup>①</sup> in Tokyo; perhaps that craft background has created a sculptural context for your work?</p>
				<p><span class="talker">CO__</span>*Laughs* Thanks for the research.<br>
				As for whether or not I am aware of my body as a material… maybe that awareness is latent inside of me.</p>
				<p>As I mentioned earlier, before 'The Hunter’, I never really performed my work by myself. Around that time, I was in a dilemma, I was questioning: am I really a performer?</p>
				<p>Masaya was almost like a god to me during filming 'The Hunter,' - all I had to do was concentrate on listening to and doing what Masaya instructed. There wasn't a toilet or a proper bed provided in the studio, so I just did my business in the corner and slept on the floor where the objects were scattered. I was just trying my best to get closer to the ‘hunter’ character that Masaya envisaged for those ten days. </p>
				<p>While we were filming, Masaya asked me to express the joy a hunter feels after catching his prey by dancing, so I danced… I remember it was some sort of contemporary dance. I danced frantically as the hunter. But then he saw the way I was dancing and said to me, "COBRA, you don't need to try to make me laugh”, but I was dead serious! *Laughs*</p>
				<p>That was when I realized that there are many people who give beautiful or cool performances, but not so many who give 'bad' performances. When I think about it now, that was probably the turning point, and I became aware of the fact that I was treating my body as a sacrifice or offering.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide01_sp.jpg" /></picture><span class="caption">COBRA in collaboration with Masaya Chiba: The Hunter, 2011, HD Video, 180min 15sec, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide02_sp.jpg" /></picture></span><span class="caption">COBRA in collaboration with Masaya Chiba: The Hunter, 2011, HD Video, 180min 15sec, curtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide03_sp.jpg" /></picture><span class="caption">COBRA: The Object -Glorious-, 2014, Acrylic photo mounting, silver-print, clock , 22.6cm×22.6cm×2cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide04_sp.jpg" /></picture></span><span class="caption">COBRA: The Object (Glorious 2 - unique is a series -), 2016, fiber-glass reinforced plastic. primer surface, clock, clay, 27cm×28cm×10cm, 7cm×4cm×3cm, courtesy of the artist</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/247342793?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">COBRA: Good Night Contemporary, 2017, HD Video, 7 min 33 sec, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide05_sp.jpg" /></picture><span class="caption">Freeze NY at Brennan &amp; Griffin, NY, 2017, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide06_sp.jpg" /></picture><span class="caption">COBRA: LEONARD DICOBRIO, 2017, unique lambda print, 28.5×20inches &amp; Untitled, 2011, Collection of Leonard Dicobrio, acrilyc on canvas, 28.5×24inches, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>I see. That explains the impression I get when I look at your artworks；the characters that appear in your work lack a certain kind of performer's ego, for example, wanting to be seen as beautiful. I'm wondering if the awareness that you treat your own body as an offering is also evident in your series of work called 'The Object'.</p>
				<p>'The Object' series consists of sculptural pieces where you used your portrait or an FRP model of your face as the dial of a clock. Is there any particular reason you decided to use the clock as a motif?</p>
				<p><span class="talker">CO__</span>To be honest, I don't really know why. I simply like clocks.<br>
				I first decided to use the clock as a motif because a few elements aligned in my mind: For example, the concept of time as such a vital part of physical performances, as well as the humorous approach of using a portrait as the dial of a clock and presenting it as a sculptural piece.</p>
				<p>'The Object' series itself is a very simple work, but it makes so much sense to me. The moment I came up with the idea I felt a spark and I knew right away that I had to turn it into a piece of art.</p>
				<p>I've always been an obsessive collector, and I particularly like to collect things that I don't understand. I don't know what it is that hooks me, but I end up wanting it. There is never a set of explicit criteria for selection. I think I like clocks for the same reason. This sensibility is the thing I value most when it comes to making artwork.</p>
        <p><span class="talker">IL__</span>There is a lot of humour in your work. For example, in your 2017 solo exhibition ‘Freeze NY’ at Brennan &map; Griffin gallery in New York, you presented a series of works where you made objects imitating masterpieces, exhibited alongside a portrait of you dressed as a celebrity. Was it your intension for satire, that is, both humour and cynicism, to be a part of this work?</p>
        <p><span class="talker">CO__</span>Yes, that was my intention. I think that series is heavily weighted towards comedy, so it's inevitable that it contains many cynical elements.<br>
				For me, my work is always based on the concept of fun or play, followed by humour, and then comedy. Usually comedies have a pre-existing structure, and it is based on the premise that there is an object to be ridiculed or satirised by society.</p>
				<p><span class="talker">IL__</span>Has it always been important for you to include elements of play and humour in your work?</p>
				<p><span class="talker">CO__</span>Yeah, I've always loved funny things. I used to do theatre when I was still at university. I was a member of a theatre company that was very comedy-oriented, and we did what you might call comedy skits.</p>
				<p>I’ve also always been a fan of Jackie Chan. What's great about him is that he can accept every situation and react immediately. That's what I want to be; I just always want to be able to make people laugh.</p>
				<p><span class="talker">IL__</span>I suppose what you're aiming for through your work inevitably leads to humour and laughter.</p>
				<p><span class="talker">CO__</span>Because what I'm aiming for is the biggest ‘bad’ work of the century... I got that phrase from a friend of mine. Most of the circumstances of my work have been inspired by people I know. For example, my artist friend Soshiro Matsubara named me COBRA, and it was Masaya Chiba who encouraged me to become an artist or exhibit my work. Although I had been incorporating an element of humour into my work for some time before this point, Yosuke Bandai, my artist friend showed me that it was okay to want to be funny and taught me the comic timing necessary to develop my comedic style.</p>
				<p>When Yosuke saw my work and said, "This is the biggest ‘bad’ work of the century," I felt like my eyes were finally opened and I realized that it is actually okay to create a piece of crap. Since then, I've been trying to make the most significant piece of crap.</p>
				<p><span class="talker">IL__</span>You've been showing your painted works since 2019, among them 'Rat Museum For Rat' and 'Story of eggs (bird gallery for bird)'. I was impressed by the fact that, in both works, small paintings are placed in caged. How did you come to start the painting series?</p>
				<p><span class="talker">CO__</span>I started the painting series when I was invited to exhibit my work at an art fair. Most of the artworks you see at art fairs are paintings, so it was quite a simple decision for me to start making paintings. However, throughout the process of creating these work, I felt the same spark as I experienced when I came up with the idea of ' The Object.’</p>
				<p>'Rat Museum For Rat' is the first painted work I showed. I saw a metal mousetrap at some random place, and I was really attracted to it as an object. From there, I developed it into the form of painting. Those three elements; the painting, an art fair, and a mousetrap, were successfully connected and became one piece in my mind.</p>
				<p>When I first started working on it, I thought that putting a simple painting of a sliced cheese inside the mousetrap would be enough, but then it wasn’t sufficient to embody my initial concept. I then decided to use images of the cartoon characters SpongeBob and Tom and Jerry to evoke cheese as a painterly motif. I think the result turned out to be pretty close to my initial concept.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide07_sp.jpg" /></picture><span class="caption">COBRA: Story of eggs (bird gallery for bird) 2019, bird cage, acrylic on canvas, 21cm×30cm×39cm, 18cm×14cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide08_sp.jpg" /></picture><span class="caption">COBRA: Rat Museum For Rat 2019, rat trap, acrylic on canvas, wood pane,4.5×6×15.25in, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide09_sp.jpg" /></picture><span class="caption">COBRA: THE MUSEUM at fig. 2019, installation view, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide10_sp.jpg" /></picture><span class="caption">COBRA: Rat Museum For Rat, 2019, rat trap, acrylic on canvas, wood panel, 375×112×160mm, 71×55mm, 82×102mm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>You are not only an artist but also the founder of XYZ Collective. What made you decide to start an artist-run space?</p>
				<p><span class="talker">CO__</span>There were three main reasons why I started XYZ Collective: Firstly, I came across an artist-run space while participating in a residency program in Melbourne, Australia called HELL GALLERY. The owner is an artist called Jess Johnson - she actually recently showed at Jack Hanley gallery in New York. I was invited to exhibit at the space and the lively atmosphere at the opening left a deep impression on me.</p>
				<p>Secondly, back in Tokyo I attended the opening of a friend’s exhibition. There were only about 20 people there… it was the opposite to my experience in Melbourne. All the openings in Tokyo galleries were like that at the time. I started wondering if it would be possible to create a gallery space in Tokyo which fostered a more lively, open atmosphere where everyone could gather together, whether they were artists or collectors.</p>
				<p>Thirdly, XYZ Collective, grew out of a predecessor Collective called MIHO KANNO. MIHO KANNO started out as an exhibition space using a part of the studio where Soshiro Matsubara, Masaya Chiba, and a designer named Kiyota had rented at BankART<sup>②</sup> in Yokohama. I did a show there with Yosuke Bandai, as well as a related show at TWS<sup>③</sup> Shibuya around 2008 / 2009, but after that, the activities at MIHO KANNO gradually decreased.</p>
				<p>I asked Soshiro (my artist friend who named me COBRA) to found an artist-run space with me and we immediately began looking for a space in Tokyo. It wasn’t easy to find something within our budget but a friend Nozomu Ogawa, the director of Art Center Ongoing<sup>④</sup>, put us in touch with the owner of a small warehouse in Setagawa, Tokyo which we ended up renting. It was approximately 120 square meters, with a 5-meter high ceiling. Because it was so big, we decided to rent half of it as artist studios and use the other half as a gallery space. That was in 2011, and the real beginning of XYZ Collective.</p>
				<p><span class="talker">IL__</span>Do you consider the activities you initiate under the umbrella of XYZ Collective a part of your artist practice?</p>
				<p><span class="talker">CO__</span>I’m not quite sure but I hope XYZ Collective will eventually become a part of my artist career. I would like to aim for an artist-run gallery like XYZ Collective to become a mega-gallery one day. Having said that, to me there is a clear boundary between myself as a gallerist and COBRA the artist - these two personas do not intersect at this point. So if you ask me if XYZ Collective is part of COBRA's artistic career, I don't think so. However, I don't know what's going to happen in the future.</p>
				<p>The gallery business requires a steady head, so I feel a big temperature difference between myself as COBRA and myself as a gallerist. When I'm working as an artist, it's so painful and hard that I sometimes want to escape. But when I'm working as a gallerist, it's just a job - it’s hard, but at least it's not painful. I think the gallery business is like assembling a plastic model; you have to read the instructions carefully and complete it precisely.</p>
				<p>As for making artwork… it’s more like I have been asked to build a castle out of the blue with no instructions or materials provided. Even when I have finished building it, nobody would be able to judge whether it is really a castle or not. So yes, both roles have tough aspects.</p>
				<p><span class="talker">IL__</span>Finally, can you tell us about your plans for the future?</p>
				<p><span class="talker">CO__</span>XYZ Collective has curated a group exhibition that will take place at TOKAS Hongo arts centre in Tokyo, opening 10th October 2020. We have invited two galleries to participate: What Pipeline from Detroit, Michigan, US and Schiefe Zähne from Berlin, DE. The exhibition will be held on three floors: XYZ Collective on the first floor, What Pipeline on the second floor, and Schiefe Zähne on the third floor.</p>
				<p>XYZ Collective is also organising an artist-run festival in the middle of December, 2020. This will feature exhibitions from artist-run project spaces based in Japan, including seven Collectives, namely: XYZ Collective, Soda, 4649, Mumei, Lavender opener chair and Tomei, imlabor and Fig. We will also have special guests, Strange Store<sup>⑤</sup> and ASAKUSA<sup>⑥</sup>. The exhibition will take place at XYZ Collective in Sugamo, Tokyo.</p>
				<p>Further in the future I’m hoping to establish an art institution or grow XYZ Collective as a gallery.</p>
				<p>As COBRA the artist, I used to have a dream of setting up a taxi company by the time I was 50, but that has changed. Now I want to be a DJ on FM radio (a Japanese radio station). I want to be like Tetsuya Bessho<sup>⑦</sup>. Wouldn't that be nice? I hope to become the morning voice of FM radio in the future.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide11_sp.jpg" /></picture><span class="caption">COBRA: Misogi, 2012, HD Video, 8min 15sec, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">Tama Art University is a private art university located in Tokyo, Japan.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">②</dt>
					<dd class="desc">BankART 1929 is a Yokohama City project designed to revitalize the heart of the city by utilizing refurbished historical city buildings for the development of contemporary culture and the arts.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">③</dt>
					<dd class="desc">TWS Shibuya is an art center dedicated to the generation and promotion of new art and culture from the heart of Tokyo.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">④</dt>
					<dd class="desc">Art Center Ongoing is a complex art institution consisting of a gallery space based in Kichijoji, Tokyo, to introduce must-see artists who lead today’s trends in art.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">⑤</dt>
					<dd class="desc">Strange Store is a Vintage Clothing Shop/ Zine store/ Artwork run by a Japanese artist Ken Kagami.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">⑥</dt>
					<dd class="desc">ASAKUSA is a  exhibition venue Opened in 2015, for contemporary art programmes committed to advancing curatorial collaboration and practices.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">⑦</dt>
					<dd class="desc">Tetsuya Bessho is a Japanese actor and radio presenter.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">COBRA is a Tokyo-based artist and the founder of an artist-run gallery XYZ Collective. He uses various of media, including video, performance, sculpture, and painting, to convey the rawness of the seemingly pop context that humor has to the audience. His artwork that his own body has been used as a part of materials reveals the human's ego's vulnerability.</dd>
					<dd class="desc">Recent solo exhibitions include Freeze NY, Brennan and Griffin, New York (2017) and Domestic Fantasy, Art Center Ongoing, Tokyo (2016). He has also participated in the group exhibitions and screenings including Nature's Way, Cooper Cole, Tronto, Canada (2018); The Saturday Object Theatre, Raster, Warsaw, Poland ( (2017); Summer Doors, Shane Campbell Gallery, Chicago (2017); Sayonara Jupiter, 356 Mission, Los Angels (2017); and Watching Things Burn, Springsteen, Baltimore (2015).</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://cobra-goodnight.com/" target="_blank" rel="noopener">http://cobra-goodnight.com/</a></p>
				<p class="link"><a href="http://xyzcollective.org/" target="_blank" rel="noopener">http://xyzcollective.org/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

