{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__019: In conversation with:　レイディ・チャーチマン",
	description: "レイディ・チャーチマンは、日常的な存在の層を構成する微妙な感覚を描いている、ニューヨークを拠点に活動するアーティストである。仏教徒であるチャーチマンは、瞑想のプロセスを、観察し、許可すること、つまり、思考や感情を強く保持することなく、自分の中を通り抜けることに気づくことだと説明する。",
	ogimage: "https://imlabor.org/journal/interview/019/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "019",
				"item": site.url + "/jp/journal/interview/019/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/019/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "019"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「私の絵は相互を意識して作られています。人は誰かの断片でできているけれど、世界の中で主体性を持って行動できるのと同じことです。」</h3>
				<p class="lead">レイディ・チャーチマンは、日常的な存在の層を構成する微妙な感覚を描いている、ニューヨークを拠点に活動するアーティストである。仏教徒であるチャーチマンは、瞑想のプロセスを、観察し、許可すること、つまり、思考や感情を強く保持することなく、自分の中を通り抜けることに気づくことだと説明する。瞑想というシンプルに注意を払うという行為は、チャーチマンの芸術的アプローチの鍵として存在しているのだろう。一見バラバラに見えるイメージや思考、感情が常に行き来し、私たち人間の集合的な経験が常に流動的であるのと同じように、チャーチマンの広大な絵画は主題、スケール、構成、スタイルを常に横断しているのである。</p>
				<p><span class="talker">INDIA NIELSEN__</span>COVID-19が発生してから、2年以上が経ちました。現在、あなたはどこを拠点に活動されていますか？またこの状況にどうのように適応していきましたか？</p>
				<p><span class="talker">LEIDY CHURCHMAN__</span>私はニューヨークにスタジオを持っていますが、パンデミックの発生以来、メイン州の自宅で長い時間を過ごすようになりました。そこに行って絵を描いたり、森の中で過ごしたりするのが好きなんです。今はニューヨークに戻り、新しいスタジオで制作を始めています。</p>
				<p><span class="talker">IN__</span>最初に作品を発表したのは、ニューヨークを拠点とするアート集団<a href="http://lttr.org/events" target="_blank" rel="noopener noreferrer">LTTR</a>で、同名のクィア・フェミニスト誌も発行していましたね。どのようにして彼らと関わりを持つようになったのですか、また最初の展覧会はどのようなものでしたか？ </p>
				<p><span class="talker">LC__</span>LTTRは拡張的で過激なプロジェクトでした。イベントは大規模でカオスなものでしたが、同時に多くの人が協力し合って実現した、親密なものでもありました。素晴らしいクィア・アートのコミュニティで、私はその一員であることを幸運に思っています。</p>
				<p><span class="talker">IN__</span>YouTubeの動画のスクリーンショット、グーグルで検索した野生動物の画像、中世の写本、本の表紙、仏陀を描いたタンカ画、象徴的なシンボル、タロットカード、刺繍のデザインなど、非常にオープンで、特定の時間や場所に縛られていないようなイメージを使われることが多いですよね。非常に速いスピードで動くイメージをキャッチして、絵の具という比較的遅いメディアで定着させているように見えます。ペインティングのイメージを選ぶ際、それぞれの資料の歴史について深く考えることはありますか？</p>
				<p><span class="talker">LC__</span>あまり考えすぎないようにしていますが、リアルなものを描く場合は、そのモチーフは部屋に置いておきます。抽象的なイメージを見た後に、テレビ画面を見ると、その2つのイメージが合わさって落ち着いていくような感じです。異なる種類のイメージを組み合わせるのは、私にとって奇妙なことではありません。私たちは常にあちこちにいて、イメージや思考は常に行き来しているのです。私たちの経験は決して単一ではありません。</p>
				<p>私のペインティングはすべて、相互関係の中で生まれてくるものです。私はこれまで何度も、人気のあるイメージや既知のイメージを使ってきました。それらの特徴をいかにして無数の概念的・形式的な方法で利用できるかに惹かれてきました。</p>
				<p><span class="talker">IN__</span>つまり、エネルギー的なものなのですね。それぞれの絵が互いに影響し合っているのでしょうか？</p>
				<p><span class="talker">LC__</span>そうです。私はよく自分のペインティングを自分のメモのようなものだと考えています。私は様々な方法で物事に取り組みます。多様なスタイルで自分自身を表現することを楽しんでいます。それぞれのジェスチャーの中で、私は私として存在しているのです。</p>
				<p><span class="talker">IN__</span>いつもどれくらいの時間をかけてペインティングを作りますか？</p>
				<p><span class="talker">LC__</span>他の絵と並べてみないと、どう仕上げるかがわからないので、多くの場合、ある時点まで描いてからしばらく放置します。私は、絵が一枚だけあるのが好きではありません。いわば、その絵が描かれた背景や環境が必要なのです。また、未完成の絵を家に持ち込んで、しばらく一緒に生活するのも好きです。まだ自分の中で閉じていない、未完成の絵のそばにいるのが好きなんです。</p>
				<p><span class="talker">IN__</span>あなたは他のアーティストの作品を引用した作品を作っていますよね。具体的には、アーティストのバーバラ・クルーガーの写真版「Untitled (Seeing through you)」（2004）をベースにした絵画「Kruger」（2017）などがありますが。このクルーガーの作品を選んだ理由と、アーティストの作品を自分なりにアレンジすることが自分にとってどんな意味があるのか、お話しいただけますか？</p>
				<p><span class="talker">LC__</span>私は、使用するリファレンスをそのまま自分の作品に残すことが好きです。何かを超絶的に創造することにはあまり興味がなく、そのものがそのままの形で構成され、いわばそれ自体であり続けることにこだわりを感じます。イメージを描くとき、それを主題の装飾や再構築として見るのではなく、さらにそれを開く方法を探っているのです。<br>絵画は、さまざまな方向に同時に動くことができるメディアですし、私が絵画に惹かれる理由のひとつです 。</p>
				<p>クルーガーのイメージは、広告として見かけました。その週のオークションに出品されていたのですが、出展する作品を広告に使うというアイディアが気に入りました。  私は、クルーガーを自分の世界に招き入れたのです。</p>
				<p><span class="talker">IN__</span>引用した作品のどの部分を変えてよくて、どの部分を残せばそのオリジナルの画の良さが保たれるのか、どうやって判断しているのですか？</p>
				<p><span class="talker">LC__</span>それは、絵を作っていく過程の中で見つけていきます。絵を描いてる最中、あれもこれもしなきゃと考えることがありますが、一旦スタジオを離れ戻ってくると、そのペインティングはすでに出来ているというか。それを見て、絵を理解して、次にやることに気づきます。</p>
				<p><span class="talker">IN__</span>チャーチマンさんの作品はとてもオープンな感じがしますが、使用するイメージ（モチーフ）をふるいに掛ける際に、倫理がどの程度関わってくるのかに興味があります。描いてはいけないと思うものはありますか？</p>
				<p><span class="talker">LC__</span>特にありませんが、常にイメージを引用する瞬間のタイミングと、その瞬間に画像を生成することの意味を考える必要があるとは思っています。イメージを引用するのは、多くの内省と注意、そして配慮が必要です。これは、集合意識につながるという実感があります。私が使うイメージは、私自身の特別な、個人的な視点と経験から来るものだと考えることが重要なのです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide01_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Kruger', oil on linen, 85.09 x 67.3cm, 2017, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide03_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide04_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Milarepa’s Biggest)', oil on linen, 177.8 x 142.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide05_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide07_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Sparkling Bruised)', oil on linen, 24.3 x 29.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide09_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Diptych)', oil on linen, 248 x 147.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>昨年の夏、ロンドンのロデオ・ギャラリーで開催された個展「<a href="https://rodeo-gallery.com/exhibitions/the-between-is-ringing/" target="_blank" rel="noopener noreferrer">The Between is Ringing</a>」を見に行きました。6ヶ月の会期でしたがロックダウンもあったので、作品を見ることができ、とても嬉しかったです。この展示で発表したペインティングは、他の作品とは少し違って、ほとんどが想像上のシーンであり、他の作品のように明確なソースがあるわけでも、見つけたイメージに基づいているわけでもないようです。今回展示された作品について、またその制作方法について教えてください。</p>
				<p><span class="talker">LC__</span>正直なところ、今すぐ答えるのは難しいです。あの展覧会を作るのはとても楽しかったです。世界が封鎖され、そこから収集した具体的なイメージから始めるというのは、あまり気が進みませんでした。だから、ほとんどが頭の中の抽象的なものから出発して、ミラレパ伝説や宇宙とのおかしな関わり方として出てきたんです。コロナの関係で日常生活に制約があったため、自分の頭の中で新しい関係を作らなければならなかった。将来の計画を立てることもできず、とても辛かったです。今という瞬間に何度も何度も感情をぶつけられるような感じでした。あの展示で、私は、この現状が生んだ、新しいコレクティブルな現実を反映したペインティングを作りたかったのです。</p>
				<p><span class="talker">IN__</span>これらのペインティングの多くは、天体を連想させるものでが、占星術はお好きですか？</p>
				<p><span class="talker">LC__</span>占星術に関する絵を描いたことはないと思っていますが、昔は天文学と占星術が一つのものであったということには興味があります。</p>
				<p><span class="talker">IN__</span>自分の作品を見た人がどのような反応をするのかについて考えることはありますか？</p>
				<p><span class="talker">LC__</span>私は、作品に軽さがあるのが好きです。簡単で自由に見えるものがいいです。私は、自分の絵を作る際、たくさんの技巧を凝らしているつもりですが、それはその時に必要だっただけで、それ以上のことはしていません。なんというか、もし私が描く絵の中に壮大なものがあったとしても、それは純粋に壮大さを楽しむためのものであって、私の技巧というか、巧みさを見せるためのものではありません。瞑想に通じるものがありますね。  集中力が必要です。簡単なことを、難しくするのはもっと簡単です。絵画も同じだと思います。深刻な絵であっても、思考のようにそれをあなたの中で移動させていかないといけない。</p>
				<p><span class="talker">IN__</span>2016年のPhaidon Pressのインタビューで、大学でダダ（芸術運動）を勉強してから、"ものすごく猛烈に "作品を作るようになったと述べていますね。ダダイズムの何があなたに大きな影響を与え、その結果、あなたの作品はどのように変化したのでしょうか？ </p>
				<p><span class="talker">LC__</span>ダダは、「つながる」「伝える」ということに対する期待を打ち砕くもので、とてもエキサイティングでした。ダダは完璧さを求めるものではありません。ダダについて学んだことで、私は心の枠組みとしてのアートを作ることに踏み出す勇気を得ました。</p>
				<p><span class="talker">IN__</span>チャーチマンさんはビデオ作品も制作していますね。ダダからの影響は、ビデオシリーズ「ペインティング・トリートメント」（2010年）で明確に見ることができます。スタジオで撮影され、常に毛布で部分的に覆われた裸の体から始まり、その辺にあった「キャンバス」に、ジャガイモ、土、実際の塗料、小麦粉、衣類、木の枝、木の板など、絵の具の層のようにランダムに素材が落とされていく...私にはこのビデオシリーズで、あなたは絵画制作の過程を誇張して馬鹿げた方法で、あえて行っているように思えました。チャーチマンさんのペインティングも、このビデオ作品も、すべてのものが等価であるように見えます。<br>
				あえてメディウムや媒体を間違った使い方をすることを楽しんでいるような印象を受けますが。これは正確な表現でしょうか？ </p>
				<p><span class="talker">LC__</span>そうです。あのビデオ作品では、本当に全てのものが絵を描いているような感じがします。それらを、まとめるようとするのは難しいですね。</p>
				<p><span class="talker">IN__</span>ダダの活動の多くは、非常に反動的です。あなたの作品は、何かに対して反発していると感じますか？私には、チャーチマンさんの作品は、必ずしも物事に対して反応するのではなく、物事と一緒に流れているように思えますが......。</p>
				<p><span class="talker">LC__</span>もし私が何かに反発しているとしたら、それは現実を無視しようとするグローバル資本主義文化の考え方全体にでしょう。</p>
				<p><span class="talker">IN__</span>「現実」とはどういう意味ですか？</p>
				<p><span class="talker">LC__</span>私たちは、地球や私たちの心や身体を、まるですべてが永久のものであるかのように扱っている現実に生きていると感じます。私たちが教えられているのは、自分が誰であるかを把握する方法、強い個人主義者になる方法、資本を創造する方法、そして永遠に続くものになる方法なのです。これは、相互依存を認識し、慈悲を目指すという仏教思想、呼吸し、愛を与え、手放し、そして死ぬこと、とは全く逆のものです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide10_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide11_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide12_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide13_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide14_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide15_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide16_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>パンデミックが始まった頃、ニューヨークの画家ジェイソン・フォックスに<a href="{{ site.root }}jp/journal/interview/004/">インタビュー</a>したのですが、彼はフィリップ・ガストンについて、若いアーティストとして「抜け出さなければならない」ような偉大な影であると語っていました。あなたにインスピレーションを与えたアーティストで、自分の作品に自分らしさを見出すために振り払わなければならないと感じた人はいますか？</p>
				<p><span class="talker">LC__</span>はい、そのインタビューは読みましたよ。私にとってそれはルソーでした...それが『The Meal of the Lion』を描いた理由の一つかもしれません。しかし、「抜け出す」という言葉は、個人的には当てはまりません。私はトランスなので、拡張に興味があるんです。何も振り落としたくないんです。ジェイソンがガストンについて言っていることは理解できますけどね。ガストンの作品は美しい。彼は絵の具で物語を語り、信じられないほどの技術を使いながら、自分自身をも揶揄しているのです。</p>
				<p><span class="talker">IN__</span>仏教に興味を持たれたきっかけはなんですか？</p>
				<p><span class="talker">LC__</span> ずっと仏教を勉強したいと思っていたのですが、長い間、どこからどのように始めたらいいのかよく分かりませんでした。2013年頃、仏教について学び始め、法書を読み、瞑想に励むようになりました。</p>
				<p>ただ座ってるだけというのは、実はとても難しくて、でも、仏陀の最初の教えのひとつに「座れ」とあるのです。そこで私は、小さなクッションを置いた特別な瞑想スペースを用意したのですが、最初の3年間は、そこに座る気になれませんでした。ただクッションの横を通り過ぎるだけで、"ああ、こんにちは！"という感じでした。</p>
				<p><span class="talker">IN__</span>特に仏教のどんなところに惹かれたのですか？</p>
				<p><span class="talker">LC__</span>ダルマを読み始めた当初から、私はただこう思っていました。「ここには、私が本当に大切にしていることがすべて書いてある」と。仏教は、誰も語らないような私たちの経験の層を描写しています。例えば、「菩提心（ぼだいしん）」とは、心が目覚めた状態、つまり自分の心の中にある目覚めた心のことを指します。私たちはすでに目覚めていて、それを認識するだけでよいというこの考え方は、ダルマの中心をなしています。</p>
				<p><span class="talker">IN__</span>アートの世界では、あなたが特異な立場をとり、作品の周りで特定の種類の言葉や会話をすることが常に求められているようです。仏教には長い歴史がありますから、仏教があなたに与えた偶然の恩恵は、絵画を通してこれらの感情を表現し具現化するためのレディメイドの言語だったのではないでしょうか。</p>
				<p><span class="talker">LC__</span>私が仏教を取り入れるのが好きなのは、仏教が解放と覚醒に関わるものだと感じているからです。これは私にとって生きていることなのです。私は活動家が好きで、私の作品にもそのような側面があります。でも、そこには言葉にしがたい奇妙な感情も混じっています。仏教について話すと、その考えが世界のすべてに通じるので、助けられます。羅針盤のようなものです。</p>
				<p><span class="talker">IN__</span>作品を作るとき、感情を重んじますか？</p>
				<p><span class="talker">LC__</span>私が絵を描くのは、それが私にとって完璧なメディアだからです。私は、物事が何であるか、それらがどのように見え、何をするのか、それらが本当に何であるのか、、、空虚という不思議な概念に触れるような気持ちで話をしたいのです。その感情の幅の広さ、繊細さを表現したい。</p>
				<p><span class="talker">IN__</span>これから仏教を学ぼうとする人に、どのようなことを薦めますか？</p>
				<p><span class="talker">LC__</span>鈴木俊隆の「禅マインド ビギナーズ・マインド」という西洋の学生向けに書かれた仏教に関する本を最初に手に入れるといいでしょう。また、「ラディカル・ダルマ」という本を共同執筆したラマ・ロッド・オーエンスとエンジェル・キョードー・ウィリアムズという二人の先生をググるのもいいと思います。 もし可能なら、瞑想のインストラクターを見つけてください。話しをし、確認をしあうのです。</p>
				<p><span class="talker">IN__</span>若いアーティストに何かアドバイスはありますか？</p>
				<p><span class="talker">LC__</span>本当に好きで興味があるものには、パワーがある。これでどうでしょうか？</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide17_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Perky Snowlion', oil on linen, 78.7 x 104 cm, 2018, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><dd class="desc">レイディ・チャーチマン（1979年生まれ）は、ペンシルベニア州ヴィラノヴァに生まれ、ニューヨークを拠点に活動しています。 ハンプシャー・カレッジで学士号と修士号を取得し、2002年に卒業。大学在学中からニューヨークのクィア・フェミニスト・アート集団LTTRとコラボレーションを始め、彼らのジャーナルにドローイングを寄稿、その後2000年代半ばまで様々なパフォーマティブ・アクションに参加する。2010年、コロンビア大学で修士号を取得した後、アムステルダムのRijksakademie van beeldende kunstenで2年間のアーティスト・レジデンスに参加。この頃、チャーチマンはビデオアートと、様々なビデオ作品やパフォーマンスのセットとなる大規模なフロアペインティングの制作に専念していた。チャーチマンが、代表作に見られるイーゼルペインティングに戻ったのは、2013年になってからである。</dd>
					<dd class="desc">チャーチマンの作品は、ニューヨークのMoMA PS1、ミュンヘンのブランドホルスト美術館、ロサンゼルスの現代美術館などで展示されている。主な個展には、FOCUS、フォートワース近代美術館（2021年）、Crocodile、Hessel Museum of Art and CCS at Bard College, THE BETWEEN IS RINGING, RODEO London, (2021), Annandale-on-Hudson (2019), Free Delivery, Kölnischer Kunstverein, Cologne (2017), Lazy River, Boston University Art Gallery (BUAG), Boston (2013) などがある。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">インディア・ニールセン（1991年ロンドン生まれ）は、ロンドンを拠点に活動しているアーティストである。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2022年、Lazy Mike galleryで個展を開催予定。最近では、Paradise Row、V.O Curations、Fitzrovia gallery（ロンドン）、2022年のAnnarumma gallery（ナポリ）でのグループ展に参加しています。最近の個展に、Darren FlookでのM is for Madonna, M is for Mariah, M is for Mother、2021年にImlabor（東京）でのCrybaby、2020年にPlatform Southwark（ロンドン）でのRedivideRがある。また、2021年にはWhite Crypt Project Space、Collective Ending（ロンドン）、Spazio Amanita x Avant Arte（フィレンツェ）、2020年にはDanny BaezのキュレーションによるWhite Columns（ニューヨーク）、Roman Road、The Residence Gallery、Southwark Park Galleries（ロンドン）でグループ展に参加。Imlaborのウェブサイトでは他のアーティストにインタビューするなど、執筆活動も行っている。ロンドン在住。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

