{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'en',
    title: "INTERVIEW__009: In conversation with: Milly Thompson",
	description: "Milly Thompson’s artistic trajectory seems to have run concurrently with her own personal journey of self discovery. She spent ten years, from the early nineties, in BANK, an artist collective that styled themselves as more of a pop-punk band;",
	ogimage: "https://imlabor.org/journal/interview/009/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "009",
                "item": ""+ site.url +"/journal/interview/009/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/009/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "009"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“Pleasure is a very interesting political space to reside in… Controlling my public persona interests me not nearly as much as being on a hot beach under a shady palm or pine.”</h3>
				<p class="lead">Milly Thompson’s artistic trajectory seems to have run concurrently with her own personal journey of self discovery. She spent ten years, from the early nineties, in BANK, an artist collective that styled themselves as more of a pop-punk band; resisting the aspirational professionalism embraced by their contemporaries (loosely grouped under the umbrella term ‘Young British Artists’ [YBAs]), BANK’s members subsumed themselves within the group’s collective ego. They curated and produced exhibitions and publications with names like COCAINE ORGASM and SEWAGE LUST that became known for pointing out failings in the art system.</p>
				<p class="lead">BANK was consequently a hard sell; their output and collective persona reflecting the self-conscious awkwardness, yet bluntly critical intelligence of its members. Struggling to find her own voice after leaving BANK in 2003, it wasn’t until 2011, with a group show at Caribic residency in Lisbon, Portugal, that Thompson began to make the insouciant, highly sexualised works that have come to characterise her solo practice. Thompson’s current output uses sogetsu, a form of ikebana (the Japanese art of flower arranging) in her billboard-format paintings as a way of contorting the middle-aged female body (a demographic largely ignored by marketing and cultural industries), using it as an analogy for the way we position ourselves to meet social norms.</p>
				<p class="lead">I spoke to Thompson on the 14th December via Skype, both of us socially distancing in a London still feeling the effects of the COVID-19 pandemic. She has, she tells me, just spent the minutes before positioning her laptop in the perfect “raised’ position, having heard the American fashion designer Tom Ford describe it as the most flattering position from which to conduct a virtual meeting. In the following interview we talk about her years in BANK, her journey to find her own voice and, in an increasingly public society, mediated by screens and social media, the radical implications of simply taking pleasure in one’s own mind.</p>
				<p class="lead -note"><sup>*</sup>This interview was conducted on 14th December 2020 via. Skype.</p>
				<p><span class="talker">INDIA NIELSEN__</span>To begin, I’d like to check in with how you’ve been coping with the fallout surrounding the COVID-19 pandemic. Your solo exhibition ‘4 New Paintings’, which opened on 15th October at FREEHOUSE in London, was up for exactly three weeks before the UK went into its second lockdown on 5th November and FREEHOUSE had to close its doors. What has it been like for you to have these interruptions and to work under such uncertain conditions?</p>
				<p><span class="talker">MILLY THOMPSON__</span>COVID-19 hasn’t made much difference to me. I’m not teaching at the Royal College of Art (RCA) or Goldsmiths at the moment so I haven’t had to deal with much else outside of being an artist. I’m more worried about the rest of the world and other people who have been more affected by the pandemic than me. I worry a lot about my thirteen year old niece and her future… One result of this second lockdown is that my solo presentation ‘4 New Paintings’ at FREEHOUSE was extended for a second time. I like it. It keeps it light.</p>
				<p><span class="talker">IN__</span>Although titled ‘4 New Paintings’, the defacto title, in my mind, is ‘Deep Voguing’, not only because it’s the title of the largest work in the exhibition, but also because the word ‘Vogue’ and its many iterations seems quite central to your practice. Why did you choose to title it so matter-of-factly, like a shopping list?</p>
				<p><span class="talker">MT__</span>I like the looseness of ‘4 New Paintings’ as a title. It also jokingly refers to the grandiose, quite preposterous titles of the mostly male painting shows that were being put on in the 1980’s: there was ‘A New Spirit in Painting’ at the Royal Academy in London in 1981, for example. The titles were very serious and important sounding. I was also thinking about how little middle-aged women were taken seriously as both artists and subjects, so ‘4 New Paintings’ seemed as good as anything.</p>
				<p><span class="talker">IN__</span>In 2012 you co-curated (with the artist Alison Jones), performed and exhibited in the group show ‘ÉVASION.’ This was based around American artist Martha Rosler’s performance piece Martha Rosler Reads Vogue (1981), also included in the exhibition, in which she reads and dissects the aspirational messages and seductive advertisements of Vogue magazine, investigating its links to and exploitation of class-consciousness, political ideology and socioeconomic realities. In the accompanying catalogue to the exhibition, VUOTO, in which the script for Rosler’s performance was also published, artwork and texts were presented together in a way that mirrored the glossy editorial feel of Vogue magazine. Can you talk about your relationship to Vogue and with Martha Rosler’s work?</p>
				<p><span class="talker">MT__</span>That work, Martha Rosler Reads Vogue, is as prescient now as it ever was. Everyone, young and old, seems to have a desperate fear of ageing and of physical deterioration. Of course, ageing can be shit and, yes, there are health issues, but it’s also a release from all of these social pressures. I love flicking through Vogue as much as the next person but flicking is all it’s worthy of, partly because it’s full of lots of unhealthy, aspirational shit, but also because I’m on to the next thing. I get bored quickly so I like getting speed inspiration.</p>
				<p>If there is a relationship between Rosler’s work and my own I think it’s that we both use humour to work through a feminist set of ideas - humour is a great way of presenting ideas that address complex issues. So although Rosler’s work is politically and socially engaged, it doesn’t feel like it’s judging people. I hope that my work feels non-judgemental too. That’s important to me. Art is a place to experiment, make mistakes and understand failure. It provides an alternative route to making absolute or well-researched proclamations.</p>
				<p><span class="talker">IN__</span>Voguing (popularised in Jennie Livingston’s 1990 documentary Paris Is Burning) began as a form of pageantry that was developed by African American and Latino gay and trans communities in New York. Participants would “perform” mainstream identities, there was a category for “businessman on his way to work” for example, and gay men would portray macho archetypes like soldiers. This morphed into a type of dance battle (popularised by Madonna in the same year), where dancers would strike a series of contorted, ’freeze-frame’ poses, as if they were posing for a feature in Vogue magazine. The term ‘vogueing’ therefore became synonymous with the idea of contorting and manipulating ones own body and identity to fit a particular role. Your paintings similarly often involve extreme bodily configurations that look at once awkward and glamorous. Can you talk about the idea of Vogue (the magazine) and of voguing the practice as a method of distorting the body and how this relates to the way you manipulate the bodies in your paintings?</p>
				<p><span class="talker">MT__</span>For me vogue is the older female body shaped by yoga and pilates - a sign of privilege. This spawns lots of other connotations; fitness, strength, tautness, superfoods etc. that all make up the language of a wealthy lifestyle - only accessible to those who have the time and money to buy it.</p>
				<p>The paintings in this show are looking at the idea of achieving bodily perfection through the lens of flower arranging, focusing on a particular form of ikebana (The Japanese art of flower arrangement) called sogetsu. In sogetsu, anything can be used; a single radish, a roll of barbed wire, a rose, a car bumper, dead leaves, dried grass… this leaves the final scale of a sogetsu arrangement very open; it could be enormous or miniature. It is the potential for enormous arrangements in sogetsu that particularly interests me as I like the idea of making viewers gaze close-up at wrinkles, cellulite, age spots and other bodily “flaws” in my paintings.</p>
				<p>I’ve always enjoyed the graphic structure of Japanese culture. For example, the idea of forcing a sapling tree to grow into a rectangle by constant pruning, as in the art of Bonsai. There is such a high level of control there that mirrors our relationship to women’s bodies. Older female bodies, for example, are often seen as out of control, so I control them by presenting them within the tight rectangle of the canvas. In ikebana, there is also considered a “best place” from which to observe the arrangement; you look at it from one, frontal position only and if you walk to the side or round the back it all collapses. Similarly, on beaches, we might arrange ourselves, imagining that we are being looked at. We try and perfect ourselves, positioning ourselves in the position from which we look best and often this is only imagined from one point of view, like the fantasy of a staged Vogue fashion shoot for instance. I love the poise of the pose. I think it’s also about how you position yourself in the world and imagine yourself as someone who has a bit of power. For me this is voguing.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide01_sp.jpg" /></picture><span class="caption">Milly Thompson: Deep Vogueing, 2020, acrylic, gouache and ink on canvas, 284 x 200cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide02_sp.jpg" /></picture></span><span class="caption">Milly Thompson: Solarium Trope, 2020, acrylic and ink on canvas, 235 x 213cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide03_sp.jpg" /></picture><span class="caption">Milly Thompson: Rare Positioning, 2020, acrylic, ink and gouache on canvas, 130 x 150cm, 147 x 190cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide04_sp.jpg" /></picture></span><span class="caption">Milly Thompson: Temple Creation, 2020, acrylic, flashe, ink and gouache on canvas, 147 x 190cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide05_sp.jpg" /></picture><span class="caption">Milly Thompson: Saucisson Chiffonaire, 2011, Milly Thompson (solo show), mixed media (chiffon, balloons), dimensions variable, Caribic Residency, Lisbon, Portugal, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Talking about posing, I think your activities as an artist can be split crudely into two roles; there’s the Milly Thompson who was a member of the London-based art collective BANK for 10 years from the early 1990s, where all of your artistic activities were subsumed within the joint ego of the group (you describe at times even going so far as to hold on to the same brush and trying to paint at the same time) and then there’s Milly Thompson the studio painter who, after leaving BANK in 2003, now spends most of her time making oil paintings of female nudes reclining on the beach or contorted into unnatural positions, adorned with extravagant accessories and showing in a more traditional gallery system. Can you talk about your involvement in BANK and why you decided to leave to focus on its polar opposite, painting, which is a very solitary practice?</p>
				<p><span class="talker">MT__</span>BANK was exciting against the backdrop of an as yet to be Frieze’d art world. We could see it coming though, everyone. We could see the proliferation of art galleries and their professionalising nature. We enjoyed pointing out the bullshit, but also wholeheartedly acknowledged our own lame aspirations towards being “professional” artists.</p>
				<p>BANK was particularly interesting as a collaboration because we actually acted as if we were a single entity artist; we worked on everything together and subsumed our natures into one gigantic ego. We made art that ran against the trend of professionalisation, so the sculptures and installations we made had a throwaway quality to them. The written word was also important to us; how it functions both in titles, press releases and in the work itself.</p>
				<p>I left because I wanted to explore my own thoughts, perhaps also my “woman-ness”, which had been subsumed into an otherwise male group. I left BANK, as you say, in 2003, and didn’t do a show where I was truly happy with my own work until 2011 with ‘Saucisson Chiffonaire', a solo show within a group presentation I did at Caribic Residency in Lisbon, Portugal. It took me a long time to understand what I wanted to do, I tried video and printmaking, and I must say that for years I was miserable because I was a bit lost and yearned for collaboration but, ultimately, I have found my voice. I’ve ended up painting women in psychologically sun-drenched landscapes.</p>
        <p><span class="talker">IN__</span>In some senses BANK makes me think of the activities of another group that arose around the same time, the New-York based art and fashion collective Bernadette Corporation (founded in 1994). This was essentially a group of young graduates from Brown and Columbia University who went through the motions of a legitimate corporation; they would dress up in a suit and briefcase and go to the studio every day like they were going to a job on wall street, put on fashion shows and stage convincing-looking editorial photoshoots, even though there was no real ‘product’ behind the brand. BANK, being British, was maybe a less slick, slightly angrier version. The artist and art critic Matthew Collings described BANK as "surly, self-destructive, self-conscious, introspective attitude - combined...with critical intelligence and a flair for spotting weaknesses in the art system.” Would you say that’s accurate?</p>
        <p><span class="talker">MT__</span>Yes, spot on.</p>
				<p><span class="talker">IN__</span>Do you see any similarities between Bernadette Corporation and BANK and did you have any contact / relationship with each other?</p>
				<p><span class="talker">MT__</span>I’d say the difference between us and them is that they were self-consciously cool and we were just cool. We didn’t have anything to do with them as far as I can remember. They were very “New York” and we were provincialised in London. I did like their work, they were good at looking at layers of hypocrisy and structures around protest and capitalism, but BANK was more concerned with making art about being artists. Like you say, Bernadette Corporation wore suits and carried briefcases… BANK’s studio was freezing, dirty and we wore overalls, hats and scarves. Our studio had mice and other rodents.</p>
				<p><span class="talker">IN__</span>So, if BANK came up just before Frieze became a thing, how did you feel about seeing the YBA’s come up in real time? In a way they were doing something similar to BANK but taking the reverse approach, by embracing the bullshit rather than railing against it.</p>
				<p><span class="talker">MT__</span>Yeah, I think you could probably split the YBA’s into different categories. It’s such a spurious term, because if you think of artists like Abigail Reynolds, for example, she was meant to be a YBA, but you wouldn’t really know it from looking at her work. I think the term ‘YBA’ always had a homogenised edge. I think it was ascribed to a group of people after the event to try and pull them together. We weren’t so conscious of it as a term at the time. When I think about the YBAs I think about the fact that, although they didn’t all embrace the idea of making money, most of them actually did end up making money because of Damien Hirst - he was just so brilliant at that.</p>
				<p>Damien Hirst completely defines what a YBA is - he was the impresario. The other thing about the YBAs that I think defines them, and maybe I just made this up, but I have this idea that a lot of them used other people to help them make their work from the very beginning. The idea of getting somebody else to make your work at that time was still relatively new, of course Jeff Koons had done it in America and there was the idea that you needed to have money to do it.</p>
				<p><span class="talker">IN__</span>How could they afford to have other people make their work for them at the beginning of their careers, before they had money?</p>
				<p><span class="talker">MT__</span>The thing is, in the early nineties, it felt a lot easier to get money to throw around and do stuff with. Making art using high street makers was cheap and easy because every high street had a metal shop or a wood shop or whatever. One of the things to remember as well is, take somebody like Tracey Emin, she’s got a huge studio now, but at that time she was making work at her bedroom table. I think lot of the YBAs were doing that, working quite modestly from home, but then going out and getting a neon made. At that time you could go down Whitechapel High Street and it was full of neon shops. Neon was still one of those materials that was everywhere, so it wasn’t actually that expensive. I think what they used to their advantage is that they were embracing materials that were really common and commonly used.</p>
				<p>I think a lot of their work looks flashy in photographs, but if you get up close to the work actually made during that period it’s not as slick as you expect, because they were actually working within their means. Think about those Gary Hume paintings he made with Dulux brand house paints. If you look at his ‘door paintings’, which defined the beginning of his career, they might look flash in photographs, but those early works were painted on canvas or board, so the paint has probably deteriorated and discoloured over the years. Now they’re painted on aluminium and I doubt he actually does them himself.</p>
				<p>Then, of course, Damien Hirst managed to get Charles Saatchi to buy into him from the very beginning. It was amazing. He was just so brilliant at playing the circus master. He had an easy charming, persona.</p>
				<p><span class="talker">IN__</span>You knew him?</p>
				<p><span class="talker">MT__</span>I knew him then to smile at- I don’t know him now. The art scene in London was very small back then and we all sort of recognised each other back then and, to a certain extent there was a kind of professional, jokey animosity where we were sort of fighting each other…</p>
				<p><span class="talker">IN__</span>You competed against each other…</p>
				<p><span class="talker">MT__</span>Kind of. People used to go on about BANK being “professionally working class” when we weren’t actually working class. We were just this clique that would turn up at places and get incredibly drunk and behave really badly. Actually I think that the London art scene during the late 80’s and early 90’s was defined by people behaving badly and being drunk. There was always free drink at nearly all private views. We hunted it down.</p>
				<p><span class="talker">IN__</span>There was some of that in the YBAs too. I remember seeing a clip of Tracey Emin at the 1997 Turner Prize Debate, it was live, and she’d just been on a night out with her friends so she was really drunk and she ripped her mic off, stormed out and said she was going to hang out with her mum…</p>
				<p><span class="talker">MT__</span>Yeah, that’s why it’s probably all a bit fake because the YBA was such a loose group with very different practices. A big difference to BANK, was that the YBAs made ‘product' from the beginning, and they made them under their own names as solo artists. Contrast that with the members of BANK, who would subsume our brushes to be the same, even sometimes going as far as to actually hold on to the same brush and paint at the same time. We had no identity as a solo artist; it was always the four of us, or the three of us, because BANK was a group that lost members as we went along.</p>
      </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide06_sp.jpg" /></picture><span class="caption">BANK: Fax-bak (Greene Naftali Gallery), 1999, pen and ink on paper 8.6 x 11.125 inches, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide07_sp.jpg" /></picture><span class="caption">BANK: The BANK (#19), 1997, A4 photocopied magazine, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide08_sp.jpg" /></picture><span class="caption">BANK: Zombie Golf (invitation), 1995, Riso print on fluorescent paper, 210 x 297mm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide09_sp.jpg" /></picture><span class="caption">BANK: Group Empathy Painting, 1997, BANK (mixed media on canvas), size unknown, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>When you say that BANK worked on everything together as a collective and subsumed your natures into one gigantic ego - was that actually the case? Artists have notoriously massive egos, and, particularly being the only female artist in an all white cis, straight male group, did you feel like you had as much of a say as you would have liked?</p>
				<p><span class="talker">MT__</span>I had as much of a say, but I had to shout harder I think. That’s not because I think they were particularly sexist. I think it has more to do with the fact that I grew up in an era where women were still in the background of everything, so I learned from a young age that if I wanted to have a voice I would have to shout louder.</p>
				<p>We all fought I guess, but I think what defined BANK was a sense of self-conscious isolation. We came together as a group of individuals who felt quite inept and awkward in ourselves. I certainly felt like an outsider. When I think about Damien Hirst, Tracey Emin and the rest of the YBAs, I remember them all as seeming very charming and confident, which made up for any perceived disadvantage they might have had, about their social class, for example. People wanted to be around them and buy into them.</p>
				<p>BANK, on the other hand, were all a bit awkward. So, for us, coming together as a group gave a power and a confidence that we maybe wouldn’t have had on our own. This confidence of BANK as a front grew as we got more notice taken of us. </p>
				<p><span class="talker">IN__</span>It’s funny you talk about women being slightly in the background of things, because in a lot of the promotion of BANK you were often at the forefront. I saw a black-and-white print in the BANK exhibition ‘The Banquet Years’ (2013) at MOT International in London where you were all standing around posing in front of a graveyard - you in the front and the boys in the back. It looked half like a Blondie album cover and half an agitprop poster because of the black, white and red colour scheme. On the front, written in red it says “Stop short-changing us. Popular culture is for idiots. We believe in Art.” Do you think there was a kind of intellectual elitism to BANK?</p>
				<p><span class="talker">MT__</span>We definitely played with that. Before the YBA era happened, British art was all upper class white men and a few white, mainly upper class women. Even those who hadn’t been to posh public schools still came from academic backgrounds. None of the members of BANK had parents who were academics and we all went to comprehensive schools, we didn’t move within those upper class circles.</p>
				<p>In the eighties, I remember people started talking about theory and getting very interested in Adorno and people like that… I think at that time people were beginning to enter the art world who hadn’t grown out of this privileged environment because education had begun to open up. I, and in fact everyone I knew, had a full grant to go to college and there were no fees to pay. That was so important because it meant that you could go to college as a person from an impoverished background. Art suddenly had a sense of being a realistic, even vocational, course you could take, especially after the YBAs came along. So, on the one hand, BANK was commenting on this old-school British privilege and, on the other, we were thinking about how we wanted to be free of theory, in a way. We didn’t want to think about Adorno, we wanted to make our own thing.</p>
				<p><span class="talker">IN__</span>Did you see education and the practice of making and engaging with art as a form of social mobility? As a way of raising yourself up and feeling superior to those people who you felt had come from privilege?</p>
				<p><span class="talker">MT__</span>Yeah, we were interested in that. For me, when I left my BA at the Slade School of Fine Art, I felt like I had learned nothing from my time there. So my time in BANK was where I really learned to be an artist. That was my MA, my education, if you like.</p>
				<p><span class="talker">IN__</span>I’m reminded of Jeff Koons’ Equilibrium series from the 1980s, in which he presented a series of basketballs floating in fish-tanks half-filled with water, alongside Nike posters. These posters, featuring young, black basketball stars he described as ‘sirens that could take you under’, mirrored the way corporations marketed basketball (and sports in general) as a symbol of social mobility for black youth, while middle-class white kids used art as a way of moving up a social class. Were you influenced by this at all?</p>
				<p><span class="talker">MT__</span>Yes! I loved those early works by Koons. Those Nike posters were so good. They were offset against his later and quite determinedly dumb Aqualung bronze casts of inflatable boats and scuba equipment - symbols of the leisure activities of wealthy white people. What I enjoy about Koons is that he turned his advertising background and that layered thing good advertising does so well into even more complex ‘art messages’. His work was so direct, and yet, the minute you tried to articulate what you saw as its message it revealed all it’s non-sequiturs, dead ends and red herrings. That sirens reference you mentioned was also a thrill to me; who are the sirens now that are slowly infiltrating the white, male, upper-class art world?</p>
				<p>There’s this fantastic philosopher called Kate Soper who writes about what would happen if you took capitalism and the need for growth out of the equation and you said: “Now our energy needs to go into looking after ourselves.” In this scenario, rather than using education as vocational training for work, education instead becomes training for thinking with your mind and using your imagination. Something that happened in the post Frieze / Hirst era is that galleries have got more power than artists. The thing is, we artists can exist without galleries, they can’t exist without us. This is part of the problem Soper is addressing in speculating about this post growth scenario: What would happen to galleries if you lived in a world where growth was irrelevant and was in fact considered socially outré?</p>
				<p><span class="talker">IN__</span>Talking about galleries having more power than artists… how do you feel about the American artist David Hammons? I recently read the writer Martin Herbert’s essay on Hammons where he says that he managed to negotiate a 90/10 percentage split in his favour when he did his 2014 survey exhibition at The White Cube in London…</p>
				<p><span class="talker">MT__</span>Wow… that’s cool. I think David Hammons is a brilliant example of someone who grinds a particularly political agenda without reducing it to image. He’s got this really perfect surface which is about gorgeous materials and texture… it feels very present and radical, but at the same time you can indulge in it. He’s one of the very few artists who is in the position to argue that for themselves because we’re in a state now where galleries are absolutely fighting over themselves to get anyone who is not a straight, white male artist. I remember there was a point when Damien Hirst managed to get himself a similar, but not quite as impressive, percentage split. I think he did some really amazing things and, in terms of art, he probably changed things for the better in Britain, but god, he’s so boring now.</p>
				<p><span class="talker">IN__</span>I thought Damien Hirst’s early work was amazing. I thought Jeff Koons’ early work was amazing too, but, you’re right, the work they produce now is very dull, whereas Hammons is still such an interesting artist, even though he’s been around for decades. I think it might be to do with the fact that a lot of those early Hirst and Koons works were about aspiration, and had this self-consciousness of trying to propel themselves upwards socially and economically through their work. Now they’re both at the top of the mountain, they couldn’t possibly get any higher, so what do they do? That aspirational drive has gone.</p>
				<p><span class="talker">MT__</span>Yeah, it would also be very hard for them to make that work now from that position. Imagine if Jeff Koons produced that series of NWA basketball players now? I think it would look a bit despicable for him to try to take a political stance with that work.</p>
				<p>The last good thing he did was his 2008 solo exhibition in Versailles where his hoover sculpture was shown in Marie Antoinette’s bedroom. I thought that was a great thing to do with a Jeff Koons piece of work and I think that’s as good as it can get now. It’s basically one incredibly wealthy person placing a piece of work, which is about women’s work, in a deposed Queen’s bedroom who was beheaded because she herself would not recognise work.</p>
				<p><span class="talker">IN__</span>It seems like a lot of the activities of BANK and, in fact, of a lot of institutional critique seems quite antithetical to the idea of pleasure or enjoyment. I think that might be because the idea of embracing or relaxing into something, of simply taking pleasure in it, has connotations of surrender or of giving up. I mean, the term is literally “fighting the system.” I asked you about Jeff Koons because his early work does highlight the way art functions within different social and economic systems, but he fully embraces and celebrates it. He doesn’t fight it at all.</p>
				<p><span class="talker">MT__</span>See, I think that’s really interesting. I think pleasure is often seen as a weakness and I think that’s because pleasure is often associated with women, because they are so connected with and defined by their bodies. I think one of the things I brought to BANK was a kind of pleasure in materiality, a particular sensibility. So there was a collective pleasure in making and in being with each other. There was also a lot of humour. So when you mentioned that black-and-white poster that looked like a Blondie album cover, we were definitely playing with that format of the female singer standing in front of the heavy men in the back who have all the ideas. The other members of BANK were hilarious people and we had a lot of fun, but I don’t think pleasure was something we thought about then, whereas now I think about it all the time.</p>
				<p>I think you’re right that pleasure is seen to be soft and related to ideas of surrender or relaxation. It’s never associated with anything significant like politics, or ruling the world or anything like that. It’s still seen as very base. I think it’s a very interesting political space to reside in. In a performance I saw the artist Penny Arcade do a few years ago she quipped, “Pleasure is a radical value.” She was talking about CCTV cameras not yet being able to see inside our heads, allowing us to take pleasure in our own thoughts and feelings out of sight of those in power. I think if I’d heard that phrase when we were in BANK I would have loved it as much in relation to our collective work as I do in relation to my solo practice.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide10_sp.jpg" /></picture><span class="caption">BANK: The Banquet Years (installation shot), BANK, 2013, solo show, Elaine MGK, Museum für Gegenwartskunst, Basel, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide11_sp.jpg" /></picture><span class="caption">BANK: The Banquet Years (relics and invites), 2013, solo show, Elaine MGK, Museum für Gegenwartskunst, Basel, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide12_sp.jpg" /></picture><span class="caption">BANK: BANK, 1999, Studio allegory, photograph, dimensions variable, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide13_sp.jpg" /></picture><span class="caption">BANK: Stop short changing us. Popular culture is for idiots. We believe in art, 1998 (A6 invitation card), solo show, Gallery Poo Poo, London, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>It’s true that there’s something radical about being able to take pleasure in your own thoughts, but there’s also something radical about being able to expose yourself as a woman; to just express anything you feel like and be ridiculous or foolish or flippant and to treat yourself as a bit of a joke. Hearing you talk about your interest in sogetsu, and your application of this idea of an enormous “still-life” arrangement to the female body to highlight stereotypical “flaws” like cellulite and wrinkles made me think about a famous rap battle scene from Eminem’s 2002 film 8 Mile. What makes that scene stand out is that, in a very macho setting, where everyone is meant to big-up their own strengths and tear down the competition, Eminem spends his entire side of the battle rapping about his own weaknesses, so when it comes to his opponent’s turn he has nothing to say. He just drops the mic, defeated. Eminem completely disarmed him by weaponising his own flaws.</p>
				<p><span class="talker">MT__</span>Yeah, that’s really interesting. I hadn’t thought about that. I think the question of how you can give yourself power and what you can then do with it is an important one. I get a kick out of showing middle aged and older women’s flesh off, making it really huge and forcing people to look at it close-up, because it’s not what we’re meant to be looking at. We’re told that it is not beautiful or powerful; that it has no agency. But I can turn around and say, “Well I can put this into a gallery and if you want to enter you’re going to be confronted by some wrinkles.” I enjoy that.</p>
				<p>Actually, if you ever watch Donna Haraway (The American feminist scholar) give a talk, it’s so remarkable because she has a way of laughing as she’s speaking, so you get the sense that she’s truly enjoying herself. She wears these eccentric clothes, with striking grey hair often put back into a big ponytail and she laughs with pleasure as she’s talking about her academic work, which is pretty heavy stuff. You never see a male scholar laughing at what he’s saying, or laughing along with himself. I personally find her writing really hard to get my head around, but the more I watch her the more I realise it actually doesn’t matter if I understand it or not, because what Haraway is presenting is something that I aspire to; a truly original, eccentric version of an older woman who enjoys herself and enjoys her mind.</p>
				<p><span class="talker">IN__</span>Do you think that was a conscious technique of hers? To laugh as she presents her work publicly?</p>
				<p><span class="talker">MT__</span>I did wonder whether it was a technique. I watched one particular talk of hers where she starts off just smiling continuously. She could be really nervous, or maybe she’s someone who is just so confident in herself that she is able to smile because she enjoys thinking about her work.</p>
				<p>I think, as a female artist, if there’s something you are passionate about, then you have to be really passionate about it. You have to take it and really stick it to them. It’s much easier for blokes to sit around schlonging away with their cocks out talking about their interesting abstract or figurative art, or whatever they’re doing. It’s much easier to be that person because there’s a history there to back them up, whereas we, as female painters, are creating our history as we go. So, if you’re timid, then really be a timid person and make timid art, timidly. *Laughs* I think you have to be the full package and really push what you are to the extreme. That’s what Donna Haraway does so well.</p>
				<p><span class="talker">IN__</span>It’s very interesting for a serious female academic to laugh as she presents her work. In a way, that comes back to Eminem’s 8 Mile technique I mentioned of disarming your “opponent” by embracing and using your apparent weaknesses to your advantage. It’s the default for people, especially men, to laugh at or wave away the work of a female academic. So, conscious or not, for her to already be laughing at and with herself as she speaks must be very disarming. It’s also a way of claiming laughter as her own expression of enjoyment, rather than as a potential weapon of ridicule to be used against her. I imagine it might be quite alarming for some to watch.</p>
				<p><span class="talker">MT__</span>Yeah, actually that reminds me of a couple of stories I heard about Martha Rosler. A friend of mine was in Istanbul, Turkey about ten or fifteen years ago when she was involved in a Biennale there. He showed up as a plus-one to a dinner she was attending and, apparently, she showed up with her own loaf of homemade brown bread. *Laughs* She just got it out on the table and asked the waiter to bring her a breadknife. Then, she cut it up, put it in a big basket and offered it round to everyone. He said it was amazing how everyone was so weirded out by this powerful statement of “I don’t want to eat that shit, white bread, I’m going to eat my own homemade bread.” It was such an own goal… *laughs*</p>
				<p>The next day he went to see her talk in a panel discussion with all men on the stage aside from her and, right before it was about to begin, she got her knitting out and started knitting on stage. Nobody could concentrate on what these blokes were saying. Her knitting just disrupted everything and the talk turned into a shambles.</p>
				<p>I think those kinds of things are interesting as potentially feminist gestures. For example, thinking about craft as something to be proud of instead of being something that is a passive female gesture. I guess that kind of shift is happening quite a lot now.</p>
				<p><span class="talker">IN__</span>Visibility does seem to be a big concern of your work. In a 2012 interview with Maria Raposo, you said "The thought of letting people see stuff that I was the author of was very difficult for me. I yearn for collaboration where shared responsibility means invisibility... to a certain extent." Do you feel more comfortable now with the idea of being seen? In recent years it seems like you’ve been taking the “do-the-opposite-to-what-you-fear” approach in quite a deliberate way. For example, I noticed that the bio section of your website is just a photograph of your bare legs and the promotional material for ‘4 New Paintings’, is a black-and-white “wish-you-were-here” style postcard of you on the beach in a bikini...</p>
				<p><span class="talker">MT__</span>My partner said shyness is ego, so I’ve tried to get over myself. My generation is really the first internet generation, but I think a lot of us have struggled with social media’s colonisation of our psyches. We have had to come to terms with moving from a relatively private society to a very public one. So now I show what I’ve got just like everyone else.</p>
				<p>Actually, those legs aren’t mine, they’re the legs of one of the curators who runs Caribic residency, where, I mentioned earlier, I did that first show as a solo artist I felt like I had a handle on in 2011. That felt like a lascivious gesture; the sausage balloons were about sex and her legs were about sex, too. Controlling my public persona interests me not nearly as much as being on a hot beach under a shady palm or pine.</p>
				<p><span class="talker">IN__</span>Is there anything you haven’t done yet that you would love to do, or that you’re working on at the moment?</p>
				<p><span class="talker">MT__</span>When I was growing up, Farrah Fawcett Majors did this amazing advertising campaign for Lamb’s Navy Rum where she’s wearing a scuba outfit. There is something that is just so “youth” and perfect about the kind of body that goes scuba diving. It’s a bit like athleisurewear; it’s all about fashion and about the perfect presentation of the fit, cool body.</p>
				<p>It’s probably riffing a bit on the Jeff Koons Aqualung scuba stuff too about it being a wealthy, middle class pastime. I’m going to do a version of the Farrah Fawcett Majors campaign with these two older friends of mine. They’re both quite fit - one of them plays football and the other one does rowing, but they’re still imperfect because they’re older, so I could play with that idea. They will be ikebana scuba women. Image making is really important to me and I think perhaps I’m getting close to the graphic sense of advertising through the kind of lexicon of age marks that I repeat as gestures. I have come to see them as similar to a range of emoticons, but of older women.</p>
				<p>I’m also working on a publication that I was originally going to produce for a show I did last year at Timespan in Helmsdale, Scotland. It’s a series of interviews with various “experts” considering whether older women lose their “glow” at menopause, a preposterous idea. I was thinking about what that glow can be and whether it can be replaced with a herbal medicine that I was prescribed when I got my menopause called shatavari and the idea of using it to create a ridiculous perfume that could give women back their premenopausal glow. In this publication I will also be including a piece of work I made which is a collection of photographic portraits of Helmsdale “matrons”, who could only have their photo taken if they expressed their joy at living in this tiny, remote coastal village. It’s basically a series of photos of older women either smiling or laughing. I love them.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide14_sp.jpg" /></picture><span class="caption">Milly Thompson, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Milly Thompson combines painting with mixed media and text. Milly focusses on older women - specifically ageing well and behaving badly. In her paintings they sprawl around pools and beaches. Milly's subjects are characterised by the archaic notion of a ‘social menace’ but they glorify in that, rather than feeling paralysed by its miserable connotations. Her ‘muses' pose carelessly and wear radical perfumes such as ‘Mutiny’ by Maison Margiela, or ‘Lord of Misrule’ by Lush. They laugh loudly and refuse to be silenced by age. Milly uses titles to imbue the paintings with meaning, and employs a stylised lexicon of imagery to extend ideas of fashion and design, again not often associated with older women, which celebrates age spots, cellulite, stretch marks and wrinkles.  Milly counterpoises her female subjects with images of stylised arrangements of plants, domestic objects, shell fish and accessories, at once mirroring and contextualising her female subjects’ glamorous poise.</dd>
					<dd class="desc">Milly was in artists' collective BANK from 1994 to 2003, and created work for BANK’s own gallery, Gallery Poo Poo as well as for solo and group exhibitions at galleries including Tate Modern, ICA and Whitechapel Gallery. Her individual work has been featured in exhibitions, residencies and commissions at galleries including Peer UK, Focal Point Gallery and South London Gallery. Recent solo exhibitions have included 4 NEW PAINTINGS (2020), and, Milly Thompson, NEW PAINTINGS (2019) at Freehouse, Still Same Sexy at Ruby Cruel (2020), and The Moon, the Sea &amp; the Matriarch (2019) at Timespan Institute.  She has been involved in projects including two related commissioned prints for Focal Point Gallery: Save Southend-on-Sea Central Library (2009) and BOGOF (2016), and various publications including Alison Jones &amp; Milly Thompson C21ST RECENT HISTORY (2016) documenting their collaborations and collected works.</dd>
					<dd class="desc">Milly is a six-time recipient of the Goldsmiths Research Award, a two-time winner of the Arts Council of England's Individual Artist Award and the Elephant Trust Award, and has also been presented with the British School at Rome's Sargant Award and the Paul Hamlyn Foundation Award.BANK’s work is held in various public collections including TATE, British Council, MOMA NY and Printed Matter NY.</dd>
					<dd class="desc">She had been teaching at MFA level at Goldsmiths and on the Painting programme at the RCA for the last 15 years.</dd>
					<dd class="desc">She holds a BA Hons in Painting from the Slade School of Fine Art, University of the Arts, London.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://millythompson.co.uk" target="_blank" rel="noopener">https://millythompson.co.uk</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. Her first solo exhibition, ‘Seer Kin Lives’, took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, The Peckham Experiment Building (London), Assembly House (Leeds) and Im Labor Gallery (Tokyo). India was awarded The Villiers-David Bursary, Royal College of Art (2017) and The Steer/Orpen/ Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently shortlisted for the Ashurst Emerging Artist Prize (2020), with an exhibition to be announced later this year.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

