{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__005: Interview with: Cristina Planas",
    description: "Cristina Planas is an artist who reminds you of the multiplicity of the self. Examining her practice thus far, even the word ‘artist’ can feel like an insufficient descriptor for someone whose work has been a process of ongoing self-invention:",
		ogimage: "https://imlabor.org/journal/interview/005/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "005",
                "item": ""+ site.url +"/journal/interview/005/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/005/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "005"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“There are no illusions there as the self needs to be integrated. I guess boxing is a way for me to touch reality.”</h3>
				<p class="lead">Cristina Planas is an artist who reminds you of the multiplicity of the self. Examining her practice thus far, even the word ‘artist’ can feel like an insufficient descriptor for someone whose work has been a process of ongoing self-invention: she is the prize-winning ‘Golden Girl’ boxer who goes by the moniker, Femme Brutale, a former Art Director for a leading fashion label, a filmmaker who has undergone training in a number of methods of dance and acting… these are only a few known incarnations. This willingness to change, to examine, to make detours, is what is so compelling in Planas’ works of performance and video that push against any notion of linearity. In Aliens and Anorexia, a book about Simone Weil, the 20th century French radical philosopher of the body and spirit, Chris Kraus writes: ‘There is a symmetry in following a spiral down as far as it will go.’</p>
				<p class="lead">When I spoke to Cristina on a Sunday morning in mid-May via Zoom, she in Montreal and I just outside of London, this quote wouldn’t leave my mind. In a world that is so in need of reinvention, it felt appropriate to enter into conversation with an artist whose world is populated by shape-shifters, where fiction slips into fact, and the audience along with her characters spiral into many (mis)alignments.</p>
				<p><span class="talker">CASSANDRE GREENBERG__</span>To start, I was curious about your journey with boxing and the alter-ego that emerged from this activity. You created the character and alias ‘Femme Brutale’ in 2017, and since then she has emerged as presence on Instagram, in your film work and in performances. She seems to operate as a kind of archive, as well as a literal fighter that gets in the ring. Given the current situation with COVID-19 and the demand for distance that comes with it, where is Femme Brutale now?</p>
				<p><span class="talker">CRISTINA PLANAS__</span>She is the most elusive part of what I'm doing. She is also my biggest source of frustration. I've been thinking about the relationship between frustration and touch a lot recently. Femme Brutale is a way of seeking access to something within myself.</p>
				<p>She is always lurking in the shadow. As soon as I think ‘ok I’m in a good place, I’m stable or in control,’ she rears her head again...I’m realising more and more that she is a character with whom I am going to have to collaborate. There will always be a dance between Femme Brutale and my ‘self,’ and maybe with other ‘selves’ I have yet to discover…</p>
				<p>I try my best to let go of frustration when it surges, but I’m definitely not satisfied…Sometimes the process of making can feel like wanting to have an orgasm but not wanting to touch yourself. It has to do with the difficulties of aligning intention, desire and action. I don’t think I ever understood when I had urges and impulses that it was okay to be in the world with them, and to satisfy them. In that sense, I’ve spent the past few years being intimate with myself, getting to know what turns me on or off and recognising when I shy away. Femme Brutale explores the many facets of my sexuality and creativity. I’m in love with the creative process, even right now it’s turning me on. It is such a sexy dance of energies. Coming back to boxing, each shot is thrown with intention. A punch is thrown to make a ‘hit.’</p>
				<p>At the moment, Femme Brutale is looking for the next channel. She is the alias I take on when I need to do things that are scary or dangerous. Equally, it is also through her that I can tap into love in a refracted way. The urgency and heartbreak that I feel now comes with trying to understand why it is so hard to hold on to that vulnerable, connected space? How can I forget love?</p>
				<p><span class="talker">CG__</span>With Femme Brutale, she is in dialogue with a combat sport and the kinds of touch (hitting, punching, colliding) that such a sport requires. With boxing, you are standing in a ring and facing an opponent who will try their best to hit you, and you will do the same. There is an agreement and a series of rules that attempt to navigate this otherwise ambiguous arena of contact. I am curious about how you feel no longer being able to spar or fight? What did it mean for you to navigate this space of aggressive contact?</p>
				<p><span class="talker">CP__</span>I didn't often think about it in terms of the opponent or the other. There is such a dichotomy in boxing because there is an unspoken philosophy that whatever happens in the ring is up to you. In the ring, the belief is that you hold the power. Even when you do get hit, that hurting feels like playing a game with yourself.</p>
				<p>I definitely miss the friction of being in the ring. You can become addicted to it. When you're in that boxing space, and in the moments of preparation, everything feels more immediate and acute and you're so much closer to your essence in many ways. There’s an incredible vulnerability and fragility in boxing. It is where I feel most exposed, but also at my most powerful.</p>
				<p>An anatomical fact that I think about often is that I have long arms, which is a big advantage for me because I can use my jab in a defensive way to create space for myself. While this ‘jabbing’ motion is a way of extending my reach, it is also about keeping the opponent away. Before I started boxing, I didn’t how to control space, or give myself space. It was through boxing that I found a way to embody and sculpt my own space outside of the ring. I usually am very forward and aggressive in my style, which means I often crowd myself out — I suffocate my work by stepping in too much, by getting too close to my opponent. It is the moments when my coach yells, ‘USE YOUR JAB,’ that I am reminded of the need for space.</p>
				<p>In the context of COVID-19, we are all now negotiating the giving and taking of space. The boundaries are invisible but they are so palpable and necessary. We’re so aware of each other. Personally I am enjoying the sense of respect this physical distance has created, even if that respect of space only came out of fear. There are many forms of touch that are non-consensual, that have left marks I’m not nostalgic for. I am enjoying the space. I feel more free to be closer to my loved ones under new terms.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/287649365?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: Documentation of Golden Girl championship, 2018, 11:13, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide01_sp.jpg" /></picture><span class="caption">Golden Girls documentation 2018, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide02_sp.jpg" /></picture></span><span class="caption">Femme Brutale’s post on Instagram</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide03_sp.jpg" /></picture><span class="caption">Women's Winter Box Cup 2018_Promo</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">CG__</span>Something I have noticed in your work is that there is an awareness of the body as a force field. I was wondering what you have learned from being in the ring?</p>
				<p><span class="talker">CP__</span>Entering the ring has helped me lose my illusion of the ‘self’ as a separate entity. In boxing you become acutely aware that, in order to be able to fight, you need an untenable presence in the moment. There are no illusions there as the self needs to be integrated. I guess boxing is a way for me to touch reality. Some things become simpler in the ring, I can think ’these hands are real, that punch was real.’</p>
        <p><span class="talker">CG__</span>That sense of illusion versus reality makes me think about how you translated your experience of boxing into a form of performance art. There is a constant challenge between fiction and documentary in how you chose to capture Femme Brutale and her experiences of winning three championships. It seemed to move from a process of self-fictioning into something that became almost too real, because she reached such a point of success that boxing could have become a career. Suddenly you were no longer ‘performing’ boxing, you were becoming legitimated as a boxer. Yet through tracking her movements on Instagram, a platform you use to archive her history, Femme Brutale seems to pull back from fully pursuing that potential ‘career’ route. What do you think about that as a reading of the work?</p>
        <p><span class="talker">CP__</span>Absolutely. It was a mindfuck. I don’t think I have ever exercised as much artistic intention as I did through Femme Brutale. I knew what I was doing from the beginning, I had articulated to myself that this is what my year was going to be about, while also feeling that I had accidentally tripped over a threshold. So by the time I had been able to conceive and articulate what I was going to do, or what I was doing, it was already too late. There was a fall because, unknowingly, Femme Brutale acquainted me with the shadow parts of my self. I didn’t know what I was getting myself into. I was left wondering: ‘was that me or was that something else?’ But it was so real. It stemmed from a real need for transformation and change. She came out of me.</p>
				<p><span class="talker">CG__</span>What have you been working on most recently?</p>
				<p><span class="talker">CP__</span>I’m currently collaborating with Adam Basanta, a Montreal-based artist. We’ve carried over the media architecture of my initial performance and have created a 24 hour live stream. We’ll be working through improvisation and immediacy, exploring art making as theatre and storytelling, and experimenting with ongoing acts of sculpture and performance. I’ll be performing excerpts from my moving-image piece and developing it in tandem as we go along. You can log on at <a href="https://espacebrutale.live/in-formation" target="_blank" rel="noopener noreferrer">https://espacebrutale.live/in-formation</a></p>
				<p>Apart from that, Last year, with a grant from the Canadian government, I began developing a three-part film work. This work takes the form of a series of concentric circles: ‘Desire,’ ‘Nostalgia’ and ‘Vision.’ I examine ‘Desire’ through boxing, in which I am exploring the concept of the ‘shot' as a precise form of touch that is present in both film and boxing. In ‘Nostalgia’ I explore family history. These two emotional strands of ‘Desire’ and ‘Nostalgia’ then lead to ‘Vision,’ which I am in the process of articulating through a series of workshops, collaborating with acting coaches, choreographers, and other creatives. Part of it entails embodying my paternal grandmother, who I’ve never met, and enacting scenes from her personal history. To do this I’m pulling information from a 1950’s magazine cover and interview she features in.</p>
				<p>In order to prepare for the role I wanted to explore alternative means to boxing of physicalising imagination and speech. Through research, I found the Suzuki method of acting, developed by the Japanese theatre director, philosopher and writer Tadashi Suzuki, which is a rigorous training technique for stage actors involving stomping, footwork, squatting, making statues with your body and voice-work. It’s a way of finding and moving from your centre, preparing the body for speech and training the body to generate and hold images.</p>
				<p>I am combining this with another actor-training method called ‘Crosspoints’ to step into character creation perhaps even more consciously than I had through boxing.</p>
				<p><span class="talker">CG__</span>There is a strong relationship in your work between photography as a document of ‘fact’ and as a process of self-exploration and renewal. How do you see the photos, films and installation works functioning in relation to your performance work? How did you observe your body and its capacities change through the making of these records?</p>
				<p><span class="talker">CP__</span>It’s a process of witnessing, journalling, documenting. It’s also part of the device of observing and actualising simultaneously. I found myself creating and performing images that foreshadowed what would take place. The videos I made of my abs, as well as the black-and-white performance images were a sort of quantum form of signalling from the past to the future. They’re humorous because I was enacting something fictional, but it passed through to reality - it really worked!</p>
				<p>There is definitely a collapse between the image and the image-maker. You fall into this cycle of prosumerism where you are at once producing and being produced by the image. I am not sure it’s particularly healthy but it links to my exploration of drive and desire. How do we break out of this cycle? This is what the third instalment and concentric circle of the film, ‘Vision,’ is going to explore.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/410470472?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: Desire (Teaser), 2019, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide04_sp.jpg" /></picture><span class="caption">Femme Brutale Archive, 2018, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide05_sp.jpg" /></picture><span class="caption">The Fool’s Confession_Performance flyer 2020</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/419765886?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: The Fool's Confession, April 2020_Documentation Edit, 02:44. Courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">CG__</span>Your most recent performance work was called Testing 2.0 The Fool’s Confession. In this work you performed using a multi-camera set up on the online video platform ‘Zoom’. Here you seemed to be ‘live editing’ by switching camera angles.</p>
				<p>In this performance you used a lot of imagery of Catholicism, the figure on the cross for example. It made me think of the ways in which people are trying to figure out how to practice worship during a pandemic and how to evoke the spiritual through technology. I was wondering about the interrelation between witnessing, spirituality and performance in your work? What does a mediated, networked audience bring in this regard?</p>
				<p><span class="talker">CP__</span>For me, the iconography of the cross came from a space of resisting worship. But the cross also represents a human and its body. I keep returning to the idea of the body as a technology; it is equally connected, networked and receptive.</p>
				<p>I think to worship or ‘bear witness’ in the religious sense is similar to conjuring, it’s like throwing an appellation out and receiving it back. It comes down to experience for me. You go off and you have these experiences and witness miraculous things happen but you are also aware that by embodying a certain way of being a conjuring has taken place. And so the outcomes or the traces left all stem from this work of levelling. The performance is usually the way in, a gateway. But we are creating these ‘archives of perpetual witnessing,’ like the artist Jesse Darling says, through social media and the work that people are making from this technological material.</p>
				<p>Testing 2.0 The Fool’s Confession was a way of personifying the warring factions within myself and finding an expression for the inward process of change that I had undergone. The performance was a 9-angle performance through the Zoom platform. It was a form of live filmmaking in that the piece was edited live by cutting from one camera to the next. I had a narrative continuum throughout the physical space (across four distinct vignettes) as well as using various intensities.</p>
				<p><span class="talker">CG__</span>What I thought was interesting about that particular piece was that you used multiple views throughout the space, which separated the room into these connected yet discrete scenes. And, unlike the single screen that is dictated by the limitations of Zoom and one’s hardware, in your performance the screen refracted and suddenly one space was filled with a multiplicity of views. I think there is a compelling interplay here between the history of cinema and its capacity for multiple views and the emerging language of digital communication via platforms like Zoom, that place an implicit onus on the viewer to show their face, in a full-frontal image, and prioritizes the screen from which sound is coming. Hence, to be present and visible is to be speaking. In creating this work, I am curious as to how you navigated those tensions, between cinema and alternative media, between the singular image of the face and the diffused view of an empty alcove?</p>
				<p><span class="talker">CP__</span>Through this digital portal I wanted to travel through my internal, psychological and emotional landscapes of change. It was a confession. It was also a live dialogue with three collaborators: these were Stephen Atkins, a director and acting teacher who spoke about his Crosspoints acting methodology as a departure from Viewpoints theatre training and Jungian psychoanalysis, Faisal Naqvi, the founder of ‘osteopathy without borders’ who gave us a window into the murmurs and potentialities of the body and Ray Dunmeyer who drew from his experience as an Olympic Judoka who lost his physical sight to glaucoma to offer some thoughts on alternative ways of seeing.</p>
				<p>In answer to the use of the multiple screen, I thought of it as a cubism of film, where these slivers of reality are intersecting and multiplying as they enter into the matrix of social media and other platforms. Internally, as a performer, I wanted to create a series of mutating emotional and psychic distortions that would be both legible on my face and the result of these multiple projected gazes (camera angles). In cinema the face typically shows depth of character. It’s a window into the character’s inner world, but also a space of projection. Similarly, in my performance the empty alcove is both character and vessel.</p>
				<p><span class="talker">CG__</span>Looking ahead, I read an article by the Hollywood film editor, director and writer Walter Murch in The Guardian about the loss of the shared cinematic space with the closing of cinemas due to COVID-19. It made me think about the ways in which cinema is changing and how the movie industry has come to a standstill while the YouTube format of one person performing in front of a camera is becoming more pervasive. I wonder what the future of film may look like?</p>
				<p><span class="talker">CP__</span>I don't know that ‘cinema’ is going to be as important in the creation of reality in the way that it has been in the past. I think making and watching will become simultaneous and people are going to step into their own versions of reality-making. I think this goes back to witnessing. This facade created through social media of people ‘living their best lives,’ indicates that everyone wants to live in a movie of their own creation. We are fantasising individually and collectively through our phones all the time already. I think soon enough we’ll be able to adjust parameters of our projected lives and watch endless alternate versions.</p>
				<p>I also don't think cinema is going to be single channel for much longer. Maybe this is my maximalist bias but I think people want to be surrounded sensorially by fantasy in ways that maybe the single screen cinema doesn't allow for. I think it'll be like a maximalist version of the IMAX, where the seats shake. In terms of the cinematic space post-lockdown, people will need a new reason to go to these places. The experience as a whole will be the draw in. This phenomenon could already be seen through the popularity of organisations like Secret Cinema which offer immersive cinematic experiences or that gigantic Russian hubris project called DAU. I wonder if it will mark the death of editing itself… perhaps nothing will be excluded. Virtual Reality and expanded spatial presentations of cinema will become a reason to physically gather. Imagine a modular cinema, where the director will go in and ‘direct’ by designing the viewing room, how many screens, how many sound channels, what seats the audience will sit in…</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide06_sp.jpg" /></picture><span class="caption">Cristina Planas, Courtsey of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Cristina Planas is an artist and amateur boxer based between London and Montreal. She began boxing in 2017 and has since competed internationally, winning 3 championships including the national UK title in her category.<br>
          In 2019 she received a research and creation grant from Canada Arts Council for the development of a 3-part moving image piece.She is currently in the process of character creation for this role,and developing the piece through a series of workshops and works of expanded cinema. These include a 9-angle piece titled “The Fool’s Confession” performed live on Zoom on April 1st 2020, which was an extension of a “The Fissure” performed at COB gallery in October 2018. In April 2020 her video poem “Ode from Academy Street” was selected by Jesse Darling as part of their “Everything Happened So Much” series, and another video poem titled “9.7 Billion Of Us” was also selected by Misha De Ridder as part of the “So real, So very now” selection premiering at the Oberhausen short film festival. Past shows and performances include, participation in “Peregrination” an online pavilion for The WRONG digital arts biennale (2019), an installation in NEW WORK PART III: SUBJECT, COB gallery in London (2018), installations in Michele Lamy’s, Forever Young exhibition at JOYCE Gallery in Paris (2018), and LAMYLAND in Selfridges (2018).
          </dd>
					<dd class="desc">In April 2021 she will begin a visual arts fellowship at Akademie Schloss Solitude.<br>
          She is a Slade School of Fine Art graduate.</dd>
				</dl>
			</div>
      <div class="c-data">
				<p class="link"><a href="https://cristinaplanas.com/" target="_blank" rel="noopener">https://cristinaplanas.com/</a></p>
				<p class="link"><a href="https://espacebrutale.live/in-formation" target="_blank" rel="noopener">https://espacebrutale.live/in-formation</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">Cassandre Greenberg</dt>
					<dd class="desc">Cassandre Greenberg is an artist and writer, living in London. Her work has been shown at ICA, IMT Gallery, SPACE Studios, Auto Italia and others. Recently, she was a recipient of FVU and Art Monthly’s 2020 Michael O’Pray writing prize. Upcoming is an audio documentary she produced for BBC Sounds, telling the story of an LGBT+ British flight attendant working during the AIDS Epidemic.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

