{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'jp',
    title: "INTERVIEW__011: Interview with: インディア・ニールセン",
	description: "インディア・ニールセンは、ロンドンを拠点に活動するイギリス人アーティストである。今回im laborでの個展「Crybaby」を開催するにあたって、彼女の作品の主軸である絵画や展覧会タイトルの由来、今後の予定などについて話を聞くことができた。",
	ogimage: "https://imlabor.org/journal/interview/011/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
							"@type": "ListItem",
							"position": "1",
							"name": "TOP",
							"item": ""+ site.url +"/"
            },
						{
							"@type": "ListItem",
							"position": "2",
							"name": "JP",
							"item": ""+ site.url +"/jp/"
            },
            {
							"@type": "ListItem",
							"position": "3",
							"name": "JOURNAL",
							"item": ""+ site.url +"/jp/journal/"
            },
            {
							"@type": "ListItem",
							"position": "4",
							"name": "INTERVIEW",
							"item": ""+ site.url +"/jp/journal/interview/"
            },
            {
							"@type": "ListItem",
							"position": "5",
							"name": "011",
							"item": ""+ site.url +"/jp/journal/interview/011/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/011/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "011"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「絵を描くとき、私たちは自分の直感を信じる必要があります。直感を信じるということは、自分自身を知ることでもあります。それはとても肯定的なことであり、画家であるためには、自分をとても大切にしなければならないと思うのです。」</h3>
				<p class="lead">インディア・ニールセンは、ロンドンを拠点に活動するイギリス人アーティストである。今回im laborでの個展「Crybaby」を開催するにあたって、彼女の作品の主軸である絵画や展覧会タイトルの由来、今後の予定などについて話を聞くことができた。</p>
				<p class="lead">私が初めてインディア・ニールセンの作品を見たのは、2016年、彼女がロンドンにあるロイヤル・カレッジ・オブ・アートのペインティング・プログラムに入学したばかりの頃である。アトリエでニールセンは、彼女の体を優に覆ってしまうような、2m近くある大きなキャンバスにデフォルメされた身体や、漫画のキャラクターのような顔、肋骨に燃える海など、様々なモチーフが描かれたキャンバスと格闘していた。一見バラバラにも見えるモチーフは、ギリギリのバランスでキャンバスの中に埋め込まれていたのが印象的であった。彼女が選ぶモチーフは奇妙で、宗教的にも見える。それらのイメージは日常的に集められ、まるで音楽をサンプリングしていくかのようにニールセンの感情に合わせてキャンバスへと配置されていくのである。</p>
				<p class="lead">ニールセンはそれらのモチーフを「自分の感情を入れる器」と説明しているが、彼女が幼少期に親しんだ音楽やアニメのキャラクターを自身が乗り移ることのできるアバターのように見ていたという話を聞いて妙に納得した。パワーパフガールズの敵役HIMも、切断された四肢も、太陽に照らされる蟻も、全て彼女自身の分身のようなものであり、今この瞬間も彼女の感情がそれらモチーフを介して行き来し続けているのかもしれない。</p>
				<p><span class="talker">IM LABOR__</span>ニールセンさんは、主に絵画を中心に制作を行っていますが、制作を始めたきっかけや、何故絵画である必要があったのかについて話を聞かせてもらえますか？</p>
				<p><span class="talker">INDIA NIELSEN__</span>美大に入学すると、各々学生たちは「アートのようなもの」を作り始めると思います。イギリスのアートスクールは対話を重視しているので、私の初期の作品は今よりもコンセプチュアルベースでパフォーマンス的なものが多く、作品を通して何らかの反応を引き出すことを目的としていました。</p>
				<p>在学中に、巨大な絵画を制作してそれを互いに批評し合うという「ビッグ・ペインティング・ウィーク」という授業がありました。その課題中、私は隣で制作していた男子と彼が描いていたレベッカ・ブラックの巨大なペインティングや、インターネット以降の大きな絵画作品の在り方などについてずっとお喋りして過ごしていました。私の講評会は彼の直前だったんですが、私は彼が作った巨大な絵画をポストカードサイズの紙に色鉛筆で描いたものを発表したんです。作品を見せながら、制作中に彼とお喋りしながら書き留めていたメモの内容を話したりして…講評中周りは混乱した様子でした。彼の巨大で、真面目に描かれたペインティングの横に、私が作った同じ絵が描かれたジャンクなポストカードが置かれてあるわけですから、確かに異様な光景だったと思います。</p>
				<p>同時期に彫刻の授業の講評会もありました。その時は友人と一緒に同級生や先生を部屋に閉じ込めて、入り口を木の板で塞いだんです。部屋の至る所にドリルを隠しておいて、彼らが自分で外に出てこれるようにしました。閉じ込めた後は非常階段からこっそり外に出て、ずっと隠れてました。その当時の私は他者からの反応や、エネルギーを求めていたのだと思います。その時に制作した作品は実験的な意味では必要であったと思うので後悔はしていません、そのお陰で自分が作りたいものはこれではない、ということに気づけましたし。</p>
				<p>当時の私は、周りの同級生が自分たちがどれだけ真剣に美術に取り組んでいるか等を熱弁してる姿を揶揄していて、理論や批評で溢れ（私も含め）、自分たちがいかに賢いかを示そうとする人たちだらけの環境を今にも弾けてしまうバブルのように感じていました。その頃の私の作品は、マジョリティーと対極にあるスタンスをとり、反抗している姿勢を見せていただけに過ぎなかったんだと思います。</p>
				<p>もし本当の意味でそのような状況から解放されたいのであれば、「アイロニーなんてクソ食らえ」という気持ちを持って、自分の好きなこと、考えていること、感じていること、興味を持っていることなどを恥ずかしがらずに作品を通して真剣に探求するべきですよね。絵画は、表面に線や色が描かれているだけのシンプルで、「隠すこと」が難しい媒体なので、自分を表現するのに一番合っているように感じました。絵画制作は深く考えることを拒むような特質があるので、自分の直感を信じるための素晴らしい訓練にもなっていると思います。
				<p><span class="talker">IL__</span>なるほど、様々なメディアを試した後に、より直接的な表現を求めて、絵画に行き着いたんですね。ニールセンさんの絵画は、具象、キュビズム、抽象にも見えますし、作品には様々な美術史のコンテクストが引用されていたり、突拍子もないキャラクターが登場したり、一概に分類するのは難しいと思います。</p>
				<p><span class="talker">IN__</span>そうですね。私が自分の作品について話す時、「子供の頃にビデオゲームやコンピュータゲームをプレイしたときの感覚」とよく説明します。ゲーム中の視点をFPS（ズームイン）に切り替えると、自分がコントロールしているキャラクターが死ぬまで何時間もそのキャラとして存在することができます。没頭すればするほど、自分が本当にそのキャラクターとして生きているように思えてくるのです。一方視点をTPS（ズームアウト）に切り替えると、画面には地図などの俯瞰的なイメージが現れます。私はこの2つの視点を行き来することに戸惑いを感じていました。</p>
				<p>同じように、私が若い頃（今も若いですけど）に心惹かれた音楽やアートと自分自身の関係性は、私がゲームプレイ中に感じていた感覚に近しいものがありました、身近にあり親しみがあるのに、奇妙で遠く、難解な空間に自分を閉じ込めるような、アートや音楽は私にとってそういった存在でした。私も自分の作品を介してこのような感覚を鑑賞者に与えることができればと思っています。なので、絵を描いているときは、自分の個人的な歴史や、より普遍的なもの（聴いている音楽や映画など）を参照しながら、本能的に完成までの道筋を感じ取っています。作品制作は私にとって非常にエネルギーが必要な作業です。</p>
				<p>私はまた、「ズームイン」と「ズームアウト」の感覚、ミクロとマクロの感覚を、スケール的観点から制作に応用しています。現在、自分くらいの大きさのペインティングと、両手で持つことが出来るくらい小さなサイズの長方形型のペインティングを制作しています。小さいサイズのペインティングはタブレットのような、持ち運べる窓みたいな感覚で作っていて、『Soft Little Soldier』 や 『Vengeance is』などもそうですね。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide01_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide02_sp.jpg" /></picture></span><span class="caption">'I.N.D.I.', 2018, Copper Leafing on woord, 35 × 35 × 5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide03_sp.jpg" /></picture><span class="caption">''M' is for Madonna, 'M' is fo Mariah, 'M' is for Mother (IATG)', 2021, Oil on linen, 117 x 137cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide04_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide05_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide06_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide07_sp.jpg" /></picture></span><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide08_sp.jpg" /></picture><span class="caption">'Soft little soldier (burning ants)', 2021, Oil on linen, 56 x 20.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide09_sp.jpg" /></picture></span><span class="caption">'CRY____BABY', 2021, Cherry wood, 79 x 12cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide10_sp.jpg" /></picture><span class="caption">'H.I.M.mmm (my baby’s got a secret)', 2021, Oil on linen, 150 x 120cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide11_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide12_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>今回の展覧会タイトルについて話を聞かせてもらえますか？</p>
				<p><span class="talker">IN__</span>今回の展覧タイトル「Crybaby」を決めるにあたって、自分の個人的な歴史、つまり、自分が育ってきた過程で聴いたり見たりしたもの、いろいろな意味で私のアイデンティティを形成したものについ考えました。例えば、「Crybaby」で展示している作品のタイトル「H.I.M.mmm（my baby's got a secret）」は、パワーパフガールズの敵役の悪魔「HIM」を参照しました。HIMは高い声をしていて、尖ったサイハイブーツとピンクのフリルとフワフワのスカートを着ています。リミックスされたマドンナの曲「Secret」のコーラスと一緒にフェイドアウトしていきます。昔はどんな音楽を聴いていたかで自分の出身地の特定の地域社会を示していたかもしれませんが、私はインターネットと共に育ったので、私が幼少期に吸収した文化的素材の多くは多様性に溢れ、グローバルなものでした。</p>
				<p>当時、私は自分が好きだった多くのキャラクターや物事に過度な親近感を抱いていて、それと同時に私たちの間に冷たさや距離感も感じていました。例えば、ロンドンのカトリック修道院学校に通う10歳の白人の少女であった私とウータン・クランとの間にどんな共通点があったと言うのでしょうか？ ウータン・クランに憧れる自分と、現実の自分、ミクロとマクロを往来することで生じる不協和音。インターネットはこのような心理的すれ違いを生み出すように思います。私は、自分が好きだったアーティストやミュージシャン、アニメや漫画のキャラクターの多くを、自分が乗り移ることのできるアバターとして見ていました。言うなれば、ロールプレイングゲームのようなものです。キャラクターに乗り移ることによって、普段自分では触れることのできない、隠れた自分や、精神を解き放つことができるように感じていたのです。大人になった今、私は自分の絵を同じように見ています。絵画は自分の感情を注ぎ込むことができる器として存在します。自分の感情を注ぐことで、絵画自体も感情的に何かを返してくれるのです。</p>
				<p>また、ここ2、3年はセルフケアについてよく考えていました。生産的なものや社会的に受け入れられるものだけでなく、自分のすべての感情を肯定することの重要性についてです。 特に女性にとっては重要なことだと思います。というのも、私たちは、感情は自分を縛る弱点であると教えられているからです。身体的、感情的な本能は、女性らしさと結びついていると思われることが多く、感情的になると「ヒステリー」と揶揄されることがあります。これは女性蔑視であると同時に、人間は生産的な機械の歯車でなければならないという能力主義的、資本主義的な考え方にも由来しているのではないでしょうか。感情は、どれだけ生産的、有用、あるいは社会的に受け入れられるかによって、「ポジティブ」または「ネガティブ」に分類されます。本来、感情は、私たちの心と体が必要なものを教えてくれる、貴重なガイドなはずです。「Crybaby」というタイトルは、このような考えや感情から閃きました。絵を描くとき、私たちは自分の直感を信じる必要があります。直感を信じるということは、自分自身を知ることでもあります。それはとても肯定的なことであり、画家であるためには、自分自身をとても大切にしなければならないと思うのです。</p>
				<p><span class="talker">IL__</span>初期の作品から、カトリックのイメージである聖心、切断された四肢、アニメのキャラクターや胎児など、非常に象徴的なモチーフを使っていますね。それらのイメージはどこから来たのでしょうか？</p>
				<p><span class="talker">IN__</span>何年も前から、日常的にイメージを集めていて、ノートパソコンのフォルダーにカテゴリー別に保存しています。新しい絵画を制作するときには、時間をかけて、作品の方向性や効果、感じ方について書き出します。それからイメージを集めて、それぞれの絵に大まかなグループ分けをしていきます。周りにイメージやメモを置いておくこともありますが、最終的には自由にイメージを浮かび上がらせていきます。</p>
				<p>私は非常に鮮明な夢を見ます。夢の中では、決まったキャラクター / モチーフが繰り返し出てきます。そのキャラクター / モチーフは夢ごとに姿は変わっているのですが、同一人物であるということを示す特徴を必ず持ち合わせています。そのキャラクターはいつも必死になって私に何かを伝えようとしているのですが、夢ごとにそのキャラクターには何かの能力の制限が課せられていて、上手く伝えることができません。ある夢では、そのキャラクターは丸くて赤い顔をした典型的なイギリス人の風刺画のような顔をした男で、私が泳いでいる湖に浮かぶ手漕ぎボートの上に座っていました。夢の中で、彼はまっすぐ前を見つめ、大笑いをしながら大げさにオールを動かすことしかできず、その姿はまるで漫画のキャラクターのようでした。</p>
				<p>別の夢では、キャラクターはエルフのようなピンク色の胎児を流し台で洗っていて、私に直接話しかけてきましたが、彼は広東語でしか喋れず何を言ってるかはわかりませんでした。キャラクターが自由自在に動き回っている夢もありました。彼（キャラクター）は話すことはできず、ただ地下の研究室にある実験体に置かれている物体を指差しながら私を見つめてきました。その物体は、ゴリラとイギリス人の探検家ロバート・ファルコン・スコットの頭部で、彼らの脳みそを入れ替えるという実験をしている途中のようでした。この変幻自在のキャラクターは、私の潜在意識が私自身を投影したものではないかと思うようになりました。というのも、私は絵画の中で使用するイメージや画風、キャラクターを、自分が乗り移ることのできるアバターとして使用しているからです。</p>
				<p>ローマ・カトリックの家系に生まれた私は、カットリックの思想を通して芸術と、芸術がポータル（別の感情領域に連れて行ってくれるもの）として機能するという考えを初めて知ったので、私の作品にはカトリックのイメージもよく出てきます。また、女性の聖人が泣いている図像や、悲しみをフェティッシュに表現されているイメージに影響されて、私の中で聖女の涙には癒しと力があるという考えが強く残っています。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide13_sp.jpg" /></picture><span class="caption">'After Cease To Exist (IAE4.E)', 2021, Oil on linen, 117 x 137cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide14_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide15_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide16_sp.jpg" /></picture></span><span class="caption">'_SO SOFT_', 2021, Oak wood, 48×16cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide17_sp.jpg" /></picture><span class="caption">'_SO_STRONG_', 2021, Oak wood, 59 x 15.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide18_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide19_sp.jpg" /></picture><span class="caption">'Vengeance Is', 2021, Oil on linen, 56 x 20.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide20_sp.jpg" /></picture><span class="caption">Bottom: 'BURN IT DOWN', 2021, Cherry wood, 78 x 20cm / Top: 'BUILD IT UP', 2021, Cherry wood, 64 x 19.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide21_sp.jpg" /></picture></span><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide22_sp.jpg" /></picture><span class="caption">'P.T.S.D.(Prayer To St. Dymphna)', 2021, Oil on linen, 150 x 120cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide23_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide24_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide25_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide26_sp.jpg" /></picture><span class="caption">'SIGIL_JAN_2021', 2021, Oak wood, 25 x 34.5 cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide27_sp.jpg" /></picture><span class="caption">'CRY BABY', 2021, Oil and acrylic on wood, 45 x 40cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>絵画作品以外にも、2018年以降から多く彫刻作品も制作されてますよね。ニールセンさんは「モジュール」と称していますが。モジュールと絵画作品は互いにリンクし合っているのでしょうか？ また、モジュールはニールセンさんの中でどのような位置付けとして存在しているのですか？</p>
				<p><span class="talker">IN__</span>モジュール作品は、RCA（ロイヤル・カレッジ・オブ・アート）に在学してた頃、絵画を流動的で互いに影響し合うような見せ方はないだろうか、と考えたことがきっかけで作り始めました。絵画の周辺の空間を引き伸ばす方法として、フレームに着目したのですが、従来のフレーム（額装）は、あくまでも絵画の見栄えをより良くするための「仕上げ」として最後に追加されるもので、非常に窮屈な感じがしました。なので、フレームをモジュール化することにしました。最初はペインティングの角に合わせてテンプレートを作り、木を切って作りました。テンプレートに絵画の文脈に付随した文字やイメージを描き、またペインティングと並行して制作するので、互いにリンクし合っています。モジュールのために書いたドローイングやテキストがペインティングのアイディアに繋がることもあります。また、モジュールと絵画の組み合わせは、空間の雰囲気などに合わせて変わることもあります。</p>
				<p><span class="talker">IL__</span>今回の個展「Crybaby」でも多くのモジュール作品を展示していますが、以前と比べるとよりサイトスペシフィックなものへと変化しているように見受けられます。当初考えていたフレーム装置としてのモジュールと比較して、今回のモジュールは空間の中でどのような機能を期待して制作したのでしょうか？</p>
				<p><span class="talker">IN__</span>今回の個展では、初めての試みとして空間に合わせたモジュールを作ってみました。作品と作品の間にもっと空間を作りたかったので、ギャラリー内の様々な隙間にはめ込んだりしました。このモジュールは、彫刻的といっても、個人的には2次元的なものとして認識しています。直線で縦横左右にインストールされている様は目的地に向かいおろおろしているようで、絵画の構成から抜け出したテキストのテトリスみたいだなと思っています。</p>
				<p><span class="talker">IL__</span>「テキストのテトリス 」、面白いですね。モジュール作品で使用されているテキストは書体的にも、意味的にも、風変わりで、強烈なのものが多く、魅力的ですよね。これらのテキストはどのようにして思いついたのですか？ また、モジュールがペインティングの構成から抜け出したテトリスのピースだとしたら、常に特定のペインティングと補完し合った関係として存在するのでしょうか？</p>
				<p><span class="talker">IN__</span>テキストは、私が若い頃のミュージックビデオやアルバムでよく使われていたブラックレターという書体を基盤にしています。私が手を加えると、なんだかシャープな見た目になってしまうのですが、今回は、もっとソフトな感じにしたかったので、角が丸いカリグラフィ風の斜めの書体の要素を加えました。斜めにすることで、モジュールに書かれたテキストがまるで文章の中の言葉のように空間の中で流れていきます。</p>
				<p>先ほど、ペインティングはドローイングではなく書くことから始まると言いましたが、そう考えるとペインティングに付随するようなフレーズや単語が常に存在するのは私にとっては普通のことのように思います。私は、新しいペインティングの制作に取り掛かるたびにプレイリストを作るのですが、そのプレイリストがモジュールやペインティングで使用する言葉に影響を与えていることがよくあります。</p>
				<p>例えば今回展示している作品を作り始めるにあたってマドンナ、マライア・キャリー、アリアナ・グランデ、BbyMutha、ARCA、ラナ・デル・レイ、OSHUN、メーガン・ザ・スタリオン、アジーリア・バンクス、ドージャ・キャット、ブリトニー・スピアーズ、ケイラ、などの女性アーティストをフィーチャーした「209121IMD0WVGU831」というプレイリストを作りました。なので、図像的ににも言語的にも多角的な意味で今回の作品はこれらの曲の影響を受けていると思います。基本的に私のモジュール作品は直接的な単語やフレーズが用いられたものが多いのですが、中にはコード化されたものもあって、私の日常におけるコミュニケーション方法が反映されているのだと思います。</p>
				<p><span class="talker">IL__</span>最近、気になった画像や情報で、今後作品に取り入れたいものはありますか？</p>
				<p><span class="talker">IN__</span>特定の意味を持ったイメージや言葉を使ってみたいと思っています。また、外界の出来事をより明確に参照して、私がペインティングを通して築いてきた非常に個人的な言語の中に取り入れてみたいですね。例えば、トランプ大統領やパンデミックなど、政治的なことに言及した作品。政治的で風刺の効いた作品を安っぽくならずに作るのは非常に難しいと思うので、そういったことにチャレンジしていきたいです。</p>
				<p>後は、抽象的ですがペインティングがコントロールできる空間をもっと広げたいと思っています。私のペインティングは、複数のスクリーンを重ね合わせたようなもので、イメージが薄いのか、それとも遠く離れているのかわかりにくいと思います。それをどうにかして、誇張してみたいなと。</p>
				<p><span class="talker">IL__</span>最後に2021年の計画を教えてください。まだやっていないことで、ぜひやってみたいことや、今取り組んでいることはありますか？</p>
				<p><span class="talker">IN__</span>そうですね、たくさんあります。まずは、ロンドンで個展をしたいです。今週末に、4月1日に配信される予定のポッドキャスト（The Artist's Contemporaryとの共同制作）の収録があるんですが、初めての経験です。あと、昨年のコロナ渦にim laborとインタビューシリーズを始めたんですが、尊敬する著名なアーティストの話を直接聞ける機会ができて、彼らと長時間話すことで多くのことを学ぶことができました。インタビューシリーズを始めなければ、彼らに声をかけられなかったと思うので、このシリーズは今後もぜひ続けていきたいです。</p>
				<p>近々自分の作品集を出版したいと考えてますが、まだ具体的なスケジュールは未定です。2020年はコロナの影響で、不確実な予定も多く、時間との関係性も変化しました。結果、自分が本当に大切にしたいことに集中できる自由を手に入れられたので、私にとっては重要な年になったと思います。2021年も、引き続き大切なことを優先できるようにしていきたいです。具体的な期待はしないようにしていますが、今は展示や作品作りをただただ楽しんでいます。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        		<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide28_sp.jpg" /></picture><span class="caption">India Nielsen, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">インディア・ニールセンは、ロンドンを拠点に活動しているアーティストです。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2021年には、ロンドンのFREEHOUSEで個展を開催するほか、マーゲートのWell Projectsで2人展、ITローマのAnnarummaギャラリーで3人展を開催する予定です。主な個展「Seer Kin Lives」は、2016年にロンドンのJack Bell Gallery（ロンドン）。2020年にはPlatform Southwark（ロンドン）での2人展他、Eastside Projects（バーミンガム）、Roman Road、Southwark Park Galleries、Collective Ending、The Residence Gallery、ASC Gallery、The Hockney Gallery、Gallery 46、The Horse Hospital、Tripp Gallery、Matt's Gallery、Limbo、The Peckham Experiment Building（ロンドン）、Assembly House（リーズ）、White Columns（ニューヨーク）、Spazio Amanita（フィレンツェ）、Im Labor Gallery（東京）など国際的に作品を発表しています。主な受賞歴に、ロイヤル・カレッジ・オブ・アートの「The Villiers-David Bursary」（2017年）、スレード・スクール・オブ・ファイン・アートの「The Steer/Orpen/Charles Heath Clarke Bursary」（2016年）、「a-n arts Writing Prize 」(2019年)。<br>
					RCA卒業後は、ノルウェーのアーティストIda Ekbladに従事。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.indianielsen.com/" target="_blank" rel="noopener">https://www.indianielsen.com/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

