{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__008: Interview with: フランチェスカ・ブロムフィールド",
		description: "フランチェスカ・ブロムフィールドは、ロンドンを拠点に活動するイギリス人現代アーティストである。彼女は、バロック建築のレリーフを想起させる木彫りの彫刻や、装飾的なイメージとテキストを組み合わせ緻密に描かれた、まるで暗号のようなドローイングやペインティング作品を中心に制作を行っている。",
		ogimage: "https://imlabor.org/journal/interview/008/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "008",
                "item": ""+ site.url +"/jp/journal/interview/008/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/008/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "008"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「私にとって作品とは、カタルシスのプロセスを伴う、感情、そして喪失感の風景が具現化されたものなんです...」</h3>
				<p class="lead">フランチェスカ・ブロムフィールドは、ロンドンを拠点に活動するイギリス人現代アーティストである。彼女は、バロック建築のレリーフを想起させる木彫りの彫刻や、装飾的なイメージとテキストを組み合わせ緻密に描かれた、まるで暗号のようなドローイングやペインティング作品を中心に制作を行っている。フランチェスカは自分自身を「挫折した風景画家」であると説明するが、それと反して、彼女の複雑なドローイングや水平型のペインティング、木彫作品を眺めていると、見えないはずの風景がその場に浮かび上がってくるのである。通常、フランチェスカの作品は長い時間と労力を費やして制作される。その制作過程の中で素材の細部へと染み込んだ彼女の空想が’鍵’となり、私たち鑑賞者は彼女の心象風景を垣間見ることが出来るのかもしれない。</p>
				<p class="lead">本インタビューでは、プロジェクトスペース、2x2x2（東京・上野）で2020年10月17日から11月21日まで開催される個展「Daisies」について、また新作「Study for a Daisy Chained Walk」を中心に、彼女の個人的な背景や芸術的な活動について話しを伺った。</p>
				<p><span class="talker">IM LABOR__</span>まず初めに、あなたの絵画作品についてお話をお聞きしたいのですが。フランチェスカさんの油絵作品は、過剰なまでに厚い絵の具の層で構成されていて非常にユーニークなテキスチャーが特徴的ですが、どのようにしてこの手法に行き着いたのでしょうか？</p>
				<p><span class="talker">FRANCESCA BLOMFIELD__</span>私のペインティング作品はバロックに通じるような、誇張されたボリュームや曲線を用いて作られています。私は常々、物質的な官能性の観点で退廃的で、濃厚な絵画を作りたいと思っていました。イメージや絵画の表面を、強烈かつ閉所恐怖症的というか、圧迫されているような印象にしたかったので、キャンバスのサイズも小さめのものを選んでいます。ひたすら絵の具を何層にも重ねていく作業は、個人的に非常に不条理でバカけた時間の使い方だなと感じますが、もともと‘ファインアート’として絵を描くこと自体滑稽なことですよね… 最近は油絵から離れて、ドローイング、木工、テキスタイルなど、他の分野にも力を入れています。私が絵を描いている時に心がけていることは、絵の表面の密度を消すのではなく、プロセスを隠さず、証拠としてみせることです。そうすることで、制作過程に内在する論理を可視化させることが可能になるんだと考えています。</p>
				<p><span class="talker">IL__</span>確かに。あなたの絵画からは異常なまでの密度というか圧迫感を感じますが、それを表現するために小さいサイズのキャンバスを選んでいるとは知りませんでした。フランチェスカさんが水平型のキャンバスを主に使って制作するのはそれと同じ理由なのでしょうか？</p>
				<p><span class="talker">FB__</span>私は装飾が好きで、特にfin-de-siecle（フランス19世紀末のデカダン派）やアール・ヌーヴォーの建築やデザインが、彫刻や絵画を組み込んで空間をどのように構築していったかについて興味があります。私が油絵を描くときに選ぶ水平型のキャンバスは、かなり大げさに見えるかもしれませんが、イメージをパノラマのように鑑賞者に読み込んでもらうこと、そして切れ目のない幻想的な風景として絵画を見せるためには最適な形でした。絵画に描かれている図像は私が気になったモチーフやオブジェクトを詰め合わせて作られています。基本的に、私の作品の主題は個人的な用語集のようなものが基盤になっています。ドローイングを描く時は、ペインティングとは逆に、イメージが上に伸びるように、楽譜や建築図のような縦長のフォーマットを使うことが多いです。</p>
				<p><span class="talker">IL__</span>先ほど、油絵から離れて他の分野に集中しているとおっしゃっていましたが、最近は主に、ドローイング作品を中心に制作されていますね。絵画と比較して、ドローイングはどのような役割を担っているのでしょうか。<br>また、プロジェクトスペース「2x2x2」での個展「Daisies」で発表するドローイング作品についても教えてください。</p>
				<p><span class="talker">FB__</span>私にとってドローイングとはファンタジーの習作のようなものです。アート業界は非常にエリート主義的で、特に絵画に関しては、私が作りたい‘それ’とはギャップを感じています。私の作品は夢や幻想を描くことに関係しているので、ある意味絵画よりもドローイングの方がメディアとしては適しているのではないかな、と考えています。ドローイングは潜在意識と連動していて、計画を立てて進化していくものだと思います。幻想的な効果を作品に持たせるためにはペインティングはあまりにも完成されすぎているというか、隙がなさすぎるのです。</p>
				<p>私は自分のドローイングを建築的なものだと思っているので（ドローイングは計画と構築のためのものだと考えています）、それらを、立体作品と組み合わせることは、自分の中で非常に理にかなっています。ドローイングと建築的リリーフが施された木彫作品が一緒になることで、図像に描かれた世界が作られていくというか…。</p>
				<p>今回の展覧会「Daisies」で発表する一番大きなドローイング作品「Study for a Daisy Chained Walk」は、幻想的な庭園のための習作で、バロック調のシルエットを持つエリザベスタンの衣装からも着想を得ています。ドローイングの上部は、ボリュームのある襟や胸元に見立ててあり、全体的に天使の翼のようなシルエットになっています。また、「Study for a Daisy Chained Walk」は梨の木がドローイングの主軸として描かれています。幹は蝶をあしらった丸型の装飾的な模様で構成されていて、その他に描かれているゴシック形式の窓や、医療十字マーク、燃えている鍵などのイメージと強い対称性を持ちます。また画面内には数字の’0’と’8’も散りばめて配置されています。</p>
				<p>もう一つのドローイング「S.A.」は、緑と青の畝状のパターンの上にリングで繋がっている二つの鍵が配置されています。ドローイングに描くテキストやイメージは非理論的な組み合わせをあえて選ぶこともあって、マルジナリア<sup>①</sup>をヒントにしています。<br>
				中世のヨーロッパでは、修道士たちが本に書かれたマルジナリアに陶酔し、彼らの意識までも変容させていたという話もあります。それほどまでに、不可解なテキストと幻想的なイメージの非理論的な組み合わせは、サイケデリックな性質を持っていたのでしょうね。私はシモーヌ・ヴェイユの文章や哲学的な考え方が好きで、彼女のノートブックの写真を見て以降、自身の絵や構図へのアプローチの仕方が大きく変わりました。彼女のノートは文字の大きや、書き方もバラバラで、見たこともないような古代語が書かれていたりなど、ノート全体に’反重力’の力が作用しているんです。私にとってヴェイユのノートはかつての修道士たちが見たマルジナリアのように、私の意識を大きく変化させたんだと思います。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide01_sp.jpg" /></picture><span class="caption">Francesca Blomfield: The lost keys, 2019, oil on canvas, 26x66 cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide02_sp.jpg" /></picture></span><span class="caption">Francesca Blomfield: At the End of the Longest River, 2019, oil on canvas, 26x120cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide03_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Study for a Daisy Chained Walk, 2020, Graphite and Pencil on paper, 130×64cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide04_sp.jpg" /></picture></span><span class="caption">Francesca Blomfield: Ode to Goblin Dreams, 2020, pencil on paper, foam board, Limewood, PVA, 90x26cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>2×2×2で現在開催している個展のタイトルでもある「Daisies」は、どのような経緯で生まれたものなのでしょうか？</p>
				<p><span class="talker">FB__</span>デイジー（ヒナギク）はイギリスではとても人気のある花です。どこにでも咲いている花ですが、とても繊細で、多くの儀式的な性質を持っています。私が最初に物作りをした記憶は、当時住んでいたアパートの近くの野原でデイジーの花冠を作っていたことです。最近、密教的なテーマにも興味を持つようになったのですが... 特に、密教的な物語が規範的な文化に対抗するものとしてどのように存在しているかということに興味があって。「Daisies」というタイトルは、私の個人的な体験とカタルシスから生まれた作品をまとめるのに、最も適切なタイトルであるように思えました。</p>
				<p>デイジーは私の作品に繰り返し登場するモチーフの一つでもあり、そして、私の妹の名前でもあります。今回の展示で発表する「H is for Help」と「Study for a Daisy Chained Walk」でも、デイジーのモチーフは使われています。私は不良というか、だいぶ問題のある子供だったんですが、でもそれと反して、公園で友達と一緒にデイジーを紡いでは花冠を作って遊んでいたような側面もありました。今思い返すと、何かの民族の儀式のようでしたね。自分の中でデイジーは、個人的なものと神秘的なものの衝突のメタファーのような位置付けです。私は鎖もモチーフとしてよく使うのですが、「H is for Help」はそれを発展させたものです。</p>
				<p><span class="talker">IL__</span>フランチェスカさん作品からは言語への関心が現れていますよね。例えば、「D.R.Care」と「Hell 1」では、テキストとイメージが並列にして配置されています。これらはどのようにして結びつけられているのでしょうか？</p>
				<p><span class="talker">FB__</span>先ほど少し話しましたが、テキストとイメージの関係性は必ずしも論理的なものではありません。<br>
				テキストとイメージを融合させることに関しては、ポスターのような商業的なデザインが強いタイポグラフィーを使うことで、よりイメージを魅力的に見せる手法に影響されています。私はデザインされていたり、凝っているイメージにファンタジーの要素が加わっているものが好きで。小さい頃に見たケルズの書は本当に感動しました。私が見たのは小さな複製版でしたが、その細部のまで丁寧に作られているディテールに畏敬の念を覚えました。</p>
				<p><span class="talker">IL__</span>油絵やドローイングの他にも、最近は木彫作品をたくさん作られていますね。例えば、「Daisies」で発表している「S.A.」は、レリーフがあしらわれた木彫のフレームにドローイングが配置されている作品ですが、このシリーズはどのようにして始められたのでしょうか？</p>
				<p><span class="talker">FB__</span>私が木を素材として使うようになったのは、元々はドローイングを展示する際にフレームが必要であった、というかなり実用的な理由でした。それ以降、ドローイング以外にも布と組み合わせてみたりして、木彫作品単体として発展させようと試みています。木彫は、私が描くドローイングの中に存在する建築形態の延長線上にあります。最近気付いたのは、木を彫るプロセスは、私が絵を描くプロセスと似ているということです。</p>
				<p><span class="talker">IL__</span>フランチェスカさんの作品に共通しているのは、非常に緻密に作られているということです。外から見ていると、1つの作品を作るのにかなりの時間がかかっているように見えますが、制作に長い時間をかけることはフランチェスカさんにとって特別な意味を持つのでしょうか？<br>
				また今後油絵を制作の主軸を戻すことはあるのでしょうか？</p>
				<p><span class="talker">FB__</span>私は自分の事を挫折した風景画家だと思っていて... 最近は油絵以外のメディアを使って制作をすることが多くなってきましたが、いずれは絵画に戻ってしまうのかもしれません。私の作品は、精神の自己手術のようなものだと思っています。最終的には、絵画、ドローイング、彫刻、そして文章を通して、内面化された主題の造形を表現したいと考えていて。今は、これまで自分が見落としていた素材の新しい組み合わせ（木彫とテキスタイル等）を模索するのに楽しみを感じています。</p>
				<p>私にとって作品とは、カタルシスのプロセスを伴う、感情、そして喪失感の風景が具現化されたものなんです... しかし、必ずしも、作品を悲しいものや憂鬱なものとして捉えているわけではありません。私の専門は絵画になりますが、最近では工芸的なプロセスを用いることが多くなっています。作品には多くの労働力が含まれていることが主で、制作にかかる時間が作品の素材と連動していることを意味します。制作に着手する際には、綿密に練られたデザインが大抵あるのですが、作業中にそのデザインとは異なっていくこともあります。予想していなかった、ディテールが現れた時などは、非常にワクワクしますね。もっともっと手の込んだ作品になればいいなと思っています。</p>
				<p><span class="talker">IL__</span>数字の0と8、鎖や円など、無限大を連想させるイメージも多く取り入れていますが、モチーフはどのように決めているのですか？</p>
				<p><span class="talker">FB__</span>私の作品の中に登場するイメージとテキストは非文脈的に関係性づけられています。本来のテキストが持つ意味を解離され、私の選択した独自の方法で配置することにより、作品にサイケデリックな性質を内包させます。これらのモチーフを繰り返すことで、異なる意味（本来は存在すらしない意味）を解釈するための鍵となっていきます。紐解くということは、私の制作において欠かせないことだと思っています。繰り返し使われるモチーフは私にとっても指標のような存在となり、制作を円滑に行うための大切な要素です。</p>
				<p>最近では、平面作品でも立体作品でも、‘重ねる’という事について深く考える必要があると感じています。私は、潜在意識にリンクしている迷路のように、自己生成的な要素がある作品が好きで。私の多くの作品で‘穴’がモチーフとして使われていて、例えば、鎖やポータル、幾何学的なリングのモチーフは、すべて‘穴’の要素が含まれています。また、「0」と「8」という数字も多用するモチーフの一つですが、繰り返すことで単なる数字ではなく、別の文字としての存在感を放つようになります。私の誕生日が1月8日であり、グレゴリオ暦の始まりの8日目でもあるので、私にとって「8」という数字は、重要な意味を持っています。また、「0」と「8」という数字は、無と永遠の両方を意味することが出来るという点でも気に入っています。永遠と無は人生の普遍的な描写であり、私が考える芸術という概念と近しいのです。</p>
				<p>また「Dr. Care」というテキストも作品によく登場します。’Dr.’は医者の略で、"Care "とは制作中によく私の頭の中に浮かんでくる単語です。私の家族は精神衛生面に問題がある人が多く、私自身もその問題を抱えて生きてきました。若い頃に比べれば、今の私はずっと安定していますが、継続的なプロセスの賜物だと思います。’Care’は病気の治療と関連してよく使われていますが、セルフケア業界やウェルネス企業（健康促進企業）では（厄介なことに）文脈から外れた使い方をされています。</p>
				<p>私たちの回りには、身体や健康が完全ではない人に背を向けるような、心無い人々が多く存在しています。これは、資本主義が生んだ抑圧の成れの果てだと私は考えていて。誤った規範性は様々な形で私たちの身の回りに存在していて、困難な事物に対してスペースや思慮が十分与えられていないことに対して、私はかなり批判的に感じています。年を重ねるごとに、この事実の異常性に気付き、怒りを覚えるようになりました。私にとって「Dr.Care」というテキストは、これらの問題と共鳴しています。また、自分がそういった問題に迎合されないように、警鐘的な意味合いでも使っているテキストの一つです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide05_sp.jpg" /></picture><span class="caption">Francesca Blomfield: S.A. , 2020, Pencil and graphite on paper, wax, pinewood, MDF, acid-free tape,PVA, polyester, satin, 122×26cm</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide06_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Hell 1, 2018, pencil on paper, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide07_sp.jpg" /></picture><span class="caption">Francesca Blomfield: DR.08, 2020, lime wood, wax, polyester, satin, 48×16cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>フランチェスカさんの作品には、個人的なナラティブが多く取り入れている印象がありますが、制作に影響を与えた人物や経験等がありましたら教えていただけますか？</p>
				<p><span class="talker">FB__</span>私が育った家庭環境は不安定な部分が多く、それが自分の作品に多く影響しているとは思います。また私自身も強迫観念症の気があるので、そういった側面も作品に現れているような気はしますね。私は物を作るのと同じくらい物を破壊する能力がある事を、幼い頃から自覚していて、美術は私にとって物を作る側面を伸ばす為には欠かせない存在でした。幼少期は逃避手段としてよく白昼夢を見て過ごしていました。結果として、それによって想像力が養われたので、あの頃の環境には今となっては感謝しています。夢を見ることの一番素晴らしい所は、私を自由にしてくれる事、そしていつでも出来るという事です。</p>
				<p>長い間、そういった私的な問題を作品に取り入れる事を拒否してきましたが、作品を発展させる為には、自身の幼少期と向き合う必要性があることに気づきました。良くも悪くも、その事実を含めて自分らしい制作に取り組めるというか… とはいえ、私の作品はそれらの記憶を具現化した、フィクションのような作品ではないし、自叙伝的な要素も特に含まれてはいません。個人的なナラティブは基盤として存在するのかもしれませんが、それは制作過程や作品を介して変容し、符号化されています。</p>
				<p>10代の頃家を出て、姉と一緒に暮すことになりました。姉はパフォーマーで、彼女と暮らし始めてから私の生活は一変してアーティストに囲まれるようになり、私は姉の仲間たちとブラブラしたり、彼らの小道具づくりを手伝ったりして、生活していました。この経験は、私の仕事に対する倫理観に大きな影響を与えたし、個人的な成長へと繋がりました。また、この生活で出会ったビジュアル・アーティストの存在は私の現在の制作に影響を与えていると思います。当時出会ったアーティストやパフォーマーの大半は、活動を維持する為に複数の仕事を掛け持ちしていて、私自身も裕福ではない為、制作と並行して仕事をする事は常に必要不可欠でした。もしアーティストが文化的にもう少し支援を受ける事ができ、アートがエリート主義的な文脈から多少脱却する事ができれば文化レベルが総体的に飛躍するのではないかと思います。私はここ数年、古本屋で働いています。制作と’仕事’の両立で常に疲れ果てていますが、こういった生活にも慣れてきました。</p>
				<p><span class="talker">IL__</span>最後に、最近の活動について教えていただけますか？</p>
				<p><span class="talker">FB__</span>最近はロンドンを拠点に活動するアメリカ人アーティスト、キット・トローブリッジ（Kit Trowbridge）との共同プロジェクト「Wild, Wild Wenches」に取り組んでいます。本来この展覧会は今年開催する予定だったんですが、COVID-19のパンデミックの影響を受けて、延期しなければならなかったので、来年の2021年に開催することになりました。このプロジェクトでは、私たちの作品と文章を組み合わせたもの展示する予定です。<br>
				個人的な活動としては、水彩画の新しいシリーズの制作を始めました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide08_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Terra Firma, 2018, oil on canvas, 26x66cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">「マルジナリア（marginalia）」とは、本の余白のこと。 本を読んでいて気が付いたことを絵やテキストを書き込む場所／書き込まれたもの。中世ヨーロッパではアート作品としても鑑賞されることもあった。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">フランチェスカ・ブロムフィールド（1990年生まれ）は、ロンドンを拠点に活動するイギリス人アーティスト。チェルシー・カレッジ・オブ・アーツにて美術学士号を取得後、ロイヤル・カレッジ・オブ・アート絵画科を2019年に修了。最近の個展には「War Hammer」（2017年）Barbican Arts Trust（ロンドン）、「International Treaty」（2015年） The Horse Hospital（ロンドン）などがある。主なグループ展に「Chrome Villa, with Col Self」（2018年）Andor Gallery（ロンドン）, 「Glass Houses」（2020年） Mcbeans Orchids, （ルイス、英国）、「Multiverse」（2019年） Gazelli Art House（ロンドン）、「 Autumn Yield」（2019年） Bridget Riley Studios（ロンドン） など。また、2016年に Barbican Arts Group Trust賞を受賞。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

