{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__014: Interview with: ガブリエル・ハートリー",
	description: "ガブリエル・ハートリーは、木彫、サンディング、レイヤリングなどの様々な技法を用いて、複雑性の高い絵画を制作するイギリス人アーティストである。光の加減によって常に変化し続けるハートリーの絵画を眺めていると、構造の秘密を解き明かしたいという衝動と、何も考えずにただ見ていたいという相反する感情が湧いてくるのではないだろうか。インタビュー内でハートリーは「ただ眺める」ことの重要性について話してくれたが、彼のその意識が作品という形で具現化されているのだろうと感じた。",
	ogimage: "https://imlabor.org/journal/interview/014/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "014",
				"item": site.url + "/jp/journal/interview/014/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/014/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "014"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「ゆっくりと時間をかけて見ることはとても大切です。何かを見ること、自分が作っているものが世界や自分自身について、語ってくれるのを待つということは、ものづくりにとって最も重要なんです。」</h3>
				<p class="lead">ガブリエル・ハートリーは、木彫、サンディング、レイヤリングなどの様々な技法を用いて、複雑性の高い絵画を制作するイギリス人アーティストである。光の加減によって常に変化し続けるハートリーの絵画を眺めていると、構造の秘密を解き明かしたいという衝動と、何も考えずにただ見ていたいという相反する感情が湧いてくるのではないだろうか。インタビュー内でハートリーは「ただ眺める」ことの重要性について話してくれたが、彼のその意識が作品という形で具現化されているのだろうと感じた。</p>
				<p class="lead">7月某日の午後、上野のim laborにて、作品制作の過程や彼が影響を受けたアーティスト、そして15年以上続けているというポストカードとペインテッド・フォトグラフシリーズについてハートリーに話を聞いた。</p>
				<p><span class="talker">IM LABOR__</span>2020年にロンドンの<a href="http://www.seventeengallery.com/" target="_blank" rel="noopener noreferrer">Seventeen</a>ギャラリーで開催された個展 「OF」でハートリーさんの作品を拝見することが出来たのですが、本当に素晴らしい展覧会でした。確か、COVID-19パンデミックの煽りを受ける直前の開催でしたよね？ロックダウンする前に作品を見れたのはラッキーでした。</p>
				<p><span class="talker">GABRIEL HARTLEY__</span>ええ、ちょうどロックダウンする直前でしたね。個展はパンデミックの影響もあり予定よりも早く終わってしまって。ギャラリーでトークをしたのですが、その時点では、まだCOVID-19が何か把握できていなかったので、みんなぎこちなくハグや握手をしたり、冗談を言い合ったりしていたのを覚えています。あの時は、今何が起こっているのか、これからどうなるのか、よくわかっていませんでした。</p>
				<p><span class="talker">IL__</span>ハートリーさんの絵を見ていると、まるで夕日をぼーっと眺めているような感覚になるというか…<br>
				木彫を施したパネルを使っていたり、透明絵具を塗り重ねていたり等、様々なテクニックを用いて作られた複雑な画面はハートリーさんの作品の特徴の一つだと思います。私も実際に個展で作品を拝見した時、その構造を解析したいと思う一方で、光の加減によって変化する絵の表面を何も考えずに眺めていたいという相反する感情が共存する不思議な体験をしました。このようなことを意識して制作をされているのでしょうか？</p>
				<p><span class="talker">GH__</span>ありがとう…。それが全てにおいての本質だと思います。</p>
				<p>ゆっくりと時間をかけて見ることはとても大切です。アーティストとして、私たちは自分が作っているものを見るために多くの時間を費やしています。同様に、鑑賞してくれる人にも時間をかけて見てほしいという願いがあります。「ゆっくりと見る」ということは当たり前のようですが、見落とされがちです。</p>
				<p>見ること、自分が作っているものが世界や自分自身について、あるいはそれが何なのかについて教えてくれるのを待つということは、制作活動において最も重要な部分です。なんだか、ある種の瞑想のようなものに聞こえるかもしれませんが、実際そうなることもあります。待ったり、手を加えたり、混乱したりすることでもあるんです。そうした「見る」という行為を通して得られるものは、緑をもっと青くする必要があったとか、たったそれだけのことだったりもします。だから、ただ見ることも、作ることも、信念を要する作業なんです。</p>
				<p>何だか、これまでの説明では制作行為における全てが高尚なものに聞こえてしまいますけど。僕の場合、単純に好奇心や飽きから、何かを変えたり壊したりしたいという衝動に駆られることがしょっちゅうあって。「もういいや、とりあえず何かやってみよう」とか、作っているものが壊れるまで弄ってみたりすることがよくあります。</p>
				<p>作品を弄り続けることの大切さについて、十分私たちは考えられていないように感じます。人は自信と確信を常に求めていて、だらだらと作品を作り続けることはそれらと相反する行為に思えますが、そういった行為の中で何かが生まれてくるのが、僕にとっては重要なんです。自分の中では「こうしたい」と考えていたけれど、作っているものが自分の意思と反した方向に行きたがっている、ということをちゃんと理解する。見ることは、聞くこともでもあるんです。</p>
				<p><span class="talker">IL__</span>このような対話を繰り返しながら絵を聞いていくことで、「モノ」が次第に作品に昇華されていくような感覚でしょうか？</p>
				<p><span class="talker">GH__</span>そうですね、絵画との対話をやめなければならない起点があります。心の中のモノローグをすべて遮断して、絵が言っていることに耳を傾けるのです。結局じっくりと見て、時間をかけることなんでしょうね。</p>
				<p><span class="talker">IL__</span>心の中のモノローグをすべて遮断する... それは、絵が完成したかどうかを絵に委ねるという感覚でしょうか？</p>
				<p><span class="talker">GH__</span>ええ、ある意味ではそうです。でも、それを知るのは一番難しいです。よく、絵を描いているときに、「やり遂げたぞ。」みたいな、自分でも納得のいく瞬間があります。でも、それは何枚か描いてみて初めてわかることなんです。作品が出来て何ヶ月後かに、自分でも自分の作品に驚くというか、その驚きの感覚を蘇らせてくれるものが一番いい作品で。</p>
				<p>あと、僕はたくさん人に相談しますね。友達に直接聞いたり、作品の画像を送ったり、正直、僕は友人に聞きすぎなような気もします。多分、彼らにはすごく迷惑をかけてると思います。（笑）みんなが僕に聞いてくる以上に僕は意見を尋ねてしまうので。</p>
				<p><span class="talker">IL__</span>自分の作品についての客観的な意見をもらうことは、制作活動の重要な要素の一つのようにも思いますが。</p>
				<p><span class="talker">GH__</span>確かにそうですね。あと、自分がすでに知っていることや感じていることを知るための近道になることもあります。例えば、「これ、どう思う？」と誰かに尋ねて、その人が「もっと手を加える必要がありそうだね。」と答えたとして、僕が「いや、バカだな、これはもう完成してるよ 。」と条件反射的に思ってしまうのであれば、答えは既にわかっていたってことですよね。基本的に、意見を聞くのは確認作業です。例えば、「何をすべきか考えるためにコインを投げてみよう」って思うようなもので。 投げてみたら、裏（出て欲しい側）ではなく表が出てきたから、もう一度裏が出るまで投げてみる、みたいな。結局自分が何をしたいのかは、ずっとわかっているような気がします。</p>
				<p><span class="talker">IL__</span>実際にコイントスで作品についての判断を決定したことはありますか？</p>
				<p><span class="talker">GH__</span>あると思ます。（笑）でも、バットマンのトゥーフェイスのようにはいかないです。</p>
				<p><span class="talker">IL__</span>（笑）</p>
				<p><span class="talker">GH__</span>トゥーフェイスみたいにコイントスで決められたらいいんだけどね。でも、そうですね、作品のやめ時ってわからないですよね。どんな風に仕上がっていくのかが面白いんですよ。なんだか、漫然としていますが。（笑）</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide01_sp.jpg" /></picture><span class="caption">Installation view 'OF', Seventeen, London, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide02_sp.jpg" /></picture><span class="caption">'Drift', 2020, Ink, acrylic and burn marks on carved plywood, 99.6 x 122.9cm, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide03_sp.jpg" /></picture><span class="caption">Installation view 'OF', Seventeen, London, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide04_sp.jpg" /></picture><span class="caption">'Oranges', 2018, Oil and spray paint on canvas, 75 x 138 1/4 in. (190 x 351cm), Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide05_sp.jpg" /></picture><span class="caption">'Young London', 2011, installation view, v22, London, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide06_sp.jpg" /></picture><span class="caption">'Relief', 2016, installation view, Foxy Production, New York, Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide07_sp.jpg" /></picture><span class="caption">'Chips', 2016, foam, resin, pigment, 20 x 20 x 2 4/5 in, Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide11_sp.jpg" /></picture><span class="caption">'Windows', 2016, Oil and spray paint on canvas, 57 x 68 in. (144.78 x 172.72cm), Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide12_sp.jpg" /></picture><span class="caption">'House', 2016, form, resin, pigment, 9 4/5 x 11 7/10 x 2 2/5 in. (24.89 x 29.72 x 6.10cm), Courtesy of Foxy Production</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>私がハートリーさんの作品を初めて知ったのは、2011年にV22で開催された、イギリスを拠点に活動する若手アーティストに焦点を当てたグループ展「Young London」のカタログでした。「Young London」では、ペイントされた紙と樹脂で作られた大きな彫刻作品を、絵画作品と一緒に展示していましたね。また、2016年に<a href="https://www.foxyproduction.com/" target="_blank" rel="noopener noreferrer">Foxy Production</a>（ニューヨーク）で開催されたハートリーさんの個展「Relief」では、スポンジや着彩された紙など、絵画を制作する過程で生まれたような素材で作られた彫刻が、絵画作品と一緒に壁掛けで展示されていましたが、それらは互いにリンクし合っているのでしょうか？</p>
				<p><span class="talker">GH__</span>彫刻と絵画は常に隣り合っていて、互いの動向によって変化しています。彫刻と絵画を流動的に使い分けている時期もあれば、絵画のみに集中している時もあります。彫刻だけを作っているということはまずありません。</p>
				<p>どちらも床の上で制作しているので、プロセスは関連していると感じます。彫刻作品は、布張りしたウレタンフォームを樹脂に浸して作ります。大きなバケツに樹脂を入れて、ウレタンフォームに染み込ませたら、それらを床に並べて形を作っていきます。ここの過程が一番ドローイングに近い感覚です。 形が決まったら、固めます。その状態は僕にとって筆跡のようなもので、固めることで時間が止まったような感覚になります。</p>
				<p><span class="talker">IL__</span>なるほど、イメージが浮かんだ瞬間に凍結させる感じなんですね。</p>
				<p>話は少し戻りますが、展示する場所の光の加減の影響によって、表面の見え方が大きく変化したり、まるで生き物が呼吸してるかのように見えるのは、ハートリーさんの作品の特徴の一つであると思いますが、そういった有機的な要素を作品に取り入れることは意識していますか？</p>
				<p><span class="talker">GH__</span>おお、それは素敵な感想ですね。 僕は、作品が持つ個性のどの部分が変化して、どの部分が変わらないのかを探っていくのが好きです。</p>
				<p>「見る事」についての話に戻りますが、僕の作品の写真からは有機的な要素は見えてこないかもしれません。スクリーン上で僕のペインティングを見ても、あなたが言ったような振る舞い方はしないでしょう。作品を見る立ち位置や焦点の合わせ方、物理的に対峙すると、ある種のレイヤーが見えてくるのです。あなたが「OF」で見た作品は、さまざまなドローイングのレイヤーで構成されています。そこにはいくつかの焦点があり、見る角度によって異なるイメージが明らかになっていきます。</p>
				<p>これらのポストカードやフォトグラフ・ドローイングシリーズは、制作過程の中でも、最初の生状態です。（テーブルの上に積まれたポストカードの山を指しながら）これらとドローイングが制作の始まりとしてあります。</p>
				<p>建築物のディテールや水面に映る光のドローイングなど、ドローイングや写真作品の複数のパーツを絵の中で組み合わせることがよくあります。複数のイメージがどのように混ざり合うかが重要なんです。重ねられて、混ざり合っているので、焦点が変わると、背面にあるものが前面に出てきたりすることがあります。名前はわからないけれど、何かを見ていることを知っているという感覚が残るような感じです。</p>
				<p><span class="talker">IL__</span>なるほど。8月7日からim laborで開催される個展は、このポストカード・ドローイングシリーズにフォーカスを当てた展示ですよね。本日は、シリーズの一部を持ってきて頂きましたが、一部といっても500枚以上はありそうです。それに、ポストカード以外にも、写真の上に絵が描かれているものもたくさんありますね。これらのシリーズはいつから始められたのでしょうか？また、これらは、ハートリーさんの活動の中でどのように機能していますか？</p>
				<p><span class="talker">GH__</span>今から15年ほど前、ロイヤル・アカデミー・オブ・ジ・アーツに在学中に、ポストカードに直接絵を描いたのが始まりです。BA（学部）時代にポストカードを使った絵画は既に制作していたので、実際にはそれ以前からポストカードは身近な存在でした。</p>
				<p>長い間、ポストカードの作品と絵画の作品は共存していて、ポストカードの作品に描いたイメージが、裏側から絵画の表面に入り込んでいるような感覚です。最近はより直接的に引用していて、実際にポストカード・ドローイングを下絵として絵画を制作したり、習作のような形で使っています。あとは大きな版画も作っていて、それもポストカードやフォトグラフ・ペインティングと同じような位置付けにあります。</p>
				<p>フォトグラフ・ドローイングは去年くらいから始めました。僕は街で見かけたものや、気になったものの写真をiPhoneで常に撮っていて、それらを全部プリントアウトしたいなと思ったのがきっかけです。でも流石に枚数を考えると、全部印刷するのは現実離れしているというか。なので具体的に使おうと。それで、ポストカード・ドローイングのように写真を扱うようになりました。写真は、ポストカードと比べると、水族館に行った時の私の娘、スタジオでの失敗作の彫刻、僕がプレイしていたチェス、サクランボが入ったボウルなど、個人的な情報が多く含まれています。</p>
				<p><span class="talker">IL__</span>15年、長いですね。ポストカードの裏面に実際に使った痕跡が残っているのがいいですね。</p>
				<p><span class="talker">GH__</span>そう、いろいろな人の物語が垣間見えるのがいいんです。でも、それ以上に、ポストカードに印刷されたイメージそのものが重要なんです。カードのサイズ、紙の種類、印刷の色など、物理的な性質に興奮します。それぞれの作品のタイトルは、ポストカードの実際のタイトルを引用しているので、タイトルを見ると常にオリジナルのイメージに戻ることができます。</p>
				<p><span class="talker">IL__</span>ハートリーさんの絵画作品にも言えることですが、ポストカード・ドローイングの画面の質感は非常に独特ですね。火で炙ったようなものもあれば、紙やすりで研磨したようなものもあります。</p>
				<p><span class="talker">GH__</span>基本的に、イメージを破壊したり、やすりで削ったり、焼いたりして、再構築するんです。再構築することで、新たな存在感を得ることができます。以前、破壊してから再構築することについて、あなたの作品の話について質問した時、興味深い話をしてましたね...。</p>
				<p><span class="talker">IL__</span>私も絵を描いていますが、イメージを破壊してから作り直すことはよくあります... 微弱な線や点を指標にして、削ったり、塗り重ねたり、描き直したりする行為を繰り返すことで、イメージに必然性が生まれるというか、強度が増すような感覚を勝手に感じているだけなんですけど...<br>
				ハートリーさんの作品には、そのような破壊と再生の繰り返しの痕跡が多く見られますね。</p>
				<p><span class="talker">GH__</span>必然的である、って良いですよね。何かを語りかけてくれるような。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide08_sp.jpg" /></picture><span class="caption">'Gaugin', 2020, Ink on sanded postcard, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide09_sp.jpg" /></picture><span class="caption">'Yokoami', 2021, Ink and wotercolor on photograph, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide10_sp.jpg" /></picture><span class="caption">'Voltera', 2020, Ink on burned postcard, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide14_sp.jpg" /></picture><span class="caption">'Kip', 2020, Ink and burn mark on wood, 28 x 36cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>ポストカードや写真のドローイングシリーズは、既存のイメージを基盤にしてるからなのか、絵画作品と比較すると具象的ですが、その中でも、窓や電柱のイメージが多いですね。</p>
				<p>Foxy Production（ニューヨーク）で開催された個展「Relief」(2016) では、「Window」というタイトルのペインティングと、着彩されたスポンジを窓の形にした彫刻「House」を展示していましたが、窓はハートリーさんの作品の中でよく使われるモチーフのひとつなのでしょうか。</p>
				<p><span class="talker">GH__</span>東京の窓は個性的ですよね。例えば、テープのようなもので作られた十字架がついた窓（im laborの向かい側の家を指しながら）。美しくて、フォーマルなデザインですね。多分ガラスを固定するための実用的なもので、ちょうどいいんでしょうけど。</p>
				<p>なぜ窓が好きなのか、自分でもよくわかってなくて。僕は都市の中で、その場所のキャラクター性が飛び出してくる瞬間が好きなんですよね。</p>
				<p>パウル・クレーは僕にとってのヒーローの一人で、もしかしたら彼の窓の使い方と同じアプローチなのかもしれません。 窓は都市を表す略語のようなものです。</p>
				<p>「反射」は私の作品の大きなテーマの一つですが、「都市」とは反射について思考した延長線上にあります。住んでいる都市がどのように私たちに反射しているのか、都市が人々や歴史をどのように映し出しているのか。</p>
				<p><span class="talker">IL__</span>「反映」といえば、ハートリーさんは最近活動の場を東京に移しましたが、環境の変化は作品に反映されていると思いますか？</p>
				<p><span class="talker">GH__</span>そうですね、変わりました。空間が変わったことと大いに関係しているのでしょう。まず、普段使っている素材や道具が手に入らなくなりました。東京に来てからは、色々な布を買ってそれらを支持体にして描いています。あと、スタジオの近くには顔料の専門店があって、素敵なとこなんですけど、初めて自分で絵の具を作っています。<br>
				そういう実用的な面での大きな変化と同時に、東京の街をたくさん歩いたりして、吸収することが幸せなんです。もう、スポンジみたいなものです。</p>
				<p><span class="talker">IL__</span>先日、ガブリエルさんの東京のスタジオを訪れた際、キャンバス綿の代わりにシルクが張ってあり、シルクの裏面に配置された構造物が透けて見えていて、実際に絵画の層の一部としての役割を担っている絵画の制作過程を見せてもらいましたが、今回の展示にも出してくれている作品ですよね。</p>
				<p><span class="talker">GH__</span>ですね。実際に絵の中を覗き込まないと、布や木の構造物の層がわからないのです。これまで自分の作品でみられていてたペインティングの層が、今回の作品では、透明な布の物理的な層に置き換えられています。もし僕が東京にいなければ、絶対に出来なかった作品です。この作品が、東京について何を語っているのか、まだわからないけれど。というか、これは僕の東京に対するイメージですね。東京に暮らしてる人たちって、シルクやシースルー生地の服を着ている人が多くないですか？その影響を受けているような気がします。</p>
				<p><span class="talker">IL__</span>面白いですね。確かに、東京では、シースルー素材のジャケットやドレスを着ている人をよく見かけるような気がします。</p>
				<p><span class="talker">GH__</span>ですよね？何かが透けて見えると、興味をひかれます。</p>
				<p><span class="talker">IL__</span>東京に来てから、使用する色に変化はありましたか？</p>
				<p><span class="talker">GH__</span>そうですね、使う色はよく変わります。</p>
				<p>僕は基本的に物事を慎重に決めていきます。東京では今まで試したことがない、緑やグレーを多く使うようになりました。もしかしたら、使用している天然顔料の影響かもしれませんが。あと、日本の庭園では緑を囲うように砂や石、木材などが配置されているのが、とても魅力的ですね。苔の緑は別格です。日本に住む外国人はみんな言うかもしれませんけど、でも大好きなんですよね。</p>
				<p>あとはグレーのトーンも変わりましたね。ロンドンってグレーで有名じゃないですか、でも東京に来てからの方がよりグレーについて意識するようになりました。東京のビルは、ビル同士の関係で様々に色が変化していて、他の都市よりもそれが顕著というか。あと、梅雨の蒸し暑い灰色の空も、ビルの表情に影響しているんでしょうね。</p>
				<p>僕にとって色は直感的なものです。</p>
				<p><span class="talker">IL__</span>今後試してみたい色はありますか？</p>
				<p><span class="talker">GH__</span>最近、緑の移り変わりの違いをテーマにした緑の絵を描きました。その絵を壁に掛けて眺めていたら、前の作品で使った朱色が少し壁に残っていて、緑とその朱色の関係性が、実際に目の前にある絵より遥かに面白かったのですよね。なので、それをいかに絵の中で再現しようかなと考えてます。なんだか口に出してみると、アーティストを題材にしたダサイ映画のワンシーンみたいですけど、でもこうゆう気づきの瞬間は大切なんです。</p>
				<p>でも、色よりも光について考えることの方が多いです。</p>
				<p><span class="talker">IL__</span>印象派の絵画のコンテクストでの「光」ですか？</p>
				<p><span class="talker">GH__</span>そうですね、光が表面に及ぼす影響や影。映り込み。また、写真における光もそうです。そういったことについて考えますね。</p>
				<p><span class="talker">IL__</span>ハートリーさんが影響を受けたアーティストはいますか？</p>
				<p><span class="talker">GH__</span>たくさんの人がいますが、特にこのポストカードを見てすぐに頭に浮かんだのは、ディーター・ロスです。</p>
				<p>あと10代の頃はマーク・ロスコが大好きでした。でも、僕の周りの人たちから彼を否定するような意見を聞いて、彼からしばらく離れていたように思います。でも、最近になって、10代の頃の自分の感覚に戻って、彼の作品をよく考えるようになりました。テートモダンがリニューアルオープンした時に、初めてロスコのシーグラムの壁画を見たんですが、あの瞬間に自分の中で、それまで抱いていた絵画のイメージが一変したのを覚えています。</p>
				<p>「見る」ということについての話にまた戻りますが、芸術はこうあるべきだという先入観を捨てて、ただ見るという経験をすることが出来たのはその時が初めてでした。</p>
				<p><span class="talker">IL__</span>制作時間以外は、どのように過ごしていますか？</p>
				<p><span class="talker">GH__</span>サッカーをするのが好きです、あと、散歩に行くのも好きです。犬、イタリア、砂場も好きです。でも、そうですね、結局サッカーが一番好きです。</p>
				<p><span class="talker">IL__</span>（笑）応援しているのは？</p>
				<p><span class="talker">GH__</span>チェルシーです。チャンピオンズリーグ優勝したんですよ。朝4時に起きて、試合を見ていましたね。</p>
				<p><span class="talker">IL__</span>チャンピオンズリーグ優勝おめでとうございます。<br>
				最後に、今年のご予定を教えてください。まだやっていないことで、やってみたいことや今取り組んでいることはありますか？</p>
				<p><span class="talker">GH__</span>日本で制作することをとても楽しんでいます。あとは、少し京都に滞在して制作もしてみたいですね。11月に京都にオープンするスペースで展示の予定があるので、それも楽しみです。今は、東京でたくさん展示をして、多くのアーティストの方と知り合いになりたいと思っています。なんだか日本で面白いことが起こる予感がするんです。あとこれはずっと言ってるんですけど、日本語習わなければと思ってます。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide13_sp.jpg" /></picture><span class="caption">'Goad', 2021, Watercolor ink and chacoal on silk, linen and cardboard, 46 x 53.5cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">ガブリエル・ハートリー（1981年、イギリス・ロンドン生まれ）は、現在東京を拠点に活動。チェルシー・カレッジ・オブ・アート・アンド・デザイン（ロンドン）で美術の学士号を取得後、ロイヤル・アカデミー・スクールズ（ロンドン）を修了。</dd>
					<dd class="desc">主な展覧会に「OF」Seventeen, ロンドン(2020)、「Waterwood」 Foxy Production, ニューヨーク (2019/2020) 、「The Sleeping Procession」CASS Projects, Cass Sculpture Foundation, サセックス、イギリス(2018)、「Landscapes」 Seventeen, ロンドン(2018)　「Reliefs」Foxy Production、ニューヨーク(2016)、「A Rose Without a 'why', It blooms because it blooms」Carl Freedman Gallery、ロンドン(2016）、「Basic Instinct」Seventeen、ロンドン(2015)　「Lozenges」 Pippy Houldsworth Gallery, ロンドン (2015) 「The Moving Museum」 ロンドン (2013)「Slap」 Praz-Delavallade, パリ (2012)　「Arte Furini Contemporanea」 ローマ (2011)「Gabriel Hartley」Swallow Street(2009)、ロンドン「Jerwood Contemporary Painting Prize」Jerwood Space、ロンドン（2009）、「John Moore Painting Prize」Walker Art Gallery、リバプール (2008)、「Parade Space」（ロンドン、イギリス）（いずれも2008年）などがある。</dd>
					<dd class="desc">ハートリーの作品は、シカゴ大学(米国)、フッド美術館（米国）、サンアントニオ美術館(米国)に所蔵されている。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

