{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__006: Interview with: 松下 和暉",
		description: "松下和暉はアナグラムの手法を用いて、言語的に絵画へとアプローチすることを試みる画家、そして詩人である。解体され、並べ替えられた言葉は本来それが指す意味とは異なるものへと容易に変化していまう。言葉という質量を持たない行為が持つ断定性と脆弱性の両側面を、松下君はきっと知っているのだろう。",
		ogimage: "https://imlabor.org/journal/interview/006/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "006",
                "item": ""+ site.url +"/jp/journal/interview/006/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/006/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "006"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「何かを信じているとすれば、それだけでひとつ絵画を作ったことになりますよね。」</h3>
				<p class="lead">松下和暉はアナグラムの手法を用いて、言語的に絵画へとアプローチすることを試みる画家、そして詩人である。解体され、並べ替えられた言葉は本来それが指す意味とは異なるものへと容易に変化してしまう。言葉という質量を持たない行為が持つ断定性と脆弱性の両側面を、松下君はきっと知っているのだろう。2020年7月17日夕方、上野の2×2×2にて私は松下君にインタビューを行った。私がした質問に対して、松下君はいつも持ち歩いているというノートと照らし合わせながら、丁寧に説明する。いくつかの答えは抽象的すぎたので、聞き直したが、松下君は再度同じように答えた。きっと松下君にとっては、自身の思考を無理やり既存の言葉に当てはめ他者に認識されることよりも、思考を正しく恣意的に説明することの方が遥かに重要なのかもしれない。本インタビューでは、松下君の言語に対しての興味、アナグラムを用いて制作された初期作品『Buttery, FL』、そして今回私たちのプロジェクスペース2×2×2で開催される個展『X’mas』等について話を伺った。</p>
				<p><span class="talker">IM LABOR__</span>まず初めに、制作を始めたきっかけを教えもらえますか？ 大学に入学した当初からずっと絵画制作を中心に行っていたんですか？</p>
				<p><span class="talker">KAZUKI MATUSHITA__</span>絵を作ることにずっと興味があったんですが、大学に入学してから2年くらいは特に描きたいモチーフがなくて… その頃は絵画以外の様々なメディアを試していました。</p>
				<p>その頃の自分が作ったものの中でよく覚えているのは、オレンジジュースを素材にした作品かな…発端は1900年頃のカリフォルニアで、オレンジ産業が窮地に立たされていた状況について書かれた記事を読んだことです。話すと少し長くなります。当時オレンジは高級品だったらしいのですが、生産状況が整っていき生産量が拡大する一方で、消費は伸び悩んでいたそうです。今までのように高級品として売っていくのが難しいにもかかわらず、高級な嗜好品としての食べ方しか知らなかったためです。そこへやって来たのがアルバート・ラスカーというのちに現代広告業を作ったと呼ばれる人物で、彼は大規模な広告戦略を図って市場の立て直しを試みました。ラスカーは価値を一定化するために、それまでバラバラの名前で売られていた全てのカリフォルニアオレンジを『サンキスト（Sunkist）』と冠して、信用を得るためのブランド化を図ったり、オレンジを食べるためのサンキストブランドのスプーンを消費者にプレゼントしたり等、様々な戦略を行いました。ラスカーの戦略の中で個人的に大好きなのは『オレンジを飲もう（Drink An Orange）』というキャンペーンです。現在にいたって、『朝食にオレンジジュースを』という習慣は日本人の僕でも馴染みがありますが、当時は画期的なことだったのではないでしょうか。オレンジをただジュースにして大量に消費させる… 「固体が液状化する形式」と「広告という概念」の関係性に刺激をうけて、記事を読んで以降、物と多次元的に関わることとか、角度とトリミングの仕方によって見えてくる実体の差異とかについて、考えるようになりました。</p>
				<p>その後、グラスに注いだオレンジジュースに本の灰を浮かべるという彫刻作品のようなもを作りました。たぶんなんかの辞書だったけど灰にしてしまったので覚えていません。オレンジジュースを使った理由としては、さっき言った記事の影響というか、オレンジのことをどこまで知っているのかとか、液体にした時のオレンジの実体とか、そうゆうことが気になったんだと思います。作品として見せたのは、このオレンジジュースに灰を浮かべたものだけですが、それ以外にも壁に掛けたりとか、管に通すとか、直にキャンバスや紙に染みこませてみたり、投げてどっかにぶつけるとか、オレンジを使っていくつかの簡単な物体の条件についての構造をただノートの平面上に図形的に当時は考えていましたね。紙の上で、です。</p>
				<p><span class="talker">IL__</span>その後、主に絵画作品を中心に制作を行っていますが、オレンジの記事を読んだことと関係しているのでしょうか？</p>
				<p><span class="talker">KM__</span>直接的な関係はありません。遠い血縁関係にあるような感じはしますね…そこから物の条件について考えるようにはなりました。様々な手法を使って、オレンジの可能性や実用法を、特に実際に作るわけでもなくノートの上で試していたのは、その当時の自分が絵画に対して懐疑的だったからではないかな、と思います。絵を見ることと、作ることに対してのギャップを感じていましたし、これは日本語に限定されるかもしれませんが絵が絵画と呼ばれて認識されていることとか、その逆も。見えなかったものが表現されている、とか。そうゆう絵画の条件みたいなものの外縁に自分は興味があるのかもしれないなと気づきました。今後絵画を制作していく自分にとっては必要なプロセスだったのかもしれません。その当時のノートを見返すと、今よりも図形が占める割合が多くて…今見返すと面白いですね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide01_sp.jpg" /></picture><span class="caption">Buttery FL, 2016, pencil, marker and oil on canvas, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide02_sp.jpg" /></picture></span><span class="caption">Mom wine, I’m women, 2019, oil on canvas, curtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide03_sp.jpg" /></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide04_sp.jpg" /></picture></span><span class="caption">Doland Doland, 2019, pencil, marker, print, on paper, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide05_sp.jpg" /></picture><span class="caption">Confession to memory (he, I, M), 2018, pencil, marker, print on paper, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide06_sp.jpg" /></picture><span class="caption">Confession to memory (She, I, L), 2018, pencil, marker, print on paper, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>絵画を成立させるための条件…非常に興味深いです。そこに関してもう少し詳しく話を聞かせてもらえますか？ 例えば、松下さんは何をもって絵画を絵画として認識しているのでしょうか？</p>
				<p><span class="talker">KM__</span>何をもって絵画として認識するのかは正直よく分からないし、個人の自由に委ねられているんじゃないかな。例えば、絵画を写した写真は、僕は絵画ではなく写真として受け取っていますね。このことから少なくとも、絵画というものは体がぶつかってしまうものであることは間違いないです。</p>
				<p><span class="talker">IL__</span>2016年に制作された『Buttery FL』についてお聞きできますか？ 松下さんの絵画作品の中で初期の作品だと思うのですが、タイトルが非常に特徴的ですよね。描かれている絵は抽象的で記号のようにも見えますが、この作品の意図について教えてください。</p>
				<p><span class="talker">KM__</span>そうです。『Butterty FL』は発表した絵画の中でも初期の頃の作品で、アナグラムの手法を用いて描いています。正式には『Buttery FL』の前に『R read idea “MMIMM”』という作品を制作したのですが、これも同様の手法です。</p>
				<p>絵画の条件のへりの部分について考えるようになって以降、名前というものに興味を持つようになりました。『Buttery FL』を制作する前、蝶が気になっていて、蝶にまつわる絵を描きたいなと考えていました。</p>
				<p>名前という質量のないものによって作られる現象とかイメージ、蝶の開閉運動は生物をただ一本の線の中に閉じ込めようとします。そういった観点から、自分の蝶に対しての興味をButterflyという名前や、その特徴的な仕草から考察し、モノタイプでキャンバスに落とし込んでいった感覚です。</p>
				<p>Butterflyという単語を分解して並べ換えると、Buttery FLという、バターのようなFL、バターのような質のFとL、蝶とは全く別の意味が発生する。そういったアングルや、並べ方で、異なった実体になってしまうという視点を示すのは自分の制作の上で主要な要素のひとつになっていきました。</p>
				<p><span class="talker">IL__</span>松下さんの言葉への興味は他の作品でも見受けられますが、特に、2019年の児玉画廊のグループ展『思考のリアル』で展示していた『Mom wine, I’m women』が気になります。あの作品だけ、作家名が松下悦子になってましたよね。</p>
				<p><span class="talker">KM__</span>タイトルの『Mom wine, I’m women』は、I'm womenをアナグラムして出てきたフレーズです。</p>
				<p>僕は普段からノートに気になった名前や文章、自作の詩を書き留めているのですが、その中に書かれてあった’I am women’という文章がその時は引っかかりました。「女性である」という文章について考えている過程で自分の母方の祖母が出てきて… その祖母の名前が悦子なんです。姓は松下ではなく元臼といいます。そこから自分の振る舞いとか特徴、物事の認識の傾向とか、自分の自己形成の何パーセントかに関わっているであろう祖母の存在をなんらかの形で表現したいと思うようになりました。それについて考え始めると自分が描いた絵の割合についても気になってきて、たぶん、自分という存在は必ず99%以下で、残りの1%以上はこの『Mom wine, I'm women』の場合、祖母である悦子の想像力によって侵されるんじゃないかな。</p>
				<p>ただ、「99%」も「1%」も、違いが全く理解できないようなままの自分がいるときもあります。先ほども話した通り、僕は物事の条件みたいなものを考えるのが好きで、例えば展示されている絵画はどの情報の範囲まで絵画なのかとか、額縁は絵画に含まれるのか、とか。そうやって考えていくと、最終的には自分がいる空間が絵画でない可能性すら疑わなくてはいけないことになってしまって…絵画を作る自分自身の名前のスケールにまでアナグラムの作用を適用することで、自分の中の絵画の枠組みの認識に対しての疑問や、それに対する姿勢みたいなものを見せようとしたんだと思います。松下悦子という名前が絵画の一部になりうる機会は、プライスリストの中であったり、ウェブ上で作品と同時に表示される場合であったりします。</p>
				<p><span class="talker">IL__</span>面白いですね。先ほどからお話に出てくるアナグラムや名前など、言葉に対しての興味が松下さんの絵画作品へと繋がっているように感じましたが、普段から文章を書いたりしていますか？ また、言葉に対しての興味を持ったきっかけ等があれば教えてください。</p>
				<p><span class="talker">KM__</span>はい。気になった文章や名前をノートに書き留めたり、あとは詩を書いたりしてます。</p>
				<p>元々、本を読むのが好きで、特に三島由紀夫やJ.D.サリンジャーにはとても影響を受けています。表現をすることのきっかけになったというか、最初に好きになったアーティストは誰？と聞かれたら、真っ先にこの二人の名前を先にあげると思います。あとはリチャード・プリンス。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide07_sp.jpg" /></picture><span class="caption">KoM crossword, 2018, gesso, varnish, pencil, and oil on canvas, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide08_sp.jpg" /></picture><span class="caption">KoM crossword, installation view, 2018</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide09_sp.jpg" /></picture><span class="caption">X is, X is, X is, 2018, oil on canvas,  courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide10_sp.jpg" /></picture><span class="caption">Crone’s altar (corner "last A"), 2018, pencil, oil on canvas,  courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide11_sp.jpg" /></picture><span class="caption">Holden Caulfield &amp; Holedance Illfud, 2018, pencil and oil on canvas, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>松下さんにとってそのノートの存在がとても重要な存在なのだと思いますが、基本的にノートに書かれている名前、詩、図形やドローイングなどをモチーフとして絵画制作は始めるのですか？</p>
				<p><span class="talker">KM__</span>基本的にはそうですね。ノートに書かれている固有名詞や文章を並べ替えて、言葉遊びをすることから制作が始まっていく感じです。アナグラムすることによって本来の意味とは全く異なった対象物が浮かび上がってきて、その対象物を絵画という文脈に絵の具で定着させていくような感覚です。絵の具以外にペンも使ったりします。</p>
				<p>あとは、ノートのページを印刷して支持体として使うこともあります。例えば、2019年に制作した『Doland Doland』と、2018年に制作した『Doland』は基盤になったドローイングが同じです。『Doland Doland』に関しては、基盤になったドローイングを裏返して透かして使用しているので、図像は反転していますが。</p>
				<p><span class="talker">IL__</span>なるほど。その他に絵画を制作してる上で重要視している事などあったら教えてください。</p>
				<p><span class="talker">KM__</span>自分の目の前にキャンバスが疑いようもなく置かれていたとして、そのサイズに対象をどう当てはめていくかみたいな事を僕は重要視しています。何というか、絵を描く時に、自分に条件を課しているような感覚です。サイズはそのひとつになると思う。</p>
				<p>例えば2mの豚を模写してリアルに描こうってなって、その時目の前にあるキャンバスが1m×1mのサイズだった場合、その豚をキャンバスに収めるために縮小する必要が出てくると思うんですが、僕はそれをしたくなくて。それよりも、自分にとってはその2mの豚のどの部分をトリミングして描くのかってことの方が重要です。豚の顔にフォーカスするのか、お尻を描くのか、とか。お尻だったら、「豚」ではなく「肛門」についての絵画になるかもしれません。もし胴体部分を切り取って描いた場合、1mのキャンバスはただのピンク色の平面になっちゃう。</p>
				<p><span class="talker">IL__</span>絵画が完成した瞬間をどのように見極めますか？</p>
				<p><span class="talker">KM__</span>正直言うと、今まで「完成したな。」って感じたことはあまりなくて… その絵を見ている人を想定する事ができた段階で一旦筆を置きます。</p>
				<p><span class="talker">IL__</span>最後に、今回私たちのプロジェクトスペースで開催される個展『X’mas』についてお話を聞かせてもらえますか？</p>
				<p><span class="talker">KM__</span>今回の個展では新作6枚のペインティングを展示します。タイトルの『X’mas』は以前から気になっていた単語で、日本においてクリスマスって何を形容している言葉なのかいまいちよくわからないところが気に入っています。</p>
				<p>例えば、クリスマスを空の容器に見立てたとして、そこに何が入っているのか、雪が降っている、それに紛れてキリストが降りてくる、病気が治る、目の前の死んだ鳥から香ばしいソースの匂いがする、恋人が笑ってる、たくさんのものが安く手に入る、プレゼントがある…それと、当たり前だけど、同じ時期に同じクリスマスが一生続くとは思えないです。何かを信じているとすれば、それだけでひとつ絵画を作ったことになりますよね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide12_sp.jpg" /></picture><span class="caption">When I said that, When I shit DATA, 2018, marker, pen, and book, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">松下和暉は1992年東京都生まれの画家、そして詩人である。アナグラムの手法を用いて言語的に絵画へとアプローチすることで、言葉が持つ断定性と脆弱性の両側面を浮かび上がらせる。</dd>
					<dd class="desc">
					過去の主なグループ展、アートフェアに、『ignore your perspective 52 Speculation⇆Real』児玉画廊（東京）、NADA MIAMI 2018（4649）,『ignore your perspective 44 合目的的方法法』児玉画廊（東京）、『ignore your perspective 42　友愛の文法』児玉画廊（東京）、『Group Show』4649（東京）がある。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

