{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__019: In conversation with: Leidy Churchman",
	description: "New-York based artist Leidy Churchman paints the subtleties of feeling that make up the layers of our everyday existence. A practicing Buddhist, Churchman describes the process of meditation as one of observing and allowing; of noticing our thoughts and feelings pass through us without holding on to them too tightly.",
	ogimage: "https://imlabor.org/journal/interview/019/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "019",
                "item": site.url +"/journal/interview/019/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/019/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "019"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“My paintings are made with each other in mind, the same way a person is made of pieces of everyone else but is able to act with agency in the world.”</h3>
				<p class="lead">New-York based artist Leidy Churchman paints the subtleties of feeling that make up the layers of our everyday existence. A practicing Buddhist, Churchman describes the process of meditation as one of observing and allowing; of noticing our thoughts and feelings pass through us without holding on to them too tightly. This practice of simply paying attention is key to Churchman’s artistic approach; their expansive paintings vary greatly in terms of subject matter, scale, composition and painting style in the same way that our collective human experience constantly flows and fluctuates - with seemingly disconnected images, thoughts and emotions coming and going all the time.</p>
				<p><span class="talker">INDIA NIELSEN__</span>It’s been over two years since the first COVID-19 outbreak was reported. Where are you currently based and how have you had to adapt as a result?</p>
				<p><span class="talker">LEIDY CHURCHMAN__</span>I have a studio in New York but since the pandemic outbreak I’ve been spending longer periods of time at my house in Maine. I love going there to make paintings and spend time in the woods. I’m now back in New York and starting to work in a new studio.</p>
				<p><span class="talker">IN__</span>You first started showing your work through the New-York based art collective <a href="http://lttr.org/events" target="_blank" rel="noopener noreferrer">LTTR</a>, which also published a queer feminist journal of the same name. How did you become involved with them and what were these first exhibitions like?</p>
				<p><span class="talker">LC__</span>LTTR was an expansive and radical project. The events were big and chaotic, while also being intimate with many people working together to make them happen. It was an awesome queer art community and I was lucky to be a part of it. There is a great archive of the entirety of the output.</p>
				<p><span class="talker">IN__</span>Your source imagery is very open and seemingly untethered to a specific time or place - you use screen shots from YouTube videos, googled images of wildlife, medieval manuscripts, book covers, thangka paintings depicting Buddhist deities, iconic symbols, tarot cards, embroidered designs etc. It appears that you are catching images that move very quickly and fixing them in paint - a comparatively very slow medium. In selecting images for your paintings do you think much about the specific history of each source that you use?</p>
				<p><span class="talker">LC__</span>I try not to overthink it, but if I’m painting something realistic it’s because I want it in the room. To me, if you see an image that’s more abstract and then you see an image from a television screen the two help stabilise each other. The idea of having different kinds of imagery is not weird to me. We’re all over the place and images and thoughts are coming and going all the time. Our experience is never singular.</p>
				<p>My paintings all come about in relationship to each other. Many times in my practice I have been drawn towards using popular or known images, to see how I can employ their traits in a myriad of conceptual and formal ways.</p>
				<p><span class="talker">IN__</span>So it’s more of an energy thing? Each painting bounces off the other?</p>
				<p><span class="talker">LC__</span>Yeah. I often think of my own painting as just my handwriting. I do things in lots of different ways. I enjoy being myself in lots of different styles. I am who I am within each gesture.</p>
				<p><span class="talker">IN__</span>How long do you usually work on your paintings?</p>
				<p><span class="talker">LC__</span>A lot of the time I’ll let a painting get to a certain point and leave it for a while because I don’t know how to finish it unless it’s alongside other paintings. I don’t like a lone painting. It needs a context and an environment that it’s from, so to speak. I also like to bring unfinished paintings into my house and live with them a while. I love being around an unfinished painting because it’s not closed to me yet.</p>
				<p><span class="talker">IN__</span>You’ve made copies of other artist’s work. I’m thinking specifically of your painting <em>Kruger</em> (2017) based on the artist Barbara Kruger’s photograph edition <em>Untitled (Seeing through you)</em> (2004). Can you talk about why you chose this Kruger work and what making your own version of artists’ work does for you?</p>
				<p><span class="talker">LC__</span>I like keeping the references I use intact. I’m not very interested in making an uber-creative version of something - I feel a commitment to keep that thing constructed as it is as much as possible, so it can be itself, so to speak. When I paint the image I’m exploring ways of opening it up further, rather than seeing it as an embellishment or reimagining of the subject matter. <br>That’s one of the reasons I’m drawn to painting; it’s a medium that can move in many different directions simultaneously. </p>
				<p>The Kruger image came to me sideways as an advertisement. It was being auctioned that week and I liked the idea of mirroring its re-emergence.  I was inviting it into my world. </p>
				<p><span class="talker">IN__</span>So how do you decide which parts from the original are okay to change and which bits need to be left alone in order to maintain its integrity?</p>
				<p><span class="talker">LC__</span>That is resolved through the process of painting. It often feels like I need to do all this stuff to a painting, but then I leave the studio for a minute and come back and realise that the painting’s already happening and I need to read it as such and move forward with that understanding.</p>
				<p><span class="talker">IN__</span>Because your work feels so open I’m interested to know to what extent ethics plays in the way you filter images. Is there anything you feel you could not paint?</p>
				<p><span class="talker">LC__</span>Nothing’s off the table. But you always need to consider the timing of the moment and what it means to produce an image in that moment. A lot of reflection, attention, and care are needed. There is a real sense of connecting to the collective mind. But it is essential to consider this all comes from my own particular, individual point of view and experience. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide01_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Kruger', oil on linen, 85.09 x 67.3cm, 2017, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide03_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide04_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Milarepa’s Biggest)', oil on linen, 177.8 x 142.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide05_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide07_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Sparkling Bruised)', oil on linen, 24.3 x 29.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Between is Ringing', Rodeo, London, 2021, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide09_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'The Between is Ringing (Diptych)', oil on linen, 248 x 147.5cm, 2020, Photography: Lewis Ronald, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>I went to see your solo exhibition <a href="https://rodeo-gallery.com/exhibitions/the-between-is-ringing/" target="_blank" rel="noopener noreferrer"><em>The Between is Ringing</em></a> at Rodeo in London last summer. It was towards the end of a 6 month lockdown so it was really nice to finally see work in the flesh again. These paintings are a little different to some of your others in that most of them appear to be imagined scenes - they don’t seem to have a definite source or to be based on found imagery like much of your other work. Can you talk about the works you included in this show and how you made them? </p>
				<p><span class="talker">LC__</span>Honestly it’s hard to get into it right now. I had so much fun making that show. The world was in lockdown and I didn’t really feel like starting with specific images collected from it. So most of them originated in abstraction from my head and then emerged as the Legend of Milarepa and a crazy way of relating to outer space. Because of the restraint put on our daily lives we had to create new relationships within our own minds. There was no way to plan anything for the future which was very shocking. It felt like emotional whiplash into the present moment over and over. I wanted to make paintings that reflected this new collectiver reality.</p>
				<p><span class="talker">IN__</span>A lot of these paintings are quite suggestive of celestial bodies. Are you into astrology?</p>
				<p><span class="talker">LC__</span>I don’t think I’ve ever made a painting about astrology but I’m interested in how in the past astronomy and astrology were one thing.</p>
				<p><span class="talker">IN__</span>Do you ever think about the reaction you want people to have to your work?</p>
				<p><span class="talker">LC__</span>I love it when there’s a lightness to the work; I want it to look really easy and free. I think I apply a lot of skill to my paintings but I only apply what’s needed in that moment and nothing more.  If there’s something grand in the painting it’s for the pure joy of grandiosity; it’s not to show you that I’m some kind of master painter. I can relate this to meditation.  It takes focus. It’s an easy thing that’s even easier to make difficult. I think painting’s the same way. Even when painting’s serious it should move through you like a thought. </p>
				<p><span class="talker">IN__</span>In an interview with Phaidon Press in 2016 you state that it was after studying Dada (the art movement) at college that you started making art “extremely furiously.” What was it about Dadaism that affected you so greatly and how did your work change as a result?</p>
				<p><span class="talker">LC__</span>I found it very exciting because it was all about smashing expectations of what it means to connect and communicate. It was not about perfection at all. Learning about Dada dared me to step into art as a frame of mind.</p>
				<p><span class="talker">IN__</span>You’ve also made video works. The Dada influence can be seen explicitly in a video series <em>Painting Treatments</em> (2010). Filmed in a studio setting and starting always with naked bodies partially covered with a blanket, random materials are dropped on this makeshift “canvas” like layers of paint; potatoes, dirt, actual paint, flour, clothing, tree branches, planks of wood… To me this video series performs what you do in your paintings in a manner that is exaggerated and ridiculous. In your paintings, as well as in these video works, everything seems to be the equivalent to everything else; <br>There seems to be a gleeful enjoyment of using things in the wrong way. Would you say that’s accurate?</p>
				<p><span class="talker">LC__</span>Yes. I really felt like everything was doing the painting in those videos. It’s hard to encapsulate it.</p>
				<p><span class="talker">IN__</span>A lot of Dada activities were very reactionary. Do you feel that your work is reacting against anything? Yours doesn’t strike me as a practice that reacts against things necessarily, but flows with them…. </p>
				<p><span class="talker">LC__</span>If I was reacting against anything it would be the entire mindset of global capitalist culture in its full throttled attempt to disregard reality.</p>
				<p><span class="talker">IN__</span>What do you mean by “reality”?</p>
				<p><span class="talker">LC__</span>I feel we are living in a reality where we’re treating the earth, our minds and our bodies as though everything is permanent. What we’re taught is how to  figure out who you are, how to be a strong individualist, create capital, and become eternal.  This is the complete opposite to Buddhist thought which is to recognize our interdependence and aspire to compassion. To breathe, give our love to others, let go, and die.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide10_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide11_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide12_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Painting Treatments', two-channel video, color, sound, 25 minutes 1 second, 2010, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide13_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide14_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide15_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide16_sp.jpg" /></picture><span class="caption">Installation view, Leidy Churchman, 'The Meal of the Lion', Murray Guy, New York, 2015, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>I did an <a href="{{ site.root }}journal/interview/004/">interview</a> with the New York painter Jason Fox around the beginning of the pandemic and he talked about Philip Guston as being this great shadow he felt like he had to “get out from under” as a young artist because, in many ways, Guston had already done what he wanted to do. Are there any artists who inspired you but who you similarly felt you had to try and shake off in order to find yourself in your work?</p>
				<p><span class="talker">LC__</span>Yes, I read that interview! For me that was Rousseau… that might be part of the reason I painted <em>The Meal of the Lion</em>, however, the term “get out from under” doesn’t personally apply to me. I’m trans so I’m interested in expansion. I don’t want to shake anything off. I do understand what Jason is saying about Guston, though. Guston’s work is beautiful; he’s telling stories with paint and he uses an incredible amount of skill while also making fun of himself.</p>
				<p><span class="talker">IN__</span>How did you get into Buddhism?</p>
				<p><span class="talker">LC__</span>I’ve always really wanted to study Buddhism but didn’t really understand how or where to start for a long time. Around 2013 I started to learn about it and began reading dharma books and aspiring to meditate.</p>
				<p>It was funny though because it’s actually very hard to simply sit down, that’s why one of the Buddha’s first instructions is: “Take your seat.” So I diligently set myself up a special meditation area with a little cushion and, for the first three years I just could not bring myself to sit down there. I would just walk past and be like “Hi!”</p>
				<p><span class="talker">IN__</span>What was it about Buddhism in particular that drew you to it?</p>
				<p><span class="talker">LC__</span>From the very beginning of reading dharma I just thought: “Oh my god, I’m reading about everything I truly care about.” Buddhism describes layers of our experience that nobody talks about.  Bodhicitta, for instance, refers to the awakened state of mind, or the awakened mind from within your own heart. This idea, that we are already awake and we only need to recognize it is central to the dharma. </p>
				<p><span class="talker">IN__</span>It seems that there’s always a demand in the art world for you to take a singular position and have a specific kind of language and conversation around your work. Buddhism has a long history behind it so I wonder if a coincidental benefit Buddhism gave you was a readymade language with which you could describe and embody these feelings through painting.</p>
				<p><span class="talker">LC__</span>I like to bring Buddhism in because I feel like it is really about liberation and awakening. This is alive to me. I love activism and there’s an aspect of that to my work. But there’s also a lot of weird emotion mixed in there that’s hard to articulate. Talking about Buddhism helps because it speaks to everything in the world. It’s like a compass.</p>
				<p><span class="talker">IN__</span>Do you feel emotional when you make your work?</p>
				<p><span class="talker">LC__</span>I paint because it’s the perfect medium for me. I want to talk about what things are, what they look like and do, but with the feeling of what they truly are which touches on the mysterious concept of emptiness. I want to express the sheer range and subtleties of those feelings.</p>
				<p><span class="talker">IN__</span>What would you recommend to someone who’s interested in learning about Buddhism?</p>
				<p><span class="talker">LC__</span>I would get one of the first books on Buddhism to be written for Western students called <em>Zen Mind, Beginner's Mind</em> by Shunryū Suzuki. I would also google Lama Rod Owens and angel Kyodo williams, two teachers who co-wrote the book <em>Radical Dharma</em>.  If you can, find a meditation instructor. Someone you can talk to and check in with.</p>
				<p><span class="talker">IN__</span>Do you have any advice for younger artists?</p>
				<p><span class="talker">LC__</span>Whatever you really love paying attention to has power.… How’s that?</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/019/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/019/img/slide17_sp.jpg" /></picture><span class="caption">Leidy Churchman: 'Perky Snowlion', oil on linen, 78.7 x 104 cm, 2018, Courtesy of artist and Rodeo, London / Piraeus</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Leidy Churchman (b. 1979) was born in Villanova, Pennsylvania, and lives and works in New York.  Churchman studied for a BA and MA at Hampshire College, graduating in 2002. As an undergraduate, Churchman began collaborating with New York-based queer feminist art collective LTTR and contributed drawings to their journal, later joining them in various performative actions into the mid-2000s. In 2010, Churchman completed an MFA at Columbia University, followed by a two-year artist residency at the Rijksakademie van beeldende kunsten in Amsterdam. At this time, the artist focused on video art and making the large-scale floor paintings that would serve as sets for various video works and performances. It was only in 2013 that Churchman returned consistently to the easel-painting seen in their seminal works.</dd>
					<dd class="desc">Churchman’s work has been shown at museums including MoMA PS1 in New York, Museum Brandhorst in Munich, and the Museum of Contemporary Art in Los Angeles. Solo exhibitions include FOCUS, Modern Art Museum of Fort Worth (2021); Crocodile, Hessel Museum of Art and CCS at Bard College, THE BETWEEN IS RINGING, RODEO London, (2021), Annandale-on-Hudson (2019); Free Delivery, Kölnischer Kunstverein, Cologne (2017); Lazy River, Boston University Art Gallery (BUAG), Boston (2013).</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen (b. 1991 in London) studied at The Royal College of Art (2016-18) and Slade School of Fine Art (2012-16) in London. In 2022, Nielsen will have a solo exhibition at Lazy Mike gallery. She has been involved in recent group exhibitions at Paradise Row, V.O Curations, Fitzrovia gallery (London) and Annarumma gallery (Naples) in 2022. Recent solo exhibitions include M is for Madonna, M is for Mariah, M is for Mother at Darren Flook, Crybaby at Imlabor (Tokyo) in 2021 and RedivideR at Platform Southwark (London) in 2020. She also took part in group exhibitions at White Crypt Project Space, Collective Ending (London) and Spazio Amanita x Avant Arte (Florence) in 2021 and at White Columns, curated by Danny Baez, (New York), Roman Road, The Residence Gallery and Southwark Park Galleries (London) in 2020. She also writes, interviewing other artists for the Imlabor website. She lives and works in London.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

