{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__022: Interview with: Nobuko Tsuchiya",
	description: "Nobuko Tsuchiya is an artist renowned for creating captivating visual narratives through the meticulous combination and disassembly of diverse scraps and materials sourced from various locations. Each artwork she produces can be considered a unique expression of her visual language, encompassing a rich tapestry of elements.",
	ogimage: "https://imlabor.org/journal/interview/022/img/share.png",
	breadcrumbs: {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url +"/"
			},
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JOURNAL",
				"item": site.url +"/journal/"
			},
			{
				"@type": "ListItem",
				"position": "3",
				"name": "INTERVIEW",
				"item": site.url +"/journal/interview/"
			},
			{
					"@type": "ListItem",
					"position": "4",
					"name": "022",
					"item": site.url +"/journal/interview/022/"
			}
		]
	}
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/022/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "022"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I don’t know what I’m going to make at the beginning, and I don’t know what I’m making until the end. If you know what you are making, you cannot go beyond what you already know.”</h3>
				<p class="lead">Nobuko Tsuchiya is an artist renowned for creating captivating visual narratives through the meticulous combination and disassembly of diverse scraps and materials sourced from various locations. Each artwork she produces can be considered a unique expression of her visual language, encompassing a rich tapestry of elements.</p>
				<p class="lead">During a chilly day in May, we had the privilege of visiting SCAI PIRAMIDE, the venue hosting Tsuchiya’s solo exhibition titled <a href="https://www.scaithebathhouse.com/en/exhibitions/2023/04/nobuko_tsuchiya_stay_as_a_wave/" target="_blank" rel="noopener noreferrer"><em>Stay as a wave</em></a>. We had the opportunity to speak with her and delve into her creative process. As we crossed the threshold of the gallery and entered its hallowed space, our senses were immediately captivated. An intangible allure beckoned, enticing us to explore further even within seemingly empty spaces.</p>
				<p class="lead">Indubitably, that was caused not only by Tsuchiya’s deep awareness of her sensations and experiences in the production process, which she talked about in this interview,  but also by the constant production process of breaking down something the moment it becomes clear.</p>
				<p class="lead">In this interview, Tsuchiya talks about her time in London in the 2000s, how she gathers materials and turns them into artwork, and what transpires during that process.</p>
				<p><span class="talker">IM LABOR__</span>You used to live and work in Italy. Can we first ask you about the experience?</p>
				<p><span class="talker">NOBUKO TSUCHIYA__</span>In Italy, I was in a painting course at the university. It is there that I discovered that I cannot paint. *Laughs*</p>
				<p><span class="talker">IL__</span>Do you mean oil painting?</p>
				<p><span class="talker">NT__</span>Yes, and I also learned how to make frescoes.</p>
				<p><span class="talker">IL__</span>What was the art school like in Italy?</p>
				<p><span class="talker">NT__</span>I wasn’t thinking of becoming an artist at the time. I was in Florence, surrounded by Renaissance art and either learning or not learning their traditional techniques at the school. So, I started to feel cramped and ended up arguing with the professors.<br>Then, upon losing my direction, I went to Venice to see the Biennale. That was fantastic! I remember that feeling of blood rushing through my body. I was so thrilled by how free and crazy the works at the Biennale were, and I strongly thought that “I want to be a part of it!” The works there had such direct statements; about things that were always deep within me, had been locked and shut because I thought I should. I was in shock!  It was not about the art, but about their behavior in front of society that made me tremble. Also, I felt that the way of life that I endure while looking at the state of society is ridiculous. I shouted at the canal in Venice, “Me too! I do!”<br>I think now, the work affirmed me. It truly did.</p>
				<p><span class="talker">IL__</span>That’s how you decided to become an artist?</p>
				<p><span class="talker">NT__</span>Yes. But I got fired from the school in Italy and had no money. I then found a grant and applied for it, and luckily, got accepted. The grant truly changed my life. Without it, I wouldn’t have been able to do anything.</p>
				<p><span class="talker">IL__</span>And then you went to London?</p>
				<p><span class="talker">NT__</span>Yes, I got into Goldsmiths, a preparatory course for the MA. It took a year to finish, and then I went to the Royal Academy.</p>
				<p><span class="talker">IL__</span>What was your impression of the school and students in London at the time?</p>
				<p><span class="talker">NT__</span>Those days were like… if you stood out, your door will be open. So, there was a lot of competition and tension between students; I had my work destroyed by other students. In most cases, the standout students in the degree show had opportunities to work with a commercial gallery. Society was looking for new values and ideas, filled with anticipation of a new era-the Euro.</p>
				<p><span class="talker">IL__</span>Maybe that was because it was in London in the year 2000?</p>
				<p><span class="talker">NT__</span>With YBA, London was extremely active even before the Millennium, the time before I moved to London. Often the cover of gossipy newspapers  would be about contemporary art. At my friend’s exhibition, a young curator approached me quickly and said, “I have a problem with your work!” Everyone was arguing about whether their work was good or bad, and London was hot anyway. The headline of the review of my first solo exhibition was something like “Nonsense.” It was crazily intense, wasn’t it?  *Laughs*</p>
				<p><span class="talker">IL__</span>I see… *Laughs*. Did you also visit European countries during your stay in London?</p>
				<p><span class="talker">NT__</span>Yes. All of Europe is very close, and information comes and goes quickly. I especially liked exhibiting in France and Italy. Their responses were always nice!  Back then, London was looking for a “Cool Context,” but I wasn’t interested. In that sense, the scenes in Italy and France were simpler—first, they would see the work with their eyes and make judgments, and then they would ask questions about the work.</p>
				<p>But when I did an exhibition in the UK some years ago, the reaction was interestingly different from then. I was pleasantly surprised at the change. Their reactions were the same as in France, Italy, and other countries. They first looked at my work carefully without talking….</p>
				<p>Well…Here’s the thing… I think it’s not -so- cool to ask me to talk about the concept of my work. If someone asks me about it, I re-ask them, “Do you have a concept of your life?” and escape from them quickly. *Laughs*<br>My work is all about what you see there. And my work is about you, -ish. *Laughs*</p>
				<p><span class="talker">IL__</span>How long did you live and work in London?</p>
				<p><span class="talker">NT__</span>About ten years. I was busy, being in my studio seven days a week. I was always under pressure, so, my immune system was down and I got sick often. I was pretty tired.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide01_sp.jpg" /></picture><span class="caption"><em>Nike of Samothrace</em> at 50th Venice Biennale, 2003, 180 x 80 x 75cm, Mixed media, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide02_sp.jpg" /></picture><span class="caption">Exhibition view, 2007, at galleria enrico fornello, Italy, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide03_sp.jpg" /></picture><span class="caption"><em>Faster than lights, Absinthe machine</em>, 2011, 90 x 50 x 10cm, Mixed media, Photo by Keizo Kioku, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide04_sp.jpg" /></picture><span class="caption"><em>11th Dimension Project</em>, at Art Tower Mito, 2011, 225 x 290 x 340cm, Mixed media, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide05_sp.jpg" /></picture><span class="caption"><em>Railfish</em>, 2014, 117 x 125 x 240cm, Mixed media, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>You also spent a lot of time in Italy, and I get the impression that Arte Povera somewhat influences your work.</p>
				<p><span class="talker">NT__</span>Yes? Well… I don’t know… Of course, I like it. But  I haven’t studied it and am not particularly keen on it either. Moreover, I haven’t come across any Italians who have said the same thing as you.</p>
				<p><span class="talker">IL__</span>Do you think your work had some familiarity for people in Europe?</p>
				<p><span class="talker">NT__</span>I don’t know. My work was often described as exotic, mysterious, or strange…</p>
				<p><span class="talker">IL__</span>I would like to ask you about the materials of your work; have you always used the materials you use in today’s work since you were a student in London?</p>
				<p><span class="talker">NT__</span>I used to use more waste materials than I do now. Back in London, I could collect all kinds of nice discarded items, and I often found them even on the streets. So, I was sometimes refused to get the bus because of my lovely rubbish that I picked up on the street. I even had an incident where I fell head-first into a vendor’s bin out of excitement while looking for them. London was truly a Paradise of waste materials back then. *Laughs*</p>
				<p><span class="talker">IL__</span>Do you start work on production once you’ve collected all the materials?</p>
				<p><span class="talker">NT__</span>I collect materials daily, even if I’m not making work.</p>
				<p><span class="talker">IL__</span>Then you take the materials you’ve collected and put them together while thinking about what you will make.</p>
				<p><span class="talker">NT__</span>Not really. I don’t know what I’m going to make at the beginning, and I don’t know what I’m making until the end. If you know what you are making, you cannot go beyond what you already know, right?</p>
				<p><span class="talker">IL__</span>So you don’t decide what you will make…</p>
				<p><span class="talker">NT__</span>That’s right. I start without any clear ideas. I cut and attach or engage in any act with materials, like play. I continue the action until it seems like something. I collect and leave them, looking at them from afar. Sometimes, the fragments pull up buried memories and push me to imagine somewhere to go. But once I could recognise exactly what it is, I disassemble them back to the process to find other possibilities. I continue to assemble and operate them as an accumulation of decisions. These decisions are made by different ways of thinking: musical, logical, sensual, sensory, linguistic, and something I don’t understand.</p>
				<p>Finally, as I reach the end, the fragments of the layers suggest something that I cannot fully recognise, but with a strong feeling of the existence of something, then, I stop. It must be like a hook, the hook for your depths… Possibly, I’m too ambitious. *Laughs* <br>Ho, I’ve forgotten to tell you. To finish, then, I get balance. “The balance” is just me pretending to be cool as a member of society. *Laughs*</p>
				<p><span class="talker">IL__</span>*Laughs*</p>
				<p><span class="talker">NT__</span>I don’t make, I’m looking for. If you make something, you can only make that thing, right? These limitations are incredibly restrictive for me, and it becomes almost impossible to surprise myself. Which is why I get bored during work. But let me whisper something to you; I am a bit scared every time I’m “Looking for”. Because I don’t know what will come, I don’t have a guarantee of completing my work. *Laughs*</p>
				<p><span class="talker">IL__</span>Can you tell us what you mean by balance?</p>
				<p><span class="talker">NT__</span>In the case of an exhibition, I often make the final touches in balance with the space. But it’s okay to break that balance. I sometimes like broken balance. Balancing is also about evoking the rhythm within and between works. I look for a balance that attracts people into my work.</p>
				<p><span class="talker">IL__</span>Do you adjust your pieces at the site?</p>
				<p><span class="talker">NT__</span>The impression is often different when you see it on site, and the work changes depending on how it fits in with the space. The same can also be said for my current solo exhibition; there are things I’ve torn down and made smaller.</p>
				<p><span class="talker">IL__</span>You mentioned “Cool Context” earlier; in which terms does your work relate to Language?</p>
				<p><span class="talker">NT__</span>Language is tricky. I break it down into fragments and treat it like any other material. Language is always with us, and it’s unnatural and hard to escape from it completely. I don’t incorporate Language into my work in the usual way. Because it claims sociability as a tool to connect with people. What I want to try is to take out something deeper inside myself, very personal or something isn’t being described.  Language affects me like clothes; I’m not interested in fashion. <br>Either way, dismantling Language into pieces is automatic and unconscious in my process. Is that what happens when you adjust Language to the speed of sensory information? Well, it never really catches up. Language is roundabout and muddled, isn’t it?</p>
				<p><span class="talker">IL__</span>What else do you value in your production?</p>
				<p><span class="talker">NT__</span>Well, I guess… the feeling of the material in my hands, the weight and temperature, playing with the material before working on it. This is like dancing softly while wrapped in a material like wool. *Laughs*</p>
				<p><span class="talker">IL__</span>Like imagining that you are taking the material into your body?</p>
				<p><span class="talker">NT__</span>Well… like medium? NO! *Laughs*<br>Rather than taking them into my own body, I’m having a kind of conversation with them. Many things just pop into my head; it could be a forgotten emotion, an imagination gone somewhere, or a desire I’m not usually aware of. Something in my body works, not only my head. So playing with the material lets me draw myself out like a magnet. And when you combine or break the materials, it accelerates or stops, which is fun. It’s more fun than being with people. *Laughs*</p>
				<p><span class="talker">IL__</span>Are your criteria for collecting material also based on your own hook-like feeling?</p>
				<p><span class="talker">NT__</span>Do I have those criteria, or not? I wonder if there are materials I get on with or don’t. But often, objects I leave alone for ten years look wonderful afterward, and I often use objects I picked up somewhere 20 years ago. I never knew whether I would use these objects as materials at that point. I’ve collected different materials from different countries. Sometimes, the same material works differently if they come from other places.</p>
				<p><span class="talker">IL__</span>Do you always enjoy the production process?</p>
				<p><span class="talker">NT__</span>Yes, it is fun but takes up a lot of energy, too. When I’m in the final stages of my process, I’m shaping the pieces of the output scattered all over the studio and in my head—final development. Usually, most heavy lifting is done at that point, so I don’t use much physical energy, yet, I end up losing a lot of weight. I developed a liking for chocolate. I lost six kilos of weight during the preparation for my exhibition, <em>Stay as a wave</em>.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide06_sp.jpg" /></picture><span class="caption"><em>Mayfly</em>, 2019, 33 x 130 x 88cm, Mixed media, at Leeds art gallery, Yorkshire Sculpture internasional, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide07_sp.jpg" /></picture><span class="caption"><em>30 ways to go to the moon</em>, 2019, at Leeds art gallery, Yorkshire Sculpture internasional, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide08_sp.jpg" /></picture><span class="caption"><em>Mute-Echoes</em>, 2020, at Nissan Art Award 2020, Photo by Motoi Sato, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide09_sp.jpg" /></picture><span class="caption"><em>Breve</em>, 2020, at Nissan Art Award 2020, 148 x 114 x 120cm, Silicone, Air, Photo by Keizo Kioku, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>Listening to your story strongly made me think about “leaving the unknowable as unknowable.”</p>
				<p><span class="talker">NT__</span>Not knowing is fun. It’s more fun to think about what it is like rather than what is defined.</p>
				<p><span class="talker">IL__</span>Nowadays, and it is not just in the realm of art, it seems that everything is expected to have explanations readily available or pre-existing answers to every question.</p>
				<p><span class="talker">NT__</span>Ho, really? Are you sure? Is it possible that it’s an illusion? *Laughs* <br>Well…For example, did you know that squids and octopuses have strong personalities? According to the videos uploaded by divers, they show distinct personalities just like us. </p>
				<p>There are the curious ones, the coward ones who permanently hide behind someone else, or those who specialise in intercepting their prey.  I almost feel like I could be friends with them. But you see, they don’t have a brain; they think with their nerves. The possibilities of the nervous system… Look, we were all originally from the sea. Then, I really wonder…… Have we thrown 100% of those valuable possibilities away? Is there even any reason for it? The speed of our reactions, conscious and unconscious, is completely different. But do they all reach the brain?<br>I suppose there are many things we don’t understand; we just think we know. So, I wonder…</p>
				<br><br>
				<p>Special thanks: SCAI THE BATHHOUSE</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide10_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide11_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide12_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide13_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide14_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Nobuko Tsuchiya lives and works in Kanagawa prefecture, Japan. She studied at Royal Academy of Arts (2001-2003) and Goldsmiths (2000-2001) in London.</dd>
					<dd class="desc">Her recent exhibitions include <em>De(s)rives #6</em>, Galerie Aline Vidal, Paris, 2023, <em>Stay as a wave</em> (Solo), SCAI PIRAMIDE, Tokyo, 2023, <em>De(s)rives #5</em>, Galerie Aline Vidal, Paris, 2022, <em>Strange Attractor</em>, Pavilhão Branco, Lisbon, 2022, <em>Matsumoto Architecture+Art Festival</em>, Nagano, 2022, <em>,,,</em> (Solo), Gregor Podnar, Berlin, 2020, <em>Nissan Art Award 2020</em>, Nissan Pavilion Yokohama, Kanagawa, 2020, <em>30 Ways To Go To The Moon</em> (Solo), Mostyne, Wales, 2019, <em>De(s)rives #2</em>, Galerie Aline Vidal, Paris, 2019, <em>30 Ways To Go To The Moon</em> (Solo), Leeds art gallery,Yorkshire, 2019, <em>Souvenirs de voyage</em>, Musée de Grenoble, France, 2019, <em>Roppongi Crossing 2019: connexions</em>, Mori art museum, Tokyo, 2019, <em>Ame ni mo Makezu</em>, R16 Studio＋BankART Station, Yokohama, 2019, <em>L'envol</em>, La Maison Rouge, Paris, 2018, <em>Museum of Together</em>, Spiral Garden, Tokyo, 2017, <em>MATTER FICTIONS</em>, Museu Coleção Berardo, Lisbon, Portugal, 2016, <em>Hybridizing Earth, Discussing Multitude</em>, Busan Biennale, Busan, 2016, <em>Quiet Attentions - Departure from Women</em>, Art Tower Mito, Ibaraki, 2011, <em>Unmonumental: The Object in the 21st Century</em>, New Museum, New York, USA, 2007, 50th Venice Biennale <em>Clandestine</em>, Venice, 2003.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

