{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__013: In conversation with: Chris Martin",
	description: "Chris Martin is a painter of vivid forms that feel both vast and intimate. Assuming many elements of the abstract expressionist and hard edge abstraction painters of the 1950s and 60s (he describes dropping out of the Yale undergraduate painting department in 1975 to go to New York city after seeing Al Held’s retrospective at the Whitney museum), Martin combines these art-historical fragments with his own wide-ranging personal interests;",
		ogimage: "https://imlabor.org/journal/interview/013/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "013",
                "item": ""+ site.url +"/journal/interview/013/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/013/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "013"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“The real inspiration of being an artist is to forget yourself in the act of making something. That’s a blessing. To feel you have the permission to do something and to go in a lot of directions is very helpful to me.”</h3>
				<p class="lead">Chris Martin is a painter of vivid forms that feel both vast and intimate. Assuming many elements of the abstract expressionist and hard edge abstraction painters of the 1950s and 60s (he describes dropping out of the Yale undergraduate painting department in 1975 to go to New York city after seeing Al Held’s retrospective at the Whitney museum), Martin combines these art-historical fragments with his own wide-ranging personal interests; from astrology, psychedelia and rock-and-roll, to post-war European painting, early Pop-art and Eastern religion, to create an idiosyncratic visual language that is both distinctive and aesthetically diverse.</p>
				<p class="lead">His use of non-traditional materials like glitter, banana peels, slices of bread, collage and other everyday ephemera is reminiscent of his own experience working as an art-therapist in New York at the beginning of the AIDS pandemic and reflects his desire to let his paintings be living documents of how he shows up, physically and emotionally, to his studio everyday.</p>
				<p class="lead">As we chat over Skype on the evening of 11th May, he in Brooklyn and I in London, Martin talks to me about his early experiences as a young painter in New York, how he came to see art as a healing activity through the work of Carl Jung and Josef Beuys and of the importance of giving oneself permission to be creative, to play and to embrace the unknown.</p>
				<p><span class="talker">IN__</span>To start, I’d like to ask how you’ve been coping with the fallout surrounding the COVID-19 pandemic. At the time of speaking it’s been roughly a year since countries around the world first started going into lockdown to deal with the crisis. Where did you spend most of the past year and how have you had to adapt as a result of the pandemic?</p>
				<p><span class="talker">CM__</span>I spent most of the past year up in the Catskill Mountains - about 3 hours north of New York. They’re not big mountains, more like English rolling mountain hills, but there’s a lot of wild land with deer and bears roaming around. It’s pretty cool. My wife (the painter Tamara Gonzales) and I have a house and studios there. This past winter, Tamara spent most of her time in Brooklyn and I stayed alone in the country. I got a lot of work done and really enjoyed the quiet and being in the woods, although I did go a little crazy at times. Of course, I’ve missed my family and friends and seeing art shows.</p>
				<p><span class="talker">IN__</span>Your paintings are often made on a huge scale, around 12 x 15ft, but also incorporate tiny personal and textural details. I’m reminded of Julian Schnabel’s plate paintings from the late 70s and 80s in that you have this jarring near-far relationship between the painted image and the texture and pattern on the plates that lie underneath. Schnabel had his first “plate painting” show at Mary Boone gallery in New York in 1979. Were you influenced by these at all and do you remember what the general reception to these works were by other artists of your generation?</p>
				<p><span class="talker">CM__</span>I saw all those early Schnabel shows at Mary Boone and also at Castelli gallery. He made some terrific paintings and helped blow the scene wide open. In the 1970’s downtown New York had been quite an insular world; painting itself was considered suspect and not particularly avant-garde. Then, very quickly, young painters became aware of all these European artists like Sigmar Polke, Georg Baselitz, A.R. Penck and Francesco Clemente among others. By that time I had also met Jean-Michel Basquiat and was seeing all these Keith Haring chalk drawings in the subway. For me, seeing incredible graffiti paintings everywhere had a big influence on me as well.</p>
				<p><span class="talker">IN__</span>As well as using objects that hold personal significance to you (like the James Brown LPs) you use a lot of craft and everyday materials in your paintings; fluorescent pom poms, styrofoam discs, banana peels, slices of bread, toast, glitter, newspapers, carpet scraps etc. Why is it important to you to physically use these objects in your work rather than images or representations of them?</p>
				<p><span class="talker">CM__</span>Putting stuff in paintings always felt natural to me. My studio has always been filled with junk; newspapers, paper towels, aluminium foil, cardboard, broken stuff, cans, bits of wood, postcards… I see anything as a potential art material.</p>
				<p>I have also always been attracted to the physical surface and actual facture of paintings. Paintings are invented spaces, but at the same time they’re made out of earth and real ‘stuff.’ One thing that inspired me about graffiti paintings was the way they looked on walls, fences and the other fractured, scarred surfaces of urban New York City. I like thinking of paintings as pieces of wall.</p>
				<p><span class="talker">IN__</span>How did the bread paintings come about?</p>
				<p><span class="talker">CM__</span>I don’t remember how I started using bread, but I do remember really paying attention the first time I stroked a brush loaded with paint across soft slices of white bread. It was such a strange, dreamlike feeling. I started putting a lot of banana peels in the paintings too because I loved the splayed out star forms.</p>
				<p><span class="talker">IN__</span>James Brown is a figure who often emerges in your work. Can you talk about your relationship with him and when you started making paintings about him?</p>
				<p><span class="talker">CM__</span>My mother was very involved with classical music - when my family danced at a party it was the waltz. So I had that background, but I also grew up in Washington DC listening to all these wonderful radio stations playing Motown and African-American musicians. I actually discovered James Brown’s music around the same time I discovered modernist painting. When I was 14 years old I had an intense experience where I was loosely copying this Picasso painting and listening to James Brown’s ‘Mashed Potato Popcorn’ and I had this feeling of recognition like: “This is it. I’m an artist.”</p>
				<p>When James Brown died and I was shocked at how emotional I was - he had been a huge influence on me. It felt like a father figure had died. So I was playing James Brown records over and over; these were the objects I was living with so, to put the records in the painting felt natural, like I was putting the actual energy into the painting.</p>
				<p>I actually did that with a lot of things; I had a yellow pad of paper that had my father’s handwriting all over it in pencil and I started making drawings on top of all these things that had his handwriting. It was a way of keeping my father - of feeling my father’s energy. So with James Brown it is a form of homage, but I also felt that, even if it was a shitty painting, it had James Brown in there! He was in there and no one could take that away from me. I didn’t just do that with James Brown either - Marvin Gaye was in there too. I used my whole record collection.</p>
				<p><span class="talker">IN__</span>In 2016 you had a solo exhibition at David Kordansky gallery titled ‘<a href="https://www.davidkordanskygallery.com/exhibitions/chris-martin" target="_blank" rel="noopener noreferrer">Saturn Returns</a>’. The show’s title referred to the astrological cycle of the planet Saturn that completes its first full orbit between a person’s 27th and 30th birthday. During this period, supposedly, an individual experiences a kind of reckoning in their lives; their weaknesses and insecurities are exposed and harsh life lessons are to be learned. It’s an opportunity for growth but, as the show highlights, it’s also the time when a lot of prominent cultural figures, like Jean-Michel Basquiat, Jimi Hendrix, Janis Joplin, Kurt Cobain and Amy Winehouse died from suicide, drug overdoses or other unexplained circumstances when they were all at the age of 27. Can you talk about this exhibition and the role astrology plays in your life and work? What was your own Saturn return like?</p>
				<p><span class="talker">CM__</span>The whole Saturn returns thing is a bit spooky. All the artists you mentioned died at 27, so that age and number has become a symbolic milestone of a kind of martyrdom. My own life changes have roughly corresponded with this 27-29 year cycle, but I’m no astrology expert or devotee.</p>
				<p>I’m not sure how I became obsessed with Saturn but I always loved and have been drawing that image of Saturn and its rings since I was a kid. You mentioned that people are meant to experience a “reckoning or harsh life lessons” during this planetary cycle and that makes me think of our current situation; global warming, mass extinction, the ever-present possibility of nuclear war and other terrible sufferings. And yet, when the sun is out on a spring day there’s still so much beauty around!</p>
				<p><span class="talker">IN__</span>When did you start painting Amy Winehouse?</p>
				<p><span class="talker">CM__</span>I remember once taking a long driving trip with my oldest daughter who was feeling the pain of a recent romantic breakup. We were talking about this sadness and listening to Amy Winehouse over and over and I remember that we were both crying.</p>
				<p>I was obsessed with Amy Winehouse, like millions of other fans, and everyone knew she was in trouble. I had a show at the Corcoran museum in Washington DC and I had made a bunch of paintings for it called ‘For the protection of Amy Winehouse.’ My daughter had just come back from Turkey and had brought back some of those glass blue eyes that are supposed to keep evil away. I put Amy’s picture in the paintings and started gluing these evil eyes around it to protect her. Obviously it didn’t save her.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide01_sp.jpg" /></picture><span class="caption">'Glitter', 2013 bread, gel medium, and acrylic on wood, 20 x 16 inches (50.8 x 40.6 cm), Photography: Fredrik Nilsen Studio, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide02_sp.jpg" /></picture><span class="caption">'Glitter Painting', 2007, acrylic medium, spray paint, glitter on wood, 20 x 16 inches (50.8 x 40.6 cm), Photography: Johansen Krause, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide03_sp.jpg" /></picture><span class="caption">'Big Glitter Painting', 2009-2010, mixed media on canvas, 135.04 x 108.27 inches (343 x 275 cm), Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide04_sp.jpg" /></picture><span class="caption">'Painting with Three Banana Peels and Four Holes', 2009, mixed media on canvas, 44.88 x 37.01 inches (114 x 94 cm), Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide05_sp.jpg" /></picture><span class="caption">'James Brown 1935', 2006, oil, acrylic gel on cardboard, 43.7 x 30.31 inches (111 x 77 cm), Photography: Meredith Allen, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide06_sp.jpg" /></picture><span class="caption">'Homage James Brown Godfather of Soul...', 2001-2007, oil and collage on canvas, 15 x 18 inches (38.1 x 45.7 cm), Photography: Johansen Krause, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide07_sp.jpg" /></picture><span class="caption">'James Brown Live in Tokyo', 2006-2007, oil, collage on canvas, 48.43 x 38.19 inches (123 x 97 cm), Photography: Meredith Allen, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide08_sp.jpg" /></picture><span class="caption">'Amy', 2015, acrylic and chalk on canvas, 134 3/4 x 118 x 2 1/2 inches (342.3 x 299.7 x 6.4 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>You’ve mentioned in other interviews that Sigmar Polke is a big hero of yours…</p>
				<p><span class="talker">CM__</span>Yes, I seem to remember from what I’ve seen of your work that he might be a big hero of yours too. Is that true?</p>
				<p><span class="talker">IN__</span>Yes, I love Polke. He really opened up a whole world of possibilities for painters and I think it’s interesting to see how the artists he inspired took them down very different routes. What was it like seeing his work for the first time?</p>
				<p><span class="talker">CM__</span>Polke was a revelation to me… when I first saw that work it was a huge shock! He found the freedom to do abstract and figurative work side by side… that was unheard of in New York. In New York you really chose which side of art history you were on. Of course, that all seems so quaint now.</p>
				<p>When I first saw a group of his paintings I thought “here is a man that is accessing the whole grand tradition of European painting.” He could paint about history, he could paint about eroticism, he could make funny paintings and he could also make serious Holocaust paintings. He was able to access psychedelics and all of his various interests in a very direct way.</p>
				<p>Jean-Michel Basquiat was also a huge influence. I knew him right at the beginning. Again, here was somebody who could bring whatever he was thinking about, whatever music he was listening to and it all went in to his work. He would read a book and then he would just start writing in his paintings. That was such a freedom at the time for a lot of us. I had personally been struggling with the problem of how to fit my work into these very narrow categories. I was making very odd drawings at the time but I had felt up to this point that they couldn’t really be a part of my work, so seeing these shows taught me a lot.</p>
				<p><span class="talker">IN__</span>It took a while for people to start showing your work, didn’t it?</p>
				<p><span class="talker">CM__</span>Yes it did. I was around 50 when I started making a living from my paintings.</p>
				<p><span class="talker">IN__</span>Did you find it difficult?</p>
				<p><span class="talker">CM__</span>I have no regrets but there were times when it was hard. I went back to college as an adult because I needed to get a job to support myself and my kids. I didn’t want to do menial jobs anymore, I wanted a meaningful job. So I went to the School of Visual Arts in New York City to study art therapy. When I was younger I thought the worst thing that could happen to me was to work full time - it felt like an admission of real failure as an artist. In reality it turned out to be a great thing because, through my work as an art therapist I learned so much and met the most amazing people. It changed my attitude to my work.</p>
				<p><span class="talker">IN__</span>What led you to art therapy?</p>
				<p><span class="talker">CM__</span>When I was young I learned a lot about Jungian archetypal psychology - I was interested in the idea that art could access certain archetypes and emotional states that would bring healing- first for the artist and then for the culture because you were providing people a mirror that could help people accept themselves and feel the truth of things. My best friend Peter Acheson, who is a terrific painter, was also very involved in Jungian therapy. That’s also what I took from Beuys - that he made his work to heal himself and then he offered it up to society to suggest a possibility of healing and connection.</p>
				<p>A lot of my friends were dying of AIDS and I started working as an art therapist at the very beginning of the AIDs pandemic. I worked in day treatment settings and in hospital and nursing home-like settings. I worked with such a fascinating and profound group of people. A lot of the people I worked with had been heroin addicts and criminals and had the most terrible experiences in their lives. It was harder for me to go home after work and say “woe is me, I don’t have an art career” – I mean my children were healthy; they were growing and happy and I was not dying. I was not in prison. It certainly gave me perspective on my life and it changed my painting very much. I actually learned about glitter while working as an art therapist in Brooklyn - all the clients loved to use it and I quickly became a convert.</p>
				<p><span class="talker">IN__</span>It’s interesting to hear you talk about reaching this point of seeing your work, through Beuys and Jung, as this healing activity because when I look at your work I’m thinking about permission. More specifically, I’m thinking about the idea that you can give yourself permission to do things just because you want to and for that to be okay; following your instincts and allowing yourself to make things fun and enjoyable and for that to be okay too. Things don’t necessarily have to be difficult to make it valid and all work does not have to be hard work. I think a lot of people struggle with that.</p>
				<p><span class="talker">CM__</span>Well, thank you. I remember, many years ago, I asked the artist Richard Tuttle: “How does it feel to have been such an influence on so many people?” And he said exactly that : “when I was a young artist there were people who gave me permission to become myself - If I can do that for somebody else, that’s great.” I like the idea of permission very much.</p>
				<p><span class="talker">IN__</span>I think art schools can really get in the way of giving yourself permission because they’re geared towards verbal language; most of your time is spent trying to justify or defend your work. This can be very helpful in that it’s an exercise in learning to stand up for yourself, but it can become really toxic if it gets in the way of purely enjoying or accepting the things that you love -  both in your own work and in the work of others. It’s easy to internalize this constant questioning of whether something is “good enough” for a very narrow audience.</p>
				<p><span class="talker">CM__</span>Right. It’s corrosive to think that one has to justify and control one’s work as an artist. I’ve done very little teaching but I noticed there was a feeling among the students that if something happened easily then it was an object of suspicion. It was better to struggle through something, even though you weren’t enjoying it, to prove you were working hard. Critical thinking has a very hard time dealing with pleasure…</p>
				<p><span class="talker">IN__</span>You started a painting undergraduate degree yourself at Yale in 1972, dropping out in 1975 to move to New York and be an artist. Did you drop out for some of the reasons we’ve just been discussing?</p>
				<p><span class="talker">CM__</span>Well the good side is that the graduate school was quite lively and, in those days, the graduate and undergraduate schools of painting were in the same building. That means that, even though I was an undergraduate, I could still go and hang out with all the graduate students and listen to their critiques. At the time anybody who was a serious artist was going to New York City and so all these graduate students were leaving to go there too… so I just thought, “Why wait?” And I went. I was about 20 years old at the time. I’m not a fan of art education.</p>
				<p>Al Held was a teacher in the graduate school at that time and his minimal paintings from the 1960’s like ‘The Big X’ and ‘Ivan The Terrible’ totally shocked me. He had a retrospective at the Whitney museum that just blew me away. It was one of reasons I said “I’m dropping out of school, this is ridiculous!” Years later I would jokingly blame him and he’d go “Don’t put that on me!”</p>
				<p>Anyway, as a younger painter you have these first loves in art that influence your painting. I felt as if those Al Held paintings were the paintings I had always wanted to make! So I tried to paint them. I also tried to paint like early Elizabeth Murray for a few years. And artists like Jasper Johns and Robert Rauschenberg also had a huge influence on me. It’s how you start - you try to do the things you love…</p>
				<p><span class="talker">IN__</span>I read that you went back to teach later on and set fire to a student’s work…</p>
				<p><span class="talker">CM__</span>I had a very interesting student at Bard. They were very unhappy with their work and often talked about wanting to destroy their paintings. My natural reaction in a situation like that is to encourage people and say “Come on, it’s not so bad, there’s something happening here! Make another one! Plunge in!” But after months of this I was just growing weary and asked the student “Okay, how would you like to destroy the work?" There was a fire pit in the yard outside of the school so we decided to set them on fire.  At that point they really perked up so we started taking some works out to the fire pit and setting them on fire. Other students came up to us and asked what we were doing. When we told them we were burning paintings all the students were like “Oh, can I bring some of my paintings? Because I’d like to destroy some of my work too!” *Laughs* That was probably the peak of my teaching career.</p>
				<p><span class="talker">IN__</span>*Laughs* I think everyone sets fire to their work at least once.</p>
				<p><span class="talker">CM__</span>It’s a rite of passage. It’s important.</p>
				<p><span class="talker">IN__</span>Yes and it completely frees you up. When I start a new batch of paintings I usually write off the first painting as a “burner” painting because it takes the pressure off and helps me loosen up. You can just do it without worrying too much because you’ve already written it off in your mind.</p>
				<p><span class="talker">CM__</span>Exactly! Well by the end of that afternoon we had the whole class sitting around this big bonfire and people started saying “Why don’t we make new things to burn?” Since they knew they were going to burn it, like you say, they started making the most wonderful paintings and drawings and then people would go: “Oh but that’s a great one!” And then the whole class went: “No you have to burn it! You have to burn it!” *Laughs* Knowing that you’re going to destroy something takes the pressure off and allows you to just be there. There’s a great lesson in that. Do you teach?</p>
				<p><span class="talker">IN__</span>Yeah, I teach art and photography to high functioning autistic teenagers…</p>
				<p><span class="talker">CM__</span>I bet there are some fantastic painters among them.</p>
				<p><span class="talker">IN__</span>Yeah, it’s nice teaching art in that context because, even though it’s being assessed, its most important value is functional. It’s something that’s meant to help you emotionally - you’re actually supposed to enjoy it.</p>
				<p><span class="talker">CM__</span>But I bet you’ve noticed some of the paintings are also terrific.</p>
				<p><span class="talker">IN__</span>Yes! I think it’s for that reason. Are there any rituals you do when you’re in the studio to free yourself up?</p>
				<p><span class="talker">CM__</span>Well, I live upstairs and my studio is downstairs so the big thing I do is just to go down there. That’s the discipline, but what’s nice is to go down without pressure - just to be there. So when I’m there I can take a nap, that’s a great way to get some work done, or I can do chores, stretch a canvas, mix up a bucket of paint, move something around… My wife and I have an expression where we say “I’m just puttering around.”</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide09_sp.jpg" /></picture></span><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide10_sp.jpg" /></picture><span class="caption">'Untitled', 2016, acrylic, foam disks and spray paint on canvas, 88 x 77 x 3 inches (223.5 x 195.6 x 7.6 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide11_sp.jpg" /></picture><span class="caption">'28', 2015, acrylic, oil and glitter on canvas, 135 1/8 x 117 3/4 x 2 1/2 inches (343.2 x 299.1 x 6.4 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide12_sp.jpg" /></picture><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide13_sp.jpg" /></picture><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide14_sp.jpg" /></picture><span class="caption">'Circle of Regeneration', 2017 - 2018, acrylic, oil, collage, and glitter on canvas 58 x 49 x 2 inches (147.3 x 124.5 x 5.1 cm), Photography: Matt Grubb, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>I think people are quick to tag the term “Outsider Art” on to work that rides the line between different stylistic categories, such that the term doesn’t seem to carry much meaning anymore. Did people ever use the term in relation to your work?</p>
				<p><span class="talker">CM__</span>Not to describe my work so much but it’s a term that’s out there and I hate it. I think it’s basically used as a way to disenfranchise women, people of colour and anyone who may not have attended one of the expensive art academies. I also can’t stand the term “craft” as opposed to “fine art” - just think of the incredible quilts made by the Gees Bend community in Alabama which have inspired so many artists that I know. “Self taught” is another problematic label. Any real artist learns from other artists and is basically self taught. As a young artist I found myself pursuing all kinds of art experiences and a lot of the stuff that inspired me I found at the edges of things.</p>
				<p><span class="talker">IN__</span>Yes and once you attach the term “Outsider” to an artist it blocks them from being read alongside “Insider” artists, even if they become renowned. It maintains a hierarchy which, like you said, is often based on gender, race, class… all things that normally affect your ability to access the art institutions and schools that make up the “inside.”</p>
				<p><span class="talker">CM__</span>Yes, it’s fucked up and not helpful. I remember hearing a teacher give a lecture and she said when you ask children in second grade “who here is an artist?” everyone raises their hand. Then by the time you get to high school, if you were to ask the same question you might get a couple of weird kids in the back raising their hand. If you were to ask a group of young investment bankers to make a painting they’d say “I can’t paint!” But if you say to that same group “Hey, let’s dance!” at a party, everyone can dance. The idea that you can’t make your own painting and you need a professional to do it for you, as if it’s dentistry, is a huge lie. It’s part of the way the culture tries to tamp down on creativity and stop people from questioning and expressing themselves - it causes big problems for the giant capitalist machine. So for people to reclaim their creativity is a shocking thing.</p>
				<p><span class="talker">IN__</span>I think people give creativity an age classification too to try and control people using shame. It’s not considered an adult thing to do for someone to come home from their job as an investment banker and spend their entire evening making poster paint paintings. It’s seen as embarrassing. So you internalise it - you don’t give yourself permission to access those parts of yourself because it’s unacceptable to others. So it becomes unacceptable to you also.</p>
				<p><span class="talker">CM__</span>Exactly. I remember one of my first jobs in New York was as a guard at the Guggenheim museum. I remember we had a big Pollock in a show and I can’t tell you the number of families and parents who would come and I’d hear them say “Oh my kids could do that!” At the time I remember feeling kind of defensive, but now I realize that that older man was correct; his kid could do that but he couldn’t. His children can do it but he can’t do it anymore.</p>
				<p><span class="talker">IN__</span>Because he won’t let himself…</p>
				<p><span class="talker">CM__</span>He can’t play anymore. The poor guy doesn’t get the chance anymore to just play drums or whatever. So to him play is bad. It’s “childish.”</p>
				<p><span class="talker">IN__</span>How did you learn to give yourself permission?</p>
				<p><span class="talker">CM__</span>Well it’s important not to take myself too seriously. Also I do a lot of drawings and I start a lot of different things. I’m someone whose heroes are artists like Paul Klee, Pablo Picasso and Polke, where there’s a lot of work. I’m happy when I make lots of different paintings. I produce a lot and I destroy a fair amount, but they’re all quite different. So I give myself permission in the studio to do a painting of a duck and then I go: “Well, I don’t know what that is” and then I just keep it around me in the studio. I don’t have to make a decision about it. The real inspiration of being an artist is to forget yourself in the act of making something. That’s a blessing. To feel you have the permission to do something and to go in a lot of directions is very helpful to me.</p>
				<p><span class="talker">IN__</span>Do you have any exhibitions coming up soon?</p>
				<p><span class="talker">CM__</span>I have a two-person show with an artist called Joe Light titled ‘<a href="https://www.partsandlaborbeacon.com/light-and-martin" target="_blank" rel="noopener noreferrer">Be Natural</a>’ at Parts &amp; Labor Gallery in Beacon in New York, curated by Jay Gorney. Joe Light was a terrific artist who lived in the rural South and never showed his paintings much in his lifetime. He died about 10 years ago. The paintings are very alive. I discovered them about 20 years ago in the Souls Grown Deep books and was really influenced by them. The show will run until 11th July.</p>
				<p>I’m also having my first solo exhibition in London at <a href="https://www.timothytaylor.com/" target="_blank" rel="noopener noreferrer">Timothy Taylor gallery</a> next year, probably around March.</p>
				<p><span class="talker">IN__</span>Do you have any advice for younger artists, or artists in general?</p>
				<p><span class="talker">CM__</span>Enjoy your life! *Laughs*<br>
				It’s also really important to have young comrades as a painter. I used to have all these fantasies when I was your age like “I’m just going to go off to the country by myself and paint for two years!” It’s a terrible idea. You need a gang who will tell you honestly what they’re seeing in your paintings, who respect and support what you’re doing and vice versa. That’s very important.</p>
				<p>Also - look both ways when you cross the street and don’t mess with heroin.</p>
				<p><span class="talker">IN__</span>*Laughs* Is there anything in your work that you wish you had done or that you still want to do that you haven’t been able to?</p>
				<p><span class="talker">CM__</span>Many things ! When I first started making the giant paintings I was interested in the fact that you’re confronted with this whole image that makes sense from a distance, but then you can go up and really be very intimate with the painting. I love those big Gustave Courbet paintings in Paris and I love to go up close and say “Oh look, here’s a dog’s nose!” or you can notice little details in the grass. That ability to come up close and enjoy a world within a larger picture is something I’ve always been interested in. And it comes from my experience of being in the forest in the Catskills; You’re walking in the woods and taking in these huge trees and mountains, but at the same time you’re always going: “Hey, look - here’s a mushroom!” or “Here’s a salamander!” That engagement with the world interests me; that there is this huge overwhelming world surrounding you, but at the same time it goes, you know, micro…</p>
				<p><span class="talker">IN__</span>It’s this constant back and forth between the micro and the macroscopic…</p>
				<p><span class="talker">CM__</span>Yeah. That’s where I get all excited. I am still hoping to make the sort of big paintings that capture that for myself in my work. It’s always looking forwards.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide15_sp.jpg" /></picture><span class="caption">Portrait of Chris Martin by Fredrik Nilsen Studio, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Working from a heterogeneous array of cultural traditions, Chris Martin (b. 1954, Washington, D.C.) makes paintings that serve as living documents of the eternal present. He privileges stylistic diversity and immediacy over predetermined aesthetic ideas, generating an art that can be as primal as it is knowing, as vibrantly joyful as it is meditative and hermetic. He has experimented with non-art materials, non-traditional installation, and extreme scale. For this reason, Martin’s career is characterized by an evolution of thematic cycles rather than strictly linear development. The overt influences—musical, spiritual, and art historical—that appear throughout his work are acknowledgments of his desire to return to a common well, or universally accessible source of inspiration. Martin is a revered and influential figure in the artistic community in Brooklyn, New York, where he has been based since the 1980s.</dd>
					<dd class="desc">Chris Martin has been the subject of solo exhibitions at institutions worldwide, including Douglas Hyde Gallery, Dublin (2015); Rectangle, Brussels (2015); Kunsthalle Düsseldorf, Germany (2011); and Corcoran Gallery of Art, Washington, D.C. (2011). Recent group exhibitions include Black Light, Centre de Cultura Contemporània de Barcelona (2018); Animal Farm, Brand Foundation Art Study Center, Greenwich, Connecticut (2017); and Thinking Out Loud: Notes on an Evolving Collection, The Warehouse, Dallas (2017). His paintings are included in the permanent collections of the Albright-Knox Art Gallery, Buffalo, New York; Museum of Contemporary Art Chicago; High Museum of Art, Atlanta; Museum of Contemporary Art Denver; Museum Boijmans Van Beuningen, Rotterdam, the Netherlands; and San Francisco Museum of Modern Art, among other museums. Paintings, a career-spanning monograph, was published by Skira in 2017. Martin lives and works in Brooklyn and the Catskills, New York.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. In 2021 she will have a solo exhibition at FREEHOUSE in London, as well as a two-person exhibition at Well Projects, Margate and a three-person exhibition at Annarumma gallery in Naples, IT. Her first solo exhibition, ‘Seer Kin Lives’, took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), Roman Road, Southwark Park Galleries, Collective Ending, The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, The Peckham Experiment Building (London), Assembly House (Leeds), White Columns (New York), Spazio Amanita (Florence) and Im Labor Gallery (Tokyo). India was awarded The Villiers-David Bursary, Royal College of Art (2017) and The Steer/Orpen/Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently shortlisted for the Ashurst Emerging Artist Prize (2020), with an exhibition taking place until the end of October 2020. Her works are included in a number of international private collections.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

