<!DOCTYPE HTML>
<html lang="{% if page.lang === 'jp' %}jp{% else %}en{% endif %}">
<head>
{# 解析タグ（head直下） -#}
{% include '_partials/_head-start.njk' -%}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
{%- if page.noindex -%}<meta name="robots" content="noindex">{% endif %}
<title>{% if page.type === 'top' %}{{ site.name }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<!-- Open Graph Protocol -->
<meta property="og:type" content="{% if page.type === 'top' %}website{% else %}article{% endif %}">
<meta property="og:title" content="{% if page.type === 'top' %}{{ site.name }}{% else %}{{ page.title }}{% endif %}">
<meta property="og:description" content="{% if page.type === 'top' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
<meta property="og:url" content="{% if page.type === 'top' %}{{ site.url }}/{% else %}{{ site.url }}{{ info.path }}{% endif %}">
<meta property="og:image" content="{% if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta property="fb:app_id" content="670385050404695">

<link rel="canonical" href="{% if page.type === 'top' %}{{ site.url }}/{% else %}{{ site.url }}{{ info.path }}{% endif %}">
{# ICON -#}
<link rel="shortcut icon" href="{{ site.root }}favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.root }}img/common/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.root }}img/common/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.root }}img/common/favicon-16x16.png">
{# CSS -#}
<link rel="stylesheet" href="{{ site.root }}css/styles.css?220317">
{# FONTS -#}
<link rel="stylesheet" href="https://use.typekit.net/bow3spr.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&amp;display=swap">

{# 解析タグ（head最後） -#}
{% include '_partials/_head-end.njk' -%}

{# JSON-LD -#}
{% if page.breadcrumbs -%}
<script type="application/ld+json">
{{ page.breadcrumbs | dump('\t') | safe }}
</script>
{%- endif %}
</head>

<body class="{{ page.type }}{% if page.lang === 'jp' %} -jp{% endif %}">
{# 解析タグ（body直下） -#}
{% include '_partials/_body-start.njk' %}
<div id="l-container" class="l-container">

{# 共通ヘッダー -#}
{% include '_partials/_l-header.njk' %}
<main class="l-main" id="l-main">
{# メインコンテンツ -#}
{% block contents %}{% endblock %}
</main>

{# 共通フッター -#}
{% include '_partials/_l-footer.njk' %}
</div>
{# Javacript -#}
<script src="/js/vendor.bundle.js?230803"></script>
<script src="/js/common.bundle.js?230803"></script>
{% block script %}{% endblock %}
{# 解析タグ（body最後） -#}
{% include '_partials/_body-end.njk' %}
</body>
</html>
