{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
    lang: 'en',
    title: "JOURNAL",
    description: "",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<section class="page-section">
    <div class="inner -full">
        <h3 class="header -latest">JOURNAL</h3>
        <div class="c-column">
            {% for item in articles.journal %}
                {% include '_partials/_c-article.njk' -%}
            {% endfor %}
        </div>
    </div>
</section><!-- /.pege-section -->
{% endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}
