{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
	lang: 'jp',
    title: "2x2x2__015: Mutual at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ May 1 - May 8, 2022",
	ogimage: "https://imlabor.org/twobytwobytwo/015/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "015",
                "item": site.url +"/jp/twobytwobytwo/015/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/015/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "015"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">小林優平、イリヤ・リプキン、題府基之、エム・ルーニー、カーター・セドン</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">May 1 - May 8, 2022<br>
					※ 開廊時間：14時 - 19時／会期中は毎日開廊いたします。</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>小林優平</strong>（1990年東京都足立区生まれ）は、東京を拠点に制作活動を行う。<br>
					主な個展に “magic for gazzete, mag for gazing, magazine for gazing, magazine for magazine.” 2020 mumei (東京)、 “Hi Jimbo” 2018 4649 (東京)、“半端” 2017 Workstation (東京)、グループ展に“Σp[【◎】]ω･́)” 2021 LAVENDER OPENER CHAIR (東京)などがある。</dd>
					<dd class="desc"><strong>イリヤ・リプキン</strong>（1982年生まれ）は、ベルリンを拠点に活動するアーティスト。<br>
					近年の個展に、Gradually Then Suddenly: High Art、アルル（2021）Eau d'Offense: Webber Gallery、ロンドン（2021）Eau d'Offense: Galerie Lars Friedrich、ベルリン(2021)、Everything Could Change: Svetlana、ニューヨーク（2019)、I Am Vicky: Galerie Lars Friedrich、ベルリン（2016）がある。<br>
					Escapism: Meredith Rosen Gallery、ニューヨーク（2020)、Relax、It's all Online: Galerie Lars Friedrich、ベルリン(2020）S/F -Photography、or a Monolith after 200 years: KAYOKOYUKI、東京（2019）Revelations: LAYR Rome、ローマ(2018)、Dedication、Exploitation & Haute Collaboration: Silberkuppe 、ベルリン（2017)、Stuttgart : Galerie Francesca Pia、チューリッヒ（2016）などのグループ展に参加。</dd>
					<dd class="desc"><strong>題府基之</strong>（1985年横浜市生まれ）は、東京を拠点に制作活動を行う。<br>
					主な展覧会に2018年「untitled (surround)」MISAKO & ROSEN、東京（個展）、2019年「untitled (surround)」グリーン・ギャラリー、ミルウォーキー（個展）同年「Pastoral (Grind and Drone) 」47 Canal、ニューヨーク、2016年「日本の写真ー現在から戦後」サンフランシスコ近代美術館、サンフランシスコ（グループ展）など。2017年には「日産アートアワード」のファイナリストに選出、2014年にロンドンのヴィクトリア＆アルバート美術館で開催された「Prix Picted アワード」でもファイナリストに選出。<br>
					主な刊行物に、2018 年にフランスの小説家ミシェル・ウェルベックとコラボレーションした書籍「大型スーパー 11月」、2016年にはNewfaveから写真集「Still Life」を出版。<br>
					他「Project Family」（Dashwood Books)、「Lovesody」（リトルビッグマン）がある。</dd>
					<dd class="desc"><strong>エム・ルーニー</strong>（1983年生まれ、米国）は、コネチカット州ケーナンとマサチューセッツ州グレートバリントンを拠点に活動しているアーティスト。<br>
					最近の個展に、François Ghebaly（ロサンゼルス）（2020 - 2021）、Fons Welters（アムステルダム）（2019）、Bodega（Derosia）（ニューヨーク）（2018 & 2016）、Beeler Gallery at The Columbus College of Art and Design（コロンバス、OH）（2016）などがある。主なグループ展は、deCordova Museum、Lincoln、MA（2022）、White Columns、New York（2022）、Kristina Kite Gallery、Los Angeles（2021）、Candace Madey Gallery、New York（2020）、François Ghebaly、Los Angeles（2019）Kaviar Factory、Henningsvaer、Norway（2019）Adams & Ollman、Portland、OR（2019）Galerie Crèvecoeur、Paris（2018）Foxy Production、New York（2018）The Museum of Modern Art、New York（2018）Document、Chicago（2018）Simone Subal、New York（2017） など。彼女の作品は、The New York Times、Frieze、Artforum、Aperture Magazine、i-D、Art in America、Artnewsなどに掲載。またルーニーの作品は、ニューヨーク近代美術館に収蔵されている。</dd>
					<dd class="desc"><strong>カーター・セドン</strong>（1986年生まれ、カリフォルニア州サンフランシスコ出身）は、ニューヨークを拠点に活動するアーティスト。2013年にカリフォルニア大学リバーサイド校で修士号を取得。<br>
					主な個展にThe Middler（ブルックリン）（2019）、Jenny's（ロサンゼルス）（2015）などがある。また、Jenny's（ロンドン）、Silberkuppe（ベルリン）、Jimmy Hoo（ブリュッセル）、Night Gallery (ロサンゼルス)、Phyllis Gill Gallery（リバーサイド）、Proof Gallery（ボストン）などのグループ展に参加。</dd>
				</dl>
			</div>
		</div>
		<ul class="slider -collapse">
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Mutual'</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide02_sp.jpg"/></picture></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide03_sp.jpg"/></picture></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide04_sp.jpg"/></picture></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide05_sp.jpg"/></picture></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide06_sp.jpg"/></picture></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide07_sp.jpg"/></picture><span class="caption">Motoyuki Daifu, "untitled (surround)", 2018, C-print mounted on aluminuin, 105 x 79.5cm (Framed dimentions)</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide08_sp.jpg"/></picture><span class="caption">Em Roony, "Pilate Condemns (4)", 2018, Walnut, pewter, UV print on aluminuin, 32 x 48cm</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide09_sp.jpg"/></picture><span class="caption">Carter Seddon, "Office Window", 2019, Silver gelatin print, 42 x 52cm (Framed dimentions)</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide10_sp.jpg"/></picture><span class="caption">Yuhei Kobayashi, "Narita International Airport 2022.4.18", 2022, Inkjet print, 48.2 x 58.5cm (Framed dimentions)</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide11_sp.jpg"/></picture><span class="caption">Ilya Lipkin, Digital C type print on Matte Fuji Film paper, 100 x 160cm (Framed dimentions)</span></li>
			<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide12_sp.jpg"/></picture></li>
		</ul>
	<!-- /.page-container --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

