{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'jp',
    title: "INTERVIEW__010: In conversation with: Lavender Opener Chair",
	description: "アーティスト・ラン・ギャラリーとは、文字通りアーティストが主宰するギャラリースペースのことである。一昔前まではあまり聞きなれない言葉であったかもしれないが、2020年には巣鴨に在るアーティスト・ラン・ギャラリー、XYZ CollecitveにてArtist Running Festivalが開催されるなど、近年作家が主体となって運営するスペースが国内でも活発になってきている。",
	ogimage: "https://imlabor.org/journal/interview/010/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
							"@type": "ListItem",
							"position": "1",
							"name": "TOP",
							"item": ""+ site.url +"/"
            },
						{
							"@type": "ListItem",
							"position": "2",
							"name": "JP",
							"item": ""+ site.url +"/jp/"
            },
            {
							"@type": "ListItem",
							"position": "3",
							"name": "JOURNAL",
							"item": ""+ site.url +"/jp/journal/"
            },
            {
							"@type": "ListItem",
							"position": "4",
							"name": "INTERVIEW",
							"item": ""+ site.url +"/jp/journal/interview/"
            },
            {
							"@type": "ListItem",
							"position": "5",
							"name": "010",
							"item": ""+ site.url +"/jp/journal/interview/010/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/010/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "010"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<p class="lead">アーティスト・ラン・ギャラリーとは、文字通りアーティストが主催するギャラリースペースのことである。一昔前まではあまり聞きなれない言葉であったかもしれないが、2020年には巣鴨に在るアーティスト・ラン・ギャラリー、XYZ Collecitveにて「<a href="http://xyzcollective.org/arf2020.html" target="_blank" rel="noopener noreferrer">Artist Running Festival</a>」が開催されるなど、近年作家が主体となって運営するスペースが国内でも活発になってきている。その中でもとりわけ異彩を放っているのが、今回im laborでグループ展「Lavender Hair」を開催した<a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener noreferrer">Lavender Opener Chair / 灯明</a>ではないだろうか。東京・荒川区を拠点とした食堂とギャラリーが併設されたスペースは、2020年のオープン以降、現代美術の新たな可能性を模索し続けている。</p>
				<p class="lead">「Lavender Hair」の設営が終わった2月某日の夜、本展覧会のアーティストであり、Lavender Opener Chairの主催者でもある冨樫達彦、ヨウコ・ピンカム、渡邉庸平の3名と出前で頼んだインドカレーと缶ビールを囲みながら、今回の出展作品、Lavender Opener Chairとしての今後の展望などについて話をした。冨樫達彦の作品「Rose is a rose」から香る、胡椒が燃える芳しい匂いと、インドカレースパイスの香りが充満したギャラリーで3人の話を聞きながら、説明できない居心地の良さを感じていた。本来、1つの展示を何度も見に行くというのは希なことではないだろうか。しかし、美味しい食事を堪能しながら、美術作品を鑑賞できるという素晴らしさを身をもって体験してしまうと、Lavender Opener Chair / 灯明へと通わずにはいられないのである。</p>
				<p><span class="talker">IM LABOR__</span>みなさま、設営お疲れ様でした。<br>最初に、今回展示している作品についての話を聞かせてください。ヨウコ・ピンカムさんの作品は2点ともラグですが、作品に編み物の技法を取り入れるようになったのはいつからですか？</p>
				<p><span class="talker">YOKO PINKHAM__</span>元々編み物はずっとしていて、作品として作り始めたのはここ1、2年くらいです。編み物って最初に設計図を作る必要があるんですよね。セーターにしろ、帽子にしろ、ちゃんと設計図通りに編み進めていかないと、ものが完成しない。だけど私、編む行為自体は好きなんだけど、設計図を書くのがすごく苦手で…どうやって書いたらいいかわからないみたいな。でも、とにかく毛糸そのものの手触りが好きだから触っていたくて。ラグとか平面のものなら設計図作らなくても出来るじゃん！って、なったのがきっかけです。</p>
				<p><span class="talker">IL__</span>織り機を使って作ってるんですか？</p>
				<p><span class="talker">YP__</span>これはタフティングという技術を使っています。タフティングは自由度が高くて、形に縛りがないんです。それこそ、人型とか、丸とか、彫刻的な作品を作ることも可能なんですけど。でも四角が好きです。<br>あと、基本的にタフティングは裏から専用のガンで打っていく方法で、刺繍に似ています。大きな作品だと家が狭くて制作中に表面が見えないし、凹凸のコントロールは難しい。線も真っ直ぐにするのは難しくて、そういう苦手な事が多いところが接しやすいです。</p>
				<p><span class="talker">YOHEI WATANABE__</span>編み物ってスタートとゴールが直線的で、枝分かれしていかないイメージがあるけど、それこそ設計図に沿って作っていくとか。でも、タフティングだとそういった縛りがなくて自由なのかな。どこから初めても、終わらせてもいいみたいな。四角にこだわるのは、ヨウコの中で絵として見られたいっていう意識があるからなの？</p>
				<p><span class="talker">YP__</span>絵として見られたいかは正直わからないんだけど、囲うのが好きなのかも。庭とか水草水槽、装飾写本。好きなものは囲われてる。<br>
				確かに、タフティングで打ち進めていくと、iPadで描いた原画と違くなっていく事はある。例えば、「森まで」だと、上部の紫色のクリスタルの箇所を最初にやっていたら、毛糸が下地の布に張り付いていたのを見てそのまま打ち込んだり、意図せぬところで新しい図像ができちゃったりして。制作が直線的に進んでいたら出てこなかったイメージですね。あと、ここのピンクの線（「森まで」）なんかは一本線を引いてからその上にあえて線を重ねていて、そうすると線がずれたり、意図的に不均一なラインを作れるんですね。だから表面が凸凹しちゃうんだけど、そういう完全にコントロール出来ないところも好きです。</p>
				<p><span class="talker">IL__</span>iPadで事前に下絵を描いてから作り始めるんですね。何か参照しているモチーフとかはありますか？</p>
				<p><span class="talker">YP__</span>そうですね、普段からiPadでドローイングを描いてます。モチーフは、植物が多いです。会話をしなくてもコミュニケーションがとれるので植物と動物がとても好きです。「森まで」に描かれている木は、今ハマっているゲーム、ゼルダに出てくるポカポカ草の実を参照していて。この実を食べると体が温まるから雪山で死ななくなるんです。食べ物で身を守るっていう思想が好きなんですよね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide01_sp.jpg" /></picture><span class="caption">Yoko Pinkham: 'To forest', 2021, Wool, 173cm × 110cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide02_sp.jpg" /></picture></span><span class="caption">Yoko Pinkham: 'In forest', 2021, Wool, 88cm × 87cm, courtesy of the artist</span></li>
        		<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide03_sp.jpg" /></picture><span class="caption">Install shot 'Lavender Hair', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide04_sp.jpg" /></picture></span><span class="caption">Tatsuhiko Togashi: 'Paper on leather", 2021, leather, wood, carbon and ink' 49cm × 66.5cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide05_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'BICLO', 2021, Inkjet print, and perfume, 115cm × 75cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">TATSUHIKO TOGASHI__</span>ヨウコちゃんってドローイング描くスピードがものすごく速いんですよ。その都度、描いたものを見せてもらっていて。ドローイング（下絵）そのもの自体も良いんだけど、最近は完成したものの方が断然良くて。</p>
				<p><span class="talker">IL__</span>冨樫くんの作品はヨウコさんとはまた異なったアプローチですよね。今回のグループ展では計3点展示しているけど、メディアも写真に立体、ドローイングと多様ですよね。これらは同時期に制作したものですか？</p>
				<p><span class="talker">TT__</span>そうですね。今回の作品は全て新作で、同時進行で作りました。「Paper on leather」に関しては、僕ずっとフロッタージュを使って作品を作ってみたいな、っていうのが前提としてあったんですね。その頃、ちょっと良いホテルのレセプションデスクにサインとか書く用のレザーパッドが置かれているのを見て、「紙にペンだからインクオンペーパーだけど、ペーパーもさらにオンレザーじゃん」って自分の中で盛り上がっちゃって…それがきっかけで出来た作品なんですけど。</p>
				<p>このレザーに描かれている図像は、赤い片面用カーボン用紙の裏側に印刷されている薔薇の模様をそのまま写したものなんです。一部はハンダゴテで焼いていて、それらを三色ボールペンで色付けしている。ハンダゴテで焼く時、レザーの匂いがするんですけど、それも良いなって。「Paper on leather」は僕の中では、ドローイング的な位置付けとして在るんですが、それ自体がさらに別の筆記の下敷きになるように、テーブルの形式を引用しました。</p>
				<p><span class="talker">IL__</span>同時進行で制作したということ言う事は、「ビックロ」、「Rose is a rose」、両方とも同じコンテクストを共有しているんですか？</p>
				<p><span class="talker">TT__</span>…かな。この写真は文字通り新宿のビックロです。たまたま用事があってビックロに行った時に、エスカレータに香水を試匂する用の紙、ムエットって言うんですけど、それが引っかかってたんですよね。その時は写真を撮りそびれたので、後日自分でもう一度その様子を再現しに行きました。まずムエットをもらいに伊勢丹の香水売り場に行ったんですけど、そこでたまたま試匂したのが「ローズ&amp;キュイール」っていう薔薇と革をテーマにした香水だったんですよ。</p>
				<p>あとで調べたらそれがジャン＝クロード・エレナの新作で、成分を調べてみたら、ローズを使ってないらしいんですよ、実際は。彼がローズの代替に何を使ったかっていうと、ネパールのTimut pepperっていう山椒なんです。それは香水作りにおいてはよくあることで、例えば柘榴の香水なんかは、柘榴から香料を採るのは難しいから、違うものを組み合わせて再現したりする、みたいな。「Rose is a rose」は4色の胡椒を使った作品なんですけど、まさか薔薇と革と胡椒がこうやってつながるとは思ってませんでした。</p>
				<p><span class="talker">IL__</span>現在進行形で「Rose is a rose」からすごく良い匂いがしていますけど。このスキャナーの上で燃やしてるのが胡椒ですか？</p>
				<p><span class="talker">TT__</span>これはお香の原材料で、水と混ぜたら線香になります。それに胡椒を混ぜています。お香台に何を使うかは特に考えていなかったんですけど、その時たまたま友達からNYのある写真家がコカインをやるのに、プリンターのスキャナー面を使ったって話を聞いて。木の板とかだと木目に入っちゃって勿体無いじゃないですか、だから映画とかではよくガラスのデーブルとかが使われてるけど。それがなくて、身近にあるツルツルしたものがスキャナーだったっていう。</p>
				<p><span class="talker">IL__</span>渡邉くんも冨樫くん同様に、多様な手法での作品が多い印象があります。今回のグループ展でも、ドローイング、立体、写真作品を展示しているけど、特にメディアを縛って制作する、ということはないんですか？</p>
				<p><span class="talker">YW__</span>そうですね。まずアイディアが前提として存在していて、それを実現するために一番相応しいメディアを選択するというか。今回はこの手法で行こう、みたいな感じです。</p>
				<p><span class="talker">IL__</span>「Book」シリーズはホッチキスで束ねられた紙にドローイングが描かれた、文字通り本のフォーマットを模した作品ですよね。「Cars」はボンネットの上に置かれた3枚の車の写真を写したもの、「Box」は内側にドローイングが描かれた箱が真二つに裁断されています。これらはリンクし合っているのでしょうか？</p>
				<p><span class="talker">YW__</span>厳密にはリンクしてはいないです。してないけれど、自分が作っているものだから、メディアは遠くとも、混ざりあってるかと思います。例えば、「BOOK」は本です。これは中綴じ製本した本にインクで描いていって、それから、その本を平綴じに製本し直した作品になります。なので、絵を描いた時点では、見開きの右ページと左ページは隣合わせじゃなかったんですよね。「BOX」もフォーマットは違うけど、似たようなことがおきていて。一枚の絵が切り開かれて背中合わせに置おかれています。</p>
				<p><span class="talker">IL__</span>「展開する事」が渡邉くんの作品の中で重要な要素のように思えるんだけど、意識していたりはしますか？</p>
				<p><span class="talker">YW__</span>そうですね。最近は色のことが気になっていて。今回の本の作品は、見開き1ページに1色だけ使うことをルールにしています。この色の混ざりは、染み込みとかうつりこみです。本来、ページは色ごとにわけられるんですよね、ヴァイオレットのページ、ピーコックブルーのページ、ペイニーズグレーのページみたいに。ページに色の名前が付けられるってことが重要な事な気がしていて… 色で媒体を行き来できるみたいな。例えば色は色でしかないけれども、何かを説明するときに色で特徴づけられるというか、グリーンのページは4Pみたいな。それがいいなって。</p>
				<p><span class="talker">IL__</span>ラベンダーの皆様が制作上で大事にしている所とか、念頭に置いとくみたいなことってありますか？ 例えば、冨樫くんの話を聞いていると、体験を再現することが制作への興味みたいなものへと繋がるっているように感じました。その体験を喚起させる要素として匂いも重要な箇所なのかなと。</p>
				<p><span class="talker">TT__</span>大事にしてる事かはわからないけど、ある時、あらゆるものには匂いと味があるって事に自分の中でハッとした瞬間があったんですよね。例えば、ドナルド・ジャッドとかもの作品にも匂いがあるなって思っていて。舐めたらもしかしたら味がしそうじゃん、みたいな。それから、自分の中で色々クリアになったというか。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide06_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Rose is a rose', 2021, Printer, insense and paper, 21.7cm × 29.5cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide07_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'BOOK#1', 2021, Ink on paper, 29.4cm × 19.2,5cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide08_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'Box', 2021, Acrylic on plywood, 60cm × 30cm x 11.8cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide09_sp.jpg" /></picture><span class="caption">Yohei Watanabe: "Cars", 2021, C-type print, 39cm × 32.5cm, Framed/ 73cm x 54.5cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">YW__</span>ラベンダーでやったグループ展でも檜を使った作品を出してたよね。檜で作った容器に水がはってあって、それが電球であったまってるっていう、お風呂みたいな作品で。良い匂いがする。</p>
				<p><span class="talker">IL__</span>冨樫くんはLavender Opener Chair / 灯明では料理担当ですよね。「Rose is a rose」だったら胡椒とか、過去には牛蒡とかを素材に使った作品もあるけれど、自分の中で料理を表現の手法としての認識みたいのはありますか？</p>
				<p><span class="talker">TT__</span>料理は料理だし、作品は作品で別物という意識が自分の中ではあります。特段食べ物を素材にしなくっても、木材とか、ボンドとか、一般的にアートに使われるマテリアルにも味があって、そっちの方が気になるというか自分の中で心がけとしてはあります。</p>
				<p><span class="talker">IL__</span>渡邉くんは？ 制作において重要視している事とかありますか？</p>
				<p><span class="talker">YW__</span>その時に感じたり思ったりしたことを大事にしています。ノート「Book」の作品ではリアルタイムに起こり続けることに反応し続けること、未来や過去に起こることの読みきれなさがスリリングでした！ 写真は逆で、撮影したらおしまいだと思ってます。それぞれの思考と過程と結果のありかたにおもしろさがあります。</p>
				<p><span class="talker">IL__</span>ヨウコさんはどうですか？</p>
				<p><span class="talker">YP__</span>気分が乗らない時や疲れている時、あとはお腹が空いた時は制作をしないようにしています。そういう時に焦って制作すると失敗するので...気分転換をして自分の機嫌を全力でとりにいってます。</p>
				<p><span class="talker">IL__</span>3人の話を聞いていて思ったのが、お互いの作品を理解し合っていますよね。普段から作品について意見を言い合ったり、気になる作家など、美術の話をしたりするんですか？</p>
				<p><span class="talker">YP__</span>私はずーっと原画の状態から、2人に見せて意見聞いてます。でも完成図は私にしか想像出来ないから、最終的な判断は自分で決めます。</p>
				<p><span class="talker">TT__</span>気になる作家の話はしますね。良い作品をインスタグラムとかで見つけたら2人に共有したり。</p>
				<p><span class="talker">YP__</span>私は最近は北脇昇さんが好きで。あとは作家ではないけど、装飾写本とかが気になっています。</p>
				<p><span class="talker">TT__</span>僕は、最近彫刻が気になっていて、François Curlet（フランシス・カーレット）の作品とかなんか変で、見ちゃいますね。</p>
				<p><span class="talker">IL__</span>渡邊くんは？</p>
				<p><span class="talker">YW__</span>ウォーホールとか気になります...</p>
				<p><span class="talker">IL__</span>アートをやるきっかけというか、最初に好きになったアーティストとかいますか？</p>
				<p><span class="talker">YW__</span>現代アートの入り口はヴォルフガング・ティルマンスかもしれないですね。その後にリヒターとか色々知りました。</p>
				<p><span class="talker">YP__</span>私は、版画家の平塚運一さん。実際に拝見した時に、匂いとかも感じて。なんか、この匂い私知ってる、ってなったんですよね。</p>
				<p><span class="talker">TT__</span>僕は、島袋道浩。大学に入ってからは映画しか観てなかったです。ゴダールとか、ミケランジェロ・アントニオーニとか好きでした。物語に興味があるっていうよりも、映画っていうメディアそのものが好きなんです。カット、ズームとか、そういった映像が持つ機能。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide10_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Shade(Light)', 2020, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide11_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'STONE GRAY, SCARLET, EMERALD', 2020, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide12_sp.jpg" /></picture><span class="caption">Yoko Pinkham: 'Kochia', wool, 88×88cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide13_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Honeybee Vanishes', 2018, 14.5cm × 8cm perfume, ceramic, cork, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide14_sp.jpg" /></picture><span class="caption">A picture of the cutlet restaurant in Yoyogi, courtesy of Lavender Opener Chair / Tomei</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>あと、個人的に今回のDMの画像が気になります。だいぶミステリアスだけど、これは何のイメージなんですか？</p>
				<p><span class="talker">TT__</span>これは何か説明すると…まずですね、Lavender Opener Chairの名前の由来になった椅子が代々木のトンカツ屋にあるんですね。それがかなり特殊で、ラベンダー色で栓抜きみたいな形をしていて、とにかく異様なんです。ちなみに気になる方がいたら、椅子の写真は僕たちのウェブサイトに載っていますので、是非。それで、どうにかしてその椅子を手に入れたかったので、実際にトンカツ屋さんに電話してみたりしたんですよ。って、話を灯明の常連さんにしたら、その方がある日何も言わずに、例の椅子の設計図です。って、渡してくれて、それがこの画像です。（笑）</p>
				<p><span class="talker">IL__</span>いい話。（笑）Lavender Opener Chairは食堂を併設したギャラリーという新しい形式で美術を発信する可能性を提示しているスペースだと思うのですが、始めるきっかけは何だったんですか？</p>
				<p><span class="talker">YP__</span>2019年に冨樫がオランダから帰国後、オフィス兼アトリエが欲しいって言い出したのがきっかけですね。</p>
				<p><span class="talker">TT__</span>そうですね。とりあえず帰国後、仕事しないとだし。漠然と考えてた頃に、たまたま庸平とヨウコちゃんと3人でご飯行ったんですよね。</p>
				<p><span class="talker">YW__</span>その話を聞いて、じゃあ俺ギャラリーやるから、冨樫が料理して、食堂兼ギャラリーやろうぜ、って決まりました。</p>
				<p><span class="talker">TT__</span>僕は、キッチン付きのアトリエが欲しかったんですよね。</p>
				<p><span class="talker">IL__</span>灯明にはim laborもよくお邪魔しますけど、半端なく食事が美味しいですよね。美味しいご飯食べながら、展示を見られのるのは、本当に素晴らしい。元々、冨樫くんは料理が好きだったんですか？</p>
				<p><span class="talker">TT__</span>料理は元々好きでした。でも、オランダに留学してからより一層自分の中で料理が大きな役割を占めるようになりましたね。料理をしていると、話さなくてもいいというか、それだけでコミュニケーションになるから。オランダ時代はめちゃくちゃ料理してました。</p>
				<p><span class="talker">IL__</span>最後に今後のLavender Opener Chari / 灯明の展望を教えてください。</p>
				<p><span class="talker">YW__</span>細長く続けたいです、理想的には太くなっていければとおもいます。</p>
				<p><span class="talker">TT__</span>ギャラリーと食堂という組み合わせは、たまたま僕たちにできることがその2つだったからそうなったわけですけど、僕らも気づけていない可能性がまだあると思います。例えば、考えてみたら当たり前といえばそうなんですけど、食堂があるので同じ展示に同じ人が2回以上来てくれたりして、それってけっこうすごいことかもと思ったり。そうでなくても、食事されていく方は、それだけでギャラリーとして考えたら滞在時間がすごい長いですよね。食堂がつくる時間の流れが、ギャラリーの時間を捻じ曲げるというか、その逆もあると思うんですけど、そういう1年やってみて感じたことを、今後のキュレーションに活かしたいなと思います。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide16_sp.jpg" /></picture><span class="caption">From the left: Yohei Watanabe, Yoko Pinkham, Tatsuhiko Togashi</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>冨樫達彦</strong><br>1992年山形県生まれ、荒川区在住。Sandberg Institute修了。食堂灯明（トウメイ）の料理担当。</dd>
					<dd class="desc"><strong>ヨウコ ピンカム</strong><br>1989年千葉県生まれ。編み物を通してウールの面白さを発見して以来、ウールを主な素材として使用した作品を制作している。現在はタフティングの技法を用いたラグの制作などを行なっている。主なグループ展に「アーティストランニングフェスティバル」XYZ collective、2020などがある。</dd>
					<dd class="desc"><strong>渡邉庸平</strong><br>1990年福島県生まれ、荒川区在住。東京芸術大学大学院修了。主な展覧会に、「Giant Chorus」HAGIWARA PROJECTS (2019, 東京)「4 boxes and pyramids」 4649 (2018, 東京)、「渡邉庸平:猫の肌理、雲が裏返る光」 KomagomeSOKO (2017, 東京)、「THE EXPOSED#9 passing pictures」g/p Gallery 東雲 (2015, 東京)など。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener">https://lavenderopenerchair.com/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

