._bgc-primary {
	background-color: color(primary) !important;
}
._bgc-text {
	background-color: color(text) !important;
}
._bgc-white {
	background-color: color(white) !important;
}
._bgc-sky {
	background-color: color(sky) !important;
}
._bgc-pink {
	background-color: color(pink) !important;
}
._bgc-smoke {
	background-color: color(smoke) !important;
}
._bgc-cream {
	background-color: color(cream) !important;
}
