._cl-text {
	color: color(text);
}
._cl-muted {
	color: color(muted);
}
._cl-gray {
	color: color(darkgray);
}
._cl-atten {
	color: color(atten);
}
._cl-white {
	color: color(white);
}
._cl-primary {
	color: color(primary);
}
._cl-link {
	color: color(link);
}
