._sp {
	&:not(._tb):not(._pc) {// ._sp
		@include overTablet {
			display: none !important;
		}
	}
	&._tb:not(._pc) {
		@include overPc {
			display: none !important;
		}
	}
	&._pc:not(._tb) {
		@include tabletToPc {
			display: none !important;
		}
	}
	&._tb._pc {
		// do nothing
	}
}

._tb {
	&:not(._sp):not(._pc) {
		@include underTablet {
			display: none !important;
		}
		@include overPc {
			display: none !important;
		}
	}
	&._sp:not(._pc) {
		// ._sp._tb参照
	}
	&._pc:not(._sp) {
		@include underTablet {
			display: none !important;
		}
	}
	&._sp._pc {
		// do nothing
	}
}


._pc {
	&:not(._sp):not(._tb) {
		@include underPc {
			display: none !important;
		}
	}
	&._sp:not(._tb) {
		// ._sp._pc参照
	}
	&._tb:not(._sp) {
		// ._tb._pc 参照
	}
	&._sp._tb {
		// do nothing
	}
}

._wide {
	@include underWide {
		display: none !important;
	}
}


._sp-hide {
 	@include underTablet {
		display: none !important;
	}
}
._tb-hide {
	@include tabletToPc {
		display: none !important;
	}
}
._pc-hide {
	@include overPc {
		display: none !important;
	}
}
._wide-hide {
	@include overWide {
		display: none !important;
	}
}

// ボックスタイプ
._hide {
	display: none !important;
}
._block {
	display: block !important;
}
._inline {
	display: inline !important;
}
._inline-block {
	display: inline-block !important;
}
._table {
	display: table !important;
}
._table-row {
	display: table-row !important;
}
._table-cell {
	display: table-cell !important;
}



._fx {
	display: flex !important;

	&.-flex-start {
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
	}
	&.-flex-end {
		justify-content: flex-end;
		align-content: flex-end;
		align-items: flex-end;
	}
	&.-center {
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	&.-stretch {
		align-content: stretch;
		align-items: stretch;
	}

	&.-fxd-c {
		flex-direction: column;
	}
	&.-fxd-cr {
		flex-direction: column-reverse;
	}
	&.-fxd-r {
		flex-direction: row;
	}
	&.-fxd-rr {
		flex-direction: row-reverse;
	}

	&.-wrap {
		flex-wrap: wrap;
	}
	&.-nowrap {
		flex-wrap: nowrap;
	}

	&.-jc-fs {
		justify-content: flex-start;
	}
	&.-jc-fe {
		justify-content: flex-end;
	}
	&.-jc-c {
		justify-content: center;
	}
	&.-jc-sb {
		justify-content: space-between;
	}
	&.-jc-sa {
		justify-content: space-around;
	}

	&.-ac-c {
		align-content: center;
	}
	&.-ac-s {
		align-content: stretch;
	}
	&.-ac-fs {
		align-content: flex-start;
	}
	&.-ac-fe {
		align-content: flex-end;
	}
	&.-ac-sb {
		align-content: space-between;
	}
	&.-ac-sa {
		align-content: space-around;
	}
	&.-ai-c {
		align-items: center;
	}
	&.-ai-s {
		align-items: stretch;
	}
	&.-ai-fs {
		align-items: flex-start;
	}
	&.-ai-fe {
		align-items: flex-end;
	}
	&.-ai-b {
		align-items: baseline;
	}

}//._fx

._fi {
		flex: 0 0 auto;
	&.-glow {
		flex-grow: 1;
	}
	&.-glow2 {
		flex-grow: 2;
	}
	&.-glow3 {
		flex-grow: 3;
	}
	&.-glow4 {
		flex-grow: 4;
	}
	&.-glow5 {
		flex-grow: 5;
	}
	&.-shrink {
		flex-shrink: 1;
	}
	&.-shrink2 {
		flex-shrink: 2;
	}
	&.-shrink3 {
		flex-shrink: 3;
	}
	&.-shrink4 {
		flex-shrink: 4;
	}
	&.-shrink5 {
		flex-shrink: 5;
	}
	&.-order1 {
		order: 1;
	}
	&.-order2 {
		order: 2;
	}
	&.-order3 {
		order: 3;
	}
	&.-order4 {
		order: 4;
	}
	&.-order5 {
		order: 5;
	}
	&.-order6 {
		order: 6;
	}
	&.-order7 {
		order: 7;
	}
	&.-order8 {
		order: 8;
	}
	&.-order9 {
		order: 9;
	}
	&.-order10 {
		order: 10;
	}
}//._fi
