._fzxxs {

}
._fz-xs {
	@include fz(10,18,true);
	@include overTablet {
		@include fz(10,22,true);
	}
}
._fz-s {
	@include fz(12,20,true);
	@include overTablet {
		@include fz(12,22,true);
	}
}
._fz-m { // Default
	@include fz(14,22,true);
	@include overTablet {
		@include fz(16,26,true);
	}
}
._fz-l { // h4
	@include fz(18,26,true);
	@include overTablet {
		@include fz(20,30,true);
	}
}
._fz-xl {// h3
	@include fz(20,28,true);
	@include overTablet {
		@include fz(26,36,true);
	}
}
._fz-xxl {// h2
	@include fz(24,32,true);
	@include overTablet {
		@include fz(36,46,true);
	}
}

._wh-nw {
	white-space: nowrap;
}
