._m0 {
	margin: 0 !important;
}
._mt0 {
	margin-top: 0 !important;
}
._mb0 {
	margin-bottom: 0 !important;
}
._ml0 {
	margin-left: 0 !important;
}
._mr0 {
	margin-right: 0 !important;
}

._sp-m0 {
	@include underTablet {
		margin: 0 !important;
	}
}
._sp-mt0 {
	@include underTablet {
		margin-top: 0 !important;
	}
}
._sp-mb0 {
	@include underTablet {
		margin-bottom: 0 !important;
	}
}
._sp-ml0 {
	@include underTablet {
		margin-left: 0 !important;
	}
}
._sp-mr0 {
	@include underTablet {
		margin-right: 0 !important;
	}
}

._tb-m0 {
	@include tabletToPc {
		margin: 0 !important;
	}
}
._tb-mt0 {
	@include tabletToPc {
		margin-top: 0 !important;
	}
}
._tb-mb0 {
	@include tabletToPc {
		margin-bottom: 0 !important;
	}
}
._tb-ml0 {
	@include tabletToPc {
		margin-left: 0 !important;
	}
}
._tb-mr0 {
	@include tabletToPc {
		margin-right: 0 !important;
	}
}

._pc-m0 {
	@include overPc {
		margin: 0 !important;
	}
}
._pc-mt0 {
	@include overPc {
		margin-top: 0 !important;
	}
}
._pc-mb0 {
	@include overPc {
		margin-bottom: 0 !important;
	}
}
._pc-ml0 {
	@include overPc {
		margin-left: 0 !important;
	}
}
._pc-mr0 {
	@include overPc {
		margin-right: 0 !important;
	}
}

._ma {
	margin: auto !important;
}
._mta {
	margin-top: auto !important;
}
._mba {
	margin-bottom: auto !important;
}
._mla {
	margin-left: auto !important;
}
._mra {
	margin-right: auto !important;
}

._m0a {
	margin: 0 auto !important;
}
