._ta-l {
	text-align: left !important;
}
._ta-r {
	text-align: right !important;
}
._ta-c {
	text-align: center !important;
}
._ta-j {
	text-align: justify !important;
}

._sp-ta-l {
	@include underTablet {
		text-align: left !important;
	}
}
._sp-ta-r {
	@include underTablet {
		text-align: right !important;
	}
}
._sp-ta-c {
	@include underTablet {
		text-align: center !important;
	}
}
._sp-ta-j {
	@include underTablet {
		text-align: justify !important;
	}
}

._tb-ta-l {
	@include tabletToPc {
		text-align: left !important;
	}
}
._tb-ta-r {
	@include tabletToPc {
		text-align: right !important;
	}
}
._tb-ta-c {
	@include tabletToPc {
		text-align: center !important;
	}
}
._tb-ta-j {
	@include tabletToPc {
		text-align: justify !important;
	}
}

._pc-ta-l {
	@include overPc {
		text-align: left !important;
	}
}
._pc-ta-r {
	@include overPc {
		text-align: right !important;
	}
}
._pc-ta-c {
	@include overPc {
		text-align: center !important;
	}
}
._pc-ta-j {
	@include overPc {
		text-align: justify !important;
	}
}
