._nowrap {
	white-space: nowrap !important;
}
._wrap {
	white-space: wrap !important;
}
._sp-nowrap {
	@include underTablet {
		white-space: nowrap !important;
	}
}
._sp-wrap {
	@include underTablet {
		white-space: wrap !important;
	}
}
._tb-nowrap {
	@include tabletToPc {
		white-space: nowrap !important;
	}
}
._tb-wrap {
	@include tabletToPc {
		white-space: wrap !important;
	}
}
._pc-nowrap {
	@include overPc {
		white-space: nowrap !important;
	}
}
._pc-wrap {
	@include overPc {
		white-space: wrap !important;
	}
}
