{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__007: Interview with: COBRA",
		description: "東京を拠点にアーティスト、そしてアーティスト・ラン・ギャラリー XYZ Collectiveの主催者として活動するCOBRA。映像、パフォーマンス、彫刻、絵画、など様々な手法を駆使して、美術史や普遍的な日常に潜む些細な矛盾をユーモラスな文脈に内包して提示される彼の作品は、何故か無視することができない違和感と強烈なインパクトを見るものに与える。",
		ogimage: "https://imlabor.org/journal/interview/007/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "007",
                "item": ""+ site.url +"/jp/journal/interview/007/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/007/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "007"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} {{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「僕、昔から収集癖が結構すごくて、特に訳がわからないものを集めるのが好きなんです。自分でも何故それが気になるのか謎なんだけど、欲しくなってしまう。その感覚こそ作品を制作していく上で自分の中で大切にしていることなんだと思います。」</h3>
				<p class="lead">東京を拠点にアーティスト、そしてアーティスト・ラン・ギャラリー XYZ Collectiveの主催者として活動するCOBRA。映像、パフォーマンス、彫刻、絵画、など様々な手法を駆使して、美術史や普遍的な日常に潜む些細な矛盾をユーモラスな文脈に内包して提示される彼の作品は、何故か無視することができない違和感と強烈なインパクトを見るものに与える。</p>
				<p class="lead">インタビュー中、自身の身体を供物のようなものとして認識しているというCOBRA氏の話を聞きながら、私は、自身の顔を時計の背景として使用した彼の彫刻作品「The Object」や、空間に埋め尽くされた‘モノ’と同等に狩人にひたすら徹しているCOBRA氏の様子を撮影した映像・パフォーマンス作品「The Hunter」について思い出していた。まるで自分の身体すらも作品の素材の一部として扱っている彼の姿を目撃した鑑賞者は自我という脆弱な幻想について考えざる得なくなるのだろう、と。</p>
				<p class="lead">本インタビューでは主にアーティストとしてのCOBRAそして、ギャラリストとしてのCOBRAの両側面に焦点を当てて話を伺った。</p>
				<p><span class="talker">IM LABOR__</span>まず始めに、COBRAさんのパフォーマンス / 映像作品についてお話をお聞きしたいのですが。2011年に制作された映像作品「The Hunter」から近年の作品まで、ほぼ全ての作品にご自身が出演されていますよね。COBRAとして自身を作品に登場させるきっかけになった理由や背景等がありましたら教えてください。</p>
				<p><span class="talker">COBRA__</span>僕が自分を作品に登場させるようになったのは、それこそ2011年に制作した「The Hunter」がきっかけだったと思います。「The Hunter」は僕が狩人として、アトリエに10日間泊まり込みで生活している様子を撮影したもので、友人でアーティストの千葉正也くんと共同制作したパフォーマンス映像作品です。実を言うと、非公開作品なんですよね。当時、千葉くんの個展が都内であったので、そこで「The Hunter」を編集したダイジェスト版映像を彼の作品と一緒にギャラリーで流しました。</p>
				<p>千葉くんって、自分で作ったオブジェクトを自ら描くことで、その空間を絵画の中に閉じ込めていくペインターで、撮影時のアトリエ内は千葉くんが作ったペインティングやオブジェクトで埋め尽くされていました…　「The Hunter」を撮影している時、多分千葉くんにとっては僕もモチーフの一つというか、セットの一部のような感覚だったんじゃないかな。パフォーマンスを記録した写真とか映像は、いずれ千葉くんの絵の一部になっていくんだろうってその時は思っていましたね。</p>
				<p><span class="talker">IL__</span>COBRAさんの作品からは、自身の身体をまるでマテリアルやオブジェのように扱っている印象を受けます。なんというか、非常に彫刻的なアプローチで制作しているな、と。実際にそういった意識はCOBRAさんの中にあるのかどうかについてお聞きしたいです。</p>
				<p><span class="talker">CO__</span>面白いですね。実はそれ前にもアーティスト・ラン・スペースsodaを運営しているアーティストの田中和人さんにも言われたことがあって。その時は、田中さんは僕のことをパフォーマーではなくて彫刻家だって言っていました。</p>
				<p><span class="talker">IL__</span>そうなんですか。（笑）<br>
				元々COBRAさんは多摩美術大学の工芸科を卒業されていますが、COBRAさんの作品に内包される彫刻的なコンテクストは工芸的な背景にも関係しているのでしょうか？</p>
				<p><span class="talker">CO__</span>よくご存知で。（笑）<br>
				自分の身体をマテリアルとして認識しているかどうかについてですが、多分そういった意識は自分の中にあるっぽいです。</p>
				<p>さっきも少し話したけど、2011年以前の作品は、自分を作品の中に登場させることはありませんでした。その頃、僕の中で果たして僕はパフォーマーなのか？とか、そういう鬩ぎ合いみたいなものがあって。</p>
				<p>「The Hunter」の話に少し戻ると、あの作品の撮影中、千葉くんは僕にとってはほぼ神みたいな存在だったから、僕は千葉くんが用意した餌に必死に食らいついていくだけ、って感じでしたね。彼が用意してくれた寝床で眠って、トレイもなかったからその場で適当に用を足す、みたいな。とにかく撮影中の10日間、僕はあの場所で必死に狩人として生活することだけに徹していました。撮影中に、千葉くんから獲物を捕えた狩人の歓喜を踊りで表現してみて欲しいという指示があったので、僕は言われた通り踊ったんだけど…、なんと言うか、現代舞踏みたいな感じで踊ったように記憶しています。</p>
				<p>とにかく、自分なりにものすごく真剣に踊ったつもりだったんですけど、それを見た千葉くんに、「COBRA、それは狙いすぎだよ。」って言われて、「無理に笑わせようとしなくていいから。」みたいな…。でも、本当に僕はその時ウケとか一切狙ってなくて、「え、これふざけてるように見えちゃうの？！」みたいな。（笑） でもその時に綺麗なパフォーマンスをする人は沢山いるけれど、駄目なパフォーマンスをする人は数が少ないな、って風に思ったんです。もしかしたらそれがきっかけで、自分の身体を捧げるというか、 自分の身体を供物のようなものとして扱っている意識が僕の中に存在している事に気付いたのかな、と思います。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide01_sp.jpg" /></picture><span class="caption">COBRA in collaboration with Masaya Chiba: The Hunter, 2011, HD Video, 180min 15sec, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide02_sp.jpg" /></picture></span><span class="caption">COBRA in collaboration with Masaya Chiba: The Hunter, 2011, HD Video, 180min 15sec, curtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide03_sp.jpg" /></picture><span class="caption">COBRA: The Object -Glorious-, 2014, Acrylic photo mounting, silver-print, clock , 22.6cm×22.6cm×2cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide04_sp.jpg" /></picture></span><span class="caption">COBRA: The Object (Glorious 2 - unique is a series -), 2016, fiber-glass reinforced plastic. primer surface, clock, clay, 27cm×28cm×10cm, 7cm×4cm×3cm, courtesy of the artist</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/247342793?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">COBRA: Good Night Contemporary, 2017, HD Video, 7 min 33 sec, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide05_sp.jpg" /></picture><span class="caption">Freeze NY at Brennan &amp; Griffin, NY, 2017, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide06_sp.jpg" /></picture><span class="caption">COBRA: LEONARD DICOBRIO, 2017, unique lambda print, 28.5×20inches &amp; Untitled, 2011, Collection of Leonard Dicobrio, acrilyc on canvas, 28.5×24inches, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>なるほど。だからこそ、作品に登場するCOBRAさんを見ていると、自分を良く見せたいとか綺麗に見られていたい、みたいな、ある種のパフォーマーのエゴのようなものが欠落している印象を受けるのかもしれません。</p>
				<p>自分の身体を供物として扱うという意識は、もしかしたらCOBRAさんの作品「The Object」シリーズにも表れているのではないかなと思いますが。<br>「The Object」シリーズはご自身の顔を模ったFRP型に時計の秒針が配置されていたり、ポートレイトを時計の背景として使用している彫刻作品ですが、時計をモチーフとして使用することになった理由はありますか？</p>
				<p><span class="talker">CO__</span>理由か…どうだろう…。単純に僕、時計が好きで。<br>
				最初に時計をモチーフとして使おうって決めたのは、僕の中で色々な要素が合致したからです。例えば、身体的なパフォーマンスにとって時間という概念は重要なパートの一部であることや、ポートレート写真に時計を付けること、それを彫刻として提示しちゃうユーモアとか…。</p>
				<p>「The Object」シリーズ自体はすごくシンプルな作品なんですけど、僕の中ではすごく腑に落ちていて、意味のあるものです。何というか、あの作品のアイデアを思いついた瞬間、ふぁーって感覚が身体に走って、これはすぐ作品にしなくては、って即座に取り掛かりましたね。</p>
				<p>僕、昔から収集癖が結構すごくて、特に訳がわからないものを集めるのが好きなんです。自分でも何故それが気になるのか謎なんだけど、欲しくなってしまう。選択の基準が明確じゃないんです。時計が好きっていうのも、その訳がわからないけど欲しいっていう感覚と一緒で。でも、その感覚こそ作品を制作していく上で自分の中で大切にしていることなんだと思います。</p>
				<p><span class="talker">IL__</span>ユーモアという言葉が出てきましたが、COBRAさんの作品には一貫してユーモアがありますよね。例えば、2017年NYのBrennan &amp; Griffinでの個展「Freeze NY」では「Y COBSAWA」を筆頭に著名人に扮したCOBRAさんのポートレイトと有名なアートワークを模造したオブジェクトを並べて展示したシリーズを発表されています。あのシリーズからは風刺のような、ユーモアとシニカルの両方の要素が含まれている印象を受けましたが、それは意図した所だったのでしょうか？</p>
				<p><span class="talker">CO__</span>はい。意図しています。「Freeze NY」で展示したあのシリーズはコメディーに偏っているので、シニカルな要素が多く含まれているのは必然になります。<br>
				僕の中では常に制作や作品のコンセプトには、遊びっていう大枠があってその次にユーモアがきます、そしてその後にコメディーがあるという感覚です。コメディーって基本的に既存の仕組みがありますよね、それを社会が揶揄したり、皮肉ったり、対象が存在することが前提としてあるんです。</p>
				<p><span class="talker">IL__</span>なるほど。COBRAさんにとって昔から面白いことや、ユーモアの要素を作品に含むことは、常に大切なことだったんですか？</p>
				<p><span class="talker">CO__</span>面白いことはずっと好きです。大学時代には劇団にも所属していました。そこは、コメディー色の強い劇団で、所謂コントみたいなことをしていましたね。</p>
				<p>あと、僕ジャッキー・チェンが昔から好きで。彼が素晴らしいのは、どんな状況でも受け入れて、即座にリアクションが出来るところなんです。僕もそうなりたいというか、常に人を笑わせられるようになりたいとは思っていますね。</p>
				<p><span class="talker">IL__</span>COBRAさんが作品を介して目指している事って、最終的にユーモアや笑いへと行き着くんですかね。</p>
				<p><span class="talker">CO__</span>僕が目指しているのは今世紀最大の駄作なので。これは友達がくれた言葉なんだけど、基本的に僕の人生での出来事のほとんどは知人にきっかけを作って貰っていて。例えば、COBRAって名前も友人のアーティスト、松原壮志朗くんが命名したものだし、作家になったというか、展示をするきっかけになったのも千葉正也くんだし。ユーモアが偏っていてもいいんだよ、ってタイミングを与えてくれたのが、これまた友人でアーティストの万代洋輔くんです。</p>
				<p>昔からユーモアって要素を自分の作品に取り入れて制作してはいたんだけど。その当時、僕の作品を見た万代くんが、「これは今世最大の駄作だね。」って言ったんです。その時に、ハッとして、今世紀最大の駄作を目指すのってカッコいいなって思って。それ以降は、ただただひどい作品を目指しています。</p>
				<p><span class="talker">IL__</span>2019年から「Rat Museum For Rat」、「Story of eggs(bird gallery for bird)」など、ペインティング作品も発表されていますが、絵画を制作するようになったきっかけはあったのでしょうか？</p>
				<p>また、「Rat Museum For Rat」、「Story of eggs(bird gallery for bird)」の両作品共ペインティング単体ではなくケージに入って提示されているのが非常に印象的でしたが、それらの作品の意図についても教えてもらえますか。</p>
				<p><span class="talker">CO__</span>絵画シリーズを始めたのは、アートフェアに出展することになったのがきっかけです。フェアでみる作品のほとんどが絵画だよね、っていう最初はすごく単純な理由だったんだけど。何というかその時も時計の作品(The object)とまさに一緒で、ふぁーっという感覚が全身に降りてきたんですよね…。</p>
				<p>「Rat Museum For Rat」が、ペインティングとして発表した最初の作品になります。あの作品に関しては、金属製のネズミ取りをどこかで見かけて、それがオブジェとしてとても魅力的で、すごく気になったのがきっかけというか…。そこから着想を得て、発展させたものを最終的にペインティングという形式に落とし込んだという感じです。ネズミ捕りが気になったのも、さっき話した、訳がわからないけど欲しいみたいな感覚と一緒かな。ペインティング、アートフェア、ネズミ捕りの三つのピースが上手く結びついて、一つの作品として僕の中で成立したんです。</p>
				<p>制作に取り掛かった当初はネズミ取りの中に置くのはチーズのペインティングだけでいいかな、って考えていたんですが、それだけでは作品として成立しないような気がして。それで、スポンジボブとかトムとジェリーのようなチーズを喚起させるイメージを引用することにしました。結果としては、当初描いていた構想とかなり近い形の物になったんじゃないかなって思っています。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide07_sp.jpg" /></picture><span class="caption">COBRA: Story of eggs (bird gallery for bird) 2019, bird cage, acrylic on canvas, 21cm×30cm×39cm, 18cm×14cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide08_sp.jpg" /></picture><span class="caption">COBRA: Rat Museum For Rat 2019, rat trap, acrylic on canvas, wood pane,4.5×6×15.25in, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide09_sp.jpg" /></picture><span class="caption">COBRA: THE MUSEUM at fig. 2019, installation view, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide10_sp.jpg" /></picture><span class="caption">COBRA: Rat Museum For Rat, 2019, rat trap, acrylic on canvas, wood panel, 375×112×160mm, 71×55mm, 82×102mm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>COBRAさんはアーティストだけではなくXYZ Collectiveの主催者としても活動されていますが、アーティスト・ラン・スペースを始めようと思った理由について教えてください。</p>
				<p><span class="talker">CO__</span>XYZ Collectiveを始めようとした理由は大きく分けると三つあって。</p>
				<p>一つ目は、2010年に僕がオーストラリア、メルボルンのレジデンスプログラムに参加した際に、海外のアーティスト・ラン・スペースというものに出会った事です。僕が参加したレジデンスは、Hell Galleryという場所でした。そこのスペースはアトリエとギャラリーが一体になっていて、その感じがすごくいいなぁって思ったのを覚えています。ギャラリーのオーナーはジェス・ジョンソンというアーティストで、最近彼女は、NYのJACK HANLEY GALLERYギャラリーで展示したりしています。僕はアーティストとしてHell Galleryで展示したんですが、その時に体験したオープニングの華やかさとか、賑やかな雰囲気の印象がすごく残っています。</p>
				<p>二つ目は、メルボルンから帰国後、都内で友人の展覧会のオープニングパーティーに参加したことです。その日は20人ぐらいの人しか来ていなくて、メルボルンで体験したあの華やかなオープニングとのギャップをすごく感じちゃって。でも、その当時の東京のギャラリーのオープニングって、僕が行ったものに限らずどこもそんな感じだったんですよね。僕は賑やかな雰囲気が好きだから、コレクターとか美術関係の人に限らずたくさんの人が集まれるような、そういったスペースを日本で出来たらいいなと、その時は漠然と考えていました。</p>
				<p>三つめの理由が、XYZ Collectiveの前身MIHO KANNOになります。そもそもMIHO KANNOは、アーティストの松原壮志朗くんと千葉正也くん、あとデザイナーの清田くんの3人がスタジオとして借りていた横浜のBankART<sup>①</sup>のスペースが広すぎるから、その一角を展示スペースとして利用したのが始まりで。僕とか友人の万代洋輔くんはその場所で展示したりしていました。活動が大きくなった2008年か9年頃には、TWS渋谷<sup>②</sup>でMIHO KANNOとして展示したりしていたんですが、それ以降活動は徐々に少なくなっていって…。ちょうどその頃、僕はメルボルンから戻って来たばっかりで。レジデンス先での経験も相まったのもあって、松原壮志朗くんに本格的に東京でスペースをやらないかって話をしました。それで、彼と一緒にスペースを始めることになったんです。まずは場所探しから始めたんですが、中々都内でいい物件が見つからなくて…。Art Center Ongoingのディレクター小川望さんにどこかいい場所ないかな？って、相談したんですよね。そしたら、小川さんが連絡を取ってくれた知人の方が所有している物件を紹介してもらって、そこを借りることになりました。その物件は世田谷の鶴巻にあって、広さが120平米くらい、天高が５mくらいある倉庫だったので、半分をアーティストにスタジオとして貸して、その半分をギャラリーとして使用することにしたんです。それが2011年で、XYZ Collectiveの始まりです。</p>
				<p><span class="talker">IL__</span>COBRAさんにとってXYZ Collectiveも自身の作家活動の一環なのでしょうか？</p>
				<p><span class="talker">CO__</span>それについては、これからかなって思っています。アーティスト・ラン・スペースが、メガギャラリーへと発展していくのはすごく格好いい事だと思うし、そこは目指したいなと考えてはいます。だけど、今自分がしていることがうまくいっているのか？については、まだ何とも言えない。僕の中で、ギャラリーはギャラリー（XYZ Collective）、COBRAはCOBRAって住み分けがあって、この二つの人格が交差するのは難しいというか…。今現在の段階では交われていないなと感じています。だから、XYZ CollectiveがCOBRAの作家性の一部かと問われれば、僕はそうは思わない。ただ、今後どうなっていくかはわからないですけど。</p>
				<p>ギャラリー業には冷静さが求められるので、正直、アーティストとしての自分とギャラリストとしての自分の間にはだいぶ温度差があると感じています。アーティストとして活動している時、僕苦痛でしかないんですよね。作業も嫌だし、つらい。でもギャラリー業をしている時は仕事だから、大変だけど辛くはない。なんかギャラリー業は、プラモデルを組み立てるようなものだと思っていて、ある程度完成図が最初からわかっているというか、それを完成させるまでの過程をどうするかについて考えるのが大切なんです。</p>
				<p>作品を作ることに関しては…わからないです。説明書も材料もなく、いきなり城作れと言われるようなもので。完成したとしても、それが本当に城なのかどうかは誰にも判断できないんですよね。そういった意味ではしんどいです。</p>
				<p><span class="talker">IL__</span>最後に、今後の活動予定と展望について教えていただけますか。</p>
				<p><span class="talker">CO__</span>今後の予定ですが、2020年の10月10日からTOKAS本郷で開催されるグループ展をキュレーションしました。海外から二組のギャラリーを招集していて、アメリカ・ミシガンのデトロイトからはWhat Pipeline、ベルリンからはSchiefe Zähneが参加しています。展示は全3フロアに渡って開催されて、1階がXYZ Collective、2階がWhat Pipeline、3階がSchiefe Zähneになります。あと、2階にある小部屋は東京巣鴨にあるアーティスト・ラン・ギャラリー4649がキュレーションを行います。</p>
				<p>あとは、12月の後半にXYZ Collective主催で「Artist Running Festival」を開催します。このプロジェクトは、 国内で活動するアーティスト・ラン・スペース7組、XYZ collective、Soda、4649、Mumei、Lavender opener chair and Tomei、im labor、Fig. を招集して行うグループ展で、そのほかスペシャルゲストとしてStrange Store<sup>③</sup>とASAKUSA<sup>④</sup>も参加します。</p>
				<p>XYZ Collectiveの展望としては、インスティチューションを設立したり、アーティストが運営するギャラリーとしてXYZ Collectiveを将来的には大きくしていけたらな、って思っています。</p>
				<p>アーティストCOBRAとしては…。実は僕、昔はタクシー会社を50歳までに設立したいなって夢があったんですが、それは変わりました。今は、FMラジオのDJになりたいです。別所哲也みたいな感じ… 、なんか良くないですか？ いずれはFMの朝の声になれたらなって思っています。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/007/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/007/img/slide11_sp.jpg" /></picture><span class="caption">COBRA: Misogi, 2012, HD Video, 8min 15sec, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">BankARTは、横浜市が推進する、歴史的建造物や港湾施設等を文化芸術に活用しながら、都心部再生の起点にしていこうとする文化芸術創造の実験プログラムのひとつ。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">②</dt>
					<dd class="desc">トーキョーワンダーサイト（TWS）は、東京から新しい芸術文化を創造・発信するアートセンターでTWS渋谷はその拠点の一箇所として存在した。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">③</dt>
					<dd class="desc">Strange Storeはアーティスト・加賀美健が運営する古着・雑貨・オリジナル商品などを扱うストア。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">④</dt>
					<dd class="desc">アサクサは、ギャラリーキュレーター が運営する、40平方メートルの一般住宅を改築したプロジェクト・ スペース。美術研究と市場の動向を媒介し、共同キュレーションを 推進する。2015年10月創設。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">COBRAは東京を拠点に活動するアーティスト、そしてアーティスト・ラン・ギャラリー XYZ Collectiveの主催者である。COBRAは映像、パフォーマンス、彫刻、絵画など様々なメディアを介して’ユーモア’という一見ポップなコンテクストの生々しさを観客にダイレクトに伝える。自己の身体までも素材として扱うCOBRAの作品からは、人間が持つ『自我』について脆弱性が見え隠れするのである。</dd>
					<dd class="desc">近年の個展に「Freeze NY」Brennan &amp; Griffin、ニューヨーク、アメリカ（2017年）、「Domestic Fantasy」Art Center Ongoing、東京（2016年）等がある。また、グループ展に、「Nature's Way」COOPER COLE、トロント、カナダ（2018年）、「The Saturday Object Theatre」Raster、ワルシャワ、ポーランド（2017年）、「Summer Doors」Shane Campbell Gallery、シカゴ、アメリカ（2017年）、「Sayonara Jupiter」、356 Mission、ロサンゼルス、アメリカ（2017年）、「Watching Things Burn」、Springsteen、ボルチモア、アメリカ（2015年）などがある。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://cobra-goodnight.com/" target="_blank" rel="noopener">http://cobra-goodnight.com/</a></p>
				<p class="link"><a href="http://xyzcollective.org/" target="_blank" rel="noopener">http://xyzcollective.org/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

