{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'curation',
		lang: 'jp',
    title: "CURATION__002: Living Room",
    description: "im laborは、Cypher Collectiveとのコラボレーションによるグループ展「Living Room」を開催いたします。この展覧会では、ロンドンを拠点に活動する16人のアーティストが、現代の都市生活の経験を参考にした作品を通して、家庭内の生活環境を構築します。",
		ogimage: "https://imlabor.org/curation/002/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "CURATION",
                "item": ""+ site.url +"/jp/curation/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "002",
                "item": ""+ site.url +"/jp/curation/002/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
{#- {% include '_partials/_page-breadcrumbs.njk' %} #}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}curation/002/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}curation/002/img/bg-kv_sp.jpg" /></picture>
</div>
<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.curation %}
					{%- if item.category === "CURATION" and item.number === "002"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">コリン・アレン、ルイス・アップルビー、ガラ・ベル、セシリア・チャールトン、ラズロ・フォン・ドゥナニー、ロイ・エフラート、エイリン・ヒュークス、ジェイムズ・ジェシマン、キム・スヒョン、セバスチャン・コザック、タミナ・ネガット、ミリー・ペック、杉原玲那、ヤンウェン・シオン</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc"><a href="http://maverickprojects.co.uk/safe-house-12/" target="_blank" rel="noopener noreferrer">Safehouse 1 &amp; 2、ロンドン、イギリス</a></dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">19th April - 20th April, 2018</dd>
				</dl>
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc"><a href="http://scarlett-platel-dxfx.squarespace.com/" target="_blank" rel="noopener noreferrer">スカーレット・プラテル</a>, all imgs copyright and courtesy of the artists and im labor</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">im laborは、<a href="https://cypher-space.tumblr.com/" target="_blank" rel="noopener noreferrer">Cypher Collective</a>とのコラボレーションによるグループ展「Living Room」を開催いたします。この展覧会では、ロンドンを拠点に活動する16人のアーティストが、現代の都市生活の経験を参考にした作品を通して、家庭内の生活環境を構築します。本展は、昼と夜をテーマにした2つの家を横に並べて開催されます。</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><img src="{{ site.root }}curation/002/img/slide01.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide02.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide03.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide04.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide05.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide06.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide07.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide08.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide09.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide10.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide11.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide12.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide13.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide14.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide15.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide16.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide17.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide18.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide19.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide20.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide21.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide22.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide23.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide24.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide25.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide26.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/002/img/slide27.jpg" alt=""></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

