{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__013: Yuu Takamizawa: imlabor at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ February 5 - March 6, 2022",
		ogimage: "https://imlabor.org/twobytwobytwo/013/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url +"/"
            },
            {
				"@type": "ListItem",
				"position": "2",
				"name": "2x2x2",
				"item": site.url +"/twobytwobytwo/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "013",
				"item": site.url +"/twobytwobytwo/013/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/013/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "013"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Yuu Takamizawa</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">February 5 - March 6, 2022<br>
					※ Opening hours: 2pm - 7pm / Sat - Sun.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Yuu Takamizawa</strong><br>
					b. 1990 Tokyo<br>lives and works in Tokyo<br>
					<br>
					<strong>Solo and two-person exhibitions</strong><br>
					2022&nbsp;(forthcoming)&nbsp;&nbsp;King’s Leap, NY<br>
					2022&nbsp;&nbsp;imlabor, Tokyo<br>
					2021&nbsp;&nbsp;4649, Tokyo<br>
					2020&nbsp;&nbsp;Pina, Vienna<br>
					2019&nbsp;&nbsp;Unlimited Liability Company / MX Gallery, NY<br>
					2018&nbsp;&nbsp;4 boxes and pyramids / 4649, Tokyo<br>
					2017&nbsp;&nbsp;ad nauseam / Workstation, Tokyo<br>
					2016&nbsp;&nbsp;mold boy / Workstation, Tokyo<br>
					<br>
					<strong>Group exhibitions</strong><br>
					2020&nbsp;&nbsp;Kings Gate Postal Service Project / Kings Gate Project Space<br>
					2020&nbsp;&nbsp;Hikarie 8, Tokyo<br>
					2019&nbsp;&nbsp;4649-5963 / Mumei, Tokyo<br>
					2018&nbsp;&nbsp;NADA Miami 2018 / Ice Palace Studio, Fl<br>
					2018&nbsp;&nbsp;4649, Tokyo<br>
					2017&nbsp;&nbsp;no show / KAYOKOYUKI, Tokyo<br>
					2015&nbsp;&nbsp;SPVI Ⅱ / Turner Gallery, Tokyo<br>
					2014&nbsp;&nbsp;TAMAVIVANT / Parthenon Tama, Tokyo<br>
					2014&nbsp;&nbsp;SPVI / Turner Gallery, Tokyo<br>
					2013&nbsp;&nbsp;at work / TUA Painting Workshop 1F Gallery, Tokyo<br>
					<br>
					<strong>Curatorial projects</strong><br>
					2017 - present&nbsp;&nbsp;4649, Tokyo<br>
					2015 - 2017&nbsp;&nbsp;Workstation, Tokyo</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'imlabor 2x2x2'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide09_sp.jpg"/></picture><span class="caption">"Drain, imlabor", 2022, Inkjet print on paper, artist frame, 50.9 x 39.4cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide11_sp.jpg"/></picture><span class="caption">"Untitled", 2021, Inkjet print on paper, artist frame, 45.4 x 60.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide12_sp.jpg"/></picture><span class="caption">"A bench for viewers to sit on during my show at imlabor 2x2x2", 2022, Bench, cardboard, stretch film</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide13_sp.jpg"/></picture><span class="caption">"Drain, imlabor, February 4th - March 5th, 2022", 2022, Wireless IP Camera, monitor display, variable</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide14_sp.jpg"/></picture><span class="caption">"Gallery space / Some audience", 2015, Water, variable</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide15_sp.jpg"/></picture><span class="caption">"Gallery space / Some audience", 2020, Acrylic paint, variable</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide17_sp.jpg"/></picture><span class="caption">"IKEA ‘Marius’ stool BK 20210205", 2021, Lacquer and acrylic paint on casted resin, casted pewter, inkjet paper, vinyl bag</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide18_sp.jpg"/></picture><span class="caption">"https://www.ikea.com/jp/ja/images/products/marius-stool-black__0622803_ph144322_s5.jpg?f=xl#", 2021, Inkjet print on paper, artist frame, 45.4 x 60.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/013/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/013/img/slide19_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.page-container --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

