{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__009: Yusuke Muroi: Kodomo-Otona Clinic by mumei",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ May 8 - June 5, 2021, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/009/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "2x2x2",
                "item": ""+ site.url +"/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "009",
                "item": ""+ site.url +"/twobytwobytwo/009/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/009/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "009"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Yusuke Muroi</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">May 8 - June 5, 2021<br>※ Opening hours: 2pm - 7pm / Thur - Sat.</dd>
				</dl>
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc"><a href="https://fuyumimurata.com/" target="_blank" rel="noopener noreferrer">Fuyumi Murata</a>, all images copyright and courtesy of the artists and im labor, mumei.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">im labor is pleased to announce Yusuke Muroi's solo exhibition, "Kodomo-Otona Clinic," curated by <a href="https://fuyumimurata.com/mumei" target="_blank" rel="noopener noreferrer">mumei</a>, Open on May 8, 2021.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Yusuke Muroi (B.1990) is a Japanese artist who was born in Gunma, Japan.<br>
					He completed his MA from Tokyo University of the Arts.<br>
					In 2009, Muroi started to make work on the street, inspired by the graffiti culture. Along with graffiti, Muroi has always been interested in art brut and outsider art, and he began to collect things that seemingly exist between the inside and outside of art.<br>
					Also, Muroi is part of artist collectives "Issyuumawattetsurai," which intends to turn unnecessary objects into artwork, and "Tofutokani Club," which aims to produce one work a day.<br>
					His recent exhibitions include: "THEヨエロ寸-尋-," VOU, (2021, Kyoto), "KEN &amp; Peace" HIGURE 17-15cas（2019, Tokyo）, "Hamster-Powered Night Light" mumei （2019, Tokyo）, "Gunma Biennale for Young Artists" The Museum of Modern Art, Gunma (2017, Gunma), etc.</dd>
					<dd class="desc"><a href="{{ site.root }}journal/interview/012/"><strong>Interview with: Yusuke Muroi</strong></a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Kodomo-Otona Clinic'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide13_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide14_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide15_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide16_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide18_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide20_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide21_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide24_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide25_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide27_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide28_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/009/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/009/img/slide29_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

