{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__001: フェリックス・トレッドウェル",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 14th March - 4th April, 2020",
		ogimage: "https://imlabor.org/twobytwobytwo/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "001",
                "item": ""+ site.url +"/jp/twobytwobytwo/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/001/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "001"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span><br>{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">フェリックス・トレッドウェル</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">14th March - 4th April, 2020</dd>
				</dl>
				<dl class="item">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><a href="{{ site.rootJP }}journal/interview/001/">Interview with: フェリックス・トレッドウェル</a></dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide01_sp.jpg"/></picture><span class="caption">"Baby Tears", 2020, 90×60m, acrylic on canvas</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide02_sp.jpg"/></picture><span class="caption"></span></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide03_sp.jpg"/></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide04_sp.jpg"/></picture><span class="caption">"Jogger, 2020, 90×60cm, acrylic on canvas</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide05_sp.jpg"/></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide06_sp.jpg"/></picture><span class="caption"></span></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide07_sp.jpg"/></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide08_sp.jpg"/></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide09_sp.jpg"/></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/001/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/001/img/slide10_sp.jpg"/></picture><span class="caption"></span></span></li>
			</ul>
		</div>
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

