{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__023: Interview with: Ryoko Aoki",
	description: "Ryoko Aoki is an artist who uses materials closely associated with our everyday lives such as ballpoint pen drawings on graph paper and abstract patchworks made from scraps of fabric to compose installation pieces. The exhibition space Aoki creates is characterised by a vibrant colour palette, geometric shapes and irregular drawing lines. Despite the familiarity of the materials she works with objects that are all around us they appear fresh at first glance, as if encountered for the first time. This effect may be due to the artist's curiosity, which constantly seeks new perspectives on materials and motifs.",
	ogimage: "https://imlabor.org/journal/interview/023/img/share.png",
	breadcrumbs: {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url +"/"
			},
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JOURNAL",
				"item": site.url +"/journal/"
			},
			{
				"@type": "ListItem",
				"position": "3",
				"name": "INTERVIEW",
				"item": site.url +"/journal/interview/"
			},
			{
				"@type": "ListItem",
				"position": "4",
				"name": "023",
				"item": site.url +"/journal/interview/023/"
			}
		]
	}
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/023/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "023"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I want something that doesn't come from my own ideas. But I don't want to rely completely on the outside of my head, it's more like I'm drawing it out of myself and interacting with the outside.”</h3>
				<p class="lead">Ryoko Aoki is an artist who uses materials closely associated with our everyday lives such as ballpoint pen drawings on graph paper and abstract patchworks made from scraps of fabric to compose installation pieces.</p>
				<p class="lead">The exhibition space Aoki creates is characterised by a vibrant colour palette, geometric shapes and irregular drawing lines. Despite the familiarity of the materials she works with objects that are all around us they appear fresh at first glance, as if encountered for the first time. This effect may be due to the artist's curiosity, which constantly seeks new perspectives on materials and motifs.</p>
				<p class="lead">In this interview, we asked Aoki about her transition from her early black and white drawings to the incorporation of colour in her recent work, explored the relationship between her daily life and her artistic practice, and discussed the process by which her work evolves from her everyday experiences.</p>
				<p class="lead -note"><sup>*</sup>Special thanks to Zon Ito, who has collaborated with Ryoko Aoki on a number of exhibitions, for kindly taking part in this conversation.</p>
				<p><span class="talker">IM LABOR__</span>First of all, you studied design at a university; did you want to be an artist when you were a student?</p>
				<p><span class="talker">RYOKO AOKI__</span>Not at all at first. I wonder how it ended up like this.</p>
				<p><span class="talker">IL__</span>Were you always making art work back then?</p>
				<p><span class="talker">RA__</span>Yes, kind of, though I wasn’t sure whether it could be called artwork. I was convinced I would never become a designer, as I found it difficult to fit myself to the assignments given in the design course. I knew I was interested in expressing myself, so designing with a clear purpose for making didn’t suit me.</p>
				<p><span class="talker">IL__</span>Did you start participating in exhibitions after you graduated?</p>
				<p><span class="talker">RA__</span>I think it’s since I was in my MA. I had the opportunity to show small drawings for a contemporary art exhibition.</p>
				<p><span class="talker">ZON ITO__</span>At the time, Mr. Oyamada (Toru Oyamada), a member of DUMB TYPE, was renting out a space resembling a co-working space to various individuals, where they undertook a variety of projects. One such project was called Women's Diary, a gathering of women creating diaries they needed. You contributed some drawings for them.</p>
				<p><span class="talker">RA__</span>At that time, I had just enrolled in university, and that project felt like a completely distant world to me, so I never visited. I became friends with Yuki Kimura when I was a MA student, and we collaborated on the diary project. She introduced me to a French curator who was researching the project at the time. I had the opportunity to showcase my work in an exhibition organised by the curator. Through this experience, I realised that art is such an interesting and expansive world.</p>
				<p><span class="talker">IL__</span>What left a strong impression on me when I first saw your work on paper was that you didn’t frame them; you put them directly on the wall, which was so fresh to me. Have you always install your work in this way?</p>
				<p><span class="talker">RA__</span>It is often said, and yes, it has always been that way since I was in the design course.</p>
				<p><span class="talker">IL__</span>Do you often get asked why you don’t frame them?</p>
				<p><span class="talker">RA__</span>Sometimes I get asked, "What is this piece just putting on the wall?" *Laughs*. I felt quite uncomfortable framing my work, especially back then. I thought it looked more interesting as it is. For small drawings in particular, it was important to have connections made between them. To build a relationship within the whole, I thought it would be more natural to leave the works on paper as they are. Recently, I also like to frame the work, and I often choose frames that have blank space inside them. Then I can create a small installation within that frame. I think it's about questioning where to draw the boundary. It could be that the installation space itself becomes a frame.</p>
				<p><span class="talker">IL__</span>At first I was a little surprised by such an unconventional installation method. However, when I actually saw your work up close, it gave me a new realisation that not only canvas or drawing paper, but also notebook pages or random pieces of paper can be works of art. I also felt the uniqueness of the materials themselves. You often use office supplies such as ballpoint pens - is this also because they are accessible to use?</p>
				<p><span class="talker">RA__</span>Yes, each material has its own qualities. I think I want to take them out.</p>
				<p><span class="talker">ZI__</span>You mean sometimes a shabby pen is better, like a spongy one.</p>
				<p><span class="talker">RA__</span>Yes. So as a material, it's a bit like oil paint. I wanted to try to use oil, but it's a bit tedious. *Laughs* Pens are so easy to prepare, so I can draw right away. Also, it is important to me to have fewer hurdles before I could move my hands.</p>
				<p><span class="talker">IL__</span>Since around 2010, you started to make works with Conte more. Had you been using Conte for some time?</p>
				<p><span class="talker">RA__</span>I didn’t really use it until that time. It was around the late 2000s when I started to think a lot more about colour; I was looking for something that could be done with surfaces. Conte can be touched directly with my hands like soil or clay, so it’s like looking for an image in a sandbox.</p>
				<p><span class="talker">IL__</span>Have you started to use watercolour more often in your work since around that time? I have the impression that your works were more like line drawings , with outlines, but from around 2010, your work seems to have comme more painterly oriented.</p>
				<p><span class="talker">RA__</span>I had a habit when I perceiving things, I focus on their outlines, but I started to think if I would be able to see things in a different way, that would be fun. I can control images too much if I only draw things with lines which I find boring because it’s way understandable how it would turn out.</p>
				<p><span class="talker">IL__</span>So you mean you find it interesting that you cannot control it?</p>
				<p><span class="talker">RA__</span>If it's predictable, it becomes boring, so I’m always trying to figure out what to do with it. I feel like if I make work in a certain way once and it works out, I try to do it the same way again, something is lost. Rather than drawing something I had in my mind, it’s like I'm picking up things that come up in the process. So if the process is set in stone, the joy of discovery is lost.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide01_sp.jpg" /></picture><span class="caption"><em>Man and Mammal (Black horse and woman)</em>, 2013 Pencil on paper, consists two paper works 39 × 27 cm, each ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide02_sp.jpg" /></picture><span class="caption"><em>Visitor from the Distant Past</em>, 2016 Fabric patchwork 68 x 51 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide03_sp.jpg" /></picture><span class="caption"><em>Black Hyacinth</em>, 2016 Suite of 3 elements in watercolor on paper and 2 stones 29 x 21.9 cm, 4.8 x 3.3 x 1.5 cm, 3.5 x 3.3 x 1 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide04_sp.jpg" /></picture><span class="caption"><em>Colors of things like letters and numbers</em>, 2013 Conté on paper 77 x 57 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide05_sp.jpg" /></picture><span class="caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide06_sp.jpg" /></picture><span class="caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>The reason you started paying more attention to colours was because you began perceiving things in a more painterly way; colours could also form figures, right?</p>
				<p><span class="talker">RA__</span>In the first place, I didn’t notice that there were colours at all. I realised that I couldn’t see them. I also couldn’t notice the inside of the outlines at all, and then gradually started to see them.</p>
				<p><span class="talker">IL__</span>Certainly, I have an impression of your work being in black and white in the early stages of your practice. Was the time you started making the patchwork works when you realized colours?</p>
				<p><span class="talker">RA__</span>Yes, that's after I started to see colours. Clothes and cloth are colourful, so I tried to use them as if they were paints.</p>
				<p><span class="talker">IL__</span>Maybe your interest was focused on other things before that.</p>
				<p><span class="talker">RA__</span>I was more interested in how images are, but I realised that there is a space existing after I actually experienced exhibiting my work - there is a space where I can make installations with my drawings. From there, I realised that there is also colour. Colour is something that really comes out of the space, and little drawings are something that goes into the paper. I started to feel that there was something that could respond to space after making installations, and that's probably how I developed my interest in colour.</p>
				<p><span class="talker">ZI__</span>She made books too.</p>
				<p><span class="talker">RA__</span>A tiny book. A book is a bit like drawing; getting inside the image.</p>
				<p><span class="talker">ZI__</span>You mean a book is like a world that doesn't depend on physical space, for example, in a picture book it doesn’t matter whether there is space or not once the character has appeared. A book doesn’t need to be hung on the wall, and the space that connects yourself and the image inside the book is kind of obstacle. But if you actually place a book as it is, its outlines and other elements could be the materials for the composition of the space.</p>
				<p><span class="talker">RA__</span>Maybe so. But there are elements in the book that are similar to installations, and maybe I like it because I can show several drawings in a row.</p>
				<p><span class="talker">IL__</span>You've also made clay works, haven't you? I remember seeing them in your exhibition at the Watari-um<sup><a href="#desc1" id="sup1">*1</a></sup>.</p>
				<p><span class="talker">RA__</span>Yes, I have made clay works, but I am someone who perceives things in a very flat way, so the clay works ended up resembling reliefs. However, it's interesting that the clay bulges. I find that the way I draw on clay with my fingers is very similar to drawing with conte. The drawings on the wall should be the same as the reliefs, but I feel that just by having a bump and a dip, I become aware that there is space. But in my case, the linear element is so strong that it doesn't become three-dimensional; it becomes a relief.</p>
				<p><span class="talker">IL__</span>I see, you have a tendency to perceive objects in a linear way.</p>
				<p><span class="talker">RA__</span>I think it's my habit, but I want to get rid of it somehow - not to see my drawings in just one way, and that would be a great pleasure if I could discover a new way of seeing; I want to see things that are not what my head thinks by making work.</p>
				<p>Although I try not to, my habit would affect my thinking and I would see things with an assumption. This may be an inevitable function of a smooth life as a human being, but I think it can also be a negative effect. Drawing is like an exercise to get rid of these habits.</p>
				<p><span class="talker">IL__</span>I would like to ask you about the relationship between your work and your daily life. When I saw your work<sup><a href="#desc2" id="sup2">*2</a></sup> about tidying up before, it reflected the actions you take in your daily life, such as tidying up and getting ready, and it made me think about what the act of creation is. Do you have a sense of where your work begins and ends?</p>
				<p><span class="talker">RA__</span>Yeah, I kind of have that mindset, like if it crosses the line, it becomes a work of art, but at the same time I keep things that belong on both sides of the line connected. I find it very interesting that at some point, something that wasn't categorized as a 'thing' crosses the line and somehow works. It doesn't happen with everything, but... sometimes it does. If you ask me what it is, it's hard to say.</p>
				<p><span class="talker">IL__</span>Does that happen during the process of making work?</p>
				<p><span class="talker">RA__</span>It’s like my drawings stand up independently.</p>
				<p><span class="talker">ZI__</span>It's like when you're cooking a curry or something and you realize you don’t have enough salt, so you add random seasonings, and somehow it ends up being a tasty curry, right?</p>
				<p><span class="talker">RA__</span>I think that even when people are making curry, they are simultaneously doing something like thinking other than making curry, and it's as if these different aspects from the purpose at hand appear in the form of a shape.</p>
				<p><span class="talker">IL__</span>I see. When you were explaining a work in which there is a box within a box previously, you said something like ‘you can't tell which is the inside and which is the outside’. Do you have such strange moments, for example?</p>
				<p><span class="talker">RA__</span>I often find myself in situations where I don't know which side I'm on when I'm doing something. I think I'm probably not very good at being organised.</p>
				<p><span class="talker">ZI__</span>But you like to be organised.</p>
				<p><span class="talker">RA__</span>Yes, I actually do. *Laughs* I’m really particular about it. But I don’t think I’m good at organizing. When I start drawing, my head is kind of messed up, like I’m in the process of drawing…For example, I draw a square shape, and there is an inside, but if I draw a line in another place, then it will become outside. Then I end up not knowing which is inside and outside and try to sort it out, then I get lost and repeatedly try to organize... Even if I decide this drawer is the right place to put in once, I second-guess myself that maybe it’s not the right place.</p>
				<p><span class="talker">IL__</span>That seems endless…</p>
				<p><span class="talker">RA__</span>When I'm doing something like that, I get to the moment where I can sort of organise it! I feel like I'm usually exposed to a lot of visual noise, but when I'm drawing I feel like I can sort out the noise, like it's disappearing.</p>
				<p><span class="talker">IL__</span>Like pause for a moment, and think about it?</p>
				<p><span class="talker">RA__</span>Yes, like it stops for a moment so I can see it. And then I think about things like organising, cooking, other problems in my daily life, and even bigger events in the world and link them to what is happening in my drawings; I can maintain my daily life by making work. For me, making is a way of dealing with difficult problems.</p>
				<p>Perhaps the moment when my personal everyday awareness is somehow connected to the world outside myself, and that somewhere comes into focus, is when I feel that my work is ready.</p>
				<p><span class="talker">IL__</span>As well as drawings, you also make animations. I have seen your animation work of some watercolour drawings before, like stop-motion animation. What were you thinking when you made the animation?</p>
				<p><span class="talker">RA__</span>When I'm drawing, I have the feeling that I'm watching the different processes of making it at the same time. There is only one image that you can see on the finished drawing, but I find it very interesting to be able to see the many images in the process.</p>
				<p><span class="talker">ZI__</span>I thought you didn't like to do dealing with anything too moving, like animation.</p>
				<p><span class="talker">RA__</span>If I don't decide on the work process to get things moving, it's quite hard to do that kind of thing. So it's more like I'm doing it to overcome something I'm not good at. If I see a process that I know, I'm impatient and try to move on to the next one right away. If there is a movement that turns a round shape into a triangle, if I know that it will turn into a triangle, I will go against it.</p>
				<p>That's why I didn't think I was suited to the kind of work where you have to decide on a process and then move on to the next step. But recently, when I tried it with paint, it was a bit less of a stress because I felt like I was watching the paint moving. I think it's probably a habit of mine to think about what's going to happen next, but I'm trying to think of ways to not do that and enjoy it all the time instead.</p>
				<p><span class="talker">IL__</span>If you can see what's coming next or how it's going to complete, does it mean it's not good work or even a failure?</p>
				<p><span class="talker">RA__</span>I don't want to limit my ideas, even though I can see what's going to happen next, and it makes me feel like I have to be patient until I actually see it. I don't want to just put out the vision in my head, I want to be surprised to see what I've made.</p>
				<p>What I'm thinking in my head is obvious to myself, and I find that very boring. So I want something that doesn't come from my own ideas. But I don't want to rely completely on the outside of my head, it's more like I'm drawing it out of myself and interacting with the outside.</p>
				<p>The outside is not something that can come out of nowhere, but it could be art materials, space or things I see in everyday life. It's like I work on them, they react and then I push them and do it again and again.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide07_sp.jpg" /></picture><span class="caption"><em>The time in the time</em>, 2015 Suite of 192 elements in ink on paper, watercolor and mixed-media on paper 363 x 690 cm Installation view of “Tsubaki-kai 2015 - Shoshin (beginner's mind), ” Shiseido Gallery, Tokyo, 2015. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Naoya Hatakeyama.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide08_sp.jpg" /></picture><span class="caption"><em>The time in the time</em>, 2015 Suite of 192 elements in ink on paper, watercolor and mixed-media on paper 363 x 690 cm Installation view of “Tsubaki-kai 2015 - Shoshin (beginner's mind), ” Shiseido Gallery, Tokyo, 2015. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Naoya Hatakeyama.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide09_sp.jpg" /></picture><span class="caption"><em>Grassgram 2</em>, 2015 Ink and manicure on paper, suite of two drawings 40.2 x 29.7 cm, 40.8 x 31.4 cm 45 x 65.5 x 3 cm, framed ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide10_sp.jpg" /></picture><span class="caption">Installation view of “Imprisoned, Jailbreak, Imprisoned, Jailbreak “silent blue” ” at statements, 2016.3.19-4.24 Courtesy of Imprisoned, Jailbreak, Imprisoned, Jailbreak, Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide11_sp.jpg" /></picture><span class="caption">Installation view of “Imprisoned, Jailbreak, Imprisoned, Jailbreak “silent blue” ” at statements, 2016.3.19-4.24 Courtesy of Imprisoned, Jailbreak, Imprisoned, Jailbreak, Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide12_sp.jpg" /></picture><span class="caption"><em>I'm in the Dark now.</em>, 2021, "Somewhere Between the Odd and the Ordinary”, Installation view at 21st Century Museum of Contemporary Art, Kanazawa, 2021 Photo: Takeru Koroda.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>I wanted to ask you one more question, I saw somewhere before that you often write things like notes in your notebook. Are these notes about everyday things?</p>
				<p><span class="talker">RA__</span>It's a messy notebook with all sorts of things mixed in. I write everything together in the same notebook, from everyday things like shopping notes and what to cook for dinner, to my artistic practice. It's like a way of organising things.</p>
				<p><span class="talker">IL__</span>What kind of things do you write down about your artistic practice?</p>
				<p><span class="talker">RA__</span>Sometimes I write down what comes to my mind, and sometimes I lose track of what I was doing in the first place, so I write those things down. *Laughs*</p>
				<p><span class="talker">IL__</span>Like verbalizing what you are doing?</p>
				<p><span class="talker">RA__</span>I would draw little simplified icons of the work I was doing and put them in a row on the notebook. Then I can see that this is what I'm doing, or that this is what I wanted to do, or that this and this might be connected. Then I can see that there should be another piece that connects this piece and that piece, or that there is a plot to it. It clears my mind.</p>
				<p>Maybe it's like collaborating with several people in the process of making. There is the process of me working, the art materials, the space, what is happening at the moment, and many other elements that many people are involved in. Making notes is like checking each of these things one by one in order to integrate them, which is perhaps an essential part of the process.</p>
				<p><span class="talker">IL__</span>So you visualise them all.</p>
				<p><span class="talker">RA__</span>Yes, so that I can look at my work objectively, ensuring I'm aware of my original intentions. However, I also believe it's essential to be in a state of uncertainty, where I don't know exactly what I'm doing. From there, I jot down notes, progress through stages, or let ideas linger in limbo before reorganising them again.</p>
				<p><span class="talker">IL__</span>When you arrange the works for an exhibition, do you also organise them in this way?</p>
				<p><span class="talker">RA__</span>In the end, I decide on-site, but I do try to mentally piece it together, making notes and contemplating it like a jigsaw puzzle. It's crucial to visit the site because there are aspects I can't envision solely in my mind.</p>
				<p><span class="talker">IL__</span>Observing your work in your exhibition, I noticed elements of one piece appearing in another, suggesting a connection between them. Do your works influence each other during the production process?</p>
				<p><span class="talker">RA__</span>Most of the time, yes. It's akin to Shiritori (word chain game); when I create one piece, I contemplate the next. Additionally, similar to what I mentioned earlier about animation, sometimes I draw one image, and then that image moves a bit and becomes the next one.</p>
				<p><span class="talker">IL__</span>Do you sometimes work on several pieces at the same time?</p>
				<p><span class="talker">RA__</span>Lately I've been working more and more at the same time. When I was doing line drawings, I'd finish one piece and move on to the next, but with paint, sometimes it's more interesting to leave them lying around and draw them after a gap.</p>
				<p><span class="talker">ZI__</span>It does sound challenging to manage around 10 works in progress simultaneously.</p>
				<p><span class="talker">RA__</span>But I always have a lot of unfinished rubbish, so it's like, which one should I work on next? Sometimes I sort out the ones that I think are failures and the ones that I think I can manage, but I like to paint or draw on the ones that are at the bottom of the list that once I can't do anything about, because I don't care what happens to them because I can draw or paint the most freely *Laughs*. You know, as long as there are good parts, I can't destroy them, so I like to keep the worst ones and paint over them, and then I end up not able to throw away again, which is contradictory.</p>
				<p><span class="talker">IL__</span>So if you had a first, second and third army in the rubbish, the third army would be the most likely to go to the first army?</p>
				<p><span class="talker">RA__</span>That's probably true. There is an attachment to the third army.</p>
				<p><span class="talker">ZI__</span>Because they are easy to approach.</p>
				<p><span class="talker">IL__</span>It would probably be even harder to decide when to get rid of them if your materials were oil paints, as it can be gessod to start over all the time.</p>
				<p><span class="talker">RA__</span>Yes, and I think part of the reason why I'm a little reluctant to make big pieces is because I can't get rid of them. I immediately think about how I'm going to get rid of them...</p>
				<p>How to get rid of them is a subject I've been thinking about for a long time, and I often use discarded objects or things that I can't throw away for some reason as materials for my work, as well as the paintings and drawings of the third army. For example, if I can't throw away an object, I find it interesting because it's like a time machine, a tool that allows me to go back and forth freely through time, and as I use it as material for my work, I gradually develop a new relationship with the object.</p>
				<p>When I used objects that belonged to someone I don't know from an abandoned house as material at the Ishinomaki Art Festival before, I had experienced a new kind of joy, like exploring a mystery, and I felt that I could interact with people and places I didn't know at all on a different level.It's kind of like breaking down materially and mentally, or the act of making and the act of throwing away, which are completely opposite things at the same time, and it's my own way of organising things.</p>
				<p>I think the reason why it's interesting to think about throwing things away has to do with materials. Pen and paper are also materials, and they are made of natural materials. What I throw away will eventually return to nature, so they are also things that go round in circles and mediate between me and nature. The cycle of everyday life goes round and round more quickly, but my work represents a different cycle, which is perhaps interesting because it lends itself to thinking from a slightly different point of view.</p>
				<p><span class="talker">IL__</span>I see, it is certainly a very important perspective to think not only about making something, but also about throwing it away and the cycle that follows. Physical space like storage is also a practical issue.</p>
				<p><span class="talker">RA__</span>Yes. I think it's like I want my work to be something light, like it can go anywhere again.</p>

				<br><br>
				<p>Special thanks: Take Ninagawa</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide13_sp.jpg" /></picture><span class="caption"><em>Home Organizing Project That Started One Year Ago and Will Take Forever</em>, 2018 Mixed media 26.6 x 34.7 x 6.5 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide14_sp.jpg" /></picture><span class="caption">Installation view of “Notebook forgotten at three party meeting” at Take Ninagawa, Tokyo, 2018. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide15_sp.jpg" /></picture><span class="caption"><em>That corpse you planted last year in your garden,Has it begun to sprout?</em>, 2018 Watercolor on paper, fabric, string, transparent clay 62.2 x 47.5 x 2 cm, framed ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide16_sp.jpg" /></picture><span class="caption">Installation view of “Notebook forgotten at three party meeting” at Take Ninagawa, Tokyo, 2018. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide17_sp.jpg" /></picture><span class="caption">Installation view of "When the field floating above the begins to make, the shop on the ship begins send word.”, Ryoko Aoki + Zon Ito,  Reborn-Art Festival 2019, Ishinomaki, Miyagi Courtesy of the artist.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide18_sp.jpg" /></picture><span class="caption">Installation view of "When the field floating above the begins to make, the shop on the ship begins send word.”, Ryoko Aoki + Zon Ito,  Reborn-Art Festival 2019, Ishinomaki, Miyagi, Courtesy of the artist.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term"><a href="#sup1">*1</a></dt>
					<dd id="desc1" class="desc"><a href="http://www.watarium.co.jp/exhibition/2003aoki_ito/index.html" target="_blank" rel="noopener noreferrer"><em>Workshop Free Molecules Metamorphoses</em></a>, WATARI-UM, Watari Museum of Contemporary Art, Tokyo (with Zon Ito), 2020</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term"><a href="#sup2">*2</a></dt>
					<dd id="desc2" class="desc"><em>Home Organizing Project That Started One Year Ago and Will Take Forever</em>, 2018</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Ryoko Aoki was born in Hyogo prefecture, Japan in 1973 and lives in Kyoto prefecture, Japan. She studied at Kyoto University of Arts, Japan. In October 2024, she will have a solo exhibition, <a href="https://www.takeninagawa.com/en/exhibitions/12053/" target="_blank" rel="noopener noreferrer"><em>Stories about Boundaries</em></a>, at Take Ninagawa, Tokyo.</dd>
					<dd class="desc">Her recent exhibitions include <em>Workshop Free Molecules Metamorphoses</em> (Solo), WATARI-UM, Watari Museum of Contemporary Art, Tokyo (with Zon Ito), 2020, <em>Notebook forgotten at three party meeting</em> (Solo), Take Ninagawa, Tokyo, 2018, <em>Green Pocket</em> (Solo), Take Ninagawa, Tokyo, 2011, <em>Hammer Projects: Ryoko Aoki</em> (Solo), Armand Hammer Museum of Art and Culture Center at UCLA, Los Angeles, California, 2005, <em>Rokko Meets Art 2024 beyond</em>, Mount Rokko, Hyogo (with Zon Ito), 2024, <em>Yebisu International Festival for Art &amp; Alternative Visions 2024: 30 Ways to Go to the Moon</em>, Tokyo Photographic Art Museum, Tokyo (with Zon Ito), 2024, <em>Thinking about Caring and Motherhood through Contemporary Art</em>, Contemporary Art Gallery, Art Tower Mito, Ibaraki, 2023, <em>Reborn-Art Festival 2017</em>, Ishinomaki, Miyagi, Japan (with Zon Ito), 2017, <em>Imprisoned, Jailbreak, Imprisoned, Jailbreak</em>, statements, Tokyo, 2016, <em>You Reach Out -Right Now- for Something: Questioning the Concept of Fashion</em>, Marugame Genichiro-Inokuma Museum of Contemporary Art, Kagawa; Contemporary Art Gallery, Art Tower Mito, Mito- 2014, <em>documenta 12</em>, documenta halle, Kassel, Germany, 2007, <em>The Door into Summer: The Age of Micropop</em>, Contemporary Art Gallery, Art Tower Mito, Japan, 2007.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

