{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__004: Toru Otani: Spectrum",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 6th September -  3rd October, 2020",
		ogimage: "https://imlabor.org/twobytwobytwo/004/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "2x2x2",
                "item": ""+ site.url +"/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "004",
                "item": ""+ site.url +"/twobytwobytwo/004/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/004/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "004"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Toru Otani</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">6th September - 3rd October, 2020<br>※ Opening hours: 2pm - 7pm / Thur - Sat.</dd>
				</dl>
				<dl class="item">
					<dt class="term">Press release__</dt>
					<dd class="desc">Toru Otani uses the backside of sandpapers, empty cigarette packages, and vintage maps as a canvas.<br>
					In this exhibition, 'Spectrum,' objects he found from internet auctions such as pre-war textbooks, a used note, and a postcard are used as materials. Those objects were selected by the marks that somehow caught his attention, such as a human hand, the sun, eyeballs, etc.<br>
					Using color pencils, he intends to erase excess elements and information that identify the marks' meanings. Otani says this process reminds him of the feeling when you see an abandoned billboard for a second while driving down a national road- somehow, you cannot get it out of your head.<br>
					For Otani, an artwork is something like that: it's hard not to look at and think about even though you don't understand the importance of existence.</dd>
				</dl>
				<dl class="item">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Toru Otani (b.1988, Kanagawa, Japan; lives and works in Tokyo, Japan) is a Japanese artist who approaches to create new images by drawing over ready-made objects.<br>
					Otani has been involved in group exhibitions 'Ignore Your Perspective 52' at Kodama Gallery, Tokyo (2019), 'Maoya Kishi &amp; Toru Otani' at Kodama Gallery, Tokyo (2018), 'Mud, Tokyo, and Swimming' at Shinjuku Park Hall 1, Tokyo (2017), 'Nostalgia Fantasia' at Kodama Gallery, Tokyo (2016) and,' Chain Reaction' at Kodama Gallery, Tokyo (2015). His solo exhibitions 'Casablanca' (2015) and 'Planet' (2017) both took place at Kodama Gallery in Tokyo.<br>
					He graduated with a MA in Fine Arts from Tokyo University of the Arts, having completed a BA in Fine Art.</dd>
				</dl>
			</div>

		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide02_sp.jpg"/></picture><span class="caption">society, 2020, color pencil on notebook, 210mmx150mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide04_sp.jpg"/></picture><span class="caption">palace, 2020, color pencil on postcard, 90mmx140m</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide05_sp.jpg"/></picture><span class="caption">drive, 2020, color pencil on paper, 150mm x 210mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide07_sp.jpg"/></picture><span class="caption">red, blue, yellow on green, 2020, color pencil on paper, 210mm x 140mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide09_sp.jpg"/></picture><span class="caption">two triangles, 2020, color pencil on paper, 210mm x 140mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide12_sp.jpg"/></picture><span class="caption">brain waves, 2020, color pencil on postcard, 260mm x 210mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide13_sp.jpg"/></picture><span class="caption">left hand, 2020, color pencil on postcard, 140mm x 90mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide14_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

