{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
	lang: 'en',
    title: "2x2x2__010: Gabriel Hartley: Postcards at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ August 7 - 14, August 22 - September 11, 2021",
	ogimage: "https://imlabor.org/twobytwobytwo/010/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url +"/"
            },
            {
				"@type": "ListItem",
				"position": "2",
				"name": "2x2x2",
				"item": site.url +"/twobytwobytwo/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "010",
				"item": site.url +"/twobytwobytwo/010/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/010/img/bg-kv_pc2.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/bg-kv_sp2.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "010"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Gabriel Hartley</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">August 7 - 14, August 22 - September 11, 2021<br>
					※ Opening hours: 2pm - 8pm / Thur - Sat.<br>
					※ The galley bill be closed for the summer holidays from August 15 - August 21.</dd>
				</dl>
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc"><a href="https://fuyumimurata.com/" target="_blank" rel="noopener noreferrer">Fuyumi Murata</a>, all images copyright and courtesy of the artists and im labor.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">im labor is pleased to announce a solo exhibition titled 'Postcards' by British painter Gabriel Hartley. The exhibition runs concurrently with an online exhibition, 'Postcards' at <a href="https://www.foxyproduction.com/" target="_blank" rel="noopener noreferrer">Foxy Production (NY)</a>.</dd>
					<dd class="desc">In the first half of the exhibition, videos of Hartley's postcard drawing series, which has been part of his routine for 15 years, will be running in the window space 24 hours a day throughout the exhibition.<br>
					The gallery space is open to the public from the second part of the exhibition, which opens on August 22.<br>
					Please kindly note that the first half of the exhibition will only be in the window space.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Gabriel Hartley</strong> (London, UK, 1981) lives and works in Tokyo, Japan. He holds a BA in Fine Art from Chelsea College of Art and Design, London, and a Post Graduate Diploma in Fine Art from the Royal Academy Schools, London.</dd>
					<dd class="desc">Selected exhibitions include: “OF,” Seventeen, London, (solo)(2020); “Waterwood," Foxy Production, New York, NY (solo)(2019/2020); "The Sleeping Procession,” CASS Projects, Cass Sculpture Foundation, Goodwood, West Sussex, UK; “Landscapes,” Seventeen, London, UK (solo) (both 2018); “Reliefs,” Foxy Production, New York, NY (solo); “A Rose Without a ‘why’, It blooms because it blooms,” Carl Freedman Gallery, London, UK (both 2016); “Basic Instinct,” Seventeen, London, UK; “Lozenges,” Pippy Houldsworth Gallery, London, UK (solo) (both 2015); “The Moving Museum,” London, UK (2013); “Slap,” Praz-Delavallade, Paris, France (solo) (2012); “Arte Furini Contemporanea,” Rome (solo) (2011); “Gabriel Hartley,” Swallow Street, London, UK (solo); “Jerwood Contemporary Painting Prize,” Jerwood Space, London, UK (both 2009); “John Moores Painting Prize,” Walker Art Gallery, Liverpool, UK; and “Parade Space,” London, UK (both 2008).</dd>
					<dd class="desc">Hartley’s works are in the permanent collections of the University of Chicago; Hood Museum of Art, Hanover and the San Antonio Museum of Art.</dd>
				</dl>
				{# <dl class="item">
					<dt class="term">Special thanks to__</dt>
					<dd class="desc"><a href="https://www.houseofgaga.com/" target="_blank" rel="noopener noreferrer">House of GAGA</a>, <a href="https://lodosgallery.info/" target="_blank" rel="noopener noreferrer">LODOS</a></dd>
				</dl> #}
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Postcards'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide11_sp.jpg"/></picture><span class="caption">Vermeer, 2021, Pastel and ink on photograph, 255×355mm (Including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide12_sp.jpg"/></picture><span class="caption">Voltera, 2020, Ink on burned postcard, 255×355mm (Including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide13_sp.jpg"/></picture><span class="caption">Muggy, 2020, Pigment, Binder and Charcoal on Tenjiku cotton, 660×530mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide14_sp.jpg"/></picture><span class="caption">Kip, 2020, Ink and burn mark on wood, 280×360mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide15_sp.jpg"/></picture><span class="caption">Yokoami, 2021, Ink and watercolor on photograph, 255×355mm (Including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide16_sp.jpg"/></picture><span class="caption">Gaugin, 2020, Ink on sanded postcard, 255×355mm (Including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide17_sp.jpg"/></picture><span class="caption">Sigh, 2021, Ink, Charcoal and Straw on Silk, 610×460mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide18_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide19_sp.jpg"/></picture><span class="caption">Goat, 2021, watercolor ink and Charcoal on Silk, Linen and cardboard, 460×535mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide20_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide21_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/010/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/010/img/slide22_sp.jpg"/></picture></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/583429347?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Gabriel Hartley: Postcards (Landscape), 2021, 24:55, courtesy of the artist</span></li>
				<p class="video-caption _sp">Gabriel Hartley: Postcards (Landscape), 2021, 24:55, courtesy of the artist</p>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/583439417?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Gabriel Hartley: Postcards (Portrait), 2021, 25:06, courtesy of the artist</span></li>
				<p class="video-caption _sp">Gabriel Hartley: Postcards (Portrait), 2021, 25:06, courtesy of the artist</p>
			</ul>
		</div>
	<!-- /.page-container --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

