{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__005: Interview with: クリスティーナ・プラナス",
    description: "これまでのクリスティーナ・プラナスの活動を振り返ると、アーティストという肩書きすらも彼女にとっては自己開発の過程の一つにしか過ぎないのもしれない。それほどクリスティーナ・プラナスという存在は自己の多様性を体現しているアーティストなのである。",
		ogimage: "https://imlabor.org/journal/interview/005/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "005",
                "item": ""+ site.url +"/jp/journal/interview/005/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/005/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "005"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「リングに上がることで、“自分”が考える“自分”という幻想を忘れることができる..ボクシングは自分にとって現実に触れる事ができる手段なんです。」</h3>
				<p class="lead">これまでのクリスティーナ・プラナスの活動を振り返ると、アーティストという肩書きすらも彼女にとっては自己開発の過程の一つにしか過ぎないのもしれない。それほどクリスティーナ・プラナスという存在は自己の多様性を体現しているアーティストなのである。アーティストとして、脚本家として、某ファッションメーカーのアートディレクターとして、そしてアマチュアボクシング大会Girl チャンピオンシップ2018のチャンピオンとして、常に変化を求め、遠回りをしながら、検証をしていくという彼女の姿勢こそが、彼女のパフォーマンス・映像作品を魅力的にする要因の一つなのだろう。クリス・クラウスによりフランスの哲学者シモーネ・ヴェイユについて書かれた『Aliens and Anorexia』（エイリアンと拒食症）の本の中でクラウスは「スパイラルを突き進んだ先には対称性が出現する」と述べている。</p>
				<p class="lead">私がZoomを介してこのインタビューを行った5月中旬頃、プラナスはモントリオールに、私はロンドン郊外の自宅にいた。彼女の話を聞いている最中、この「スパイラルを突き進んだ先には対称性が出現する」という一文が私の頭から離れなかった。クリスティーナ・プラナスというシェイプシフターによって作られた作品を目の当たりにした観客は、いつのまにかその事実と虚構の境目を往来するスパイラルに巻き込まれていくのである。</p>
				<p><span class="talker">CASSANDRE GREENBERG__</span>あなたは2017年からフェミ・ブルターレ（Femme Brutal）というキャラクターに扮してボクサーとしても活躍されていますよね。ボクサーとしてだけでなく、フェミ・ブルターレはあなたの映像作品やパフォーマンスにも度々登場しています。まずこの活動についてお話をお聞きしたいのと、現在COVID_19パンデミック禍でフィジカルな活動をメインに行っていたフェミ・ブルターレが現在どこにいるかについて教えてもらえますか。</p>
				<p><span class="talker">CRISTINA PLANAS__</span>フェミ・ブルターレは私自身まだ全貌が把握出来ていなくて、私の頭を悩ませてくる存在です。最近、フラストレーションと接触の関係性について考えることが増えたのですが、彼女は自分でも気づいていない私の中の何かに触れてくる存在なんです。</p>
				<p>基本的に、フェミ・ブルターレは別人格として私の中に存在していて、常に自分と彼女との間を往来しているというか…、とにかく彼女の存在を掘り下げていくことは自身の制作にとって必要なことなのは確信していますし、その過程でまた別人格の存在を発見することが出来るような気がしています。</p>
				<p>イライラした時は、その感情を抑えて飲み込こむようにしているのですが、そうすると自分の中に不完全燃焼感だけが残ります…自分にとって制作とはまさにそんな感じで、オーガズムを感じたいけれど自分では触れたくないというか…これは、意思と欲望と行動を一致させることの難しさと関係していると考えています。ボクシングを始めるまでは衝撃と衝撃を共存させても大丈夫である、という世界が存在することを私は知りませんでした。この2、3年でより自分自身と深く向き合ったことで、私が何に対して興奮や羞恥心を覚えるかについてわかってきたような気がします。フェミ・ブルターレの存在を通してボクサーとして活動することで、自身のクリエイティブな側面やセクシュアリティに対して明確に認識出来るようになりました。ボクシングにおいての全ての打撃には意志があって、ヒットさせる為にパンチは打たれる…意思と欲望と行動が一致しているのです。</p>
				<p>今現在は、フェミ・ブルターレとしての次の活動を探している所です。彼女は、私が恐怖や危険を感じた時に出現してくる人格で、私自身は彼女を介することで自分では経験できなかったことや、愛に触れることができます。私がこの現状で感じている不安は、このままリングに立つことや、フェミ・ブルターレを介して他者と接触することができなくなってしまったら、この先どうやって私は愛情に触れることができるのだろう…ということです。</p>
				<p><span class="talker">CG__</span>フェミ・ブルターレは、ボクシングという格闘技を介して、リング上で自分を全力で殴ってこようとする相手と対話をしていますよね。現在、他人との接触を避けなければならないコロナ禍で、スパークリングや試合ができない事実をどのように受け止めていますか？ またボクシングのような格闘技をすることはあなたにとってどのような意味を持つのでしょうか？</p>
				<p><span class="talker">CP__</span>ボクシングはリング上で何が起きても自己責任であるという暗黙の了解の上に成り立っていて、その為、試合中遠慮したり対戦相手のことを考える事は殆どありません。リング上での出来事すべては自分の支配下で起こることなので、相手に殴られて生じる痛みも、あくまでも自分で自分を殴っているようなものなのです。</p>
				<p>コロナ禍の現状でボクシングを非常に恋しく感じています。リング上で起こる接触は、一度経験すると病みつきになってしまうんです…。ボクシングの世界にいると、普段より自分の感覚が研ぎ澄まされるというか、自分の本質により近づいていけるような感覚があります。ボクシングは脆弱性と繊細さを兼ね備えたスポーツで、リングに立っていると自分の全てが剥き出しにされる感覚があります…。それと同時にボクシングは自分の力が最も発揮できるコンテンツでもあります。</p>
				<p>私は普通の人より腕が長く、ボクシングにおいてはその事実は大きな利点になります。特にジャブなんかは自分の可動域を広げたり、相手を自分から遠ざける為の意味があるので、リーチが長いことは有利に働きます。ボクシングを始める前までは自分のパーソナルスペースをどうやって作っていいかが分からなかったんです。ボクシングを始めた事で、普段の生活の中でもパーソナルスペースを具現化する方法を見つけることが出来ました。私の戦闘スタイルは非常にアグレッシブなので、隙あらば前へ前へと出てしまい、結果、相手に踏み込み過ぎたりして身動きがとれなくなってしまう事が多いです。そういう瞬間はいつもコーチから「ジャブを使え」と怒鳴られるんですが、その度にパーソナルスペースの重要性を思い知らされます。</p>
				<p>現在COVID_19パンデミック禍の中で私たちは互いのパーソナルスペースの境界線を手探りに探している状態です。境界線は目に見えるものではありませんが、私たちの生活の上で必要不可欠なものです。今、私たちはこれまで以上にお互いの存在を意識しながら生活しています。個人的にはコロナによって生じた物理的な距離感や互いへの敬意に対しては肯定的に捉えています。人との接触を恋しく思いますが、接触の中にはコンセンサスではなく思い出したくないものもたくさんあります。この新しい人との距離感の下、私は今まで以上に自分の愛する人との距離感を大切に思う事ができるようになりました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/287649365?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: Documentation of Golden Girl championship, 2018, 11:13, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide01_sp.jpg" /></picture><span class="caption">Golden Girls documentation 2018, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide02_sp.jpg" /></picture></span><span class="caption">Femme Brutale’s post on Instagram</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide03_sp.jpg" /></picture><span class="caption">Women's Winter Box Cup 2018_Promo</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">CG__</span>あなたの作品を見ていると、身体は力場であるというあなたの思考を強く感じます。これは、ボクシングを始めたことが影響しているのでしょうか？</p>
				<p><span class="talker">CP__</span>リングに上がることは、“自分”が考える“自分”という幻想を忘れさせてくれます。戦う為には自分という幻想を拭って、自分を超える存在感を持った人格を作る必要があります。自分が思う自分という存在はリングに立っている瞬間はその人格に統合されています。ボクシングは自分にとって現実に触れる事ができる手段なのだと思います。リングで戦っている時、「この手は本物だ、あのパンチは本物だった」と感じる事ができるのです。</p>
				<p><span class="talker">CG__</span>その幻想と現実を行き来する感覚は、あなたがフェミ・ブルターレというキャラクターとして実際にリングに立つ様子を撮影した作品に現れていると思います。フェミ・ブルターレというあなたによって作られたキャラクターが現実世界で3度もボクサーとしてチャンピオンに輝いたという軌跡を撮影することで、フィクションとドキュメンタリーの境界線に挑戦しているように見えました。実際にチャンピオンになったことで、フィクションがいつのまにかノンフィクションになってしまい、それによってあなたはそれまでボクサーを演じていたのが、いつのまにかボクサーとして正式に認められるようになりましたよね。しかし、あえてフェミ・ブルターレとしてボクサーの活動をインタグラム等のプラットフォームで記録することによって、現実世界でクリスティーナ・プラナスとしてプロボクサーとして活躍することが出来る可能性を自ら断絶しているように私は感じましたが、実際にはどのような意図があるのでしょうか？</p>
				<p><span class="talker">CP__</span>その通りです。自分自身でも、フェミ・ブルターレとしてボクシングチャンピオンに実際なった事には驚いています。これほどまでに自分の芸術的意図を表現出来るとは着想当初は予想していませんでした。当初から作品の意図は明確にありましたし、フェミ・ブルターレとしてボクシングに一年間取り組むことは決めていました。しかし、その過程の中でいつのまにか彼女が自分の想像を超える存在なってしまったのです。その事実に気づいた時は時既に遅しというか…自分でも気づかない間に演じていたフェミ・ブルターレというキャラクターが私の影の部分を乗っ取ってしまったのです。私自身も何が起きてるのか把握できていませんでした。彼女は私自身なのか、それとも別人格なのか…とにかく自分にとっては非常にリアルな体験でしたね。変化と変容の必要性が、私の中からフェミ・ブルターレという人格を引き出したんだと思います。</p>
				<p><span class="talker">CG__</span>最近の活動について教えていただけますか？</p>
				<p><span class="talker">CP__</span>現在、モントリオールを拠点に活動するアーティスト、アダム・バサンタとコラボレーションしています。私のパフォーマンスが24時間ライブストリームされているプラットフォームを作りました。<a href="https://espacebrutale.live/in-formation" target="_blank" rel="noopener noreferrer">https://espacebrutale.live/in-formation</a> からアクセスできます。</p>
				<p>その他には、昨年からカナダ政府からの助成金を受けて、三部構成の映像作品の制作を始めました。三つの作品『欲望』『郷愁』『視覚』は互いにリンクし合っていて、『欲望』ではボクシングの経験を通して触れた、欲望の感情についてボクシングと映像双方に存在する「ショット」という概念の基探求していきます。『郷愁』では私の家族の歴史について探ります。この『欲望』と『郷愁』いう2つの感情的な要素が『視覚』へと繋がっていきます。現在は演技コーチや振付家、その他のクリエーターと共にワークショップを重ねながら、内容を詰めているところです。一度も会ったことのない父方の祖母を演じる為に、祖母の歴史や、1950年代の雑誌などのリサーチもしています。</p>
				<p>今回の役作りのために、想像力と言語を身体化する方法を模索している過程で、日本の演出家であり作家でもある鈴木忠志氏が開発した鈴木メソッドという演技法に出会いました。この鈴木メソッドというのは、足踏みやスクワッドなどで下半身を鍛え、身体や発声を使って彫刻を表現したり等、舞台俳優の為の厳しいトレーニング方法です。このトレーニングによって俳優たちはキャラクターを保持するための身体力や、発声力、また、自分の核を移動させる方法を身につけることができます。</p>
				<p>この鈴木メソッドをクロスポイントという演技トレーニングと組み合わせることによって、役作りを徹底的にやっていきたいなと考えています。</p>
				<p><span class="talker">CG__</span>あなたの作品は写真と強い関係があるように思いますが、写真、映像、インスタレーション作品等とあなたのパフォーマンス作品の関係性について教えてもらえますか？また、写真で記録をしていくという行為には、自分の身体とその能力がどのように変化していくのかを観察する為の意図もあるのでしょうか？</p>
				<p><span class="talker">CP__</span>写真は、目撃したり、日記を書いたり、記録する為に撮ります。また、観察と現実化を同時に行う装置の一部でもあります。私は、未来に起こることを予兆するようなイメージを作ったり、パフォーマンスを無意識にしたりしている自分がいることに気づきました。自分の腹筋を撮影したビデオやモノクロのパフォーマンス映像があるのですが、それは私がフェミ・ブルターレとしてボクサーになる未来を予兆していたのだと思います。何も考えずに撮影したイメージや架空のキャラクターが、現実へと繋がっていく過程は過去が未来へとすり替わっていくようで、とても面白く感じています。</p>
				<p>イメージとそのイメージの製作者の間には大きな溝があります。イメージを生産し、そのイメージによって生産されてしまうというプロシューマリズムのサイクルに陥ってしまうのです。このサイクルからどうすれば抜け出せるのか？という疑問が、私の制作モチベーションへと繋がっています。現在制作中の映像作品『視覚』でこの問題に対して追求していく予定です。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/410470472?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: Desire (Teaser), 2019, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide04_sp.jpg" /></picture><span class="caption">Femme Brutale Archive, 2018, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide05_sp.jpg" /></picture><span class="caption">The Fool’s Confession_Performance flyer 2020</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/419765886?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Cristina Planas: The Fool's Confession, April 2020_Documentation Edit, 02:44. Courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">CG__</span>あなたの最新映像作品『Testing 2.0 The Fool's Confession』では、Zoomを介してパフォーマンスを行っていましたが、配信中にカメラアングルを切り替えたり等して、自らライブ編集を行なっていましたね。また、パフォーマンス中に十字架が使われているのを見て、現在コロナ禍で教会に行けず新たな礼拝方法や場所を模索している人たちがいること、オンラインを介してスピリチュアルな現象を再現することについて考えさせられました。目撃をすること、精神的につながることとあなたのパーフォマンスにはどのような相互関係があるのでしょうか？</p>
				<p><span class="talker">CP__</span>崇拝へのアンチテーゼとして、今回のパフォーマンス内で十字架を使用することにしました。また、十字架を宗教的な意味だけではなく、人間の身体のメタファーとしても捉えています。最近は受動的でネットワーク化されたテクノロジーとしての身体概念について考えているので、その思想もパフォーマンス内に現れているのかなと思います。</p>
				<p>宗教的な概念では、崇拝や証人になるということは、呪文を唱えることと似ているような気がします。奇跡を目撃した人間は、同時に心の奥ではその奇跡の裏には手品のような種があることに気づいている。全ての結果や軌跡はこの平準化作業の基に成り立っています。『Testing 2.0 The Fool's Confession』はこの作業への入り口となるものです。アーティストのジェシー・ダーリングも言っていますが、私たちはSNSやテクノロジーの技術を用いた作品を通して“永続的な目撃者”のアーカイブを作っているのだと思います。</p>
				<p>『Testing 2.0 The Fool's Confession』では自分と対立している派閥や思想を体現し、自分の中で起きている変化の過程を表現することを試みました。この作品は、パフォーマンスを一つの空間に設置された複数のカメラで撮影し、それらをZoom上で生で編集していくという、ライブ・フィルムメイキングの手法を用いて作られています。多角度から一つ空間を写すことで、パフォーマンスの物語に奥行きが生まれると考えました。</p>
				<p><span class="talker">CG__</span>『Testing 2.0 The Fool's Confession』で私が面白いと感じたのは、一つの空間に設置された数台のカメラが同時にZoomに繋がれている所です。マルチスクリーンの技法を使用していくつものアングルから撮影されているパフォーマンスが一つの画面に同時に流れている様子を観ていると、空間の時間軸の歪みというか、奥行きのようなものを感じました。また様々なスペシャリスト達の話や会話も同時に流れていたのも非常に興味深かったです。</p>
				<p><span class="talker">CP__</span>このパフォーマンスは私にとってコンフェッション（懺悔）のようなもので、作品を通して自分の内面、心理、そして感情の変化について探求したいという意図がありました。作品内で、パフォーマンスを写した映像以外にもスティーブン・アトキンス、ファイサル・ナクビ、レイ・ダンマイヤーの三人との会話も流れています。演出家であり演技指導者であるスティーブンは彼の演劇トレーニング方法やユング派の精神分析からの脱却をするためにはどうするべきかについて話しています。「国境なきオステオパシー」の創設者であるファイサルには身体の雑音と可能性について、そして緑内障で視力を失った柔道家でオリンピックにも出場したことのあるレイとは視覚の代替について話をしてもらいました。</p>
				<p>私はマルチスクリーンという手法は映像の中のキュビズムであると考えていて、この手法を今回の作品に用いることで複数のアングルから感情や心情を見せることを試みました。私自身パフォーマーとして、表情の機微の演技は非常に大切にしています。表情はそのキャラクターの心情を垣間見る窓であり、また鑑賞者が自身を投影する鏡でもあるからです。</p>
				<p><span class="talker">CG__</span>ハリウッドの映画監督であり作家でもあるウォルター・マーチ氏はCOVID-19による映画館の閉鎖に伴い、人々が今後映画館まで足を運ぶということが少なくなっていくだろう、と話している記事を読みました。現在、演技、撮影、編集、全ての映像制作の過程を一人で行って配信ができるYoutubeなどのプラットフォームが “映像を見る”という行為の主流になってきているように感じます。そのような中で、映画や映画館、そして映像作品は今後どのように変化していくと考えていますか？</p>
				<p><span class="talker">CP__</span>一概には言えませんが、映画や映画館が映像業界で重要な役割を担っていた時代は終わるのではないかと考えています。これからは作る事と見る事が同時進行で、映像は鑑賞者と体験を共有することが主軸になっていくのではないでしょうか。ソーシャルメディア上には“最高の生活”が演出された写真や映像が溢れています。これは人々の多くが、映画のようなファンタジーの中ので生きたいという願いを抱いているという現れではないだろうか、と私は考えています。私たちは個人的には集団的にも常にオンラインを通して空想を抱えながら生きています。そのうち自己と幻想が投影された何かが、自分の代わりに永遠にオンライン上で生活していくことも可能になっていくようになると思います。</p>
				<p>現在スマートフォンさえあれば何処にいても映画が観れる上に、コロナの影響で映画館が封鎖に追い込まれている現状下で、今後人々に映画館へと足を運んでもらう為には様々な工夫が必要になってくることでしょう。一つのスクリーンに映画を放映しているだけでは、鑑賞者は満足出来なくなっています。IMAXみたいに座席が映像に合わせて振動する仕掛けを作ったり、イギリスで開催されたSecreat Cinemaみたいに放映する映画に合わして会場全体を演出したり等して、映画館でなければ出来ない体験を提供しなければ人の足は離れていく一方だと思います。VR技術を駆使して、空間全体が演出されているような映画館が今後誕生したら人気が出ると思います。映像だけではなくその空間も含めて作品の一部になっていくでしょう。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/005/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/005/img/slide06_sp.jpg" /></picture><span class="caption">Cristina Planas, Courtsey of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">クリスティーナ・プラナスは、ロンドンとモントリオールの間を拠点に活動するアーティストであり、アマチュアボクサーである。2017年にボクシングを始めて以来、プラナスは国際大会、イギリス国内タイトルを含む3つの大会でチャンピオンに輝いている。<br>
					2019年、プラナスはカナダ政府助成の元、3部作構成の映像作品を開始。現在はこの映像作品の為の役作りと、台本制作を行っている。<br>過去の展示に上映会に、The WRONG digital arts biennaleのオンラインパビリオン「Peregrination」への参加（2019年)、NEW WORK PART III: SUBJECT、ロンドンのCOB galleryでの展示(2018年)等がある。</dd>
					<dd class="desc">
					2021年4月より、アカデミー・シュロス・ソリテュードにてフェローシップを開始予定。<br>
					2018年スレード・スクール・オブ・ファイン・アート（イギリス）の卒業。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://cristinaplanas.com/" target="_blank" rel="noopener">https://cristinaplanas.com/</a></p>
				<p class="link"><a href="https://espacebrutale.live/in-formation" target="_blank" rel="noopener">https://espacebrutale.live/in-formation</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">カッサンドラ・グリーンバーグ</dt>
					<dd class="desc">カッサンドラ・グリーンバーグはロンドン在住のアーティスト、ライターである。彼女の作品はICA、IMT Gallery、SPACE Studios、Auto Italiaなどで展示されている。近年では、FVUとアート・マンスリー誌の2020年マイケル・オプレ著述賞を受賞している。現在はBBCサウンズのために制作したLGBT＋のイギリス人フライトアテンダントに関したオーディオ・ドキュメンタリーを制作予定である。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

