{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__013: In conversation with: クリス・マーティン",
	description: "クリス・マーティンは、広大で密なイメージを鮮やかに描くアメリカ生まれの画家である。マーティンは1950年代から60年代にかけての抽象表現主義やハード・エッジな抽象画家たちに影響を受け、美術史と個人的な興味、占星術、サイケデリア、ロックンロール、戦後のヨーロッパ絵画、初期のポップアート、東洋の宗教などを組み合わせ、独特で多様な視覚的言語を制作している。",
	ogimage: "https://imlabor.org/journal/interview/013/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
							"@type": "ListItem",
							"position": "1",
							"name": "TOP",
							"item": site.url + "/"
            },
						{
							"@type": "ListItem",
							"position": "2",
							"name": "JP",
							"item": site.url + "/jp/"
            },
            {
							"@type": "ListItem",
							"position": "3",
							"name": "JOURNAL",
							"item": site.url + "/jp/journal/"
            },
            {
							"@type": "ListItem",
							"position": "4",
							"name": "INTERVIEW",
							"item": site.url + "/jp/journal/interview/"
            },
            {
							"@type": "ListItem",
							"position": "5",
							"name": "013",
							"item": site.url + "/jp/journal/interview/013/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/013/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "013"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「アーティストとしての真のインスピレーションは何かを作り出すという行為の中で自分の存在を忘れてしまうことです。それは、とても幸せなことで。「何かをしても良い」、「色んな興味を探求しても良い」、そう思えることに救われているんです。」</h3>
				<p class="lead">クリス・マーティンは、広大で密なイメージを鮮やかに描くアメリカ生まれの画家である。マーティンは1950年代から60年代にかけての抽象表現主義やハード・エッジな抽象画家たちに影響を受け、美術史と個人的な興味、占星術、サイケデリア、ロックンロール、戦後のヨーロッパ絵画、初期のポップアート、東洋の宗教などを組み合わせ、独特で多様な視覚的言語を制作している。</p>
				<p class="lead">グリッター、バナナの皮、食パンなど、日常的に使われる非伝統的な素材を使用するのは、エイズが流行し始めた頃にニューヨークでアートセラピストとして働いていた事を彷彿とさせ、自分の絵画を、肉体的にも感情的にも毎日スタジオにて産み出される生きたドキュメントにしたいという彼の思いを反映している。</p>
				<p class="lead">5月11日の夜、クリス・マーティンはブルックリン、私はロンドンにて、スカイプ越しに会話をしながら、彼は若手画家だった頃のNYでの生活や、カール・ユングやヨーゼフ・ボイスの作品を通して、アートを癒しの活動として捉えるようになったこと、そして、創造性、遊ぶこと、未知のものを受け入れることを自分に許可することの重要性について語ってくれたのだ。</p>
				<p><span class="talker">INDIA NIELSEN__</span>まず初めに、COVID-19のパンデミックで世界中が混沌とする状況が続きますが、この1年間どのように過ごしてきたかお話を伺えますか？</p>
				<p><span class="talker">CHRIS MARTIN__</span>この1年間は、ニューヨークから北へ3時間ほど行ったところにあるキャッツキル山脈で過ごしました。キャッツキルは大きな山ではなく、英国風のなだらかな丘陵地帯です。自然が多く、鹿や熊が歩き回っていて、かなりクールな場所です。私の妻（画家のタマラ・ゴンザレス）と私は、そこに家とスタジオを持っています。この冬、タマラはブルックリンでほとんど過ごし、私は一人でキャッツキルのスタジオに滞在しました。静かな森の中で制作も捗り、有意義な時間を過ごすことができましたが、家族や友人に会えなかったのは寂しかったですし、行きたかった展示を見逃してまったのは残念でしたね。あまりにも周りが静かすぎて、少し気がおかしくなりそうな瞬間もありました。</p>
				<p><span class="talker">IN__</span>マーティンさんの絵画は、12×15フィート（3.6 x 4.6m）くらいの巨大なスケールで描かれているものが多く、画面の中には細かなディテールや様々な質感が盛り込まれいるのが印象的で、個人的に、ジュリアン・シュナーベルの『プレート・ペインティング』を思い出しました。『プレート・ペインティング』は描かれたイメージとその下に敷かれたお皿の間に新しい遠近関係が存在していて、マーティンさんの作品にも通ずるものがあるのではないでしょうか。シュナーベルは、1979年にニューヨークのメアリー・ブーン・ギャラリーで初めて『プレート・ペインティング』を発表しましたが、この作品が同世代のアーティストたちにどのように受け入れられていたか覚えていますか？</p>
				<p><span class="talker">CM__</span>初期のシュナーベルの展覧会は、メアリー・ブーンとカステリ・ギャラリーで全部見ています。彼の作品は素晴らしかったですし、間違いなくシーンを大きく広げてくれました。1970年代のニューヨークのダウンタウンは非常に偏狭的で、絵画自体が疑わしいものとされていたり、特にアバンギャルドな場所ではなかったんですよ。その後若い画家たちが、ジグマー・ポルケ、ゲオルク・バセリッツ、A.R.ペンク、フランチェスコ・クレメンテなどのヨーロッパのアーティストたちを意識するようになり、NYのアートシーンはあっという間に開けていきました。その頃、私はジャン＝ミシェル・バスキアと会うこともありましたし、キース・ヘリングのチョーク・ドローイングを地下鉄で見かけたりなどしていて、NYの至る所にあるグラフィティ・ペンインティングに大きな影響を受けていました。</p>
				<p><span class="talker">IN__</span>ジェームス・ブラウンのLPのように個人的に重要な意味があるものを使うだけでなく、マーティンさんは、蛍光色のポンポン、発泡スチロールの円盤、バナナの皮、トースト、グリッター、新聞紙、カーペットの切れ端など、工芸品や日常的な素材を絵画に多く取り入れていますが、それらをモチーフとしてでなく、物理的に使用することはどのような意味があるのでしょうか？</p>
				<p><span class="talker">CM__</span>絵の中に物を入れることは、私にとって自然なことでした。私のスタジオはいつもガラクタで溢れていて.... 新聞紙、ペーパータオル、アルミホイル、段ボール、壊れたもの、缶、木片、ポストカード......どんなものでもアートの素材になり得ると思っています。</p>
				<p>それと、私は常に、絵画の物理的な表面や実体に惹かれてきました。絵画は創造された空間ですが、同時に土や布などの「もの」から作られています。私はニューヨークの都市部の壁やフェンスなど、破壊された傷跡のある表面に描かれたグラフィティ・ペインティングに感銘を受けてきました。ペインティングを壁の一部として考えるのが好きなんです。</p>
				<p><span class="talker">IN__</span>パンの絵（「Glitter」）はどのようにして生まれたのですか？</p>
				<p><span class="talker">CM__</span>どのようにしてパンを使い始めたのかは思い出せませんが、柔らかい食パンの上を筆で撫でた感触が、まるで夢を見ているような不思議な感覚だったのをよく覚えています。私の作品にはバナナの皮もよく使われているんですが、それもバナナの皮を広げるとまるで星が広がっているように見えて好きだったからです。</p>
				<p><span class="talker">IN__</span>ジェームス・ブラウンは、マーティンさんの作品によく登場する人物ですが、ジェームス・ブラウンがあなたにとってどのような意味があるのか、また、彼をテーマにした作品を作り始めた時期についてお聞かせください。</p>
				<p><span class="talker">CM__</span>私の母はクラシック音楽に精通していて、パーティーで家族と踊るときはワルツが流れていました。音楽好きの母や、ワシントンDCでモータウンやアフリカ系ミュージシャンを流すラジオ局のもとで育ったんですよ。ジェームス・ブラウンの音楽に出会ったのは、実はモダニズム絵画に出会ったのと同じ時期でした。14歳のとき、ピカソの絵を模写しながら、ジェームス・ブラウンの『Mashed Potato Popcorn』を聴いていたんです。その時に「これだ！私は芸術家なんだ！」と稲妻が走るような、強烈な体験をしたんです。</p>
				<p>ジェームス・ブラウンが亡くなったと知った時、自分がどれほど感情的になっているかにショックを受けました。彼が私に与えていた影響は想像していたよりも大きく、父親のような存在が亡くなったように感じたんです。その時期は、彼のレコードをずっとかけていましたね。ジェームス・ブラウンのレコードは、常に私の生活の中に存在していたオブジェクトだったので、レコードを絵の中に取り入れることは私にとってすごく自然なことで、なんというか、実体のあるエネルギーを絵の中に入れているような感覚でした。</p>
				<p>実はこの手法はよくやっていて、父が鉛筆で文字を書いた黄色い紙があったんですが、その上にドローイングを描いたことがあります。私にとってそれは父の存在を維持するための行為であり、父のエネルギーを感じる方法でもあったんです。ジェームス・ブラウンの作品の場合は、オマージュの一種であると同時に、たとえそこに描かれているのがクソみたいな絵であっても、ジェームス・ブラウンがいるんだ！と感じることができる。彼は絵画の中にいて、誰も奪うことはできない。ジェームス・ブラウンだけでなく、マーヴィン・ゲイのレコードも使いました。私が持ってるレコードコレクションは全部使いましたね。</p>
				<p><span class="talker">IN__</span>2016年には、David Kordanskyギャラリーで『<a href="https://www.davidkordanskygallery.com/exhibitions/chris-martin" target="_blank" rel="noopener noreferrer">Saturn Returns（サターン・リターン）</a>』というタイトルの個展を開催されましたよね。サターン・リターン（土星回帰）とは、27歳から30歳の間に土星が自分が生まれた時と同じ位置に戻ってくることで、この期間に人間は自分の弱さや不安が露呈し、人生を一回精算する経験をし、厳しい教訓を得るといわれている星占術学的厄年のようなものです。ジャン＝ミシェル・バスキア、ジミ・ヘンドリックス、ジャニス・ジョプリン、カート・コバーン、エイミー・ワインハウスなど、多くの著名人が27歳の時に自殺やオーバードーズなどによって亡くなっています。この事実は『Saturn Returns』でも言及されていましたが、マーティンさんの作品や人生において占星術的な思想はどのような影響があるのでしょうか？またご自身もサターン・リターンはご経験されましたか？</p>
				<p><span class="talker">CM__</span>サターン・リターンは確かに気味が悪い。あなたが挙げたアーティストたちは皆、27歳で亡くなっているので、「27」という数字は、ある種の殉教の象徴的な節目となっています。私自身の人生の変化も、この27～29年のサイクルとほぼ一致してはいますが、私は占星術の専門家でも信者でもありません。</p>
				<p>何がきっかけで土星に執着するようになったのかはわかりませんが、子供の頃から土星とその輪っかのイメージが好きで、ずっと描いていました。サターン・リターンの間、人々は「清算や厳しい人生の教訓」を経験することになっているとおっしゃっていましたが、それは私たちの生活が常に地球温暖化、大量絶滅、核戦争などの脅威と共にあることを考えさせられますね。こんな世の中でも、晴れた春の日は美しいのは救いです。</p>
				<p><span class="talker">IN__</span>個展『Saturn Returns』でも展示されていましたが、いつからエイミー・ワインハウスの絵を描き始めたのでしょうか？</p>
				<p><span class="talker">CM__</span>失恋で辛い思いをしていた長女と一緒に、ドライブに出かけたことがありました。エイミー・ワインハウスの曲が流れている車内で、娘の話を聞いていたらいつの間にか二人して泣いていたのを覚えています。</p>
				<p>他の何百万人ものファンと同じように、私はエイミー・ワインハウスに夢中でした。みんな彼女が困難に直面していることは知っていましたし、心配していました。その頃、私はワシントンDCにあるコーコラン美術館で展覧会のために『For the protection of Amy Winehouse（エイミー・ワインハウスを守るために）』というタイトルの絵画作品を大量に制作していました。同時期に、トルコに行っていた娘が、魔除けの役割があるというガラス製の青い目を持って帰ってきたんです。私は自分の絵の中にエイミーの写真を貼って、彼女を守るためにそのガラス製のお守りを写真の周りに貼りつけることにしたんです。結局、彼女を救うことはできませんでしたが。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide01_sp.jpg" /></picture><span class="caption">'Glitter', 2013 bread, gel medium, and acrylic on wood, 20 x 16 inches (50.8 x 40.6 cm), Photography: Fredrik Nilsen Studio, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide02_sp.jpg" /></picture><span class="caption">'Glitter Painting', 2007, acrylic medium, spray paint, glitter on wood, 20 x 16 inches (50.8 x 40.6 cm), Photography: Johansen Krause, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide03_sp.jpg" /></picture><span class="caption">'Big Glitter Painting', 2009-2010, mixed media on canvas, 135.04 x 108.27 inches (343 x 275 cm), Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide04_sp.jpg" /></picture><span class="caption">'Painting with Three Banana Peels and Four Holes', 2009, mixed media on canvas, 44.88 x 37.01 inches (114 x 94 cm), Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide05_sp.jpg" /></picture><span class="caption">'James Brown 1935', 2006, oil, acrylic gel on cardboard, 43.7 x 30.31 inches (111 x 77 cm), Photography: Meredith Allen, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide06_sp.jpg" /></picture><span class="caption">'Homage James Brown Godfather of Soul...', 2001-2007, oil and collage on canvas, 15 x 18 inches (38.1 x 45.7 cm), Photography: Johansen Krause, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide07_sp.jpg" /></picture><span class="caption">'James Brown Live in Tokyo', 2006-2007, oil, collage on canvas, 48.43 x 38.19 inches (123 x 97 cm), Photography: Meredith Allen, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide08_sp.jpg" /></picture><span class="caption">'Amy', 2015, acrylic and chalk on canvas, 134 3/4 x 118 x 2 1/2 inches (342.3 x 299.7 x 6.4 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>シグマー・ポルケはマーティンさんにとってヒーローのような存在であるとインタビューで読んだことがあります。</p>
				<p><span class="talker">CM__</span>そうです。私があなたの作品を見た限りでは、あなたにとってもポルケはヒーローなんじゃないですか？</p>
				<p><span class="talker">IN__</span>ええ、大好きです。彼は「画家」の可能性を大きく広げてくれましたし、彼に影響を受けたアーティストたちは大勢いると思います。彼をリスペクトする作家がポルケと違った方法論でアートをどのように開拓していったかを見るのも好きです。マーティンさんがポルケの作品を初めて見た時、どのような印象を受けましたか？</p>
				<p><span class="talker">CM__</span>ポルケは私にとって革命的な存在でした...... 初めて彼の作品を見たときには大きな衝撃を受けたのを覚えています。彼は、抽象と具象を共存させる自由を見つけたのです...ニューヨークでは前代未聞でしたよ。当時のNYでは、自分が美術史のどちらの側にいるのかを選ぶ必要があった。もちろん、今となってはそれも古臭い話ですが。</p>
				<p>ポルケの絵を初めて見て思ったのは、「この人はヨーロッパ絵画の壮大な伝統にアクセスしている人だ」ということです。彼は歴史を描くことも、エロティシズムを描くことも、滑稽な絵を描くことも、ホロコーストをテーマにしたシリアスな絵を描くこともでき、サイケデリックな興味に対して非常に直線的な方法でアプローチできる画家です。</p>
				<p>ジャン＝ミシェル・バスキアからも同様に大きな影響を受けましたね。私は彼の事を初期の作品から知っていました。彼は自分が聞いている音楽やその時浮かんだ思想を全て作品に反映させることができる作家で、例えば、彼は本を読むと、その本の内容をそのまま絵に描き込んでしまうのです。そういった彼の真直な表現は当時の私たちからすると非常に自由なことでした。その一方で、私自身は自分の作品をいかに狭いカテゴリーの中に収めるかという問題に頭を抱えていました。当時の私のドローイングは奇妙で、この作品ではやっていけないと感じていたので、ポルケやバスキアの展示を見て多くの事を学んだように思います。</p>
				<p><span class="talker">IN__</span>マーティンさんの作品が世に出るまで、時間がかかりましたよね？</p>
				<p><span class="talker">CM__</span>そうですね。絵で生計を立てられるようになったのが50歳くらいの時です。</p>
				<p><span class="talker">IN__</span>きつかったですか？</p>
				<p><span class="talker">CM__</span>後悔はしていませんが、大変な時もありました。私は大人になってから大学に戻ったのですが、それは自分と子供を養うためにきちんとした仕事をしなければならなかったからです。もうこれ以上下働きはしたくない、意味のある仕事をしたいと思ったのです。ニューヨークにあるスクール・オブ・ビジュアル・アーツでアートセラピーを学びました。若い頃は、フルタイムで働くなんてアーティストとして本当の意味で失敗を認めるような感じがしていて、最悪の事態だ、なんて思っていました。しかし実際には、アートセラピストとしての仕事を通じて多くのことを学び、素晴らしい人々に出会うことができたので、いい選択をしたと思っています。何よりも、私の仕事に対する姿勢が変わりました。</p>
				<p><span class="talker">IN__</span>どういった経緯でアートセラピーを学ぶことにしたのですか？</p>
				<p><span class="talker">CM__</span>若い頃、私はユングの分析心理学について学びました。アートは人間の心理や感情にアクセスし、アーティスト自身を癒し、そして、文化にも癒しをもたらすという考えに興味を持ったからです。アート作品は鏡となり人間の心理を写し、また自己肯定の手助けもします。私の親友で素晴らしい画家であるピーター・アッシェンも、ユング派のセラピーに深く関わっていました。他にもヨーゼフ・ボイスは、自分自身を癒すために作品を作り、それを社会に提供することで、癒しと繋がりの可能性を示唆したと言われています。</p>
				<p>私の友人の多くはエイズで亡くなっています。私がアートセラピストとして働きだしたのは、エイズが流行し始めた頃でした。デイケアや病院、老人ホームで働いていましたが、魅力的で深みのある人々と多く関わることができました。私が担当した人の多くはヘロイン中毒者や犯罪者で人生のどん底を経験してきた人たちです。仕事が終わり家に帰ると「アーティストとしての仕事がなくて残念だよ。」と口癖のように発していたのが辛かったのを覚えています。</p>
				<p>でも、私の子供たちは健康で、すくすくと幸せに育っていましたし、私自身も刑務所に入っていたわけでも、死にかけていたわけでもありません。アートセラピストとして働いた経験は確実に私に新たな視点を与えてくれましたし、私の作品も大きく変わりました。グリッター（クリス・マーティンが作品によく用いる素材）の存在もブルックリンでセラピストとして働いていたときに知りました。私のセラピーを受けてきた人の多くがグリッターを好んで使うので、私も作品に取り入れてみたんです。</p>
				<p><span class="talker">IN__</span>私はマーティンさんの作品を眺めていると「許し」について考えます。なので、マーティンさんがボイスやユングを通して、自分の作品を癒しの活動として捉えるようになったという話は非常に興味深いです。具体的に説明すると、自分がやりたいこと、思っていることを「許容」してもいいんだな、という感覚です。物事を無駄に難しく考えず、楽しんでやっていいんだと思えるのです。制作や労働が必ずしも大変でなければいけないという考えを払拭できるというか。多くの人はこのジレンマを抱えているのではないでしょうか。</p>
				<p><span class="talker">CM__</span>ありがとう。そういえば、何年も前に、アーティストのリチャード・タトルに「多くの人に影響を与えるのはどんな感じ？」と聞いたことがあります。彼は「若手作家だった時、僕が僕として生きることを許可してくれた人たちがいる。もし同じことを他の人に出来るなら最高だよね。」と言っていました。私はこの「許可」という言葉がとても好きです。</p>
				<p><span class="talker">IN__</span>美大では、自分の作品を正当化したり擁護することばかりに必死になって、自分を許容するというという事が忘れがちになってしまうような印象があります。それは、自衛という意味では有益な事なのかもしれませんが、自分の作品でも他人の作品でも、好きなものを純粋に受け入れたり、楽しんだりすることの妨げになってしまうことが多く、結果として視野を狭めてしまうのではないでしょうか。</p>
				<p><span class="talker">CM__</span>そうですね。自分の作品を正当化することで一杯一杯になってしまうのは本当に腐食的な事だと思います。私は美大の先生として教壇に立ったことはあまりないですが、それでも学生たちの間には小さなきっかけですぐ懐疑的になってしまうような傾向があることに気づきました。楽しまず、苦労している、ということが努力している証明になってしまっているような...それってどうなんでしょうね。批判的思考は純粋な喜びを目の当たりにした時、正当な対処の妨げになってしまいます。</p>
				<p><span class="talker">IN__</span>マーティンさんは絵画を学ぶために1972年にイェール大学に進学しましたが、1975年に同大学を中退し、ニューヨークに移り住み、アーティストとしての活動を始めましたよね。大学を中退したのは上記で述べたようなことが原因なのでしょうか？</p>
				<p><span class="talker">CM__</span>そうですね...イェール大学に進学して良かった面としては、学校が活気に満ちていたことと、当時は大学院と学部の絵画学科が同じ建物にあったことです。私は学部生として入学しましたが、院生たちと多くの時間を一緒に過ごし、彼らの批評を聞くことができたのです。当時、アーティストとして食べていきたい人は皆ニューヨークに行っていましたから、大学院生たちもいずれNYに行ってしまう......だからその時の私は、「なぜ卒業まで待つ必要があるのだろうか？」と思ったんです。結果、大学を中退してNYに移り住みました、20歳くらいの頃だったと思います。そもそも、私は「美術教育」が好きではなかったんですよ。</p>
				<p>画家のアル・ヘルドが当時、大学院で先生をしていました。彼が1960年代に制作したミニマル・ペインティング『The Big X』や『Ivan The Terrible』には衝撃を受けましたね。ホイットニー美術館で開催された彼の回顧展もすごかった。私が「学校を辞めよう、こんなのバカバカしい！」となった理由のひとつにアル・ヘルドの作品を見てしまったことがあるでしょうね。数年後、冗談で「大学を辞めたのはあなたのせいだ！」と彼を責めたんですが、彼は「俺のせいにするな！」と言っていました。</p>
				<p>いずれにしても、若い画家は誰しも心酔するアーティストに出会うことがあるでしょう、そしてそれらの作品が自身の絵に大きな影響を与えます。アル・ヘルドの絵を初めて見た時、それは私がずっと描きたいと思っていた絵のように感じました。だから、それを描こうとしました。その後数年間は初期のエリザベス・マーレイのような絵を描こうとしたりしてましたね。あとは、ジャスパー・ジョーンズやロバート・ラウシェンバーグといったアーティストにも大きな影響を受けました。自分の好きなものを描こうとすることが、スタートなのです。</p>
				<p><span class="talker">IN__</span>実はマーティンさんが、学生の作品を燃やしたという記事を読んだことがあるんです...。</p>
				<p><span class="talker">CM__</span>バード大学で教えていた頃、面白い学生がいました。彼は自分の作品に満足していなくて、よく「作品を破壊してしまいたい。」と話していました。そのような中で、先生として私が彼に出来る事といえば、「さあ、そんなに悪くないよ、また新しいのを作ればいいさ！」と励ましてあげることです。しかし、何ヶ月もそのやりとりを続けているうちに私は疲れてきて、その学生に 「よし、ならどうやって作品を壊したい？」と尋ねました。学校の外庭に焚き火台があったので、そこで作品に火をつけることにしたんです。外に出て、作品を燃やしていると、他の学生たちも寄ってきて「何をしているの？」と尋ねてきました。「絵を燃やしている」と答えると、彼らは、「ああ、自分の絵を持ってきてもいいですか？私も自分の作品を破壊したいから！」言いました。（笑）その時が私の教師人生のピークだったかもしれません。</p>
				<p><span class="talker">IN__</span>（笑） アーティストなら誰しも一度は自分の作品に火をつけたことがあると思います。</p>
				<p><span class="talker">CM__</span>通過儀礼のようなものだよね。重要なこと。</p>
				<p><span class="talker">IN__</span>そうですね、そして一回破壊することで自由になれるんですよね。私の場合は、新しい絵を描き始めるときは、たいていそれを「バーナー（ダメなやつ）」と呼んでいるんですけど、そうすることで、プレッシャーから解放されてリラックスして制作できるんですよね。もうその意識が頭に刷り込まれているので、今は気負わず作品作りができています。</p>
				<p><span class="talker">CM__</span>本当に、その通り。作品を学生と一緒に燃やした日、そのまま私のクラスの学生と一緒に大きな焚き火を囲んでいたのですが、みんなが「新しく、燃やすものを作ろうよ」と言い出したんです。初めから燃やす前提で作っているので、あなたが言うように、彼らは気負うことなく、結果すごく良い絵画やドローイングを描いたんです。それで、「あら、いい作品だね。」ってみんなでなって。でも、燃やすのが目的だったので、学生たちは急に「だめだ、燃やさないとダメだったんだ。」って言い出したりして。（笑）でも、予め壊すことが分かっていると、作ることのプレッシャーがなくなり、ただ作ることだけに没頭できるという、素晴らしい教訓になりましたね。あなたも学校の先生をなされてるんですか？</p>
				<p><span class="talker">IN__</span>ええ、私は高機能自閉症のティーンエイジャーにアートと写真を教えています。</p>
				<p><span class="talker">CM__</span>素晴らしい絵を描く子達がいるんでしょうね。</p>
				<p><span class="talker">IN__</span>そうですね、自閉症の子供達にレッスンができるのは本当に意味のあることだと思っています。もちろんアートは評価されるものではありますが、最大の恩恵はその機能性にあると考えています。アートは感情をコントロールすることの手助けになりますし、制作の楽しさに没頭できることもアートの素晴らしさです。制作は楽しくあるべきだと思うようになりました。</p>
				<p><span class="talker">CM__</span>よくないと思ってた自分の作品の中に、いいものがあることに気づけるようになったんじゃないですか？</p>
				<p><span class="talker">IN__</span>ほんとにそうなんですよ。マーティンさんはスタジオで制作するための儀式やルーティンのようなものはありますか？</p>
				<p><span class="talker">CM__</span>私はスタジオの上に住んでいるので、毎日一階に降りるのが楽しみなんです。規律のようなもので、特に制作に対してのプレッシャーとかも感じることなく、ただスタジオで過ごすだけでよくて。昼寝をしたり、仕事をしたり、キャンバスを貼ったり、バケツの中で絵の具を混ぜてみたり、とにかく何かしてますね。スタジオで過ごすことを私と妻は「ぶらぶらする。」と呼んでます。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide09_sp.jpg" /></picture></span><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide10_sp.jpg" /></picture><span class="caption">'Untitled', 2016, acrylic, foam disks and spray paint on canvas, 88 x 77 x 3 inches (223.5 x 195.6 x 7.6 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide11_sp.jpg" /></picture><span class="caption">'28', 2015, acrylic, oil and glitter on canvas, 135 1/8 x 117 3/4 x 2 1/2 inches (343.2 x 299.1 x 6.4 cm), Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide12_sp.jpg" /></picture><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide13_sp.jpg" /></picture><span class="caption">'Saturn Returns', David Kordansky Gallery, Los Angeles, CA, April 9 - May 21, 2016, Photography: Brian Forrest, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide14_sp.jpg" /></picture><span class="caption">'Circle of Regeneration', 2017 - 2018, acrylic, oil, collage, and glitter on canvas 58 x 49 x 2 inches (147.3 x 124.5 x 5.1 cm), Photography: Matt Grubb, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>人々は、異なるスタイルの境界線上にある作品を、やたらめったら「アウトサイダー・アート」という言葉で区分しがちで、ここ最近では、この言葉が意味を持たなくなっているように思います。マーティンさんの作品を「アウトサイダー・アート」として説明されたことはありますか？</p>
				<p><span class="talker">CM__</span>私自身の作品が「アウトサイダー・アート」と分類されることはほとんどありませんが、私はこの言葉が世に出回っているのがそもそも嫌いです。この言葉は基本的に女性や有色人種、高度な美術教育を受けていない人たちの権利を奪うために使われていると思っています。</p>
				<p>アラバマ州のギース・ベンド・コミュニティでは美しいキルトが制作されていて、私が知ってる限りでも多くのアーティストがこのキルトから影響を受けた作品を作っています。それなのに、「Fine Art（ファイン・アート）」と「Craft（工芸品）」をまるで別物のように扱うことが許せません。他に、「Self  Taught（独学）」という言葉も問題視すべきレッテルのひとつです。本当のアーティストは、他のアーティストから学び、基本的には独学です。若い頃の私は、様々なアートを追求し勉強していましたが、インスピレーションを受けた多くは、物事の端、外縁にあったものでした。</p>
				<p><span class="talker">IN__</span>確かに。「アウトサイダー」という言葉でアーティストを一度区分してしまうと、その後どのようなシーンにおいても、「インサイダー」のアーティストとして別物として扱われるような... それは、マーティンさんがおっしゃっていた、ジェンダー、人種、階級などによって構成されている美術大学や美術業界＝インサイダーが生み出したヒエラルキーを維持することに繫がってしまうのかもしれません。</p>
				<p><span class="talker">CM__</span>そうですね。インサイダーとか、アウトサイダーとか、全く役に立たないことです。どこかの大学の講演で聞いた話ですが、小学2年生の子どもたちに「ここにいる人でアーティストはいますか？」と質問すると、みんな手を挙げるそうです。高校生に同じ質問をしたら、後ろの方で所謂クラスで変わり者とされてる子達が数人手を挙げるかもしれない。若い投資家たちに「絵を描いてください。」と言えば、「描けません。」と即答するでしょうね。</p>
				<p>でも彼らに「踊ろうよ！」とパーティーで声をかけたら、大抵みんな踊れるでしょ。なぜ、自分は絵が描けないからプロに描いてもらおうという発想になるのでしょうか...そんなことはないです。なぜ「虫歯は歯科医しか治せない」と「私は画家じゃないので絵が描けない」が同義になるのか私には理解できません。現代の文化は人間の創造力を抑制しているように思います。人々は日々疑問を持つことなく、特に自己表現することもなく、過ごしています。多くの人にとっては創造性を持つ（取り戻す）というのはそれほど衝撃なことなのです。</p>
				<p><span class="talker">IN__</span>年齢で人間の創造性を計ろうとするのも、誰しもが持つ羞恥心を利用して人の感情をコントロールするためのように思います。投資家として働いている人が仕事から帰宅後、家で夜な夜なイラストを描くことは、大人のすることではない、恥ずかしいことだ、と思っている人が多いのではないでしょうか。どうせ他者に受け入れてもらえないから、といって、自分の本当に好きなものを受容する許可を自身に与えず、心にしまい込んでしまいます。そんなことをしていると、自分が興味があったことも、次第に受け入れがたいものになってしまうのかもしれません。</p>
				<p><span class="talker">CM__</span>その通りだと思います。私がニューヨークで最初にした仕事は、グッゲンハイム美術館の警備員でした。働いていた当時、ジャクソン・ポロックの大きな展覧会があったのですが、子供と一緒に来ていた人たちが、ポロックの絵画を眺めながら口々に「子供でも描けるわ。」と言っていたのを覚えています。それを聞いてなんだかその時は身構えてしまいしたが、今になってみると、彼らの言ってることは正しかったんじゃないのかな、と思います。彼等の子供はポロックのように描けるけど、彼らには出来ないでしょうね。</p>
				<p><span class="talker">IN__</span>なぜなら、彼らは自身を解放／許容することができないからですか？</p>
				<p><span class="talker">CM__</span>彼らはもう遊べないんですよ。かわいそうなことに、彼らには、ただ、ドラムを叩いてはしゃぐような機会がなくなってしまった。だから、彼にとって、叩けないドラムを叩いて遊ぶのは「子供っぽくて」悪いことになってしまった。</p>
				<p><span class="talker">IN__</span>マーティンさんはどのように自分を許容することを学んだのですか？</p>
				<p><span class="talker">CM__</span>そうですね、まず、自分を深刻にとらえすぎないことが大切です。あと、私はたくさんのドローイングをしたり、色々新しい事を始めるのが好きです。パウル・クレーやパブロ・ピカソ、シグマー・ポルケは私にとってのヒーローですが、彼らは非常に多彩なアーティストです。一つに囚われず、様々なスタイルの絵を描いているときに、私は幸せを感じます。</p>
				<p>作品はかなりの量を作ってきましたが、同時に、たくさんの作品を破棄／破壊します。訳のわからないアヒルの絵をスタジオで描くこともあります。「これは何だ？」と思いながらも、そのアヒルの絵をスタジオに置いておくんです。無理に、そのアヒルが何なのかを決める必要はないんです。アーティストとしての真のインスピレーションは何かを作り出すという行為の中で自分の存在を忘れてしまうことです。それは、とても幸せなことで。「何かをしても良い」、「色んな興味を探求しても良い」、そう思えることに救われているんです。</p>
				<p><span class="talker">IN__</span>近々、何か展覧会の予定はありますか？</p>
				<p><span class="talker">CM__</span>ニューヨークのビーコンにあるパーツ&amp;レイバーギャラリー（Parts &amp; Labor）で、ギャラリストのジェイ・ゴーニー（Jay Gorney）キュレーションによる、アーティストのジョー・ライトとの二人展『<a href="https://www.partsandlaborbeacon.com/light-and-martin" target="_blank" rel="noopener noreferrer">Be Natural</a>』が現在開催されています。ジョー・ライトは、アメリカ南部の田舎に住んでいたアーティストで、10年ほど前に亡くなっています。彼が生きている間に彼の作品を見る機会はあまりありませんでしたが、素晴らしいアーティストです。彼は亡くなってしまいましたが、彼の絵はまだ生きていて、展覧会で見ることができます。20年くらい前に『Souls Grown Deep』という本で彼の作品を見つけて以来、非常に影響を受けました。この展覧会は7月11日までオープンしています。</p>
				<p>あとは、来年の3月頃には、ロンドンの<a href="https://www.timothytaylor.com/" target="_blank" rel="noopener noreferrer">ティモシー・テイラーギャラリー</a>（Timothy Taylor gallery）で初の個展を開催する予定です。</p>
				<p><span class="talker">IN__</span>アーティスト、特に若い人たちに、何かアドバイスはありますか？</p>
				<p><span class="talker">CM__</span>人生を楽しんで！（笑）<br>画家として若い同志を持つことはとても大切です。私もあなたくらいの年齢の頃は、「いつか田舎に2年間くらい引き篭って、一人で絵を描くんだ！」なんて、よく空想をしていましが、それはとんでもない間違いですよ。あなたの絵を見て正直に意見を言ってくれる仲間が必要だし、あなたのやっていることを尊敬し、支持してくれる仲間が必要です、その逆もまた然り。アーティストとして、これはとても重要なことです。</p>
				<p>あと、道を渡るときは左右を確認して、ヘロインには手を出さないことですかね。</p>
				<p><span class="talker">IN__</span>（笑） 今後作りたい作品などはありますか？</p>
				<p><span class="talker">CM__</span>たくさんあります。最初に巨大なペインティングを作り始めたとき、遠くから眺めてもイメージが成立するもの、そしてその画面に近づいた時よりイメージに親しみを感じられるようなもを描きたいと考えていました。私はギュスターブ・クールベが描く巨大な絵が大好きで、パリで実物を見た時、画面に近づいて「ああ、これは犬の鼻だ！」と気づいてはしゃいだり、草の中に描かれている細部をずっと眺めていました。近づくことでより絵を楽しんだり、鑑賞者を絵の世界に引き込むことが出来るのが巨大な絵画が持つ力で、私が大きな作品を作ることが好きな理由でもあります。</p>
				<p>そういった物の見方は、キャッツキルの森の中で過ごした経験が関係しているのだと思います。森の中を歩いていると、大木や山脈が目の前に広がっています。その一方で、足元にあるキノコや、トカゲの存在も視野に入ってくる。私の周りには圧倒的に巨大な世界が広がっていますが、同時にそれはミクロの世界でもあるのです。</p>
				<p><span class="talker">IN__</span>ミクロとマクロの間を常に行き来している...。</p>
				<p><span class="talker">CM__</span>そうですね。そこに私は興味があるんです。なので、それを表現できるような大きなペインティングを作りたい。常に前を向いていますよ。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/013/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/013/img/slide15_sp.jpg" /></picture><span class="caption">Portrait of Chris Martin by Fredrik Nilsen Studio, Courtesy of David Kordansky Gallery, Los Angeles</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">クリス・マーティン（1954年、ワシントンD.C.生まれ）は、1980年代からニューヨーク・ブルックリンを拠点に活動しているアーティストである。近年では、ダグラス・ハイド・ギャラリー（ダブリン）（2015年）、レクタングル（ブリュッセル）（2015年）、クンストハレ・デュッセルドルフ（ドイツ）（2011年）、コーコラン・ギャラリー・オブ・アート（ワシントンD.C.）（2011年）など、世界各地の美術館で個展を開催した。最近のグループ展に、「Black Light」（バルセロナ現代文化センター）（2018年）、「Animal Farm」（ブランド財団アート・スタディ・センター、コネチカット州グリニッジ）（2017年）、「Thinking Out Loud: Notes on an Evolving Collection」、The Warehouse、ダラス（2017年）などがある。また彼の作品は、オールブライト=ノックス美術館（ニューヨーク州バッファロー）、シカゴ現代美術館、ハイ美術館（アトランタ）、デンバー現代美術館（デンバー）、ボイマンス・ヴァン・ベーニンゲン美術館 （オランダ・ロッテルダム）、San Francisco Museum of Modern Art（サンフランシスコ近代美術館）などの美術館のパーマネントコレクションとして収蔵されている。2017年にこれまでの作品をまとめた画集『Paintings』がSkira社から出版された。<br
					>また、近年、マーティンは、ニューヨーク・ブルックリンとキャッツキルの2拠点で主に制作を行っている。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">インディア・ニールセンは、ロンドンを拠点に活動しているアーティストである。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2021年には、ロンドンのFREEHOUSEで個展を開催するほか、マーゲートのWell Projectsで2人展、ITローマのAnnarummaギャラリーで3人展を開催予定。主な個展「Seer Kin Lives」は、2016年にロンドンのJack Bell Gallery（ロンドン）。2020年にはPlatform Southwark（ロンドン）での2人展他、Eastside Projects（バーミンガム）、Roman Road、Southwark Park Galleries、Collective Ending、The Residence Gallery、ASC Gallery、The Hockney Gallery、Gallery 46、The Horse Hospital、Tripp Gallery、Matt's Gallery、Limbo、The Peckham Experiment Building（ロンドン）、Assembly House（リーズ）、White Columns（ニューヨーク）、Spazio Amanita（フィレンツェ）、Im Labor Gallery（東京）など国際的に作品を発表している。主な受賞歴に、ロイヤル・カレッジ・オブ・アートの「The Villiers-David Bursary」（2017年）、スレード・スクール・オブ・ファイン・アートの「The Steer/Orpen/Charles Heath Clarke Bursary」（2016年）、「a-n arts Writing Prize 」(2019年)。<br>
					RCA卒業後は、ノルウェーのアーティストIda Ekbladに従事。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

