{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__006: Interview with: Kazuki Matsushita",
    description: "Kazuki Matsushita is a Japanese painter and poet who tends to approach painting linguistically. Using the technique of the anagram, words are deconstructed and rearranged words are transformed into something different from their original meaning.",
		ogimage: "https://imlabor.org/journal/interview/006/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "006",
                "item": ""+ site.url +"/journal/interview/006/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/006/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "006"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“To believe in something blindly is what makes a painting.”</h3>
				<p class="lead">Kazuki Matsushita is a Japanese painter and poet who tends to approach painting linguistically. Using the technique of the anagram, words are deconstructed and rearranged words are transformed into something different from their original meaning. I interview Matsushita on the evening of July 17, 2020, at our project space 2x2x2 in Tokyo. He answered the questions I asked so politely, referring to a notebook he always carries with him. Some of the answers were too abstract, so I asked him again, but he answered in the same way. I realised that it must be far more important for Matsushita to explain his thoughts correctly than to force his thoughts into existing words to make them recognisable to others. In this interview, I asked Matsushita about his interest in words, his early work; how he began the series of his work with the anagram technique as well as his exhibition at 2x2x2 ‘X’mas’.</p>
				<p><span class="talker">IM LABOR__</span>To start, how did you get into painting, was that your specialism at university?</p>
				<p><span class="talker">KAZUKI MATUSHITA__</span>I was always interested in making paintings, but I wasn't really in the mood as there was not much in the way of subject matter or motifs that motivated me to paint, so, for my first two years at university I explored various types of media besides painting.</p>
				<p>Around that time, I read an article about the difficulties the orange industry in California faced in the 1910s. Oranges were apparently a luxury item at the time, but the price stagnated due to overproduction. To protect the oranges' value, people in the industry tried several solutions such as shutting down the orchards and limiting production, though none of them worked. Then a man called Albert Lasker, known as the "father of modern advertising," stood up and suggested a new advertising strategy to revive the industry. To stabilise its value, Lasker branded every Californian orange under the name “Sunkist," he also began producing "Sunkist" branded spoons, made specifically for eating oranges and gave them to consumers for free. What I found most interesting among all of Lasker’s strategies, was an advertising campaign he made called, "Drink an orange." His idea was to take surplus oranges and turn them into juice for consumption. The morning ritual of "Drink An Orange for Breakfast" is still familiar today, even to me as a Japanese person, but I think it must have been an epochal idea considering that people didn't have such a custom before Lasker’s intervention.</p>
				<p>This story made me aware of the concept of advertising and "forms of solids liquefying." Since the article, I started thinking about interactions between objects and their many facets; objects can be perceived very differently merely by changing the angle.</p>
				<p>After reading the article, I made an sculpture of objects taking many forms; I burnt a dictionary down to ashes then put them into orange juice and poured it into a wine glass. The reason I used orange juice was probably because I was influenced by the article... Alongside this sculpture I hung an orange on the wall, threw it onto a canvas, used its juice as paint, etc... I wanted to explore the potential of one object (here, an orange) by experimenting with its many forms and uses, exploring the condition of what makes an object an object. Looking through my sketchbook from this time, I drew a lot of strange diagrams and texts describing this experiment.</p>
				<p><span class="talker">IL__</span>How has reading the article and this early experimentation affected your painting practice?</p>
				<p><span class="talker">KM__</span>I don't think they’re directly related, it’s more of a distant blood relationship... but yes, since the experiment with the orange, I've started to think about the conditions of things. I think the reason I was experimenting with various techniques, the possibilities and practicalities of the orange, without making any tangible ‘pieces’, were because I was quite skeptical about painting at the time. At that time I felt very aware that there was a gap between looking at a painting and making one. I was also unsure of the fact that a painting gets called a painting without any hesitation; it’s just taken as a given. Throughout this skeptical phase I ended up discovered this as my topic of interest: what makes painting a painting? I started thinking about how much a painting can control the space and the boundary of the frame, which is the condition of forming a painting. I think that was a necessary process for me, and also it became a kind of foundation for my practice.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide01_sp.jpg" /></picture><span class="caption">Buttery FL, 2016, pencil, marker and oil on canvas, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide02_sp.jpg" /></picture></span><span class="caption">Mom wine, I’m women, 2019, oil on canvas, curtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide03_sp.jpg" /></picture><span class="caption"></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide04_sp.jpg" /></picture></span><span class="caption">Doland Doland, 2019, pencil, marker, print, on paper, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide05_sp.jpg" /></picture><span class="caption">Confession to memory (he, I, M), 2018, pencil, marker, print on paper, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide06_sp.jpg" /></picture><span class="caption">Confession to memory (She, I, L), 2018, pencil, marker, print on paper, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>The condition of forming a painting... I'm curious to know about that in detail. For example, how do you recognise a painting as one?</p>
				<p><span class="talker">KM__</span>To be honest, I have not yet reached that answer, and I think it's up to the individual to decide what they perceive as a painting. Personally, I don't see a painting in photography as a painting - it's just photography. Paintings are a physical phenomenon that exists only when they are touched or seen directly.</p>
        <p><span class="talker">IL__</span>I'd like you to talk about ‘Buttery FL’, a painting you made in 2016, which seems like one of your earliest paintings? The painting is abstract, and the image reminds me of certain symbols... Also, the title ‘Buttery FL’ is unique; do you have any strategies for deciding the titles?</p>
        <p><span class="talker">KM__</span>Yes, ‘Buttery Fl’ is one of my earliest paintings, and it also began the series of my work I made using the anagram technique, alongside ‘R read idea ‘MMIMM’.</p>
        <p>became interested in the concept of a name since I started thinking about the condition of painting. Before I made ‘Buttery Fl’ I was somehow attracted to the motif of the butterfly and wanted to paint something related to it.</p>
        <p>Through ‘Buttery FL’ I wanted to represent my perspective about the phenomenon or image created by the name 'butterfly,' the opening and closing movements of a butterfly and its symmetry. I then fixed it onto the canvas using a technique of monotype. If you break down and rearrange the word Butterfly, you get Buttery FL, F, and L melting like butter, which has a completely different meaning from the word butterfly. A name, like all words, doesn’t have mass, but it can generate phenomena or images. Things can be recognized and perceived differently depending on the angle and the way they are arranged - this is something I consider essential to my present work.</p>
				<p><span class="talker">IL__</span>Your interest in words can be seen in your other work, but I particularly want to ask you about ‘Mom wine, I'm women,’ which was exhibited in the group exhibition ‘Speculation 6Real’ at Kodama Gallery in 2019. In this work, the artist’s name was Etsuko Matsushita.</p>
				<p><span class="talker">KM__</span>I anagrammed a sentence ' I'm women,' and 'Mom wine' appeared from that, and I used it as a part of the title.</p>
				<p>I often write down random names, sentences, and poems in my notebook, and before I made this work, the phrase ' I am women' caught my attention. Throughout the process of thinking about the meaning of women, like yourself, a woman, my maternal grandmother came up...and her name is Etsuko Matsushita. From the point I thought about the influence my grandmother had on my behavior, my thoughts, and my self-formation, I wanted to represent the presence of my grandmother that may exist in me in my work. Probably the percentage of myself in my work is approximately 99%; the rest is perhaps someone or something which influenced me. In "Mom wine, I'm women," the work could be completed as 100% with putting an element of my grandmother, Etsuko Matsushita.</p>
				<p>As I mentioned earlier, I like to think about the conditions of things, such as the boundary of painting, and whether the frames are included in the concept of a painting. If you follow this thought through, you have to doubt everything about the painting concept, like, if the frame is part of the painting, is the gallery a part of it also? *laughs*</p>
				<p>It is only my guess, but I think that the majority of people who came to the group show looked at the painting while holding the press release in their hands, holding all the details of the work, including the artist’s name. I imagine they looked at ‘Mum wine, I am women’ and then checked the artist's name; at that moment, Etsuko Matsushita became a part of the painting.</p>
				<p><span class="talker">IL__</span>I feel like your interest in words, such as anagrams and the process of naming, seem to be firmly embedded in the formation of your paintings. Do you write? Also, how did you become interested in language?</p>
				<p><span class="talker">KM__</span>Yes. I write down sentences and names that catch my attention in a notebook daily, and I write poetry too. I've always loved reading, especially the writers Yukio Mishima and J.D. Salinger. If someone asked me to name the people who influenced my work the most and made me want to make art, I would definitely choose those two and Richard Prince.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide07_sp.jpg" /></picture><span class="caption">KoM crossword, 2018, gesso, varnish, pencil, and oil on canvas, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide08_sp.jpg" /></picture><span class="caption">KoM crossword, installation view, 2018</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide09_sp.jpg" /></picture><span class="caption">X is, X is, X is, 2018, oil on canvas,  courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide10_sp.jpg" /></picture><span class="caption">Crone’s altar (corner "last A"), 2018, pencil, oil on canvas,  courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide11_sp.jpg" /></picture><span class="caption">Holden Caulfield &amp; Holedance Illfud, 2018, pencil and oil on canvas, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>The notebook seems to be very important to you; Do you usually use names, poetry, drawings, and diagrams you record in the notebook as motifs in your paintings?</p>
				<p><span class="talker">KM__</span>Basically, yes. My work begins with a play on words, rearranging the proper nouns and sentences in my notebook. By anagramming, an image that is completely different from the original meaning comes to the surface, and I use paint to fix the image within the context of the painting.</p>
				<p>Sometimes I actually print a page of the note I’ve made and use it as a canvas. For example, ‘Doland Doland’, which I made in 2019, I printed out a drawing of Donald Trump I made in my notebook and painted over it.</p>
				<p><span class="talker">IL__</span>I see. Is there anything else that you consider important when you are making a painting?</p>
				<p><span class="talker">KM__</span>I like to give myself certain restrictions when I start a painting, such as setting the size of the canvas. I don't choose a canvas depending on the motif, I just use the canvas in front of me. For example, if you facsimile a 2m size pig in a 1m×1m canvas, you might need to reduce the pig's size to fit in in the canvas, but I don't want to do such a thing. For me, it's more important to know which part of the pig to trim, whether the face or the butt. If you trim the torso part to paint, the 1m canvas would be just a pink flat surface, but it's an accurate painting of a 2m size pig.</p>
				<p><span class="talker">IL__</span>How do you identify the moment when a painting is finished?</p>
				<p><span class="talker">KM__</span>Honestly, I've never really experienced a moment of thinking 'this painting is finished.' So, I put down a brush when I become able to envision the people who will see the painting in question.</p>
				<p><span class="talker">IL__</span>Finally, can you tell us about your solo exhibition ‘X’mas’ that will be held at our project space 2×2×2?</p>
				<p><span class="talker">KM__</span>In this exhibition, I will show six new bodies of work. The title ‘X’mas' is a word that has been on my mind for a long time, and I like the fact that I don't really understand what the word ‘Christmas’ means in the context of Japan. For example, if you assume Christmas to be an empty jar, what would you put into the jar to make it Christmassy?</p>
				<p>Would it be snow, Jesus Christ, your wishes, the smell of turkey, your lover's smile, stuff you bought from the black Friday sales, or ribbons? So many different elements make up the concept of Christmas; everybody has their own experience of and personal relationship to Christmas, but you still put the same elements into the container. To believe in something blindly is what makes a painting.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/006/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/006/img/slide12_sp.jpg" /></picture><span class="caption">When I said that, When I shit DATA, 2018, marker, pen, and book, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Kazuki Matsushita (b.1992, Tokyo, Japan; lives and works in Tokyo) is a Japanese painter and poet who approaches painting linguistically using the technique of the anagram.</dd>
					<dd class="desc">Matushita has been involved in group exhibitions and art fairs ‘Ignore your perspective 52 Speculation⇆Real’ at Kodama Gallery, Tokyo, 2018, ’NADA Miami 2018’, ‘Ignore your perspective 44’ at Kodama gallery, Tokyo, 2018, and ‘Ignore your perspective 42’ at Kodama gallery. </dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

