{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__012: Interview with: Yusuke Muroi",
	description: "Yusuke Muroi is a Japanese artist who makes installation works based around his paintings and drawings. Those who see his work will be overwhelmed by the sheer volume of it that fills the exhibition space.",
		ogimage: "https://imlabor.org/journal/interview/012/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "012",
                "item": ""+ site.url +"/journal/interview/012/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/012/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "012"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“It was unrealistic for me to draw something in the style of art brut or outsider art, as I was in art school and studying academically... But I wanted to draw in this style badly, so I did a kind of training to get beyond the dilemma. My degree show, '<em>Alchemy of Liberty</em>', was a compilation of that training.”</h3>
				<p class="lead">Yusuke Muroi is a Japanese artist who makes installation works based around his paintings and drawings. Those who see his work will be overwhelmed by the sheer volume of it that fills the exhibition space. Muroi's work conveys a sense of resistance to something, revealing his underlying dilemma.</p>
				<p class="lead">Throughout the interview, I came to feel that the basis of Muroi's work is his constant scepticism towards his own expression and his continuous search for the true nature of the act of expression.</p>
				<p class="lead">We talked about graffiti culture and art brut, which have particularly influenced his practice. We also talked about the contradiction between being influenced by these cultures and studying academically at an art university, and how this contradiction has shaped his work.</p>
				<p><span class="talker">IM LABOR__</span>First, I'd like to start this interview by talking about your primary practice, installation. One of your installation's features is its volume, and I'm always overwhelmed by it. Do you ever use any pieces from your past work as material for other installations?</p>
				<p><span class="talker">YUSUKE MUROI__</span>Sometimes, yes... But basically, I try not to look back at the work I've made. I feel like looking at previous work will pull me back to it, which I want to avoid. So, I keep all of my old work out of sight. Of course, I may have a feeling that I want to retouch an old work if it feels unfinished. But once one has been installed in an exhibition, this is like a signal to me that the work is completed, so I don't make any further changes to it.</p>
				<p>Actually, I've been thinking of scaling down my work because its volume has been increasing recently, and I don't have space to store them anymore.</p>
				<p><span class="talker">IL__</span>Really? But it seems to me that volume and scale are essential elements in your work.</p>
				<p><span class="talker">YM__</span>Yes, it is. I think each object has its own value, but by putting them together as an installation in the same space, it might be possible to eliminate the differences in value.</p>
				<p>I never really intend for my installation work to have such a large volume. If there's something that I'm really attached to in the installation, this will bring other objects along with it naturally. As a result, the work becomes expansive.</p>
				<p><span class="talker">IL__</span>In your previous exhibition '<em>Can (Ordinary Artist) Become Real Artist? (I Want to Start Everything from Scratch.)</em>, 2018', you presented countless drawings and paintings alongside other objects, including readymades. Can you talk about this work?</p>
				<p><span class="talker">YM__</span>In the exhibition, I showed all my drawings and paintings from my childhood alongside my most recent works at the time. Stickers with numbers, like 6 or 18, were placed next to each work. I made up a narrative claiming that the numbers written on the stickers gave the age at which I created the work. Some of the stickers accurately matched the ages, but most of them were random and didn't match. Through the exhibition, I wanted to create a new kind of personal history. Looking back now, I think its title is a bit embarrassing, though.</p>
				<p><span class="talker">IL__</span>I love the title, though. I find your sense of titles unique and inspiring. For example, '<em>Alchemy of Liverty</em>', the exhibition title of your degree show, is one of my favourites, and the work itself was also great.</p>
				<p><span class="talker">YM__</span>That title was actually taken from a text written by an art historian, Fabrice Hergott, for the catalogue of a Jean Dubuffet exhibition, which was held in Japan in 1997. Jean Dubuffet is the artist I respect the most, and the reason I titled the show 'The Alchemy of Freedom' was to show my work is not just pretentious but that I also want to follow the style that Jean Dubuffet created.</p>
				<p>When I'm on the train, I write down words that catch my attention on my iPhone. When it comes to titling an exhibition, I open up the memo and select the most appropriate words for that exhibition. That's how I decide titles. Basically, I don't decide them before I start working on particular pieces. I think of titles while working on them. For me, the processes of titling and making artwork are quite similar – both are like kneading things.</p>
				<p><span class="talker">IL__</span>I see. Is the whole installation one piece?</p>
				<p><span class="talker">YM__</span>Yes, it is. It's an installation, so it's meant to be one piece. But as long as I'm doing shows at galleries, I need to sell some of my work. It isn't easy to keep making works of art that don't sell, so I had no choice but to sell each piece individually. Before the show '<em>KEN &amp; Peace</em>', which I did in 2019, I had never given a title to each of my paintings individually.</p>
				<p><span class="talker">IL__</span>Eighty percent of the titles of the works exhibited at '<em>KEN &amp; Peace</em>' were 'KEN(sword)'. *Laughs*</p>
				<p><span class="talker">YM__</span>Yes. At that time, I became aware that each of my paintings was becoming independent in my mind for the first time. The sword is a very symbolic object, representing the fact that I was conscious of making each artwork as an individual piece.</p>
				<p>When I did the two-person show '<em>Hamster-Powered Night Light</em>' at Mumei in 2019, each piece had its own title too. I even titled the tubes that stretched across the exhibition space. Many of the works were called 'Untitled', though. Looking back on it now, it seemed like I forced myself to title each piece.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide01_sp.jpg" /></picture><span class="caption">'Can (Ordinary Artist) Become Real Artist? (I Want to Start Everything from Scratch.)', 2018, Mixed media, 500 x 500 x 500cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide02_sp.jpg" /></picture><span class="caption">'Alchemy of Liverty', Mixed media, 978 x 860 x 300cm, 2015, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide03_sp.jpg" /></picture><span class="caption">Install shot 'Alchemy of Liverty', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide04_sp.jpg" /></picture><span class="caption">'KEN &amp; Peace', 2019, Mixed media, Variable size, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide05_sp.jpg" /></picture><span class="caption">Install shot 'KEN &amp; Peace', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide06_sp.jpg" /></picture><span class="caption">Install shot 'KEN &amp; Peace', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide07_sp.jpg" /></picture><span class="caption">Install shot 'KEN &amp; Peace', courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>Do you think your painting and your installation have become separate practices recently?</p>
				<p><span class="talker">YM__</span>Well... for both installation and painting I picture the exhibition space in my mind when I'm making works. So even if I only show paintings, the order in which they are arranged is essential for me, and, as a result, my work can look like an installation. When you exhibit your work in a museum, it may be okay to present every piece as one installation. Still, when you show your work in a gallery, you have to sell your work. So I've come to the conclusion that it may be necessary to separate 'painting' from 'installation'.</p>
				<p><span class="talker">IL__</span>In an exhibition like '<em>KEN &amp; Peace</em>', where you presented paintings and an installation, did the installation provide a context for the paintings?</p>
				<p><span class="talker">YM__</span>Yes, it was more like creating a space for the paintings.</p>
				<p>'<em>KEN &amp; Peace</em>' was held in a space called HIGURE, and there was a small staircase there. When I saw the staircase, the show's concept came to my mind. It would be a 'game', using the staircase as a dungeon or a temple. When I'm doing a show, I visit the actual venue first to get a sense of its atmosphere and then decide the plan and concept. For this exhibition at im labor, I heard that the space used to be an orthopaedic clinic, so I'm thinking of making the exhibition look like a clinic.</p>
				<p>I've always worked and done exhibits outdoors, so I feel that my work has a site-specific tendency, and I like to make an exhibition using what already exists in a venue. I used to make things that expressed my resistance to commercial galleries, with their beautiful giant white walls and lighting... but as I continued, I started to feel that was none of my business. Now, I feel like I've come full circle.</p>
				<p><span class="talker">IL__</span>I see. I remember that your practice was more engaged with graffiti and earthworks when you were enrolled at art school. What were you trying to explore through your practice at that time?</p>
				<p><span class="talker">YM__</span>I think it was around 2008, before I started university, that the post-graffiti movement was quite popular. In post-graffiti, you leave some object at the site, like footprints, instead of spray painting. I was a prep school student at the time, and I read many articles and went to symposiums on post-graffiti culture.</p>
				<p>Painting in public space illegally is a part of graffiti culture, and it's a form of expression. I wasn't interested in that aspect, so I tried to express myself using the graffiti format but in a legal way, for example, by using natural objects at the site, which would revert to nature over time. It cannot be called entirely legal, though. Of course, I thought the anarchism of graffiti was cool, and that's the essence of the practice. So at that time, I was interested in making work in public.</p>
				<p>However, when I became a part of the academic world at art school, I began to find it contradictory to do something like graffiti. As a result, I became less and less able to do graffiti-like work.</p>
				<p><span class="talker">IL__</span>I understand. In addition to these outdoor activities, I heard that art brut and outsider art have also influenced you. Can you talk about how you've incorporated these into your practice?</p>
				<p><span class="talker">YM__</span>Along with graffiti, I've always been interested in art brut and outsider art. But I think these arts also became inaccessible for me after I went to art school, for the same reason that I stopped making graffiti-like work.</p>
				<p>It was unrealistic for me to draw something in the style of art brut or outsider art, as I was in art school and studying academically... But I wanted to draw in this style badly, so I did a kind of training to get beyond the dilemma. My degree show, '<em>Alchemy of Liverty</em>', was a compilation of that training. Even though I continued to train in this way, being influenced by outsider art and art brut came with the feeling that I was exploiting their innocence. So, after thinking about how to become a real outsider, I decided not to go straight to graduate school after my BA but to work as a labourer. Looking back now, that decision was probably influenced by the Art Brut artist Martín Ramírez.</p>
				<p><span class="talker">IL__</span>I think there was a significant change in your work since you started working outside of the art community, for example, in '<em>KEN &amp; Peace</em>'.</p>
				<p><span class="talker">YM__</span>I think I found a more serious reason to express myself on a personal level. Before, the motivation for doing art used to be more about the system or the outside of myself.</p>
				<p>Becoming an employee or part of society was also about my attitude towards the social system and education. But, ironically, working as a labourer made me realize my stereotype view of being a worker was based on a stereotype, which made me feel guilty.</p>
				<p>They were doing their work because they loved their jobs, while I was working temporarily for the sake of art. After this realization, I started to think about how I could fit in and adapt myself to the company. I worked there for two years, and I saw a significant change in myself during the experience. When I came to the point that I thought 'wow, I may be ended up working for this company until I die', I quit the job and decided to do my MA because I wanted to concentrate fully on art again.</p>
				<p><span class="talker">IL__</span>For your MA show, you presented '<em>You Should Make a Kingdom</em>', 2019. I love this title too. What is the work about? Also, where did the title come from?</p>
				<p><span class="talker">YM__</span>I made this work in response to a dream I had. It's pretty common for art brut artists to make works based on their dreams, and when I had the dream I thought, 'oh my God, it's finally happening to me'. I think I was able to create something that was inevitable for me through the show.</p>
				<p>But even at this moment, I feel guilty for thinking I was lucky and incorporating the dream into the work as if I were an art brut artist.</p>
				<p><span class="talker">IL__</span>Feeling guilty again. *Laughs*<br>While listening to you talk about your practice, I feel like you tend to leave control of making artwork to the outside.</p>
				<p><span class="talker">YM__</span>Yes, I think so. I think I'm controlled by things in the external environment. I make artwork because I see something and think it's cool , and then I incorporate it into my practice. Or perhaps I'm just posing as though I'm following external rules and environments in order to find something interesting. I don't think that an artist can be absolutely righteous, so I'm not afraid of being amused by something or unconsciously exploiting it.</p>
				<p>At the moment, I'm just trying to make something better by being inspired by the great things outside of myself.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide08_sp.jpg" /></picture><span class="caption">'Color field / Paint Melted in a Puddle', 2009, Mixed media, Variable size, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide09_sp.jpg" /></picture></span><span class="caption">'You Should Make a Kingdom', 2019, Mixed media, 500 x 450 x 1600cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide10_sp.jpg" /></picture><span class="caption">Install shot 'You Should Make a Kingdom', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide11_sp.jpg" /></picture><span class="caption">Install shot 'You Should Make a Kingdom', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide12_sp.jpg" /></picture><span class="caption">'Hamster-Powered Night Light', 2019, Mixed media, Variable size,  courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide13_sp.jpg" /></picture><span class="caption">Install shot 'Hamster-Powered Night Light', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide14_sp.jpg" /></picture><span class="caption">Install shot 'Hamster-Powered Night Light', courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>Are there any particular artists who have influenced your practice?</p>
				<p><span class="talker">YM__</span>Jean Dubuffet, as I mentioned before, and Mike Kelley. I think those two artists have especially influenced me. Also, Claes Oldenburg's early work is significantly influenced by Dubuffet, and it looked like art brut. Even though Oldenburg is an educated sculptor, his drawings don't look like imitations of art brut, and I think it's because his skill in drawing is way too high.</p>
				<p>Jason Rhoades is another artist I've always respected. Around 2012, I happened to see an exhibition called 'NYC 1993' in New York, and Rhoades' work was there. It was excellent, and I don't think anyone can match the skill of his installations. He's dead now, so the museum staff probably installed the work I saw. It gave me culture-shock to see an installation work of that scale in the museum collection.</p>
				<p>As for Mike Kelley, his installations are great, but his idea of incorporating things from the periphery and his sense of style are overwhelming. His ability to theorize and present these ideas makes him an all-rounder.</p>
				<p><span class="talker">IL__</span>Is there anything you tried for the first time in this your solo exhibition '<em>Kodomo-Otona Clinic</em>' at im labor?</p>
				<p><span class="talker">YM__</span>As in the case of '<em>KEN &amp; Peace</em>', I think I focused on each painting in the exhibition individually. In the past, I've always arranged paintings as a part of the whole installation's structure to show their relationship to space. I made an installation work this time too, but the entire show is composed to highlight my paintings. In '<em>KEN &amp; Peace</em>', there were more objects to create the installation because the space was so big, and I felt that it was a waste of space if I didn't fill it.</p>
				<p>For this exhibition, I took spooky things from my own memory and made one of the themes about warding off evil and plague. I think this is my first attempt at that.</p>
				<p><span class="talker">IL__</span>What are your plans for the future? Is there anything you haven't done yet that you would love to do?</p>
				<p><span class="talker">YM__</span>Yeah, there are many. First, I always wanted to show my work abroad, but with COVID, it's hard to be proactive. In terms of my practice, I just want to continue making work now. I'm hoping to see a positive change in my work when I look back one day. Also, I want to carry on my life's work, which is collecting things. One day, I want to make a kind of archive book on a regular basis, but considering time and cost, it's not easy for me to get started.</p>
				<p>I'd also like to do more collaborative works. Actually, I'm doing a show with a Japanese painter, Yusuke Abe, at <a href="http://voukyoto.com/" target="_blank" rel="noopener noreferrer">VOU</a> in Kyoto. I think we've made an exciting installation together. Since the end of 2019, I've been working at a collective called '<a href="https://www.instagram.com/tofutokaniclub/" target="_blank" rel="noopener noreferrer">Tofutokani Club</a>' with my artist friends. With COVID, we can only share our work on social media, but we're aiming to do an exhibition in a real space one day.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide15_sp.jpg" /></picture><span class="caption">Yusuke Muroi, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Yusuke Muroi (B.1990) is a Japanese artist who was born in Gunma, Japan.<br>
					He completed his MA from Tokyo University of the Arts.<br>
					In 2009, Muroi started to make work on the street, inspired by the graffiti culture. Along with graffiti, Muroi has always been interested in art brut and outsider art, and he began to collect things that seemingly exist between the inside and outside of art.<br>
					Also, Muroi is part of artist collectives "Issyuumawattetsurai," which intends to turn unnecessary objects into artwork, and "Tofutokani Club," which aims to produce one work a day.<br>
					His recent exhibitions include: "THEヨエロ寸-尋-," VOU, (2021, Kyoto), "KEN &amp; Peace" HIGURE 17-15cas（2019, Tokyo）, "Hamster-Powered Night Light" mumei （2019, Tokyo）, "Gunma Biennale for Young Artists" The Museum of Modern Art, Gunma (2017, Gunma), etc.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://yusukemuroi.jp/" target="_blank" rel="noopener">http://yusukemuroi.jp/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

