{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "REVIEW__001: 儚さへの称賛：アリーナ・シャポツニコフ 1962 - 1972",
    description: "The Hepworth Wakefieldにて2017年に開催された回顧展以降、英国では初のアリーナ・シャポツニコフの個展となった本展覧会では彼女自身の身体部位を引き離すことにより断片的な潜在意識の本質について明らかにすることを試みている。",
		ogimage: "https://imlabor.org/journal/review/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "REVIEW",
                "item": ""+ site.url +"/jp/journal/review/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "001",
                "item": ""+ site.url +"/jp/journal/review/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/review/001/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’, Hauser &amp; Wirth, London, until 29 May 2020 &copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "REVIEW" and item.number === "001"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">儚さへの称賛: アリーナ・シャポツニコフ</span> 1962 - 1972 at Hauser &amp; Wirth, London</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">生存の指標</h3>
				<p class="lead">The Hepworth Wakefieldにて2017年に開催された回顧展以降、英国では初のアリーナ・シャポツニコフの個展となった本展覧会では彼女自身の身体部位を引き離すことにより断片的な潜在意識の本質について明らかにすることを試みている。</p>
				<p>『儚さへの称賛：アリーナ・シャポツニコフ 1962-1972』展の会場内には、身体部位の形をした彫刻作品が至る所に配置されてある。石膏で型どられた彼女の右足（‘Noga(Leg)’, 1962年）と唇①（‘Sans titre’ 1964〜1965年）がギャラリー入ってすぐのガラスケースの中に展示されていた。その近くには、まるで小さな子供の身体のように見える黄変したポリエステルの皮が、ロイヤルブルーの板に貼り付けられている。（「Herbier bleu I」、Blue Herbarium I、1972年）他には、小包のような形をした乳白色の樹脂彫刻が展示台の上にぎこちなく置かれていた。血が滲んで痛々しい乳頭や唇を喚起させるオブジェクトが透けてみえるその白い肉片は、まるで今にも破裂しそうな毛嚢のようである。(‘Tumeur’, Tumor, and ‘Sans titre, Love’, Untitled, Love, 1970年) これらの身体部位を用いた彫刻作品はただ無意味にバラバラと展示されているのではなく、点在した身体部位達がまるで荒廃した畑で健気に生きようとしているかのように私の目には映った。もしかしたら、それはシャポツニコフの潜在意識の中に存在しているかつての戦争地帯に実る果実が具現化されたものなのかもしれない。</p>
				<p>本展覧会を巡回していると、まるでギャラリー全体がシャポツニコフの壮絶な人生を伝える追悼施設であるかのような印象を受けた。第二次世界大戦中ポーランドに暮らしていたユダヤ人のシャポツニコフは、彼女が13歳の時、家族と共にパビャニツェにあるユダヤ人地区へと移された。そこで彼女は小児科医であった母親と共に看護婦として働いた。その後、彼女はアウシュビッツ、ベルゲン・ベルゼン、テレージエンシュタットの収容所に収監されることになる。強制収容所を生き延びたシャポツニコフは、大戦後プラハへと移り住み制作活動を始めた、彼女が20代前半の頃である。1969年、パリに住んでいたシャポツニコフは乳癌と診断される。そしてその僅か4年後、1973年に46歳の若さでこの世を去った。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide02_sp.jpg" /></picture><span class="caption">Noga (Leg), 1962, Plaster, 20 x 50 x 63.5 cm / 7 7/8 x 19 5/8 x 25 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide03_sp.jpg" /></picture><span class="caption">Sans titre (Untitled), 1964-1965, Plaster, 13 x 7.7 x 3.5 cm / 5 1/8 x 3 x 1 3/8 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide05_sp.jpg" /></picture><span class="caption">Tumeur (Tumor), 1970, Coloured polyester resin and gauze, 4.6 x 6.5 x 8 cm / 1 3/4 x 2 1/2 x 3 1/8 in<br class="_pc">Photo: Fabrice Gousset &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide06_sp.jpg" /></picture><span class="caption">Deser IV (Dessert IV), 1971, Coloured polyester resin, glass, <br class="_pc">electrical wiring and metal, 16.5 x 16 x 13.5 cm / 6 1/2 x 6 1/4 x 5 3/8 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide07_sp.jpg" /></picture><span class="caption">Pamiątka I (Souvenir I), 1971, Polyester resin, fiberglass and photographs, <br class="_pc">75 x 70 x 33 cm / 29 1/2 x 27 1/2 x 13 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p>古典的な彫刻家として訓練を受けたシャポツニコフは、1963年からポリウレタンやポリエステル樹脂など、当時彫刻の材料としてはあまり使われていなかった工業製品を用いて制作を始める。古典的な技術と新しい素材の二つの要素が交わった結果、シャポツニコフはシュールレアリズムとポップアート双方の影響を残しつつ、革新的かつ彼女にしか出来ないスタイルを確立させることに成功した。1971年に制作された彼女の代表作の一つであるランプ彫刻シリーズは本展会場最後の部屋で見ることができる。’Dessert IV’と題されたその作品は、着色された樹脂で作られており、まるでデザートボールに盛り付けられたアイスクリームをイメージさせる。厳格なオレンジ色の唇は、途方もなく現れたシュールレアリズムの夕日のように感傷的に風景を照らしているかのようである。</p>
				<p>シャポツニコフはその当時の芸術論や運動を積極的に作品に取り入れていったのはもちろん、更にそれらを私的に解釈することで独自の視覚的文脈へと組み込んでいった。‘Souvenirs’シリーズの一つである‘In Pamiątka I, Souvenir I, 1971’では微笑した少女時代のシャポツニコフの白黒写真がホロコーストの犠牲者の遺体の上に浮かんでいる。彼女が体験した事物は、光沢感のあるプラスチックで作られたこのポップアートの（彼女の中に張り付いた潜在意識）の中で、褪せることのない記憶の集積としてこの先も閉じ込められ続けていくのだろう。まるで、樹脂で作られた無意識という名の化石のようである。</p>
				<p>乳癌と診断されて以降に制作された作品からは、まるでシャポツニコフの身体の断片と彼女の記憶の双方が荒々しい細胞へと変異しているかのような印象を受ける。‘Tumeur’ではシャポツニコフの眠っている姿を映した白黒写真と彼女の唇が型取られたオブジェクトがガーゼと樹脂の膜で包み込まれており、それは彼女から派生した新たな細胞の一つであるかのように見える。この異なった素材が持つ等価性は彼女の作品を語る上で非常に大切な要素の一つである。シャポツニコフは自身の身体をインプリントすることにより、自身の潜在的記憶の指標を示すことを試みた。“生き残るということは、痛々しい潜在意識が持つ矛盾と共存し続けなればいけない。”ということが彼女の作品からひしひと伝わってくる。第二次世界大戦時中ドイツの占領下であったポーランドでユダヤ人として生活しなければならなかったという概念、そして大戦後も悍しいホロコーストの記憶を持ち続けなければいけないということ。シャポツニコフにとって、生き残るということは感情の余波に身を置き続けながらも、呼吸を止めないということだったのかもしれない。<br>おそらく、真のカタルシスとは自身をバラバラに解体することでしか得られないのである。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide09_sp.jpg" /></picture><span class="caption">Alina Szapocznikow in her Malakoff studio, Malakoff, FR with her work <br class="_pc">‘Fajrant (Quitting Time),’1971, 1971, Photographer: Jacques Verroust, <br class="_pc">Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br class="_pc">Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide10_sp.jpg" /></picture><span class="caption">Alina Szapocznikow in her Père-Lachaise studio, Paris, FR with her work <br class="_pc">‘Sculpture avec une roue tournante (Sculpture with a Rotating Wheel)’, 1963-1964, 1964, <br class="_pc">Unknown photographer, Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br class="_pc">Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide11_sp.jpg" /></picture><span class="caption">Alina Szapocznikow for ELLE Magazine, Quarries of Querceta, Italy, <br class="_pc">1968,
				Photographer: Roger Gain <br class="_pc">Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br>Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">Sans titre（無題、1964-1965）は、作家自身の唇と彼女の友人らの唇の組み合わて、鋳造された石膏作品である。 シャポツニコフは自身の身体だけではなく、彼女の息子、友人、家族の身体からも型どった彫刻作品も制作した。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">ユダヤ人であるアリーナ・シャポツニコフは1926年ポーランドで生まれ、10代でホロコースト下の強制収容所を生き延びた。終戦後、彼女はプラハへと移り住み、その後パリのエコールデボザールで彫刻を学んだ。1951年、結核に苦しんでいた彼女は再びポーランドへと戻り、制作活動を続ける。1952年スターリンの死後、ポーランド政府によって創造の自由への統制が緩和されたと同時にシャポツニコフそれまでの古典的なアプローチから一変して比喩的な抽象作品の制作を始め、それ以降そのスタイルは彼女の作品の基盤となる。1960年代まで、彼女は自身の脳が持つ記憶だけではなく、身体部位が持つ記憶（記録）を具現化する方法を見つけるため、それまでの彫刻概念の再構築する作業を徹底して行った。1969年にシャポツニコフは乳癌と診断され、その出来事は彼女の末年に制作された彫刻や写真作品に大きな影響をもたらすことになる。1973年、シャポツニコフはパリで亡くなった。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.hauserwirth.com/hauser-wirth-exhibitions/26832-exalt-ephemeral-alina-szapocznikow-1962-1972" target="_blank" rel="noopener">To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972</a> runs at Hauser &amp; Wirth, London, 7  Feb - 2 May 2020.</p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">インディア・ニールセン</dt>
					<dd class="desc">インディア・ニールセンはロンドンを拠点に活動するイギリス人アーティストである。スレード美術大学でファインアートの学位を取得後、ロイヤルカレッジオブアートに進学し、絵画科の修士号を取得した。主な展覧会に『Seer Kin Lives』ジャックベルギャラリー（ロンドン）がある。大学院を卒業以降はアーティストのIda Ekbladに従事した。また2019年にはthe a-n art Writing Prizeにノミネートされるなど、作家以外の活動も多岐に渡る。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

