{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__015: In conversation with: hk.",
	description: "",
	ogimage: "https://imlabor.org/journal/interview/015/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "015",
                "item": site.url +"/journal/interview/015/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/015/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section -en-jp">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "015"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc">xxxxxx, all images copyright and courtesy of the im labor.</dd>
				</dl>
			</div>
			{# <div class="text -review">

				<p><span class="talker">IM LABOR__</span>兼平さんがキュレーターという職業につきたいな、って思ったきっかけは何ですか？<br>
				<span class="en">Firstly, why did you became a curator?</span></p>

				<p><span class="talker">hk.__</span>元々、中学、高校くらいから雑誌が好きだったんです。STUDIO VOICEとか流行通信とか、僕が10代の頃は映画やファッションやカルチャーの雑誌がたくさんあったから。それで僕はそういう雑誌の巻頭の特集やメインのコンテンツよりも、最後の方にあるレビューや海外のローカル・カルチャーを紹介するページがすごい好きで、その後ろのページだけ読みたくて本屋で立ち読みしたりしていました。
				<span class="en">I've loved magazines since I was in junior high school. When I was a teenager there were so many magazines about film, fashion and culture, like STUDIO VOICE and Ryuko Tsushin. I would skip past the main contents and go to the sub-content pages, like reviews or features on overseas subcultures. I used to browse through the magazine section in bookstores just to read these pages.</span></p>

				<p>その当時、渋谷かどこかの劇場で四谷怪談のお芝居があって、そのポスターがクリムトの接吻だったんだけど、それが洒落てるなって思って。四谷怪談って恋の話でしょ、幽霊になって好きな男に復讐をするじゃないけど。クリムトのキスも恋というか生と死が背景にあって、その二つを結びつけてプレゼンテーションできる人がいるんだって、すごいなって漠然と思ったの。アート・ディレクターなのかな？ その頃はキュレーターなんて職業知らなかったからさ。
				<span class="en">At that time, a theatre in Shibuya was staging a play called Yotsuya Kaidan and they used Gustav Klimt’s painting The Kiss for the poster, which I thought was really cool. Yotsuya Kaidan is about love and betrayal, becoming a ghost, and taking revenge on the man you loved. Klimt's Kiss is also about love, life and death. I thought it was amazing that someone could combine the two and present them in a way that was so interesting. I thought, “who made this - an art director?” Of course I didn't know what a “curator” was at that time.</span></p>

				<p><span class="talker">IL__</span>その当時、既にキュレーターは職業として広く認知されてなかったんですか？
				<span class="en">Wasn't curating a well-known job at that time?</span></p>

				<p><span class="talker">hk.__</span>学芸員っていう職業はもちろんあったけど、厳密に言うと当時欧米で認識されていたキュレーターとは少し違っていたし、日本でキュレーターを名乗ってる人もあまりいなかったのかな？ 今はキュレーターっていう言葉の範疇も変わってきているような気もするけど…。
				<span class="en">Of course, such a profession existed but, strictly speaking, there was a slight difference between the Japanese and the Western definition of a “curator”. At that time there weren’t many people in Japan who called themselves curators. I think the term has changed a bit now.</span></p>

				<p>ましてや高校生の自分が美術館に勤めたいなんていう発想はなかったし。でも、映画、ファッション、音楽、アート、デザイン、広告とか、様々なジャンルのカルチャーを結びつけて新しい表現を作っていくのは面白いと思っていて、そういう職業ちょっといいなって。たしか予備校の小論文の授業で職業の名前はわからないけど、そういった職業に就きたいです…って書いたような…（笑） でも、現実的には雑誌の編集者とかになるのかなって、その頃は思ってましたね。
				<span class="en">As a high-school student I didn’t want to work in a museum, I just thought it would be interesting to create new forms of expression by combining different genres of culture like film, fashion, music, art, design, advertising etc. When I got to prep school I remember writing an essay about wanting to do something like that but not knowing what the job was called *laughs*... realistically I thought I’d end up being the editor of a magazine.</span></p>

				<p>それで、当時新設されたばかりの東京造形大学の比較造形学科に行きました。。映画史とかファッション史とか美術史とかを調べていくのは、どんどん自分の好きの扉を開けていくみたいで楽しかったけれど、それより、ペインターは「なんで絵なんて描いてるんだろう」みたいな、実際に作ってる人たちの精神構造がすごい気になってきちゃって。
				<span class="en">I decided to go to Tokyo Zokei University and studied Comparative Art and Design, a subject that had just been established at the time. I enjoyed researching the history of film, fashion and art because it opened up new doors for me, but I was also very interested in the psychology of the people who make such times - like “Why do painters paint?” The campus was shared with other fine art students so I was in an environment where I could constantly observe artists.</span></p>

				<p>一般大学の芸術学科に進学する選択肢もあったんだけど、そこには実際に作品を作っている人はいないじゃない。美大なら、アーティストも同じキャンバスにいるわけだから、色々見れるかなって。あと造形大ってバウハウス系の大学だったので、音楽とか身体表現とかのクラスもあって。同級生には文学や文化人類学の研究してる子もいたし。
				<span class="en">I considered doing Aesthetics and Art History at another university, but Tokyo Zokei University was also founded on the Bauhaus philosophy of education, so my course included music and physical expression lessons alongside literature and cultural anthropology classes. I remember some of my classmates were really into cultural anthropology rather than studying arts.</span></p>

				<p><span class="talker">IL__</span>特定のアーティストの研究者になるよりも、現在進行形の美術の動きみたいなものに興味があったんですかね。
				<span class="en">So were you interested in studying art movements in general rather than focussing on one particular artist?</span></p>

				<p><span class="talker">hk.__</span>教養として、もちろん美術史を学ぶことは必要不可欠だけれども、僕は美術史家としての仕事にはさほど興味がなかったわけですよ。さっきも少しお話したけれど、元々人間の心理、特にアーティストの心理に興味があったので、芸術学科か心理学科に行こうと考えてました。「なぜ人は気が違ってしまうんだろう」って小さい頃から疑問に思っていて、おかしくなってしまう事に対して、単に病気だからとか、恥ずかしいことだ、っていう感覚は僕にはなくて、逆にそれって最も人間らしいんじゃないかなって… そのためにも、アーティストを進行形でサンプリングしていくことが必要だったんだよね。
				<span class="en">Of course - Art history is an essential part of general education, but I wasn’t really interested in working as an art historian. As I said, I’ve always been interested in the human psyche, particularly of artists, so I wanted to find out about their psychology. To do that I needed to be able to be close to and observe artists all the time.</span></p>

				<p><span class="talker">IL__</span>現在の兼平さんは、日本だけではなく国外でも展示を企画したりなど、様々な所で活動されていますよね。コロナ前は一年の半分近くをロンドンで過ごしていたとお聞きしましたが、なぜロンドンだったんでしょうか？
				<span class="en">You have organised exhibitions not only in Japan but also abroad. I heard that you spent almost half the year in London before the outbreak of the COVID-19 pandemic - why London?</span></p>

				<p><span class="talker">hk.__</span>自分が高校生から大学生の頃、イギリスはYBAs(Young British Artists)とか現代美術が盛り上がりはじめている時で、それもあって大学在学中にロンドンに行きました。もちろん現代美術を生で見たかったのもあるけど、ロンドンに行きたかった理由はイギリスのカルチャーが元々好きだったのもあって。パンクとかもだし、何よりエリザベス女王がいるんだよ、すごくない？（笑）
				<span class="en">At that time contemporary art and the Young British Artists (YBAs) were really popular in the UK, so I visited London while I was still at University. Of course, I wanted to see contemporary art in the flesh, but I also really liked British culture. I liked punk and Queen Elizabeth lives there, isn’t that amazing? *Laughs*...</span></p>

				<p>それが、20年前くらいかな。ちょうどミレニアムにさしかかるころでした。それまでイギリスって、他のヨーロッパ諸国と比べると少しダサいイメージもあったんだよね。でも、僕が初めて渡英したくらいから、イギリスの重厚で伝統的な石造の建物とポップ・カルチャーを融合して都市開発や文化発展していこうみたいな試みが始まっていった感じがあって。テート・モダンもちょうどその頃リノベーション中で、川の向こうにあるあのかっこいい建物はいったい何になるんだろう…って眺めてたよ。いま見てもあの建物は本当に素晴らしいと思う。もちろん美術館建築としてもあのリノベーションは世界的に見て最も成功しているひとつだと思うし、元々の発電所のかっこよさはたまらないよね。ゼロから作るのではなくて、既存の伝統的な建築や文化に新たなエッセンスを加えて、面白いものを作っていくのがイギリスの得意技なんじゃないかな。パンクとかもそうだよね、古着をリメイクして新たなファッションにしていくみたいな。
				<span class="en">This was 20 years ago, around the time of the millennium. Before that time the UK had a bit of a conservative image compared to other European countries. When I visited there was an attempt to combine the UK’s traditional stone buildings with pop culture to develop the culture of cities. Tate Modern was first opening then and I think it’s really a great example of renovation - keeping glimpses of what the building used to be before, a power station, while also transforming it into a museum. I think that’s what the British do best; they don’t build from scratch, they add a new essence to their existing traditions of architecture and culture to make something exciting and unique. It has a punk sensibility - cutting up old clothes to make fresh fashion.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img01.jpg">
					<figcaption><a href="https://en.wikipedia.org/wiki/Tate_Modern" target="_blank" rel="noopener noreferrer">"Tate Modern", Wikipedia, 26 Nov 2021, https://en.wikipedia.org/wiki/Tate_Modern</a></figcaption>
				</figure>

				<p>あとその頃、スパイス・ガールズが登場したんだけど、それまでの単なるアイドル、ポップスターの誕生ではなかった…。あとテレタビーズね…。BBCで放送されていた子供向け番組なんだけど、幼児心理を研究して作られたコンテンツで、テレタビーズのキャラクターは今では当たり前になってる“多様性”をそれぞれが担ってたんだよ。
				<span class="en">The Spice Girls were also at their peak around their time - they were not mere idols, but sensations. There was a children’s show called the Teletubbies on the BBC (The British Broadcasting Company) which was based on research into infant psychology. I digress, but each character in the Teletubbies had a role to play in what we now take for granted and call “diversity.”</span></p>

				<p><span class="talker">IL__</span>サーチ・ギャラリーはその頃すでにありましたか？
				<span class="en">Was the Saatchi Gallery already open around that time?</span></p>

				<p><span class="talker">hk.__</span>サーチがオープンしたのは1985年だから僕が初めて行ったもっと前だね。僕が行った頃はYBAsブームで世界的にすごく盛り上がってたから、絶対行かなくてはって感じだったよ。ちょうど「Sensation」が開催された後かな。「Sensation」はその後ベルリンやニューヨークにも巡回して、ニューヨークでは市長（ルドルフ・ジュリアーニ）を巻き込んで社会問題になった展示だよ。
				<span class="en">The Saatchi gallery had been open long before I first visited the UK. I think it first opened in 1985. I mentioned the YBAs were massive around the time I went to the UK - I think this was because the Sensation exhibition had been held just a few years before. The show travelled on to Berlin and New York - it became such a social issue that even the mayor of New York (Rudy Giuliani) got involved.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img02.jpg">
					<figcaption>出典：<a href="https://magazine.artland.com/shows-that-made-contemporary-art-history-sensation/" target="_blank" rel="noopener noreferrer">"The Shows That Made Contemporary Art History: Sensation", Artland Magazine, 26 Nov 2021, https://magazine.artland.com/shows-that-made-contemporary-art-history-sensation/</a></figcaption>
				</figure>

				<p>サーチ・ギャラリーは今はスローン・スクエア（ロンドンの駅名）だけど、当時はBoundary Roadの倉庫にあったんだよ。当時は今みたいにGoogle Mapsなんてないからさ、紙の地図を頼りに行くわけですよ。でも日本から持参した地図だったから、サーチ・ギャラリーの位置は記載されてなくて迷っちゃって。とにかく歩き回って、それで見つけたのが倉庫のような巨大な門構の建物で。え、これは果たしてギャラリーなのか？みたいな。
				<span class="en">Nowadays the Saatchi gallery is in Sloane Square in London’s upmarket Chelsea, but back then it was located inside a warehouse on Boundary Road in St. John’s Wood. We were still using paper maps then, Google maps didn’t exist, but the map I brought with me from Japan didn’t have the Saatchi gallery on it so I got lost.</span></p>

				<p>サーチ・ギャラリーは今はロンドンの高級住宅街チェルシーのスローン・スクエアに在るんだけど、当時はセント・ジョンズ・ウッドのバウンダリー・ロードの倉庫の中にあったんだよ。当時は今みたいにGoogle Mapsなんてないからさ、紙の地図を頼りに行くわけですよ。でも日本から持参した地図だったから、サーチ・ギャラリーの位置は記載されてなくて迷っちゃって。とにかく歩き回って、それで見つけたのが倉庫のような巨大な門構の建物で。え、これは果たしてギャラリーなのか？みたいな。とにかく巨大な鉄の扉？門？を開けたんですよ。でも人気は全くなくてさ。とりあえず奥に進んでいって。
				<span class="en">Nowadays the Saatchi gallery is in Sloane Square in London’s upmarket Chelsea, but back then it was located inside a warehouse on Boundary Road in St. John’s Wood. We were still using paper maps then, Google maps didn’t exist, but the map I brought with me from Japan didn’t have the Saatchi gallery on it so I got lost. I remember walking around and eventually finding a huge warehouse with an iron gate. It didn’t look like a gallery. I opened the gate and it was completely deserted.</span></p>

				<p>そしたらそこがサーチ・ギャラリーだったんです。会場には胸の高さの水槽みたいな構造に黒いオイルがはられたインスタレーション作品が展示されてて。その中を鑑賞者が歩けるようになってるの。それがもう圧巻で。イギリス人の彫刻家の…。
				<span class="en">I walked further and further until I finally found the gallery space. There was an installation piece of a chest-high water tank filled with black oil in the venue and you could walk through the oil. It was overwhelming. It was a piece by a British sculptor... who was it...</span></p>

				<p><span class="talker">IL__</span>リチャード・ウィルソンですか？<br>
				<span class="en">Richard Wilson RA?</span></p>

				<p><span class="talker">hk.__</span>そう。リチャード・ウィルソン！ この規模の作品を個人が所蔵していて、その上タダで見れるなんて凄すぎないか、とか、白い服を着てきちゃったけど服汚れないかな（笑）、とか。とにかくものすごく感動してしまって。当時のイギリスの現代美術はチャールズ・サーチとサーチ・ギャラリーに支えられてましたね。
				<span class="en">Yes, Richard Wilson! I was very impressed that a work of this scale was in a private collection while also being open to the public for free. I was wearing white so I was also worried about getting dirty *laughs*... Contemporary art in Britain at that time was underpinned by Charles Saatchi and the Saatchi gallery.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img03.jpg">
					<figcaption><a href="https://www.saatchigallery.com/artist/richard_wilson" target="_blank" rel="noopener noreferrer">"Richard Wilson - Artist", Saatchi Gallery, 26 Nov 2021, https://www.saatchigallery.com/artist/richard_wilson</a></figcaption>
				</figure>

				<p>展示のカタログが受付で販売されてて、すごっく分厚くて値段も決して安くはないの。でもそのカタログをどうしても欲しかったから、指差して「新しいやつを一部ください（「Can I have a new copy of this?」）みたいなことを拙く受付のお姉さんに言ったのね。そしたらそのお姉さんが「Ok, Fresh one!」ってシュリンクに包まれたままのカタログを渡してくれて。それがすごく印象に残ってるんだよね。“New”じゃなくて“Fresh”。そういった事って実際に行かないとわからないんだよ。
				<span class="en">The reception of the gallery had a catalogue of the exhibition; it was thick and not cheap. But I wanted a copy so I pointed to it and asked for a new one. The lady at reception said, “Okay! Fresh one!” And handed me a copy of the catalogue still in shrink wrap plastic. That really left an impression on me - it wasn’t “new” it was “fresh”. You have to go there to see that kind of thing.</span></p>

				<p><span class="talker">IL__</span>それ以降、ロンドンと日本を行き来してる感じですか？
				<span class="en">Have you visited London often since then?</span></p>

				<p><span class="talker">hk.__</span>大学生のときは1年に1回は必ず行こうって毎年行っていました。でも意外にイギリス以外のヨーロッパの国にはほとんど行ってなくて、まぁせいぜいパリくらいだったかな。アメリカはLAにいとこが住んでたから遊びに行ったりしてたんだけど、ニューヨークとか他に美術が盛んな場所には行ってなくて。自分で貯めたお金はほとんど全部ロンドンに使ってた。自分でもすごい馬鹿みたいだって思うよ。でもその当時のロンドンって情報が密集してて、ミレニアムを迎える/迎えた熱狂もあって、何度行っても全て追いきれてない感じがしたんだ。
				<span class="en">When I was at university I went to London at least once a year. Surprisingly though, I didn’t go to many European countries outside of the UK, maybe only Paris. I went to the United States to visit a cousin living in Los Angeles, but I didn’t go to New York or other places where their art was active. I spent almost all the money I saved from my part-time job travelling to London. I know it sounds stupid but London was so crowded with information and was in the heart of the new millennium. No matter how many times I went I felt like I couldn’t keep up with everything.</span></p>

				<p><span class="talker">IL__</span>Modern ArtやApproach Gallery、Vilma Goldなどがオープンして、イースト・ロンドンのアート・シーンが盛り上がってきたのがちょうどミレニアム頃でしょうか？
				<span class="en">Was it around the millennium that the east London art scene started to take off with new galleries such as Modern Art, the Approach Gallery, and Vilma Gold?</span></p>

				<p><span class="talker">hk.__</span>どうだったかな。あの当時はまだイースト・ロンドンは危険なエリアで、行くの怖かったもん。今は気軽に行けるけど、当時のガイドブックに「イースト・ロンドンは危険なので気をつけましょう。」って注意書きされてたくらい。
				<span class="en">I don’t know. I was actually a bit scared to go to east London, because it wasn’t a safe area. It’s different now, but the guidebook back in the days said “Please be careful visiting east London!””</span></p>

				<p>イースト・ロンドンには移民の人たちのコミュニティがあって、なかには不法滞在や低所得の人たちも多くいたと思う。でもそういう彼らにもアートを無料で見せましょう、それで地域ごとボトムアップしましょうってプロジェクトがあったんだよね。僕が初めてホワイトチャペル・ギャラリーに行った時は、お世辞にも綺麗とはいえないし、カフェで食べるサンドイッチも不味いし、怖いし、何だここって思ったけど…彼らのやってることはすごくカッコ良かった。ホワイトチャペル・ギャラリーは、全ての人にアートは自分たちの生活のなかにあって、自分たちの問題を取り上げたり議論するきっかけになっていますよ…っていうのを示した場所というか、そういう意識で開かれたんだと思う。あと、移民やマイノリティ、ブルーカラーと呼ばれる労働者たちの権利に関するエッセイとかリーフレットとかも出したりしてて、社会生活や政治とアートが並列に扱われていたんだよ。
				<span class="en">There was a community of immigrants in east London and there was a project to show art to them for free so that the whole area could improve its bottom line, as many of them were considered illegal or on low incomes. When I first went to Whitechapel gallery it wasn’t the prettiest place and the sandwiches in the café were terrible, but I thought what they were doing was really cool. Whitechapel gallery was a place that showed art is a part of everyone’s lives and that it could be an opportunity to discuss problems. I think the gallery was founded with this awareness. They also published essays and leaflets about immigrants’ rights, minorities and blue-collar workers. They were dealing with society, politics and art in parallel.</span></p>

				<p>いまふと思ったけど、これってイギリスの芸術家で、のちにマルクス主義者になったウィリアム・モリスの影響を受けて社会活動家になったイギリスの芸術家でイラストレーターのウォルター・クレインの言葉にも通じていたのかも。“The Source of Art is in the Life of a People.（アートの源泉は人々の生活のなかにある）” …もう見ることはできないんだけれど、サウス・ロンドン・ギャラリーの床下にはこの言葉が埋め込まれてます。
				<span class="en">It just occurred to me that this trend in east London's art scene might be connected to the words of the British artist and illustrator Walter Crane, who was influenced by the artist and later Marxist, William Morris, to become a social activist: “The Source of Art is in the Life of a People.” Unfortunately it cannot be seen now, but this quote is embedded under the floor of South London gallery in south-east London.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img04.jpg">
					<figcaption><a href="https://en.wikipedia.org/wiki/Whitechapel_Gallery" target="_blank" rel="noopener noreferrer">"Whitechapel Gallery", Wikipedia, 26 Nov 2021, https://en.wikipedia.org/wiki/Whitechapel_Gallery</a></figcaption>
				</figure>

				<p><span class="talker">IL__</span>それから大学を出られて、横浜トリエンナーレでのお仕事に関わったりされていくんですね。
				<span class="en">After graduating from Tokyo Zokei University, you became involved in the Yokohama Triennale...</span></p>

				<p><span class="talker">hk.__</span>学生生活も終わって研究室に在籍しているときに、ちょっと人手が足りないみたいだから行ってきてと言われた先が、第1回目の横浜トリエンナーレの事務局（国際交流基金）で、美術館の学芸員とは違うアートとの関わり方があるんだなっていうのを現場レベルで知ったというか、アーティストがものを作ってそれを発表することが美術館のなかだけでは完結しないことを実感した最初の現場でした。いまは当たり前のようになってきたけれど映画やパフォーマンスを発表するアーティストがいたり、音を流しているだけなのにそれを彫刻って呼ぶアーティストがいたり、カタログを作品としてジャックしたアーティストもいたりしました。
				<span class="en">After graduating I went back to work at the university. I was asked shortly afterwards, in 2001, to help out at the inaugural exhibition of the Yokohama Triennale because they were a bit short of staff. While working there I learned that there are different ways of being involved with art than just being a curator at a museum, or an artist showing in a museum context. There were artists in that first exhibition who presented films and performances or played sound and called it “sculpture”. There was even one artist who hijacked the catalogue of the Yokohama Triennale as his artwork.</span></p>

				<p>それまで勉強してきたことが役に立たなかったわけではないんだけど、アーティストの感性が新しいフェーズに突入しているのを目の当たりにして、美術館という枠組みのなかだけで働くってことに現実味や興味がなくなっていったんだと思います。
				<span class="en">It’s not that what I had studied up to that point wasn’t valuable, but I was witnessing first-hand that artists’ sensibilities were moving into a new phase. Working within the framework of a museum because less and less of an interest for me.</span></p>

				<p><span class="talker">IL__</span>横浜トリエンナーレでの経験は楽しかったですか？
				<span class="en">Did you enjoy your experience at the Yokohama Triennale?</span></p>

				<p><span class="talker">hk.__</span>いまにして思えば楽しかったって思うけれど、とにかく自分で考えて進めていかなくちゃいけないことだらけだった。大学を卒業したばかりで研究室に在籍してるだけで何の実績もないのに、そんなひよっこのところにひっきりなしにアーティストや関係者からの問い合わせが来るんだから。横浜トリエンナーレは国際展だから、いわゆる美術館で展覧会をつくるのとは違うことも多くて、建築家やデザイナーとのコラボレーションはもちろんだけれど、美術業界以外の人たちとの交渉や行政の人たちへの説明とか。それに1回目だったから「無」から作り上げていかなきゃいけないし。ディレクターやキュレーターの仕事を見ながら、自分ができることや気づいたことはやっていく…みたいな、そんな毎日でした。
				<span class="en">It was fun in hindsight but, at the time, I had to figure a lot out by myself. I‘d just graduated from university and was inexperienced but was constantly getting inquiries from artists and visitors and I had to help them. The Yokohama Triennale is an international exhibition so the process of making is slightly different to the usual; we collaborated with architects and designers and also had to negotiate with people outside of the art world (for example, pitching our ideas to the government). Also, as it was the inaugural exhibition everything had to be built from scratch. I did what I could and kept watching what the directors and curators were doing.</span></p>

				<p>横浜トリエンナーレは、その後、2005年の磯崎新さんがディレクターとして企画して途中で辞任した幻の第2回のディレクターズ・オフィスのアシスタントとしてもリサーチと準備に関わったり、2011年の震災の年は（主催が国際交流基金から横浜市に変わって最初となった第4回。このときから横浜トリエンナーレはヨコハマトリエンナーレと表記が変わった）、当時パレ・ド・トーキョーのチーフ・キュレーターだった三木あき子さんのもとでキュラトリアルとして携わったり、自分でも思うけれど、普通ではすることができない経験をたくさんさせてもらいました。
				<span class="en">I went back for the next exhibition of the Yokohama Triennale in 2005, which was organised by Arata Isozaki. He resigned in the middle of the project. In 2011, the year of the Tohoku earthquake in Japan, I worked as a curator under Akiko Miki, the chief curator of Palais de Tokyo at the time. So yes, it was a very exciting and educational experience.</span></p>

				<p><span class="talker">IL__</span>横浜トリエンナーレでのご経験は、その後の活動にどのような影響を与えたのでしょうか？<br>
				<span class="en">How did this experience influence your subsequent work?</span></p>

				<p><span class="talker">hk.__</span>1回目の横浜トリエンナーレを経験したあと、アーティストたちの表現が、もう美術館やギャラリー、ホワイトキューブにおさまりきらなくなっているんだっていうこと、そしてそういう彼らの活動をどうこれから実現していくんだろう？っていうことをすごく考えるようになりました。それでいろいろな体験をしていくうちに、自分でブックレーベルを立ち上げました。レーベル…というとかっこいいけれど、当初は本当に空間をもたない、組織に所属しないフリーランスのキュレーターとして、本をプラットホームにアーティストに表現をしてもらおう…という純粋な試みで、最初はペインターの南川史門さんにお願いしました。
				<span class="en">I mentioned that during the first exhibition of the Yokohama Triennale I noticed that the medium of artistic expression was expanding. As a result I started to wonder how artists might realise their work in the future. I began exploring new forms of art and, in the process, I deciding to start my own publishing house. It was my attempt as a curator to use books as a platform for artists to express themselves freely. The first artist I asked to work with me on this project was the Japanese painter Shimon Minamikawa.</span></p>

				<p>それがいまでは、いろいろなアーティストたちと一緒に本をつくることが、ちょっとライフワークみたいになってきているかもね。でも、始めた頃から一貫してキュレーターのプロジェクトとして、カタログや作品集をつくるのではなくて、あくまで展覧会と同等なプラットホームとしての本、アーティストブックや作品をつくる…というスタンスでやっています。
				<span class="en">Now it’s become my life’s work - working with different artists to create books. But, since the beginning, I’ve always tried to use the book format as a platform for an artist’s work rather than just a catalogue of their artworks.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img05.jpg">
					<figcaption><a href="https://hk-books.stores.jp/" target="_blank" rel="noopener noreferrer">https://hk-books.stores.jp/</a></figcaption>
				</figure>

				<p><span class="talker">IL__</span>兼平さんの近年の活動としてstatementsの運営もありますよね。立ち上げに至った経緯や、担当された展覧会についてのお話しを伺えますか。
				<span class="en">You were also one of the founders and directors of the Tokyo-based project space called statements. Can you tell us a bit about how you started it and the exhibitions you curated?</span></p>

				<p><span class="talker">hk.__</span>あるとき「いまある表現の全てはラスコーの壁画から繋がっているのではないか」っていう仮説を自分のなかで立てたんです。最近の美術があまりにも歴史と分断されすぎてるような気がしていて、それはちょっと違うんじゃないの？っていうのが自分のなかにあって。若手のアーティストもちゃんとアートヒストリーの中にマッピングされていくことを意識すべきだし、そのためには歴史は知るべきだよね。そういった背景から文脈や歴史にもちゃんとコミットした企画をするというコンセプトで、statementsの立ち上げに協力することにしました。
				<span class="en">One day I came up with the hypothesis that all of todays’ expression connects back to the ancient murals in the famous caves in Lascaux in France. I think art today is too disconnected from history and that young artists should study history with the self-awareness that they too will eventually be mapped onto the history of art. The project space statements in Tokyo was created with the idea of exhibiting projects that are embedded in history and art-history contexts.</span></p>

				<p>僕がstatementsで担当した展覧会は二つあるんだけど、一つは「トレッドソン・ヴィラ・マウンテン・スクール 2016」（アン・イーストマン＆落合多武の企画発案）で、栃木県日光にあるアート・レジデンシー、トレッドソン・ヴィラで毎年夏の終わりに行われるイベントのサテライトを東京でやりましょうっていうものでした。この展示はブラック・マウンテン・カレッジを参考にしていて。
				<span class="en">I worked on two exhibitions at statements. The first was "Troedsson Villa Mountain School 2016” (organized by Anne Eastman and Tam Ochiai), a satellite of the annual end-of-summer event at the Troedsson villa, which is an art residency in Nikko national park in Tochigi, Japan. Anne, Tam and I wanted to reference an experimental school, grounded in art, that was active in the United States between 1933-57 called Black Mountain College.</span></p>

				<p>ブラック・マウンテン・カレッジは1933年から1957年の24年間アメリカに存在した、当時の芸術に根ざした実験的な学校で、アーティストの卵たちは学生として先生でもあるアーティストたち色々と意見を交換したり共有する平等なシステムの元、思考実験と実践を行ってたんだよね。日本では最近になって知られるようになってきたけれど、僕はブラック・マウンテン・カレッジは美術史における重要なムーブメントのひとつであると考えてます。（BMCの活動はゆくゆく美術館やマーケットの活動ともつながってくる。）BMCの他にもニューヨークにあったゴードン・マッタ=クラークのFOOD とか。アーティストが起こした周囲の人々や環境を巻き込んだムーブメントについてリファレンスしつつ、アンさんと多武さんと開催した企画でした。
				<span class="en">It was an egalitarian system were young artists exchanged ideas with their teachers (who were also artists). I consider Black Mountain College to be one of the most important products of art history. Other than this, we also created this exhibition as a reference to Gordon Matta-Clark’s restaurant FOOD in New York. This was a restaurant in Manhattan founded by Matta-Clark, Carol Godden and Tina Girouard that was managed and staffed by artists. Groups like the Philip Glass Ensemble would meet there regularly. I was interested in building the exhibition around movements that artists had created involving people and the environments they’re in.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img06.jpg">
					<figcaption><a href="http://statements-tokyo.com/exhibitions/past_160516.html" target="_blank" rel="noopener noreferrer">"Exhibitions #3", statements-tokyo.com, 26 Nov 2021, http://statements-tokyo.com/exhibitions/past_160516.html</a></figcaption>
				</figure>

				<p>もう一つは、ジェイ・チュン＆キュウ・タケキ・マエダの展示です。どうしても、ジェイくんとキュウくんの展覧会がやりたくて、彼らの展示をすることが僕がstatementsに参加する条件の一つでもあったんです。彼らは明言はしていないけれど、実はアートヒストリーのなかに出てくる人物たちを主人公に作品をつくっているコンセプチュアルなアーティストで、展示をしてくれないかってお願いしたら、それなら日本の現代アートの歴史がこぼしてしまっている、とある個人のアートファンの重要なスクラップブックを作品にしたい、と。もうそれはふたつ返事で「じゃあやりましょう」ってなりました。
				<span class="en">The second exhibition I worked with was by the artists Jay Chung &amp; Q Takeki Maeda who met when they were students at the Städelschule school of art in Frankfurt and have been collaborating ever since. Exhibiting these two artists was one of the conditions of my participation in statements, as I had followed their work for a long time. They don’t consider themselves to be conceptual artists, although I consider their work to be very conceptual as it’s based on people from art history. For this show they made a work out of the scrapbooks an art enthusiast had made and some other scrapbooks about some Japanese contemporary art movements that have been lost in history.</span></p>

				<p><span class="talker">IL__</span>落合多武さん、ジェイ・チュンさんやキュウ・タケキ・マエダさんとはもともと一緒にお仕事されてたんですか？
				<span class="en">Did you work with Tam Ochiai, Jay Chung, and Q Takeki Maeda prior to your involvement in statements?</span></p>

				<p><span class="talker">hk.__</span>多武さんは、ずっと好きなアーティストで、2011年のヨコハマトリエンナーレにキュレーターとして関わっていた時に、「ある一定のキャリアや年齢で、かつ国際展のようなフェスティバルではあまり出てこないようなレジェンドのようなアーティスト、そしてインターナショナルでこれからの次世代や文脈にも繋がっていくような日本人のアーティストは誰かいないか？」ってディレクターに聞かれて、落合多武だろうって答えたんです。そしたら「じゃあ兼平君は多武くん担当で！」ってその場で決まりました。多武さんのことはその前からもちろん知っていたけれど、ちゃんと仕事として関わったのはその時が初めて。
				<span class="en">Tamu is an artist I have always liked. When I was working as a curator for the Yokohama Triennale in 2011 the director asked me if I knew any Japanese artists who was a legend, who didn’t appear often in international festivals and who could be connected to the next generation. I immediately answered “that would be Tamu Ochiai.” So the director put me in charge of Tamu. That was the first time I’d worked with him in a professional context.</span></p>

				<p>ジェイくんとキュウくんは、00年代の後半に、なんだかすごいアーティストがいるって何人かのアーティストの友人たちから話を聞いていて…アーティストのネットワークのなかでは既に彼らは有名で、（木村）友紀さんとか（荒川）医くんとか（松原）慈ちゃんとか、僕の周りのアーティストにも彼らの知り合いは多くてね。一時期、僕がコンスタントにプロジェクトを手伝ったりしていたCOSMIC WONDERの前田征紀さんからもジェイ・チュン＆キュウ・タケキ・マエダという二人組がヤバいよって言われたこともあって、実際COSMIC WONDERのグループ展で彼らは作品を展示したりしてて。多分それが彼らにとってほぼ初めて国内でのプレゼンテーションだったんじゃないかな？ 当時ジェイくんとキュウくんの作品でハンス・ウルリッヒ・オブリストのインタビューのセッションを和訳したアーティストブックがあって、「この本欲しいな。」って言ったら、「これは本じゃなくて彫刻だね！」って当時COSMIC WONDERでアート＆プレスをしていた友人にも言われて「あぁ、そうだよね、本当にヤバいのがやってきたなぁ」って思ったんだよ （笑） それが2010年ぐらいかな。
				<span class="en">In terms of Jay Chung and Q Takeki Maeda... I used to help out with COSMIC WONDER, a conceptual site and project that combines various modes of expression from clothing, artwork and publishing to performance. The director, Yukinori Maeda, organised some great art shows and it was there that Jay Chun &amp; Q Takeki Maeda’s work was shown for the first time in Japan. That’s how I discovered them. There was an art book made by Jay and Q, an interview of Hans Ulrich Obrist being translated into Japanese. I asked my friend who worked as an art press for COSMIC WONDER that "I wanna have this book!.," and then my friend corrected me, saying, "This is not a book, it's a sculpture." and I was like, "Oh yeah, finally the mad one has come along." *Laughs*</span></p>

				<p>六本木クロッシング2016にジェイくんとキュウくんが作品を出した時、僕、森美術館のオープニングなんて滅多に行かないのに行ったんだよね。今でも覚えてるんだけど、ジェイくんとキュウくんとエレベーターが一緒になって、彼らの展示をしたいこととか、statementsのこととか、50何階から1階の間に、息継ぎし忘れるくらい一気に話して…とにかく降りるまでに全部気持ちを伝えなきゃと思って。それでベルリンへの帰国を少し伸ばしていたキュウくんが、翌々日くらいにstatmentsに来てくれたんだよ。
				<span class="en">I got to met them personally for the first time in 2010 at an opening at Mori Art Museum in Tokyo, where they were showing their work. I remember riding in the elevator with them from the 50th to the 1st floor and all the way I was telling them about our project and how much I wanted to do their show. I was speaking so quickly I forgot to catch my breath. *Laughs* They ended up visiting me at statements two days later.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img07.jpg">
					<figcaption><a href="https://casabrutus.com/art/47617" target="_blank" rel="noopener noreferrer">Casa BRUTUS, 26 Nov 2021, https://casabrutus.com/art/47617</a></figcaption>
				</figure>

				<p><span class="talker">IL__</span>ジェイさんキュウさんが日本で紹介されるようになったのって、そのstatementsの展示以降ですよね。
				<span class="en">So did Jay Chung and Q Takeki Maeda start to become known in Japan after the statements exhibition you organised with them?</span></p>

				<p><span class="talker">hk.__</span>それまでにも、六本木クロッシング2016でキム・ソンジョンの推薦で参加したことがあるのと、現美のベルリン展でドイツ側のキュレーターから推薦されて映像作品が紹介されたことはあったね。でも、国内のキュレーターが彼らの作品に注目し始めたのはstatementsでの展示以降かなと思う。（本当のことを言うとキュレーターよりお客さんたちのほうが反応は早かったかな？）
				<span class="en">It was after the show at statements that domestic curators started to pay attention to their work, but the audience in general responded very quickly.</span></p>

				<p>僕のキュレーターの在り方として、美術館に勤めているキュレーターと違うところでもあるんだけど、やりっぱなしにするのは良くないと思うからさ、ちゃんと美術館の人とか、他のキュレーターの方達に、いま二人が日本にいるんで会えますよってコンタクトをとって、彼らの作品が美術館に展示されたりコレクションされたり、アーカイブに残すことによって、さっき話したように歴史に繋げていく…。それが僕の仕事なのかなって。それに美術館で展覧会を開くと、カタログに謝辞としてstatementsの名前も載るわけですよ。どんな規模のプロジェクトでも、歴史的に繋がっていくのはとても重要なことで、それを考えることは、もはやポリシーとかでもなく、僕のミッションなのかなと…。もちろん美術館や美術館のシステムだけが歴史を残していく方法ではないんだけれど、まぁ、ひとまずはってかんじだね。
				<span class="en">As a curator I had to do my best to promote them to curators who work for art institutions. If their work is exhibited in a museum, or collected, or archived, they then have a connection to history, which I’ve already indicated I value greatly. So that’s my role. Also statements then becomes recorded in the museum’s catalogue, there’s an acknowledgement there that is preserved in history. I think this is my mission.</span></p>

				<p><span class="talker">IL__</span>兼平さんの活動についてお話しを伺っていると、アートに限定されない広義な社会のことを考えていらっしゃるように感じます。
				<span class="en">I get the impression that you are thinking about society in a broader sense than just art.</span></p>

				<p><span class="talker">hk.__</span>進学した大学の学科のキャッチコピーが「社会とアートをつなぐ架け橋になる人材を育てます」だったのね。でも、僕はそれはすごく大きな間違いだと思っていて。アートって社会の中にあるものだから、そもそもアートと社会をつなぐなんてあり得ないでしょうって。ご飯を食べたり、肉や魚を買ったりするのと同じくらい自然なものなんじゃないのかな…。必要不可欠なものだよ、アートは。僕は、それを伝えるために活動をしてるところもあるのかも。あとは…僕は究極のファザコンでマザコンなので、美大出身でCMプランナーだった父親と社会学経済学を研究していた母親の影響は少なからずあったかもしれないね。
				<span class="en">The motto of the department of the university I went to was "We train people to be bridges between society and art”, but I think that's a big mistake. Art is something that exists within society, so how can it possibly be connected to society? Art is a necessity. It’s as natural as eating rice or buying meat or fish. Also I have a major mother-complex and father-complex so I’m very influenced by both of them in that respect. My father went to art college and worked as a commercial planner and my mother studied sociology and economics.</span></p>

				<p><span class="talker">IL__</span>普段から、歴史や社会に言及した、コンセプチュアルな作品を作るアーティストに惹かれますか？
				<span class="en">Do you usually find artists who make conceptual work referring to history and society interesting?</span></p>

				<p><span class="talker">hk.__</span>僕、ある一つの完成された形だと思っている現代美術のアーティストの一人にフェリックス・ゴンザレス=トレスがいて。彼はアクティビストでグループ・マテリアルの一員として、エイズに関することやアーティストの権利を考える人だった。トレスが一度、学生から「アーティストとアクティビストの二足の草鞋を履くのはいかがなものか」って質問を受けたことがあったんだけれど、トレスは「両方やるべきだ」って答えたの。そうだよなぁって。アートはどこか特別なものだって期待しているから、僕はこの仕事をしているわけだけど、一方で、普段の生活のなかでもそういった信念というか希望はあるわけで、どんな人のなかにもそれは常にあるものなんだよね。
				<span class="en">Felix Gonzalez-Torres is one contemporary artist who is a perfect example of this. He was a part of Group Material and was very concerned with the AIDS epidemic and artists’ rights. Torres was once asked by a student if he thinks it’s a good idea to be both an artist and an activist and he said we should be both. I completely agree with his statement - I’m a curator and I do have an expectation for art to be “special” in a way but, on the other hand, I have a hope in my everyday life that art is always there in everyone.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img08.jpg">
					<figcaption><a href="https://www.moma.org/collection/works/61825?artist_id=2233&page=1&sov_referrer=artist" target="_blank" rel="noopener noreferrer">"Felix Gonzalez-Torres 'Untitled' (Death by Gun) 1990", MoMA, 26 Nov 2021, https://www.moma.org/collection/works/61825?artist_id=2233&page=1&sov_referrer=artist</a></figcaption>
				</figure>

				<p><span class="talker">IL__</span>長年アートに携わる仕事をしていて、興味が枯渇しないのがすごいですね。
				<span class="en">I'm amazed that you've been working in art for so many years and that your interest has never dried up.</span></p>

				<p><span class="talker">hk.__</span>でも、昔に比べたらすごく減ってきてるよ。最近は表面的なファッショナブルなものが多くなってきてるって思う。それは残念なことだし、ぱっと見のインパクトにみんなが惹かれてそれだけの作品がもてはやされているのを見ちゃうと、本当に大切なところに到達できてないんじゃないかなって。
				<span class="en">I feel like there is a lot of fashionable art these days and that people are attracted to work only because of its immediate impact - then that work becomes popular. The essential part of art is neglected.</span></p>

				<p>僕、ヴォルフガング・ティルマンスの写真もすごく好きなんだけど、「ティルマンス好きなんです」って言うと、表層的なイメージを好きなんだと勘違いされるけど、実はあの人の写真って全て社会と繋がってるんじゃないかなって思うんだよ。そこがすごいんだよ。
				<span class="en">I like Wolfgang Tillman’s photographs a lot, but when I say I like him people assume I only like the superficial images. I actually believe what makes his work so beautiful is that all of his photographs are connected to society.</span></p>

				<p>彼の写真を眺めながら色々と想像するわけですよ、背景にはこんな音楽が流れてそうとか、干してる洗濯物から柔軟剤のいい香りや太陽の匂いがしそうとか。でも突き詰めていくと、何気なく写真に写っていた人が実はデモに参加している人だったりとかして…。パーティーが終わった後のクラブの写真とデモが終わって1人佇んでる男の子の写真が同列に扱われている。クラブでみんなと騒ぐ高揚感も大事だけど、自分たちの声を上げることも大切で、ティルマンスの写真の中で、色々な世界の断片が繋がっていくのが見えてくると、泣きそうになってきちゃうんだよね。
				<span class="en">I imagine many things when I look at them, like music playing in the background or the smell of fabric softener, or the sun on the clothesline. But when you look into it you find out that the person in the photo is a demonstrator - that a photo of a club after the party is over is treated equally to the photo of a boy standing alone after a protest. Partying and making noise with people in a club is equally important to making your voices heard politically. When I see a piece of the world in his photographs I want to cry.</span></p>

				<p><span class="talker">hk.__</span>僕、想像することがとても大事だと思っていて。例えば、横尾忠則の絵画《黒いY字路》のシリーズは一回昼を描いてから、その上を黒く塗って暗闇の夜の絵が描かれていて、昼と夜の対比が画面に閉じ込められてるわけですよ。「夜があるってことは昼間もあるよね」って想像しなが見ることって大事じゃない？ 何でも目の前にあるものを信じ切って生きてるとだめじゃん。だから、描かれていない部分をちゃんと見たいんだよ。そこがわからなかったら全部を理解した気にはなれないし。
				<span class="en">Imagination is an essential thing. For example, in a Japanese artist, Tadanori Yokoo's series of paintings, "Black Y Alley," he painted the daytime once and then painted over it in black to create a dark nighttime image; the contrast between day and night is trapped in the painting. If you look at the painting while imagining that "if there is night, then there must be daytime too," a viewing experience would be much more prosperous.</span></p>

				<p>人ってアートがなくても生きていけるのかもしれないけれど、アートを見て、感じたり考えたりすることができたら、もう少し豊かに生きていけるんじゃないかなって思うから。
				<span class="en">You can't just live your life believing in what's right in front of you. That's why I want to see the parts that are not depicted properly. If you don't understand that, you can't feel like you understand everything.</span></p>

				<p><span class="talker">IL__</span>東京にあるアーティスト・ラン・ギャラリーXYZ collectiveでのバス・ヤン・アデルをテーマにした展示についてお話聞きたいです。
				<span class="en">I'd like to hear about your show about the Dutch artist Bas Jan Ader at XYZ collective, a project space in Tokyo.</span></p>

				<p><span class="talker">hk.__</span>XYZ collectiveのディレクターでアーティストのCOBRAにうちでなんかやってよって言われて、最初にCOBRAに渡したメインビジュアルの写真と実際に展示したものは全然違うんだけど…。
				<span class="en">COBRA, the artist and director of XYZ collective, asked me to curate a show at his gallery. The visual idea I gave him initially is different to what we ended up doing...</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img09.jpg">
					<figcaption><a href="http://xyzcollective.org/hikotaro-kanehira.html" target="_blank" rel="noopener noreferrer">xyzcollective.org, 26 Nov 2021, http://xyzcollective.org/hikotaro-kanehira.html</a></figcaption>
				</figure>

				<p><span class="talker">IL__</span>展示してあるヨットの絵は、ヴィンテージのポストカードですか？
				<span class="en">Is the picture of the yacht in the exhibition a vintage postcard?</span></p>

				<p><span class="talker">hk.__</span>うん、あれはヴィンテージです。僕もともと一種類のものを集める癖があって、その時はなんかヨットと船だったんだよね。ちょうど、バス・ヤン・アデルをテーマにした展示の構想をぼんやり頭で思い浮かべてる時にアーティストの青木陵子さんと伊藤存さんと一緒にロンドンの骨董市に行ったんだけど、そこでたまたま船が写ってない海辺のポストカードを見つけて気になって買っていたら、りょんちゃんが「ひこくんこれもあったで！」って船がモチーフになってるいものをどんどん運んできてくれて、そのなかにさっきのポストカードと同じ景色のなかに船が写ってるポストカードがあったんだよね。それでその2枚のポストカード並べてみたら「これセットじゃん！」ってなったんだよ。そこにいたお店の人もああ同じ作者だね～とか言って。そのセットの船が写ってるのと写ってない2枚のポストカードを見つけた時に、バス・ヤン・アデルに関する展覧会をXYZ collectiveでやれると確信してCOBRAに連絡しました。
				<span class="en">Yes, it's vintage. I have a habit of collecting one specific thing for a period - at that time it was yachts and boats. I was browsing around antique shops with my artist friends Ryoko Aoki and Zon ito in London and found a postcard of an empty, clear sea with no boats. Ryoko then found another postcard of the same scene with a single yacht on it. I lined them up and discovered that they were actually a pair. The shopkeeper told us that they were made by the same artist. It reminded me of Bas Jan Ader because, as you know, he famously disappeared at sea. At that moment I knew I could make an exhibition about him and I contacted COBRA.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img10.jpg">
					<figcaption><a href="http://xyzcollective.org/hikotaro-kanehira.html" target="_blank" rel="noopener noreferrer">xyzcollective.org, 26 Nov 2021, http://xyzcollective.org/hikotaro-kanehira.html</a></figcaption>
				</figure>

				<p>それからロンドンの家の近くにチャリティーショップがあるんだけど、そこでヨットのスタンプを売ってたんだよね。それも使って、スタンプを壁に押すだけっていう作品も出しました。きっとまだXYZ collectiveのスペースにそのスタンプで押されたヨットはあると思うよ。
				<span class="en">As part of the exhibition I also made a piece using a yacht stamp I got from a charity shop- stamping it on the wall of XYZ collective. I think there must be some of those stamps still on the walls now.</span></p>

				<p><span class="talker">IL__</span>この印刷物はなんでしょうか?<br>
				<span class="en">What is this printout about?</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img11.jpg">
					<figcaption><a href="http://xyzcollective.org/hikotaro-kanehira.html" target="_blank" rel="noopener noreferrer">xyzcollective.org, 26 Nov 2021, http://xyzcollective.org/hikotaro-kanehira.html</a></figcaption>
				</figure>

				<p><span class="talker">hk.__</span>この印刷物はバス・ヤン・アデルのwikipediaのページをA3一枚にレイアウトしたPDFを印刷したもので、お客さんが自由に持って帰れるようにしたものです。キュレーターとして、バス・ヤン・アデルのことを紹介するテキストを書こうと最初はしていたんだけれど、でも、僕のアデルに対する思いを書くのはちょっと違うような気がして、それよりまずは客観的にアデルの事を知ってもらいたいと思ったんだよね。ちょっとトレス的な発想だけど…。だからあの展示には自分で制作したものは一つもなくて、よくキュレーターがコンセプチュアル・アーティストのような展示？ふるまい？をしてしまうことってたまにあるけど、あのバス・ヤン・アデルの展示はそのギリギリのラインだったと思う。
				<span class="en">This printout is Bas Jan Ader’s wikipedia page, printed out on a single A3 sheet of paper. When I conceived of the show at XYZ collective, I wanted to write a text about Ader, but I didn’t want to give my perspective on his work - I wanted to give people an objective view of him. I printed it out so that people could take it home with them. It’s a Felix Gonzalez-Torres like idea I suppose. I didn’t made a single thing in that exhibition by hand. Sometimes curators will make an exhibition look like a piece of their own conceptual art, but I think that show was on the edge of crossing that line.</span></p>

				<p><span class="talker">IL__</span>展示物は、バス・ヤン・アデルのwikipediaをプリントアウトしたものとポストカードとかのレディ・メイドオブジェクトのみだったんですね。
				<span class="en">I see. So all you presented in the show was a printout of Bas Jan Ader's wikipedia page and ready-made objects linked to Ader's work, such as the postcards and the stamps?</span></p>

				<p><span class="talker">hk.__</span>そう。僕はアデルのことや彼の作品がすごく好きで、今活動してる若手のアーティストも彼のことをもっと知るべきだと思ってたから。
				<span class="en">Yes. I respect Ader a lot and I hope that more young artists discover him.</span></p>

				<p>アデルが、海に出るプロジェクトも、実は他の3つのプロジェクトのうちの一つだったんだよね。でもそれは実現する事なく、彼は海に消えてしまった。アデルは多作だけど、実は、彼の作家として活動した期間って10年ぐらいだったんけど、本当に多くの素晴らしい作品を残してるよね。wikipediaにも書いてあるけど、アデルが亡くなった後に、彼の実のお母さんが、詩を残してるの。それが最高なんだよね。だからもう、アデルっていう存在自体が、みんなの中で作品になっていくっていうかさ。ちょっと、特殊な例っていうか。
				<span class="en">Ader’s famous project to go to sea was actually one of three projects he had planned. Those obviously never came to fruition because he ended up being lost at sea. Ader was only active as an artist for 10 years, but he left behind so many great works. After his disappearance, and presumed death, his mother wrote him a poem. It’s really beautiful, please look it up. Ader’s existence itself became a work of art for everyone. It’s a bit of a special case.</span></p>

				<p><span class="talker">IL__</span>確かにアデルって、彼自身の人生自体も作品のような、捉えられない、神話のように美術史に存在している印象があります。
				<span class="en">Indeed, I have the impression that Ader’s life exists within art history as a kind of myth or a work or art in itself.</span></p>

				<p><span class="talker">hk.__</span>そうなんだよね。展示に際してCOBRAにお願いしたのは、展示作品は買い手が決まったり持ち帰りたいっていう人がいたら、たとえ展示期間中でも外していって欲しいってこと。なので、展示の最終日には、スタンプ本体も、ポストカードも写真も、印刷物もなくなっていて、壁に押した船のスタンプだけが最後に残ってたの。この展示を介して、とにかくみんなにアデルのことを知って欲しかった。とくに若いアーティストの子たちに。彼を知らないで作品を作るより、彼を知って作品を作った方が、より豊かなものになるだろうって思ったから。ちなみにこのインクは黒じゃなくて、ブルーグレーなんです。そういうとこはちょっとこだわるから、僕（笑）
				<span class="en">Yes, that’s true. I asked COBRA to take the displayed work off the walls and give it to people during the exhibition if they wanted to buy it. So by the last day of the exhibition, the stamps, postcards, photos and printouts were all gone. Only one ship stamp on the wall was left. I wanted to use this exhibition to introduce artists to Ader. I think it’s more enriching to know him and make art than to make art without knowing him. Also the ink we used for the print-outs was blue-grey, not black. I’m quite particular about this kind of thing. *Laughs*</span></p>

				<p><span class="talker">IL__</span>他にもそういう、知ってもらいたいアーティストとかいますか？
				<span class="en">Are there any other artists that you would like people to know about?</span></p>

				<p><span class="talker">hk.__</span>いっぱいいるよ! XYZ CollectiveでCOOL INVITATIONていう企画があるんだけどね。僕も参加しているの。架空の展覧会の招待状を展示する企画なんだけど、そこで紹介しているアーティストのほとんどは、知ってもらいたい。
				<span class="en">There are so many! I participated in another exhibition at XYZ collective called COOL INVITATION. The concept of the show was for each participant to present an invitation to an imaginary exhibition they have conceived of.</span></p>

				<figure>
					<img src="{{ site.root }}journal/interview/015/img/img12.jpg">
					<figcaption><a href="https://www.instagram.com/whereflamingosfly/" target="_blank" rel="noopener noreferrer">https://www.instagram.com/whereflamingosfly/</a></figcaption>
				</figure>

				<p>本来はCOOL INVITATIONはINVITATION（招待状）だけを展示すればいいのに、自分のエモーションが加速しちゃって展示の為にインスタグラムでアーティストの作品画像入りで、リストという名の展示カタログを作っちゃって…（笑）ちゃんと展覧会の導線順にストーリーテリングにアーティストの作品が並んでるんだよ。
				<span class="en">For my contribution I got a bit carried away and made an Instagram account to go along with my invitation to display a wishlist of the artists’ works I want to include. The title of my imaginary exhibition is “Where Flamingos Fly” (in reference to a song by the jazz musician Gil Evans) and the theme is absence.</span></p>

				<p>展覧会タイトルはギル・エヴァンスのジャズの曲「Where Flamingos Fly 」。簡単に翻訳すると「フラミンゴが飛ぶところ」っていう意味になるんだけれど、不在がテーマの展示プランで、例えばコンスタンティン・ブランクーシの《空間の鳥》ていう作品の台座だけが展示されてる空間とかを想像したりして。あとルーチョ・フォンタナのキャンバスが切られた跡も鳥が飛び立った痕跡のように見えるから、それも選んで。他にも鳥にまつわる作品をリストアップしていって…ダン・グレアムの作品とかね。ダン・グレアムって、フラミンゴが一瞬だけ映る映像作品を作ってるんだよね。あと、ダグラス・ヒュブラーっていうニューヨークのアーティストは鳥の声が聞えた瞬間にその場で写真を撮るシリーズを残していて、写真に鳥は一切写ってなくて鳥が鳴いてた時に見えた風景が写されてるの。ダグラス・ヒュブラーも僕はすごく重要な作家だと思っているから、この架空の展示の出展作家としてリストに入れたかった。
				<span class="en">I would hypothetically arrange the artists’ work in a storytelling manner. For example, there is a work by Brancusi called Bird in Space of a bird on a pedestal. I began by imagining a space where I display the pedestal of that work without the bird. In that space I would choose to display a Lucio Fontana painting because the slash marks on the canvas look like bird flying away. Including also would be a Dan Graham film of a flamingo and a series of photographs made by New-York based artist Douglas Hubler taken at the moment he heard birds singing.</span></p>

				<p>イヴ・クラインの、クラインブルーの風船をみんなで持って集まって、それを手離して空に風船が飛んでいくって作品があるんだけど、すごくいいんだよ。でも、大抵の人はイヴ・クラインって聞くと「あの青い絵の人ね」で話が終わっちゃうでしょ。イヴ・クラインはペインターじゃなくてコンセプチュアル・アーティストなんだよって知って欲しかったから、その作品も選んだんだよ。
				<span class="en">There’s a piece by Yves Klein called Aerostatic sculpture where people came together with blue balloons and let go of them all at once, letting them fly up into the air. It’s really lovely. That’s another work I would include. Most people associate Yves Klein with his blue paintings. I want people to know that he’s not a painter, he’s a conceptual artist.</span></p>

				<p>それで、COOL INVITATIONで僕のINVITATION（招待状）を欲しいっていってくれた人に抽選で、そのインスタグラムのアカウントをプレゼントしたの。
				<span class="en">So I gave away the Instagram account as a catalogue of the imaginary exhibition to anyone who wanted to have my INVITATION on COOL INVITATION.</span></p>

				<p><span class="talker">IL__</span>すごい手が込んでますね。<br>
				<span class="en">That's very elaborate.</span></p>

				<p><span class="talker">hk.__</span>そう。すごいがんばったよこの時（笑）
				<span class="en">Yes. *Laughs*… I worked very hard on it.</span></p>
			</div> #}
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide01_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide02_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide03_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide04_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide05_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide06_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide07_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide08_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide10_sp.jpg" /></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

