{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__022: Interview with: 土屋 信子",
	description: "土屋信子は自身が各地で収集した様々な廃材や素材を組み合わせ、破壊し、最終的に独自の視覚言語とも呼べるようなオブジェクトを構築するアーティストである。まだ少し肌寒さの残る5月某日、土屋さんにお話を伺うため私たちは個展「Stay as a wave」の会場である SCAI PIRAMIDEへと足を運んだ。",
	ogimage: "https://imlabor.org/journal/interview/022/img/share.png",
	breadcrumbs: {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
			},
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
			},
			{
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
			},
			{
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
			},
			{
				"@type": "ListItem",
				"position": "5",
				"name": "022",
				"item": site.url + "/jp/journal/interview/022/"
			}
		]
	}
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/022/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "022"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「何を作るかなんて初めからないし、最後までない。そんなことしたら作れるものしか作れない。自分が考えるものしか作れない。」</h3>
				<p class="lead">土屋信子は自身が各地で収集した様々な廃材や素材を組み合わせ、破壊し、最終的に独自の視覚言語とも呼べるようなオブジェクトを構築するアーティストである。</p>
				<p class="lead">まだ少し肌寒さの残る5月某日、土屋さんにお話を伺うため私たちは個展「<a href="https://www.scaithebathhouse.com/ja/exhibitions/2023/04/nobuko_tsuchiya_stay_as_a_wave/" target="_blank" rel="noopener noreferrer">Stay as a wave</a>」の会場である SCAI PIRAMIDEへと足を運んだ。ギャラリーの扉を開け室内に足を踏み入れた瞬間に強く感じたのは、何も置かれていない床の一部分ですら何か見るべきものがあるのではないかと思うほど、意識が空間全体に向かってしまうような感覚であった。</p>
				<p class="lead">それはきっと土屋さんがインタビューの中で語られた制作の過程で引き起こされる自身の感覚や体験に深く意識を傾けること、そして何かがわかりかけた瞬間にそれを壊すという絶え間ない制作プロセスによって引き起こされたものであり、それが空間全体に充満していたように思えた。</p>
				<p class="lead">本インタビューではロンドンで過ごした2000年代のこと、制作において素材を集め完成に至るまでのプロセス、またその過程で起こることなどについて語ってもらった。</p>
				<p><span class="talker">IM LABOR__</span>初めに、以前イタリアに行かれていたというのをプロフィールで拝見したのですが、イタリアでは何をされていたのでしょうか？</p>
				<p><span class="talker">NOBUKO TSUCHIYA__</span>イタリアでは大学の絵画コースにいたの。そこで私は絵が描けない事がわかった。（笑）</p>
				<p><span class="talker">IL__</span>油絵とかでしょうか？</p>
				<p><span class="talker">NT__</span>そう、それとフレスコ画の描き方も一応習ってる。</p>
				<p><span class="talker">IL__</span>そこではどんな風に？</p>
				<p><span class="talker">NT__</span>当時は自分がアーティストになるとは思っていなかったの。フィレンツェにいたから、目に入るもの全てがルネッサンスで、学校も伝統的なテクニックを教えるような所だったから窮屈でねぇ。先生と喧嘩もしちゃうし、人生どうしようって思ってた時にビエンナーレを見にベニスに行ったの。あの時の感じは今でも忘れられない。身体中に血がまわるというか。そこに出品されてた作品があまりにも自由でめちゃくちゃな事に、ドキドキしてね。私も仲間になりたい、なろう！って強く思った。私の心の中の、口にしてはいけないと思って封印していた事をババーンとダイレクトに言ってるんだもん。もう感動ショック。アートうんぬんじゃなくて、彼らの生き方と態度に、体が震えたの。社会の様子をうかがいながら我慢する生き方が、馬鹿馬鹿しいって強く思った。「私も～！」って運河に向かって叫んじゃった。（笑）</p>
				<p><span class="talker">IL__</span>で、アーティストになろうと？</p>
				<p><span class="talker">NT__</span>そう。でも学校はクビになるし、お金もない。で、途方にくれていた時に助成金に応募したら通った。人生を変えてくれた助成金。あれがなければどうにもならなかった。</p>
				<p><span class="talker">IL__</span>で、ロンドンですか？</p>
				<p><span class="talker">NT__</span>そう、ゴールドスミスに入った。MAの準備コース。一年で終了して、学生はもう一年、ロイヤル・アカデミーに行ってる。</p>
				<p><span class="talker">IL__</span>当時のロンドンの大学や学生の印象はどうでしたか？</p>
				<p><span class="talker">NT__</span>あの頃は、目立てば道が開けるっていう時代だったと思う。だから競争も激しくて生徒間の緊張感も張り詰めてた。他の学生に作品を壊されたこともあるし。卒制で一番目立てばギャラリーがつく、みたいな感じだったの。社会が新しい価値観を探してた。新しい時代ユーロ開始のムードね。</p>
				<p><span class="talker">IL__</span>あの時代のロンドンだったからというのもあるのでしょうか。2000年ぐらいですよね。</p>
				<p><span class="talker">NT__</span>ロンドンは、その前にYBAの活躍があって、ものすごく勢いづいてた。ゴシップ系の新聞の表紙がコンテンポラリーアートだったこともしばしば。友人の展覧会で、若いキュレーターが私の所にそそくさ来て、いきなり“I have a probrem of your work!”って言い放ったり。作品が良いとか悪いとか皆言い合ってて、とにかく熱かった。私の初個展のレビューの見出しは、「意味なし」みたいな感じだったし。激し過ぎよね。（笑）</p>
				<p><span class="talker">IL__</span>なるほど…（笑）　ロンドンで活動されていた頃はヨーロッパの国々にも行かれていたのでしょうか？</p>
				<p><span class="talker">NT__</span>うん、ヨーロッパはどこも近いし、情報の行き来も早い。特に、フランスとイタリアで展示するのが好きだったなぁ。反応もいつも良かったし。当時ロンドンでは『クールなコンテクスト（文脈）』を要求されてたのよ。でも、私はそれに興味が持てなかった。その点、イタリアやフランスはシンプル。まず、彼らの目で見て、彼らが判断して、次にそれをベースにした質問。</p>
				<p>でもね、面白いことに、何年か前にイギリスで展覧会をした時は、反応が当時と全く違ったの。変化に驚いた。フランスやイタリア、他の国と同じだった。黙ってしっかり見てくれたし、彼らの考えることや感想を随分と聞かされた。<br>
				だいたい私にコンセプトを話せなんてナンセンスよね。そこに見えるものが全てなんだから。どう解釈されても、されなくてもいい。私は「あなたの見方を尊重します。」って思う。もっと言うと、「あなたの存在を尊重します。」が正しい。これは、私が求める私の作品の効果に繋がるんだけどね。。</p>
				<p><span class="talker">IL__</span>ロンドンにはどのくらいいらっしゃったのですか？</p>
				<p><span class="talker">NT__</span>ちょうど10年間。忙しかった…。週に7日スタジオに入るのが普通。プレッシャーで、免疫力下がりまくって病気ばかりしてた。小心者だしね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide01_sp.jpg" /></picture><span class="caption"><em>Nike of Samothrace</em> at 50th Venice Biennale, 2003, 180 x 80 x 75cm, Mixed media, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide02_sp.jpg" /></picture><span class="caption">Exhibition view, 2007, at galleria enrico fornello, Italy, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide03_sp.jpg" /></picture><span class="caption"><em>Faster than lights, Absinthe machine</em>, 2011, 90 x 50 x 10cm, Mixed media, Photo by Keizo Kioku, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide04_sp.jpg" /></picture><span class="caption"><em>11th Dimension Project</em>, at Art Tower Mito, 2011, 225 x 290 x 340cm, Mixed media, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide05_sp.jpg" /></picture><span class="caption"><em>Railfish</em>, 2014, 117 x 125 x 240cm, Mixed media, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>イタリアに滞在した時期も長かったとのことですが、土屋さんの作品にはどこかアルテ・ポーヴェラのアートのような印象も抱きます。</p>
				<p><span class="talker">NT__</span>そう？　ただ、“Yes”というイタリア人はいないなぁ。何回か聞いたことはあるけど。私自身、アルテ・ポーヴェラに詳しくないしね。好きだけど。</p>
				<p><span class="talker">IL__</span>では土屋さんの作品がヨーロッパの人にとって何か親近感のようなものがあったというわけでもなく…？</p>
				<p><span class="talker">NT__</span>わかんない。エキゾチックってよく言われた。ミステリアスとか。</p>
				<p><span class="talker">IL__</span>作品の素材についてお聞きしたいのですが、今作品に使われているような素材はロンドンの学生時代から使われているのでしょうか？</p>
				<p><span class="talker">NT__</span>今より廃材の割合が多かったと思う。ロンドンでは色々な種類の素敵な廃材が収集できたの。度々路上に廃材が放置されていて、沢山かついでバスに乗ろうとしたら乗車拒否をされたことは何度かあるし、ゴミ探しに夢中で業者用ゴミ箱に頭から落ちた事もあった。当時のロンドンは廃材の楽園だったのよ。（笑）</p>
				<p><span class="talker">IL__</span>制作をされる時は、素材をいったん集めてから取り掛かるのでしょうか？</p>
				<p><span class="talker">NT__</span>制作とは別に素材はいつも集めてるかも。</p>
				<p><span class="talker">IL__</span>それから集めた素材を、何を作るか考えながら組み合わせていくんですね。</p>
				<p><span class="talker">NT__</span>そんなもん無しよ。何を作るかなんて初めからないし、最後までない。そんなことしたら作れるものしか作れない。自分が考えるものしか作れないでしょ。</p>
				<p><span class="talker">IL__</span>では、何を作るかは決めずにずっと…</p>
				<p><span class="talker">NT__</span>決めないで手を動かすの。集めた素材を切ったり付けたり何かする。すると、何かの形っぽくなって、そういう破片を一杯作る。その中でこっちとあっちを組み合わせると、何かっぽくなったり、ならなかったり、で、いったん放置する。眺めていてつまらなかったら壊して組み合わせを変えてみる。そのプロセスを繰り返すなかで、それらが、昔体験した何かとか、子供時代の記憶とか、そういうものに見えたり感じたりする瞬間があるのね。はっきり認識出来るものが見えたら、それは壊して、プロセスに戻す。</p>
				<p>最終的に、何かのようだけどはっきりわからない、忘れてた記憶に引っかかる様な、そう、それが記憶のフックのように作用するって思った時が終わり。要するに何かははっきり認識できないけれど、絶対何かだ…って感じられる所を完成としてるの。で、バランスを取る。バランスは、社会人としてのカッコ付け。</p>
				<p><span class="talker">IL__</span>（笑）</p>
				<p><span class="talker">NT__</span>作る、じゃなくて、探してる。何かを作ろうと思うと、その何かにしかならないでしょ？　その限界はすごく窮屈。自分の限界を突破するのも、発展させるのも、難しい。自分が驚けないから、嫌になっちゃう。ただね、「探してる」だと、どんなものが出来るのか、もっと言えば、作品が出来るのかもわからないのが正直毎回ちょっと怖いのね。（笑）</p>
				<p><span class="talker">IL__</span>その、バランスって？</p>
				<p><span class="talker">NT__</span>展覧会の場合だと空間とのバランスの中で最終仕上げをする事が多いの。ただそのバランスも崩していいとも思ってる。崩れたバランスってものあるし。その空間の中で、人が惹きつけられるようなバランスを探す。</p>
				<p><span class="talker">IL__</span>じゃあ、現場に持ってきてから？</p>
				<p><span class="talker">NT__</span>現場で見ると印象が違うことも多いし、空間との兼ね合いで作品が変化するのよね。今回も壊して小さくしたものはあるし。</p>
				<p><span class="talker">IL__</span>『クールなコンテクスト』の話が出ましたが、土屋さんの作品と言語との関わり合いは？</p>
				<p><span class="talker">NT__</span>言語って難しい。バラバラに分解して他の素材と同等に扱ってる。常に言語と共に生きてるから、完全に逃げるのは不自然で難しいし。ただ、通常の使い方では作品に取り入れてないの。もちろん何を作ろう、なんてない訳だから、そこでの言語はない。制作中の私の頭の中の言語はバラバラに分解されてる。私にとって、言語は社交性の象徴のようなもので、人と繋がるためのツール的要素が強い。だから言語をそのまま使うと、自分自身の奥底のところに全く到達しない。私にとって言語は、自分を守るための洋服みたいなもので、私が作品で出したいのはその服のずっと奥の事だから、服が邪魔なの。どちらにしても、制作上で無意識に言語はバラバラに解体されてる。視覚、感覚のスピードに合わせるとそうなるのかなぁ？　まぁ、追いつくことはないけどね。言語って回りくどくてまどろっこしいよね？</p>
				<p><span class="talker">IL__</span>制作の中で他に大切にしている事は？</p>
				<p><span class="talker">NT__</span>そうねぇ。素材を手にした時の感触だったり、重量や温度をしっかり感じる事だったり。素材に手を加える前に、素材と遊ぶ事かも。ウールにくるまって軽く踊るとか。（笑）</p>
				<p><span class="talker">IL__</span>素材が体に入る感じですか？</p>
				<p><span class="talker">NT__</span>入るというより、ある種会話してる感じかな？　色んなことがパパっと頭をよぎったりするの。それは、忘れてた感情だったり、どこかに飛んでいく想像だったり、普段自覚しない欲求だったり。頭も働くし、頭だけじゃなくて何かが働くのね。だから、素材に引き出してもらうと言う方がしっくり行く。磁石みたいにね。そして素材を組み合わせたり壊したりすると、それが加速したり、停止したり。それが本当に楽しいの。人といるより楽しい。（笑）</p>
				<p><span class="talker">IL__</span>素材を集める際の基準も、ご自身のフックのような感覚に基づいているのでしょうか？</p>
				<p><span class="talker">NT__</span>その基準は、あるような、無いような？　相性がいいものとそうで無いものはあるのかなぁ？　ただ、10年ほったらかしにしたものがその後素敵に見えることはよくあるし、20年前にどこかで拾ってきたものを使うことも度々ある。その時点ではわからない。今まで色々な国で色々な素材を集めてるの。同じ素材でも出身が違えば違う作用をすることもあるしね。</p>
				<p><span class="talker">IL__</span>制作は常に楽しいのですか？</p>
				<p><span class="talker">NT__</span>楽しいんだけど、同時にかなりのエネルギーも使っている。私の制作の最終段階に入ると、頭の中同様、スタジオ中に、散らかりまくった制作の破片を形にしていくの。最後の展開。その時、力仕事は大抵終わっているから、体力はさして使わないけど、ぐっと体重が減る。チョコレートがご馳走になる。今回の展示でもこの時期に体重が6キロ減った。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide06_sp.jpg" /></picture><span class="caption"><em>Mayfly</em>, 2019, 33 x 130 x 88cm, Mixed media, at Leeds art gallery, Yorkshire Sculpture internasional, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide07_sp.jpg" /></picture><span class="caption"><em>30 ways to go to the moon</em>, 2019, at Leeds art gallery, Yorkshire Sculpture internasional, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide08_sp.jpg" /></picture><span class="caption"><em>Mute-Echoes</em>, 2020, at Nissan Art Award 2020, Photo by Motoi Sato, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide09_sp.jpg" /></picture><span class="caption"><em>Breve</em>, 2020, at Nissan Art Award 2020, 148 x 114 x 120cm, Silicone, Air, Photo by Keizo Kioku, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>今回の会話で、「わからないものを分からないまま置いておく」ことについて強く考えさせられました。</p>
				<p><span class="talker">NT__</span>わからない事って楽しいよね。ああかもしれない、こうかもしれないって考える方が、定義されたものより楽しいと思う。</p>
				<p><span class="talker">IL__</span>今の時代、アートに限らず全てのことが説明できたり、何かが全部答えてくれるようになっていってるようにも思います。</p>
				<p><span class="talker">NT__</span>そう？　その説明や答えは、勘違いの可能性はない？<br>
				例えばね、イカやタコにはしっかり個性があるって知ってる？　ダイバーが出してるyoutube映像の情報なんだけど。（笑）　前線にいて好奇心旺盛の子とか、臆病者でいつも誰かの後ろに隠れてる子、後ろにいるけど一瞬に獲物を横取りする専門の子とか、一体一体個性がはっきり見える。私たちと変わらない。でも彼らは脳で考えてない。神経で全て反応してるらしいの。</p>
				<p>そこでよ、元々私たちは海にいたでしょ？　そんな早くて便利な機能を本当に100%捨ててしまったのかな？　捨てる理由があるのかな？ってね。意識、無意識全部含めて、私たちの反応のスピードってものすごく違うけど、本当に全部脳まで到達してるのかな？そう、本当はわかってないこと、証明されてないことの山積みなんじゃないかなぁ？とか思ったりするのよね…。</p>
				<br><br>
				<p>協力：SCAI THE BATHHOUSE</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide10_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide11_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide12_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide13_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/022/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/022/img/slide14_sp.jpg" /></picture><span class="caption">Installation view, <em>Stay as a wave</em>, 2023, SCAI PIRAMIDE, Photo by Nobutada Omote, Courtesy of the artist and SCAI THE BATHHOUSE</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">土屋信子は神奈川県生まれ、神奈川県在住。ロンドン大学ゴールドスミスカレッジ大学院美術学科修了（2001）。</dd>
					<dd class="desc">近年の主な展覧会に、「De(s)rives #6」(Galerie Aline Vidal、パリ、2023）、個展「Stay as a wave」（SCAI PIRAMIDE、東京、2023）、「De(s)rives #5」(Galerie Aline Vidal、パリ、2022）、「Strange Attractor」（Pavilhão Branco、リスボン、2022）、マツモト建築芸術祭（長野、2022）、個展「,,,」（Gregor Podnar、ベルリン、2020）、「日産アートアワード2020」（ニッサン パビリオン、神奈川、2020）、個展「30 Ways To Go To The Moon」(Mostyne、ウェールズ、2019）、「De(s)rives #2」(Galerie Aline Vidal、パリ、2019)、個展「30 Ways To Go To The Moon」 (Leeds Art Gallery、ヨークシャー、2019)、 「Souvenirs de voyage」（グルノーブル美術館、フランス、2019）、「六本木クロッシング2019展：つないでみる」（森美術館、東京、2019）、「雨ニモマケズ」（R16 Studio＋BankART Station、横浜、2019）、「L'envol」（メゾン・ルージュ、パリ、2018）、「Museum of Together」(スパイラルガーデン、東京、2017）、「MATTER FICTIONS」（ベラルド近現代美術館、リスボン、2016）、「Hybridizing Earth, Discussing Multitude」（釜山ビエンナーレ2016、釜山、2016）、「クワイエット・アテンションズ 彼女からの出発」（水戸芸術館現代美術センター、茨城、2011）、「Unmonumental: The Object in the 21st Century」（New Museum、ニューヨーク、2007）、「Clandestine」（50th ベニスビエンナーレ、ベニス、2003）などがある。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

