{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
	lang: 'en',
    title: "2x2x2__015: Mutual at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ May 1 - May 8, 2022",
	ogimage: "https://imlabor.org/twobytwobytwo/015/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url +"/"
            },
            {
				"@type": "ListItem",
				"position": "2",
				"name": "2x2x2",
				"item": site.url +"/twobytwobytwo/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "015",
				"item": site.url +"/twobytwobytwo/015/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/015/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "015"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Yuhei Kobayashi, Ilya Lipkin, Motoyuki Daifu, Em Rooney, Carter Seddon</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">May 1 - May 8, 2022<br>
					※ Opening hours: 2pm - 7pm / The gallery will be open every day during the exhibition.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Yuhei Kobayashi</strong> (1990 Born in Adachi-ku, Tokyo)<br>
					His solo exhibitions include "magic for gazzete, mag for gazing, magazine for gazing, magazine for magazine." 2020 mumei (Tokyo), "Hi Jimbo" 2018 4649 (Tokyo), "Hanpa" 2017 Workstation (Tokyo), group exhibition includes "Σp[◎]]ώ )" 2021 LAVENDER OPENER CHAIR (Tokyo).</dd>
					<dd class="desc"><strong>Ilya Lipkin</strong> is a Berlin based artist who was born in 1982. Numerous key galleries and museums such as High Art, Arles have featured Ilya Lipkin's work in the past.<br>
					Recent solo exhibitions include Gradually Then Suddenly; High Art, Arles (2021) Eau d’Offense; Webber Gallery , London  (2021) Eau d’Offense; Galerie Lars Friedrich ,Berlin  (2021), Everything Could Change; Svetlana ,New York (2019),  I Am Vicky; Galerie Lars Friedrich ,Berlin (2016). Recent group exhibitions include Escapism; Meredith Rosen Gallery ,New York (2020), Relax, It's all Online; Galerie Lars Friedrich ,Berlin (2020) S/F -Photography, or a Monolith after 200 years; KAYOKOYUKI, Tokyo, (2019) Revelations; LAYR Rome ,Rome (2018), Dedication, Exploitation & Haute Collaboration; Silberkuppe ,Berlin (2017), Stuttgart ; Galerie Francesca Pia ,Zürich (2016)</dd>
					<dd class="desc"><strong>Motoyuki Daifu</strong> was born in Yokohama (1985) and presently lives and works in Tokyo. A selection of his exhibitions includes (2016) "Photographs of Japan-From Present to Postwar" San Francisco Museum of Modern Art, San Francisco (Group Exhibition), 2018 "untitled (surround)" MISAKO & ROSEN, Tokyo (solo exhibition), and both (2019) "untitled (surround)" Green Gallery, Milwaukee (solo exhibition) and "Pastoral (Grind and Drone)" 47 Canal, New York, Daifu was named as a finalist for the "Nissan Art Award" in 2017 as well as a finalist for the "Prix Picted Award” in an exhibition held at the Victoria & Albert Museum in London in 2014.<br>His most recent publications include the book "Large Super November" in collaboration with French novelist Michel Houellebec (2018) and the photo book "Still Life" from Newfave (2016). He has also published "Project Family" (Dashwood Books) and "Lovesody" (Little Big Man).</dd>
					<dd class="desc"><strong>Em Rooney</strong> (b. 1983, U.S.) lives and works between Canaan, CT and Great Barrington, MA. Recent solo exhibitions include François Ghebaly, Los Angeles (2020 – 2021); Fons Welters, Amsterdam (2019); Bodega (Derosia), New York (2018 & 2016); and Beeler Gallery at The Columbus College of Art and Design, Columbus, OH (2016). Recent group exhibitions include deCordova Museum, Lincoln, MA (2022); White Columns, New York (2022); Kristina Kite Gallery, Los Angeles (2021); Candace Madey Gallery, New York (2020); François Ghebaly, Los Angeles (2019); Kaviar Factory, Henningsvaer, Norway (2019); Adams & Ollman, Portland, OR (2019); Galerie Crèvecoeur, Paris (2018); Foxy Production, New York (2018); The Museum of Modern Art, New York (2018); Document, Chicago (2018); and Simone Subal, New York (2017). Her work has been reviewed in The New York Times, Frieze, Artforum, Aperture Magazine, i-D, Art in America, and Artnews, among others. Rooney's work is in the collection of The Museum of Modern Art, New York.</dd>
					<dd class="desc"><strong>Carter Seddon</strong> (b. 1986, San Francisco, CA) lives and works in New York. He completed his MFA at the University of California, Riverside in 2013. Solo exhibitions include The Middler, Brooklyn (2019) and Jenny’s, Los Angeles (2015). He has participated in group exhibitions at Jenny’s, London; Silberkuppe, Berlin; Jimmy Hoo, Brussels; Night Gallery, Los Angeles; Phyllis Gill Gallery, Riverside; and Proof Gallery, Boston.</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Mutual'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide07_sp.jpg"/></picture><span class="caption">Motoyuki Daifu, "untitled (surround)", 2018, C-print mounted on aluminuin, 105 x 79.5cm (Framed dimentions)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide08_sp.jpg"/></picture><span class="caption">Em Roony, "Pilate Condemns (4)", 2018, Walnut, pewter, UV print on aluminuin, 32 x 48cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide09_sp.jpg"/></picture><span class="caption">Carter Seddon, "Office Window", 2019, Silver gelatin print, 42 x 52cm (Framed dimentions)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide10_sp.jpg"/></picture><span class="caption">Yuhei Kobayashi, "Narita International Airport 2022.4.18", 2022, Inkjet print, 48.2 x 58.5cm (Framed dimentions)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide11_sp.jpg"/></picture><span class="caption">Ilya Lipkin, Digital C type print on Matte Fuji Film paper, 100 x 160cm (Framed dimentions)</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/015/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/015/img/slide12_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.page-container --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

