{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__004: 大谷 透：Spectrum",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 6th September -  3rd October, 2020",
		ogimage: "https://imlabor.org/twobytwobytwo/004/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "004",
                "item": ""+ site.url +"/jp/twobytwobytwo/004/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/004/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "004"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span><br>{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">大谷 透</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">6th September -  3rd October, 2020<br>※ 開廊時間：14時 - 19時／木、金、土曜日</dd>
				</dl>
				<dl class="item">
					<dt class="term">Press release__</dt>
					<dd class="desc">大谷透は、紙やすりの裏側のトレードマークや煙草のパッケージのロゴ、中古の型紙といった既存のイメージを素材とし、それらを改変していくことで新たなイメージを獲得しようと試みる作家である。<br>
					今回の展示では、大谷がネットオークションで入手した戦前の教科書やノート、ポストカードといった物体が作品の素材となっている。<br>
					素材選定の基準となるのは作家がこれまで用いてきたトレードマークやロゴのような記号である。その「気になったマーク」から、周りに存在する文字などのその記号を特定する情報を消去していく。そうすることで、由来のわからない、「国道を車で走っている最中に一瞬目に入った文字が消え朽ち果てかけた何だかよくわからない看板」のようなものが現れる、と作家は話す。<br>
					大谷にとって作品とはそのような、意味や情報といったツールを持ち得えず対峙せざるを得ない、しかし見過ごせない何かである。</dd>
				</dl>
				<dl class="item">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">1988年神奈川県生まれ、東京都在住。東京芸術大学美術学部先端芸術表現科を卒業後、2016年に同大学院を修了。<br>
					主な展覧会に『カサブランカ』（個展 児玉画廊、東京、2015）『Planet』(個展 児玉画廊 東京、2017)、『思考のリアル』（児玉画廊、東京、2019)、『用途』（児玉画廊、東京、2018)、『Mud, Tokyo, Swimming』(新宿パークホール、2017)『CHAIN REACTION』（児玉画廊, 東京, 2015）、『モノの流用、イメージの引用、その次』（児玉画廊、東京、2014）他。</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide02_sp.jpg"/></picture><span class="caption">society, 2020, color pencil on notebook, 210mmx150mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide04_sp.jpg"/></picture><span class="caption">palace, 2020, color pencil on postcard, 90mmx140m</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide05_sp.jpg"/></picture><span class="caption">drive, 2020, color pencil on paper, 150mm x 210mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide07_sp.jpg"/></picture><span class="caption">red, blue, yellow on green, 2020, color pencil on paper, 210mm x 140mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide09_sp.jpg"/></picture><span class="caption">two triangles, 2020, color pencil on paper, 210mm x 140mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide12_sp.jpg"/></picture><span class="caption">brain waves, 2020, color pencil on postcard, 260mm x 210mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide13_sp.jpg"/></picture><span class="caption">left hand, 2020, color pencil on postcard, 140mm x 90mm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/004/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/004/img/slide14_sp.jpg"/></picture></li>
			</ul>
		</div>
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

