{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'jp',
    title: "INTERVIEW__009: In conversation with: ミリー・トンプソン",
	description: "イギリス人アーティスト、ミリー・トンプソンの活動の軌跡は、彼女の自己発見の旅と共にあると言って過言ではないだろう。トンプソンは90年代初頭から10年間、BANKというアーティスト・コレクティブに所属していた。",
	ogimage: "https://imlabor.org/journal/interview/009/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "009",
                "item": ""+ site.url +"/jp/journal/interview/009/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/009/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "009"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「快楽とは非常に興味深い政治的なものです…自分のパブリック・ペルソナをコントロールすることに、真夏のビーチでヤシや松の木陰で過ごすほど興味が持てないのです」</h3>
				<p class="lead">イギリス人アーティスト、ミリー・トンプソンの活動の軌跡は、彼女の自己発見の旅と共にあると言って過言ではないだろう。トンプソンは90年代初頭から10年間、BANKというアーティスト・コレクティブに所属していた。BANKのメンバーは自身らをポップパンクバンドのようなものであると称し、当時イギリスで注目を浴び、大衆にも受け入れられていた同世代のアーティスト・コレクティブ 「YBA」（ヤング・ブリティッシュ・アーティスト）が抱く、向上心に満ちたプロ意識（社会に迎合した）に抵抗し、彼らはあくまでも水面下で活動を続けていた。アートシステムの欠陥を指摘した展覧会『COCAINE ORGASM』や『SEWAGE LUST』のキュレーション、また本の出版などを通して、BANKの活動は当時のロンドンのアートシーンで知られるようになる。</p>
				<p class="lead">しかし、それ以降彼らの知的で率直な批判性を反映した活動が飛躍することはなかった。2003年にBANKを脱退して以降、作家としての自身の声を見つけるのに苦労していたトンプソンは、2011年にポルトガル、リスボンのCaribic Residency（カリビック・レジデンシー）にて開催された展覧会『Saucisson Chiffonaire』にて高度にセクシャルな作品を発表し、トンプソンのその後の作家活動を特徴づけるものとなった。近年トンプソンは、広告業界や文化産業から無視（軽視）されがちな年齢層「中年女性」の身体に対してのバイアスを歪めることを目的とし、ビルボード形式の絵画に日本式の生け花「草月」の要素を取り込んだ作品を制作している。それらは、社会規範を満たすために、私たちが自身をどのように社会の中で位置付けているかを認識するアナロジーとして機能しているのだろう。</p>
				<p class="lead">2020年12月14日、ロンドンの2度目のロックダウンが明けた約2週間後に私はトンプソンにオンラインインタビューを行った。インタビュー前に、ファッションデザイナーのトム・フォードが寄稿した、オンライン・ミーティングで最も顔が盛れるラップトップの角度について書かれた記事を読んだばかりだというトンプソンは、「早速、その’角度’を実践してみたの。」と私に話をしてくれたのが印象的であった。<br>
				本インタビューでは、トンプソンがBANKのメンバーとして活動していた時のこと、彼女の作家としての声を見つけるための行路、そしてソーシャルメディアの発展と比例して高くなった公共性に溢れる現代社会の中で、自分だけの世界の中で楽しむことのラジカルな意味合いについて話を伺った。</p>
				<p class="lead -note"><sup>*</sup>本インタビューは2020年12月14日にSkypeで行われました。</p>
				<p><span class="talker">INDIA NIELSEN__</span>はじめに、COVID-19パンデミックがどのようにトンプソンさんの活動に影響したかについてお話を聞かせていただけますか。イギリスでは2回目のロックダウンが2020年11月5日から実施されましたが、その直前の10月15日から3週間、トンプソンさんはロンドンのFREEHOUSEにて個展『4 New Paintings』を開催されていましたよね。このような不安定な状況下での制作はどのようなものだったのでしょうか？</p>
				<p><span class="talker">MILLY THOMPSON__</span>私自身、コロナの影響を直に受けているように感じてはいません。コロナ前まではロイヤル・カレッジ・オブ・アート（RCA）やゴールドスミス（Goldsmith）で教えていましたが、現在は講師の仕事を辞めて、アーティスト活動のみに集中している状態です。それよりも、世界中でパンデミックの影響に直接苦しんでいる人たちのことの方が心配です。特に、私には13歳の姪っ子いるのですが、彼女と彼女の将来のことを心配しています…今回のロックダウンの煽りを受けてFREEHOUSEでの個展『4 New Paintings』の会期が2回延長になりましたが、個人的にはこの軽い感じは気に入っています。</p>
				<p><span class="talker">IN__</span>『4 New Paintings』というタイトルですが、私の中では『Deep Voguing』（同個展で発表した絵画作品のタイトル）の方が展覧会名としてはしっくりくるように感じました。『4 New Paintings』という響きは、何というか買い物リストみたいな感じで、すごく淡々としていますよね。何故このようなタイトルにしようと思ったのですか？</p>
				<p><span class="talker">MT__</span>『4 New Paintings』のタイトルとしてのゆるさが好きなんです。例えば、1981年にロンドンのロイヤル・アカデミー<sup>*1</sup>で『A New Sprit in Paintings』という展覧会あったんですが、この仰々しく滅茶苦茶で、何だかよくわからないけれど立派そうな響きが面白いなと、気になっていました。ちなみに、この展覧会は男性ペインターの作品を主に集めて展示したものでした。中年女性がアーティストとして、また、モチーフ／主題としてもあまり取り上げられていないことについてちょうど考えていたので『A New Sprit in Paintings』を揶揄する意図も含めて、『4 New Paintings』は自分の中ではしっくりくる展覧会名だと思っています。</p>
				<p><span class="talker">IN__</span>2012年に、アーティストのアリソン・ジョーンズ（Alison Jones）と共同キュレーションしたグループ展『ÉVASION』にはトンプソンさんも作家として参加されていますよね。『ÉVASION』は、同展覧会にも出展しているアメリカ人アーティスト、マーサ・ロスラー（Martha Rosler）の、雑誌「VOUGE（ヴォーグ）」に掲載されている強烈なメッセージや魅惑的な広告を作家本人が読み上げることで、階級意識や政治的イデオロギー、社会経済的現実との関連性や搾取について考察したパフォーマンス作品『Martha Rosler Reads Vogue』（1981年）を基に企画されたと伺いました。展覧会カタログ『VUOTO』には、ロスラー氏のパフォーマンスの台本や、出展作品やテキストが、VOUGE誌独特の光沢感のあるフォーマットを引用してエディトリアルされていたのがとても印象的でした。トンプソンさんとVOUGEとの関係、そしてマーサ・ロスラー氏の作品との関係についてお聞かせください。</p>
				<p><span class="talker">MT__</span>『Martha Rosler Reads Vogue』は、今も変わらず鋭い洞察力を持った作品です。老若男女、多くの人達は、徐々に衰えていく己の身体に恐怖を感じているのではないでしょうか。もちろん、歳をとることはクソだし、体の至る箇所に問題は出てきます。けれども、年齢を重ねるということは社会的なプレッシャーから解放されるということでもあります。私はVOUGEを流し読みするのが好きで、あの不健康で向上心のない戯言が印刷されたページを眺めながら、他のことを考えている時間に意味があるような気がしています。私は飽きやすい性格なので、ページを捲るだけで得られるインスピレーションのスピード感が好きです。</p>
				<p>ロスラー氏の作品と私の作品の間に関係性があるとするのならば、私たちはユーモアを介してフェミニズム的な思考やアイディアに取り組んでいるという所ではないでしょうか。複雑な問題に対処するアイディアを提示したい時、ユーモアは最適な方法であると考えています。だからなのか、政治的、社会的問題が多く関与しているロスラー氏の作品を鑑賞していても、不思議と裁かれているようには感じないのです。彼女の作品同様、私の作品も決して人を裁くことを目的としていないということを感じて欲しいと思っています。私にとってそれは非常に重要なことです。アートは、実験をし、失敗をして、過ちを理解する場所です。それらを繰り返すことにより、作家としての強固なステートメントを発表するためのルートが開けるはずです。</p>
				<p><span class="talker">IN__</span>ジェニー・リビングストン（Jennie Livingston）によるドキュメンタリー映画『パリ、夜は眠らない。』（1990年）で有名になった「ヴォーギング」は、60年代ニューヨークに住むアフリカ系やラテン系アメリカ人のLGBTQコミュニティが起源の「ボール・ルーム」と呼ばれるダンスバトル内で踊られたダンス形式の一種です。参加者は所謂主流のアイデンティティ（銀行員や医者等）に準じたカテゴリー、例えば「通勤中のビジネスマン」などに各々エントリーし、ゲイの男性は社会が描くマッチョ像など、彼らにとっての非日常な人格を演じました。このダンスは、VOUGEのモデルのポーズに似ていたことから「ヴォーギング」（後にマドンナによって広められました）と呼ばれるようになりましたよね。また、この「ヴォーギング」という言葉は特定の役割に合わせて自分の身体やアイデンティティを歪めたり、操作したりすることと同義語として現在では使われるようになりました。トンプソンさんの絵画作品では、ヴォーギング同様、風変わりでグラマラスな身体像が極端に描かれていることが多いですよね。VOUGE（雑誌）的思考や、ヴォーギングに在る身体性と『4 New Paintings』で発表した作品との関係性についてお話を伺えますか？</p>
				<p><span class="talker">MT__</span>私にとってVOUGE／ヴォーギングとは、ヨガやピラティスなどのフィットネスによって作られた年配の女性の身体であり、また特権の証でもあります。フィットネス、強さ、ハリ、スーパーフードなど、十分な時間とお金を持っている人だけが手に入れることができる、豊かな言語によって構成されたライフスタイルなのです。</p>
				<p>『4 New Paintings』で発表した絵画作品では、完璧な身体を実現するためのアイディアを生花、特に草月と呼ばれるフォーマットを引用して表現することを試みています。大根、有刺鉄線、バラ、車のバンパー、落ち葉や枯れ草など、草月は型にはまらずどのような素材でも使用することができます。また、使用する素材に応じて完成形の大きさも自由に決めることもできます。個展で発表したペインティングは比較的大きなものですが、作品に描かれている年齢に伴う身体的特徴、シミや皺、セルライトなどの「欠点」を、鑑賞者の方には近寄ったり離れたりしながら見てもらいたいなと思っていたので、その様な観点から草月のサイズや素材に囚われないアレンジメントの可能性に興味を持つようになりました。</p>
				<p>私は日本文化に見られる、視覚表現構造が好きです。例えば、盆栽のように、苗木を剪定し続けることで、無理やり長方形に育てようとする考え方とか。そこには、女性と身体の関係を反映したような高度なコントロール性が存在しています。例えば、年老いた女性の身体をコントールすることは難しいと思われがちですが、私はそれをキャンバスの狭い長方形の中で代替的に操作しています。生け花には、その姿が一番よく見えるための「ベスト・ポジション」があるそうです。生け花同様に、例えばビーチに出かけた時など、私たちは周囲に見られていることを前提として自分自身をアレンジ（活ける）することがあります。私たちは自分が一番よく見える位置を模索し、配置して、自分の存在を完璧にしようとします。私はこの「ポーズのポージング」（決めポーズ）が大好きです。これは、世界の中で自分をどのように位置付けているかを考えることでもあると思います。私にとって、この思想こそがVOUGEなんです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide01_sp.jpg" /></picture><span class="caption">Milly Thompson: Deep Vogueing, 2020, acrylic, gouache and ink on canvas, 284 x 200cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide02_sp.jpg" /></picture></span><span class="caption">Milly Thompson: Solarium Trope, 2020, acrylic and ink on canvas, 235 x 213cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide03_sp.jpg" /></picture><span class="caption">Milly Thompson: Rare Positioning, 2020, acrylic, ink and gouache on canvas, 130 x 150cm, 147 x 190cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide04_sp.jpg" /></picture></span><span class="caption">Milly Thompson: Temple Creation, 2020, acrylic, flashe, ink and gouache on canvas, 147 x 190cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide05_sp.jpg" /></picture><span class="caption">Milly Thompson: Saucisson Chiffonaire, 2011, Milly Thompson (solo show), mixed media (chiffon, balloons), dimensions variable, Caribic Residency, Lisbon, Portugal, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>ポージングといえば、トンプソンさんのアーティストとしての活動は大きく分けて2つの役に分けられると思います。1990年代初頭から10年間、ロンドンを拠点とするアーティスト・コレクティブBANKの一員として活動していたミリー・トンプソンと、BANK脱退の2003年以降、ペインターとして活動するミリー・トンプソンです。BANKは共同体という意識が強かったコレクティブだと伺いました、メンバー全員で一つの筆を持って同時に絵を描こうと試みたこともあったそうですね。片や、現在のトンプソンさんはビーチに横たわる女性や不自然なポージングをした裸婦像などをオイル・オン・キャンバスで描くペインターとして、伝統的なギャラリーシステムの中で作品発表を行っています。BANKのメンバーとして活動していた時のこと、BANK脱退の背景、そしてその対極にあるといっても過言ではない絵画という非常に個人的な芸術活動に専念することにした理由について教えていただけますか。</p>
				<p><span class="talker">MT__</span>BANKはまだFrieze<sup>*2</sup>がアートワールドで力を持つ以前の美術業界に反発するエキサイティングなコレクティブとして、その背景に存在していました。アートギャラリーの増加と、ギャラリーがビジネスとして確立していく様子を目の当たりにしていた当時の私たちは、アートバブルの訪れに何となく気がついていましたが。それまでは、「プロのアーティスト」になりたいという自分達の願望（エゴ）を戯言として茶化して活動していたのが、急にその願望が現実味を帯びてきたことを認めざるを得なくなったのです。</p>
				<p>BANKが面白かった点は共同作業にあります。私達はまるで全員で1人のアーティストであるかのように振る舞っていました。全ての作業を一緒にやることで、私たち個々の性質を1つの巨大な自我に吸収させようとしていたのです。その頃は、アーティストのプロ化の流れに逆らったような作品ばかり作っていて、当時のインスタレーションや彫刻作品はかなり投げやりなクオリティーのものでした。作品に書かれた／付随した言葉（ステートメント）、タイトル、プレスリリースがどのようにアート内で機能するかを考えるためにも、私たちにとっては重要な要素でした。</p>
				<p>私がBANKを去ったのは、自分自身の考えを見つけたいと思ったからであり、男性グループの中に（BANKのメンバーの他のメンバーは全員男性であった）埋もれてしまった「女性らしさ」を探したいと考えたからです。脱退後の2003年から、2011年にリスボンのCaribic Residency（ポルトガル）での展示『Saucisson Chiffonaire』を開催するまで、自身の作品に本当に満足できるような展示は出来ていませんでした。自分が何をしたいのかを理解するのに長い時間がかかり、その過程でビデオや版画を試してみたのですが、その何年もの間、迷ったり、コラボレーションに憧れたりなど、惨めな時間を過ごしていたことを認めざるを得ません。最終的には、自分の声を見つけることは出来たのだと思います。その結果、今は太陽に照らされた女性像が在る風景画を描いているのでないかと。</p>
				<p><span class="talker">IN__</span>BANKの活動内容は、同時期にニューヨークを拠点に活動していたアート＆ファッション・コレクティブ「Bernadette Corporation（バーナデット・コーポレーション）」（1994年設立）を想起させます。Bernadette Corporationはブラウン大学とコロンビア大学を卒業した若手作家のグループで、まるで本格的な企業のような活動をしていました。彼らはスーツを身に纏い、ブリーフケースを片手に、あたかもウォールストリート街に仕事に行くかのような格好をして毎日スタジオに通い、ファッションショーをしたり、精巧なエディトリアル写真を撮ったりしていました。BANKはイギリス人であるがゆえに、Bernadette Corporationと比べると、あまり洗練されていない、不機嫌なコレクティブだったかもしれませんが… アーティストであり美術評論家でもあるマシュー・コリングス（Matthew Collings）は、BANKを「不機嫌で、自己破壊的で、自意識過剰で、内省的な態度を持ち、批判的な知性と芸術システムの弱点を見抜く才能を併せ持っている」と評していますが、それは正確だと思いますか？</p>
				<p><span class="talker">MT__</span>はい、その通りです。</p>
				<p><span class="talker">IN__</span>Bernadette CorporationとBANKの間に共通点はあると思いますか？</p>
				<p><span class="talker">MT__</span>Bernadette CorporationとBANKの違いは、彼らは自意識的にかっこよくて、私たちは、かっこいいだけだったということですね。私が覚えている限りでは、当時の彼らと何の繋がりもありませんでした。彼らはとても 「ニューヨーク 」で、私たちはロンドンで局所的に活動していました。私はBernadette Corporationが作るものが好きでした。彼らは偽善の層や、プロテストや資本主義の周りを取り巻いている構造を観察するのが得意でしたが、BANKは「アーティストである」事をアートにすることに関心を持っていました。おっしゃる通り、 Bernadette はスーツを着てブリーフケースを持っていましたが、それとは対照的にBANKのスタジオは寒くて汚くて、私たちはオーバーオールに帽子、マフラーを作業着にしていましたし、スタジオはネズミなどの齧歯動物の巣になっていました。</p>
				<p><span class="talker">IN__</span>90年初頭にローンチされたFriezeが、BANKと同世代の若手アーティスト・コレクティブYBAs（ヤング・ブリティッシュ・アーティスト）を取り上げている様子をリアルタイムで目の当たりにしてどのように感じていましたか？ YBAsのアプローチ方法はBANKとは対照的にあるように思いますが。</p>
				<p><span class="talker">MT__</span>そうですね。YBAsの作家って、たぶん色々なカテゴリーに分けることができると思うんですよ。だって、例えばアーティストのアビゲール・レイノルズ（Abigail Reynolds）はYBAsの一員とされていたけれど、彼女の作品を見ただけではそれはわからないと思います。「YBA」という言葉には均質化されたエッジがありました。YBAsとは、単にグループをまとめるために付けられた名称だと思います。同じ同世代の若手アーティストとして、YBAsのことを当時はあまり意識していませんでした。YBAsメンバーの全員がアートでお金を稼ぐという考えを受け入れていたわけではありませんが、実際に彼らは成功し潤沢なお金を手に入れました。それも全てダミアン・ハースト（Damien Hirst）という素晴らしい興行主がいたからです。</p>
				<p>彼はとにかくお金を産むことに長けていた。ハーストの存在がYBAsとは何かを定義しています。これはあくまでも私が受けた印象ですが、YBAsのメンバーは当時から作品制作を外注していた傾向があります。当時はまだ、自分の作品を他人に作ってもらうという考え方は比較的新しいものでした。アメリカでは、ジェフ・クーンズが既にやっていましたが、彼は成功していたアーティストでしたし、外注するためには資金が必要であるというイメージもあったでしょう。</p>
				<p><span class="talker">IN__</span>若手アーティストの頃はお金がないはずなのに、どうして外注制作できる余裕があったのでしょうか？</p>
				<p><span class="talker">MT__</span>90年代初頭は、お金を払って何かをすることが非常に簡単でした。既製品を使ってアートを作ることは難しくなかったし、当時のロンドンの至る所に木工や金造屋があったので、素材も安く手に入りました。例えば、今でこそ巨大なスタジオで制作しているトレイシー・エミン（Tracey Emin）なんかは、自宅の寝室のテーブルの上で作品をつくっていました。自宅では細々した作業をして、ネオンチューブは外注制作する。他のYBAsアーティストも似たような感じだったと思います。当時、ホワイトチャペル<sup>*3</sup>のハイストリートにはネオンショップが沢山あって、ネオンはどこにでもある素材の一つだったので、それほど高価なものではありませんでした。あえて一般的によく使われている素材を作品に取り入れたことが、結果として彼らに有利に働いたのだと思います。</p>
				<p>YBAsアーティストの作品は、写真では高級に見えるものが多いと思いますが、実際にその当時の作品を間近で見てみると、写真ほどではありません。何故なら、あくまで当時の彼らが手に入る範囲の素材を使用して作られた作品だからです。例えば、ゲイリー・ヒューム（Gary Hume）がデュラックス<sup>*4</sup>のペンキを使って描いた絵を思い浮かべてみてください。彼のキャリアのきっかけとなった「Door Paintings」は、写真では完璧に見えるかもしれませんが、彼の初期の作品はキャンバスや板に描かれていたので、実際にはペンキが経年劣化して変色してしまっています。近年の彼の作品の支持体はアルミになっていますが、彼自身が描いているとは思えません。</p>
				<p>それからもちろん、ダミアン・ハーストは初期のチャールズ・サーチ（Charles Saatchi）に作品を買ってもらうことに成功しました。それは素晴らしいことす。ダミアンは魅力的な社交性を持ち合わせていたし、何よりサーカスのマスターを演じるのがとても上手かったのです。</p>
				<p><span class="talker">IN__</span>ハースト氏と面識があったのですか？</p>
				<p><span class="talker">MT__</span>ええ、挨拶する程度には。今は知りません。当時のロンドンのアートシーンはとても小さかったから、私たちはみんなお互いを認識していたし、ある程度プロとしてのジョークのような敵意があって、互いに喧嘩し合っていました。</p>
				<p><span class="talker">IN__</span>競い合っていたんですね...</p>
				<p><span class="talker">MT__</span>そんな感じです。実際にはBANKのメンバーは労働者階級ではなかったんだけど、その当時周りからは "プロの労働者階級 "だと言われていました。私たちは、適当にパーティに現れては、信じられないほど酔っ払って、本当に悪いことをしていただけの集団でした。実際、80年代後半から90年代前半のロンドンのアートシーンは、悪行と酔っぱらいによって定義されていたと思います。ほとんどのオープニングパーティーで、タダでお酒が飲めたので、オープニングをハシゴしていました。</p>
				<p><span class="talker">IN__</span>YBAsにもそういった破滅的な側面はあったように思います。1997年のターナー賞<sup>*5</sup>の討論会でのトレイシー・エミンの映像を見たのですが、夜な夜な友人と飲み歩いていたのか、泥酔した彼女は服についていたマイクを引きちぎって、「ママに会いに行くから」と出ていってしまいました。</p>
				<p><span class="talker">MT__</span>そうですね、YBAsはコレクティブとしてはかなり緩い集団で、各々が別々の目的を持っていました。YBAsがBANKと大きく違う点は、彼らは最初から「作品」を個々がソロのアーティストとして自分たちの名前で作っていたこと。それとは対照的に、BANKのメンバーは同じ筆を持って、時には一緒に絵を描いていた。ソロアーティストとしてのアイデンティティーがなくて、いつも4人か3人でした。BANKは有名になる程メンバーが脱退して行くコレクティブだったんです。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide06_sp.jpg" /></picture><span class="caption">BANK: Fax-bak (Greene Naftali Gallery), 1999, pen and ink on paper 8.6 x 11.125 inches, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide07_sp.jpg" /></picture><span class="caption">BANK: The BANK (#19), 1997, A4 photocopied magazine, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide08_sp.jpg" /></picture><span class="caption">BANK: Zombie Golf (invitation), 1995, Riso print on fluorescent paper, 210 x 297mm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide09_sp.jpg" /></picture><span class="caption">BANK: Group Empathy Painting, 1997, BANK (mixed media on canvas), size unknown, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>BANKは全てのことを一緒に取り組むことで、それぞれの自我を1つの大きなエゴに包合しようとしていたということですが、実際はどうだったのでしょうか？ アーティストは誰しも巨大なエゴを持っていると思いますし、特に白人のシスジェンダーでストレートな男性達に囲まれた唯一の女性アーティストメンバーとして、トンプソンさんに十分な発言力があったと感じましたか？</p>
				<p><span class="talker">MT__</span>発言力はあったけど、もっと強く叫ぶべきであったと思います。彼らが特に性差別的だった、というわけではなく、私自身、女性は舞台裏にいるべきとされた時代に育ったということが関係しているのだと思います。それ故、自分の意見を伝えるためには誰よりも大きな声を出す必要があることを小さい頃から痛感していました。</p>
				<p>BANKメンバー同士でよく喧嘩もしていましたね。私が思うに、BANKとは自意識が過剰だったゆえに、孤立していたように思います。それぞれが自分のことをダサくてカッコ悪いと考えている人たちの集まりだったんですよ。常に物事の蚊帳の外にいるように感じていました。ダミアン・ハーストやトレーシー・エミン、その他のYBAたちのことを考えると、彼らはみんな魅力的で自信に満ちていて、そういった彼らの雰囲気が、社会階級におけるアーティストの不利な点を補ってくれていたように思います。人々は彼らの周りにいたいと思っていたし、彼らが作る作品を手に入れたかったのです。</p>
				<p>一方、BANKメンバーはみんな野暮ったい感じで。だから、私たちにとっては、グループとして一緒に活動することで、自分たちの力だけでは得られなかったような自信を持つことができました。BANKのフロントメンバーであるという自信は、注目されると共に大きくなっていきました。</p>
				<p><span class="talker">IN__</span>トンプソンさんはBANKの中でも主要メンバーのように思っていたので、女性が舞台裏にいたという話は気になりました。ロンドンのMOTインターナショナル<sup>*6</sup>で開催されたBANKの展覧会「The Banquet Years」（2013年）で展示していた、墓場の前でメンバーがポーズをとっているモノクロプリントでは、トンプソンさんはその中心にいて、男性メンバーはその後ろに立っていましたよね。赤字で「Stop Stop short-changing us. Popular culture is for idiots. We believe in Art.（騙すのをやめろ。ポピュラーカルチャーはバカのためのものだ。私たちはアートを信じている。）」と書かれたプリントは黒と白と赤の3色で配色されていたため、ブロンディ<sup>*7</sup>のアルバムカバーと、情宣活動のポスターが合わさったかのようにも見えました。BANKには知的なエリート主義のようなものがあったと思いますか？</p>
				<p><span class="talker">MT__</span>私たちは間違いなくそういったコンテクストを弄していました。YBAs前のイギリスのアートは、上流階級の白人と少数の白人で構成されていました。全寮制の名門校出身か、もしくはアカデミックなバックグラウンドを持った人たちの集まりでした。BANKのメンバーには誰一人として学歴のある親がいなかったし、全員が包括的な学校に通っていたので、そういう上流階級のサークルとは関わりがありませんでした。</p>
				<p>80年代になると、人々の間で理論の話が出てきたり、テオドール・アドルノ<sup>*8</sup>の思想に興味を持ちはじめたり...　徐々に教育が開放されてきて、恵まれた環境で育ってこなかった人たちがアートの世界に参入することが可能になっていたように思います。私をはじめ、私の知り合いは皆、大学に行くのに助成金をもらっていたので、学費は無料でした。それはとても重要なことで、貧乏人でも大学に行けるようになったということを意味していました。特にYBAsが出てきてからは、アートは現実的で、職業的な学術としての意味合いを持つようになりました。そういった背景から、BANKはこの古臭いイギリスの特権について追求をしながら、上流階級が陶酔していた理論からも解放されたいと考えていたのです。アドルノではなく、自分たち独自のものを作りたかった。</p>
				<p><span class="talker">IN__</span>美術教育や、制作活動、アートに関与することを社会的な移動手段として捉えていたのですか？ 自分の地位を高め、上流階級や優遇されている人たちよりも優れていると感じるための方法としてアートと捉える節がありました？</p>
				<p><span class="talker">MT__</span>そうですね、それに関しては興味がありました。私はスレイド美術学校（The Slade School of Fine Art）の学部に通っていたのですが、あそこで過ごしていた時間、自分が何も学んでいないような気がしていました。だからBANKでの時間は、アーティストになることを本当の意味で学んだ場所でした。私にとっては修行の場だったんです。</p>
				<p><span class="talker">IN__</span>トンプソンさんの話を伺いながら、1980年代にジェフ・クーンズが発表した『Equilibrium』シリーズを思い出しました。このシリーズの1つで、バスケットボールを浮かべた水槽とナイキのポスターを並べて展示したものがありましたよね。ポスターは黒人スポーツ選手をフィーチャーしたナイキの広告で、クーンズ氏はこれを「あなたを陥れるセイレーン<sup>*9</sup>」と説明していました。企業がバスケットボール（そしてスポーツ全般）を黒人の若者の社会的流動性の象徴として売り込むことと、白人の中流階級の子供たちが社会階級を上げるための手段としてアートを利用していた現実を反映していました。この作品の影響を受けたことはありますか？</p>
				<p><span class="talker">MT__</span>はい。クーンズの初期の作品が大好きだったので。ナイキのポスターはとても良かった。後に発表した、裕福な白人の余暇活動のシンボルであるインフレータブル・ボートやスキューバに欠かせない、潜水用呼吸装置の間抜けなブロンズ像を作ったことで帳消しになってしまいましたが。私がクーンズを面白いと思うのは、彼の広告的背景と、良い広告が持つ上質なレイヤーを複雑な「アートメッセージ」に上手く組み込んでいるところです。彼の作品はとても直接的なのに、鑑賞後にメッセージを読み解こうとすると、それが非合理で行き場が無いことに気づくのです。セイレーンの話は非常に興味深いですね。白人男性優位の上流階級アート界の中でゆっくりと浸透しているセイレーンは一体誰なのでしょうか？</p>
				<p>ケイト・ソーパー（Kate Soper）という素晴らしいイギリス人の哲学者がいて、彼女は資本主義と経済成長の必要性を方程式から外したらどうなるかについて書いています。「私たちは自分のエネルギーを、自分たちの面倒を見ることに使う必要がある。」、教育を仕事（労働）のための職業訓練として使うのではなく、教育は頭で考えたり、想像力を働かせたりするための訓練として在るべきだということです。アーティストはギャラリストが存在しなくても成立するはずですが、ギャラリーはアーティストが存在しないと成り立ちません。しかし、Frieze／ハースト以降、アーティストよりもギャラリーの方が力を持つようになってきました。これは、ソーパーが脱成長のシナリオを推測する上で問題にしていることの一部です。もし、経済成長に関与することのない社会的にアウトレとされる場所が実存したとしたら、現在のギャラリーというフォーマットはどうなっていくのでしょうか。</p>
				<p><span class="talker">IN__</span>アーティストよりもギャラリーの方が力を持っているという話ですが、アメリカのアーティスト、デヴィッド・ハモンズ（David Hammons）についてはどう感じますか？ 最近、ベルリン在住の批評家マーテイン・ハーバート（Martin Herbert）が書いたハモンズに関するエッセイを読んだのですが、ハモンズはロンドンのThe White Cubeにて2014年に個展を開催した際に、ギャラリーと交渉して彼に有利な90/10の割合を提示したそうです。</p>
				<p><span class="talker">MT__</span>うわぁ...それはすごいですね。デヴィッド・ハモンズは作品のクオリティーを落とす事なく政治的なアジェンダを打ち砕いていく作家の素晴らしい例です。彼の作品には強い存在感と進歩的なサーフェスがあって、鑑賞していてとても楽しめます。また、ギャラリーと割合交渉することが可能なポジションにいる数少ないアーティストの1人だと思います。何故ならば、今ギャラリー業界はストレートの白人男性以外のアーティストを獲得する為に互いに競っているような印象がありますし。ダミアン・ハーストもデヴィッド・ハモンズ程の割合ではありませんが、似たような交渉をしたという話を聞いたことがあります。彼がしたことはイギリスの美術業界をいい方向に変えてくれたように思いますし、それは素晴らしいことですが、今の彼の作品はつまらないですよね。</p>
				<p><span class="talker">IN__</span>ダミアン・ハーストの初期の作品は素晴らしいと思います。ジェフ・クーンズの初期の作品も素晴らしいと思っていましたが、今の彼らの作品は非常に退屈に感じてしまいます。一方、ハモンズ氏は何十年も業界のトップにいるにも関わらず、コンスタントに面白い作品を発表しますよね。ハースト氏やクーンズ氏の今の作品をつまらないと感じてしまうのは、初期の彼らの作品の多くは向上心をテーマにしていて、作品を通して社会的にも経済的にも上に行こうとする自意識を持っていたことが関係しているのかもしれません。今では2人とも山の頂上にいて、これ以上高くなることはあり得ないでしょう。上に行きたいという向上心がなくなってしまったんですね。</p>
				<p><span class="talker">MT__</span>そうですね、今の彼らの立場で初期のような作品を作ることはとても難しいでしょうね。今、ジェフ・クーンズがバスケットボールを水槽に浮かべたシリーズをプロデュースしていたらと想像してみてください。現在の彼のキャリアを考慮すると、あの作品のような政治的なスタンスを取ろうとするのは、ちょっと卑劣に見えてしまうかもしれません。</p>
				<p>最後に彼の作品で良かったのは、2008年にヴェルサイユ宮殿で開催された個展で、マリー・アントワネットの寝室に彼のフーバーの彫刻が展示されていたものだと思います。今のジェフ・クーンズのポジションを加味した上で、素晴らしい作品でした。あの作品は、とてつもなく裕福な人が作った女性の仕事をテーマにした作品が、自分の仕事を全うせず首を切られ退位した王妃の寝室に置かれているのです。</p>
				<p><span class="talker">IN__</span>BANKが行なった制度批判への活動は、喜びや快楽という概念に反発しているように思えます。何かを受け入れたり、リラックスしたりすること、単に楽しむというとは、降伏や諦めの意味合いが含まれると考えていたからかなと思います。つまりは「システムとの戦い」ということだったのではないでしょうか。ジェフ・クーンズについてお聞きしましたが、彼の初期の作品は、異なる社会的・経済的システムの中で芸術がどのように機能しているかを浮き彫りにすることを目的としていて、クーンズはそれを完全に受け入れ、賞賛しています。クーンズの作品を通してそのシステムに反発するという意図はないように見受けられます。</p>
				<p><span class="talker">MT__</span>確かに、その考え方は面白いですね。快楽は弱さとして見られることが多いと思いますが、それは快楽が女性の身体と結びついていることが多いからではないかと思います。私がBANKに持ち込んだものの1つは、物心や特有の感性だったと思います。だから、お互いに作ったり、一緒にいたりすることに、集団的な喜びがありました。ユーモアもたくさんありました。白と黒のポスターがブロンディのアルバムカバーのように見えたと先ほど言っていましたが、私たちは、男性メンバーの前に女性が1人立っているというフォーマットで遊んでいた意図が間違いなくありました。BANKの他のメンバーは陽気な人たちだったし、私たちはとても楽しい時間を過ごしましたが、快楽とは何かについて当時は考えていなかったと思います。</p>
				<p>あなたの言う通り、快楽は柔な感情として見られることが多いし、降伏や安息の概念に関連していると考えられています。私は、政治とか世界を支配するとかそんな重要なこととは無縁ですが、快楽は政治的にも非常に興味深いものだと思います。数年前に見たアーティストのペニー・アーケード（Penny Arcade）のパフォーマンスで彼女は「快楽は急進的な価値観だ」と言っていました。アーケードは「CCTVカメラは私たちの頭の中を覗くことはできない。私たちはまだ権力者の目の届かないところで自分の考えや感情を楽しむことができる」という事について話していました。もし私がこのパフォーマンスをBANKで活動していた時に見ていたら、影響を受けていたと思います。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide10_sp.jpg" /></picture><span class="caption">BANK: The Banquet Years (installation shot), BANK, 2013, solo show, Elaine MGK, Museum für Gegenwartskunst, Basel, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide11_sp.jpg" /></picture><span class="caption">BANK: The Banquet Years (relics and invites), 2013, solo show, Elaine MGK, Museum für Gegenwartskunst, Basel, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide12_sp.jpg" /></picture><span class="caption">BANK: BANK, 1999, Studio allegory, photograph, dimensions variable, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide13_sp.jpg" /></picture><span class="caption">BANK: Stop short changing us. Popular culture is for idiots. We believe in art, 1998 (A6 invitation card), solo show, Gallery Poo Poo, London, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>そうですね、自分の頭で考えていることの中には過激なものはありますし、物事を批判したり、ノリノリでバカなことをしたり、自分がやりたいように行動することは過激なことです。先ほど、トンプソンさんが、セルライトやシワといったステレオタイプの「欠点」を強調するために、草月の概念を引用して女性の身体を巨大な「静物」として描くということを伺って、2002年にラッパーのエミネムの半自叙伝、映画『8 Mile』のラップバトルのシーンを思いだしました。あのラップバトルのシーンで印象的だったのは自分の強さを誇示して、対戦相手を怖気付かせて勝つというバトルのマッチョなデフォルトの中でエミネムは自分自身の弱点を晒すことで、相手に何も言わせないという手法でした。自分の欠点を武器にして、無力化することで相手を負かすということです。</p>
				<p><span class="talker">MT__</span>それについては考えたことがなかったけど、面白い観点ですね。どのように自分に力を与え、その力を使って何ができるのかという問題は重要なことだと思います。私は普段見ることのない（見たくないと一般的に思われている）中高年の女性の仮面を剥ぎ取った姿を大きなキャンバスに描いて、間近で見てもらうことに興奮します。身体的な欠点は醜いという先入観が少なくとも私たちには埋め込まれていると思います。私はこれらをギャラリーで展示して、見せつける事を楽しんでいます。</p>
				<p>アメリカのフェミニスト学者、ダナ・ハラウェイ（Donna Haraway）の講演を実際に見たことがある人は、彼女の特徴的な笑い方が印象に残っているのではないでしょうか。ハラウェイは大きなポニーテールに奇抜な格好をしていて、真面目な学術的な話を笑いながら心底楽しそうに話します。男性の学者が自分の学術的な話を笑いながらしているのはあまり見たことがありません。個人的に、彼女の講義を理解するのは難しいのですが、彼女を見ていると理解できているかどうかはそこまで重要ではないような気がしてきます。なぜなら、ハラウェイそのものが、私が憧れている姿だからです。彼女は、自分自身を楽しみ、自分の考えを楽しんでいる年上の女性の、独創的でエキセントリックな姿なのです。</p>
				<p><span class="talker">IN__</span>笑いながら話すのは、彼女の意図的なテクニックなのでしょうか？</p>
				<p><span class="talker">MT__</span>もしかしたら、テクニックなのかなとも思ったりしました。あるトークを見たんですが、彼女は最初からずっと笑っているんですよね。緊張しているのか、それとも自分に自信があって、単純に、議論について考えるのが楽しくて笑っているのかもしれません。</p>
				<p>女性アーティストとして思うのは、自分のやりたいことがあれば、それに情熱を持って取り組まないといけないということです。情熱を受け止めて、貫かなければならない。男の人たちは、興味深い抽象芸術や具象芸術の話をしたりしながら、チンコを出してオナニーをしている方がずっと簡単なのでしょうね。何故なら、彼らには歴史という後ろ盾がある。私たちは女性の画家として、歴史を自分達で作っていく必要があります。だから、臆病な人は臆病な人らしく、臆病なアートを臆病に作っていてください。特に女性アーティストは、すべてを兼ね備えて、自分らしさを極限まで突き詰めていかないといけないと思うんです。それがダナ・ハラウェイの得意とするところですね。</p>
				<p><span class="talker">IN__</span>真面目な女性学者が自分の学術論を笑いながら話しているというのはとても面白いですね。ある意味では、先ほどお話した「8マイル」でのエミネムの自分の弱点をさらけ出すことで相手を無力化するテクニックにも通じるものがあるのではないでしょうか。女性学者の学術論を笑い飛ばしたり、受け入れようとしないのは、特に男性に多い節があるように感じます。だから、彼女が意識しているかどうかは別として、話をしているときに、すでに自分自身を笑っていることは、自身も相手も武装解除させる意図があるのではないでしょうか。だけどハラウェイの場合は、笑って話すことを彼女に対する嘲笑に対する潜在的な武器として使っているというよりも、単純に自分の話が楽しくて仕方がないという感じだと思いますが。だけど、それを見ている人からすると不思議ですよね。</p>
				<p><span class="talker">MT__</span>ハラウェイの話から、マーサ・ロスラーについて聞いた話も思い出したのですが。私の友人が10年か15年ほど前にトルコのイスタンブールで開催したビエンナーレに参加した時のことです。彼はロスラーが出席していたディナーパーティーにプラスワンとして参加したらしいのですが、どうやらロスラーは自家製のパンを持参して現れたそうです。（笑） そのパンをテーブルの上に出してウェイターの人にパン切りナイフを持ってくるよう頼んだそうです。そして、そのパンを切り分けて大きなカゴに入れて、みんなに差し出したらしくて。その様子が「ここのクソみたいな白パンを私は食べたくないから、自家製のパンを食べます。」と言っているみたいで、周りが一瞬凍ったそうです。笑</p>
				<p>次の日、彼は彼女が出演しているパネルディスカッションを見に行ったのですが、ステージ上にはロスラーの他に男性パネラーが座っていたそうです。ディスカッションが始まる直前、ロスラーは突如編み物を始めたらしく、その結果、他の出演者が何を話しているのか、誰も集中できなかったそうです。彼女が編み物をしている姿で会場は混乱し、ディスカッションは滅茶苦茶になったらしくて。</p>
				<p>これは、潜在的にフェミニズム的なジェスチャーとして面白いと思います。例えば、編み物などの工芸品を女性の受け身のジェスチャーではなく、誇れるものとして考えること。そういった概念のシフトは今、かなり多く起こっていると思います。</p>
				<p><span class="talker">IN__</span>トンプソンさんにとって、視認性というのは大きな関心の1つのようですが、それは何故でしょうか？ 2012年のマリア・ラポソ（Maria Raposo）とのインタビュー内で、「自分が書いたり、作ったりするものを人に見られるという事に、とても抵抗がありました。責任が分散される事で自分の存在が薄れる、コラボレーションという形式に憧れがあります。」と発言していましたが、その当時に比べて今は「見られる」という事に対しての抵抗は少なくなりましたか？ ここ数年のトンプソンさんの作品を見ていると「恐れていることとは逆のことをする」というアプローチをとっているように感じます。例えば、トンプソンさんのウェブサイトのプロフィール画像が素足の写真だったり、『4 New Paintings』のポスターには、ビキニ姿でビーチに横たわっている白黒写真を使っていましたよね。</p>
				<p><span class="talker">MT__</span>パートナーに「人見知りはエゴだ」と言われて以来、自分を乗り越えようとしてきました。私の世代は本当に最初のインターネット世代ですが、私たちの多くはソーシャルメディアが精神に侵食していることに対して苦労してきたと思います。プライベートな社会から、非常にパブリックな社会へと移行することに、折り合いをつけなければなりませんでした。だから今は周りと同じように自分が持っているものを見せています。</p>
				<p>実はこの足は私のものではなく、Caribic Residencyを運営しているキュレーターの1人の足なのです。Caribic Residencyで展示したソーセージの風船も、彼女の足も性的なものです。今の私は、自分のパブリック・ペルソナをコントロールすることに、真夏のビーチでヤシや松の木陰で過ごすほど興味が持てないのです。</p>
				<p><span class="talker">IN__</span>まだやっていないことで、今後やってみたい事、または現在取り組んでいる事などはありますか？</p>
				<p><span class="talker">MT__</span>私が子供の頃、ファラ・フォーセット・メイジャース<sup>*10</sup>（Farrah Fawcett Majors）がスキューバダイビングのコスチュームを着て、ラムスネイビーラム<sup>*11</sup>の広告キャンペーンをやっていました。スキューバダイビングができるような肉体には、若々しさがあり、完璧でカッコいい身体に見えます。例えば、最近よくジムウェア（レギンスにブラトップ）みたいな感じで、完璧な身体ありきのファッションを見かけますが、そんな感じです。</p>
				<p>ジェフ・クーンズの『Aqualung』でのスキューバダイビングは、裕福な中流階級の娯楽というコンテクストとしてあるかもしれませんが、ラムスネイビーラムの広告の影響も、もしかしたらあるのかもしれません。今後、私の年上の友人2人と一緒に、ファラ・フォーセットの広告のオマージュをやろうと思っています。1人はサッカーをしていて、もう1人はボートをやっているので、良い体をしているのですが、あの時のフォーセットに比べるとまだまだです。オマージュの中で彼女たちはスキューバの格好をした女性になり、生け花における素材の一つとして機能します。イメージ作りは私にとって大切な事で、シミなどをモチーフとして繰り返し使っていくことで、グラフィックな感覚に近づいてきているのか、それらが段々おばあちゃんの絵文字のように見えてくるようになりました。</p>
				<p>最近はスコットランドのヘルムスデールにあるTimespan<sup>*12</sup>（タイムスパン）で去年開催した展示のために作ろうとしていた、出版物にも取り組んでいます。この本は様々な「専門家」に年配の女性が更年期になると「輝き」が失われるというとんでもない定説についてインタビューしているシリーズになります。私が更年期になった時に処方されたシャタバリという漢方薬があったのですが、それを材料にした香水を作ろうとしていたのですが、それ使えば、閉経前の女性の「輝き」は取り戻せるのか。そもそも、その「輝き」とは一体何なのか？ という事について興味があったので、そのようなインタビューをしようと考えました。この本には、私が制作したヘルムズデールの小さな村で楽しそうに過ごしている年配の寮母さん達を写した写真作品も掲載されています。私は彼女たちの笑顔が大好きです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/009/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/009/img/slide14_sp.jpg" /></picture><span class="caption">Milly Thompson, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">*1</dt>
					<dd class="desc">ロイヤル・アカデミー・オブ・アーツは、イギリス・ロンドン中心部のピカデリーにある国立美術学校。美術館が併設されている。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*2</dt>
					<dd class="desc">Friezeは1991年に現代美術雑誌として設立され、Frieze Art Fairの運営も行なっている。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*3</dt>
					<dd class="desc">ホワイトチャペルはロンドンのイーストエンドに位置する地域。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*4</dt>
					<dd class="desc">デュラックスはオーストラリアの塗料メーカー。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*5</dt>
					<dd class="desc">ターナー賞は50歳以下のイギリス人もしくはイギリス在住の美術家に対して毎年贈られる賞。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*6</dt>
					<dd class="desc"><a href="https://motinternational.com/" target="_blank" rel="noopener noreferrer">MOTインターナショナル</a>はロンドンにあるギャラリー。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*7</dt>
					<dd class="desc">ブロンディはアメリカのロックバンド。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*8</dt>
					<dd class="desc">テオドール・アドルノはドイツの哲学者、社会学者、音楽評論家、作曲家。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*9</dt>
					<dd class="desc">ギリシャ神話のセイレーン。半人半鳥の海の妖精で、近くを通る船の船員をその甘い歌声で誘惑し、自分の座る岩に座礁させてしまうとされる。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*10</dt>
					<dd class="desc">ファラ・フォーセット・メイジャースは、アメリカの女優・モデル。フォーセットは1970年代のポップ・カルチャーの肖像、およびセックスシンボルとして有名。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*11</dt>
					<dd class="desc">ラムスネイビーラムはラム酒の銘柄。</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*12</dt>
					<dd class="desc">Timespanはスコットランドにある文化施設。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">ミリー・トンプソンは、絵画とミクストメディアとテキストを組み合わせた作品を制作しているロンドン在住のイギリス人アーティストである。近年、トンプソンは「年配の女性」に焦点を当て日本の生け花のフォーマットを用いて絵画作品を発表している。彼女の作品で使用される「年配の女性」とうコンテクストは決して社会的に軽視されがちな彼女たちを悲観するのではなく、むしろ賞賛するためのものとしてあるとトンプソンは語る。</dd>
					<dd class="desc">トンプソンは1994年から2003年までイギリスで活動していた、アーティスト集団BANKに所属し、BANKの自身のギャラリーであるGallery Poo Poo Pooや、Tate Modern、ICA、Whitechapel Galleryなどの様々なギャラリー、美術館で作品を発表してきた。2003年にBANK脱退以降の主な展覧会にPeer UK、Focal Point Gallery、South London Galleryなど。最近の個展には、「4 NEW PAINTINGS」（2020年）、「Milly Thompson, NEW PAINTINGS」（2019年）＠Freehouse、「Still Same Sexy」＠Ruby Cruel（2020年）、「The Moon, the Sea &amp; the Matriarch」（2019年）＠Timespan Instituteなどがある。Focal Point Gallery（ロンドン）が運営する「Save Southend-on-Sea Central Library」（2009年）と「BOGOF」（2016年）をはじめとするプロジェクトとのコラボレーションや「Alison Jones &amp; Milly Thompson C21ST RECENT HISTORY」（2016年）など、さまざまな出版物も手がけている。</dd>
					<dd class="desc">トンプソンはゴールドスミス研究賞を6回受賞しているほか、アーツカウンシル・オブ・イングランドのアーティスト賞とエレファント・トラスト賞を2回受賞、ブリティッシュ・スクール・アット・ローマのサルガント賞とポール・ハムリン財団賞を受賞している。<br>また、BANKの作品は、TATE、ブリティッシュ・カウンシル、MOMA NY、プリンテッド・マターNYなど、様々なパブリック・コレクションに収蔵されている。</dd>
					<dd class="desc">過去15年間、ゴールドスミス大学のMFAレベルとRCAの絵画プログラムで教鞭をとった。<br>ロンドンの芸術大学スレード・スクール・オブ・ファイン・アートで絵画の学士号を取得。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://millythompson.co.uk" target="_blank" rel="noopener">https://millythompson.co.uk</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">インディア・ニールセン</dt>
					<dd class="desc">インディア・ニールセンはロンドンを拠点に活動するイギリス人アーティストである。スレード美術大学でファインアートの学位を取得後、ロイヤルカレッジオブアートに進学し、絵画科の修士号を取得した。主な展覧会に『Seer Kin Lives』ジャックベルギャラリー（ロンドン）がある。大学院を卒業以降はアーティストのIda Ekbladに従事した。また2019年にはthe a-n art Writing Prizeにノミネートされるなど、作家以外の活動も多岐に渡る。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

