body {
	font-family: $font-family;
	font-weight: 500;
	min-width: 320px;
	color: color(text);
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: #b9f726;
	// color: color(white);
}

a {
	color: color(link);
	@include overTablet {
		&:hover {
			text-decoration: none;
		}
	}
	&[href^="tel:"] {
		@include overTablet {
			pointer-events: none;
			color: color(text);
			text-decoration: none;
		}
	}
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* Lazyload
------------------------------------------ */
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}
