/* transition
------------------------------------------ */
@mixin trs {
	transition: all 0.3s ease;
  }

//@mixin fz($size)
//==================================================
@mixin fz($size:16, $lh:26, $important:false) {
	@if $important {
		font-size: ( $size / 16 ) * 1rem !important;
		line-height: $lh / $size !important;
	} @else {
		font-size: ( $size / 16 ) * 1rem;
		line-height: $lh / $size;
	}
}

//@mixin fzvw($size)
//==================================================
@mixin fzvw($size, $lh) {
	font-size: ($size / width(max) * 100vw);
	line-height: ($lh / width(max) * 100vw);
}

//@mixin fzvw_sp($size)
//==================================================
@mixin fzvw_sp($size, $lh) {
	font-size: ($size / width(sp) * 100vw);
	line-height: ($lh / width(sp) * 100vw);
}

//@mixin trc($tracking)
//==================================================
@mixin trc($tracking) {
	letter-spacing: ($tracking / 1000 ) + em;
}

//@mixin fontModifiers
//==================================================
@mixin fontModifiers {
	& {
		@include fz(14,22);
		@include overTablet {
			@include fz(16,26);
		}
	}

	// &.-xxs {

	// }
	&.-xs {
		@include fz(10,18);
		@include overTablet {
			@include fz(10,22);
		}
	}
	&.-s {
		@include fz(12,20);
		@include overTablet {
			@include fz(12,22);
		}
	}
	&.-m { // Default
		@include fz(14,22);
		@include overTablet {
			@include fz(16,26);
		}
	}
	&.-l {
		@include fz(18,26);
		@include overTablet {
			@include fz(20,30);
		}
	}
	&.-xl {
		@include fz(20,28);
		@include overTablet {
			@include fz(26,36);
		}
	}
	&.-xxl {
		@include fz(24,32);
		@include overTablet {
			@include fz(36,46);
		}
	}

	&.-muted {
		color: color(muted);
	}
	&.-gray {
		color: color(darkgray);
	}
	&.-atten {
		color: color(atten);
	}
	&.-white {
		color: #fff;
	}
	&.-primary {
		color: color(primary);
	}
}
@mixin fzxs {
	@include fz(10,18);
	@include overTablet {
		@include fz(10,22);
	}
}
@mixin fzs {
	@include fz(12,20);
	@include overTablet {
		@include fz(12,22);
	}
}
@mixin fzm {
	@include fz(14,22);
	@include overTablet {
		@include fz(16,26);
	}
}
@mixin fzl {
	@include fz(18,26);
	@include overTablet {
		@include fz(20,30);
	}
}
@mixin fzxl {
	@include fz(20,28);
	@include overTablet {
		@include fz(26,36);
	}
}
@mixin fzxxl {
	@include fz(24,32);
	@include overTablet {
		@include fz(36,46);
	}
}
@mixin h1 {
	@include fzvw_sp(100,100);
	@include overTablet {
		@include fzvw(74,74);
	}
}

//@mixin PDF ICON
//==================================================
@mixin pdfIcon {
	&[href$="pdf"]:after,
	&[href$="pdf"][target]:after {
		content: "PDF";
		display: inline-block;
		margin-left: 4px;
		@include fz(10,18);
		min-width: 40px;
		height: 18px;
		padding: 0 16px 0 6px;
		border-radius: 4px;
		text-align: center;
		color: color(white);
		background-color: color(primary);
		vertical-align: 1px;
		white-space: nowrap;
		text-decoration: none;
		background-repeat: no-repeat;
		background-position: right 6px center;
		background-size: 6px 8px;
		background-image: url(../img/common/ico_file.svg);

		@include overTablet {
			min-width: 54px;
			@include fz(11,18);
			padding: 0 22px 0 10px;
			margin-left: 8px;
			background-size: 8px 10px;
			vertical-align: 2px;
		}
	}
}
@mixin removePdfIcon {
	&[href$="pdf"]:after,
	&[href$="pdf"][target]:after {
		content: none;
		display: none;
	}
}

//@mixin mobile/tablet/pc
//==================================================
@mixin sp {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin pc {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin underNarrow {
	@media screen and (max-width: 359px) {
		@content;
	}
}

@mixin underTablet {
	@media screen and (max-width: 767px) {
		@content;
	}
}
@mixin underPc {
	@media screen and (max-width: 1023px) {
		@content;
	}
}

@mixin underWide {
	@media screen and (max-width: 1279px) {
		@content;
	}
}

@mixin overNarrow {
	@media screen and (min-width: 360px) {
		@content;
	}
}

@mixin overTablet {
  @media screen and (min-width: 768px) {
		@content;
	}
}

@mixin overPc {
  @media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin overWide {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin narrowToTablet {
  @media screen and (min-width: 360px) and (max-width: 767px) {
		@content;
	}
}
@mixin narrowToPc {
  @media screen and (min-width: 360px) and (max-width: 1023px) {
		@content;
	}
}
@mixin narrowToWide {
  @media screen and (min-width: 360px) and (max-width: 1280px) {
		@content;
	}
}

@mixin tabletToPc {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
		@content;
	}
}

@mixin tabletToWide {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
		@content;
	}
}

@mixin pcToWide {
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
		@content;
	}
}



@mixin landscape() {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin portrait() {
	@media (orientation: portrait) {
		@content;
	}
}


// COLOR
//==================================================
// ex) map-get($colors,text);


//@mixin e($name)/m($name)
//==================================================
@mixin e($name) {
	@at-root &__#{$name} {
		@content;
	}
}

@mixin m($name) {
	@at-root &--#{$name} {
		@content;
	}
}

//@mixin imgreplace
//==================================================
@mixin imgreplace {
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
	word-wrap: normal;
}


//@mixin clearfix
//==================================================
@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
		height: 0;
	}
}

//@mixin WebFont
//==================================================
@mixin AcuminEL {
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 200;
	font-style: normal;
}

@mixin AcuminL {
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin AcuminR {
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin AcuminM {
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 500;
	font-style: normal;
}

@mixin notoSansL {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin notoSansR {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin notoSansM {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	font-style: normal;
}
