.index-textile {
	& {

	}

	> .inner {

		> .text {
			position: relative;
			width: 100%;
			height: (360 / width(sp) * 100vw);
			text-align: center;
			@include overTablet {
				width: (480 / width(max) * 100vw);
				height: (380 / width(max) * 100vw);
			}

			.title {
				padding-top: (100 / width(sp) * 100vw);
				padding-bottom: (20 / width(sp) * 100vw);
				@include AcuminR;
				@include fzvw_sp(48,48);
				color: color(white);
				@include overTablet {
					padding-top: (158 / width(max) * 100vw);
					padding-bottom: (16 / width(max) * 100vw);
					// @include fz(16,24);
					@include fzvw(16,24);
				}
			}

			.link {
				@include fzvw_sp(24,24);
				@include overTablet {
					// @include fz(12,20);
					@include fzvw(12,20);
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 16px;
				right: 16px;
				width: 12px;
				height: 10px;
				background-image: url(../img/common/ico_blank-white.svg);
				opacity: 0.5;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 12px 10px;
				@include overTablet {
					top: 10px;
					right: 10px;
				}
			}
		}

		> .image {
			width: 100%;
			height: (400 / width(sp) * 100vw);
			background-image: url(../img/index/bg_japanese_textile.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center right;
			@include overTablet {
				width: (800 / width(max) * 100vw);
				height: auto;
			}
		}
	}
}
