.index-section {
	& {
		max-width: width(max)+px;
		margin: 0 auto;
		padding: 0 (40 / width(sp) * 100vw);
		@include overTablet {
			padding: 0 60px;
		}
	}

	> .inner {
		// @include overTablet{
		// 	display: flex;
		// 	justify-content: space-between;
		// }

		> .text {

			> .title {

			}

			.link {
				@include fz(12,20);
				color: color(mediumdarkgray);
			}
		}
	}
}
