.index-latest {
	& {

	}



	.latest {
		padding: 58px 0;
		@include overTablet {
			padding: 90px 0;
		}

		> .header {
			margin-bottom: 26px;
			@include AcuminR;
			@include fz(24,24);
			@include overTablet {
				margin-bottom: 0;
				@include fz(40,68);
			}
		}

		> .date {
			margin-bottom: 8px;
			@include AcuminL;
			@include fz(16,16);
			@include overTablet {
				margin-bottom: 0;
				@include fz(24,42);
			}
		}

		> .title {
			@include AcuminR;
			@include fz(18,28);
			@include overTablet {
				@include fz(32,56);
			}
		}
	}
}
