{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'about',
    lang: 'en',
    title: "ABOUT",
    description: "imlabor is an artist collective founded in 2017, organizing exhibitions that involve emerging artists.",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "ABOUT",
                "item": ""+ site.url +"/about/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<section class="page-section">
    <div class="inner">
        <div class="text">
            <p>imlabor is an artist collective founded in 2017, organizing exhibitions that involve emerging artists. 2×2x2 is a project space located in Tokyo open since March 2020, run by imlabor.</p>
            <p>Any inquiries, please contact <a href="mailto:info@imlabor.org" target="_blank" rel="noopener">info@imlabor.org.</a></p>
        </div>
    </div>
</section><!-- /.pege-section -->
{% endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}
