{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'top',
    lang: 'jp',
    title: "",
    description: "",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="index">
    <a href="{{ site.rootJP }}journal/interview/023/">
        <picture><source srcset="{{ site.root }}journal/interview/023/img/bg-top_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/bg-top_sp.jpg" /></picture>
        <div class="inner">
            <div class="info">
                <div class="label">NEW</div>
                <p class="tag"><span class="category">INTERVIEW</span><span class="date">October 11, 2024</span></p>
            </div>
            <h2 class="title">Interview with: <br class="_pc _tb">青木 陵子</h2>
        </div>
    </a>
<!-- /.index-kv --></div>

{# <section class="page-section">
    <div class="inner -full">
        <h3 class="header -latest">NEWS</h3>
        <dl class="index-news-list">
            <dt class="date">5 December, 2020</dt>
            <dd class="content"><a href="http://xyzcollective.org/current.html" target="_blank" rel="noopener noreferrer">アーティストランニングフェスティバル 2020に参加します。</a></dd>
            <dt class="date">1 December, 2020</dt>
            <dd class="content"><a href="https://misakoandrosen.jp/exhibitions/20/07/" target="_blank" rel="noopener noreferrer">NADA Miami / TOKYOに参加します。</a></dd>
        </dl>
    </div>
</section> #}
<section class="page-section">
    <div class="inner -full">
        <h3 class="header -latest">JOURNAL</h3>
        <div class="c-column">
            {% for item in articles_jp.journal %}
                {% if loop.index <= 3 -%}
                    {% include '_partials/_c-article.njk' -%}
                {% endif -%}
            {% endfor %}
        </div>
        <div class="c-button"><a class="link" href="{{ site.rootJP }}journal/">SEE ALL</a></div>
    </div>
</section>
<section class="page-section">
    <div class="inner -full">
        <h3 class="header -latest">2 x 2 x 2</h3>
        <div class="c-column -twoby">
            {% for item in articles_jp.twoby %}
                {% if loop.index <= 3 -%}
                    {% include '_partials/_c-article.njk' -%}
                {% endif -%}
            {% endfor %}
        </div>
        <div class="c-button"><a class="link" href="{{ site.rootJP }}twobytwobytwo/">SEE ALL</a></div>
    </div>
</section>
<section class="page-section">
    <div class="inner -full">
        <h3 class="header -latest">CURATION</h3>
        <div class="c-column">
            {% for item in articles_jp.curation %}
                {% if loop.index <= 3 -%}
                    {% include '_partials/_c-article.njk' -%}
                {% endif -%}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}
