{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__001: Felix Treadwell",
    description: "Born in the UK in 1992, Felix Treadwell represents one of the leading artists of a new generation of British art today. In this interview, we asked him about the new paintings he is presenting at our project space ‘2x2x2’ and his future artistic plans.",
		ogimage: "https://imlabor.org/journal/interview/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "001",
                "item": ""+ site.url +"/journal/interview/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="interview"></div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "001"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -chat">
				<p class="lead">Born in the UK in 1992, Felix Treadwell represents one of the leading artists of a new generation of British art today. After completing his BA at the Comberwell College of Arts, Treadwell studied painting at the Royal College of Art, graduating in 2018. In this interview, we asked him about the new paintings he is presenting at our project space ‘2x2x2’ and his future artistic plans.</p>
				<p class="left"><span class="talker">IM LABOR__</span>First of all, thank you for showing your work with us.</p>
				<p class="right"><span class="talker">FELIX TREADWELL__</span>Thank you too. I'm very happy to have my work in Japan.</p>
				<p class="left"><span class="talker">IL__</span>I'd like to start this interview by asking you about your new paintings being presented at our project space ‘2x2x2.’</p>
				<p class="right -single"><span class="talker">FT__</span>Okay, cool.</p>
				<p class="left"><span class="talker">IL__</span>What impressed me most when I first saw a picture of the blue painting of a running boy is that the boy seemed to be showing an interest in the outside world.</p>
				<p class="right -single"><span class="talker">FT__</span>That's true.</p>
				<p class="left"><span class="talker">IL__</span>In your previous paintings, the characters never looked you in the eyes as if they are interested in nothing. For example, 'Blue Puff'(1) and 'Dark Age'(2), those characters seem like they almost refuse to make eye contact. </p>
				<p class="right"><span class="talker">FT__</span>Yeah, they are anxious and timid. But now I want to bring optimism and a sense of positivity in our increasingly sad world.</p>
				<p class="left"><span class="talker">IL__</span>Yes, I actually noticed that. A few characters from your recent work are casting a side glance at us, such as 'Attack on Titan' (3) and ' A girl wearing a beret' (4). Is that your intention?</p>
				<p class="right"><span class="talker">FT__</span>I feel like perhaps I need my characters to engage more with audiences. When the characters are looking out at our world, our relationship dynamic changes. It's less voyeuristic.</p>
				<p class="left"><span class="talker">IL__</span>I see. Do you decide what to paint before you start?</p>
				<p class="right"><span class="talker">FT__</span>I draw sketches, then I find an interesting composition. I like using comic book panels and looking how they are arranged.</p>
				<p class="left"><span class="talker">IL__</span>What about mediums? You like to use various types of mediums.</p>
				<p class="right"><span class="talker">FT__</span>Mixing handheld brush with airbrush techniques has been very exciting, a new technique I'm working with currently. Airbrush allows me to soften the characters and bring out subtle textures in their expression of faces. I like to sketch with anything but mostly crayons. Since I was a kid, drawing has always been the most immediate and fun way of creating an idea, and it still is for me.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide01_sp.jpg" /></picture><span class="caption">(1) Blue Puffa, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide02_sp.jpg" /></picture><span class="caption">(1) Blue Puffa, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide03_sp.jpg" /></picture><span class="caption">(2) Dark Age, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide04_sp.jpg" /></picture><span class="caption">(3) Attack on Titan<br>All images courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text -chat">
				<p class="left"><span class="talker">IL__</span>Did you like to paint when you were a kid too?</p>
				<p class="right"><span class="talker">FT__</span>Yeah, I have always been drawn to figurative drawings since childhood. I used to draw Rugrats and Godzilla.</p>
				<p class="left"><span class="talker">IL__</span>Did you create your own monsters like Godzilla?</p>
				<p class="right"><span class="talker">FT__</span>I used to, but now I focus on people and animals more than monsters. I'm trying to create a world resembling ours.</p>
				<p class="left"><span class="talker">IL__</span>influenced by your daily life?</p>
				<p class="right"><span class="talker">FT__</span>I think so. I'm obsessed with my childhood and yearn for it to come back.</p>
				<p class="left"><span class="talker">IL__</span>That's interesting. Any specific childhood memories you obsessed with? If you don't mind me asking.</p>
				<p class="right"><span class="talker">FT__</span>Not specifically, just the mindset and sense of adventure I had as a teenager. I was open to anything and wanted to try everything.</p>
				<p class="left"><span class="talker">IL__</span>Fearless kid.</p>
				<p class="right"><span class="talker">FT__</span>Yeah, I'm definitely much more scared of everything now than I was 10 years ago.</p>
				<p class="left"><span class="talker">IL__</span>I know you’ve always enjoyed painting, but when was the first time you realized that this is something you want to do as a job?</p>
				<p class="right"><span class="talker">FT__</span>Maybe around 5 years ago during my BA. I realized it was my only way to enjoy my life. It's like a treatment to my mental problems.</p>
				<p class="left"><span class="talker">IL__</span>You mean you can find a sense of calm when you make paintings?</p>
				<p class="right"><span class="talker">FT__</span>Yeah, definitely. It can make me stressed too, but it helps me calm down mostly. I'm trying to fight it, like all artists.</p>
				<p class="left"><span class="talker">IL__</span>Yeah. Do you come in the studio at a fixed time every day?</p>
				<p class="right"><span class="talker">FT__</span>Mostly, everyday, around 10:30 am. I don't like working when it's dark outside.</p>
				<p class="left"><span class="talker">IL__</span>Then you tend to leave the studio quite early?</p>
				<p class="right"><span class="talker">FT__</span>Yes, my painting gets worse and worse the darker it gets outside as I grow more tired and impatient. I'm the world's most impatient person.</p>
				<p class="left"><span class="talker">IL__</span>How do you spend your time outside the studio then?</p>
				<p class="right"><span class="talker">FT__</span>Gaming - both card games and computer. Anything that escaped our world into another world. I like massive multiplayer online games.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide05_sp.jpg" /></picture><span class="caption">(4) A drawing of a girl holding a dog<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide06_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide07_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide08_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text -chat">
				<p class="left"><span class="talker">IL__</span>Can you name some of the games you are currently playing?</p>
				<p class="right"><span class="talker">FT__</span>‘World of Warcraft’, ‘Magic: the gathering’, and ‘Doom’. I don't know if these are popular in Japan.</p>
				<p class="left"><span class="talker">IL__</span>They are popular here too.</p>
				<p class="right"><span class="talker">FT__</span>Interesting. I know you have Monster Hunter.</p>
				<p class="left"><span class="talker">IL__</span>Yeah, it's my favorite. Do you play it?</p>
				<p class="right"><span class="talker">FT__</span>I never tried, but I want to. Maybe we can play.</p>
				<p class="left"><span class="talker">IL__</span>Yes definitely, next time you visit in Japan. I know you used to live in Japan for a year as an exchange student at Kyoto Seika University, right.</p>
				<p class="right -single"><span class="talker">FT__</span>Yes.</p>
				<p class="left"><span class="talker">IL__</span>Do you think that experience has influenced your work?</p>
				<p class="right"><span class="talker">FT__</span>I think so. I don't know how to explain it but I learned a lot from being in Japan as a person, just culturally. I think Japanese people have a lot of similarities to British people in some ways.</p>
				<p class="left"><span class="talker">IL__</span>Which similarities in particular?</p>
				<p class="right"><span class="talker">FT__</span>Sense of humor and politeness mainly. We have a unique sense of humor. We have a strong obsession with social classes. Also, we both drive the left side.</p>
				<p class="left"><span class="talker">IL__</span>Yeah, you are right. Also, a way to say "No."</p>
				<p class="right -single"><span class="talker">FT__</span>True.</p>
				<p class="left"><span class="talker">IL__</span>What about Art? How do you see Japanese Art today as a British artist based in and working in London?</p>
				<p class="right"><span class="talker">FT__</span>I think we are both having an identity crisis; it is hard to define what we are now. Our countries have been rapidly changing politically, and our generation is in a confusing time. We have a lot of work to pick up the pieces of the older generation as young people. Maybe this can be seen, but also my work might not even look British. It's hard to answer, sorry.</p>
				<p class="left"><span class="talker">IL__</span>That’s fine. I just wanted to ask a British artist's opinions about Japanese art today.</p>
				<p class="right"><span class="talker">FT__</span>I think it is waiting for a new wave of Japanese artists holding limelights. I think maybe we need a fresher vision from younger generation of artists there.</p>
				<p class="left"><span class="talker">IL__</span>Yeah, I think so too. Before wrapping up this interview, do you mind me asking you one more question?</p>
				<p class="right -single"><span class="talker">FT__</span>That's fine.</p>
				<p class="left"><span class="talker">IL__</span>Thank you. I want to ask you about your future plans as an artist.</p>
				<p class="right"><span class="talker">FT__</span>Okay. I want to expand and create more depth in the world of my painting. I'm making a toy of one of my character. This is a childhood dream of mine that is finally happening. I want the work to be accessible to anyone. I dont know where my work will go but I want it to become bigger and louder. <br>I'm optimistic and believe in myself to carry out this goal.</p>
				<p class="left"><span class="talker">IL__</span>I love that. I cannot wait to see a toy you are making as well. Thank you so much for making time for the interview today.</p>
				<p class="right -single"><span class="talker">FT__</span>Thank you so much.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide09_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Felix Treadwell is an artist who lives and works in London. He recently completed his MA in painting from the Royal College of Art, having graduated from his BA in painting from Camberwell College of arts.  Recent solo exhibitions include ‘Little Dark Fantasy’, Union Gallery, London, UK, ‘Community’, LTD Los Angeles, Los Angeles, USA and ‘Dark Age’, L21 Gallery, Palma Mallorca, Spain. Treadwell won the 2014 Hix. Award</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.felixtreadwell.net" target="_blank" rel="noopener">https://www.felixtreadwell.net</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

