{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__020: インディア・ニールセン ×　マルクス・リュペルツ",
	description: "マルクス・リュペルツ（1941年生まれ）は、具象と抽象の両方を取り入れたアプローチを展開し、絵画に新しい美学を創造しようとした戦後ヨーロッパ画家を代表するアーティストの一人である。リュペルツは、絵の具で彫られたような擬似的な形態を描き、抽象的な色のブロックを散りばめた「dithyrambic (酒神礼賛)」シリーズを発表する。",
	ogimage: "https://imlabor.org/journal/interview/020/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "020",
				"item": site.url + "/jp/journal/interview/020/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/020/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Markus Lüpertz; 'Dithyrambe', 1963, distemper on canvas, 36 1/2 x 40 1/4 inches / 101,5 x 109,5 x 2,5 cm, 93 x 102 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "020"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「絵画を語るのは難しく、その存在を認識されるのはさらに難しいことだ」</h3>
				<p class="lead">マルクス・リュペルツ（1941年生まれ）は、具象と抽象の両方を取り入れたアプローチを展開し、絵画に新しい美学を創造しようとした戦後ヨーロッパ画家を代表するアーティストの一人である。リュペルツの代表作のひとつに、絵の具で彫られたような擬似的な形態を描き、抽象的な色のブロックを散りばめた「dithyrambic (酒神礼賛)」シリーズがある。「Dithryamb (ディシラム)」とは、古代ギリシャの豊穣と快楽の神ディオニュソスに捧げる恍惚とした捧げ物のことで、リュペルツが大規模でエネルギッシュな絵画を制作するためにスタジオに持ち込む即興性と自発性の精神を表している。本インタビューでリュペルツに、彼の初期の作品、モチーフの使い方、絵画に対する考え方について、話を聞いた。</p>
				<p><span class="talker">INDIA NIELSEN__</span>新型コロナウイルスのパンデミックがヨーロッパを襲ってから約2年が経ちました。この経験は、あなたにとってどのようなものでしたか？</p>
				<p><span class="talker">MARKUS LÜPERTZ__</span>コロナは病気ですから向き合わなければなりません。それ以外は日常生活と変わりません。</p>
				<p><span class="talker">IN__</span>15歳でドイツのクレーフェルトにあるアートアカデミーに入学されたそうですが、なぜそんなに若くして入学されたのでしょうか？</p>
				<p><span class="talker">ML__</span>画家になることを私は決めていました。ですから、それを実現するためにできることをしただけです。</p>
				<p><span class="talker">IN__</span>またデュッセルドルフ芸術アカデミーにも1学期だけ通われたようですが、退学させられましたね。何があったのでしょうか？</p>
				<p><span class="talker">ML__</span>不真面目な態度でしょうか・・</p>
				<p><span class="talker">IN__</span>人生の大半をアーティストに囲まれて過ごしてきたことで、狭い世界の中で作品を作っているのではないかという不安はありませんでしたか？そこから抜け出すために、何か工夫をされましたか？</p>
				<p><span class="talker">ML__</span>私は幸運なことに当初から今日まで、絵画の分野で強力な競争相手に恵まれてきました。絵画は学問であり、競争は必要条件ですので、それなくして学問の花を咲かせることはできません。</p>
				<p><span class="talker">IN__</span>イギリスの画家ピーター・ドイグとの対談で、あなたは、アメリカの抽象表現主義者たちの最初の展覧会（1958年と1960年にそれぞれベルリンアカデミーで開催されたウィレム・デ・クーニングとフランツ・クラインの展覧会）を見て、絵画の「新しい方法」を啓示するものだったと述べていますね。あなたの絵がドイツ的であるだけに、このニューヨーク派と呼ばれる画家たちの影響を受けたと知って驚きました。これらの展覧会は、あなたにどのような影響を与え、その結果あなたの作品はどのように変化しましたか？</p>
				<p><span class="talker">ML__</span>視野が広がり、新たに自分がすべきことを目の当たりにしました。私の作品における原動力は変わっていませんが。</p>
				<p><span class="talker">IN__</span>それから間もなくして、1960年代初頭あなたはドナルドダックシリーズの制作を開始されました。ワーナーブラザーズのキャラクターと似ているのは目や口があることくらいで、原色で描かれた抽象的な人物像が特徴の大規模なシリーズですよね。内容的にも、他の作品と比較して際立っていますし、アニメのキャラクターをモチーフにした作品は、私の知る限りこのシリーズだけだと思われます。ドナルドダックをレファレンスしてモチーフに意識的に選んだのは、アメリカのポップカルチャーに影響を受けた結果だったのでしょうか？</p>
				<p><span class="talker">ML__</span>はい、ドナルドダックはアメリカ文化を意識的に歪曲して表現したもので、私の画家仲間の多くがそれに倣いました。後に私はやめましたが。</p>
				<p><span class="talker">IN__</span>またこのドナルドダックの絵は、あなたにとっては最初のシリーズ作品でもあるようですね。この作品を制作した時点では、ニューヨークで誕生した、ポップアートから影響を受けたのでしょうか。例えば、アンディ・ウォーホルの『キャンベルのスープ缶』（当時製造されていたキャンベルの缶スープの32種類の味に対応してスクリーン印刷された32枚のキャンバス）は1962年に発表された作品です。ドナルドダックのシリーズも同時期に制作されていますね。このタイトルからは、ウォーホルと同じように、均一性や大量入手性を重視する連続性へのアプローチがうかがえます。</p>
				<p>しかし、タイトルとは異なり、描かれているキャラクターはドナルドダックとは似ても似つかないですよね。なんとなくキャラクターを喚起させる配色を使って人物が抽象的に描かれています。これは、抽象表現主義から影響を受けたことによって、当時のニューヨークのアートシーンで台頭してきたポップアーティスト、特にウォーホルに反発していたということでしょうか。</p>
				<p><span class="talker">ML__</span>私の理解では、初期のウォーホルの作品は、当時はまだ絵画の学問の一部だったのです。その後シリーズ化された作品を主に作るようになり、彼の作品が学問のルールから遠ざかったことで、私はウォーホルのキャンバスには興味がなくなりました。それ以降、彼の作品は私にとって絵画ではなく、写真になったのです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide01_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Dithyrambe - schwebend', 1964, distemper on canvas, 200 x 195 cm / 78 3/4 x 76 3/4 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide02_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt I - dithyrambisch', 1965, distemper on nettle, 60 x 60 1/4 inches / 152,5 x 153 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide03_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt 33/210 - dithyrambisch', 1965, distemper on nettle, 150 x 150 cm / 59 x 59 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide04_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt - dithyrambisch', 1965, distemper on nettle, 98 1/2 x 133 3/4 inches / 250 x 340 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>ニューヨークには滞在されたのですか？</p>
				<p><span class="talker">ML__</span>そうですね、ニューヨークにはかなり長く滞在しました。何度か訪れて、1984年にはもう少し長く滞在しました。その時は、私はどちらかというと活発的で、アーティストとの交友も含め、充実したソーシャルライフを送っていました。</p>
				<p><span class="talker">IN__</span>先ほど、あなたの作品にはドイツらしさが感じられると言いましたが、ドイツに留まることは意識的に決めたのでしょうか？地理的なアイデンティティは作品にとって重要だと思いますか？</p>
				<p><span class="talker">ML__</span>はい、重要ですね。今もそうです。かつては絵画はナショナルなものだけでなく、リージョナルなものでもありました。それが変わるかどうかは、これからですね。</p>
				<p><span class="talker">IN__</span>現在のドイツ絵画を特徴づけるものは何だと思いますか？ソーシャルメディアやインターネットが普及した今、アート、特に絵画は、あなたが絵を描き始めた頃と同じくらい、国や地域のアイデンティティを持っていると思いますか？</p>
				<p><span class="talker">ML__</span>現在、絵画がかなり不利な立場にあるのは、何千人もの画家がいるということだけでなく、それを取り巻く共通言語がないためです。絵画に携わる人の多くは、絵画を何千年もの歴史と結びついた学問としてではなく、未来への思索として捉えようとしているようです。その方が、感傷に従うことができますから。</p>
				<p><span class="talker">IN__</span>絵画に対する「感傷」とはどういう意味ですか、またそれがなぜ悪いことなのでしょうか？</p>
				<p><span class="talker">ML__</span>一般の人々は、絵画を専門的な学問として見るのではなく、思索的な方法でアプローチしています。彼らは自分たちの感性に従い、感情的な欲求や反応に基づいてのみ絵画に価値を見出すのです。</p>
				<p><span class="talker">IN__</span>私はあなたのモチーフの扱い方に興味があります。あなたはあるモチーフを選び、それが一定期間作品の主題として扱った後、それを破棄して新しいモチーフに移るようですね。2018年にマイケル・ワーナーで開催されたテント画（1965年制作）の個展を見に行ったときに、そのやり方があなたにとってどう機能しているのか、なぜそのようなやり方で仕事をする必要性を感じているのか、疑問に思ったのを覚えています・・。</p>
				<p><span class="talker">ML__</span>モチーフは、絵を描くために必要なものです。最終的には、モチーフを得られるような抽象画を作れるようになりたいですね。</p>
				<p><span class="talker">IN__</span>現在、取り組んでいるモチーフはどういったものですか？</p>
				<p><span class="talker">ML__</span>新旧のモチーフをミックスしたボキャブラリーのようなものですね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide05_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Donald Ducks Hochzeit', 1963, acrylic on canvas, 79 1/2 x 79 1/2 inches / 202 x 202 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide06_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Ohne Titel (Donald Duck Serie)', 1963, distemper on canvas, 200 x 102 cm / 78 3/4 x 40 1/4 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide07_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Trick (Donald Duck Serie)', 1963, distemper on canvas, 79 1/4 x 38 1/2 inches / 201 x 98 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>今、見ていてワクワクするようなアートはありますか？</p>
				<p><span class="talker">ML__</span>自分の作品に使えるかもしれない絵は、どれもワクワクします。</p>
				<p><span class="talker">IN__</span>アートディーラー、そしてギャラリストでもあるマイケル・ワーナーとは、60年代初頭からずっと長く親密な関係を築いてきましたね・・この関係は、あなたの作品にとってどれほど重要なものだったのでしょうか？</p>
				<p><span class="talker">ML__</span>気さくに相談できる人が私の周りにはあまりいませんからね。なぜかというと、絵画を語るのは難しく、さらにその存在は認識されにくいからです。</p>
				<p><span class="talker">IN__</span>あなたはジャズピアニストでもあり、「Frau und Hund」（「女と犬」）というドイツ語の雑誌も発行されていますね。これらの活動を始めたきっかけは何ですか？</p>
				<p><span class="talker">ML__</span>知的な生活に興味があったからです。</p>
				<p><span class="talker">IN__</span>最近は何に取り組んでいるんですか？</p>
				<p><span class="talker">ML__</span>ドイツのテューリンゲン州にあるマイニンゲンで上演されるオペラを制作しています。</p>
				<p><span class="talker">IN__</span>今活動している若いアーティストに何かアドバイスはありますか？</p>
				<p><span class="talker">ML__</span>ありません。</p>
				<p><span class="talker">IN__</span>仕事の中で、自分ができていないと感じること、あるいは今でもできていたらいいなと思うことはありますか？</p>
				<p><span class="talker">ML__</span>足を空中に上げて片手で立ち、もう片方の手で小さな傑作を描くことです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide08_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Arkadien (Akt Schwarz) Rechts', 2018, mixed media on canvas, 100 x 81 cm / 39 1/4 x 32 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide09_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Adam + Eva', 2020, mixed media on canvas, 80 x 97 1/4 inches/ 203 x 247 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide10_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Bacchus', 2020, mixed media on cardboard, 32 x 39 1/4 inches / 81 x 100 cm, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><dd class="desc">マルクス・リュペルツ（1941年生まれ）は、ドイツの画家、彫刻家、グラフィックアーティスト、作家である。雑誌の発行や、ジャズピアノニスとなど活動は多岐に渡る。またリュペルツはドイツで最も有名な現代アーティストの一人としても知られている。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">インディア・ニールセン（1991年ロンドン生まれ）は、ロンドンを拠点に活動しているアーティストである。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2022年、Lazy Mike galleryで個展を開催予定。最近では、Paradise Row、V.O Curations、Fitzrovia gallery（ロンドン）、2022年のAnnarumma gallery（ナポリ）でのグループ展に参加しています。最近の個展に、Darren FlookでのM is for Madonna, M is for Mariah, M is for Mother、2021年にImlabor（東京）でのCrybaby、2020年にPlatform Southwark（ロンドン）でのRedivideRがある。また、2021年にはWhite Crypt Project Space、Collective Ending（ロンドン）、Spazio Amanita x Avant Arte（フィレンツェ）、2020年にはDanny BaezのキュレーションによるWhite Columns（ニューヨーク）、Roman Road、The Residence Gallery、Southwark Park Galleries（ロンドン）でグループ展に参加。Imlaborのウェブサイトでは他のアーティストにインタビューするなど、執筆活動も行っている。ロンドン在住。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

