{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__004: In conversation with: Jason Fox by India Nielsen",
    description: "Jason Fox is a painter whose work seems to balance the cool distance of satire with the manic closeness of obsession. Figures from pop culture like Bob Marley, Barack Obama and George Harrison are spliced together to produce alien third forms while thin, radioactive washes of paint form demonic bodies that have been obviously rendered from his imagination.",
		ogimage: "https://imlabor.org/journal/interview/004/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "004",
                "item": ""+ site.url +"/journal/interview/004/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/interview/004/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Saturn, 2020, oil, acrylic, and pencil on canvas, 139.7 x 140 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "004"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I have always been attracted to the idea of the artist on the outskirts of things, like the William Burroughs character in ‘On the Road’ or Alain Delon’s character in ‘Samurai’… being on the edges where the cracks show.”</h3>
				<p class="lead">Jason Fox is a painter whose work seems to balance the cool distance of satire with the manic closeness of obsession. Figures from pop culture like Bob Marley, Barack Obama and George Harrison are spliced together to produce alien third forms while thin, radioactive washes of paint form demonic bodies that have been obviously rendered from his imagination. Yet there is no clear position of irony here as the paintings are endlessly self-obsessive and self referential; Painted figures step out of their frame to find themselves within yet another painting, unfinished canvases complete themselves and deranged figures seemingly try and squeeze themselves through the holes of a chain link fence and out of the picture plane - the cityscape version of the modernist grid. Surface seems to be subject here as images seem to self consciously peel themselves back to reveal another mask, another canvas, another image.</p>
				<p class="lead">I spoke to Jason on the evening of 3rd June via. Zoom, he quarantined in New York and I in London. In a supposedly progressive world, where the COVID-19 pandemic has revealed its systemic class and racial inequalities and calls are being made worldwide to defund the institution of police following too many instances of their corruption, prejudice and brutality, it seemed appropriate to enter into a conversation with an artist whose visual world has, since the early nineties, dealt with what he describes as the political apathy and narcissistic failures of the sixties baby boomer generation (the people who now “run the world”) and America’s corporate-driven, cultural obsession with the surface of things and personal brand.</p>
				<p class="lead -note"><sup>*</sup>This interview was conducted on 3rd June 2020 via. Zoom.</p>
				<p><span class="talker">INDIA NIELSEN__</span>To start, I’d like to check in with how you have been coping with the fallout surrounding the COVID-19 pandemic. Where are you currently quarantining and how have you had to adapt as a result of the crisis?</p>
				<p><span class="talker">JASON FOX__</span>I live in Poughkeepsie in upstate New York with my wife (the sculptor Huma Bhabha). We were already living an isolated lifestyle so it hasn’t been a difficult transition. I have actually been getting a lot of work done. This crisis has really highlighted the harsh reality of what a sink-or-swim society we have in America and it is horrific to watch.</p>
				<p><span class="talker">IN__</span>How do you feel as a painter watching events unfold in real time following the police murder of George Floyd and the protests that are occurring across the world as a result? I’m wondering if you have any ideas as to how to contribute to this situation and if you think artists, particularly painters who generally work in isolation in their studio, can have a useful role to play when faced with something as violently real and undeniable as systemic racism?</p>
				<p><span class="talker">JF__</span>My gallery in New York, Canada gallery, has been very organised with mobilising the gallery artists to help support the Black Lives Matter movement, as well as other causes, in a concrete way. So as an artist there’s a sense of trying to mobilise, through the gallery system, immediate practical support to people who are dealing with legal issues because obviously a lot of protestors have been arrested. Many people have also experienced loss of work because of the pandemic and had to worry about being evicted etc. so it’s just been one disaster after another. Where I live it’s much quieter but in Poughkeepsie there was a big demonstration in the evening. It was really inspiring because there were thousands of people, ninety percent of whom were young people.</p>
				<p>My wife and I, since the early nineties, have been perpetually disappointed in our generation’s lack of interest in politics. I think things finally seemed to change in 2008 with the Occupy movement, and then with Bernie Sanders and AOC (Alexandria Ocasio-Cortez). The only really bright spot in this situation is there’s a big youth movement now in this country. To see so many young people wake up and be rightfully pissed off and become politically active is amazing because my generation wasn’t like that and neither was the previous generation. I remember when I used to teach at Columbia University I was surprised at how apolitical everyone was. I always found it ironic because so many of these people were making art that was supposed to be conceptual or about critical theory or identity politics but it wasn’t actually connected to real world politics at all.</p>
				<p><span class="talker">IN__</span>I feel like, not all, but a lot of so-called political art is often actually quite parasitic - more of a style than anything else. A way of differentiating yourself from other artists within the market system.</p>
				<p><span class="talker">JF__</span>Yeah, I mean I’m not going to name artists but there are a lot of well known relational aesthetics artists who, when they talked about politics would say things like “Well, for formal reasons, I don’t really want to take a position.” Well, that’s not political art. Then you’re just sucking the energy off of something, you’re not really participating in it.</p>
				<p><span class="talker">IN__</span>Well, then it’s not really relational anymore. It’s not an exchange, it’s just a one-way street.</p>
				<p><span class="talker">JF__</span>Yeah, it’s like fashion. Curatorial, institutional fashion. I feel very schizo about it because there’s a part of me that’s very politically informed; my wife is not from the U.S. so I’ve spent some time out of this country and that experience really woke me up to what’s going on in the world. As a result, I’m very critical of this country’s economic and foreign policies. But, at the end of the day, I’m not an activist. I spend most of my time in a room by myself, listening to music that I like and making things that I like to look at. So I don’t feel comfortable telling people “this is what you should do” when I’m trying to sell things to billionaires.</p>
				<p>Of course, that doesn’t mean I can’t be informed and that I can’t donate or walk in protest and do what I can, but when these prompts come through in the work it’s just because I think it looks good. That’s the priority. I think there are artists that try and edit that out because they think having real world, political points of view is somehow uninteresting formally and I think that’s nonsense. If you look at an Otto Dix for example, where it’s very blatantly political, it doesn’t detract from the work at all. If it’s good, it’s good.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide01_sp.jpg" /></picture><span class="caption">Saturn, 2020, oil, acrylic, and pencil on canvas, 139.7 x 140 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide02_sp.jpg" /></picture></span><span class="caption">Drumerica, 1995, Acrylic on canvas, 45.72 × 60.96 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide03_sp.jpg" /></picture><span class="caption">Leviathan, 2019, oil, acrylic, and pencil on canvas, 228.3 x 157.2 x 3.8 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson </span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide04_sp.jpg" /></picture><span class="caption">Dragon Turns On Itself, 2019 acrylic and pencil on canvas, 139.7 x 139.7 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide05_sp.jpg" /></picture><span class="caption">Fall, 2019, Oil, acrylic, pencil, collage and aluminum foil on canvas, 228.60 × 157.48 × 3.81 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Much of your work references America’s recent political history. I’m thinking particularly of Star Star (2006) where a figure, painted to look like the archetypal ‘wise old man’ seems to decompose into a crumpled star spangled banner. A number of your paintings are also made using only red, white and blue. You were also included in the group show ‘Make Painting Great Again’ at Canada gallery in 2016, the year Donald Trump was elected President of the United States. Considering the very rapid shift in American politics since then, are you still finding painting an effective means of containing or capturing these changes, even on a personal level?</p>
				<p><span class="talker">JF__</span>From the early nineties, around the time of the First Gulf War, I have been extremely critical of the power structures in this country. My distaste for Imperialism and macho patriarchy has always seeped into the work but, like I indicated earlier, I don’t make the work starting from a political or conceptual place. I start from a very formal, intuitive place and if the work needs to go in a more overt political direction in order to be successful I go there.</p>
				<p>Trump is a disaster but he is also a symptom of a much bigger problem. I was born at the end of the baby boomer generation and the baby boomers have become a problem in this country because they basically failed. This sixties hippie generation sold out in the end, but they have an arrogance about them. I meet these people and we argue politics and in the end they’ll go and vote for Joe Biden or they’ll go in the middle because they’re actually deeply conservative, but they think because they went to a Jimi Hendrix concert forty years ago that they’re cool. “I burned my bra in 1972” - well so what! You know what I mean? And they feel very threatened by the progressive movement in this country because it challenges their sense of moral authority and self satisfaction.</p>
				<p>That generation’s idea of “you can have it all” is a disaster and a lot of those people still believe in that myth. For example, and I’m going to stress that these thoughts about the work have come into my head after the fact of making these paintings for all these years, I’ve painted George Harrison a lot. Part of why I find his image interesting is he’s a perfect symbol of that kind of failure. He’s someone who, on the one hand, was really spiritual and was into meditation and Indian mysticism and all this sixties mumbo jumbo. On the other hand he partied a lot, he lived an incredibly lavish lifestyle and slept with tonnes of women. It’s this boomer “I can have it all” attitude of “I can be a really mystical, spiritual person and still live like a rich playboy.” I think that kind of contradiction and hypocrisy is embedded in the baby boomer generation and these are the people who run the world. They are the ones in power and with most of the wealth and I think that’s one of the reasons why it’s so hard to get change. We’re run by a group of people who are very unwilling to be self critical and get beyond their own self mythology.</p>
				<p>A lot of my work deals with the culture of obsession we have, particularly in the U.S., with image and how much power the brand of the person had over people. I used to get into arguments with people about Obama and his record and they would be shocked when I told them the stuff that he actually does. They don’t know. All they know is that he looks cool, he gives great speeches and he hangs out with Jay-Z so he must be great… but Obama did stuff that even Bush didn’t dare do and when I tell them that they don’t know what to say. It’s interesting how so many people are swayed by image and the surface of things. My generation was very much like that.</p>
        <p><span class="talker">IN__</span>A foam clown nose features in a lot of these works. It seems to me a very simple way of importing satire into your work, literally gluing it on to the canvas. Can you talk about why you started using this as a motif?</p>
        <p><span class="talker">JF__</span>As a painter you are always looking for ways to activate the surface. I saw the clown nose as a kind of anchor in the middle of the painting. I had read that the artist Barnett Newman saw his red paintings as blood-soaked and I also saw the noses as blood-soaked sponges.</p>
				<p><span class="talker">IN__</span>You said you’ve been very cynical when thinking about these events, feeling like nothing will change. So I’m wondering how you feel making these paintings at this particular moment in time - do you think they can be a legitimate form of protest?</p>
				<p><span class="talker">JF__</span>I think the paintings are more a bearing witness to events than a protest. My work feels like it’s becoming more accessible as more and more people realise how fucked up the world is. I wish I was wrong. *Laughs* I may have been overly pessimistic when making those paintings for all these years but, as it turns out, things are as fucked up as I thought they were.</p>
				<p>Also, with the specific images I deal with, there’s a sense of probing images deeper. I was thinking about Andy Warhol and his paintings of celebrities, which I’m a big fan of. That kind of approach, of digesting these images so uncritically or to reflect the culture back in such an unemotional, objective way doesn’t make sense. I’m not overtly an activist and my work isn’t political, but I think my paintings reflect the times in a way that makes sense to now.</p>
				<p><span class="talker">IN__</span>I think to reflect or “bear witness” to something you have to take an outsider position in some sense. I mean, with Warhol, his way of doing it was he became such an extreme insider that his insider position itself became extremely alien. He sort of went out the backdoor and became an outsider again. I feel like, as an artist, you’re always trying to balance the inside with the outside, not just physically but psychologically and emotionally as well. At the same time, it’s your job to communicate and to do that you need to show your work. So I’m wondering, now you’ve become more of an insider in terms of your career, as you’re now a recognised artist and have representation etc., do you find it harder to keep that balance?</p>
				<p><span class="talker">JF__</span>I think in the last couple of years I’ve been getting more opportunities and more venues to show the work, but I think I’ve been so on the margins of things for so long that it’s become a part of my DNA. I live in a place where nobody else really lives and, even before this whole pandemic I didn’t really make the “scene” very much. At the same time, I do know a lot of people. It’s sort of an insider-outsider reality. I’m not an outsider artist. I’m not completely disconnected from things. But at the same time I function pretty much in my own lane of activity. I’m not interested in the lifestyle or becoming a celebrity artist… that is just totally uninteresting to me. Like you said, you make the work so people can see it. That’s very important, though as a sidenote I think most artists are frankly better off not being seen or heard that much.</p>
				<p><span class="talker">IN__</span>I think the way you appropriate is interesting because the era in which you were making them, from the early nineties and onwards, and the kind of satirical tone of the works would suggest them to be ironic. But they seem too obsessive and fanatical to me for you to be taking the kind of cool, dissociated position that irony needs. You’re too close to the work. They remind me of Chris Martin’s paintings and the way he sees his paintings in a talismanic, functional way. I was wondering if you see your work as having a kind of personal or spiritual, chaos magick kind of function?</p>
				<p><span class="talker">JF__</span>Yeah, I think any work that is powerful has to be like that on some level. I think Donald Judd is like that. There’s something extreme and crazy about his work but it manifests itself in a very orderly fashion. So I think any artist that is really interesting has some magical urge to create. I think a lot of artists tend to create micro worlds where you where you can gestate these sorts of obsessions. I think it’s a very natural way to work. From Picasso to R. Crumb to Louise Bourgeois… I see all these artists as connected. They all function in their own private worlds. Now we’re in such a political moment, you have to discuss these things, but for me they have to be absorbed into this micro-personal world.  I guess that’s how you, as an artist, condense these things and make sense out of it. You bear witness through producing these objects and hopefully they’ll have some power and resonate. That’s our job.</p>
				<p><span class="talker">IN__</span>You generally paint using oil or acrylic, sometimes using pencil, charcoal or aluminium foil, however these are generally all contained within the straight edged frame of wooden board or canvas… Can you talk about the paintings you made in the early nineties on suspended sleeping bags? These stuck out to me amongst your other works.</p>
				<p><span class="talker">JF__</span>I started using the sleeping bags because they were cheap and could even be zipped together to make bigger pieces. The surface of the sleeping bags generated a lot of interesting painting events. Rauschenberg’s bed at MOMA was also an inspiration.</p>
				<p><span class="talker">IN__</span>I remember watching a Dr. Dre interview from when he was in N.W.A. where he said that he never looked at producers or musicians that he liked when composing his beats because he loved them too much. He felt too reverential to them, the reference became something heavy rather than material he felt free to mould. In a conversation with the painter Joe Bradley you talk about Philip Guston as being the “great shadow” you felt you had to “get out from under” because he had already done what you wanted to do. What is it that Guston did that you felt, at that time, you wished you had done? What are some of the strategies that you used, as a young artist, to try and take that and form your own work from it? Do you feel like you’ve managed to shake him off?</p>
				<p><span class="talker">JF__</span>Guston came up with a perfect fusion of the graphic narrative language of comics and New York school painting chops. Once he started the late work it doesn’t really change much in terms of how he paints. There is no reason to, how could it get better? The images just keep expanding. My initial idea was to make my imagery more extreme as a way to create my own space. Movies like Scanners, The Thing and classic eighties horror were a big influence. Over time the gore element receded as it became less necessary and the work did develop its own distinct feel or look.</p>
				<p><span class="talker">IN__</span>In this same interview with Bradley you describe viewing your appropriated references as dismembered body parts; making a painting for you seems to be a process of unifying them into a functional whole. How do you think this approach differs from some of your peers’ use of appropriation? Do you often have an image of this final “whole” in mind when building up your paintings?</p>
				<p><span class="talker">JF__</span>I have never been interested in delving into the kind of Pictures Generations appropriation that has become very dominant. When I do use images of pop stars or politicians it is more related to Francis Bacon and his obsessive use of certain photographic images with the intent of personalizing and morphing those images so they become more of an armature for constructing a painting. I treat each painting as its own unique problem to solve and sometimes I might need to loosen or tighten up something, or move among different styles as necessary. I usually have an idea of the final image, but it can change.</p>
				<p><span class="talker">IN__</span>Your paintings use eccentric, idiosyncratic forms that sometimes seem to be a series of your own personal jokes. I’m wondering if you ever got branded an “outsider” artist when you first started exhibiting? How did you try and navigate the way the audience read or experienced your work, if at all?</p>
				<p><span class="talker">JF__</span>I have always been attracted to the idea of the artist on the outskirts of things, like the William Burroughs character in On the Road or Alain Delon’s character in Samurai… being on the edges where the cracks show. Regarding an audience I hope they like the work, but I don’t worry about how they interpret it. That’s not my job.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide06_sp.jpg" /></picture><span class="caption">Untitled, 2016, Oil, acrylic, and pencil on canvas, 121.92 × 91.44 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide07_sp.jpg" /></picture></span><span class="caption">Drosion, 1993, acrylic on sleeping bags,193 x 335.3cm: Courtesy of Jason Fox</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide08_sp.jpg" /></picture><span class="caption">The Hitman's Bodyguard, 2017, Oil, acrylic and pencil on canvas 106.68 × 91.44 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide09_sp.jpg" /></picture><span class="caption">Untitled, 1999, acrylic on canvas, 76.2 x 60.9cm: Courtesy of Jason Fox</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide10_sp.jpg" /></picture><span class="caption">Surely, 2020, oil, acrylic, and pencil on canvas, 228.9 x 157.5 x 3.8 cm: Courtesy of David Kordansky Gallery, Los Angeles Photography by Lee Thompson</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Your paintings reference art history in quite an obvious way. In some of your paintings, there are canvases within canvases and figures stepping out of the frame or unfinished canvases painting themselves. You also seem to frequently reference the modernist grid which takes the form of a chain link fence laid over a figure. In these paintings it seems that parts of the figure have been painted in their entirety before painting the chain link fence, while some features (namely the face) have been left until last, using the gridded holes as a guide to shape the swirling marks you use to render the face. They look a bit like Chuck Close figures dragged through mud and then over barbed wire. Can you talk about your use of the grid in your work and particularly your use of it to distort the figure?</p>
				<p><span class="talker">JF__</span>I have always been interested in infusing my work with elements from abstract painting. Agnes Martin is one of my favourite painters and her use of pencil and thin paint has been a big influence. Referencing grids, op-art colour choices, and other abstract painting devices is a way of introducing a more sci-fi element to mix in with the more organic body-oriented elements in the work. In the chain link paintings the chain link is painted first then the rest is added in those Chuck Close like areas. I have also used grids to cover up naughty bits, as you used to see in videos and photos. I have always loved the whole paintings-within-paintings idea. I first used it when I was making all-red paintings and thinking of Matisse. The motif of the painter painting is obviously a classic Picasso genre which I never get tired of. It’s the cyborg, late night painter. Also The Picture of Dorian Grey idea is very interesting to me, the idea of a painting as a living or supernatural object generates a lot of ideas for me.</p>
				<p><span class="talker">IN__</span>Using the grid to cover up the “naughty bits” of the painting makes me think of the paintings you made where there are pixels covering parts of the painting. As well as a way of censoring, the pixels are a way of mangling the body into something grotesque. The pixels end up looking like a super zoomed-in microscopic view of parts of the body…</p>
				<p><span class="talker">JF__</span>A good friend of mine at the time, the artist Alex Brown, was doing a lot of geometric, grid-type work and they were more like photographic images that he broke up into these symmetric patterns. I was seeing his work a lot because we were friends and showed at the same gallery. It also became part of my eternal failed quest to make my work more commercial. Like maybe if you can’t see any sexual organs that will help. So it satisfied my desire to paint something neat and precise like that and edit my own paintings.</p>
				<p><span class="talker">IN__</span>So… it was a business plan?</p>
				<p><span class="talker">JF__</span>Yeah, one of many.</p>
				<p><span class="talker">IN__</span>And it didn’t work… they wanted them even less after that?</p>
				<p><span class="talker">JF__</span>*Laughs* For years the only people who would buy my work were other artists. Selling for me was very rare. Regardless of my attempts to “put more blue” or edit out penises… whatever I tried it didn’t really make a difference. So I just stopped worrying about it.</p>
				<p><span class="talker">IN__</span>They seem like such bizarre strategies… putting more blue in your work… what made you think people would want to buy your work if you did that? I mean, who was responsible for that idea?</p>
				<p><span class="talker">JF__</span>*Laughs* I had a studio for many years next to this painter, Alexis Rockman, in New York. He at one point was working with the art dealer Gian Enzo Speroni. We had these partition walls that didn’t go all the way up so for years I would hear all his studio visits. I learned a lot hearing what people said, not knowing that someone was listening next door. I’ll never forget one time Speroni was doing a studio visit and he said “more blue sky! Just give me more blue sky!”</p>
				<p><span class="talker">IN__</span>So when you stopped trying to make paintings that would sell, what did that leave you? And when did your work start being recognized? Was that when you started working with Canada gallery?</p>
				<p><span class="talker">JF__</span>I would say it was in between when I left Feature gallery and did a couple of shows with Peter Blum Gallery. That was sort of a transitional point. That’s around the time where I kind of shifted my work a lot and stopped relying so much on my imagination and the stock characters I’d created over the years. I started using more photographic images as reference material. I also started loosening up a lot. I moved to Poughkeepsie around that time and started getting to know a lot more younger artists like Dana Schutz, Joe Bradley, David Altmejd. There’s a bunch of really talented people I met kind of accidentally and became friends with. Dana Schutz was actually my TA (Teaching Assistant) when I was teaching at Columbia University so I got to know her very well. Maybe you were too young at the time to remember it, but at that point painting was becoming very tight. There was a lot of Julie Mehretu kind of painting. There’s a certain period in the late nineties / early two thousands where painting was becoming very tight. I don’t think that’s bad necessarily, but I felt like I’d absorbed that and was working in that direction and I realised I wasn’t satisfied with it. I wanted to change. Being around these younger artists who were making work that was a lot looser and expressionistic really inspired me. That period was really good to me. I opened up to a realm of younger influence and it opened my work up a lot. That’s the way I’ve been going since.</p>
				<p><span class="talker">IN__</span>Your paintings seem to combine elements of things you love; music you’ve listened to, films you’ve watched etc., to create an alien “third” form, often taking the form of a distorted figure. Can you talk about the abstract works and their relationship with your figurative works? Do you generally think about how they might fit together?</p>
				<p><span class="talker">JF__</span>I enjoy making the abstract paintings as a side project. It’s more like a pure visual dialysis for me - just dealing with the basics. I don’t think they make sense with the figurative paintings and hopefully someday there will be an opportunity to show them. I’ve done two or three shows where the abstract paintings were mixed in with the figurative work and they sort of got lost. It didn’t make any sense to people. I think people are used to going to an exhibition and consuming this modernist form of presentation where everything is stylistically similar or the same size and has a clear seriality. I realised you usually have to turn the volume down to make it more accessible. My work has very maximalist tendencies… maybe this is something you can relate to because your work also has a lot of information within it.</p>
				<p><span class="talker">IN__</span>*Laughs* Yeah, I’ve heard that before. Was that a criticism of your work, that there was too much information?</p>
				<p><span class="talker">JF__</span>In terms of criticality the biggest problem I had was that people would think my work was adolescent… as if I was just sitting around listening to Motörhead doing drugs. I found it frustrating because that’s not what it was all about at all. But then you realise that the thing with art is most people don’t look at it, they read it. What I mean by that is that the subject matter overpowers everything for the majority of people who look at art. Most people are just not that sophisticated visually. So I would find that people would always be caught on the subject matter. For me that was always just a means to an end. We choose these things for formal reasons. You mentioned earlier about getting around Guston. He’s trying to figure out space. It was never this Elizabeth Peyton thing of “I just love these bands.” It wasn’t about loving the subject. It was more like these armatures that I was using to try to construct something I thought was interesting.</p>
				<p><span class="talker">IN__</span>I think with artists whose work is very content heavy and have very familiar reference points, It’s much easier to access because clear, familiar subject matter more readily translates into verbal language, which is what so many people are driven by. It’s easier to write about basically, which in turn makes it easier to talk about. By default that makes it easier for you to access an audience. They can understand it.</p>
				<p><span class="talker">JF__</span>Yeah, I used to think “okay I’ve gone so far off the main road that I’m now in the woods someplace and hopefully people will find me eventually.” And I think that’s sort of what’s happened. I’ve always had faith that if you do something really well, sooner or later someone’s gonna pay attention to it.</p>
				<p>Hopefully you don’t have to be Carmen Herrera and wait till your nineties, but she’s a perfect example of someone who made amazing paintings that took sixty years to get paid attention to. Whatever reason it is that you get isolated, be it sexism or that you don’t socialise in that world or you’re just doing something that doesn’t fit… if you just keep doing it and get better at it, sooner or later people will support it. It sounds corny but you have to have faith in it and stick it out.</p>
				<p><span class="talker">IN__</span>I think most painters build a relationship with their reference material or imagery through the act of painting them and repeating them. That’s how images gain meaning for me. The actual content is secondary. It’s just a means to get to something else. Joyce Pensato and Katherine Bernhardt’s paintings of cartoon characters - those characters are chosen for formal reasons, it wasn’t really about those characters.</p>
				<p><span class="talker">JF__</span>I completely agree with you. To me it’s a relationship between the image and the application of paint. That’s where the fun is. That’s the hard part too, how you negotiate that and how do you not let one dominate the other. I’ve recently been reading this book of David Sylvester interviews with Francis Bacon and he just talks brilliantly about it.</p>
				<p><span class="talker">IN__</span>Have you watched the video interviews between Sylvester and Bacon?</p>
				<p><span class="talker">JF__</span>I would love to. I’ve just seen little bits of it. I saw a great clip where he’s showing slides of Egyptian art and just going on and on about it. It’s great.</p>
				<p><span class="talker">IN__</span>Jerry Saltz described your figures as “Paleo-futuristic”, implying an otherness to your work - that they don’t seem to exist within any linear notion of time. The figures appear both ancient and futuristic. Do you use your subject matter as a way of rooting elements of your work in a specific time and place?</p>
				<p><span class="talker">JF__</span>I used to be very interested in cinematic character design and creating characters that existed in both the extreme past and future. This is something that the land artist Robert Smithson wrote about.</p>
				<p>Over time that changed as I spent a lot of time at Dia:Beacon in New York looking at Warhol’s commissioned portraits of celebrities and that inspired me to start using more cultural figures. I see these more as history paintings that deal with the legacy of the sixties and the failure of the baby boomer generation, like we discussed earlier.</p>
				<p><span class="talker">IN__</span>Smithson wrote about monuments commemorating the old having the function of prompting us to remember the past, while “new monuments” cause us to forget the future. Now that artists have become increasingly self referential and cannibalistic, do you think we’ve become like battery acid, eating backwards into ourselves? Do you think there is a kind of future of the image to work towards or does that seem a bit idealistic?</p>
				<p><span class="talker">JF__</span>I think what’s interesting is we’re now in multiple decades. We’ve been in a postmodern art world where the idea of a linear narrative hit a wall in the eighties or the late seventies. There hasn’t been a real ‘ism’ after that. Maybe you can argue that relational aesthetics is just another version of conceptual art, right? There’s actually a great interview that Peter Saul did with the curator of the New museum where he talks about the fact that there is no one style anymore. There’s just different styles and his view of it is that you just use whatever style you can to get through each painting. I totally agree with that. To me, sometimes you’re making a painting and you think “Oh I’m thinking of Christopher Wool right now” or maybe it’s Agnes Martin or A.R. Penck… there’s all these different styles out there that you can access. That’s how I approach painting. Going back to Francis Bacon, it’s a game. You’re always looking for different strategies to figure out that game and each painting is like an obstacle course you have to get through.</p>
				<p>I don’t know what it’s like to be in a period where you’re inventing a new language. I don’t think most art functions like that. I think it’s usually more of a tedious wading through different choices, techniques and styles and just trying to cobble together something that works for you. Almost every really great artist that I’ve known look at everything. They’re always looking at work, you know, young, old new… I think having a voracious visual appetite is part of it.</p>
				<p><span class="talker">IN__</span>Maybe, rather than moving forwards, art is now moving sideways and focussing more on recognising and including different styles and artists who would previously have been ignored. More an expanded network than a linear narrative.</p>
				<p><span class="talker">JF__</span>The most positive thing I’ve seen in the art world for sure is that it’s much more inclusive.</p>
				<p><span class="talker">IN__</span>What have you been working on recently?</p>
				<p><span class="talker">JF__</span>I have been experimenting. At the moment I’m making some black &amp; white paintings on raw canvas which combine my love of old New Yorker cartoons with Helen Frankenthaler. I’ve been painting some Joni Mitchells with dragons, Bob Marley &amp; Obama etc…</p>
				<p><span class="talker">IN__</span>Do you have any advice for younger artists?</p>
				<p><span class="talker">JF__</span>Like I said, be voracious in your looking at art and reading about it. Watch movies and read books. The more information you can absorb and the more artists you can meet and talk to, the better. I hate to sound like a sixties boomer but feed your head! All the corny stuff, like David Hockney said: “work a lot.”</p>
				<p>I’ve seen so much generic painting out there, especially through Instagram, like thousands of paintings imitating Joe Bradley or Dana Schutz or whatever. My advice is that originality is not a false narrative. I think that is something that is possible. I think you can create something that has at least the illusion of uniqueness and I think that’s important. I sometimes do find with younger artists… I think they’re being taught that that’s bullshit and I just don’t agree with it.</p>
				<p>I had very good advice from a teacher years ago who said “there’s no one way to have an art career. Every career’s different.” Well, I think there’s also no one way to make art.</p>
				<p><span class="talker">IN__</span>Is there anything in your work that you wish you had done, or still want to do that you haven’t got around to?</p>
				<p><span class="talker">JF__</span>Multiple figures. I mentioned the Francis Bacon interviews… He talks specifically about this and how it seems so hard sometimes as a figurative painter to go beyond the single figure and to create something more than that that doesn’t become too illustrational or hokey. That’s something I’d like to do. Get beyond the single figure. That’s sort of an ongoing problem I’m trying to figure out in my own head.</p>
				<p><span class="talker">IN__</span>So you started trying to turn the volume down and empty your work out of information, and now you’re trying to add it back in?</p>
				<p><span class="talker">JF__</span>It’s something I’m currently dreaming about but doing them… *laughs* I’m still figuring out how to make them work.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide11_sp.jpg" /></picture><span class="caption">Untitled, 2020. oil, acrylic, and pencil on canvas 106.7 x 92.1 x 2.9cm: Courtesy of David Kordansky Gallery, Los Angeles Photography by Lee Thompson</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Fox has been known to borrow from sources such as Marvel comic books and rock albums while working through an array of painterly styles and art historical approaches. Fox’s paintings, at once material explorations and cultural mash-ups, present a collision between outer and inner worlds while they ultimately bear witness to the rancor of our times.</dd>
					<dd class="desc">Jason Fox (b. 1964, Yonkers, New York; lives and works in Poughkeepsie, New York) has been the subject of recent solo exhibitions at Canada, New York, David Kordansky Gallery, Los Angeles and Almine Rech Gallery, Brussels. Recent group exhibitions include Samaritans, Eva Presenhuber Gallery, New York; Animal Farm,Brant Foundation Art Study Center, Greenwich, Connecticut; Rien faire et laisser rire, Galerie Rodolphe Janssen, Brussels; and Contemporary Surrealist Drawings from Rotterdam, Collection Boijmans Van Beuningen, Institut Néerlandais, Paris. He holds a BFA from Cooper Union,New York and an MFA from Columbia University, New York.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. Her first solo exhibition, ‘Seer Kin Lives’, took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, The Peckham Experiment Building (London), Assembly House (Leeds) and Im Labor Gallery (Tokyo). India was awarded The Villiers-David Bursary, Royal College of Art (2017) and The Steer/Orpen/ Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently shortlisted for the Ashurst Emerging Artist Prize (2020), with an exhibition to be announced later this year.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

