.l-drawer-nav {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 66%;
	height: 100%;
	margin-top: $headerHeightSP + 1px;
	padding: 0 (40 / width(sp) * 100vw) 0 (80 / width(sp) * 100vw);
	background-color: color(white);
	transform: translateX(-100%);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: $easeInOutQuint;
	@include overPc {
		display: none;
	}

	&.is-open {
		transform: translateX(0);
	}

	> .list {
		width: 100%;
		padding: 56px 0;
		@include fz(18,18);
		@include fz(14,14);

		> .item {
			display: flex;
			align-items: center;
			height: 100%;

			& + .item {
				margin-top: 4em;
			}

			&.-disabled {
				> a {
					opacity: 0.3;
					pointer-events: none;
				}
			}

			&.-current {
				> a {
					opacity: 1;
				}
			}

			> a {
				display: block;
				text-decoration: none;
        // opacity: 0.3;
        opacity: 1;
				@include AcuminR;
			}
		}

		&.-lower {
			@include fz(12,12);
			text-decoration: underline;
      a {
        opacity: 1;
      }
		}
	}
}
