.l-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footerHeightSP;
	background-color: color(primary);
	// background-color: color(black);
	// border-top: 1px solid #cccccc;
	@include overPc {
		height: $footerHeightPC;
	}

	> .inner {
		max-width: width(max) + px;
		height: 100%;
		margin: 0 auto;
		padding: 30px (40 / width(sp) * 100vw);
		@include overTablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 60px;
		}

		> .left-column,
		> .right-column {
			padding: 0;
			list-style-type: none;
			@include AcuminEL;
			@include fz(12,18);
			color: color(white);
			@include overPc {
				display: flex;
				align-items: center;
				@include fz(14,14);
			}

			> .item {
				+ .item {
					@include overPc {
					padding-left: 40px;
					}
				}
			}
		}

		> .left-column {
			> .item {
				+ .item {
					margin-top: 8px;
					@include overPc {
						margin-top: 0;
					}
				}
			}
		}

		> .right-column {
			display: flex;
			align-items: center;
			margin-top: 20px;
			@include overPc {
				margin: 0;
			}
			> .item {
				+ .item {
					padding-left: 20px;
				}
				a {
					text-transform: uppercase;
          color: color(white);
				}
			}
		}
	}
}
