.l-header-lang {
	& {
		position: relative;
		width: (200 / width(sp) * 100vw);
		height: 100%;
		@include overPc {
			width: 76px;
		}
	}

	> .list {
		display: flex;
		justify-content: flex-end;
		height: 100%;
		font-size: 0;
		list-style-type: none;

		> .item {
			display: flex;
			align-items: center;
			height: 100%;

			&.-en {
				position: relative;
				margin-left: 30px;
				&::before {
					content: '';
					position: absolute;
					top: calc(50% - 4px);
					left: -15px;
					width: 1px;
					height: 10px;
					background-color: color(primary);
				}
			}

			&.is-current {
				a {
					opacity: 1;
				}
			}

			a {
				opacity: 0.3;
				@include AcuminR;
				@include fz(14,14);
				vertical-align: middle;
				text-decoration: none;
				@include trs;
				@include overPc {
					@include fz(14,14);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
