.l-header-nav {
	display: none;
	@include overPc {
		position: static;
		display: flex;
		width: auto;
		margin: 0;
		padding: 0;
		transform: none;
		transition-property: none;
	}

	> .list {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
		padding: 0;

		> .item {
			width: auto;
			padding: 0 30px;

			&.-disabled {
				> a {
					opacity: 0.3;
					pointer-events: none;
				}
			}

			&.-current {
				> a {
					opacity: 1;
				}
			}

			&.-current ~ .bar {
				opacity: 1;
			}
			&:nth-child(1).-current ~ .bar {
				top: 64px + 5px;
			}
			&:nth-child(2).-current ~ .bar {
				top: 64px + 56px + 16px + 4px;
			}
			&:nth-child(3).-current ~ .bar { // 152px
				top: 64px + 56px + 16px + 56px + 16px + 4px;
			}
			&:nth-child(4).-current ~ .bar { // 152px
				top: 64px + 56px + 16px + 56px + 16px +  56px + 16px + 4px;
			}
			@include overPc { // + 2px は微調整
				&:nth-child(1).-current ~ .bar { // 105px
					left: 52px - 8px;
					top: 0;
				}
				&:nth-child(2).-current ~ .bar { // 122px
					left: 105px + 61px - 8px;
					top: 0;
				}
				&:nth-child(3).-current ~ .bar { // 132px
					left: 105px + 122px + 66px - 8px;
					top: 0;
				}
				&:nth-child(4).-current ~ .bar { // 102px
					left: 105px + 122px + 132px + 51px - 8px;
					top: 0;
				}

				&:hover ~ .bar {
					opacity: 1;
				}
				&:nth-child(1):hover ~ .bar { // 62px
					left: 52px - 8px;
				}
				&:nth-child(2):hover ~ .bar { // 112px
					left: 105px + 61px - 8px;
				}
				&:nth-child(3):hover ~ .bar { // 238px
					left: 105px + 122px + 66px - 8px;
				}
				&:nth-child(4):hover ~ .bar { // 152px
					left: 105px + 122px + 132px + 51px - 8px;
				}

				&:nth-child(1):hover ~ .-current .gnav-child {
					opacity: 0;
				}

				&:hover {
					.gnav-child {
						opacity: 1;
						z-index: 2;
						pointer-events: auto;
					}
				}
			}

			> a {
				display: block;
				text-decoration: none;
				// opacity: 0.3;
				opacity: 1;
				@include AcuminR;
				@include fz(14,14);
				@include trs;
				&:hover {
					@include overTablet {
						// opacity: 1;
						opacity: 0.3;
					}
				}
			}
		} // >.item

		// > .bar {
		// 	display: block;
		// 	opacity: 0;
		// 	position: absolute;
		// 	left: 0;
		// 	width: 4px;
		// 	height: 9px;
		// 	background-color: color(primary);
		// 	@include overPc {
		// 		display: block;
		// 		top: 0;
		// 		left: calc(50% - 8px);
		// 		width: 16px;
		// 		height: 2px;
		// 		transition: left 0.3s $easeInOutCubic;
		// 	}
		// }
	} //.list
}
