.l-header {
	& {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: color(white);
		// background-color: rgba($color: #fff, $alpha: 0.8);
		border-bottom: 1px solid color(lightgray);
		@include trs;
		@include overPc {
			border-bottom: none;
		}

		// &.is-open {
		// 	&:before {
		// 		background-color: color(white);
		// 	}
		// }

		// &.is-scrolled {
		// 	top: -75px;
		// }
	}

	> .inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: width(max)+px;
		height: $headerHeightSP;
		margin: 0 auto;
		padding: 0 (40 / width(sp) * 100vw);
		@include overPc {
			height: $headerHeightPC;
			padding: 0 60px;
		}

		> .logo {
			width: 67px;
			height: 12px;
			// margin-left: (32 / width(sp) * 100vw);
			@include overPc {
				width: 76px;
				height: 14px;
				margin: 0;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			img {
				width: 100%;
				height: auto;
				vertical-align: top;
			}
		}
	}
}
