.l-main {
	position: relative;
	overflow: hidden;
	width: 100%;
	&::before {
		pointer-events: none;
		z-index: 50;
		opacity: 0;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.5);
		transition-property: opacity;
		transition-duration: 0.3s;
		transition-timing-function: ease;
	}

	&.is-alpha {
		&::before {
			opacity: 1;
			pointer-events: all;
		}
	}
}
