{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__020: India Nielsen x Markus Lüpertz",
	description: "The German artist Markus Lüpertz (b. 1941) belongs to the generation of post-war European painters who developed an approach that embraced both representational and abstract imagery in an attempt to create new aesthetic forms in painting.",
	ogimage: "https://imlabor.org/journal/interview/020/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "020",
                "item": site.url +"/journal/interview/020/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/020/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Markus Lüpertz; 'Dithyrambe', 1963, distemper on canvas, 36 1/2 x 40 1/4 inches / 101,5 x 109,5 x 2,5 cm, 93 x 102 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "020"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“Paintings are hard to talk about and even harder to be recognised for what they are”</h3>
				<p class="lead">The German artist Markus Lüpertz (b. 1941) belongs to the generation of post-war European painters who developed an approach that embraced both representational and abstract imagery in an attempt to create new aesthetic forms in painting. For Lüpertz this led to his series of “dithyrambic” paintings, depicting quasi-representational forms that appeared sculpted out of paint and interspersed with abstract blocks of colour. “Dithryamb” refers to the ecstatic dedications that would be made in honour of the Ancient Greek god of fertility and pleasure, Dionysus, a reference to the spirit of improvisation and spontaneity Lüpertz would carry in the studio in order to create his large-scale, energetic paintings. In the quick-fire interview that follows, Lüpertz gives a brief insight into his early experiences as an artist, his use of motifs and his views on painting.</p>
				<p><span class="talker">INDIA NIELSEN__</span>It’s been about two years since the COVID-19 pandemic hit Europe. What has this experience been like for you?</p>
				<p><span class="talker">MARKUS LÜPERTZ__</span>It’s a disease and one has to face it. The rest is everyday routine.</p>
				<p><span class="talker">IN__</span>You attended the art academy in Krefeld, Germany when you were just 15 years old, how did you end up there so young?</p>
				<p><span class="talker">ML__</span>It was my decision to be a painter. So I did everything to make it happen.</p>
				<p><span class="talker">IN__</span>You also attended the Kunstakademie Düsseldorf for one semester before being thrown out. What happened…?</p>
				<p><span class="talker">ML__</span>General unruliness…</p>
				<p><span class="talker">IN__</span>Did you ever have the concern that, having been surrounded by artists for the majority of your life, that you might be making work in a “bubble”? Did you do anything to get yourself out of it?</p>
				<p><span class="talker">ML__</span>I was lucky to have some strong competition in the field of painting from the beginning up until today.  Painting is a discipline and competition is a necessary condition, without which, discipline cannot bloom.</p>
				<p><span class="talker">IN__</span>In a conversation with the British painter Peter Doig you describe seeing the first exhibition of the American abstract expressionists (namely those of Willem de Kooning and Franz Kline at the Berlin Academy in 1958 and 1960 respectively) as a revelation of a “new way” of painting. I was surprised to discover the influence of this so-called New York school of painters on your work as your paintings are so distinctively German. What impact did these particular shows have on you and how did your work change as a result?</p>
				<p><span class="talker">ML__</span>My horizons grew wider and I saw new limitations rise on it - but the impetus of my work did not change.</p>
				<p><span class="talker">IN__</span>Not long after this, in the early 1960s, you began making your Donald Duck series, a series of large scale paintings featuring abstract, barely held-together figures in primary colours, the only resemblance to the Warner Bros character being the suggestion of eyes or a mouth. In terms of content, this series stands out in relation to your other works and seems to be the only instance, to my mind, of you using a cartoon character as a motif in your paintings. Was your choice of Donald Duck as a motif a conscious reference to American pop culture as a result of this influence?</p>
				<p><span class="talker">ML__</span>Yes, Donald Duck was a consciously distorted reference to American culture which most of my colleagues followed and I later disintegrated.</p>
				<p><span class="talker">IN__</span>This also seems to be the first instance of you working serially. I’m wondering if you were influenced in this regard by another type of painting coming out of New York at that time: Pop art. For example, Andy Warhol’s Campbell’s Soup Cans (32 canvases on which a near-identical Campbell’s can of soup was screen-printed, each one corresponding to the 32 flavours they manufactured at the time) was first exhibited in 1962. You were creating your Donald Duck series at the same time; the title suggests an approach to seriality that values uniformity and mass-availability in a similar way to Warhol.</p>
				<p>The paintings however tell a different story; not only do they bear little resemblance to the character of their title, but they don’t really even resemble each other - the loose similarities tying each together being colour scheme and the vague suggestion of a figure. Would you say you were both inspired by the abstract expressionists and reacting against the pop artists, particularly Warhol, emerging on the New York art scene at the time?</p>
				<p><span class="talker">ML__</span>Yes as I understand it, those early Warhol works were still part of the discipline of painting at that time. The later dominance of seriality distanced that work from the rules of the discipline and so I lost interest in the Warhol canvases. After that they became photographs for me, not paintings.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide01_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Dithyrambe - schwebend', 1964, distemper on canvas, 200 x 195 cm / 78 3/4 x 76 3/4 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide02_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt I - dithyrambisch', 1965, distemper on nettle, 60 x 60 1/4 inches / 152,5 x 153 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide03_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt 33/210 - dithyrambisch', 1965, distemper on nettle, 150 x 150 cm / 59 x 59 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide04_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Zelt - dithyrambisch', 1965, distemper on nettle, 98 1/2 x 133 3/4 inches / 250 x 340 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Did you spend time in New York?</p>
				<p><span class="talker">ML__</span>Yes, I did spend quite a bit of time in New York. I visited several times and then, in 1984, I stayed there for a bit longer. During this time I was rather productive and had a social life there - including friendships with artists.</p>
				<p><span class="talker">IN__</span>I mentioned earlier that your works seem distinctly German. Has it been a conscious decision for you to remain in Germany? Is geographic identity important to your work?</p>
				<p><span class="talker">ML__</span>Yes it has, and it is, but painting used to be not only national but also regional. We’ll see if that ever changes.</p>
				<p><span class="talker">IN__</span>What would you say characterises German painting at the moment? Do you think that art, particularly painting, has as much a national or regional identity now, with the proliferation of social media and the internet, as it did when you first began painting?</p>
				<p><span class="talker">ML__</span>At the moment painting is in a rather bad position, not only because there are thousands of painters, but because there is no common language around it. It seems that most people involved in the field of painting do not want to see painting as a discipline that has been connected to history for thousands of years, but rather as a speculation on the future. This gives them a better chance for following sentimentality.</p>
				<p><span class="talker">IN__</span>What do you mean by “sentimentality” with regards to painting and why would that be a bad thing?</p>
				<p><span class="talker">ML__</span>The public approaches painting in a speculative manner, rather than looking at it as a professional discipline. They follow their own sentimentality and value painting only based on their emotional needs and responses.</p>
				<p><span class="talker">IN__</span>I am interested in how you work with motifs. You seem to choose one motif that will then become the “theme” for your work for a period of time before discarding it and moving on to a new one. I remember going to see your solo exhibition of the Tent Paintings (made in 1965) at Michael Werner in 2018 and wondering how that approach functioned for you and why you feel the need to work in that way…</p>
				<p><span class="talker">ML__</span>Motifs are necessary to get the painting done. In the end I want to be able to make abstract paintings from which you can get motifs.</p>
				<p><span class="talker">IN__</span>Which motifs are you currently working with?</p>
				<p><span class="talker">ML__</span>It’s like a vocabulary of old and new motifs mixed together.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide05_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Donald Ducks Hochzeit', 1963, acrylic on canvas, 79 1/2 x 79 1/2 inches / 202 x 202 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide06_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Ohne Titel (Donald Duck Serie)', 1963, distemper on canvas, 200 x 102 cm / 78 3/4 x 40 1/4 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide07_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Trick (Donald Duck Serie)', 1963, distemper on canvas, 79 1/4 x 38 1/2 inches / 201 x 98 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Is there any art that you see now that excites you?</p>
				<p><span class="talker">ML__</span>Every painting which I might be able to use is exciting.</p>
				<p><span class="talker">IN__</span>You’ve had a very long, close relationship with the art dealer and gallerist Michael Werner, who has represented you since the early 60s… How important has this relationship been for your work?</p>
				<p><span class="talker">ML__</span>There are not many people around who you openly can discuss things with. The reason for this is that paintings are hard to talk about and even harder to be recognised for what they are.</p>
				<p><span class="talker">IN__</span>You are also a jazz pianist and publish a German-language magazine called “Frau und Hund” (“Woman and Dog”). How did you get into these activities?</p>
				<p><span class="talker">ML__</span>I’m interested in intellectual life.</p>
				<p><span class="talker">IN__</span>What have you been working on recently?</p>
				<p><span class="talker">ML__</span>I am working on an Opera that will be staged in Meiningen in the state of Thuringia in Germany. </p>
				<p><span class="talker">IN__</span>Do you have any advice for young artists working now?</p>
				<p><span class="talker">ML__</span>Forget it.</p>
				<p><span class="talker">IN__</span>Is there anything in your work that you feel you have not been able to do, or still wish you could do?</p>
				<p><span class="talker">ML__</span>Stand on one hand, feet in the air and paint a small masterpiece with the other.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide08_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Arkadien (Akt Schwarz) Rechts', 2018, mixed media on canvas, 100 x 81 cm / 39 1/4 x 32 inches, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide09_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Adam + Eva', 2020, mixed media on canvas, 80 x 97 1/4 inches/ 203 x 247 cm, © Markus Lüpertz, VG Bild-Kunst Bonn 2022</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/020/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/020/img/slide10_sp.jpg" /></picture><span class="caption">Markus Lüpertz; 'Bacchus', 2020, mixed media on cardboard, 32 x 39 1/4 inches / 81 x 100 cm, VG Bild-Kunst Bonn 2022</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Markus Lüpertz (b. 1941) is a German painter, sculptor, graphic artist, and writer. He also publishes a magazine, and plays jazz piano. He is one of the best-known German contemporary artists. His subjects are characterized by suggestive power and archaic monumentality. Lüpertz insists on capturing the object of representation with an archetypal statement of his existence. </dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen (b. 1991 in London) studied at The Royal College of Art (2016-18) and Slade School of Fine Art (2012-16) in London. In 2022, Nielsen will have a solo exhibition at Lazy Mike gallery. She has been involved in recent group exhibitions at Paradise Row, V.O Curations, Fitzrovia gallery (London) and Annarumma gallery (Naples) in 2022. Recent solo exhibitions include M is for Madonna, M is for Mariah, M is for Mother at Darren Flook, Crybaby at Imlabor (Tokyo) in 2021 and RedivideR at Platform Southwark (London) in 2020. She also took part in group exhibitions at White Crypt Project Space, Collective Ending (London) and Spazio Amanita x Avant Arte (Florence) in 2021 and at White Columns, curated by Danny Baez, (New York), Roman Road, The Residence Gallery and Southwark Park Galleries (London) in 2020. She also writes, interviewing other artists for the Imlabor website. She lives and works in London.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

