{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__023: Interview with: 青木 陵子",
	description: "青木陵子はボールペンや方眼紙を使用したドローイング、布の切れ端を用いた抽象的なパッチワークといった私たちの生活や生産と密接に結びついた素材を作品の素材として扱い、最終的にそれらをインスタレーションとして空間に構成するアーティストである。展示空間は鮮やかな色面や幾何学形態、不定形なドローイングの線などによって構成されるが、彼女の扱う素材は私たちの身の回りに存在する既知のものであるにもかかわらず、一見すると初めて目にするかのような新鮮な印象を覚える。それは素材やモチーフに対し常に新たな視点を求め感知し続けようとするアーティストの好奇心によって引き起こされているのではないだろうか。",
	ogimage: "https://imlabor.org/journal/interview/023/img/share.png",
	breadcrumbs: {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
			},
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
			},
			{
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
			},
			{
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
			},
			{
				"@type": "ListItem",
				"position": "5",
				"name": "023",
				"item": site.url + "/jp/journal/interview/023/"
			}
		]
	}
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/023/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "023"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「自分で考えてはいるんだけど、自分の発想から出てこないことを求めてるんだと思うんですよね。でも完全に自分の外に任せてしまいきるのでもなくて、やりとりしながら引き出していくみたいな。」</h3>
				<p class="lead">青木陵子はボールペンや方眼紙を使用したドローイング、布の切れ端を用いた抽象的なパッチワークといった私たちの生活や生産と密接に結びついた素材を作品の素材として扱い、最終的にそれらをインスタレーションとして空間に構成するアーティストである。</p>
				<p class="lead">展示空間は鮮やかな色面や幾何学形態、不定形なドローイングの線などによって構成されるが、彼女の扱う素材は私たちの身の回りに存在する既知のものであるにもかかわらず、一見すると初めて目にするかのような新鮮な印象を覚える。それは素材やモチーフに対し常に新たな視点を求め感知し続けようとするアーティストの好奇心によって引き起こされているのではないだろうか。</p>
				<p class="lead">本インタビューでは初期のモノクロのドローイングから近年の作品に現れるようになった色彩を用いた表現へと変化していった経緯、生活と制作の関係について、また生活の中から作品が立ち現れる過程について話を伺った。</p>
				<p class="lead -note"><sup>*</sup>インタビューでは当日に同席されていた、これまで数々の展覧会で彼女と共同制作を行なってきたアーティストの伊藤存氏にもご厚意により会話に参加いただきました。</p>
				<p><span class="talker">IM LABOR__</span>まず、デザイン科のご出身ですが学生の頃はアーティストになろうと思っていたのでしょうか？</p>
				<p><span class="talker">RYOKO AOKI__</span>最初は全然考えてなかったですね。なんでこんなことになったんだろう。</p>
				<p><span class="talker">IL__</span>その頃から作品は作っていたのでしょうか？</p>
				<p><span class="talker">RA__</span>これが作品と言えるんだろうか、みたいな感じだったけど一応作ってはいました。でもデザイン科で出される課題に対して何かをするっていうのが合わなかったから、絶対にデザイナーにはならないだろうと思っていて。何か表現をする事には興味がありましたが、はっきりとした目的があるというのが合わなかったのだと思います。</p>
				<p><span class="talker">IL__</span>展覧会に参加するようになったのは卒業されてからですか？</p>
				<p><span class="talker">RA__</span>大学院の時からかな。小さい絵を描いていたんですけど、それを現代美術の展覧会に出す機会があって。</p>
				<p><span class="talker">ZON ITO__</span>当時ダムタイプのメンバーの小山田さん（小山田徹）が、今で言うコワーキングスペースみたいな場所を色んなグループに貸し出してそこで色々なプロジェクトをやってて。例えばウーマンズダイアリーっていう、女性たちが集まって自分たちが必要なダイアリー、手帳を作ろうっていうグループとかそういう小さいプロジェクトがいくつかあって。そこにちょっと絵を提供したりとかはしてたよね。</p>
				<p><span class="talker">RA__</span>私自身はまだ大学に入ったばかりで、全然遠い世界って感じだったので行ったりする事はなかったのですが、院生ぐらいの時から木村友紀ちゃんと仲が良くて、ダイアリーに協力したり、当時その場所にリサーチに来ていたフランス人のキュレーターを紹介してもらったりして、その人が企画した展覧会に作品を出す機会があったりして。そんな中で美術はすごく幅があって面白い世界だなと思いました。</p>
				<p><span class="talker">IL__</span>初めて青木さんの作品を見た時に強く印象に残ったのが紙の作品を額装せずに壁に直接貼り付けたりするような展示方法で、それがとても新鮮でした。これは昔からそうなのでしょうか？</p>
				<p><span class="talker">RA__</span>よく言われます。それはずっと昔から。デザイン科の時からそうですね。</p>
				<p><span class="talker">IL__</span>額装しないんですかってよく言われたりしますか…？</p>
				<p><span class="talker">RA__</span>このなんかただ貼ってあるだけの、なんなんですか？って聞かれたりとか（笑）　ただ私は、最初は特に、額装するっていうのにすごく違和感があって。その状態が面白かったから。</p>
				<p>小さい絵は一点だけでなく、絵と絵の繋がり方も大事でした。全体の関係を作るためには紙が剥き出しである事が自然だと思いました。最近は額を使うのも好きなのですが、額の中に空間があるものをよく使います。そうすると、その額の中で小さなインスタレーションが出来ます。どこに境界を持ってくるのか、という問題だったと思います。インスタレーションの空間自体が額になるという事も考えられます。</p>
				<p><span class="talker">IL__</span>そのような展示方法に最初は少し驚きましたが、青木さんの作品を見てキャンバスや画用紙だけでなくノートのページや何かの用紙が作品になっても良いというか、それぞれの素材自体の面白さを感じました。描画材もボールペンのような事務用品だったり身の回りにある素材がよく使われていますよね。それも使いやすいからという理由でしょうか？</p>
				<p><span class="talker">RA__</span>そうですね。やっぱり素材それぞれの良さがあるから。それを引き出したいっていう感じなのかな。</p>
				<p><span class="talker">ZI__</span>割れてるペンの方が良い時もあるってことだよね。（インクがなくなって）カスカスになってる時がいいって場合もある。</p>
				<p><span class="talker">RA__</span>うん。だから素材としては油絵の具とかと一緒ぐらいの感じ。油絵もやってみたいけど…ちょっと面倒くさい（笑）　ペンは用意するのが面倒くさくないからすぐ出来る。手を動かすまでのハードルが少ないのも重要でした。</p>
				<p><span class="talker">IL__</span>2010年頃からでしょうか、コンテを使った作品が増えてきたように思います。コンテは以前から使われていましたか？</p>
				<p><span class="talker">RA__</span>それまでコンテはあんまり使っていなかったけど、2000年代の後半ぐらいからかな、色というのをすごく考えるようになって。なんかこう、面でできることを探していて。コンテって土や粘土みたいに触れるので、砂場で絵を探していくみたいなことができるから。</p>
				<p><span class="talker">IL__</span>水彩もその頃から頻繁に作品に使われていますか？　それまでは線によるドローイングのような、輪郭のある作品というイメージだったのですが。2010年頃から作品が面的になったように感じます。</p>
				<p><span class="talker">RA__</span>私はなんでも物を見る時に輪郭を見る癖があったんですけど、そうじゃない風に見たら楽しいなと思い始めて。線で描くのをやりすぎるとコントロールできすぎるというか、分かりすぎててつまんないっていうところもあって。</p>
				<p><span class="talker">IL__</span>自分でコントロールできないところに面白さを感じているのでしょうか？</p>
				<p><span class="talker">RA__</span>予測できてしまうとつまらなくなってしまって、それをいつもどうしようかなと思って工夫しています。やり方が一回うまくいって、もう一度やろうとすると何かが失われる感じがあって。最初に何か思い描いたものを描いてるというよりは、作る過程で出てくるものを拾っているような感覚なので、工程が決まってしまうと発見の喜びがなくなる。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide01_sp.jpg" /></picture><span class="caption"><em>Man and Mammal (Black horse and woman)</em>, 2013 Pencil on paper, consists two paper works 39 × 27 cm, each ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide02_sp.jpg" /></picture><span class="caption"><em>Visitor from the Distant Past</em>, 2016 Fabric patchwork 68 x 51 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide03_sp.jpg" /></picture><span class="caption"><em>Black Hyacinth</em>, 2016 Suite of 3 elements in watercolor on paper and 2 stones 29 x 21.9 cm, 4.8 x 3.3 x 1.5 cm, 3.5 x 3.3 x 1 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide04_sp.jpg" /></picture><span class="caption"><em>Colors of things like letters and numbers</em>, 2013 Conté on paper 77 x 57 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide05_sp.jpg" /></picture><span class="caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide06_sp.jpg" /></picture><span class="caption">“You reach out - right now - for something : Questioning the Concept of Fashion” Installation view at the Contemporary Art Gallery, Art Tower Mito, 2014. Courtesy of Contemporary Art Center, Art Tower Mito, and Take Ninagawa, Tokyo. Photo: Yoko Hosokawa.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>色がすごく気になったというのは、ものを面で捉えるようになって色でも形を作れるという風に考えたからなのでしょうか？</p>
				<p><span class="talker">RA__</span>そもそも全然、色があるっていうことに気付いてなくて。それに気づいたんですよ。見えてなかった。面とかも全然見えてなくて、だんだん見えてきた。</p>
				<p><span class="talker">IL__</span>確かに初期の頃はモノクロの作品というイメージがあります。パッチワークのような作品を作り始めたのも、その時期からですか？</p>
				<p><span class="talker">RA__</span>そうですね。色が見えてから。服とか布って元々色がついているから、それを絵の具のような感覚で使ってみて。</p>
				<p><span class="talker">IL__</span>それ以前は別のことに興味が集中していたのかもしれませんね。</p>
				<p><span class="talker">RA__</span>イメージがどうあるかに興味があったんですけど、展示をし始めたら空間があるっていうことに気がついてきて。空間があるから描いた絵をインスタレーションできる面白さがある。そこからまた色もあるんだなって思って。色ってすごく空間に出てくるもので、小さいドローイングは紙の中に入っていくものなんですよね。インスタレーションをやり始めると空間に対して働きかけるものがあるというのをすごく感じ始めて色に興味が出たのかもしれません。</p>
				<p><span class="talker">ZI__</span>本も作ってたんですよ。</p>
				<p><span class="talker">RA__</span>小さい本です。本はすごくドローイングに近い、絵に入っていくイメージ。</p>
				<p><span class="talker">ZI__</span>空間がいらない世界というか、絵本でも例えば登場人物が出てきたらそこに空間があっても意味ないってことだよね。本が壁にかけてある必要はなくて、本の中の図像と自分が関係を結ぶ時に空間はむしろ邪魔なんだけど、それを空間に置くとなると、その空間の構成素材になる図像の線とかそういう要素に興味が移ったんかな。</p>
				<p><span class="talker">RA__</span>そうかも。でも本にはインスタレーションと似た要素もあって、複数枚の絵を連続して見せる事が出来て好きだったのかもしれません。</p>
				<p><span class="talker">IL__</span>他には粘土の作品も作られていましたよね。確かワタリウム美術館での展示<sup><a href="#desc1" id="sup1">*1</a></sup>で見た記憶があります。</p>
				<p><span class="talker">RA__</span>粘土もやってたんですけど、（自分が）すごく平面的な人間なのでレリーフみたいにしかならないんですよね。ただ、膨らんでるっていうのは面白いですね。指で描く感じとかもコンテとかと一緒で、すごく似てると思う。壁に貼ってあるペラっとしたドローイングも本当は同じなんだけど、少し膨らみがあるだけで空間がある事を意識する事ができるような気がします。でもやっぱり線的な要素が強くて立体になりきらず、レリーフになるという。</p>
				<p><span class="talker">IL__</span>やっぱり輪郭でものを捉えているんですね。</p>
				<p><span class="talker">RA__</span>癖だと思います。でもその癖を外していきたいというか、絵を描いていて一つの見方しかできないんじゃなくて、新しい見方を発見できたらすごく嬉しい。作って、始めに自分の頭がこうでしょって思っているものじゃないことを発見したい。</p>
				<p>普段気をつけていても、考え方に癖が出たり、思い込んでものをみたりしてしまうと思うので。人間としてスムーズに生きていくには仕方ない機能でもあるのかもしれませんが、弊害もあると思う。絵を描く事はそういった癖を外す練習みたいな感じでもあります。</p>
				<p><span class="talker">IL__</span>作品とそれ以外のこと、例えば日常生活との関係についてもお話を伺いたいです。というのも、以前青木さんの整理整頓についての作品<sup><a href="#desc2" id="sup2">*2</a></sup>を見た時に、片付けや身支度といったような普段生活をする上で行う行為が作品に反映されていて、制作行為とは何だろうと考えさせられました。青木さんにとって、どこからが作品になるという意識はありますか？</p>
				<p><span class="talker">RA__</span>確かにあるにはありますね。こっちにいったら作品みたいな。でも、つなげておくというか…。それで、ある時にパンってそっち側に行って成立するのがすごく面白くて。何でもかんでもそうなるわけじゃないけど…そうなる時がある。それが何かって言われると、難しいですけど。</p>
				<p><span class="talker">IL__</span>それは作品を作っている時に起こるのでしょうか？</p>
				<p><span class="talker">RA__</span>絵でも、なんか立ち上がったみたいな。立てた、みたいな感じ。</p>
				<p><span class="talker">ZI__</span>カレーとか作って塩が足らんなとか、色々してたらなんかできた、みたいな？</p>
				<p><span class="talker">RA__</span>人って普段カレーを作っていても、なんか考えるって事とか、なんていうか、食べるためのカレーを作る以外の行為を同時にしていると思うんですけど、そういう目の前の目的とは違う部分が形になって現れた感じです。</p>
				<p><span class="talker">IL__</span>そういえば以前、箱の中に箱があるような作品の説明をされていた時に「どっちが内側でどっちが外側か分からなくなる」というようなことを話されていました。例えばそのような変な状態というか、瞬間というのもありますか？</p>
				<p><span class="talker">RA__</span>何をしている時でも、どっちにいるか分からない状況っていうのはよくありますね。多分整理整頓が苦手なんだと思うんですよね。</p>
				<p><span class="talker">ZI__</span>でも（整理整頓）好きやんな。</p>
				<p><span class="talker">RA__</span>そう（笑）　すごいこだわってる。けど結局普段は整理できてないと思うんですよ。ドローイングする時も最初は頭の中がぐちゃぐちゃしているというか、絵を描くという工程の中にいるような感じで…。例えば四角を描いて、ここは中だけど、別のところに線を入れたらこっちが外になって、どっちが外か中なのか整理しようとしてるんだけど、分からなくなって、また整理して…っていうのをずっとやってるんだと思います。この引き出しにこれを入れるのが正解だって思って、一応決めるんだけど、やっぱりここじゃないんじゃないかみたいな。</p>
				<p><span class="talker">IL__</span>それは永遠に終わらないですね…。</p>
				<p><span class="talker">RA__</span>そういうことやってる間に、なんか整理整頓できた！みたいな…。なんか普段ビジュアルの雑音みたいなものに晒されている感じがすごくある。でも絵を描くと、それがちょっと整理されるというか。雑音が消えるような感じがして。</p>
				<p><span class="talker">IL__</span>一旦それについて考えてみる、みたいな感じでしょうか。</p>
				<p><span class="talker">RA__</span>そうですね、止まってくれるから見ることが出来る、みたいな。そうしていると、整理整頓とか料理とか日常に差し迫る課題みたいなものと、もう少し大きな世の中の問題と、絵の中で起こっていくことがリンクして考えられる事もあって、私の場合は作る事で日常のメンテナンスが出来るような感覚があります。自分にとって作ることは困難な問題に立ち向かうための手段というか、そういう側面があると思います。</p>
				<p>個人的な日常の意識が自分以外の世界とどこかで繋がっている、そのどこかにピントが合った瞬間が作品が出来たと思える時なのかもしれません。</p>
				<p><span class="talker">IL__</span>ドローイングの他にはアニメーションも作られています。水彩による複数のドローイングをコマ送りにしたアニメーションを以前拝見しました。アニメーションを作った時はどのようなことを考えていましたか？</p>
				<p><span class="talker">RA__</span>絵を描いている時って、一枚の絵を描いているのと同時にそれができていく過程をずっと見ているという感覚があって。出来上がった絵は一点しか見れないけど、その途中に何枚もある絵を見れるっていうのが面白くて。</p>
				<p><span class="talker">ZI__</span>アニメーションというか、ものを動かして描くみたいなの苦手やなかったっけ。</p>
				<p><span class="talker">RA__</span>ものを動かすために作業の工程を決めないとなると、そういうのは結構しんどいんですよね。だからどちらかというと苦手なことを克服するためにやっているというか。わかってる工程を見てしまうと、せっかちなのかすぐ次に行こうとしてしまって。丸い形が三角になる動きがあったとして、三角になるってわかったらそれに逆らってしまう。</p>
				<p>だから工程を決めて形を動かすようなことは自分には向いてないと思ったんですよね。それで最近になって絵の具でやってみたら絵の具が動いているのを見ているという感じで、ちょっとストレスが減った。多分すぐ先のことを考えてしまうのも癖だと思うんですが、それをしない、ずっと楽しめる方法を考えていて。</p>
				<p><span class="talker">IL__</span>先が見えてしまったら作品としてあまり良くない、もしくは失敗ということでしょうか？</p>
				<p><span class="talker">RA__</span>そこで自分の発想を締め付けないというか、もうちょっと出来上がってくるものを見ようっていう風になるのかな。頭で考えたビジョンを外にそのまま出すというのではなくて、出来上がったものを見て驚きたいです。</p>
				<p>自分の考えって分かりきってることだから、それが多分自分にとってはすごくつまらない。だから自分で考えてはいるんだけど、自分の発想から出てこないことを求めてるんだと思うんですよね。でも完全に自分の外に任せきるのでもなくて、やりとりしながら引き出していくみたいな。</p>
				<p>その外っていうのは画材だったり空間だったり、普段目にする事柄だったり、何もないところからは起こらなくて。自分がそれに働きかけたら、それが反応して、またこっちから押したら向こうが起こってっていう繰り返しでできていくみたいな感じですね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide07_sp.jpg" /></picture><span class="caption"><em>The time in the time</em>, 2015 Suite of 192 elements in ink on paper, watercolor and mixed-media on paper 363 x 690 cm Installation view of “Tsubaki-kai 2015 - Shoshin (beginner's mind), ” Shiseido Gallery, Tokyo, 2015. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Naoya Hatakeyama.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide08_sp.jpg" /></picture><span class="caption"><em>The time in the time</em>, 2015 Suite of 192 elements in ink on paper, watercolor and mixed-media on paper 363 x 690 cm Installation view of “Tsubaki-kai 2015 - Shoshin (beginner's mind), ” Shiseido Gallery, Tokyo, 2015. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Naoya Hatakeyama.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide09_sp.jpg" /></picture><span class="caption"><em>Grassgram 2</em>, 2015 Ink and manicure on paper, suite of two drawings 40.2 x 29.7 cm, 40.8 x 31.4 cm 45 x 65.5 x 3 cm, framed ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide10_sp.jpg" /></picture><span class="caption">Installation view of “Imprisoned, Jailbreak, Imprisoned, Jailbreak “silent blue” ” at statements, 2016.3.19-4.24 Courtesy of Imprisoned, Jailbreak, Imprisoned, Jailbreak, Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide11_sp.jpg" /></picture><span class="caption">Installation view of “Imprisoned, Jailbreak, Imprisoned, Jailbreak “silent blue” ” at statements, 2016.3.19-4.24 Courtesy of Imprisoned, Jailbreak, Imprisoned, Jailbreak, Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide12_sp.jpg" /></picture><span class="caption"><em>I'm in the Dark now.</em>, 2021, "Somewhere Between the Odd and the Ordinary”, Installation view at 21st Century Museum of Contemporary Art, Kanazawa, 2021 Photo: Takeru Koroda.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>もう一つお聞きしたかったのですが、よくノートにメモのようなことを書かれているというお話を以前どこかで拝見しました。それは日常的なことに関するメモですか？</p>
				<p><span class="talker">RA__</span>色んなことが混ざってるぐちゃぐちゃのノートで、ほんとに無意識に近い感じで買い物のメモとかご飯何作ろうとかっていう日常的なことから、制作のことまで全部同じノートに一緒に書いてて。それこそ整理するためのようなものですね。</p>
				<p><span class="talker">IL__</span>制作についてはどういうことをメモされているのですか？</p>
				<p><span class="talker">RA__</span>思いついたことを書いておくこともあるし、そもそも自分が何やってるんだっけって分からなくなることがあるんですけど（笑）、そういうことを書いておいたり。</p>
				<p><span class="talker">IL__</span>自分がやっていることを言語化するのでしょうか？</p>
				<p><span class="talker">RA__</span>作ってる作品を簡略化した小さいアイコンみたいなのを描いて、それを一面に並べてみて置いてみるんですよね。そしたらこれってこういうことだなとか、こういうことがしたかったのかなとか、これとこれは繋がっていくかもみたいなことが分かるようになって。そうするとこの作品とこの作品をつなぐもう一つがあった方がいいなとか、こういう筋があるなっていうのが見えてきて。すっきりする。</p>
				<p>作る過程の中で複数の人と共同作業しているような感じなのかもしれません。自分が作る過程もいくつかあるし、画材や、空間や、工程やそこで起こるハプニングとかにも複数人の要素がある。それぞれがバラバラに起こっていくので、それを統合するために、各々にどうしてそうなっているのか聞いていくような作業です。メモはそのために欠かせないかも。</p>
				<p><span class="talker">IL__</span>全部視覚化するんですね。</p>
				<p><span class="talker">RA__</span>そうすると自分の作品を客観的に見れるんですよね。何をやっているか分からない状態からこうやりたかったんだなっていうのが分かる。でも、何をやっているか分からないっていう状態も結構必要かなと思ってて。そこからメモをとったりして段階を踏んでいくというか、ちょっと泳がせてみて、またちょっと整理して。</p>
				<p><span class="talker">IL__</span>展覧会をする時の作品の配置なども、そのように整理して考えるのでしょうか？</p>
				<p><span class="talker">RA__</span>結局は現地で決める感じになるんですけど、頭の中で一応組んではみますね。メモして、パズルみたいに考えて。でも現地に行く事はとても重要です。頭の中の空間だけではどうしてもわからない事があります。</p>
				<p><span class="talker">IL__</span>青木さんの作品を展覧会で拝見すると、作品の中の要素が別の作品にも現れていたり、繋がりがあるように感じられます。制作中に作品が他の作品にも影響するのでしょうか？</p>
				<p><span class="talker">RA__</span>ほとんどそうですね。しりとりみたいに一つできたらその次の何かが思い浮かぶみたいな。あとはさっきのアニメーションの話と一緒で、一枚絵を描いて、その絵がちょっと動いて次の一枚になる時もある。</p>
				<p><span class="talker">IL__</span>複数の作品を同時進行で作ったりもしますか？</p>
				<p><span class="talker">RA__</span>最近になって同時進行が多くなりましたね。線画のドローイングをやってた時は大きさも小さいので一個仕上げて次、みたいにやってたんですけど絵の具になると一回寝かせておいて間が空いてから描いた方が面白い時があったりする。</p>
				<p><span class="talker">ZI__</span>未完成状態の絵が10個ぐらいあったらめっちゃしんどそう。</p>
				<p><span class="talker">RA__</span>でも、私は未完成のゴミみたいなのが常にいっぱいあるから、次はどれに描こうかみたいな感じですね。自分の中でこれはもう失敗っていうのと、これはなんとかなるかなっていうのを時々整理するんですけど、一番下のもうどうしようもないっていうのに描いていくのが好きです。もうどうなっても良いから一番自由に描ける（笑）　良いところがあると潰せないじゃないですか。でも、どうしようもないのが一番描きやすいからそれがまた捨てられなくなってっていう矛盾が起きてるんですけど。</p>
				<p><span class="talker">IL__</span>じゃあゴミに一軍、二軍、三軍があったら三軍が一軍に行く可能性が最も高いんですね。</p>
				<p><span class="talker">RA__</span>それはそうかも。三軍に対する愛が結構ありますね。</p>
				<p><span class="talker">ZI__</span>とっつきやすい。</p>
				<p><span class="talker">IL__</span>もし素材が油絵になったら、失敗しても潰してやり直せるから捨てるタイミングが難しくなりそうですね。</p>
				<p><span class="talker">RA__</span>だからちょっと大きい作品に抵抗があるのって、捨てられないというのもあるのかも。処分をどうしようとかすぐ先を考えちゃうんですよね…。</p>
				<p>どうやって捨てるかはずっと気にしているテーマで、三軍の絵だけでなく捨てられた物やなぜか捨てられない物を素材にして作ることもよくあります。例えば自分が捨てられないものだと、その物がタイムマシーンみたいに時間を自由に行き来できる道具のような面白さがあるのですが、それを素材にして作っていくとだんだん物との新しい関係を築く事になります。</p>
				<p>前に石巻アートフェスティバルで空き家にあったものを素材にした時は人の物を使っていたのですが、その時はミステリーを探っていくようなまた別の楽しさがあって、全く知らない人や場所と違う次元で交流できるような感覚でした。物質的にも精神的にも分解していくというか、作っていく行為と捨てていく行為という全く逆の事を同時進行させる、自分なりの整理整頓方法です。</p>
				<p>どう捨てるか考えるのが面白いなと思うのは素材の事とも繋がっていると思います。ペンや紙も物質なので、もとはと言えば自然からやってきます。捨てたものもやがて自然に戻っていくので、一周して自分と自然の間を媒介する物でもあります。日常のサイクルはもっと早くぐるぐるまわっているけれど、作品はそこからまた違う周期を描いていくので、少し違う視点を持って考える事に向いているから面白いのかもしれません。</p>
				<p><span class="talker">IL__</span>何かを作る事だけでなくそれを捨てる事や、捨てた後のサイクルに考えを巡らすというのはとても重要な視点だと思います。また作品の保管も現実的な問題ですよね。物理的なスペースも必要ですし。</p>
				<p><span class="talker">RA__</span>そうですね。なんか軽いものであって欲しいみたいなのは思います。またどこにでも行けるような。</p>
				<br><br>
				<p>協力：Take Ninagawa</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide13_sp.jpg" /></picture><span class="caption"><em>Home Organizing Project That Started One Year Ago and Will Take Forever</em>, 2018 Mixed media 26.6 x 34.7 x 6.5 cm ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide14_sp.jpg" /></picture><span class="caption">Installation view of “Notebook forgotten at three party meeting” at Take Ninagawa, Tokyo, 2018. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide15_sp.jpg" /></picture><span class="caption"><em>That corpse you planted last year in your garden,Has it begun to sprout?</em>, 2018 Watercolor on paper, fabric, string, transparent clay 62.2 x 47.5 x 2 cm, framed ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide16_sp.jpg" /></picture><span class="caption">Installation view of “Notebook forgotten at three party meeting” at Take Ninagawa, Tokyo, 2018. ©︎Ryoko Aoki. Courtesy of Take Ninagawa, Tokyo. Photo by Kei Okano.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide17_sp.jpg" /></picture><span class="caption">Installation view of "When the field floating above the begins to make, the shop on the ship begins send word.”, Ryoko Aoki + Zon Ito,  Reborn-Art Festival 2019, Ishinomaki, Miyagi Courtesy of the artist.</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/023/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/023/img/slide18_sp.jpg" /></picture><span class="caption">Installation view of "When the field floating above the begins to make, the shop on the ship begins send word.”, Ryoko Aoki + Zon Ito,  Reborn-Art Festival 2019, Ishinomaki, Miyagi, Courtesy of the artist.</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term"><a href="#sup1">*1</a></dt>
					<dd id="desc1" class="desc">青木陵子＋伊藤存 「<a href="http://www.watarium.co.jp/exhibition/2003aoki_ito/index.html" target="_blank" rel="noopener noreferrer">変化する自由分子のWORKSHOP</a>」、 ワタリウム美術館、東京、2020年</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term"><a href="#sup2">*2</a></dt>
					<dd id="desc2" class="desc">「1年前から永遠に続く片付け」、2018年</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">青木陵子は1973年兵庫県生まれ、京都府在住。京都市立芸術大学大学院ビジュアルデザイン科修了。2024年10月に個展「<a href="https://www.takeninagawa.com/exhibitions/12049/" target="_blank" rel="noopener noreferrer">境界線のはなし</a>」（Take Ninagawa、東京）を開催予定。</dd>
					<dd class="desc">近年の主な展覧会に、個展「変化する自由分子のWORKSHOP」（ワタリウム美術館、東京（with 伊藤存）、2020）、個展「三者面談で忘れてるNOTEBOOK」（Take Ninagawa、東京、2018）、個展「みどり色のポケット」（Take Ninagawa、東京、2011）、個展「Hammer Project: 青木陵子」（Armand Hammer Museum of Art and Culture Center at UCLA、ロサンゼルス、カリフォルニア州、2005）、「神戸六甲ミーツ・アート2024 beyond」（六甲山, 兵庫（with 伊藤存）、2024）、「恵比寿映像祭2024：月へ行く30の方法」（東京都写真美術館、東京（with 伊藤存）、2024）、「ケアリング／マザーフッド：「母」から「他者」のケアを考える現代美術」（水戸芸術館現代美術ギャラリー、水戸）、「Reborn-Art Festival 2017」（石巻、宮城 （with 伊藤存）、2017）、「囚われ、脱獄、囚われ、脱獄」（ statements、 東京、2016）、「拡張するファッション」 （丸亀市猪熊弦一郎現代美術館（香川）、水戸芸術館 現代美術センター（水戸）、2014）、「ドクメンタ12」（ documenta halle、カッセル、ドイツ、2007）、「夏への扉−マイクロポップの時代」 （水戸芸術館 現代美術ギャラリー、水戸、2007）などがある。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

