{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__014: Interview with: Gabriel Hartley",
	description: "Gabriel Hartley is a British artist, who uses a variety of techniques, including wood carving, sanding, and layering, to create highly textured paintings. Hartley's paintings are constantly transformed by shimmering light into elusive images.",
	ogimage: "https://imlabor.org/journal/interview/014/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "014",
                "item": site.url +"/journal/interview/014/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/014/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "014"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“Slowing down and just looking is really important. The act of looking at something and waiting for the thing that you're making to tell you something about the world, yourself or just itself is kind of the most crucial part to creating.”</h3>
				<p class="lead">Gabriel Hartley is a British artist, who uses a variety of techniques, including wood carving, sanding, and layering, to create highly textured paintings. Hartley's paintings are constantly transformed by shimmering light into elusive images.</p>
				<p class="lead">Looking at his paintings may lead to conflicting emotions: the urge to unravel the secrets on the surface and the desire to just look at it without thinking. In the interview, Hartley talked about the importance of "just looking slowly", and I believe that this awareness has been embodied by his work.</p>
				<p class="lead">Hartley spoke to us about the process of making his paintings, artists who have influenced his practice and his series of postcards and painted photographs, which he has been creating routinely for over 15 years, at im labor one noon in July.</p>
				<p><span class="talker">IM LABOR__</span>I just wanted to start this interview by telling you that I really loved your show "OF" at seventeen; I think it started just before the government announced the first lockdown in the UK in light of COVID-19.</p>
				<p><span class="talker">GABRIEL HARTLEY__</span>Yeah, it was just before the pandemic and ended up finishing a bit early because of it. I remember that at the talk we did at the gallery, people were doing that awkward handshake thing and joking about it and just hugging anyway, as reality hadn't quite hit. People didn't quite know what was going on and certainly not where we were heading.</p>
				<p><span class="talker">IL__</span>When I saw your painting in person, it felt like looking at a sunset. It’s made up of layers of paint and sometimes painted on carved panels, which makes for a very complex composition. As a viewer, I wanted to unravel the secrets of the painting, but at the same time, I also wanted to look at it without deciphering it, as the surface of the painting was constantly changing according to the light. Do you have this in mind when you make your work?</p>
				<p><span class="talker">GH__</span>Thank you. I mean, that's really the essence of it all, I suppose!</p>
				<p>Slowing down and just looking are really important.</p>
				<p>As artists, we spend a lot of time looking at the things we're making, and we hope that others give them time, too. It sounds trite and the most obvious thing to say, but it's sometimes overlooked.</p>
				<p>The act of looking at something and waiting for the thing that you're making to tell you something about the world, yourself or just itself is kind of the most crucial part to creating. The way I've described it makes it sound like it's a kind of meditative state, which can happen. But it's equally about waiting, fiddling and being confused. And more often than not, the thing you find out is pretty mundane: the green needed to be bluer and that kind of thing. There's a belief required for this type of looking and making.</p>
				<p>But again, this makes everything sound quite high and mighty. Often, with me, there can be an impulse to change or destroy something out of either curiosity or boredom. It’s sometimes a kind of, “oh, fuck it, just do something”, or sometimes, I fiddle with something until it breaks.<br>
				Fiddling is another thing I think isn't discussed enough; people want to see confidence and certainty, and fiddling doesn't fit into that. But for me, those moments are really important in the creation of something. It's also about being conscious of when something wants to be a certain way, even though you thought you wanted it to be another way. So, looking is also about listening.</p>
				<p><span class="talker">IL__</span>I suppose that by repeating such dialogues and listening to a painting, the “object” will gradually be sublimated into the artwork.</p>
				<p><span class="talker">GH__</span>Yes, there's a point where you have to stop talking to the painting. You have to shut out all that inner monologue and listen to what it's saying. That's about really looking and giving things time.</p>
				<p><span class="talker">IL__</span>shutting out all the inner monologue...… does that mean the painting itself tells you whether it's finished?</p>
				<p><span class="talker">GH__</span>Yeah, in some ways. Although, it's the hardest thing to know. Often, when I'm painting, there will be this self-congratulatory moment after doing something I feel I've nailed. But then, only when I've made a few more paintings will I really know. Mine work best when I surprise myself and when that sense of surprise holds when I come back months later.</p>
				<p>I also talk to lots of people; I ask friends, either in person or by sending them images. In total honesty, I think I ask them way too much. I probably really frustrate my friends. *Laughs* I definitely ask them more than they ask me!</p>
				<p><span class="talker">IL__</span>It seems like getting an objective opinion about your work is an important part of the creative process.</p>
				<p><span class="talker">GH__</span>It's true. Also, it can act as a shortcut to something you already know or feel. So, if I ask someone, "what do you think?”, and they say, "it probably needs more work", if my knee-jerk reaction is, "no, you fool, it's done", then I know. Basically, it's about confirmation. It's like when you say to yourself, “I'm going to toss a coin to work out what to do”. You toss it, and it comes up heads rather than tails, and then you toss it again because you kind of always knew what you wanted.</p>
				<p><span class="talker">IL__</span>Have you ever actually used a coin toss to make a decision about your work?</p>
				<p><span class="talker">GH__</span>I think so, yeah. *Laughs* But I'm not like Two-Face from Batman.</p>
				<p><span class="talker">IL__</span>*Laughs*</p>
				<p><span class="talker">GH__</span>I hope! But yeah, that kind of thing. I don't know. How things are finished is interesting. I'm rambling on. *Laughs*</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide01_sp.jpg" /></picture><span class="caption">Installation view 'OF', Seventeen, London, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide02_sp.jpg" /></picture><span class="caption">'Drift', 2020, Ink, acrylic and burn marks on carved plywood, 99.6 x 122.9cm, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide03_sp.jpg" /></picture><span class="caption">Installation view 'OF', Seventeen, London, Courtesy of Seventeen</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide04_sp.jpg" /></picture><span class="caption">'Oranges', 2018, Oil and spray paint on canvas, 75 x 138 1/4 in. (190 x 351cm), Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide05_sp.jpg" /></picture><span class="caption">'Young London', 2011, installation view, v22, London, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide06_sp.jpg" /></picture><span class="caption">'Relief', 2016, installation view, Foxy Production, New York, Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide07_sp.jpg" /></picture><span class="caption">'Chips', 2016, foam, resin, pigment, 20 x 20 x 2 4/5 in, Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide11_sp.jpg" /></picture><span class="caption">'Windows', 2016, Oil and spray paint on canvas, 57 x 68 in. (144.78 x 172.72cm), Courtesy of Foxy Production</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide12_sp.jpg" /></picture><span class="caption">'House', 2016, form, resin, pigment, 9 4/5 x 11 7/10 x 2 2/5 in. (24.89 x 29.72 x 6.10cm), Courtesy of Foxy Production</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>It was in a catalogue of “Young London” held at V22 in 2011, focusing on young emerging artists based in the UK, that I got to know about your work for the first time. In that exhibition, you showed a large sculpture made of coloured paper and resin and paintings. Also, in your solo exhibition, “Relief", at Foxy Production (New York) in 2016, you presented a series of sculptures made using materials, such as sponges and coloured papers, that seemed to be produced in the process of making a painting and were hung on the wall alongside the paintings.<br>
				Are the sculptures and paintings linked to each other?</p>
				<p><span class="talker">GH__</span>They've always run alongside each other and changed depending on what the others were up to. I'll go through phases when I'm working very fluidly between the two and times when I'm more concentrated on painting. Rarely will it be that I only make sculptures.</p>
				<p>They're both made on the floor, so the process feels related. The sculptures are made from soaking upholstery foam in resin. I fill a large bucket with resin and let the foam soak it up and then arrange the forms on the floor. This part feels the most like drawing. It then sets in this state. To me, the forms feel like brush marks in that when you make a mark, it feels frozen in time.</p>
				<p><span class="talker">IL__</span>I see; it's like freezing an image the moment it occurs.</p>
				<p>Going back to the story, when I looked at your paintings in person, I felt that they were constantly changing; they seem to have a different expression depending on the light and the weather, or rather, they seem to be breathing quietly as if they were some creature.  Are you conscious of incorporating these organic elements into your work?</p>
				<p><span class="talker">GH__</span>Ooh, that's lovely! I love the feeling of working out an artwork’s personality and which parts of its personality change while others remain constant.</p>
				<p>Going back to talking about looking, images of my paintings kind of lose a lot of that. When you see my paintings on a screen, they won't behave in that way. It's only with the physical thing, where, depending on where you're standing or how you’re focusing, certain layers become apparent. The ones you’re talking about are built up of different layers of drawings. There are different references, and depending on how you look, different references become more apparent.</p>
				<p>These postcards and photos are the rawest state of the references. *Points to a pile of postcards on the table* It's kind of where everything comes from. And my drawings, too.</p>
				<p>In the paintings, I'll often combine multiple parts from drawings or photographic works, say, an architectural detail or a drawing of light reflecting on the water. It'll be about how these multiple images bleed in together. But then, like you said, if your focus changes, one thing might pop into the foreground. The end feeling is knowing that you are looking at something observed from the world without necessarily being able to name it.</p>
				<p><span class="talker">IL__</span>I see. Speaking of your postcard drawings, In your solo presentation that will start on the 7th of August at our project space, im labor, you’ll show your postcard drawings. Today, you brought some from the series to im labor to document them, and it seems like there are more than 500 of them, and some were actually drawn on printed photographs. How long have you been doing this series? Also, how does this postcard series function in your practice?</p>
				<p><span class="talker">GH__</span>About 15 years ago now, I started painting directly on them while I was still at the Royal Academy of the Arts. I was actually making paintings from postcards in my BA, so I've had the postcards around me for even longer than that.</p>
				<p>For a long time, they lived alongside the paintings, where some forms would come through the back door into the paintings. Recently, I've been using them much more directly and actually trying to replicate or use them as studies for other paintings. I've also been making very large prints and treating them the same way I do the postcards and photographs.</p>
				<p>The photographs started in the last year or so. Originally, I just wanted to print out all my iPhone photos, as I was conscious that I photograph a lot of things I pass or that I'm drawn to, but they kind of just live in this cloud. So, I wanted something more physical. Then, the impulse took over to treat them in a way that was similar to the postcards, but they have many more personal references. There's one of my daughter at the aquarium, there are some of failed sculptures from the studio, a chess game I was playing, a bowl of cherries – everything, really.</p>
				<p><span class="talker">IL__</span>15 years – that's a long time. I like that you can see traces of actual use, like someone's handwriting, on the backside of the postcards.</p>
				<p><span class="talker">GH__</span>Yeah, I like the glimpses of all these different people's stories. But it’s more about the image itself. I also get off on the physical nature of the postcard: its size, the type of paper, colour of the print – all these things. The title of each piece is the title of the original postcard, so there is always a way back to the original image.</p>
				<p><span class="talker">IL__</span>The screen's texture of these postcard drawings is very distinctive, which can also be said about your painting work; though some of them look like they've been roasted over a fire, and some of them look like they've been sanded.</p>
				<p><span class="talker">GH__</span>I basically destroy the image, sand it back or burn it and then rebuild it. In the rebuild, it takes on a new presence. You said something interesting before about destroying and then rebuilding in relation to your paintings…</p>
				<p><span class="talker">IL__</span>I paint, too, and yes, I often destroy an image and then rebuild it. By repeating actions of sanding, painting over and redrawing the image I have created using the faint lines and dots as indicators in the process, the image becomes inevitable. It's as if the strength of the image increases. There are many traces of such repeated acts of destruction and rebuilding in your work – do you do that with an intention?</p>
				<p><span class="talker">GH__</span>I love the idea of it being inevitable. Like you are channelling something.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide08_sp.jpg" /></picture><span class="caption">'Gaugin', 2020, Ink on sanded postcard, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide09_sp.jpg" /></picture><span class="caption">'Yokoami', 2021, Ink and wotercolor on photograph, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide10_sp.jpg" /></picture><span class="caption">'Voltera', 2020, Ink on burned postcard, 25.5 x 35.5cm (including frame)</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide14_sp.jpg" /></picture><span class="caption">'Kip', 2020, Ink and burn mark on wood, 28 x 36cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>The images in your series of postcards and photographic drawings are relatively figurative in comparison to your paintings; of course, this may be because they are based on existing images. Among them, some of the drawings seem to evoke windows and telephone poles.</p>
				<p>I remember that in your exhibition, “Relief” at Foxy Production (New York), you presented a painting titled “Window" and a sculpture made of a coloured sponge shaped like a window. So, I suppose that a window is one of the motifs often used in your work.</p>
				<p><span class="talker">GH__</span>There's so much character in the windows here, for example, that one there with a cross made from tape (pointing to the house across the road from im labor). It's such a beautiful, formal design. It must just be a practical thing to keep the glass in place or something, but it's just right.</p>
				<p>I don't know why I like windows, really. I love moments in cities when a sense of a particular character pops out.</p>
				<p>I mean, Paul Klee is one of my big heroes, and it's probably the same approach to using windows as his. A shorthand for the city.</p>
				<p>Reflections are another big theme in my work, and the city is an extension of thinking about reflection, how we reflect the city we live in and how it reflects its people and history.</p>
				<p><span class="talker">IL__</span>Speaking of reflections, you've recently moved to Tokyo and work here. Do you think that the changes in the environment are reflected in your recent works?</p>
				<p><span class="talker">GH__</span>Yeah. I mean, it's certainly changed. I think lots of it has to do with just changing space. First, I couldn't get the gear I normally use. Since I moved to Tokyo, I've been buying different fabrics to paint on, and my studio is near an amazing shop that just sells pigment, so for the first time, I've been making my own paints.</p>
				<p>Yeah, so big changes in that really practical way, but also, I really am kind of like a sponge – I'm really happy to just soak it all up with lots of walking and drawing.</p>
				<p><span class="talker">IL__</span>When I visited your new studio in Tokyo recently, there was a new body of paintings in which a fabric of silk was stretched on canvas instead of cotton, and the wooden structures and other elements placed underneath the silk can be see-through, and they actually function as a layer of the painting.</p>
				<p><span class="talker">GH__</span>So, you have to kind of peer into the painting to make out all the layers of fabrics and wooden constructions. The layers of paint in the previous paintings have been replaced by physical layers of transparent fabrics. I definitely wouldn't have made that work if I hadn’t been here. I haven't figured out yet what these paintings say about Tokyo. Or should I say, my version of Tokyo. It might be something to do with the fabrics that people wear here; people here do silk and linen very well!</p>
				<p><span class="talker">IL__</span>That's interesting, and you are actually right! I often see people wearing long coats or dresses made of see-through fabric in Tokyo.</p>
				<p><span class="talker">GH__</span>Right? And looking through something is just exciting.</p>
				<p><span class="talker">IL__</span>How about any changes in your colour pallet since you moved here?</p>
				<p><span class="talker">GH__</span>Yeah, I think it changes quite often.</p>
				<p>I usually make a very deliberate decision to get things going. I've been using lots of these greens and greys here, which I hadn't used before. This is partly down to the natural pigments I've been using. Also, I'm really enchanted by how greens are framed in the gardens here by the sand, stone and wood. All the greens in the moss gardens are something else. I know it’s a bit of a cliche for a foreigner in Japan, but I just love it.</p>
				<p>The greys have changed, too. People talk about London being very grey, but I'm more aware of grey here.The buildings in Tokyo take on all these shifts in great in relation to each other, which I’m more conscious of than in other cities. And the hot, muggy grey sky here in May and June, I'm sure, found its way in.</p>
				<p>Colour is also really intuitive for me.</p>
				<p><span class="talker">IL__</span>Are there any colours you are thinking of using or thinking of trying to use?</p>
				<p><span class="talker">GH__</span>Recently, I made a green painting, which I thought was about the different shifts in green. When I put it on the wall, there was a bit of vermillion on the wall behind the painting left over from a previous painting, and that relationship was far more interesting than anything I was trying to force, so I had to find a way of letting that happen in the painting. It sounds a bit like something from a bad film about an artist when I say it aloud, but these kinds of moments are important.</p>
				<p>I should also say I often find that I think more about light than colour.</p>
				<p><span class="talker">IL__</span>Light – like impressionist paintings?</p>
				<p><span class="talker">GH__</span>Yeah, the way light will play on a surface or shadows. Reflections. Also, the light in photography. These kinds of things.</p>
				<p><span class="talker">IL__</span>Are there any artists that have influenced your work?</p>
				<p><span class="talker">GH__</span>I mean, there are loads of people, but the first who pops into my head straight away, especially with these postcards, is Dieter Roth.</p>
				<p>Mark Rothko is a painter I loved when I was a teenager. And then I totally went off him, I think, due to people around me always seeming to dismiss him. So, I stupidly parroted that, but recently, I've gone full circle to my teenage self and have been thinking about his work a lot. I remember seeing the Seagram Murals for the first time when the Tate Modern first opened, and they completely shifted my perception of what painting could be about.</p>
				<p>Actually, it goes back to the conversation about looking. It was one of the first times I really rid myself of my preconceptions of what art should be and just looked.</p>
				<p><span class="talker">IL__</span>Outside the studio, how do you like to spend your spare time?</p>
				<p><span class="talker">GH__</span>I like playing football, and I like to go for walks. I like dogs, Italy and sandpits, too. But yeah, I like football.</p>
				<p><span class="talker">IL__</span>*Laughs* Which team do you support?</p>
				<p><span class="talker">GH__</span>Chelsea. We won the Champions League. I've been up at four am watching the games here.</p>
				<p><span class="talker">IL__</span>*Laughs* Congrats on winning the Champions League!<br>
				Finally, what are your plans for this year? Is there anything you haven't done yet that you would love to do or that you're working on at the moment?</p>
				<p><span class="talker">GH__</span>I’m really just enjoying making work here. I would love to spend some more time in Kyoto and perhaps work from there for a while. I’m in a show there in November in a new space, so I’m looking forward to that. I would love to show more here and meet more artists. It feels like there are some really interesting things happening. Also, I keep saying it, but I need to start Japanese lessons!</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/014/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/014/img/slide13_sp.jpg" /></picture><span class="caption">'Goad', 2021, Watercolor ink and chacoal on silk, linen and cardboard, 46 x 53.5cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Gabriel Hartley (London, UK, 1981) lives and works in Tokyo, Japan. He holds a BA in Fine Art from Chelsea College of Art and Design, London, and a Post Graduate Diploma in Fine Art from the Royal Academy Schools, London.</dd>
					<dd class="desc">Selected exhibitions include: “OF,” Seventeen, London, (solo)(2020); “Waterwood," Foxy Production, New York, NY (solo)(2019/2020); "The Sleeping Procession,” CASS Projects, Cass Sculpture Foundation, Goodwood, West Sussex, UK; “Landscapes,” Seventeen, London, UK (solo) (both 2018); “Reliefs,” Foxy Production, New York, NY (solo); “A Rose Without a ‘why’, It blooms because it blooms,” Carl Freedman Gallery, London, UK (both 2016); “Basic Instinct,” Seventeen, London, UK; “Lozenges,” Pippy Houldsworth Gallery, London, UK (solo) (both 2015); “The Moving Museum,” London, UK (2013); “Slap,” Praz-Delavallade, Paris, France (solo) (2012); “Arte Furini Contemporanea,” Rome (solo) (2011); “Gabriel Hartley,” Swallow Street, London, UK (solo); “Jerwood Contemporary Painting Prize,” Jerwood Space, London, UK (both 2009); “John Moores Painting Prize,” Walker Art Gallery, Liverpool, UK; and “Parade Space,” London, UK (both 2008).</dd>
					<dd class="desc">Hartley’s works are in the permanent collections of the University of Chicago; Hood Museum of Art, Hanover and the San Antonio Museum of Art.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

