{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__008: Interview with: Francesca Blomfield",
    description: "Francesca Blomfield is a contemporary British artist. She primarily makes densely layered, cryptic drawings combining decorative imagery with text alongside carved wooden sculptures that evoke baroque architectural reliefs.",
		ogimage: "https://imlabor.org/journal/interview/008/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "008",
                "item": ""+ site.url +"/journal/interview/008/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/008/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "008"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I see my works as emotional landscapes, landscapes of loss, involving a process of catharsis.”</h3>
				<p class="lead">Francesca Blomfield is a contemporary British artist. She primarily makes densely layered, cryptic drawings combining decorative imagery with text alongside carved wooden sculptures that evoke baroque architectural reliefs. She describes herself as a “frustrated landscape painter” and, looking at her intricate paintings, drawings and carvings, I can’t help but see them as the visual manifestation of her own invisible, psychological landscape. The works are labour intensive and take a long time to make, allowing the fantasies and daydreams Blomfield dips in and out of to permeate her work; at the end of the process these fantasies seem to act as a kind of “key,” hinting at both the possibility and impossibility of trying to decode her emotional landscapes.</p>
				<p class="lead">In the following interview we discuss her personal background and artistic practice, focussing on her new body of work ‘Study for a Daisy Chained Walk,’ presented by imlabor’s project space ‘2x2x2’ in Ueno, Tokyo from 17th October - 21st November 2020.</p>
				<p><span class="talker">IM LABOR__</span>First of all, I'd like to start this interview by asking you about your painting practice. Your paintings are composed of multiple layers, with very idiosyncratic textures and colour palettes; how did you develop this style?</p>
				<p><span class="talker">FRANCESCA BLOMFIELD__</span>I use exaggerated volume and curved forms in my work, which lend themselves to the baroque. I always wanted to make condensed paintings that felt decadent in terms of their material sensuality. I wanted the graphic imagery and the physical surface of the paintings to be intense and claustrophobic, which is why I chose to work on a smaller scale. The process of applying the layers of paint felt really absurd at times but, then again, the act of painting in a “fine art” sense is fairly absurd. Recently I have divorced myself from oil painting and have been concentrating on other areas of my practice, namely; drawing, woodwork, and textiles. When I'm painting, I want the paintings to show evidence of a process, unhidden and not erased by building density into the surface. This way of working then starts to take on its own internal logic.</p>
				<p><span class="talker">IL__</span>Yes, I can feel that sense of intensity and claustrophobia in your paintings, though I didn’t realise you chose smaller-scaled canvases to embody that effect. Is that why you choose the stretched out ratio of your canvases? They’re often very long and horizontal…</p>
				<p><span class="talker">FB__</span>I am interested in decoration, particularly how fin-de-siecle and art-nouveau design and architecture used sculpture and painting to build a complete constructed environment. The horizontal frieze format I choose for the paintings is quite exaggerated. I wanted the images to read as panoramas, to act as an unbroken view of a fantastical internalized landscape. The imagery is made up of motifs and objects that I then organize and sometimes squash into the picture plane. The subject matter is therefore a personal glossary. In the drawings, I often use a vertical format so the imagery extends upward like a musical score or architectural diagram.</p>
				<p><span class="talker">IL__</span>You mentioned that you had “divorced” yourself from oil painting and have been focussing on other areas of your practice and you’ve been producing mainly drawing recently. What role does drawing take within your artistic practice compared with painting?</p>
				<p>Could you also talk about the drawing works you are going to show in your solo show ‘Daisies’ at our project space ‘2x2x2’? </p>
				<p><span class="talker">FB__</span>Drawing, for me, is an exercise in fantasy. This is the context in which I feel my work belongs. The Art Industry is very elitist, particularly when it comes to painting so I feel like my approach to it is changing. In a sense my work is concerned with dreaming, so I think drawing is more suited to it as a medium. Drawing is more linked to the subconscious; it's about working things out - planning and evolving. In my opinion, there is something too fixed about a finished painting.</p>
				<p>I see my drawings as an architectural exercise (they are about planning and building) so it makes sense in my practice to be now combining them with three-dimensional works. I am building worlds up out of these motifs. The largest drawing in the show, ‘Study for a Daisy Chained Walk’, functions as both a study for a fantastic garden and a type of garment modelled on an Elizabethan costume with a baroque silhouette. I wanted the top part to be like a voluminous collar, bust, or wings—the silhouette of an angel.</p>
				<p>There are two drawings in the show: the larger ‘Study for a Daisy Chained Walk’ has a pear tree serving as the central figure. The trunk is made up of a decorative butterfly held in an orb; there is a strong sense of symmetry with the Gothic window, medical crosses, and burning keys. Daisies scatter themselves across the surface, joining themselves together to form the numbers ‘0’ and ‘8’.</p>
				<p>The other drawing, 'S.A.', has two interlocking keys set into a green and blue ridged texture with portals placed along the axis. The text and image compositions in my drawings, with image and text being dispersed into illogical pairings, often describe marginalia. In medieval times, monks in the West who practiced marginalia reached altered states by way of intoxication, so I suppose that's why the depictions of fantastical or grotesque subjects alongside illuminated texts had a psychedelic quality.  I like the writings and philosophical ideas of Simone Weil and, after seeing photographs of her notebooks, my approach to drawing and composition changed considerably. The varying text sizes and scattering, irregular directions of algebra alongside ancient language gave the pages an “anti-gravity” orientation. To me these pages also embodied notions of an altered state, albeit in a different way to the monks.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide01_sp.jpg" /></picture><span class="caption">Francesca Blomfield: The lost keys, 2019, oil on canvas, 26x66 cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide02_sp.jpg" /></picture></span><span class="caption">Francesca Blomfield: At the End of the Longest River, 2019, oil on canvas, 26x120cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide03_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Study for a Daisy Chained Walk, 2020, Graphite and Pencil on paper, 130×64cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide04_sp.jpg" /></picture></span><span class="caption">Francesca Blomfield: Ode to Goblin Dreams, 2020, pencil on paper, foam board, Limewood, PVA, 90x26cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>What is the story behind ‘Daisies’ - the title of your current solo presentation with us?</p>
				<p><span class="talker">FB__</span>Daisies are a very popular flower in the UK. They are very common but very delicate and have many ritualistic properties. One of my earliest memories of making things was joining together daisy chains in the fields near the flats I lived in. In recent years I have also developed an interest in esoteric subjects… particularly how esoteric narratives exist as a counter to normative culture. ‘Daisies’ therefore seemed like the most appropriate title to discuss work that was essentially born out of my own personal processing and catharsis.</p>
				<p>‘Daisies’ also refers to the recurring motif of daisy features in this new body of work, as well as to my younger sister Daisy. I used this daisy motif in both ‘H is for Help’ and ‘Study for a Daisy Chained Walk.’ When I was growing up I was a ‘chav’ and caused a lot of trouble, but would also hang out in parks with other children making daisy-chain garlands like some kind of folk ritual. So I think the daisy motif comes out of this collision of the personal and the mystical that, as it happens, has an unusual context within my personal narrative. It’s also a development of the chain motif I have been using in my work for a while now.</p>
        <p><span class="talker">IL__</span>Your interest in language is evident in your work. For example, your work, 'D.R. Care' and 'Hell 1' combines text and image alongside each other - how do you connect the two?</p>
        <p><span class="talker">FB__</span>Regarding the text and imagery coming together, there is an instinctive feeling of completeness and satisfaction I feel in the meeting of text and image, like how the use of strong graphics in posters make things appear more desirable. I like how things that are designed or elaborated take on an added quality of fantasy. I was always really taken by the book of Kells (an illuminated manuscript of the New Testament held in the Trinity College library in Dublin), which I saw a copy of when I was very young. I was very in awe of the layers of detail there was, even though the version I saw was a much smaller reproduction.</p>
				<p><span class="talker">IL__</span>Alongside your drawings, you’ve also recently been making a lot of carved wooden pieces. Often the wooden pieces serve as a frame for the drawings. 'S.A.', for example, which you are showing in your solo presentation ‘Daisies,’ consists of a drawing contained in a curving wooden frame. How did you start this series of wooden carvings?</p>
				<p><span class="talker">FB__</span>My use of wood began as a practical requirement; as a way of displaying and holding the drawings. However, since then, the wooden carvings have started to stand alone. I started combining fabric elements with these last year, which is something I am developing. The wood carving is an extension of the architectural forms in the drawing. The wooden pieces serve as anchor points, adding weight and sturdiness to the fabric pieces. The process of carving is not dissimilar to the process of how I paint.</p>
				<p><span class="talker">IL__</span>Whether it’s painting, drawing, or wood carving, the vast majority of your works are very detailed. It seems, to an outside viewer anyway, that it takes a considerable amount of time to make each piece. Does spending a long time on each work mean something to you? Do you think you might eventually return to making oil paintings?</p>
				<p><span class="talker">FB__</span>I think I am a frustrated landscape painter at heart. Although my practice has been expanding to encompass other materials, I always end up returning to painting in some form or another. I see my work as a form of psychic self-surgery. Ultimately I am still trying to render formations of internalized subject matter through painting, drawing, sculpture, and writing. I am excited to discover new combinations of materials I might have previously overlooked.</p>
				<p>I see my works as emotional landscapes, landscapes of loss, involving a process of catharsis. Despite this I do not necessarily see the works as particularity sad or melancholy. Although my specialism is in painting, I have been using craft processes more and more in my work. The works also do often involve a lot of labour, meaning that the time involved in making becomes intertwined with the materials of the work. I have a fairly developed design before I make the pieces, although things do change in the studio. I get excited when unexpected details emerge in the work. I hope my work becomes more elaborate and intricate.</p>
				<p><span class="talker">IL__</span>Repeated motifs, numbers and phrases like “Dr. Care” disperse themselves across your works. You also incorporate a lot of images that evoke the idea of infinity such as chains and interlocking circles. How do you determine motifs?</p>
				<p><span class="talker">FB__</span>I combine text and image in my work. Both the images and the texts in my work are decontextualized. They are untethered and arranged in a method of my choosing, taking on a psychedelic quality. Repeating these motifs become keys that can be used to interpret different meanings. I think this idea of unlocking is vital to my practice, the process of understanding. Having these motifs that reemerge over and over in the work allows me to concentrate on materials and the process of making.</p>
				<p>Recently I have been playing with this idea more in depth, both in my two-dimensional and three-dimensional works, taking the idea of ‘layering’ to a new level. I like aspects of my work to become self-generating, like a maze linking back in and feeding itself like the subconscious. I have been using holes as a motif in a lot of my work. For instance the chains, portals, and geometric ring motifs I use are based on arseholes. I also repeat the numbers ‘0’ and ‘8’ in my work; through repetition they become more than just numbers, coming to exist as separate characters. The number ‘8’ is significant to me because my birthday is the eighth of January, which is also the eighth day at the start of the Gregorian calendar. I also like that the figures ‘0’ and ‘8’ can mean both nothing and eternity. That really is the universal description of life and I think that represents how I see art making - it is what I have chosen to do with myself while I’m on earth.</p>
				<p>Phrases like “Dr. Care” also emerge in my work. “Dr.” is an abbreviation for “doctor.” I also often think about ‘care’ when I make my work. The term ‘care’ also has personal significance for me as there’s a lot of mental health stuff in my family; I’m also had to live with some of these challenges myself. I’m a lot more stable today than my younger self, but it’s an ongoing process. Care is used a lot in relation to the treatment of disease, but it has also (annoyingly) been used out of context by the self-care industry and wellness companies.</p>
				<p>It seems that people are often conditioned to turn their backs on people who aren’t completely able-bodied or minded, and this is also a product of capitalism and oppression. Normativity is sold to us in many forms and I feel quite critical about the lack of space that is given to things that are difficult or are disruptive. I have become more aware and angry about this as I get older. So the phrase “Dr. Care” for me resonates with these issues; it represents who I am and where I come from. It is also a reminder for myself to take care and be aware - to resist the things I do not want to become.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide05_sp.jpg" /></picture><span class="caption">Francesca Blomfield: S.A. , 2020, Pencil and graphite on paper, wax, pinewood, MDF, acid-free tape,PVA, polyester, satin, 122×26cm</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide06_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Hell 1, 2018, pencil on paper, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide07_sp.jpg" /></picture><span class="caption">Francesca Blomfield: DR.08, 2020, lime wood, wax, polyester, satin, 48×16cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>You seem to incorporate a lot of personal narratives into your work. Can you tell us about some of the people or experiences that inform your practice?</p>
				<p><span class="talker">FB__</span>My upbringing involved a lot of instability which can manifested itself in a few ways, including my own obsessive tendences which, coincidentally, is very well suited to art making. I have equal capacity to destroy things as I do to make things, and art has been vital in fostering the making part of myself. I did a lot of daydreaming when I was a child and this became a vehicle for me to escape my surroundings, so although things were a bit rough at times, I’m grateful for them because it helped develop my imagination. The best thing about dreaming it that it’s free and can be done at any time.</p>
				<p>I spent years trying to block it out and separate myself from it, but as I’ve got older my childhood has become more and more significant in developing my work. For better or worse it’s made me who I am and has had an effect on the work I make. That being said, my work is not factual testimony and I don’t see making as an autobiographical exercise. I suppose I use personal experiences as subject matter, but they become transformed and encoded in my work. </p>
				<p>I relocated as a teenager to live with my older sister. She’s a performer and I was suddenly surrounded by artists; I would just hang around and sometimes help out making props. This experience had a massive effect on my personal development and my work ethic and also introduced me to a lot of visual artists that ended up influencing my work. A lot of the artists and performers I was exposed to were working multiple money jobs to support their art. For me working another job alongside art-making was always necessary as I do not come from wealth. I do think if artists were more culturally supported and art wasn't so elitist, this would lead to considerable leaps in cultural output and change. I have grown accustomed to being constantly tired, and juggling many projects, both personal and work related; for the last few years, I have been working as a bookseller for second-hand books.</p>
				<p><span class="talker">IL__</span>Finally, can you tell us what you have been working on recently?</p>
				<p><span class="talker">FB__</span>I have been working on a collaborative project called Wild, Wild Wenches with the painter Kit Trowbridge, an American artist based in London who I met while we were both on the MA Painting programme at the Royal College of Art. The project space that was supposed to be hosting this had to put the exhibition on hold as a result of the COVID-19 pandemic, so we’re hoping to put on the show in 2021. The project will be a combination of our visual and written work. Personally, I have also been working on a new series of watercolour paintings on paper.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/008/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/008/img/slide08_sp.jpg" /></picture><span class="caption">Francesca Blomfield: Terra Firma, 2018, oil on canvas, 26x66cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Francesca Blomfield (b.1990) is a British artist who lives and works in London. She recently completed her MA in painting from Royal College of Art, having graduated from her BA in Fine Art from Chelsea College of Art and design. Recent Solo exhibitions include 'War Hammer' (2017) at Barbican Arts Trust, London, 'International Treaty' (2015) The Horse Hospital, London. Blomfield has been involved in group exhibitions 'Chrome Villa, with Col Self' (2018) at Andor Gallery, London ,'Glass Houses'(2020) at Mcbeans Orchids, Lewes, Multiverse(2019) at Gazelli Art House, London and Autumn Yield(2019)at Bridget Riley Studios, London etc..  She won Barbican Arts Group Trust open, 1st prize (2016).</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

