{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__008: India Nielsen: Crybaby",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ March 28 - April 24, 2021, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/008/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "2x2x2",
                "item": ""+ site.url +"/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "008",
                "item": ""+ site.url +"/twobytwobytwo/008/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/008/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/008/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "008"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">India Nielsen</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">March 28 - April 24, 2021<br>※ Opening hours: 2pm - 7pm / Thur - Sat.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">India Nielsen is a true 90’s kid, raised on Cartoon Network’s revival of vintage animation, MTV’s coverage of hip hop’s golden age, the arrival of the Internet and with it primitive incarnations of social media. Growing up amongst the first generation of digital natives provided never-before-seen access to information and at-your-fingertips connection to individuals worldwide, but decades later that early excitement has given way to a millennial malaise. It is only with hindsight do we appreciate how such information overload has led to an inherent distrust of facts and the redundancy of knowledge, how global connectivity has led to a detachment from our local communities and indifference towards our immediate surroundings and how instant digital interaction has led to an unappreciation of intimacy and insufficiency of both physical and emotional engagement. It is this dissociation that Nielsen explores within her work as she attempts to awaken the subconscious and reintroduce an emotional narrative into the visual and verbal language of ‘online’.</dd>
					<dd class="desc">By adopting the practice of sampling and remixing that dominated the music of her youth, as well as an attitude to appropriation propounded by artists such as Martin Kippenberger, Peter Saul and Sigmar Polke, Nielsen incorporates imagery absorbed from the Internet and popular culture - as well as a childhood surrounded by catholic iconography - into her paintings. Here cartoon characters such as The Powerpuff Girls’ camp, demonic antagonist HIM (His Infernal Majesty), flaming Scared Hearts, bold gothic script and stylised severed limbs are imbued with feeling as they become sigilistic symbols and stand-ins for moments or memories in the artist’s life. Nielsen’s paintings are far from nostalgic kitsch or ironic juvenalia however, rather their energy and intensity ground them in a present processed through an examination of the past. Aesthetically the paintings defy easy classification, operating at once as figuration, abstraction and expressionism as Nielsen similarly samples and channels her varying art historical influences. By merging, for instance, Phillip Guston’s penchant for thick, impasto oils, Francis Picabia-esque ethereal, translucent visages and Paul Thek’s macabre fascination with flesh into a single composition, Nielsen is able to produce paintings that traverse multiple artistic styles and painterly techniques, whilst allowing viewers to gain a foothold of understanding in the work.</dd>
					<dd class="desc">Additionally, Nielsen’s modular sculptures and distinctive nomenclature provide textual context through which the viewer can consider her paintings. The former, initially conceived as companion framing devices attached to the corners or borders of her paintings, have developed a certain site-specific dependency and occupy that liminal space between the second and third dimension. Individual words, phrases or sentence snippets - ‘Cry Baby’, ‘Build It Up’, ‘Burn It Down’ - inhabit the gallery space, permeating the exhibition with a melancholic unease. Likewise, Nielsen’s aforementioned unique approach to titling may both help and hinder the audience’s attempts to interpret and understand the artworks. Whilst occasionally frank and matter-of-fact, frequently the titles take the form of anagrams, initials or cyphers. Are these coded riddles the cryptic crossword clues to the paintings themselves? Or, on the contrary, are they red herrings highlighting the intrinsic imperfection of verbal language? Either way, Nielsen leaves the viewer questioning, searching for meaning that may be just out of reach.</dd>
					<dd class="desc">- Hector Campbell, Art Historian, Writer &amp; Curator</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. In 2021 she will have a solo exhibition at FREEHOUSE in London, as well as a two-person exhibition at Well Projects, Margate and a three-person exhibition at Annarumma gallery in Naples, IT. Her first solo exhibition, ‘Seer Kin Lives’, took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), Roman Road, Southwark Park Galleries, Collective Ending, The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, The Peckham Experiment Building (London), Assembly House (Leeds), White Columns (New York), Spazio Amanita (Florence) and Im Labor Gallery (Tokyo). India was awarded The Villiers-David Bursary, Royal College of Art (2017) and The Steer/Orpen/Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently shortlisted for the Ashurst Emerging Artist Prize (2020), with an exhibition taking place until the end of October 2020. Her works are included in a number of international private collections.</dd>
					<dd class="desc"><a href="{{ site.root }}journal/interview/011/"><strong>Installation view &amp; interview with: India Nielsen</strong></a></dd>
				</dl>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

