{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'curation',
		lang: 'jp',
    title: "CURATION__001: MUD, TOKYO And SWIMMING",
    description: "im laborはこの度、東京のパークタワーホールギャラリー1にてグループ展「Mud, Tokyo and Swimming」を開催いたします。本展は、アーティストが運営するギャラリーim laborの初のプロジェクトとなります。",
		ogimage: "https://imlabor.org/curation/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "CURATION",
                "item": ""+ site.url +"/jp/curation/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "001",
                "item": ""+ site.url +"/jp/curation/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
{#- {% include '_partials/_page-breadcrumbs.njk' %} #}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}curation/001/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}curation/001/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.curation %}
					{%- if item.category === "CURATION" and item.number === "001"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">ハリエット・フローレンス・ファーマー、エリン・ローラ・ヒュージス、インディア・ニールセン、大谷透、大久保薫、三嶋一路、杉原玲那、フェリックス・トレッドウェル</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">パークタワーホールギャラリー1、東京、日本</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">24th September - 30th September, 2017</dd>
				</dl>
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc">三嶋一路, all imgs copyright and courtesy of the artists and im labor</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">im laborはこの度、東京のパークタワーホールギャラリー1にてグループ展「Mud, Tokyo and Swimming」を開催いたします。<br>本展は、アーティストが運営するギャラリーim laborの初のプロジェクトとなります。</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><img src="{{ site.root }}curation/001/img/slide01.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide02.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide03.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide04.jpg" alt=""><span class="caption">フェリックス・トレッドウェル、 "Untitled"、2017年、キャンバスにスプレー塗装</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide05.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide06.jpg" alt=""><span class="caption">ハリエット・フローレンス・ファーマー、 "Underwater Wave"、2017年、オイルバーとシルクの染料</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide07.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide08.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide09.jpg" alt=""><span class="caption">エリン・ローラ・ヒュージス、"Fire Place, and Sims Collage"、2017年、混合メディア</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide10.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide11.jpg" alt=""><span class="caption">大谷透、"KSF(green)"、2017年、研磨紙上のカラーペンシル</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide12.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide13.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide14.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide15.jpg" alt=""><span class="caption">杉原玲那、"study of the wall"、2017年</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide16.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide17.jpg" alt=""><span class="caption">大久保薫、2017年、キャンバスにアクリルとオイル</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide18.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide19.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide20.jpg" alt=""><span class="caption">インディア・ニールセン、 "Untitled"、2017年、キャンバスにアクリルとオイル</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide21.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide22.jpg" alt=""><span class="caption">三嶋一路、"Work, fabricate, built and show"、2017年、プレハブ住宅部品</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/238102474?loop=1&amp;byline=0&amp;portrait=0&amp;muted=1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe><span class="caption">杉原玲那、"The Sanzu River"、2017年、2：10秒</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide23.jpg" alt=""></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

