{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__015: In conversation with: hk.",
	description: "",
	ogimage: "https://imlabor.org/journal/interview/015/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "015",
				"item": site.url + "/jp/journal/interview/015/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/015/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section -en-jp">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "015"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc">xxxxxx, all images copyright and courtesy of the im labor.</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide01_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide02_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide03_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide04_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide05_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide06_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide07_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide08_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/015/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/015/img/slide10_sp.jpg" /></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

