{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
    lang: 'jp',
    title: "2x2x2",
    description: "",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<section class="page-section">
    <div class="inner -full">
        <h2 class="header -latest">2 x 2 x 2</h2>
        <div class="c-column -twoby">
            {% for item in articles_jp.twoby %}
                {% include '_partials/_c-article.njk' -%}
            {% endfor %}
        </div>
    </div>
</section><!-- /.pege-section -->
{% endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}
