{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__018: In conversation with: Mark Leckey",
	description: "Turner-prize winning British artist Mark Leckey articulates life on the outskirts of things, an almost pathological interest that mirrors his own life. He describes Ellesmere Port where he grew up, an overspill town just outside of Liverpool, as being a place that was both on the periphery of the action and, being part of the declining industrial north-west of England, one which was always looking back on itself - a wistful admission that its best years were already over.",
	ogimage: "https://imlabor.org/journal/interview/018/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "018",
                "item": site.url +"/journal/interview/018/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/018/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "018"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“Images excite me in a way that compels me to get intimately involved with them. Something fascinates me and I want to know it and absorb it into my body, but at the same time I want my body to be absorbed into that image so I can reach a euphoric state.”</h3>
				<p class="lead">Turner-prize winning British artist Mark Leckey articulates life on the outskirts of things, an almost pathological interest that mirrors his own life. He describes Ellesmere Port where he grew up, an overspill town just outside of Liverpool, as being a place that was both on the periphery of the action and, being part of the declining industrial north-west of England, one which was always looking back on itself - a wistful admission that its best years were already over.</p>
				<p class="lead">His now cult video <em>Fiorucci Made Me Hardcore</em> (1999), for which he first came to public attention when it was shown at the Institute of Contemporary Art (ICA) in London that same year, captures the dance and music subcultures of the 1970s, 1980s and 1990s, movements driven by mainly working class youth who used consumer culture, namely branded leisurewear, sportswear and music, as a kind of aspirational drag; sartorially mimicking the middle classes who frequented these stores while producing their own vital communities. <em>Fiorucci Made Me Hardcore</em> was Leckey’s way of reanimating these movements, which had then been largely forgotten and superseded by the introspective nostalgia of Britpop in the U.K. and the burgeoning careerism of the Young British Artists (YBAs) in London, through video, while also holding the bittersweet awareness that the life-force driving these communities had already faded.</p>
				<p class="lead">The degrading quality of this grainy video-document as it was digitised, edited and later proliferated via the internet further emphasised the spectral quality of <em>Fiorucci Made Me Hardcore</em> as the social bonds it captured were soon overtaken by the high-speed information networks of YouTube, social media and internet culture, where every mode of self expression is immediately observed, absorbed and dissected. In the 23 years since making <em>Fiorucci</em>, Leckey is still animated by images and relics of technology and working class culture, using them as surrogates through which he can explore his own life experiences and desires, taking the form of sound, sculpture, anthropological assemblage, installation and video. </p>
				<p class="lead">As we chat over Zoom on the morning of 10th January, both of us socially distancing in a London just emerging from the COVID-19 pandemic, Leckey talks to me about his early experiences going to art school at Newcastle Polytechnic, how the internet has changed the way subcultures evolve, his interest in cargo cults and of his enduring belief that, through technology, he can reach an intense state of euphoria.</p>
				<p class="lead -note"><sup>*</sup>This interview was conducted on 10th January 2022 via. Zoom.</p>
				<p><span class="talker">INDIA NIELSEN__</span>You did your BA in Fine Art at Newcastle Polytechnic, graduating in 1990. What was that experience like?</p>
				<p><span class="talker">MARK LECKEY__</span>Newcastle at that time was quite provincial. When I went there in the mid-80s, most of the students had come up from London or the home counties so it was quite crusty - do you know what “crusties” are?</p>
				<p><span class="talker">IN__</span>No…</p>
				<p><span class="talker">ML__</span>It was a subculture in the 80s… they were sort of like anarcho-hippies.</p>
				<p><span class="talker">IN__</span>Why were they called “crusties”? Was that a hygiene thing?</p>
				<p><span class="talker">ML__</span>Yeah. They were sort of punky hippies and they ended up being called “crusties”.</p>
				<p><span class="talker">IN__</span>So a bit like angry hippies?</p>
				<p><span class="talker">ML__</span>Yeah, they were angrier and more radical than hippies, but could also be quite fey with it as well. Newcastle was full of these crusty kids from down south who didn’t want to go to art school in London and get sucked into the burgeoning careerism that was happening there in the mid-80s. As a result, Newcastle was quite a mellow place when I was there, which was frustrating for me because I wasn’t a hippie at all.</p>
				<p>Then, in the late 80s, critical theory started to emerge from Goldsmiths and swept up the country. It reached Newcastle in about 1989, meaning we went back for our second year and were plunged deeply into French theory - suddenly we had to read Roland Barthes and Jacques Derrida. It completely changed the whole vibe of the college. Everyone became much more serious and less confident as a result. It was presented as self-critique or a questioning of your own assumptions but it basically left people unable to work because they were less certain of what they were doing. It messed me up. I was very confused by it. I used to see art schools as carriers of a virus called art with a capital “A” and it needs a host to replicate. It needs bodies. That’s what art schools do. They replicate this Capital “A” art, which is foreign to you in some way, in the students. I don’t know if it lets you do what you want to.</p>
				<p><span class="talker">IN__</span>If you’re describing it as a virus then the virus is the language, because art schools (particularly in the U.K.) are extremely conversation heavy. They spend the years you’re there teaching you how to talk about and justify your work - as if the art world is a conversation and you need a certain level of fluency to be able to participate.</p>
				<p><span class="talker">ML__</span>Yeah, exactly.</p>
				<p><span class="talker">IN__</span>So how did you respond?</p>
				<p><span class="talker">ML__</span>I couldn’t. I struggled with it and I eventually did get something out of it, but most of the time I just found it beyond me. I had no literary background. I had read fiction growing up but books just weren’t a part of my upbringing. I found it very daunting.</p>
				<p><span class="talker">IN__</span>It’s so funny you say that, because after your show ‘Industrial Light &amp; Magic’ won the Turner Prize in 2008, a lot of the criticism you got was that your work was “overly academic”</p>
				<p><span class="talker">ML__</span>*Laughs* I know… </p>
				<p>…I kind of blushed when you said that because my response at the time feels quite snarky and self pitying now - but that’s because I was so surprised! That’s the last thing I thought I was doing. When I left Newcastle in 1990 I didn’t want to make art anymore because I basically thought I didn’t have the intellectual capacity to produce art in the way that was being demanded at that time. I couldn’t grasp the theory, so I gave it up. After many years I found my way back by thinking about how I could make art from a place of knowing rather than one of lack and inability, because that’s what theory was to me. Pure lack. So I thought: “I’ll make work out of my experiences and how I understand the world” and extend that outwards. That gave me the confidence to start making art again. So when they said it was academic I was like: “No it’s not!” Because, in many ways, it was actually coming from somewhere very opposed to that. But I had the virus as well. I had been infected by art language and the discourse. It wasn’t like I was an outsider artist. </p>
				<p><span class="talker">IN__</span>So was your film <em>Fiorucci Made Me Hardcore</em> (1999) the first instance where you made work that was from your own experience?</p>
				<p><span class="talker">ML__</span>Yeah, definitely. It’s weird to say now because it’s become so oversaturated but, in the late 90s, rave and underground culture had pretty much been forgotten about. It wasn’t considered part of the music landscape and that annoyed me *Laughs*… I made <em>Fiorucci Made Me Hardcore</em> towards the end of the Britpop era in the U.K. so the culture at that time was centred around bands like Oasis and I didn’t find that interesting at all. Britpop to me was very nostalgic and backwards-looking, whereas the stuff I was talking about in <em>Fiorucci</em> was much more future-facing and experimental - but experimental on a mass-cultural level. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide01_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide02_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide03_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide04_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide05_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Fiorucci Made Me Hardcore', 1999, DVD, 14 minutes 30 seconds, Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>How involved were you with the subcultures shown in <em>Fiorucci</em>? </p>
				<p><span class="talker">ML__</span>Some of them very much so. I was a scally, I was a raver… I went through phases but it began with soul music for me. I was a soul boy when I left school. The Northern Soul movement was actually the generation before me but they were still around. I was still aware of people like that. </p>
				<p><span class="talker">IN__</span>In a 2016 promotional video you made for the Tate you described the feeling of growing up in Ellesmere Port, just outside of Liverpool, as being like “standing on the edge of the dance floor watching everybody else having a good time”. That’s how I feel when I watch <em>Fiorucci</em>. It’s very angsty. It feels like being an awkward teenager at a club - you’re in the moment but simultaneously on the periphery because there’s this internal feeling that you don’t fully belong there. </p>
				<p><span class="talker">ML__</span>I think part of that comes from my lived experience of coming from a town that was not just on the periphery of things geographically, but also always looking back on itself because its best years were already over. I set out with <em>Fiorucci</em> to make a subjective documentary about subculture that, as I mentioned, I felt were neglected. In the process of editing the video, however, I became more aware of its aura - it put me in this strange state of wanting to be inside the footage itself. At the same time, I felt very distant from it because I was always being propelled back outwards. So <em>Fiorucci</em> to me is a push-and-pull between this compulsion I had to be there - to be intimate and present with this archival footage, while simultaneously being aware that… it’s gone. They are ghosts. It’s a record that’s already fading fast. For example, the raver footage I included at the end is from 1993 and I made <em>Fiorucci</em> in around 1998. That’s just five years later, but already that ghostly feeling was there for me. </p>
				<p><span class="talker">IN__</span>I get a melancholic feeling of aspiration from <em>Fiorucci</em>. A lot of the groups shown in the film, for example “scallys”, were made up of mostly working-class kids who wore branded leisurewear and sportswear as a way of “blending in” with the middle-class. In this way they were using certain brands as a form of aspirational drag to give the appearance of moving up a class, even though their economic situation remained the same. I am reminded of Jennie Livingstone’s documentary film <em>Paris is Burning</em> (1990) which chronicles the underground ball culture of New York City. Many of these ball categories were also concerned with blending in or “passing”, with trophies being awarded to the queen who could most convincingly dress and act out conventional cisgender, straight, white roles such as “executive”, “school girl” and “military soldier.” Was that an influence on you?</p>
				<p><span class="talker">ML__</span>Yes, big time. Very much so…</p>
				<p><span class="talker">IN__</span>…I wonder then how you feel about some of the criticism <em>Fiorucci</em> has received in terms of its subject matter. In a 2016 <em>artnet</em> review of your MoMa PS1 exhibition of that year, the writer Christian Viveros-Fauné wrote of <em>Fiorucci</em> and its dancers: “subversive this film is not, unless youth and drug culture is your idea of sticking it to the man.” While watching the video again last night on YouTube I noticed you’d left a comment underneath quoting him verbatim. Did you do this as a “fuck you” or were you agreeing with him?</p>
				<p><span class="talker">ML__</span>It was just me being stroppy I think *Laughs*</p>
				<p><span class="talker">IN__</span>*Laughs* What do you think about what he said though?</p>
				<p><span class="talker">ML__</span>Well, I think he might be right. That’s probably why it got to me and why I put it up. <em>Fiorucci</em> is about consumption and about how subcultures were subverting the consumer culture of the late 20th century. It was about the brand loyalty some groups had and the records they purchased; the way you consumed and how you could disrupt that in some way. Then there was this Frankfurt - Adorno school that said there was nothing ever subversive in it. That it was completely delusional…</p>
				<p><span class="talker">IN__</span>I guess you could say it’s delusional because you’re centering your whole self concept around consumption - the things you wear, listen to and consume define your personality.</p>
				<p><span class="talker">ML__</span>Yeah, that’s the argument! *Laughs* But I still want to respond to that by saying something as banal as: “But it didn’t feel like that!” because it was to do with feeling. Even if that feeling was delusional, it was powerful.</p>
				<p><em>Fiorucci</em> is essentially about working class youth who, through consumption, produce their own culture and their own vital communities. So there was a form of aspirational drag going on, like you mentioned, but it’s actually productive in that sense. It’s not just delusion. That to me outweighs the critique that they’re engaged in just another delusional form of capitalism because it establishes these networks, these communities that not only thrive but also produce an energy that can extend out to create other social relationships.</p>
				<p><span class="talker">IN__</span>Do you think those groups were doing anything subversive?</p>
				<p><span class="talker">ML__</span>No, I think it just establishes a kind of difference. I’m not really interested in whether it’s subversive. It’s a means of creativity, specifically, it’s a means of creating a culture that is owned by you. It’s the ownership that’s important for me. It’s a territory that’s yours and that’s been determined by you. Going back to class, it’s important because it hasn’t been trickled down, it bubbles up from below. It’s coming upwards from you and that makes those bonds very strong and powerful. That’s what I find remarkable about it. Not that it’s subversive. I don’t think it upsets any balance particularly… </p>
				<p>I think those subcultures of the late 20th century operated outside of the mainstream because the mainstream was so clearly defined. You could point to its institutions and say “this is the hegemony” and operate outside of it and, I suppose, be subversive to the mainstream in that way. But the mainstream itself is being disrupted now, right? Liberal institutions and mainstream media are being assailed on all sides… </p>
				<p><span class="talker">IN__</span>I think the internet has a lot to do with that. Pre-internet, I feel people would identify themselves more geographically; the kind of music you listened to and the clothes you wore would usually be an indication of where you grew up and who you hung out with. You had pockets of “local” culture. Now people absorb culture through the internet and it’s more common to have these experiences on your own, through a screen, so you’re distanced from the beginning. Perhaps this makes it harder to form distinct groups around music or fashion in the same way as before. </p>
				<p><span class="talker">ML__</span>Yeah, it’s very different now. It’s not that subcultures have waned it’s that the internet has extended itself into all of these areas that made a subculture able to thrive, not just in terms of fashion, but also the record industry and the ubiquitousness of brands. Part of what <em>Fiorucci</em> is about is how each of the geographic regions that produced these different dance cultures happened in isolation. They’re basically weird phenomena that had been left unnoticed for a long period of time so they were able to mutate and branch off into all these other crazy phenomena. That can no longer happen after the internet because everything is immediately observed and absorbed. Nothing has the time to do that. Subcultures are just one of the many things the internet has observed and defanged. </p>
				<p>I’ve just read the book <em>Neon Screams</em> by Kit Mackintosh and it’s about how autotune has mutated over the past fifteen years. He mentions music artists who use autotune like Young Thug and Future and newer artists like SahBabii and Baby Keem. For me, when I first listened to their music I thought: “This is what I thought the music of the future would sound like.”</p>
				<p><span class="talker">IN__</span>You mean when you first listened to Future you thought “Oh yeah, he really is the future”?</p>
				<p><span class="talker">ML__</span>*Laughs* More Young Thug than Future. When I listened to Young Thug I was just like, “what the fuck?” It’s so new. There’s no sound that existed like that previously. </p>
				<p><span class="talker">IN__</span>Do you mean specifically the way he uses autotune?</p>
				<p><span class="talker">ML__</span>Well in <em>Neon Screams</em> Mackintosh was talking about how these artists are making music that is emotional and psychedelic, but it’s all channeled through technology, which produces a very strange effect. It’s essentially the realisation that, by making yourself into a cyborg, you can be more human. </p>
				<p><span class="talker">IN__</span>Yeah, it’s a way of protecting yourself. You can be more vulnerable and open about uncomfortable things because this protection, this distance, is already baked into it. It’s you saying it but it’s not your voice. It’s like wearing a mask. </p>
				<p><span class="talker">ML__</span>Exactly, yeah. What fascinates me about the relationship between distance and intimacy I mentioned before when we were talking about <em>Fiorucci</em> is that I think it’s a part of the contemporary condition because everything is mediated now. You’re always trying to get closer to something or wanting to feel something while being in this alienated, mediated state. You have to find your own complicated dance or relationship with things in order to induce some kind of aliveness. You have to go to something quite cold and mechanical in order to feel more human. </p>
				<p><span class="talker">IN__</span>Is that why a lot of your work hasn’t featured yourself directly? For example, in <em>Fiorucci</em>, it’s all found footage, but it’s a stand in for a personal experience you had…did that allow you to be more vulnerable?</p>
				<p><span class="talker">ML__</span>Yeah, exactly. Because they’re like surrogates, right? Usually I find some kind of surrogate body that I can inhabit and then feel “present” within that. </p>
				<p><span class="talker">IN__</span>There’s a tendency for the art world to fetishise people who are considered “other” in some way, whether that’s because of your class or your gender and so on… Did you feel you had to fetishise yourself or your position, having a working-class background, in that way? Because I feel like it’s implicit to the art world that if you want to make any money from your work you have to play into that a little bit. </p>
				<p><span class="talker">ML__</span>Did you see my show ‘O' Magic Power of Bleakness’ at the Tate I did in 2019? With the motorway bridge?</p>
				<p><span class="talker">IN__</span>Yes…</p>
				<p><span class="talker">ML__</span>That show was an attempt to address those issues for myself. </p>
				<p><span class="talker">IN__</span>How?</p>
				<p><span class="talker">ML__</span>Well, I had a supernatural experience when I was younger that I’d forgotten about for a long time. I have two small children now and the older one has started getting into fairies and magic so I’ve been watching a lot of these shows with her… and it resurfaced a lot of memories of this past encounter. I couldn’t grasp the reality of the experience or which realm it took place in, so I started reading about folklore and changelings and how the fairy realm interacts with the non-magic realm. In these stories they snatch up youths at the point at which the fairy kingdom needs to revitalise itself by mixing its bloodline with human energy. It was a metaphor for my own experience. I felt like I was a changeling in that, when I returned home, I felt as though I’d been transformed. I was no longer able to converse with people I’d grown up with, or my family. I felt alienated from them. </p>
				<p>‘O' Magic Power of Bleakness’ is about these two events: the supernatural encounter I had when I was young and the experience I had as an adult of becoming transformed and alienated through language. The piece follows the story of a bunch of kids under a motorway bridge and one of them is talking about how he wants to escape the town they live in. He’s aspirational. I was trying to collide a classic, socially conscious youth film with a fairy story. In every youth film you watch there’s always one kid who wants to get out, right? Well, in my story, that kid gets snatched away to fairyland and a changeling returns in their place. It then follows the other kids trying to understand what happened to their friend. It’s a magical realist autobiography. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide06_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide07_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide08_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide09_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide10_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide11_sp.jpg" /></picture><span class="caption">Mark Leckey: 'O Magic Power of Bleakness: Under Under In', 2020, Projection, Digital film, colour, sound, 16 minutes 22 seconds, Courtesy of Tate Britain</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Can you tell the story of the supernatural encounter you had?</p>
				<p><span class="talker">ML__</span>I was eight years old. I used to hang out under this motorway bridge with my friends - it went up a slope with an eave at the top you could sit underneath. We would go and sit there and eat sweets, maybe have a cigarette… One time, I turned to the side and I saw a creature that was dressed like a pixie: it had a green hat with a bell and it was wearing red curly shoes with bells on the toes. What convinces me about this encounter is that I felt a mockery to the way it was presenting itself to me, as if to say: “Oh look - you’re seeing a pixie! You’re seeing a magical creature!” I found that very frightening. </p>
				<p><span class="talker">IN__</span>What was it doing?</p>
				<p><span class="talker">ML__</span>It was just standing there gleefully mocking me. It was mocking me and it was mocking reality… *Laughs*</p>
				<p><span class="talker">IN__</span>*Laughs* So you felt that it was presenting itself specifically for you, almost as an announcement that your sense of reality would be permanently disrupted from that point onwards… did you mention it to anyone?</p>
				<p><span class="talker">ML__</span>No. I just hid it. Interestingly though, when I was nineteen I went back to college to retake my O levels (GCSEs) so I could go to art school. I was doing English composition and the brief was to write about a childhood experience so I thought: “Well, I’ll write about the time I saw a pixie.” As I was writing it I realised that I’d believed it to be true up until that point and by writing it down I felt as if I’d broken the spell. I no longer believed it. I thought it was ridiculous. </p>
				<p><span class="talker">IN__</span>Was it something you’d thought about a lot up until that point?</p>
				<p><span class="talker">ML__</span>No, I hadn’t thought about it, I’d just accepted it as fact. My timeline of childhood events was: My sister nearly got hit by a car… I fell through a plate glass window… I saw a pixie. I carried it around with me like that until I dispelled it by writing about it when I was nineteen and just coming into adulthood. It wasn’t until recently that it became reanimated for me as an encounter. I don’t know if this is the same for you but I feel like my life experience is a continuum between real events and imagined, dreamt events. </p>
				<p><span class="talker">IN__</span>Of course. I think it must be like that for everyone…</p>
				<p><span class="talker">ML__</span>Everyone, right? They’re very intertwined… part of the reason I became an artist is because this made me dysfunctional in any practical sense.</p>
				<p><span class="talker">IN__</span>How do you think about magic in relation to your work? From your description it seems linked to aspiration, like a form of magical thinking, as if you’re able to will yourself to a different position, mental state or realm just from the way you think and present yourself. This idea seems to run through a lot of your work…</p>
				<p><span class="talker">ML__</span>Yeah. I guess it’s the idea that, through technology, you can intensify or elevate an experience into something transcendent. I get animated by images. They excite me in a way that compels me to get intimately involved with them. That’s still the compulsion I have to make work. Something fascinates me and I want to know it and absorb it into my body, but at the same time I want my body to be absorbed into that image so I can reach a euphoric state. That’s what I’m looking for. </p>
				<p><span class="talker">IN__</span>Do you get that sense of euphoria while you’re making the work?</p>
				<p><span class="talker">ML__</span>Yeah. I get really high on my own supply. *Laughs*</p>
				<p><span class="talker">IN__</span>*Laughs* Do you use the same technology to make your work as you did back in the 90s, when you made <em>Fiorucci</em>?</p>
				<p><span class="talker">ML__</span>It depends what I’m after. I made a video piece called <em>Dream English Kid 1964 - 1999 AD</em> (2015) that was a mix of CGI and VHS. I used to say this a lot and it doesn’t seem so interesting now, but I feel I carry an analogue past with me into this digital present. They’re intertwined for me. </p>
				<p>I don’t think I would have got that push-and-pull feeling of distance and intimacy from making <em>Fiorucci</em> if everything had been in 4K sharpness. The video meant the quality was already degraded, and the technology I had to use to transfer it onto my computer so I could digitise and edit it only degraded it further. This enhanced the feeling of distance. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide12_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide13_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide14_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide15_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide16_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Dream English Kid, 1964 - 1999 AD', 2015, 4:3 film, 5.1 surround sound, 23 minutes, Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Where did you get the footage for <em>Fiorucci</em>? Most of it came from documentaries, right?</p>
				<p><span class="talker">ML__</span>Well I only found out in the past ten years where everything came from! This was in the very early days of the internet, so before email was being widely used. If I heard someone might have a videotape I’d have to write to them and ask for a copy. It took ages, but I was quite obsessive so it was fun.</p>
				<p><span class="talker">IN__</span>Oh, you were just writing to people and asking for tapes? You had no idea where they were coming from?</p>
				<p><span class="talker">ML__</span>Yeah, I got them third hand. The Northern Soul footage at the beginning of <em>Fiorucci</em> is from a film that’s quite famous now called This England by Tony Palmer. I had no idea then - I just got sent a VHS tape with “WIGAN CASINO” written on it. It was from some guys in Wigan who’d been to the Wigan Casino and they just passed it around amongst themselves. There was no google to check this stuff… but that made it exciting. It felt like this cargo cult idea of magical technological relics dropping from the sky, seemingly out of nowhere. </p>
				<p><span class="talker">IN__</span>I’m reminded of your piece <em>Made in ‘Eaven</em> (2004) where you remade Jeff Koons’ stainless steel sculpture <em>Rabbit</em> (1986) as a CGI video projection. Did remaking this feel like a cargo cult type practice for you?</p>
				<p><span class="talker">ML__</span>Yeah. At the time I thought of <em>Rabbit</em> as a kind of magical object. It’s this impossible sculpture. It’s so flawless that it seems beyond any human making. Now, looking back, it’s the perfect consumable object. It’s like that Karl Marx quote where he’s describing two tables… The first is not seen beyond its use-value as a table so it remains an ordinary object; a lump of wood you can sit at. The second table, however, has been made to be an object of consumption so it has all these ideas about itself that animate it beyond its function. Part of the difference between the two it that the second table, the commodity, doesn’t appear to have been made by labour. It doesn’t look like it’s been hewn by a carpenter but as if it has emerged, fully formed, out of thin air. It’s the same with Koons’ <em>Rabbit</em> - you can’t imagine it being made. It’s as if there was a thought in his head and then it just appeared, actualised, into the world. </p>
				<p><span class="talker">IN__</span>So, thinking of cargo cults, were you replicating it to get a piece of its magic for yourself? Like the way the sculptor Tom Sachs made his own versions of Mondrian paintings out of tape so he could have a Mondrian in his house?</p>
				<p><span class="talker">ML__</span>Oh did he? Yeah. I wanted to bring it into my realm so I had the video projected in my flat for a while. I just wanted to look at it and be with it. I thought: “How can I make it so that it deludes me into thinking it’s there?” I wanted to make it feel like Koons’ <em>Rabbit</em> was really in my room. </p>
				<p><span class="talker">IN__</span>How did you make it?</p>
				<p><span class="talker">ML__</span>My friend made it in CGI. We replicated my flat, which was a dump, and then made the rabbit and placed it in that CGI space - but it didn’t look right. It looked too digital. So the way it’s shown is it’s transferred on to 16 millimetre film so, when it’s projected, you can’t tell it’s a digital video. It makes it more convincing. That was the aim of the whole process - I just wanted to be fooled by it. </p>
				<p><span class="talker">IN__</span>You said you blushed earlier when I mentioned the criticism your work received after winning the Turner Prize for being “overly academic” but I do think a lot of your work lends itself to a more academic language. <em>Made in ‘Eaven</em> is an obvious example because, although you talk about it having an intimate purpose for you, it’s directly quoting from another artist so in the conversations around your practice people appear to have been more inclined to focus on the art historical context of the work, technology, consumption and so on. It doesn’t seem like there’s been as much space to talk about feelings. I’m wondering if you ever tried to redress this balance by emphasising the more personal aspects of your work when you spoke about it? Or did you just leave it to do its thing?</p>
				<p><span class="talker">ML__</span>Sometimes I look back and I wish I’d been more emphatic about why I was making something and what my concerns were. I think, once you’re involved in the art world, once you have the virus *Laughs* then it offers you a line of communication - a way of talking about something. Sometimes it’s exhausting not to talk that way and to try and talk about something else. Also, that “something else” is ineffable, right? You’re just trying to grasp at this ineffable thing. So, if there’s a ready-made language you can use you think: “Oh, good. I can use this and talk about absence and presence and so on…” and then the ball’s rolling and you can have a conversation. But if you try and talk about emotions, like you say, you either have to enter some kind of poetic realm or be very frank and honest and that’s quite difficult. </p>
				<p><span class="talker">IN__</span>It can be quite confronting too. </p>
				<p><span class="talker">ML__</span>Yeah, confronting. But then, the other side to that is I can see an arc to the kind of work I was making when I look back on it now. When I made the Koons piece I was still very engaged and immersed in the art world and its concerns. </p>
				<p><span class="talker">IN__</span>Is there anything you haven’t done yet that you’d like to? </p>
				<p><span class="talker">ML__</span>A few years ago I was asked to write a treatment for a feature film. It’s an adaptation of a book written in 1940 called The Invention of Morel by an Argentinian writer called Adolfo Bioy Casares. It’s about a man who finds himself on this mysterious island, which he thinks is uninhabited, but then these visitors keep appearing and disappearing. He realises that every time they reappear they’re doing exactly the same thing over and over again. It’s in limbo at the moment, but I’m hoping that it can come back to life at some point. </p>
				<p><span class="talker">IN__</span>Do you have any advice for younger artists?</p>
				<p><span class="talker">ML__</span>I didn’t realise this until my late thirties / early forties, but it still seems like good advice to me: always try and push away from art even though that’s what you want to do and be. Whatever it is it’s about you. It’s not about it. Or them. It’s you. And the more you you can be the better, but that becomes a bromide because it’s very hard to be you. I think the conflict is always between self expression and an entirely mediated world that already knows what self expression is in every facet. It’s hard to navigate that so try to, maybe not enjoy, but be animated by that kind of conflict, you know? The best thing I ever did was realise my own compass. It was here. It was all here. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide17_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide18_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide19_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/018/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/018/img/slide20_sp.jpg" /></picture><span class="caption">Mark Leckey: 'Made in ‘Eaven', 2004, 16mm film, 20 minutes (looped), Courtesy of artist and Cabinet, London</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Mark Leckey (born 1964) is a British contemporary artist, working with collage art, music and video. His found object art and video pieces, which incorporate themes of nostalgia and anxiety, and draw on elements of pop culture, span several videos. In particular, he is known for Fiorucci Made Me Hardcore (1999) and Industrial Light and Magic (2008), for which he won the 2008 Turner Prize.</dd>
					<dd class="desc">His work has been widely exhibited internationally, including solo exhibitions at Kölnischer Kunstverein, Cologne, in 2008 and at Le Consortium, Dijon, in 2007. His performances have been presented in New York City at the Museum of Modern Art, Abrons Arts Center; at the Institute of Contemporary Arts, London, both in 2009; and at the Solomon R. Guggenheim Museum, New York City, in 2008. His works are held in the collections of the Tate and the Centre Pompidou.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen (b. 1991 in London) studied at The Royal College of Art (2016-18) and Slade School of Fine Art (2012-16) in London. In 2022, Nielsen will have a solo exhibition at Lazy Mike gallery in Moscow, Russia. She has been involved in recent group exhibitions at V.O Curations, Fitzrovia gallery (London) and Annarumma gallery (Naples) in 2022. Recent solo exhibitions include M is for Madonna, M is for Mariah, M is for Mother at Darren Flook, Crybaby at Imlabor (Tokyo) in 2021 and RedivideR at Platform Southwark (London) in 2020. She also took part in group exhibitions at White Crypt Project Space, Collective Ending (London) and Spazio Amanita x Avant Arte (Florence) in 2021 and at White Columns, curated by Danny Baez, (New York), Roman Road, The Residence Gallery and Southwark Park Galleries (London) in 2020. She also writes, interviewing other artists for the Imlabor website. She lives and works in London.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

