{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "REVIEW__002: ドナ・フアンカ：WET SLIT",
    description: "3月の初旬に訪れたロンドンのSIMON LEEギャラリーにて開かれたドナ・フアンカによる個展 “WET SLIT”は、現在世界中で蔓延しているコロナウイルスが齎したパンデミックの混沌さと照らし合わせると、なんとも不思議な体験となった。",
		ogimage: "https://imlabor.org/journal/review/002/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "REVIEW",
                "item": ""+ site.url +"/jp/journal/review/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "002",
                "item": ""+ site.url +"/jp/journal/review/002/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/review/002/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, <br class="_pc">Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "REVIEW" and item.number === "002"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span><br>{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<p>3月の初旬に訪れたロンドンのSIMON LEEギャラリーにて開かれたドナ・フアンカによる個展 “WET SLIT”は、現在世界中で蔓延しているコロナウイルスが齎したパンデミックの混沌さと照らし合わせると、なんとも不思議な体験となった。カラフルなボディーペイントを施されたパフォーマー達が、絵画、彫刻、サウンド、そして演出で作り上げられたインスタレーションの中を歩き回る作品が主に有名である、ボリビア系アメリカ人アーティストのドナ・フアンカであるが、今回の個展ではパフォーマーは不在となった。その代わりに彼らの身体は空間全体に抽象化され、彼女の以前の作品で見られた親密さと集団的近接による交流の痕跡のみが残されていた。</p>
				<p>ギャラリーに一歩足を踏み入れると、白壁で囲まれた室内がまるで手術室かのように照らされていた。会場全体の壁は天井まで透明のプラスティックシートで覆われており、分厚いプラスティックの光のポケットのシワまでをライティングが捉えていた。何も飾られていない白壁に伸びるシートの後ろには、まるでボディーペイントされたパフォーマーの身体が擦り付けらたかのように、塗料の跡が壁面を横断している。それが作家の意図なのか、はたまた困難に直面している現在がそうさせたのかはわからないが、身体の動きが存在しない過度に露出された白い空間には、見るものすべてを力強く歪めてしまうようなひどく恐ろしい感覚が漂っていた。表面的な接触が潜在的な脅威として感じられるウイルスに振り回されている今の世界において、壁に吊るされたプラスティックは一連の絵画や彫刻の威嚇的な背景として機能し、鑑賞者とともにその光り輝く空間の中に閉じ込められているのである。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide03_sp.jpg" /></picture><span class="caption">Donna Huanca, 'EGERIA', 2019-2020, Oil, sand on digital print on canvas 220 x 180 cm (86 5/8 x 70 7/8 in.) All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin,</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide05_sp.jpg" /></picture><span class="caption">Donna Huanca, 'EUNOMIA', 2019-2020, Oil, sand on digital print on canvas 275 x 180 cm (108 1/4 x 70 7/8 in. All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin,</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p>‘WET SLIT’で展示されている絵画は、身体と表皮を主題としたフアンカのパーフォーマンス作品からの派生である。彼女の絵画制作のプロセスは、通常ボディーペイントを施されたパフォーマー達のイメージを引き延ばし、キャンバスへとプリントすることから始まる。時間の層が、絵の具と粒子と粗い砂で覆われたパフォーフォーマーを撮影した写真上に蓄積されていく。展示されている何枚かの絵画では、パフォーマーの身体は緑と青の絵の具のストロークによって完全に消失しており、その他の絵画では青と白の厚い絵具のマチエールの下からパフォーマーの脚がぼんやりと見えた。フアンカの作品の多くは化粧品などの装飾品、私達が普段の生活で身につけている付加的な要素を扱っているとされており、皮膚が身体におけるバリアであるという概念を強固にすることを試みている。私たちは衣服で体を覆うだけではなく、皮膚の要塞を纏っているのである。そして、皮膚は世界から身を守るプロテクションであり、世界と私達を繋ぐ接点でもある。フアンカの絵画の表面からは、バリアーとしての皮膚の繊細さが伝わってくる、それはまるで皮膚の圧迫部分がキャンバス上に密集しているかのようであった。</p>
				<p>地下階へと続く階段を降りると、そこにはまるで別の世界に迷い込んでしまったかのような異空間が広がっていた。一階のホワイトキューブから、絵画がドラマチックなスポットライトで照らされている薄暗い空間に入った瞬間、私は人間界へと持ち帰るためにペルセポネーから彼女の美しさの一部を分けてもらいに冥界へと行くことを強いられたプシュケの神話を思い出していた。伝統的な建築においては冥界の一部と考えられていた地下室の床は一面カーペットで敷き詰められており、暗闇との親密度が一層深く伝わってきた。プラスティックの微かに有毒な匂いがする一階とは異なり、ユカタン半島で浄化や儀式の際に使用される聖なる木、パロサントの匂いが自然界のサウンドループにのって地下室を優雅に満たしていた。</p>
				<p>作家自身はこの地下室の展示を新たな命が生まれてくる暗闇すなわち子宮のようなものであると説明し、“死の繭の空間”と呼んでいる。私はその意味について、デジタルプリントの上に連なって展示されている大きな三枚の抽象画と向き合いながら考えた。三枚の絵画は互いにピタリと寄り添いあっている、その何気ない距離感と気軽さに私は自分の身体が痛むほどの嫉妬を覚えた。皮膚を密接させることがもはや生命の脅威になってしまった社会距離拡大戦略の渦中で、フアンカのパフォーマンス作品はどのように存在してゆくのだろう。この本能的なインタレーションの中で私は静かに想像を巡らせる。現在世界中が苦しんでいる多くの死からどのようにして新しい生命が誕生していくのか、そして現在の距離感からどうやって “近接”が生まれてくるのであろうか？</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide07_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">1980年イリノイ州シカゴで生まれのドナ・フアンカはドイツのベルリンを拠点に活動しているアーティストである。ドイツ、フランクフルトのシュテーデルシュール、米国メイン州にあるスコウヘガンスクールおよびテキサス州ヒューストン大学で学んだ。近年の主な個展にロサンゼルス、マルチャーノアートファンデーションにて‘OBSIDIAN LADDER’、デンマークのコペンハーゲンコンテンポラリーにて‘LENGUA LLORONA’がある。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.simonleegallery.com/exhibitions/180/" target="_blank" rel="noopener">Donna Huanca: WET SLIT</a> runs at Simon Lee, London, 28 Feb – 18 Apr 2020.</p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">カッサンドラ・グリーンバーグ</dt>
					<dd class="desc">カッサンドラ・グリーンバーグはロンドン在住のアーティスト、ライターである。彼女の作品はICA、IMT Gallery、SPACE Studios、Auto Italiaなどで展示されている。近年では、FVUとアート・マンスリー誌の2020年マイケル・オプレ著述賞を受賞している。現在はBBCサウンズのために制作したLGBT＋のイギリス人フライトアテンダントに関したオーディオ・ドキュメンタリーを制作予定である。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

