{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
	lang: 'jp',
    title: "2x2x2__011: Nothing but murmuring at 2x2x2",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ September 19 - October 23, 2021",
	ogimage: "https://imlabor.org/twobytwobytwo/011/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "011",
                "item": site.url +"/jp/twobytwobytwo/011/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/011/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "011"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">エズラ・グレイ、中瀬聖史、オルガ・ぺダン、サム・ティアニー、バーバラ・ウェソロフスカ</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">September 19 - October 23, 2021<br>
					※ 開廊時間：14時 - 19時／木、金、土曜日</dd>
				</dl>
				{# <dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc"><a href="https://fuyumimurata.com/" target="_blank" rel="noopener noreferrer">Fuyumi Murata</a>, all images copyright and courtesy of the artists and im labor.</dd>
				</dl> #}
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">Apparently innocent queries for explanations, which barely mask violent demands for meaning, pretend to illuminate depths but, in effect, merely delay what will not come. The explanation that would portray the significance of what cannot be understood condemns recognition with a strangely satiated oblivion. On the other hand, reason’s presupposed denial of its own intemperate efforts tempts complicity with its own omnipotence, surrendering to itself, when reason should resist itself, outdo its own powers and perhaps show its own accomplishments to be unaccomplished. If  ‘the vital element of art’, by which it resists what happens, merely, to exist, is ‘spontaneity amid the involuntary’, one way to consider this exhibition is as a relinquishment of questions that it still believes it is expected to answer, which it nevertheless reacts to, but which it has productively forgotten how to articulate.<sup>*1</sup> The real pressure of imaginary demands alternately animates and constipates ‘creativity’; one work may be the result of both––often dissonantly simultaneous––actions. Something both brought to life and thwarted by that which fails to be life expresses art’s condemnation to freedom, or its ambivalent ‘release’.</dd>
					<dd class="desc"><em>I wish I didn’t know now what I didn’t know then</em>: I wish I could release what I now know into the prehistory of its being known. <br>
					I wish I could be released from the change whereby what I did not know became known. <br>
					I wish to modify my previous not knowing as not being able to know. <br>
					May the afterlife of what I did not know act as ‘plenipotentiary for the in-itself that does not yet exist.’<sup>*2</sup></dd>
					<dd class="desc">- Text by Sam Tierney</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*1</dt>
					<dd class="desc">Adorno, Theodor W. Aesthetic Theory (trans. Robert Hullot-Kentor) Minneapolis: University of Minnesota Press, 1997, p. 114.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*2</dt>
					<dd class="desc">Ibid., p. 252. (Plenipotentiary: A person, especially a diplomat, invested with the full power of independent action on behalf of their government, typically in a foreign country.)</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>エズラ・グレイ</strong>（1986年生まれ）は、パリを拠点に活動しているアーティストである。コンコルディア大学（モントリオール）で美術学士号を取得後、ロイヤル・カレッジ・オブ・アート（ロンドン）絵画科を修了。 主な個展に、「Maximum Yearn」Unit 17、バンクーバー（2020年）、「Joech God」Emalin、ロンドン（2018年）、「Brown Space」Almanac Inn、トリノ（2017年）、「Infinitive」Jeffrey Stark、ニューヨーク（2017年）などがある。2人展＆グループ展には、「Super Natural」Unit 17、バンクーバー（2019年）、「Samstag」Keifholzstrasse 401、ベルリン（2017年）、「Folly」Emalin Projects、Dunmore Pineapple、スコットランド（2016年）、「Honolulu Triennale with Sean Nicholas Savage」Honolulu,、チューリッヒ（2016年）、「Rundgang」Kunstakademie Düsseldorf（2014年）などがある。</dd>
					<dd class="desc"><strong>中瀬聖史</strong>（1986年大阪府生まれ）はドイツのデュッセルドルフと日本の大阪を拠点に活動しており、2018年から一年間、デュッセルドルフ芸術アカデミーにてトマ・アブツ氏に師事。最近の展覧会に 「 Awakening before dawn」Kunst im Hafen、デュッセルドルフ、「Eine Ausstellung für den Zeitreisenden with Hiroyuki Masuyama」Kunstpunkte、デュッセルドルフ、「Donotpersecuteme」Kunst im Hafen、デュッセルドルフ、「Opening」（Galerie im Schrank、デュッセルドルフ）などがある。</dd>
					<dd class="desc"><strong>オルガ・ぺダン</strong>（1988年ウクライナ、ハルコフ生まれ）は、ゴールドスミス・カレッジ（ロンドン）とHfBK Städelschule（フランクフルト）を卒業。最近の主な展覧会には、「Reflexivity」Sundy、ロンドン、「Managing Emotions」Neuer Essener Kunstverein、エッセン、「Spans」Jakob Forster、ロッテルダム、「Modelling」Pozi Driv II、ロンドン、「Central Fantasy」Schiefe Zähne、ベルリン、「Epistlar」Issues、ストックホルム、などがある。</dd>
					<dd class="desc"><strong>サム・ティアニー</strong>（1988年米国生まれ）は、ロンドン在住のアーティスト。これまで参加した展覧会に、「Pozi Driv Two」、「Almanac、Lima Zulu」、「3236rls」（ロンドン）、「Rumpelstiltskin」（ニューヨーク）、「l'Atelier-ksr」（ベルリン）、「Glassbox」（パリ）、「Podium/Grünerløkka Kunsthall」（オスロ）などがある。ティアニーはニューヨーク大学で美術学士を取得後、ロイヤル・カレッジ・オブ・アート彫刻科を修了。現在キングストン大学現代ヨーロッパ哲学の修士課程に在学。</dd>
					<dd class="desc"><strong>バーバラ・ウェソロフスカ</strong>（1984年ポーランド・ヴロツワフ生まれ）はロンドン在住のアーティスト。2013年にスレイド大学、2015年にロイヤル・カレッジ・オブ・アートを卒業。最近の展覧会 に「Sphinx of Black Quartz」、「Judge My Vow」Palfrey Gallery、ロンドン、「Mirror of Impalpable Nudity」GAO Gallery、ロンドン、「The Vapours」Kunstverein Bamburg、バンベルぐ「In the Flesh」Peles Empire、ベルリン、「A Wind in the Door」Runpeltstiltskin、ニューヨーク、「Lean days of determination」Lima Zulu、ロンドン、などがある。</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide01_sp.jpg"/></picture><span class="caption">Install shot 'Nothing but murmuring'</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide08_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide11_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide12_sp.jpg"/></picture><span class="caption">Olga Pedan, "Untitled", Distemper on MDF with Meranti frame, 35cm x 52cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide13_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide14_sp.jpg"/></picture><span class="caption">Barbara Wesolowska, "Grace", Oil on canvas, 45cm x 30cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide15_sp.jpg"/></picture><span class="caption">Barbara Wesolowska, "Untitled", Oil on canvas, 30cm x 22cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide16_sp.jpg"/></picture><span class="caption">Ezra Gray, "Ermine Hum", 2021, Oil on canvas, 122cm x 152cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide18_sp.jpg"/></picture><span class="caption">Ezra Gray, "Overheard", 2021, Oil on canvas, 92cm x 76cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide20_sp.jpg"/></picture><span class="caption">Satoshi Nakase, "Moksha", 2018, Oil on linen, 60cm x 45cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide21_sp.jpg"/></picture><span class="caption">Satoshi Nakase, "Kataklysmus / Kenka", 2021, Oil on linen, 43cm x 33cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide22_sp.jpg"/></picture><span class="caption">Olga Pedan, "Untitled", 2021, Distemper on MDF with Meranti frame, 52cm x 35cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide23_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide24_sp.jpg"/></picture><span class="caption">Barbara Wesolowska, "Counter-dance", Oil on cardboard, 22.5cm x 17.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide25_sp.jpg"/></picture><span class="caption">Barbara Wesolowska, "Untitled", Oil on cardboard, 22.5cm x 15cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide26_sp.jpg"/></picture><span class="caption">Satoshi Nakase, "supreme goood", 2018, Oil on linen, 75cm x 60cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide27_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide28_sp.jpg"/></picture><span class="caption">Sam Tierney, "Fidelio", 2021, Plaster, rubber, oil paint, dried hydrangea, 15cm x 12cm x 6cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide29_sp.jpg"/></picture><span class="caption">Sam Tierney, "Untitled", 2021, HD video without sound, 02:40 looped</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide30_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide30_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/011/img/slide31_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/011/img/slide31_sp.jpg"/></picture></li>
				{# <li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/583429347?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Gabriel Hartley: Postcards (Landscape), 2021, 24:55, courtesy of the artist</span></li>
				<p class="video-caption _sp">Gabriel Hartley: Postcards (Landscape), 2021, 24:55, courtesy of the artist</p>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/583439417?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><span class="caption">Gabriel Hartley: Postcards (Portrait), 2021, 25:06, courtesy of the artist</span></li>
				<p class="video-caption _sp">Gabriel Hartley: Postcards (Portrait), 2021, 25:06, courtesy of the artist</p> #}
			</ul>
		</div>
	<!-- /.page-container --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

