{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__002: Matthew Burrows",
    description: "On 16th March 2020, in response to the rapid spread of the COVID-19 pandemic across the United Kingdom, the British Government advised the public against “non-essential” travel, to avoid social venues and to work from home. Artists suddenly found their exhibitions cancelled and with the temporary freelance and part-time work many rely upon to survive cut off. The following evening, in an effort to alleviate some of this stress, Sussex-based artist and educator Matthew Burrows made a simple appeal via.",
		ogimage: "https://imlabor.org/journal/interview/002/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "002",
                "item": ""+ site.url +"/journal/interview/002/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/002/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "002"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“The truest value is not the gain. The truest value is the gift.”</h3>
				<p class="lead">On 16th March 2020, in response to the rapid spread of the COVID-19 pandemic across the United Kingdom, the British Government advised the public against “non-essential” travel, to avoid social venues and to work from home. Artists suddenly found their exhibitions cancelled and with the temporary freelance and part-time work many rely upon to survive cut off. The following evening, in an effort to alleviate some of this stress, Sussex-based artist and educator Matthew Burrows made a simple appeal via. the social media platform Instagram.</p>
				<p class="lead">Posting a red square with the title “Artist Support Pledge” the tagline read: “The concept is a simple one. You post images of your work you are willing to sell for no more than £200 each (not including shipping). Every time you reach £1000 of sales you pledge to buy another artist's work for £200.” I spoke to Burrows only ten days after this first post was made and, in that period, over 16,000 artists had already participated from across the world, with the numbers growing by the hour.</p>
				<p class="lead">He talked to me about the power of social media, gift economies, the importance of staying true to one’s values and how generosity underpins his creative activity. We also discussed Burrow’s longterm project, ABC Projects Atelier, a peer-mentoring group he founded in 2008 that aims to nurture artistic and critical engagement within a small community of artists and Isolation Art School, an online art school that grew from the same spirit of generosity as the Artist Support Pledge.</p>
				<p class="lead -note"><sup>*</sup>This interview was conducted via. Skype</p>
				<p><span class="talker">INDIA NIELSEN__</span>Where did the idea for the Artist Support Pledge come from?</p>
				<p><span class="talker">MATTHEW BURROWS__</span>I was sitting at my dining room table and, as someone who has worked as a painter full-time for the past 25 years, suddenly I found myself having to cancel a load of exhibitions. At the same time I was receiving messages from friends and colleagues who were all going through the same issues. It was troubling.<br>Artists needed money immediately so this required an economic model that was very fast-moving. I considered our assets: We’ve got our knowledge, our work itself and we have the values we live by. I live by the principles of trust and generosity and I have these artworks in the studio I can sell. So it grew out of wanting to apply these values to the initiative but then I had to work out the logistics.<br>The formula was based on the question: “what’s high enough that it would give a return but cheap enough that it’s a generous act?” If I put my work up for the pledge it has to be for much lower than my normal market value for it to qualify as a generous action - £200 seemed just painful enough for me to feel like I’m being generous...</p>
				<p><span class="talker">IN__</span>It’s on the cusp of being a significant amount of money, but it’s not exactly going to break the bank if you’re buying.</p>
				<p><span class="talker">MB__</span>Exactly. Also there’s scope below that £200 - a lot of people can sell within that spectrum. It’s a nice balancing point between artists who are already selling and artists who are perhaps still students or amateurs. Anyone can participate. But I thought there has to be another act of generosity at some point, so I added the following obligation: if your sales reach £1000 you donate 20%, that’s £200, to another participating artist. It’s simple: that upper amount you can charge becomes the amount you have to pay forward to somebody else. It’s an exciting equation because at every level the weight is always towards giving.</p>
				<p><span class="talker">IN__</span>I think that addendum is important: once you reach that £1000 target you then pledge to pay a portion of that forward to another artist by investing in their work. There are already a lot of platforms that sell artists’ work online, but the idea of community is usually absent within this model. The activity occurs behind a curtain and each player acts in relative isolation to each other. I think the way you’re doing it with the Artist’s Support Pledge is actively encouraging artists to build connections and camaraderie with each other. There’s a feeling that we’re in this together.</p>
				<p><span class="talker">MB__</span>Absolutely. It also builds the idea of the artist becoming patron. Not only are they gifting the world their art and receiving funds in return to allow them to survive and continue being an artist, but then they can become patrons of other artists.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide01_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide02_sp.jpg" /></picture></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide03_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Suddenly artists have buying power within the art market which, let’s face it, artists don’t generally have.</p>
				<p><span class="talker">MB__</span>Artists usually need to rely on support from people outside of the art world to survive. It’s empowering to be able to support friends, colleagues or even artists you’ve never met, living and working on another continent to you.</p>
				<p><span class="talker">IN__</span>Seeing how successful this has been within the relatively closed sphere of the art world, do you have any thoughts on how this model could be used in the wider community?</p>
				<p><span class="talker">MB__</span>I think the Artist Support Pledge has tapped into a number of issues. Firstly, it’s created an immediate economy for artists that has never existed before. I’m very interested in gift cultures and in the different ways cultural value has been constructed throughout history. The value systems we currently use in the art world are built upon a very typical capitalist system of increased value and uniqueness - as something becomes more unique, rarefied and culturally well known it gains value. An artist can become extraordinarily wealthy off the back of that and galleries, in turn, can become extraordinarily wealthy off the back of managing that. It’s a pyramid of wealth. At the top there are very, very few people who earn an awful lot of money and at the bottom there are an awful lot of people who earn nothing.<br>I’m not suggesting we get rid of this model entirely; art is expensive and time consuming to make and as such you need to charge people significant amounts of money to buy it. However, that doesn’t mean we can’t have other economic models that operate alongside this pyramid economy that might help artists to survive. A lot of artists work in part-time “gig” economies where they’re teaching or doing tech work etc. The problem with that is it takes them away from what they should be doing: making art. Like many artists, I have thousands of artworks in the studio that I never show because they’re not really part of that high-end market; they’re too small and too cheap for galleries to exhibit because the profit margins aren’t significant enough. All I’ve done is create a market for this, allowing artists to have an immediate access to funds to survive.<br>It’s a sustainable model. I’m very interested in sustainability as an idea, both in ecological and environmental terms. As an artist myself, for the past year of two I’ve been thinking about how we can inculcate those values into how we think and behave, and how that drives what we consider “valuable” about an artist’s work. The Artist Support Pledge is merely a reflection of these values. I believe in an economics where whatever you gain you give back. You don’t simply carry on accumulating wealth to the point where you’re so far removed from everyone else that you no longer understand or care for them. There will be artists taking part in the Artist Support Pledge who are more financially successful than others, but they can only charge a maximum of £200 and once they reach that £1000 target they have to give back 20%. The beauty of this initiative is that 20% is always going back into the community.<br>The Artist Support Pledge therefore obliges the participant to consider that the truest value in this system is not the gain, the truest value is the gift. Our consumerist economy is a relatively new one in historical terms and actually hasn’t been a very successful one in terms of its impact on communities, individuals and the environment. All I’m suggesting is that maybe there’s a way of creating different economic models and that we, as a society, may be sophisticated enough to maintain more than one.</p>
				<p><span class="talker">IN__</span>How did the Isolation School grow out of all of this?</p>
				<p><span class="talker">MB__</span>The Isolation Art School is a sister project and learning initiative set up by my friend Keith Tyson (the British artist and 2002 Turner Prize winner). He wanted to set up a school that had the same generosity of spirit as the pledge. The idea was that everybody would have a voice - from the expert to parents who were looking for something fun to do with their children for the day. Anyone can post and hashtag a piece of content, normally a video, of no more than 60 seconds, of some sort of learning content. The only ask is that they label it appropriately. Keith has a labelling system indicating whether the content is for adults or children - you can find more on the Instagram page <a href="https://www.instagram.com/isolationartschool/" target="_blank" rel="noopener noreferrer">@isolationartschool</a>.</p>
				<p><span class="talker">IN__</span>And both the Artist Support Pledge and the Isolation Art School exist exclusively on Instagram?</p>
				<p><span class="talker">MB__</span>Yes, only because that’s the platform I use personally. I’m familiar with it and a lot of artists use it. The way the platform operates made it very effective in allowing these initiatives to take off.</p>
				<p><span class="talker">IN__</span>I think one of the reasons the Artist Support Pledge did take off so quickly is because people are driven by a sense of urgency. We’re in a crisis. The British Government’s handling of COVID-19 has exposed many of the economic and social failings of our current capitalist model, so perhaps people are more willing to consider alternative economies. Do you think this will continue once we’re out of this ‘wartime’ mentality or that we might just fall back into complacency?</p>
				<p><span class="talker">MB__</span>*laughs* Good question. I’ve asked myself this a lot over the past few days. The thing with gift economies is that they don’t work on monetary value - they work on the idea of being able to pass something along. Too often we value art by how much money it’s made at auction or whether the person who’s made it is famous or not. Making art in itself is a generous act and we don’t stop to consider the value that generates. I think all artists implicitly understand this.<br>Whether there’ll be an appetite for that level of generosity outside of COVID-19? I don’t know. I’m no expert. It wasn’t as if I sat there on my sofa thinking “this is great! I’ve got a really good idea!” I was nervous when I first posted it on Instagram. I thought it might be a terrible idea... All I do know is that the response and the speed of this has been staggering, not just in terms of the numbers of people participating and the finance that it’s driven already but the message of it.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide04_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Gatescape" 2019, Oil on board 180 x 149 cm, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide05_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Dream House", 2016, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide06_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Two in One", 2017, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide07_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Strata", 2019, Oil on board, 152.5 x 119.5 cm, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide08_sp.jpg" /></picture><span class="caption">Artist Support Project, Courtesy of Matthew Burrows</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Yeah, time exists and behaves very differently online...</p>
				<p><span class="talker">MB__</span>It does and I’ve never experienced that level of rapidity before. It’s like an enormous wave. The initiative has very quickly become global so we’re now looking to centre it around the American dollar as this is what most world economies work from.</p>
				<p><span class="talker">IN__</span>I guess your job now is maintaining the momentum of that wave.</p>
				<p><span class="talker">MB__</span>My wife gave me a good analogy for understanding it. She said: “It’s like travelling down rapids in a canoe. You can’t power the canoe, all you can do is nudge it from left to right.”</p>
				<p><span class="talker">IN__</span>And in the ten days since it launched you’ve already set up prizes as part of the Artist Support Pledge?</p>
				<p><span class="talker">MB__</span>Yes. On day two I realised how rapidly this was taking off and I wrote a list of things I thought this community should have. They were; an economy, a culture, a platform and a way of learning. That’s what you need in any artistic culture. The prizes were set up as a way of giving that economy a kick - to help people meet their pledges quicker. I emailed some friends and asked them to put up some money so that I could offer a weekly prize and it went from there...</p>
				<p><span class="talker">IN__</span>Do you work collaboratively in your own artistic practice?</p>
				<p><span class="talker">MB__</span>Not really. I work in a studio in the British countryside. It’s pretty isolated, I love it.</p>
				<p><span class="talker">IN__</span>Quarantine hasn’t been hard on you then - you were self-isolating before this all started.</p>
				<p><span class="talker">MB__</span>*laughs* I mean I haven’t been able to paint since the Artist Support Pledge took off, but that’s fine. This is a crisis and if I have to down source for a while so be it. There are bigger things at stake here than me making another painting.</p>
				<p><span class="talker">IN__</span>How do you feel about social media, particularly Instagram, being used as a tool by artists at all stages of their career to show their work? Do you think it changes the way we experience or think about art?</p>
				<p><span class="talker">MB__</span>Yeah, that’s interesting. I’ve thought about this a lot. I see Instagram as very limited in terms of how much information you can get from it, but it can be a very useful nudging tool. For example, you might come across an artist on Instagram - that’s a nudge to look them up on the internet. That, in turn, might be another nudge to visit an exhibition of theirs. If you see it like that then great, but it’s not an alternative to actually going to see art. If you try to use it as such you’ll be sadly disappointed because you miss out on the full experience.</p>
				<p><span class="talker">IN__</span>Do you mean using Instagram as an artist yourself or just as somebody who loves art?</p>
				<p><span class="talker">MB__</span>I use Instagram as a means of telling the story of myself as an artist, what I make and the values I live by. I think it’s one of the few tools you can use for that. Before social media it was very difficult to get your story out there unless you were particularly well known and had somebody constantly writing articles or books on you. Instagram is a way of putting your story out yourself. So I think it’s great in that respect, but you’ve got to treat it carefully. It’s like anything in life, if you treat it well it will treat you well. If you treat it badly you might get your fingers burned.</p>
				<p><span class="talker">IN__</span>Have you got any advice for artists who are struggling to get their work shown or make money from their work?</p>
				<p><span class="talker">MB__</span>Know what your values are. What do you live by? What are the values in your work? I think one of the biggest failings most artists make, and I wish someone had told me this thirty years ago, is they don’t take the time to figure that out, so they end up making work that reflects other peoples’ values. You’ve got to work out your own. It takes effort, time and work, but it’s worth it.</p>
				<p><span class="talker">IN__</span>That’s a massive task...</p>
				<p><span class="talker">MB__</span>*laughs* It’s possible! There are systems for doing it. Values are fluid and always developing, but what you’ll find is that your core values don’t change much. It’s so important to figure out what your values are as an artist because it frees you up. You’re no longer dependent on making the same type of work all the time. If you know your values you find that you can manifest them in all sorts of different ways and, rather than dilute it, they actually strengthen your work. For example, one of my main work values is layering. I’m interested in colour, but also really rubbish at colour. So I use my value to deal with this supposed weakness - I execute colour through layering. That ultimately makes the colour in my paintings more interesting.</p>
				<p><span class="talker">IN__</span>Can you point to any resources that artists who are struggling with developing their own personal value systems might find helpful?</p>
				<p><span class="talker">MB__</span>I run a mentoring scheme throughout the year called ABC Projects Atelier. It’s quite an intimate two-day programme working with a small group of about four people at a time. Throughout this programme we work on these ideas of how we develop critically from a holistic perspective. I look at everything - where they live, the way they orchestrate their working conditions, their value systems etc. If you visit <a href="http://www.matthewburrows.org/home" target="_blank" rel="noopener noreferrer">my website</a> and click on ABC Projects there’s more detailed information on how it works. My email address is on the site - If anyone’s interested they can email me with the reference “ABC Projects”. They might just have to be patient with me getting back to them considering the present circumstances... </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide09_sp.jpg" /></picture><span class="caption">Matthew Burrows, Courtsey of PJ Productions</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Matthew Burrows was born in 1971 in the Wirral, UK, he currently lives and works in East Sussex. He studied as an undergraduate at Birmingham School of Art in 1990-93 and graduated with a Master's Degree in painting from the Royal College of Art London in 1995. ​He is represented by Vigo Gallery London. Matthew is founder of Artist Support Pledge and ABC Projects Atelier, a Mentor on Turps Studio Programme London and an artist lecturer at the National Gallery London.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://www.matthewburrows.org/" target="_blank" rel="noopener">http://www.matthewburrows.org/</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen is an artist who7 lives and works in London. She recently graduated with an MA in painting from the Royal College of Art, having completed a BA in fine art at the Slade School of Fine Art. Her first solo exhibition, Seer Kin Lives, took place at Jack Bell Gallery, London, in 2016. She was in a two-person exhibition at Platform Southwark, London, in 2020. She has been involved in group exhibitions in London at ASC gallery, the Hockney Gallery, Gallery 46, Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, and Peckham Experiment Building; as well as at Eastside Projects, Birmingham, England; Assembly House, Leeds, England; and Im Labor Gallery, Tokyo. Nielsen was awarded the Villiers David Bursary, Royal College of Art (2017) and the Steer/Orpen/Charles Heath Clarke Bursary, Slade School of Fine Art (2016). She recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was selected to receive the a-n arts Writing Prize 2019.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

