.c-button {
  & {
    margin-top: 30px;
    text-align: center;
    @include overTablet {
      margin-top: 60px;
      text-align: right;
    }
  }
  .link {
    display: inline-block;
    text-decoration: none;
    @include AcuminR;
    @include fz(18,18);
    &:after {
      content: '';
      display: inline-block;
      width: 21px;
      height: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      background-image: url(/img/common/button_arrow.svg);
      background-repeat: no-repeat;
      background-size: 21px 5px;
      @include trs;
    }
    @include overTablet {
      &:hover {
        &:after {
          transform: translateX(10px);
        }
      }
    }
  }
}
