.c-column {
  & {
    @include overTablet {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: percentage(-15 / 903);
      margin-right: percentage(-15 / 903);
    }
    &.-twoby {
      .c-card {
        .body {
          min-height: auto;
        }
      }
    }
  }

  .c-card {
    @include overTablet {
      width: percentage(436 / 933);
      margin-left: percentage(15 / 933);
      margin-right: percentage(15 / 933);
    }
    @include overPc {
      width: percentage(366 / 1190);
      margin-left: percentage(15 / 1190);
      margin-right: percentage(15 / 1190);
    }
    + .c-card {
      margin-top: 25px;
      @include overTablet {
        margin-top: 0;
      }
    }
    @include overTablet {
      &:nth-of-type(n + 3) {
        margin-top: percentage(60 / 1190);
      }
    }
    @include overPc {
      &:nth-of-type(n + 3) {
        margin-top: 0;
      }
      &:nth-of-type(n + 4) {
        margin-top: 40px;
      }
    }
  }
}
