.c-card {
  & {
    box-shadow: 0px 4px 9.2px 0.8px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    overflow: hidden;
    @include AcuminL;
    @include fz(16,26);
    @include overTablet {
      @include trs;
      @include fz(14,22);
      &:hover {
        background-color: color(black);
        .body {
          color: color(white);
          .text {
            color: color(white);
          }
        }
        .img {
          img {
            // opacity: 0.6;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .link {
    display: block;
    text-decoration: none;
  }

  .img {
    display: block;
    overflow: hidden;
    img {
     @include overTablet {
      @include trs;
     }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // min-height: 200px;
    padding: 15px 20px 20px;
    @include overTablet {
      @include trs;
      padding: 20px 25px 25px;
    }

    .category,
    .date,
    .author {
      @include fz(12,12);
    }

    .category {
      display: inline-block;
      margin-top: 0.75em;
      padding-right: 1em;
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 8px;
        margin-left: 1em;
        background-color: color(primary);
      }
    }

    .title {
      display: block;
      margin: 0.25em 0 0 0;
      @include AcuminM;
      @include overTablet {
        margin: 0.5em 0 0 0;
        @include fz(17,24);
      }
    }

    .author {
      margin-top: 1em;
      @include overTablet {
        margin-top: 1em;
      }
    }

    .text {
      margin-top: 1.2em;
      @include fz(14,22);
      color: color(darkgray);
      @include overTablet {
        @include trs;
      }
    }
  }

  .-jp & {
    &.-twoby {
      .body {
        // min-height: auto;
      }
    }
    .body {
      // min-height: 230px;
      .title {
        .jp {
          @include notoSansM;
          @include overTablet {
            @include fz(16,24);
          }
        }
      }
      .text {
        @include notoSansR;
        @include fz(14,26);
        @include overTablet {
          @include fz(14,26);
        }
      }
    }
  }
}
