.c-data {
  & {
    @include fz(16, 26);
    @include overTablet {
      @include fz(18, 32);
    }
  }

  + .c-data {
    margin-top: 4em;
  }

  .item {
    + .item {
      margin-top: 1em;
    }

    &.-press {
      margin-top: 1em;
      .term {
        display: block;
      }
      .desc {
        display: block;
        margin-top: 1em;
        strong {
          font-weight: 500;
        }
      }
      + .-notes {
        margin-top: 2em;
      }
    }

    &.-about,
    &.-author {
      .term {
        display: block;
        // @include fz(16,26);
      }
      .desc {
        display: block;
        margin-top: 1em;
        @include AcuminL;
        @include fz(14, 22);
        @include overTablet {
          @include fz(16, 28);
        }
      }
    }

    &.-notes {
      display: flex;
      @include fz(14, 20);
      @include AcuminL;
      .term {
        margin-right: 1em;
        white-space: nowrap;
      }
      .desc {
        margin-top: 0;
      }
      + .-press {
        margin-top: 2em;
      }
    }

    &.-author {
      position: relative;
      padding-top: 4em;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 1px;
        background-color: color(primary);
      }
    }
  }

  .term {
    display: inline-block;
    padding-right: 1em;
    @include AcuminM;
  }

  .desc {
    display: inline;
    margin: 0;
    @include AcuminL;
  }

  .link {
    @include fz(14, 22);
    @include overTablet {
      @include fz(16, 28);
    }
    a {
      @include AcuminM;
    }
  }

  .-jp & {
    .desc {
      @include notoSansR;
      @include fz(14, 28);
      @include overTablet {
        @include fz(16, 32);
      }
    }
    .item {
      &.-about,
      &.-author {
        .desc {
          @include notoSansR;
          @include fz(13, 26);
          @include overTablet {
            @include fz(14, 28);
          }
        }
      }
      &.-author {
        .term {
          @include notoSansM;
          @include fz(14, 22);
          @include overTablet {
            @include fz(16, 28);
          }
        }
      }
      &.-notes {
        .desc {
          @include notoSansR;
          @include fz(12, 20);
          @include overTablet {
            @include fz(12, 20);
          }
        }
      }
      &.-press {
        .desc {
          @include notoSansR;
          @include fz(14, 28);
          @include overTablet {
            @include fz(16, 32);
          }
        }
      }
    }
  }
}
