.c-kv {
	& {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: (750 / width(sp) * 100vw);
		@include overTablet {
			z-index: -1;
			height: calc(75vh - 75px);
		}
    img {
      width: 100%;
			object-fit: cover;
      @include overTablet {
				height: calc(75vh - 75px);
			}
    }

		&[data-page="index"]{
			img {
				width: 100%;
				object-fit: cover;
				@include overTablet {
				height: calc(75vh - 75px);
				}
			}
		}

		&[data-page="interview"] {
			background-image: url(../journal/interview/001/img/bg-kv_sp.jpg);
			@include overTablet {
				background-image: url(../journal/interview/001/img/bg-kv_pc.jpg);
			}
		}

		&[data-page="curation"] {
			img {
				width: 100%;
				object-fit: cover;
				@include overTablet {
				height: calc(75vh - 75px);
				}
			}
		}

		&[data-page="review"] {
			height: auto;
			// background-color: color(primary);
			img {
				display: block;
        height: 100%;
				margin: 0 auto;
				@include overTablet {
				max-width: 960px;
				}
			}
		}

    &[data-page="news"]{
      text-align: center;
      padding-top: (80 / 750 * 100vw);
      @include overTablet {
        padding-top: 40px;
      }
			img {
				width: 100%;
				@include overTablet {
				  max-width: 1184px;
				}
			}
		}

		> a {
			// display: flex;
      position: relative;
      display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
      &:hover {
        .title {
          @include overTablet {
            text-decoration: none;
          }
        }
      }
      &.is-upcoming {
        pointer-events: none;
        > .inner {
          > .title {
            text-decoration: none;
          }
        }
      }

			> .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: percentage(520 / 750);
				margin: 0 auto 0 0;
				// padding: 0 (40 / width(sp) * 100vw) (116 / width(sp) * 100vw);
				@include overTablet {
          width: auto;
					padding: 0;
				}

				> .title {
					text-decoration: underline;
					@include AcuminR;
					// @include fz(32,46);
					font-size: (64 / 750) * 100vw;
          line-height: (92 / 750) * 100vw;
					color: color(white);
					@include overTablet {
						@include fz(56,72);
					}
          .name {
            @include overPc {
              white-space: nowrap;
            }
          }
          .jp {
            @include notoSansR;
            font-size: (60 / 750) * 100vw;
            line-height: (92 / 750) * 100vw;
            @include overTablet {
						@include fz(52,72);
					}
          }
				}

				> .info {
					margin-bottom: (20 / 750) * 100vw;
					@include overTablet {
					display: flex;
					margin-bottom: 20px;
					}
				}

				.label {
					display: inline-block;
					margin-bottom: (20 / 750) * 100vw;
					margin-right: (40 / 750) * 100vw;
					padding: 0 (8 / 750) * 100vw;
					background-color: #b9f726;
					@include AcuminEL;
					// @include fz(12,15);
          font-size: (24 / 750) * 100vw;
          line-height: (30 / 750) * 100vw;
					@include overTablet {
						margin-bottom: 0;
            margin-right: 20px;
						padding: 0 8px;
						@include fz(16,26);
            white-space: nowrap;
					}
				}

				.tag {
          font-size: (32 / 750) * 100vw;
          line-height: (48 / 750) * 100vw;
					color: color(white);
					@include overTablet {
						@include fz(18,26);
            white-space: nowrap;
					}
					> .category {
						position: relative;
						padding-right: (20 / 750) * 100vw;
						margin-right: (20 / 750) * 100vw;
						@include AcuminR;
						@include overTablet {
							padding-right: 20px;
							margin-right: 20px;
						}
						&:before {
							content: '';
							position: absolute;
							top: 0.5em;
							right: 0;
							width: 1px;
							height: (20 / 750) * 100vw;
							background-color: color(white);
							@include overTablet {
								top: 0.4em;
								height: 12px;
							}
						}
					}
					> .date {
						@include AcuminL;
					}
				}
			}
		}
	}
}

.kv-caption {
	display: block;
	max-width: 640px;
	margin: 16px auto 0;
	padding: 0 (40 / width(sp) * 100vw);
	text-align: center;
	@include AcuminEL;
	@include fz(12,20);
	@include overTablet {
		margin: 20px auto 0;
		padding: 0;
		@include fz(14,22);
	}
}
