.c-pagetop {
	& {
		position: absolute;
		bottom: (280 / width(sp) * 100vw);
		right: (50 / width(sp) * 100vw);
		width: (48 / width(sp) * 100vw);
		height: (26 / width(sp) * 100vw);
		@include overTablet {
			bottom: 120px;
			right: 75px;
			width: 30px;
			height: 16px;
		}
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		background-image: url(../img/common/arrow_up-black.svg);
		background-size: (48 / width(sp) * 100vw) (26 / width(sp) * 100vw);
		background-repeat: no-repeat;
		@include overTablet {
			background-size: 30px 16px;
		}
	}
}
