.c-parallax-wrapper {
	& {
		position: relative;
		overflow: hidden;
	}

	.c-parallax {
		position: absolute;
		z-index: -5;
		top: -5%;      // 視差につきちょっと手前で出しとく
		left: calc(-1 * ((100vw - 100%) / 2));  // 親の left: 0px を起点にデバイス幅始点を演算
		width: 100vw;  // 上記デバイス幅始点からコンテナをはみ出してデバイス幅いっぱいに広げる
		height: 150%;  // 視差につきちょっと大きめに出しとく
		margin: auto;

		&-image {
			background-size: cover;        // 良い感じに縦横比頑張ってもらう
			background-position: center top;  // 良い感じに真ん中に出てもらう
			width: 105%;
			height: 105%;
			// transform: skewY(-2deg);       // .c-parallax に rellax が transform を当てちゃうので追加分はこっちに記述
		}
	}
}
