.c-sns {
	@include fz(16,26);
	margin-top: 4em;
	@include overTablet {
		@include fz(18,32);
	}

	> .inner {
		display: flex;
		align-items: center;
	}

	.heading {
		@include AcuminL;
		padding-right: 1em;
	}

	.list {
		display: flex;
		padding: 0;
		font-size: 0;
		list-style-type: none;

		.item {
			+ .item {
				margin-left: 16px;
				@include overTablet {
					margin-left: 20px;
				}
			}
		}

		.-twitter,
		.-facebook,
		.-pinterest {
			width: 18px;
			height: 18px;
			@include overTablet {
				width: 24px;
				height: 24px;
			}
		}

		.-pinterest {
			cursor: pointer;
		}
	}
}
