.slider {
	position: relative;
	// margin: 0 (-20 / width(sp) * 100vw);
	padding: 56px 0;
	list-style-type: none;
  font-size: 0;
	@include overTablet {
		min-height: 960px;
		margin: 0 auto;
		padding: 96px 0 72px;
		cursor: grab;
	}

	.slick-slide{
		position: relative;
		// padding: 56px 0;
		// padding: 72px (40 / width(sp) * 100vw);
		@include overTablet {
			padding: 0 10px;
		}
		&:focus {
			outline: none;
		}
	}

	.slick-slide img {
		@include overTablet {
			height: 640px;
		}
	}

	.slick-counter,
	.slick-caption {
		max-width: 640px;
		text-align: center;
	}

	.slick-counter {
		margin: 1em auto 0;
		@include AcuminL;
		@include fz(14,14);
		letter-spacing: 0.06em;
		@include overTablet {
			margin: 20px auto 0;
		}
		.current,
		.total {
			display: inline-block;
			padding: 0 10px;
			@include AcuminR;
			@include fz(16,16);
		}
	}

	.caption {
		display: none;
	}

	.slick-caption {
		margin: 1em (40 / width(sp) * 100vw) 0;
		@include AcuminEL;
		@include fz(14,22);
		@include overTablet {
			margin: 20px auto 0;
		}
	}

	.slide-arrow {
		position: absolute;
		top: percentage(390 / 930);
		transform: translateY(-50%);
		right: (30 / width(sp) * 100vw);
		// width: (30 / width(sp) * 100vw);
		// height: (60 / width(sp) * 100vw);
		width: (50 / width(sp) * 100vw);
		height: (50 / width(sp) * 100vw);
		background-color: transparent;
		background-image: url(/img/common/slide_arrow.svg);
		background-repeat: no-repeat;
		background-size: (50 / width(sp) * 100vw) (15 / width(sp) * 100vw);
		background-position: center;
		z-index: 2;
		appearance: none;
		padding: 0;
		margin: 0;
		line-height: 1;
		border: none;
		cursor: pointer;
		@include overTablet {
			top: percentage(400 / 930);
			right: (30 / width(max) * 100vw);
			width: (30 / width(max) * 100vw);
			height: (60 / width(max) * 100vw);
			width: (50 / width(max) * 100vw);
			height: (50 / width(max) * 100vw);
			background-size: (50 / width(max) * 100vw) (15 / width(max) * 100vw);
		}
		&.prev-arrow {
			left: (30 / width(sp) * 100vw);
			margin-top: (-25 / width(sp) * 100vw);
			transform: rotateY(-180deg);
			@include overTablet {
				left: (30 / width(max) * 100vw);
				margin-top: -25px;
			}
		}
	}
	// .slick-disabled {
	// 	opacity: 0;
	// 	pointer-events:none;
	// }

	.slick-dots {
		position: absolute;
		// bottom: percentage(120 / 564);
		bottom: 150px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		list-style-type:none;
		padding: 0;
		padding-top: (12 / width(max) * 100vw);
		@include overTablet {
			bottom: 152px
		}
		// padding-right: (60 / width(max) * 100vw);
		> li {
			> button {
				margin: 0;
				padding: 0;
				background: none;
				border: none;
				border-radius: 0;
				outline: none;
				appearance: none;
				text-indent: -9999px;
				width: (12 / width(sp) * 100vw);
				height: (12 / width(sp) * 100vw);
				border: 1px solid color(mediumdarkgray);
				border-radius: 50%;
				@include overTablet {
					width: (6 / width(max) * 100vw);
					height: (6 / width(max) * 100vw);
				}
			}

			+ li {
				margin-left: (16 / width(sp) * 100vw);
				@include overTablet {
					margin-left: (10 / width(max) * 100vw);
				}
			}

			&.slick-active {
				> button {
					background-color: color(primary);
					border-color: color(primary);
				}
			}
		}
	}

  &.-default {
    .slick-list {
      background-color: color(primary);
      @include overTablet {
        background-color: color(white)
      }
    }
    .c-video {
      margin-top: 50%;
      @include overTablet {
        margin-top: 0;
      }
    }
  }
}

.-collapse {
	// padding: 60px (32 / width(sp) * 100vw);
	padding: 60px 0;
	li {
		+ li {
			margin-top: 20px;
			@include overTablet {
				margin-top: 0;
			}
		}
	}

	.caption,
  .video-caption {
		display: block;
		margin: 1em (40 / width(sp) * 100vw) 2em;
		@include AcuminEL;
		@include fz(14,22);
		text-align: center;
		@include overTablet {
			display: none;
		}
	}

  .c-video {
    .caption {
      display: none;
    }
  }
}
