.c-text {
	color: color(text);
	font-style: normal;
	font-weight: 500;

	strong {
		font-weight: 900;
	}

	em {
		font-style: italic;
	}

	small {
		font-size: 0.8em;
	}

	// + .c-text {
	// 	margin-top: 8px;
	// 	@include overTablet {
	// 		margin-top: 16px;
	// 	}
	// }

	@include fontModifiers();
	+ * {
		margin-top: 16px;
		@include overTablet {
			margin-top: 24px;
		}
	}
	+ .c-list.-notes {
		margin-top: 8px;
		@include overTablet {
			margin-top: 16px;
		}
	}
}
