.c-video {
  display: block;
  position: relative;
  height: auto;
  padding: 0 0 56.25%;
  @include overTablet {
    min-width: 1137px;
  }

  .movie {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    @include overTablet  {
    }
  }
}
