{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__021: In conversation with: Huma Bhabha",
	description: "Since the 1990s Huma Bhabha’s singular artistic practice has become known for its nuanced depiction of the figure, in all of its strangeness and vulnerability, through objects, paintings, photography and drawings. Bhabha describes herself as a “fairly practical” artist, often employing found materials, including wood, clay, plastic bags, paint, pastel, cork and styrofoam alongside traditional materials such as bronze.",
	ogimage: "https://imlabor.org/journal/interview/021/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "021",
                "item": site.url +"/journal/interview/021/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/021/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "021"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“My hand is in all of my work. Even when it is made into bronze the original form is worked on by my hand. The presence of the hand brings an eccentricity, originality and skill that doesn’t exist otherwise.”</h3>
				<p class="lead">Since the 1990s Huma Bhabha’s singular artistic practice has become known for its nuanced depiction of the figure, in all of its strangeness and vulnerability, through objects, paintings, photography and drawings. Bhabha describes herself as a “fairly practical” artist, often employing found materials, including wood, clay, plastic bags, paint, pastel, cork and styrofoam alongside traditional materials such as bronze. A worthy successor to Rauschenberg, her monumental figurative sculptures resemble a precariously balanced assemblage of objects that might, at any moment, collapse back into the scrapheap from which their appendages were scavenged. Drawing from a reference pool that spans the breadth of art history, including Ancient Egyptian and African sculpture, modern and contemporary artists such as Louise Bourgeois and Joseph Beuys as well as science fiction and horror films, these hybridised creatures hover between past, present and future, allowing them to serve as totemic meditations on topics such as nature, monumentalism, militarism and the ego, while embodying the frenetic uncertainty that comes with our ever changing histories.</p>
				<p class="lead">In the following interview, Bhabha talks to me about her early experiences moving to the U.S. from Karachi, Pakistan at the age of nineteen to study art at the Rhode Island School of Design (BFA) and Columbia University (MFA) in New York, how later moving away from the city and working for a taxidermist in Hudson Valley gave her the freedom to make unorthodox creative decisions and her use of science fiction as a vehicle for self expression.</p>
				<p class="lead -note"><sup>*</sup>This interview was conducted via. email</p>
				<p><span class="talker">INDIA NIELSEN__</span>At the time of writing it’s been just over 3 years since the COVID 19 pandemic was first reported globally, with no particular end in sight. Then, on February 24th of last year, Russia, led by the Putin regime, invaded Ukraine, plunging United Nation and Western countries into an economic war. I’m reminded of the English expression: “May you live in interesting times.” Mistakenly cited as a Chinese curse, the implication is that, to live in interesting times is also to live in a time of uncertainty, crisis and disruption. What had been your experience of the current times we’re living in? Has it affected your studio practice?</p>
				<p><span class="talker">HUMA BHABHA__</span>I would like to mention that prior to this proxy war in the Ukraine, forever wars started 20 years ago have been doing the same systematic destruction and death in the middle east starting with Afghanistan, Iraq, Syria, Yemen and unreported in different parts of Africa. The business of war primarily instigated and weaponized by the US and Europe has kept the economic situation in the rest of the world beholden to their racism and greed. I have been watching these ‘interesting times’ since I was a teenager. I guess my experience is one of sadness as nothing changes. Fortunately my studio practice has not been affected since I live in a pretty isolated place and for me its a productive one.</p>
				<p><span class="talker">IN__</span>Cynicism, though apt in this case considering the endless cycle of war and other means of human exploitation that keep world economies going, can sometimes weigh you down and kill creativity… Is working in isolation a way of avoiding this and remaining creatively productive?</p>
				<p><span class="talker">HB__</span>I don’t think I’m cynical about the state of the world. I live where I live out of practical reality, it has nothing to do with avoiding anything. Being creative is a necessity for my work.</p>
				<p><span class="talker">IN__</span>You were born in Karachi, Pakistan in 1962, later moving to the United States to study at 19 years old. What were your early artistic experiments like while studying art in high school in Pakistan and did your family play an important role in encouraging you to pursue these creative interests? I read that your mother was an artist herself…</p>
				<p><span class="talker">HB__</span>I came to the US to study art. My mother was a talented amateur artist who was a huge influence on me and my wanting to become an artist. My parents were very supportive of my interest in art.</p>
				<p><span class="talker">IN__</span>During your M.F.A. programme at Columbia University in New York you worked as a studio assistant for the legendary U.S. based artist Meyer Vaisman. This was in the late eighties, when Vaisman was arguably at his height and heavily influencing the art scene in New York. Just a few years earlier he had founded (alongside fellow artists Kent Klamen and Elizabeth Koury) the now famed gallery International With Monument in New York City’s East Village. The gallery played an important role in igniting the careers of Peter Halley, Jeff Koons, Ashley Bickerton and Richard Prince, among others. How did you come to work for Vaisman and what was the experience like?</p>
				<p><span class="talker">HB__</span>I needed a job while I was doing my MFA at Columbia as I had no money and my friend, who worked for Meyer, got me hired as a second assistant. It was a better learning experience than Columbia. I learned how to stretch canvas, silkscreen and in general learn a lot about contemporary art in NY at that time.  He was also a collector with good taste so I learned even more.</p>
				<p><span class="talker">IN__</span>Years later, between 2002 and 2004, you also worked for a taxidermist. How did this influence your work?</p>
				<p><span class="talker">HB__</span>I have worked in many different lower level capacities to support myself over the years. The job working at the taxidermy studio was a good introduction to living in the provinces after having lived in New York City for many years. What I liked most was that it had a small animal farm aspect to it with chickens, guinea hens, peacocks, golden pheasants, horses, and most importantly 3 dogs all running around free. I learned a lot in terms of making armatures for my sculptures after assisting the other guys on large dioramas for gigantic hunting stores. I also collected a lot of refuse that they were throwing away, for example animal skulls and chopped off wolf legs that now reside in my studio like good luck charms. I was doing something so different that there was a sense of liberation from any expectations, which allowed me to experiment and make choices in my work that I normally would not have done.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha, January 25–March 14, 2020, David Kordansky Gallery, LosAngeles. Photo: Jeff McLan</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha, January 25–March 14, 2020, David Kordansky Gallery, LosAngeles. Photo: Jeff McLan</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>What made you decide to move out of New York to the suburbs? Were you working alone at this time? What are some of the most notable changes you made in your work as a result of this experience and how had you felt restricted previously?</p>
				<p><span class="talker">HB__</span>I live much beyond the suburbs in a depressed river city in the Hudson Valley called Poughkeepsie. My husband (The painter Jason Fox) and I moved out of New York City because we could no longer afford to live there. I started using clay and as I mentioned before the distance from the city liberated me to follow my gut.</p>
				<p><span class="talker">IN__</span>You are predominantly known for your figurative sculptures, but you also make large scale drawings, using ink, collage and pencil over photographic prints and paper. How do these two disciplines come together in your work? Do the sculptures grow out of the drawings or do you see them as separate, made alongside one another?</p>
				<p><span class="talker">HB__</span>Before I started making three-dimensional work I was mainly painting and drawing. Drawing is something you can do in a small space and I turned to it when I didn’t have a studio. I have been interested in portraiture since I was in high school and that has now become more developed. I have also been interested in collage and assemblage since I was an undergraduate at college. The sculptures and drawings are not directly related, as in I don’t make drawings for the sculptures but working on them side by side has informed them in a more interesting and unpredictable way. I started using wild life images from calendars around 2013 and have developed that in a more serious way. Playing with the scale of the drawings has also been successful.</p>
				<p><span class="talker">IN__</span>How do you choose your source imagery, for example the wild life images? Do you feel any particular connection to them?</p>
				<p><span class="talker">HB__</span>I am drawn to images of all kinds and especially those of animals. The use of animal imagery seems appropriate as we are in the midst of a mass extinction of animal life and calendars are a cheap source for that kind of imagery.</p>
				<p><span class="talker">IN__</span>How can you tell when a drawing, painting or sculpture is successful?</p>
				<p><span class="talker">HB__</span>It comes with time and experience and knowing your work.</p>
				<p><span class="talker">IN__</span>You were brought to wider public attention with your commissioned work We Come in Peace, installed on the roof terrace of the New York Metropolitan Museum of Art in 2018. The installation consists of two enormous, roughly hewn figures cast in bronze; one standing and the other, draped in what looks like a tarpaulin with only its hands visible, lying prone before it, seemingly in a state of worship. Can you talk a bit about this piece and why you think it struck a particular chord with people?</p>
				<p><span class="talker">HB__</span>Firstly, I think it worked because it had nothing to do with appropriation and was completely original in its conception and making. The two figures exemplify my work and the materials I use. Secondly, I think it struck a chord because it is very significantly addressing militarism which is something that is hardly ever addressed in the contemporary art world. You can talk about identity, gender and sexuality but you can never discuss militarism which in fact is what negatively affects much of the world population.</p>
				<p><span class="talker">IN__</span>I agree. I think that is because of the art market. Aspects of identity - like gender, sexuality and so on can be commodified and give the impression of change. But it’s largely just optics. Do you think making work about militarism is too raw and on the nose for gallerists and collectors to stomach?</p>
				<p><span class="talker">HB__</span>I think it is too present.</p>
				<p><span class="talker">IN__</span>The title <em>We Come in Peace</em> is a direct reference to the 1951 science fiction film <em>The Day the Earth Stood Still</em> by Robert Wise. Science fiction is a reference that runs through a lot of your work; your figures appear genderless, semi-human and “other” - not of our world. In a 2016 <a href="https://flash---art.com/article/huma-bhabha/" target="_blank" rel="noopener noreferrer">interview with Flash Art</a> you stated: “I’m interested in a suicide of the self when I make the work: no country, no gender, etc. I don't want the work to be tied to any one specific self or ideology. When you are nothing, you can become everything.” Does science fiction offer you a means of removing yourself from the work while keeping the energy and idiosyncrasies of each sculptural “character” intact?</p>
				<p><span class="talker">HB__</span>Yes - science fiction allows me to express myself, be imaginative and deal with specific issues without becoming boring or didactic.</p>
				<p><span class="talker">IN__</span>What are some of your favourite science fiction movies?</p>
				<p><span class="talker">HB__</span>I watch all kinds of films that in different ways influence me; <em>Alien</em> (1979), <em>Terminator</em> (1980), <em>The Thing</em> (1982), <em>From Beyond</em> (1986), <em>Ninth Gate</em> (1999), <em>Mask of Dimitrios</em> (1944), <em>First Blood</em> (1982) just to mention a few.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide03_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>Vaisman also seems preoccupied with removing his hand from his work… is this part of what drew you to him?</p>
				<p><span class="talker">HB__</span>I’m surprised you say that because my hand is in all of my work. Even when it is made into bronze the original form is worked on by my hand. The presence of the hand brings an eccentricity, originality and skill that doesn’t exist otherwise.</p>
				<p><span class="talker">IN__</span>I say that because you speak about the removal of your “self” from the work. Although the physical traces of a hand are present, all other identifying features are removed. That desire of a “suicide of the self” is something I found in common in your work and Vaisman’s.</p>
				<p><span class="talker">HB__</span>It has more to do with removing your ego and allowing your imagination to take over.</p>
				<p><span class="talker">IN__</span>Is spirituality an important part of your work?</p>
				<p><span class="talker">HB__</span>I am not interested in religion but hope that there is a level of spirituality that comes through in my work.</p>
				<p><span class="talker">IN__</span>Are there any things you do in particular to generate energy and ideas in the studio? Any rituals?</p>
				<p><span class="talker">HB__</span>Not really, I spend a lot of time looking…</p>
				<p><span class="talker">IN__</span>You often make the sculptures to scale in your studio, using found materials like styrofoam, paper, chicken-wire, clay, cork and rubber, along with skulls and objects gifted to you by other people. The work is then shipped to a foundry to be cast in bronze. The marks you make in the studio carry a sense of immediacy and, after being cast they have to be carefully replicated to maintain the feel of these original DIY materials. Can you talk me through this process and why you feel the need to take this extra step at the end and cast them in bronze at all?</p>
				<p><span class="talker">HB__</span>I use fragile materials like clay, cork, styrofoam, paper, found objects, etc. to make my sculptures. They have to be shown indoors. Only some of my works are made to be cast in bronze. There is a permanence to bronze that allows it to exist in the outdoors. I have always loved the weight and feel of bronze and it was only when the opportunity arose that I decided to make bronze sculptures.</p>
				<p><span class="talker">IN__</span>I’m always curious as to how artists manage to sustain their practice at the beginning of their careers, but particularly sculptors. Painters at least have the possibility to un-stretch and roll-up their paintings or work on paper to save space and materials. Sculptors don’t have that luxury. The scale of your sculptures alone means they must be extremely costly to make and store. I’m curious, then, to know how you navigated this at the very beginning and what your earliest works were like? Do you think the development of your work has directly correlated to the resources that have been made available to you over time, and as your career grew?</p>
				<p><span class="talker">HB__</span>I think of myself as a fairly practical artist, doing what is possible or affordable to me, using found, cheap throwaway materials because they are free, giving them a new life. Some of my really early work had to be destroyed because I could not take it with me or I had no where to store it. I have only made larger sculptures in the last ten years.</p>
				<p><span class="talker">IN__</span>What are you currently working on?</p>
				<p><span class="talker">HB__</span>I currently have a <a href="https://www.davidkordanskygallery.com/exhibitions/huma-bhabha-and-michael-williams2" target="_blank" rel="noopener noreferrer">show</a> on in Los Angeles at David Kordansky gallery which closes 25th February.</p>
				<p><span class="talker">IN__</span>Do you have any advice for younger artists, young or old?</p>
				<p><span class="talker">HB__</span>Be awake.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide05_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide07_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">For over 25 years, Huma Bhabha (b. 1962, Karachi, Pakistan) has been making objects, drawings, and other works that depict the strangeness and vulnerability of the contemporary figure. Her hybridized forms, which borrow from ancient and modern cultural sources alike, exude pathos and humor, going straight to the heart of the most pressing issues of our time. Posing questions about the alien qualities of unfamiliar beings, and the criteria by which lifeforms are considered monsters, Bhabha locates the point where science fiction, horror, modernist form, and archaic expression intersect. The timelessness of her objects is enhanced by her technical mastery and her creative approach to her materials, by which she draws attention to the similarities and differences between natural and manmade substances. In monumental outdoor projects for public spaces, meanwhile, she uses bronze to stage large-scale meditations on nature, war, and civilization’s ancient past and distant future.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen (b. 1991 in London) studied at The Royal College of Art (2016-18) and Slade School of Fine Art (2012-16) in London. In 2022, Nielsen will have a solo exhibition at Lazy Mike gallery. She has been involved in recent group exhibitions at Paradise Row, V.O Curations, Fitzrovia gallery (London) and Annarumma gallery (Naples) in 2022. Recent solo exhibitions include M is for Madonna, M is for Mariah, M is for Mother at Darren Flook, Crybaby at Imlabor (Tokyo) in 2021 and RedivideR at Platform Southwark (London) in 2021. She also took part in group exhibitions at White Crypt Project Space, Collective Ending (London) and Spazio Amanita x Avant Arte (Florence) in 2021 and at White Columns, curated by Danny Baez, (New York), Roman Road, The Residence Gallery and Southwark Park Galleries (London) in 2021. She also writes, interviewing other artists for the Imlabor website. She lives and works in London.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

