{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'en',
    title: "2x2x2__006: Mutation Station",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 12 December, 2020 - 30 January, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/006/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "2x2x2",
                "item": ""+ site.url +"/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "006",
                "item": ""+ site.url +"/twobytwobytwo/006/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv">
	<picture><source srcset="{{ site.root }}twobytwobytwo/006/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.twoby %}
					{%- if item.category === "2x2x2" and item.number === "006"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">India Nielsen, Renkuro Oka, Toru Otani, Yasmine Robinson</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">12 December, 2020 - 30 January, 2021<br>※ Opening hours: 2pm - 7pm / Thur - Sat.<br>※ The galley will be closed for winter holidays from 27 December, 2020 - 13 January, 2021.</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">Do you know the word ‘mutation’ ? In general, a mutation is the sudden appearance of different species' traits, passed on from one generation to the next in a discontinuous fashion. Most of the modifications in the human body can be detrimental (they are usually intolerable and often cause death), but there are a few beneficial ones. These rare, beneficial ones are selected and rewritten for the next generation, resulting in a mutation.<br>
					It would be a very irrational use of time to try to decode phenomena generated by accidental collisions. Still, on rare occasions, this irrational pastime can be turned into something meaningful.<br>
					If you stop and look for a moment, you may witness traces of mutations that may have already occurred.</dd>
					<dd class="desc"><strong>India Nielsen</strong>'s paintings operate the glitching intersection of the actual and the virtual, the sculptural and the pictorial, the optical and the lingual, deconstructing what we understand as a language - a communicative device rife with potentially confusing complexities of tone, emotional and inflection - and in its place she implements a rich vocabulary of textual and visual footholds within which the precarity that comes with living in the digital era is embraced. Figuration and abstraction collapse into each other to shun both representation and allegorical interpretation, as text, portraiture, and landscape are segmented and reduce to purely symbolistic depictions that function as sigils. Multiple perspectives and the perspectives of the artist and the viewer remotely collide and cross each other.(Words by Hector Campbell)</dd>
					<dd class="desc"><strong>Renkuro Oka</strong> is an artist who works mainly in oil paintings using an original technique (roasting salt to create unique textures on the surface of the painting). One of his frequently used motifs is a crying man wiping tears with his fists, but the work presented in this group exhibition is part of a different series to his usual practice. Photographs of a mysterious woman's face are plastered on top of someone's portrait in oil; also, the text "RENKURO VS RENKURO" are randomly painted at the top of the painting: it looks as if a number of conflicts that cannot be reconciled are occurring in a progressive manner within the painting.</dd>
					<dd class="desc"><strong>Toru Otani</strong> uses the backs of sandpaper, empty cigarette packages, and vintage maps as a canvas. In this exhibition, 'Spectrum,' Otani sources objects he found in internet auctions like pre-war textbooks, a used note, and a postcard as his materials. These objects were selected by certain marks that somehow caught his attention; a human hand, the sun, eyeballs, etc. Using coloured pencils, he intends to erase the excess elements and information that identify the marks' meanings. Otani says this process reminds him of the feeling you get when you see an abandoned billboard for a second while driving down the motorway - somehow, you cannot get it out of your head.<br>
					For Otani, an artwork is something like that: it's hard not to look at and think about even though you don't understand the importance of existence.</dd>
					<dd class="desc"><strong>Yasmine Robinson</strong>’s work is evocative of urban landscapes where she is drawn to certain changing dynamics of space as subject and a “familiar rectangular, vacant (almost decaying) aesthetic. Robinson states “[w]hat I find compelling about these particular sites is that they can be endlessly expanded. The walls, the streets and sky act as a ‘complete space’ offering different compositional alternatives to the graffiti and ‘street art’ that usually occupy them. ”The work is nostalgic, invoking the tradition of landscape yet revitalising that tradition with its incorporation of readymade elements. There is a sensitivity to the revolution in modern infrastructure and virtual technology so invasive in the urban landscape. Robinson is both “rethinking space within painting, or painting as a space”, altering the definitions of painting by folding in the “social living labour” of the incorporating materials and/or objects. Her use of spray paint removes her mark from the surface of the painting, thereby dematerializing the painter’s trace itself. The align’s with Isabelle Graw’s description in of “an expanded notion of painting that captures its specificity.” Through these revitalising strategies, Graw would say “[t]he painting seems to have painted itself. Agency shifts from the artist to the painting.”(Words by Dr Cherie Driver)</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. Her first solo exhibition, 'Seer Kin Lives', took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt's Gallery, Limbo, The Peckham Experiment Building(London), Assembly House (Leeds). India was awarded The Villiers-David Bursary, Royal College of Art (2017), and The Steer/Orpen/ Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently highly commended for the Ashurst Emerging Artist Prize (2020).</dd>
					<dd class="desc">Renkuro Oka(1999)is a Japanese artist who lives and works in Saitama. He's currently studying for his BA in painting at Tama Art University. His solo exhibition includes, 'female man' at Ranzan Studio (2020), and Crying man at Shinjyuku Ganka Garo, Tokyo(2020)</dd>
					<dd class="desc">Toru Otani (b.1988, Kanagawa, Japan; lives and works in Tokyo, Japan) is a Japanese artist who approaches to create new images by drawing over ready-made objects.<br>
					Otani has been involved in group exhibitions 'Ignore Your Perspective 52' at Kodama Gallery, Tokyo (2019), 'Maoya Kishi &amp; Toru Otani' at Kodama Gallery, Tokyo (2018), 'Mud, Tokyo, and Swimming' at Shinjuku Park Hall 1, Tokyo (2017), 'Nostalgia Fantasia' at Kodama Gallery, Tokyo (2016) and,' Chain Reaction' at Kodama Gallery, Tokyo (2015). His solo exhibitions 'Casablanca' (2015) and 'Planet' (2017) both took place at Kodama Gallery in Tokyo.<br>
					He graduated with a MA in Fine Arts from Tokyo University of the Arts, having completed a BA in Fine Art.</dd>
					<dd class="desc">Yasmine Robinson (b, 1994, N. Ireland)  is an artist who lives and works in London. She graduated with an MA in Fine Art from Chelsea College of Art in 2018, having completed a BA in Fine Art at Ulster University. She has been involved in group exhibitions at 'Unsheltered as it is', D Contemporary, London 2020, 'Penumbra'. F.E McWilliam Gallery, Banbridge 2020, 'Absinthe', Spit &amp; Sawdust, London 2019,'Young Gods', Charlie Smith Gallery, London 2019, and '34th Annual Open Exhibition', CGP London 2018, etc... In 2018 she was awarded Tiffany &amp; Co. Outset Studio Makers Prize 2018.</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide08_sp.jpg"/></picture><span class="caption">India Nielsen, "Gabriel", 2017, Oil on canvas, 152cm × 122cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide11_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil and salt on wooden panel, 25cm × 23cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide13_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide14_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "BEBE", 2018, Oil, spray paint on streched tarpaulin, 50cm × 40cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide15_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide16_sp.jpg"/></picture><span class="caption">India Nielsen "The Law", 2018, Oil on canvas, 70cm × 55cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide18_sp.jpg"/></picture><span class="caption">India Nielsen, "IS MINE(Vengeance)", 2018, Wood, 9cm × 47cm × 4cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide20_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil, salt, and photograph on canvas, 34cm × 24.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide21_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil, salt, and photograph on canvas, 46cm × 36cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide23_sp.jpg"/></picture><span class="caption">Toru Otani, "Astral(orange)", 2020, Color pencil on abrasive paper, 22cm × 28cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide24_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide25_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "Stir-Fry", 2020, Oil, spray paint, rope, tarpaulin and felt nails on moquette, 36cm × 29cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide27_sp.jpg"/></picture><span class="caption">Toru Otani, "Astral(black, green)", 2020, Color pencil on abrasive paper, 45cm × 56cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide28_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide29_sp.jpg"/></picture><span class="caption">Toru Otani, "TS(orange)", 2018, Color pencil on abrasive paper, 22cm × 28cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide30_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide30_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide31_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide31_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "Tyger Tyger", 2020, Oil, soft pastel, stitch and embroidery patch on canvas, 30cm × 23cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide32_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide32_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide33_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide33_sp.jpg"/></picture><span class="caption">India Nielsen, "I.N.D.I.", 2018, Copper leafing on  wood, 35cm × 35cm × 5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide34_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide34_sp.jpg"/></picture></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>
{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

