{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__016: Interview with: Maki Katayama",
	description: "Maki Katayama is an artist who creates paintings based on numbers derived from the birth and death dates of her motifs, her own colour charts based on research into past weather conditions and prime numbers.",
	ogimage: "https://imlabor.org/journal/interview/016/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "016",
                "item": site.url +"/journal/interview/016/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/016/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "016"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“When I overthink what kind of formulas and grids I'm going to use in my next work, I get a compulsion that makes me want to convert everything I see. *Laughs* This could be to prime numbers, cryptography or the binary system (even though the world is now moving towards the decimal system)... But using things like this helps me face my paintings with a strong feeling.”</h3>
				<p class="lead">Maki Katayama is an artist who creates paintings based on numbers derived from the birth and death dates of her motifs, her own colour charts based on research into past weather conditions and prime numbers.</p>
				<p class="lead">During the interview, Katayama said that if nothing stopped her, she would keep painting forever. One painting she made in 2018, ‘Prime Spiral’, comprises dots placed along a grid that are connected by lines to create a geometric iconography, and the artist's sincerity is contained in the dots on the small screen. Katayama's paintings, made by introducing an external system, exist as inevitable objects, the result of a sincere and endless process of creation.</p>
				<p><span class="talker">IM LABOR__</span>I think that one of the main characteristics of your work is that you refer to external systems to create abstract paintings in a materialistic way. Have you started painting in this style since your solo exhibition, ‘<a href="http://www.makifinearts.com/en/exhibitions/katayama_2015.html" target="_blank" rel="noopener noreferrer"><em>Madame Curie Chronology</em></a>’, at Maki Fine Arts in 2016?</p>
				<p><span class="talker">MAKI KATAYAMA__</span>Strictly speaking, I've been making abstract paintings using the system since around 2010. Still, I think it changed again after the ‘<em>Madame Curie Chronology</em>’ exhibition – that was the turning point for me.</p>
				<p>In the painting ‘<em>Marie Curie-Sklodowska (Madame Curie) 18671107-19340704</em>’, which I showed in the exhibition, I first divided the canvas into four large sections, and then, I drew the words “Marie Curie” on the canvas freehand. At the time, I had a rule that if I painted Marie Curie's name on the canvas, she should also age in the canvas. So I drew all the events that had happened in her life in letters, and on top of that, I drew the other events that I could identify with dates, such as the death of her mother, the discovery of radium and the birth of her child. The colour I used was based on the chart table I made by myself. The letters kept piling up on top of each other like a monstrous document.</p>
				<p>I felt that I was reliving Marie Curie's life through that painting. When you take widely known people as your subject matter and make an artwork about them, you feel like their achievements are yours, or you get too intoxicated by their world. I thought that wasn't a good thing. Also, I think people tend to like the idea of a painter living a particular person's life, and I don't want to be seen that way. Originally, I wanted to keep my work away from my consciousness, but it became too grandiose as if I had lived Madame Curie's life through making the painting. I tried to distance myself from that feeling, so I shifted to a more immediate way of painting.</p>
				<p><span class="talker">IL__</span>A more immediate approach... Indeed, since then, you have made a series of paintings using a format of calendars and paintings that refer to Josef Albers's colour schemes. The colour schemes and compositions of your work in ‘<em>Madame Curie Chronology</em>’ are vaguely reminiscent of Albers. Have you always been aware of his work? </p>
				<p><span class="talker">MK__</span>Yes, that's right! No, I wasn't aware of Albers at that time, so it's bizarre.</p>
				<p>I think it was after my solo exhibition at XYZ in 2017 or 2018 that I started to make works influenced by Albers. I was curious about the relative relationship of colours, or rather, Albers's colour schemes. His way of combining colours is quite unique; for example, the colour scheme in this work (image) is not really a combination of primary colours, but there is a bit of grey in the whole thing, and it looks kind of uncomfortable. I think I became interested in his works because I was thinking about the relationship between dull and shallow colours and the combination of both.</p>
				<p><span class="talker">IL__</span>Yeah, I think that the "colour scheme" is one of the main subjects when speaking about your work.</p>
				<p><span class="talker">MK__</span>I've always been interested in colour. The series of my paintings that follows people's lives is partly because I wanted to have a date as a trigger for painting; I replaced the dates with colours.</p>
				<p>When I went to Thailand, the locals asked me what day of the week I was born, and I was like, “What?" Apparently, in Thailand, each day of the week has its own colour and Buddha and is used as a basis for fortune-telling – people even wear their colours for luck. So, the relationship between the days of the week and colours is deeply rooted in Thailand. The work '<em>Marie Curie-Sklodowska (Madame Curie) 18671107-19340704</em>', shown in the ‘<em>Chronology of Madame Curie</em>’ exhibition, also uses this Thai colour chart for the four colours of the day of Marie Curie's birth, the day of her death and the date. I thought it was kind of interesting that the days of the week have their own colours.</p>
				<p><span class="talker">IL__</span>I want to ask you about your solo exhibition, ‘<a href="http://xyzcollective.org/maki-katayama.html" target="_blank" rel="noopener noreferrer"><em>Birds, Rats, 20 Variations of Brown and Others</em></a>’, at XYZ Collective in 2018. The title is unique – how did it relate to the works?</p>
				<p><span class="talker">MK__</span>I'm currently using the colour dictionary called ‘A Dictionary of Color Combinations’. I found it in the souvenir corner of the National Museum of Modern Art, Tokyo, a long time ago. The editor of this dictionary is Sanzo Wada, a painter who made the painting ‘<a href="https://search.artmuseums.go.jp/gazou.php?id=4260&edaban=1" target="_blank" rel="noopener noreferrer"><em>Nanpu</em></a>’ (South Wind), in which a man with a bare upper body and overly muscular muscles is standing on a boat and that is often hung in the permanent collection of the museum. So, I thought it was pretty interesting that the person who drew that painting supervised the dictionary.</p>
				<p>I also used this colour dictionary when I made the body of works shown in ‘<em>Birds, Rats, 20 Variations of Brown and Others</em>’. The dictionary contains a list of cool colour combinations for kimonos, and the colours used are taken from traditional Japanese colours and are written in kanji. The colour schemes introduced in the dictionary are from Taisho and Showa-era Japan, but they are somewhat similar to the colour combinations used by Albers. There are a lot of grey and neutral colours throughout. So, I went through this colour dictionary and looked for colour combinations close to Albers' and quoted combinations that I could see as being relative to each other... I guess that's how I produced the works for the exhibition.</p>
				<p>In terms of the title of the exhibition, ‘<em>Birds, Rats, 20 Variations of Brown and Others</em>’, in the Edo period, there was a time when extravagance was banned, and the materials and colours of the clothes you wore were restricted according to your status. Some of the townspeople were rich, and they wanted to wear something fancy, so they worked with the dyers and came up with the idea of naming their clothes with the colours “rat” or “brown”: cherry blossom rat, plum rat or yamabuki brown. And they called it “48 tea, 100 rats," and it became popular. I found the story very interesting and titled the exhibition inspired by that.</p>
				<p>The winter solstice at ‘<em>PARIS, FR, 1891-1934 (Madame Curie)</em>’ is based on a colour chart that I made myself; the date of the winter solstice, when Marie Curie spent her time in Paris, is replaced by the day of the week and the weather conditions that day. It was like the painting was mechanically completed by incorporating existing data into a structure that I had set up myself.</p>
				<p><span class="talker">IL__</span>I see. You have made a lot of works using a grid from the calendar – how did you go about making them? Also, do you have a specific person as a motif that you refer to?</p>
				<p><span class="talker">MK__</span>The grids I used for the paintings are taken from a calendar with one month, starting on Sunday or Monday, with seven vertical columns and five horizontal rows. I put round dots on the dates of my personal memories as if I were marking them as national holidays. The colours used in the series of paintings are from a colour chart I made myself, in which colours replace the days of the week and the weather each day. As the grid and dots are layered with the memories, the positions of the dots in the timeline of life are marked more and more.</p>
				<p>For example, ‘<em>Irene&amp;Frederic married life __Grid starting on Sunday #1</em>’ depicts the lives of Irene, Marie Curie's daughter and researcher, and her husband, Frederic, who was also a researcher, using a calendar grid.</p>
				<p>And ‘<em>Celebration day for six people</em>’ is based on my friend's childbirth and wedding dates.</p>
				<p><span class="talker">IL__</span>How about ‘<em>Solstices&amp;Equinoxes</em>’? The title has the region's name – is this also the one you painted with the calendar grid?</p>
				<p><span class="talker">MK__</span>This work was presented on an online project space, <a href="https://chicane.space/" target="_blank" rel="noopener noreferrer">chicane.space</a>, run by artists during the period when the world was locked down due to COVID-19 in 2020. I researched the dates of the world's spring, summer, autumn and winter solstices and represented them in a way that used the calendar grid. What I found interesting about the series was that the days of the week were shifted due to time differences. Also, Sydney and Tokyo are close in longitude, so the time difference is not that much, but they are in the northern and southern hemispheres, so the seasons are reversed: when Tokyo is in winter, Sydney is in summer. So, I thought it would be possible to express the relationship between the sun and the earth as seen from space, using the differences in places that we experience on earth, within the common time perception of the calendar.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide01_sp.jpg" /></picture><span class="caption">'MarieCurie-Sklodowska（Madame Curie）18671107-19340704', 2015, Oil on canvas, 116.7 × 91cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide02_sp.jpg" /></picture><span class="caption">'S.19150416.金.-S.20081115.土.N.I', 2015, Oil on canvas, 13.5 × 19cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide03_sp.jpg" /></picture><span class="caption">Production notes for Madame Curie's work</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide04_sp.jpg" /></picture><span class="caption">painting by Josef Albers</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide05_sp.jpg" /></picture><span class="caption">'Study of color#3', 2017, oil on canvas, 19 x 16 x 3cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide06_sp.jpg" /></picture><span class="caption">Color Scheme Dictionary - Photos of Color Notes from the Taisho and Showa Eras</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide07_sp.jpg" /></picture><span class="caption">'LightPinkishCinnamon-LemonYellow-TurquoiseGreen-Ecru 薄香色-カナリヤ色-白緑-灰汁色', 2018, oil on canvas, 22.7 × 15.8cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide08_sp.jpg" /></picture><span class="caption">'NeutralGray-HermosaPink-PansyPurple-SudanBrown 銀鼠-鴇色-蘇芳色-丁字茶', 2018, oil on canvas, 22.7 × 15.8cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide09_sp.jpg" /></picture><span class="caption">'Majority in color scheme 配色の中の多数', 2018, oil on canvas, 41.6 x 32cm, Courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>The works you showed in the two-person exhibition, ‘Emotional Frequencies’, with Francesca Blomfield are a different series.</p>
				<p><span class="talker">MK__</span>I got to know Francesca's work at im labor last year and was shocked. It was so amazing that I was shaking. So, I was so happy when I heard that this two-person exhibition had been confirmed. Francesca's work has a strange way of connecting the papers, and when it's hanging on the wall, it is emphasised even more. My most recent work is a series of two canvases of different sizes – I put paint on their surfaces and let them collide. I decided to exhibit the series because I thought they would somehow show similarities to Francesca's works.</p>
				<p>By the way, the size of the canvas I used is in the title of this series.</p>
				<p><span class="talker">IL__</span>How do you decide how many times to collide the canvases?</p>
				<p><span class="talker">MK__</span>To be honest, I'm always thinking about when to stop. For the collision series, I put paint on the surfaces of the two paintings and tried to bring them together, surface to surface. In a series, I paint by rotating the axis of the canvas where the surfaces meet. I place the paint at the point where the vertical and horizontal tacks of the canvas intersect, and when I can't, the painting is done. It is interesting to see how the dots on the two canvases can be placed in unexpected places because the surfaces are aligned while rotating the axis.</p>
				<p><span class="talker">IL__</span>Is there any success or failure in the finished work after such a process?</p>
				<p><span class="talker">MK__</span>Yes, there is. It's only when I finish it that I realise how it looks. That's why I work on several paintings at the same time, and when I finish them, I decide whether I can show them or not. There are times when I don't think I can do anymore with a piece.</p>
				<p>But to tell the truth, I don't want to set a standard for success or failure. In the book 'Calculating Life’, the writer, Masao Morita, says that "Calculating means operating according to predetermined rules. Because you can't precisely write down the quantities that are ambiguously mixed up in your head, you have to check them by laying out the clay outside your head. They are back to back, but not always exactly on top of each other, and there are often discrepancies." I thought that what he was saying was similar to the relationship between me and my work. It's essential to enjoy the uncertainty of what you've set out to do and give it a try at first, but usually, in the middle of it all, there will be a point where you think, "That's not right." It could be a simple mistake in the order, that the paint is not applied properly, the colour scheme is different from what I expected or an issue with the balance of the colour areas. If there is no mistake in the process but I don't like it, I leave it for a while. And then, if I still don't like it, I destroy it and use it as a foundation for a new painting.</p>
				<p><span class="talker">IL__</span>Is the orientation of each painting decided from the beginning?</p>
				<p><span class="talker">MK__</span>I decide from the beginning whether each painting will be portrait or landscape, but I look at them for about a week after they’re finished and then decide which side is the top or bottom. And then I put my signature in that orientation, though it doesn't really matter, to be honest. *Laughs*</p>
				<p>At the latest exhibition at XYZ Collective, I kept thinking my work might be better if it were the other way round and would hang my paintings up again during the exhibition period. Also, I sometimes ask people in my studio, such as my husband, Masaya Chiba, questions like, "Which way do you think this is: up or down? I think it's this way, but I don't know." And if they say, "I think it's the side,” then I hang the painting that way and look at it for a couple of days.</p>
				<p><span class="talker">IL__</span>I first came to know your work through a small oil painting called ‘<em>Prime spiral</em>’, which is lines connecting dots painted in grids. It's one of my personal favourites. If you don't mind me asking, can you tell us about this work, too?</p>
				<p><span class="talker">MK__</span>This work was exhibited at the Paris Internationale in 2018 or 2019. It's a reference to the Ulam Spiral. If you follow prime numbers from a certain starting point, you get a spiral shape. It's really beautiful.</p>
				<p>I simply love prime numbers; you can't see the whole picture, but there is a hint, and if you follow it, you can solve it, but you can't. With some numbers, you don't know whether they are eternal or infinite.</p>
				<p>When I overthink what kind of formulas and grids I'm going to use in my next work, I get a compulsion that makes me want to convert everything I see. *Laughs* This could be to prime numbers, cryptography or the binary system (even though the world is moving towards the decimal system now)... But using things like this helps me face my paintings with a strong feeling.</p>
				<p><span class="talker">IL__</span>Face your paintings with a strong feeling...<br>
				Was there an impetus for this kind of immediacy or a method of making that uses existing rules and formats?</p>
				<p><span class="talker">MK__</span>Well, one of the reasons for this was the pain of not being able to see the end. I don't know how to put it, but I felt like I was losing myself in the painting. Because I'm not a good painter, I couldn't decide what I wanted to paint or what I wanted to finish.</p>
				<p>When you're a student, you have the luxury of time to be undecided, and you can keep facing the same canvas forever. But when you go out into the world, it's hard to face a piece that you aren't sure when to finish. Eventually, there are paintings that take three years or so to complete. So, that's when I thought I wanted to have a definite end.</p>
				<p><span class="talker">IL__</span>What kind of work were you making when you were a student?</p>
				<p><span class="talker">MK__</span>At that time, I would make a kind of pattern from my drawings, and then I would paint it and break it to fit in the canvas.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide10_sp.jpg" /></picture><span class="caption">'The winter solstice at PARIS, FR, 1891-1934 (Madam Curie)', 2018, oil on canvas, 45.5 x 38cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide11_sp.jpg" /></picture><span class="caption">'Irene&amp;Frederic married life _Collision.29 Grid starting on Sunday #1', 2019, oil on canvas, 27.3 x 22cm diptych, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide12_sp.jpg" /></picture><span class="caption">'Celebration day for 6 people', 2020, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide13_sp.jpg" /></picture><span class="caption">'Solstices&amp;Equinoxes for TOKYO&amp;SYDNEY in 2021', 2020, Watercolor on paper, 24.2 × 33.3cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide14_sp.jpg" /></picture><span class="caption">'F10P8P4 530X455+455X333+333X220(mm)', 2020, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide15_sp.jpg" /></picture><span class="caption">'F8P8 45.5×38+45.5×33.3(cm)', 2021, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide16_sp.jpg" /></picture><span class="caption">'Prime spiral', 2016, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide17_sp.jpg" /></picture><span class="caption">LUCKY HAPPY STUDIO</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide18_sp.jpg" /></picture><span class="caption">Production notes for recent works</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>You mentioned earlier that the colours of Albers influenced you. Are there any other artworks and artists from that period that you look up to or are interested in?</p>
				<p><span class="talker">MK__</span>Recently, I've been interested in the Bauhaus movement. Also, I've been interested in the work of Sophie Taeuber-Arp, and I've been wondering why she placed the dots here and why they're in this slightly different order. I'm interested in artists who study the composition of their time. After that, the abstract expressionist movement emerged in the US, but I think I'm more familiar with the compositionists.</p>
				<p><span class="talker">IL__</span>Regardless of the field, who are your influences, and what do you like?</p>
				<p><span class="talker">MK__</span>I like train route maps and diagrams. I've been told that I like to think about transfers. When somebody says, "I came from blah blah station," I start to think about how they got here and which train route they used. Also, I like to think of my original train route to tell people and suggest they use it instead. But I guess they would think I was annoying if I did that. *Laugh*</p>
				<p>When paper tickets were still used, I liked adding or subtracting random numbers printed on the ticket to make zero or ten. Also, I love it when I can change trains smoothly on the underground. For example, Akasakamitsuke – the station where the Marunouchi and Ginza lines are on the same platform – is just incredible. But I'm not a train otaku or anything. *Laughs*</p>
				<p>People who have influenced me... well, there are many. My father is a Sunday painter; he does wood clock printing. I've seen him making artwork since I was a child, and I loved to watch him enjoying doing it. My father is extraordinary. We don't have regular conversations, and we don't talk about each other's work. But yes, when I think of influences, one could be my father. Though he's a painter too, he didn't want me to go to art school, so I lied to him and said I would be okay because I would be an art teacher in junior high or high school. *Laughs*</p>
				<p><span class="talker">IL__</span>You graduated from Tama Art University. Were you mainly making abstract paintings from that time?</p>
				<p><span class="talker">MK__</span>Yes, I was in the abstract class from the time I was a student, but a tutor I was learning from was from the Gadan<sup>①</sup> school. So, it wasn't really about the content of the painting; it was more about how many paintings you made in a year – we were told to make as many as we could. At the end of the semester, the assistant would calculate how many paintings each student had made; we had to submit a total of 1,000 size drawings. So, at the time, I thought that was what being a painter was all about.</p>
				<p>When I was a student, I was like, "What is contemporary art?” I think I was a bit uninformed, and when I think about it now, it's a real waste as I could have seen a lot of interesting art at that time, but I missed out on a lot of it. Cobra, an artist and director of XYZ collective; Soshiro Matsubara; and Masaya Chiba were at the same university, and they were running an artist collective called MIHOKANNO at that time, which is how I found out about this world. So, until I got to know them, I thought that to do your solo exhibition, you had to work full time to make money to rent some nice, fancy space in Ginza, Tokyo. It changed my perspective when they asked, "Maki do you know Favorite?<sup>②</sup>”</p>
				<p>So, I had my first solo exhibition at XYZ Collective when I was about 31 or 32.</p>
				<p><span class="talker">IL__</span>Did you continue to work as a painter after graduation?</p>
				<p><span class="talker">MK__</span>Well, yes... I had a lot of love in my twenties (and thirties, too...) The first few years after leaving university are the most dangerous. You're lost. It's tough to go back to the studio once you've left it. That's why I was lucky to have a shared studio, Lucky Happy Studio. It was a great stimulus to spend time working with people who were going through the same things that I was going through, and we managed to keep going, even in a small way.</p>
				<p><span class="talker">IL__</span>Can you tell us about the future development of your work and if you have any new challenges?</p>
				<p><span class="talker">MK__</span>I’m thinking of increasing the size of my paintings a bit, maybe to F30.</p>
				<p>I always carry a canvas size chart with me (see image). I draw lines and colour them in, so it looks a bit messy. For example, the longest side of F3 is 273 mm, and the shortest side of M8 is the same length. In this way, I was colour-coding the combinations and common numbers, but gradually, I started to wonder if the other numbers had any meaning, too. I tried to calculate all the numbers to find the commonality.</p>
				<p>There are some numbers that don't fit the commonality, such as Size 6 and 8. The larger the number, the more common the edge length becomes. In case you're wondering, M60 and F25 are the combinations with common edges that have the biggest size difference. I wonder if perhaps this standard size of canvas is only understood in France and Japan. When Tenshin Okakura imported canvases from France to Japan, he changed the size from inches to shaku-kan, and now, it is written in centimetres, so there is a difference between Japan’s and France’s canvas sizes.</p>
				<p>Anyway, at the moment, I'm looking at this chart and thinking about what I'm going to paint next.</p>
				<p>But I don't know why I drew this pink line... It's a mystery, isn't it?</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide19_sp.jpg" /></picture><span class="caption">Canvas Size Chart</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">A social range made up of painters. The name of the group mainly presents traditional Japanese paintings and other works.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">②</dt>
					<dd class="desc">‘Favorite’ was a free magazine published in Japan in the early 2000s to introduce contemporary art galleries.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Maki Katayama (b .1982) is a Japanese artist who lives and works in Tokyo. Recent solo exhibitions include “F3(a&lt;b),P6(c&lt;d),M12(e&lt;f):b=c,d=e”(2021) at XYZ collective,Tokyo, “Solstices &amp; Equinoxes for TOKYO &amp;Four cities in 2021”(2021) at chicane.space, “Birds, Rats,20 Variations of Brown and Others” (2018) at XYZ collective, Tokyo, and “Madame Curie Chronology”(2016) at Maki Fine Arts, Tokyo, etc., Katayama has been involved in group exhibitions “BIJYUTSU JYORON3”(2021) Shizuoka, Japan, “NEW INTIMACIES”(2020)soda, Tokyo, “COOL INVITATIONS 6 ”XYZ Collective, Tokyo (2019), and “Here’s why patterns, Here’s why patterns, Here’s why patterns” Misako&amp;Rosen, Tokyo (2019), etc.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

