{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__016: Interview with: 片山 真妃",
	description: "片山真妃はモチーフとなる人物の生年月日や命日などから導き出された数字や、過去の天候を調査し独自のカラーチャート、素数などを基に絵画を制作する作家である。",
	ogimage: "https://imlabor.org/journal/interview/016/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "016",
				"item": site.url + "/jp/journal/interview/016/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/016/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "016"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「次の作品ではどんな数式やグリッドを使おうって考えすぎると、目に入るもの全てを変換したくなってく病気にかかっちゃうんですよね。（笑）でも、なんかこうやって引用することで強い気持ちで絵画に向き合えるんです。」</h3>
				<p class="lead">片山真妃はモチーフとなる人物の生年月日や命日などから導き出された数字や、過去の天候を調査し独自のカラーチャート、素数などを基に絵画を制作する作家である。</p>
				<p class="lead">インタビュー中、片山さんは、終わりを作らないと永遠に描き続けてしまうと言っていた。2018年に制作された、グリッドに沿って置かれた点が線で繋がれ、幾何学的な図像が描かれているペインティング「Prime Spiral」その小さな画面に描かれた点には片山真妃という作家の誠実さが内包されている。外部のシステムを導入するという即物的な描き方で作られた片山さんのペインティングは、終わりが見えない制作と真摯に向き合った結果の必然的な物体として存在しているのである。</p>
				<p class="lead">本インタビューでは、近年の作品のこと、現在の描き方に至るまでのこと、学生時代のことなどについて話を伺った。</p>
				<p><span class="talker">IM LABOR__</span> 外部の既存のシステムを引用して即物的に抽象画を作り上げていく、というのは片山さんの作品の大きな特徴の一つだと思いますが、このスタイルで描き始めたのは2016年のMaki Fine Artsで開催された個展「<a href="http://www.makifinearts.com/jp/exhibitions/katayama_2015.html" target="_blank" rel="noopener noreferrer">キュリー夫人年表</a>」以降からでしょうか？</p>
				<p><span class="talker">MAKI KATAYAMA__</span>厳密に言うと2010年ごろからシステムを引用した抽象絵画というのは作っていましたが「キュリー夫人年表」以降にまた変わった様に思います。あの展示で一区切りつけた感じです。</p>
				<p>「MarieCurie-Sklodowska（Madame Curie）18671107-19340704」は最初に大きく四分割して、その後フリーハンドでキャンバスにマリー・キュリーって文字を描いています。当時私の中で、このキャンバスにマリー・キュリーの年齢分の名前を描くことで、彼女もキャンバスの中で歳をとっていくってルールがあったんですよ。それで、彼女の人生の中で起きた出来事を文字でバーッと描いてって、その上から、日付が特定できる出来事、例えばお母さんが死んだとかラジウム発見したとか、子供が産まれたとかを0～9までの数字を色に置き換えた自作のカラーチャート表を元に色塗って。文字がどんどん重なっていくのを繰り返していったので、もはや怪文書ですね。</p>
				<p>あの作品を通して、マリー・キュリーの人生を追体験した感がすごかったんですよ。広く知られた人物を取り上げて、彼らの人生を題材にすると、なんだかやった気になってしまうというか、彼らの世界に酔いすぎてしまう。それは良くないなって。あと、ある特定の人物に乗り移って、その人生を生きてる画家みたいな画家像って観客は好きじゃないですか。そういう風に見られるのも嫌だし。元々自分の意識から離れた所におきたかったのに、その人の人生をまるで自分が生きたかのような、壮大になりすぎてしまって。その感覚から距離をおきたくてもう少し即物的な描き方にシフトしていきました。</p>
				<p><span class="talker">IL__</span>即物的な手法…。確かにそれ以降、片山さんはモチーフとなる人物の生年月日やその人物の起点になる日付をもとに制作されたカレンダーシリーズや、アルバースの配色設計をレファレンスして作られた絵画の制作をされてますよね。「キューリー夫人年表」で発表した作品の配色や構図もどことなくアルバースを彷彿させますが、その当時から意識されていたんですか？</p>
				<p><span class="talker">MK__</span>そうなんだよね！でもその当時はアルバースを意識してたわけではないので、すごく不思議です。</p>
				<p>ジョセフ・アルバースに影響を受けた作品を作り始めたのが2017年か2018年のXYZの個展からですかね。色の相対関係というか、アルバースの配色が気になって…。彼の色の組み合わせって結構独特で、例えばこの作品（画像参照）の配色とか、実は原色がバチバチに組み合わされているわけではなく、全体的に少しグレーが入っていて、なんとなく違和感があるんですよ。鈍い色、浅い色、それぞれの組み合わせで生じる相対的な関係に興味が出てきたんです。</p>
				<p><span class="talker">IL__</span>たしかに、「配色」も片山さんの作品の大きな特徴の一つだと思います。</p>
				<p><span class="talker">MK__</span>もともと色に興味があって。人の人生を追うシリーズも、絵を描くためのきっかけとしての日付がそもそも欲しかったからなんです。日付を色に置き換えたりして。</p>
				<p>タイに行った時に現地の人に何曜日生まれかって聞かれて、え？ってなったことがありました。タイでは曜日ごとに色や仏様がいて生まれた曜日を占いの基準にしたり、その日の色を身につけたり、曜日と色の関係が根付いていて。「キュリー夫人年表」で展示した「MarieCurie-Sklodowska（Madame Curie）18671107-19340704」の作品でもこのタイの曜日のカラーチャートを引用していて、マリー・キュリーが生まれた曜日と亡くなった曜日と日付の四色が使われています。なんか曜日に色があるって面白いなって。</p>
				<p><span class="talker">IL__</span>2018年にXYZ Collectiveで開催された個展のタイトル「<a href="http://xyzcollective.org/maki-katayama.html" target="_blank" rel="noopener noreferrer">鳥と鼠と20の茶色など</a>」についてお話しを伺いたいです。とてもユニークなタイトルが印象的ですが、展示した作品とどのような関係があるんですか？</p>
				<p><span class="talker">MK__</span>私が今使っている配色辞典がこれで、「配色辞典ー大正・昭和の色彩ノート」っていうんですけど。すごく前に東近美のお土産コーナーで見つけました。実はこの配色辞典を監修したのは和田三造なんです。東近美の常設によく掛けてある絵「<a href="https://search.artmuseums.go.jp/gazou.php?id=4260&edaban=1" target="_blank" rel="noopener noreferrer">南風</a>」、船の上で上半身裸でムキムキすぎる筋肉の男性が仁王立ちしている絵を描いた人です。あの絵を描いた人と配色辞典を監修した人というのが同一人物なのが結びつかない感じが面白いなって。</p>
				<p>この配色辞典は「鳥と鼠と20の茶色など」で展示した作品を制作する際にも使っています。辞典には着物のイケてる配色の組み合わせが載ってて、使用されている色は日本の伝統色から引用されているので漢字で表記されています。日本の大正・昭和の配色辞典なんですが、アルバースが使う色の組み合わせとどことなく似ているような気がしていて。全体的にグレーや中間色の幅が多いというか。それで、この配色辞典からアルバースの配色と近いものを探したり相対関係で見える組み合わせを引用していった…という感じですかね。</p>
				<p>個展タイトルの「鳥と鼠と20の茶色など」ですが…　江戸時代に奢侈禁止令が発令され、身分によって身につける衣服の素材、色までも制限されていた時があったんです。町人と言えどもお金持ちの人もいるし、その人たちがなんとか誤魔化して派手なものを羽織りたいということで染物屋と工夫して思いついたのが、色の名前に鼠色や茶色をつけるという工夫です… 桜鼠とかウメ鼠とか、山吹茶とか。しかも四十八茶百鼠と呼ばれて流行したそうです。その話が面白かったので、個展のタイトルは「鳥と鼠と20の茶色など」になりました。</p>
				<p><span class="talker">IL__</span>例えば「Minority in color scheme」や「The winter solstice at PARIS, FR, 1891-1934(Madam Curie) 」など、「鳥と鼠と20の茶色など」で発表された作品も先程片山さんがおっしゃていた即物的な描き方、外部のシステムを導入して作られたのでしょうか？</p>
				<p><span class="talker">MK__</span>「Minority in color scheme」は配色辞典で使用されている色が違う配色の中でも使用されている場合の重複する回数を記号的に表した作品です。</p>
				<p>「The winter solstice at PARIS, FR, 1891-1934(Madam Curie) 」はマリーキュリーがパリで過ごした時期の冬至の日付データを、曜日とその日の天候を色に置き換えた自作のカラーチャートを元に制作しました。既存のデータを自分で設定した構造の中に取り込んで作品が機械的に完成されていくイメージですね。</p>
				<p><span class="talker">IL__</span>なるほど。片山さんはカレンダーのグリッドを用いた作品を多く作られていると思いますが、どのような制作過程で作られているのでしょうか？また、カレンダーのモチーフとなる具体的な人物はいるんですか？</p>
				<p><span class="talker">MK__</span>1ヶ月が表記されているカレンダーの日曜日もしくは月曜始まりの縦7列、横5列のグリッドをそのまま引用しています。個人的な思い出の日付に、まるで特定の日に記していくように丸い点を置いていきます。ちなみに、ここで使用している色は曜日とその日の天候を色に置き換えた自作のカラーチャートです。その思い出とともにグリッドと丸い点が重層的に重なると人生の時間軸の中で位置がどんどん記されていくようで平面的でありながら高次元の立体を作っている感覚になります。</p>
				<p>例えば「Irene&amp;Frederic married life _Grid starting on Sunday #1」はマリーキュリーの娘で研究者のイレーヌと同じく研究者で夫のフレデリックの人生をカレンダーのグリッドを使って描いたものです。</p>
				<p>あと「Celebration day for 6 people」は、友達が子供を出産した日と、婚姻した日を聞いて、それを元に描いています。</p>
				<p><span class="talker">IL__</span>「Solstices&amp;Equinoxes」ついてのお話もお伺いしたいのですが、タイトルに地域の名前がついていますが、これもカレンダーのグリッドを使って描いたのもなんでしょうか？</p>
				<p><span class="talker">MK__</span>この作品は2020年コロナで世界がロックダウンされている期間にアーティストが運営するオンラインプロジェクトスペース（<a href="https://chicane.space/" target="_blank" rel="noopener noreferrer">chicane.spsce</a>）で発表した作品です。世界の春分、夏至、秋分、冬至の日付を調べてカレンダーのグリッドを用いた方法で表現しています。そうすると時差の関係で曜日がずれていくんですよね。例えばメキシコと東京とか。例えばシドニーと東京だと経度は近いので時差はそこまでないんだけど、北半球と南半球にあるので季節が逆転して東京が冬だとシドニーが夏になる。宇宙から見た太陽と地球の関係を、地球上で体験する場所の差異みたいなものを使ってカレンダーという共通時間認識の中で表現できるのではないかと思い制作しました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide01_sp.jpg" /></picture><span class="caption">'MarieCurie-Sklodowska（Madame Curie）18671107-19340704', 2015, Oil on canvas, 116.7 × 91cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide02_sp.jpg" /></picture><span class="caption">'S.19150416.金.-S.20081115.土.N.I', 2015, Oil on canvas, 13.5 × 19cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide03_sp.jpg" /></picture><span class="caption">キュリー夫人の作品の制作メモ</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide04_sp.jpg" /></picture><span class="caption">painting by Josef Albers</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide05_sp.jpg" /></picture><span class="caption">'Study of color#3', 2017, oil on canvas, 19 x 16 x 3cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide06_sp.jpg" /></picture><span class="caption">配色辞典ー大正・昭和の色彩ノートの写真</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide07_sp.jpg" /></picture><span class="caption">'LightPinkishCinnamon-LemonYellow-TurquoiseGreen-Ecru 薄香色-カナリヤ色-白緑-灰汁色', 2018, oil on canvas, 22.7 × 15.8cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide08_sp.jpg" /></picture><span class="caption">'NeutralGray-HermosaPink-PansyPurple-SudanBrown 銀鼠-鴇色-蘇芳色-丁字茶', 2018, oil on canvas, 22.7 × 15.8cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide09_sp.jpg" /></picture><span class="caption">'Majority in color scheme 配色の中の多数', 2018, oil on canvas, 41.6 x 32cm, Courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>今回フランチェスカ・ブロムフィールドとの2人展「emotinal frequencis」で展示される作品はまた違ったシリーズになるんですよね。</p>
				<p><span class="talker">MK__</span>フランチェスカさんの作品を去年imlaborでみて衝撃を受けたんですよ。超やばすぎて震えました。だからこの2人展の話をいただいた時はとっても嬉しくて…。フランチェスカさんの作品は紙の繋げ方が不思議で壁に掛かっているとそれがより強調して見えるんですが、私の近作も2枚の違うサイズのキャンバスで組み合わせでできているので、あるようで無いような、でもありそうな共通性や違いが面白く見えたらいいなと思ってこのシリーズの作品にしました。</p>
				<p>これらは2枚のキャンバスの表面に絵の具を置いて、衝突させながら描き進めていくシリーズです。使用したキャンバスの規格サイズがそのままタイトルとして使われています。</p>
				<p><span class="talker">IL__</span>キャンバスを衝突させる回数はどうやって決めてるんですか？</p>
				<p><span class="talker">MK__</span>正直いつ終わるかずっと考えていて、衝突シリーズの時は2つの絵の表面に絵の具を置いて表面と表面を合わせるようにして描いています。最近の衝突シリーズは表面を合わせるキャンバスの軸を回転させながら描いています。キャンバスを貼ったときのタックス（ビス）の縦と横が交わる位置に絵の具を置いて、置けなくなったら終わりというか。軸を回転しながら表面を合わせているので、2つのキャンバスに置かれた点が思いもよらないところに付けられたりするのが面白いです。</p>
				<p><span class="talker">IL__</span>ちなみに、完成した作品に失敗成功とかってあるんですか？</p>
				<p><span class="talker">MK__</span>ありますよ。完成して初めて、こうゆう感じなんだなと。だから割と並行して何枚か描き進めて、完成したものを、これは出せるかどうか判断して。途中段階でもうこれはやだなってこともありますね。</p>
				<p>でも本音を言うと、成功失敗の基準を設けたくないとは思ってるんですよ。森田真生さんが著書「計算する生命」の中で「計算」はあらかじめ決められた規則にしたがって操作することと、頭の中で曖昧に混ざり合ってしまう数量を正確に書けないからこそ、頭の外に粘土を並べて確かめることであり、この両者は背中合わせの関係にあるけどいつもピタりと重なり合っているのではなくしばしばズレが生じている。というようなことを言っていて私と作品の関係ににているなと思った事があります。</p>
				<p>設定した事の成り行きのわからなさを楽しむこと、とりあえずはやってみるのは重要かなとは思います。でも、途中で、これは違うからやりたくないなっ、ていうのが出てきてしまう。シンプルに順番間違えたとかもあるし、絵の具のつき方がよくないとか。あと、実際に描き始めて配色がなんか思ってたのと違うというか、色の面積のバランスとか。特に手順にミスはなくてもなんか気に入らないなっていうものは、とりあえず寝かします。それでもダメなら全部潰して新しい絵の下地にしちゃいます。</p>
				<p><span class="talker">IL__</span>片山さんの作品は図像の向きは最初から決まっているんですか？</p>
				<p><span class="talker">MK__</span>縦（ポートレイト）か横（ランドスケープ）かは最初からあるんですよ、でも天地は完成してから一週間くらい眺めて決めるかな。一応サインはその向きで入れてますけど、でも実はそんなに関係なくて。（笑）</p>
				<p>前回のXYZの個展では会場で掛け直してたりしました。やっぱりこれ逆の方がいいかも、って。あと、アトリエで人に聞くこともあります。千葉さんとかにも、これ上下どっちだと思う？私はこっちだと思うけどどうだろ。みたいな。それでこれ横っ面だと思うなとか言われると、そ、そうかな。みたいな。それで、その向きで二、三日眺めてみたりして。</p>
				<p><span class="talker">IL__</span>初めて片山さんの作品を知ったのが「Prime spiral」というグリッドに描かれた点が線で繋いである小さな油絵なんですけど。個人的にも好きな作品です。もしよければこの作品についてもお話を聞かせてもらっていいですか?</p>
				<p><span class="talker">MK__</span>この作品は2018年か19年の、Paris Internationalに出した作品なんですが。素数（ウラムノ）螺旋を引用してて。ある起点から素数の数字を辿っていくと螺旋状の図形になっていくというものです。その図形がすごく綺麗で。</p>
				<p>あと単純に素数が好きです。全体は見えないけれど、何かヒントがあって、辿っていくと解けそうだけど、解けないみたいな。永遠なのか、無限なのかわからない数字。</p>
				<p>次の作品ではどんな数式やグリッドを使おうって考えすぎると、目に入るもの全てを変換したくなってく病気にかかっちゃうんですよね。（笑）素数とか、暗号とか、あと二進法とか（今世界は十進法で進んでるのに…）でも、なんかこうやって引用することで強い気持ちで絵画に向き合えるんです。</p>
				<p><span class="talker">IL__</span>強い気持ちで向き合える…<br>このように即物的というか、既存のルールやフォーマットを引用した制作方法になったきっかけとかはあったんですか？</p>
				<p><span class="talker">MK__</span>なんだろう。一つのきっかけとしては終わりが見えない苦しさ、言い方は変だけど、そこでなんか自分が絵画に負けてしまうというか。自分はうまく絵を描けるタイプではないから。そもそも、私は何を描きたいか何が完成か決めきれなかったんですよね。</p>
				<p>学生の頃はその決めきらない時間の余裕が確保されていて、永遠に同じキャンバスと向き合い続けることができますよね。でも、社会に出ると、いつ完成が来るかわからない作品と向き合うのは大変です。そのうち、完成までに3年とかかかってしまう絵とかが出てきて。それで明確に終わりを決めてみたいと思ったんです。</p>
				<p><span class="talker">IL__</span>当時はどんな絵を描かれてたんですか？</p>
				<p><span class="talker">MK__</span>当時は自分でドローイングした絵を型紙みたいなものにして、画面の中に当てはめて描いては壊してみたいな行為を繰り返してました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide10_sp.jpg" /></picture><span class="caption">'The winter solstice at PARIS, FR, 1891-1934 (Madam Curie)', 2018, oil on canvas, 45.5 x 38cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide11_sp.jpg" /></picture><span class="caption">'Irene&amp;Frederic married life _Collision.29 Grid starting on Sunday #1', 2019, oil on canvas, 27.3 x 22cm diptych, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide12_sp.jpg" /></picture><span class="caption">'Celebration day for 6 people', 2020, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide13_sp.jpg" /></picture><span class="caption">'Solstices&amp;Equinoxes for TOKYO&amp;SYDNEY in 2021', 2020, Watercolor on paper, 24.2 × 33.3cm, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide14_sp.jpg" /></picture><span class="caption">'F10P8P4 530X455+455X333+333X220(mm)', 2020, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide15_sp.jpg" /></picture><span class="caption">'F8P8 45.5×38+45.5×33.3(cm)', 2021, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide16_sp.jpg" /></picture><span class="caption">'Prime spiral', 2016, oil on canvas, Courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide17_sp.jpg" /></picture><span class="caption">LUCKY HAPPY STUDIO</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide18_sp.jpg" /></picture><span class="caption">近作制作メモ</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>先程アルバースの色彩に影響を受けているというお話を伺いましたが、調べたり気になってたりしている美術やアーティストもその年代の人が多いんですか？</p>
				<p><span class="talker">MK__</span>最近はバウハウスの流れとか… あと、ゾフィー・トイバー＝アルプの作品が最近すごく気になっていて、なぜここに点が、どうして微妙にずれてこの並びなの、とか。その年代のコンポジションを研究している作家は気になりますね。その後アメリカで抽象表現主義の流れとか出てきましたけど、どっちの方が私にとって身近かというとやはりコンポジションガチ勢の方ですね。</p>
				<p><span class="talker">IL__</span>分野に関係なく影響を受けた人物や、好きなものとかあったら教えてください。</p>
				<p><span class="talker">MK__</span>電車の路線図とかダイアグラムとかが好きです。乗り換えについて考えるの好きだよね、って言われることがあって。「〇〇駅から来ました。」って聞くと、じゃここで乗り換えて、この電車に乗って、このルートで着たのかって考えるのが好きで。それで、私が考えた独自のルートを伝えたりして、相手からしたらうっせーな、って感じでしょうけど。（笑）</p>
				<p>まだ切符使ってた頃は、切符に書かれてる数字を足したり引いたりして、0とか10にする遊びも好きでした。あと地下鉄で乗り換えがスムーズなところはすっごい上がる。赤坂見附… あそこの駅は、丸の内線と銀座線が同じホームになってて、もう最高ってなりますね。でも私、別に鉄オタとかではないです。</p>
				<p>影響を受けた人は… んー、いっぱいいますけど。うちの父が版画をやっていて、木版画なんですけど。他の仕事をしながら、日曜画家的に。それがすごい楽しそうにやってるなー、っていうのは幼少期から思っていて。でも、うちのお父さんってちょー変わってるんですよ。普通の会話は成り立たないし、制作の話もしないですけど。でもそうですね、影響って考えると、父かもしれないです。でも父から美大進学は反対されたんですよ。なので、中学か高校の美術の先生になるから大丈夫って、嘘をついて。（笑）</p>
				<p><span class="talker">IL__</span>片山さんは多摩美術大学を卒業されていますが、在学中も抽象画を主に制作されていたんですか？</p>
				<p><span class="talker">MK__</span>そう、学生の時から抽象クラスにいたんですけど、習ってる先生は画壇系の先生だったので。年間1000号描けって。絵の内容よりも、とりあえず描けという感じでしたね。助手の人が100号3枚50号何枚って計算していくんですよ。1000号まであと600号足りないみたいな。（笑）だから、その時はそういうものだと思っていたのかな。</p>
				<p>在学中は現代美術って何？って感じで。情報弱者というか、今思うと本当にもったいないですよね。同時代で見れたはずなのに、見逃してしまったものも多くて…10年くらい遅いんですよ。でも、大学のー学年上にCobraくんとか松原くん千葉くんとかいて、彼らがミホカンノっていうアーティストグループをやっていて、そこでこうゆう世界があるんだっていうのを知ったというか。それまでは、画家っていったら、銀座の貸画廊で年1くらいで個展して、次の個展の為になんとかお金を溜めて、細々やっていくもんだと思っていたのが、「マキちゃんフェイバリット（現代美術ギャラリーガイドマップ　現・GUIDE）って知ってるかい。」って…何それ？面白いって。</p>
				<p>なので、XYZ Collectiveで最初に個展したのも31か32歳くらいの時でしたね。</p>
				<p><span class="talker">IL__</span>卒業後もずっと作家活動は続けていたんですか？</p>
				<p><span class="talker">MK__</span>そうですね... 恋愛に振り回された20代でしたけど…（30代もだけど。）大学出て何年かってやっぱり一番危険だからね。路頭に迷うよね。一旦制作から引いてしまうと、またそこから戻るのってすっごく大変じゃないですか。そんな時、共同スタジオ（Lucky Happy Studio）の存在が大きかったですね。同じように色々なことに振り回されている人達と制作する時間は大きな刺激になって、なんとか細々と続けてこれました。</p>
				<p><span class="talker">IL__</span>今後の作品の展開や新たに挑戦してみたいことがあったらお伺いできますか？</p>
				<p><span class="talker">MK__</span>ちょっと絵のサイズを大きくしてみようかなと、F30号くらい。</p>
				<p>私、いつもキャンバスサイズの早見表を持ち歩いていて（画像）、線引いたり、色分けしたりしてたらなんだか訳わからなくなっちゃたんですけど。例えばF3号の長辺が273mmで、これと同じ長さになるのがM8号の短辺です。そうやって、組み合わせや共通する数字を色分けしてたんですけど、次第に他の数字にも意味はあるのかなって気になってきてしまって。とりあえず全部計算して共通性を探そうと試みて。</p>
				<p>共通性が当てはまらない号数もあるんですよ、6、8号あたり。号数が大きくなればなるほど辺の長さは共通してくるんですけど。因みに、M60とF25が一番サイズの違いがある共通辺を持つ組み合わせなのかな。このキャンバスの規格サイズが通じるのが、多分フランスと日本くらいなのかな？ 岡倉天心がフランスからキャンバスを日本に輸入した際に、サイズをインチから尺貫法に直したんですよ、それが更に今はセンチ表記になっているから、日本とフランスとのキャンバスサイズには誤差があるんですけど。とりあえず今は、この早見表を見ながら次はどんな絵にしようかなと考えています。</p>
				<p>でも、私なんでこのピンクの線を引いたんだろう...謎ですよね。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/016/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/016/img/slide19_sp.jpg" /></picture><span class="caption">キャンバス早見表</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">片山真妃（1982年生まれ）は、東京を拠点に活動している日本人アーティスト。近年の個展に、「F3(a&lt;b),P6(c&lt;d),M12(e&lt;f):b=c,d=e」2021年、 XYZ collective（東京）、「Solstices &amp; Equinoxes for TOKYO &amp;Four cities in 2021」2021年、chicane. space、「鳥と鼠と20の茶色など」 2018年、XYZ collective （東京）、「キュリー夫人年表」2016年、  Maki Fine Arts（東京）などがある。主なグループ展に「BIJYUTSU JYORON3」2021年、静岡、「NEW INTIMACIES」2020年、soda（東京）、「COOL INVITATIONS 6」2019年、XYZ collective（東京）、「Here's why patterns, Here's why patterns, Here's why patterns」Misako&amp;Rosen、2019年（東京）などに参加。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

