{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'twobytwobytwo',
		lang: 'jp',
    title: "2x2x2__006: ミューテーション・ステーション",
    description: "Venue__ 2x2x2 by imlabor, Tokyo, Japan | Date__ 12 December, 2020 - 30 January, 2021",
		ogimage: "https://imlabor.org/twobytwobytwo/006/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "2x2x2",
                "item": ""+ site.url +"/jp/twobytwobytwo/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "006",
                "item": ""+ site.url +"/jp/twobytwobytwo/006/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="twoby">
	<picture><source srcset="{{ site.root }}twobytwobytwo/006/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.twoby %}
					{%- if item.category === "2x2x2" and item.number === "006"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title"><span class="jp">{{ item.titleJP }}</span> {{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">インディア・ニールセン、岡廉久郎、大谷透、ヤスミン・ロビンソン</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">2x2x2 by imlabor, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">12 December, 2020 - 30 January, 2021<br>※ 開廊時間：14時 - 19時／木、金、土曜日<br>※ 上記会期中の間2020年12月27日から2021年1月13日の間、冬季休廊とさせていただきます。</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">‘ミューテーション’という言葉を知っていますか？ 直訳すると突然変異という意味になります。一般的に突然変異とは、ある種の中で不連続的に異なった形質のものが突如出現し、次代へと遺伝していく現象です。人体で起きる変異のほとんどは有害なものですが、（通常は身体はこの変化に耐えきれず、しばしば死に至ります。）稀に有益なものもあります。これらの有益な変異は、淘汰され、次の世代のために書き換えられていきます。その結果、突然変異が生じるのです。<br>
					偶発的な衝突によって発生した現象を解読しようとするのは、非常に不合理な時間の使い方でしょうが、この不合理な娯楽が稀有に意味のあるものに変わることがあります。<br>ちょっと立ち止まって見てみると、すでに発生している／したかもしれない突然変異の痕跡がそこにはあるかもしれません。</dd>
					<dd class="desc"><strong>インディア・ニールセン</strong> は、現実と仮想、彫刻と絵画、視覚と言語の間を行き来しながら、私たちが ’言語’として理解しているものを解体していきます。私たちの身の回りには、感情、関係性をより複雑に、混乱させるコミュニケーションツールで溢れています。デジタル時代を生きる事に伴う思考の不安定さを彼女の作品は表しているのかもしれません。テキスト、人物画、風景、に記号、様々なシンボルがランダムに現れる事によりニールセンの視点と鑑賞者の視点は永遠に交わらない、もしくは遠隔的に衝突を繰り返して行きます。</dd>
					<dd class="desc"><strong>岡廉久郎</strong> は塩を炙って独特なテクスチャーを生成する、独自の技法を用いた油絵を中心に制作している作家です。彼が多用するモーチフの一つに拳で涙を拭う男の姿がありますが、今回のグループ展で発表する作品は、それらとは異なるシリーズになっています。女性の顔写真が何者かの肖像画の上に貼り付けられ、その上部には「RENKURO VS RENKURO」という文字がランダムに描かれてある油絵作品等です。それらは、まるで作家の折り合いのつかない幾つもの葛藤や衝突が絵画内で進行形で発生しているかのよう見えるのです。</dd>
					<dd class="desc"><strong>大谷透</strong> は古紙や紙やすりなど、既存のイメージが描かれたものを支持体として使用し、そのイメージを特定するような情報を色鉛筆を使ってひたすら塗りつぶしていきます。塗りつぶされた先に残るのは、大谷曰く国道を車で走っている時に一瞬目に入った朽ち果てた看板のようなものだそうです- 何故か目には留まるが、実態がつかめない。彼にとって作品とは、意味や情報といったツールを持ち得えず対峙せざるを得ない、しかし見過ごせないものであることが前提条件としてあるのでしょう。</dd>
					<dd class="desc"><strong>ヤスミン・ロビンソン</strong> の作品は、都市の風景を想起させます。「私が都市風景に魅力を感じるのは、それらが支持体として無限に拡張することができるからです。」とロビンソンは述べています。彼女はスプレーペイントやワッペン等の強い異物を絵画の表面に取り込む事により、絵画自体から自分の痕跡を取り除こうと試みています。そうする事で絵画の主体性は画家から絵画そのもへ移行し、それはまるで高架下に描かれたグラフィティーのように、作者の顔が見えないイメージとしてただそこに存在するだけのもの（空間）になるのではないでしょうか。また、無限に広がる空間としての絵画を作りたいという彼女の思想も具現化されるのかもしれません。</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">インディア・ニールセンはロンドンを拠点に活動するイギリス人アーティストである。スレード美術大学でファインアートの学位を取得後、ロイヤルカレッジオブアートに進学し、絵画科の修士号を取得した。主な個展に『Seer Kin Lives』ジャックベルギャラリー（ロンドン）がある。2020年にPlatform Southwark（ロンドン）で二人展を開催。Eastside Projects(バーミンガム)、The Residence Gallery、ASC Gallery、The Hockney Gallery、Gallery 46、The Horse Hospital、Tripp Gallery、Matt's Gallery、Limbo、The Peckham Experiment Building(ロンドン)、Assembly House(リーズ)等のグループ展に参加している。<br>
					大学院を卒業以降はアーティストのIda Ekbladに従事した。また2020年にはAshurst Emerging Artist Prize のノミネートされました。</dd>
					<dd class="desc">岡廉久郎(b.1999)は埼玉県在住の日本人アーティスト。多摩美術大学絵画科に在籍。主な展覧会に個展『female man』Ranzan Studio(東京)2020、『Crying man』新宿眼科画廊（東京）2020、等がある。</dd>
					<dd class="desc">大谷透は1988年神奈川県生まれ、東京都在住。東京芸術大学美術学部先端芸術表現科を卒業後、2016年に同大学院を修了。主な展覧会に『Spectrum』(個展 iml labor、東京 2020)『カサブランカ』（個展 児玉画廊、東京、2015）『Planet』(個展 児玉画廊 東京、2017)、『思考のリアル』（児玉画廊、東京、2019)、『用途』（児玉画廊、東京、2018)、『Mud, Tokyo, Swimming』(新宿パークホール、2017)『CHAIN REACTION』（児玉画廊, 東京, 2015）、『モノの流用、イメージの引用、その次』（児玉画廊、東京、2014）他。</dd>
					<dd class="desc">ヤスミン・ロビンソン（b.1994, N.アイルランド）は、ロンドンを拠点に活動するアーティスト。アルスター大学でファインアートの学士号を取得し、2018年にチェルシー・カレッジ・オブ・アートのMAを取得。これまでに『Unsheltered as it is』、D Contemporary(ロンドン)2020、『Penumbra』F.E. McWilliam Gallery、バンブリッジ2020、『Absinthe』、Spit &amp; Sawdust(ロンドン)2019、『Young Gods』、Charlie Smith Gallery（ロンドン）2019、『34th Annual Open Exhibition』、CGP(ロンドン)2018など』のグループ展に参加。2018年にはティファニー・アンド・カンパニー賞を受賞。</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide01_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide02_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide03_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide04_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide05_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide06_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide07_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide08_sp.jpg"/></picture><span class="caption">India Nielsen, "Gabriel", 2017, Oil on canvas, 152cm × 122cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide09_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide10_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide11_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil and salt on wooden panel, 25cm × 23cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide12_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide13_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide14_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "BEBE", 2018, Oil, spray paint on streched tarpaulin, 50cm × 40cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide15_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide16_sp.jpg"/></picture><span class="caption">India Nielsen "The Law", 2018, Oil on canvas, 70cm × 55cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide17_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide18_sp.jpg"/></picture><span class="caption">India Nielsen, "IS MINE(Vengeance)", 2018, Wood, 9cm × 47cm × 4cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide19_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide20_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil, salt, and photograph on canvas, 34cm × 24.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide21_sp.jpg"/></picture><span class="caption">Renkuro Oka, "Untitled", 2020, Oil, salt, and photograph on canvas, 46cm × 36cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide22_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide23_sp.jpg"/></picture><span class="caption">Toru Otani, "Astral(orange)", 2020, Color pencil on abrasive paper, 22cm × 28cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide24_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide25_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "Stir-Fry", 2020, Oil, spray paint, rope, tarpaulin and felt nails on moquette, 36cm × 29cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide26_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide27_sp.jpg"/></picture><span class="caption">Toru Otani, "Astral(black, green)", 2020, Color pencil on abrasive paper, 45cm × 56cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide28_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide29_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide29_sp.jpg"/></picture><span class="caption">Toru Otani, "TS(orange)", 2018, Color pencil on abrasive paper, 22cm × 28cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide30_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide30_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide31_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide31_sp.jpg"/></picture><span class="caption">Yasmine Robinson, "Tyger Tyger", 2020, Oil, soft pastel, stitch and embroidery patch on canvas, 30cm × 23cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide32_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide32_sp.jpg"/></picture></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide33_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide33_sp.jpg"/></picture><span class="caption">India Nielsen, "I.N.D.I.", 2018, Copper leafing on  wood, 35cm × 35cm × 5cm</span></li>
				<li><picture><source srcset="{{ site.root }}twobytwobytwo/006/img/slide34_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}twobytwobytwo/006/img/slide34_sp.jpg"/></picture></li>
			</ul>
		</div>
	</div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

