{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "REVIEW__002: Donna Huanca: WET SLIT",
    description: "Walking into Donna Huanca’s exhibition, WET SLIT, in London’s Simon Lee Gallery in early March is a strange experience in light of the current COVID-19 pandemic that has spread across the globe.",
    ogimage: "https://imlabor.org/journal/review/002/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/review/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "002",
                "item": ""+ site.url +"/journal/review/002/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/review/002/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, <br class="_pc">Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "REVIEW" and item.number === "002"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<p>Walking into Donna Huanca’s exhibition, WET SLIT, in London’s Simon Lee Gallery in early March is a strange experience in light of the current COVID-19 pandemic that has spread across the globe. Huanca’s art is typically peopled with performers, adorned in various shades of body paint who move through installations that combine painting, sculpture, sound and stagecraft. In this solo show of the Bolivian-American artist, however,  the performer is conspicuously absent; here the body is instead abstracted throughout the space, traces left of interactions that occurred in previous works, in moments of intimacy and collective proximity, during a time when being with kin had different stakes. </p>
				<p>The white-walled space of the ground-floor gallery is lit so brightly it is clinical. Inside, the space has been covered from wall to ceiling in transparent plastic sheeting, the light catching the creases of the stiff plastic in pockets of light. Behind the plastic, on a long stretch of empty wall, faint paint marks move across, as if a painted body has smashed and scraped itself against the surface. In this over-exposure of extreme white, in a space absent of human movement, there is an over-riding sense of menace. It is unclear if this was the intention of the artist or an outcome of present difficulties, but that powerfully distorts everything I see. In a world being swept by a virus, where surface contact is felt as a potential threat, the hanging plastic acts as a menacing backdrop to a series of paintings and sculptures that, along with the viewer, are trapped inside the shiny white space.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide03_sp.jpg" /></picture><span class="caption">Donna Huanca, 'EGERIA', 2019-2020, Oil, sand on digital print on canvas 220 x 180 cm (86 5/8 x 70 7/8 in.) All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin,</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide05_sp.jpg" /></picture><span class="caption">Donna Huanca, 'EUNOMIA', 2019-2020, Oil, sand on digital print on canvas 275 x 180 cm (108 1/4 x 70 7/8 in. All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin,</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p>The paintings in WET SLIT are a continuation of Huanca’s work with the body and its epidermis. Her process for creating the paintings usually begins with images of her painted performers, which are then blown up and printed onto canvas. Layers of time accumulate as over the This frozen snapshot of the performer is then covered over with layers of paint and rough textural sand, allowing sediments of time to accumulate. In some of the paintings the body is almost entirely effaced in strokes of green and blue, while in others the body emerges coyly, a foot that hides behind a thick layer of impasto blue and white. While often her work is spoken of as dealing with the process of cosmetic adornment – the many fixtures we attach to ourselves – Huanca’s work reinforces the notion of the skin as the body’s barrier. We do not only armour our bodies with clothing, but the skin itself is a fortification, albeit a porous one. It is our protection from the world and it is the at which the physical world interacts with us. In Huanca’s painting, this receptive sensitivity of the skin’s barrier is felt on the surface of the canvas, the paint clustering in places like pressure points on the skin.</p>
				<p>Going downstairs into the basement gallery, the transition is as abrupt as travelling into another realm. Moving from the white cube space upstairs into a darkened underground room with dramatic spotlights pointed towards a wall of paintings and a singular screen, I am reminded of the mythological story of Psyche who was impelled to go into the underworld to collect a piece of Persephone’s beauty, to bring up into the world of mortals. The basement – traditionally seen as the nether region of architecture – is carpeted and conveys intimacy in its darkness. Unlike the low-level toxic smell of plastic, the fumes of palo santo (holy wood that is used for purification and ritual, native to the Yucatán Peninsula) spill into the space alongside a loop of nature sounds, filling the basement with an elegant counterpoint to upstairs.</p>
				<p>Huanca has called this part of the exhibition, the “death cocoon space”, a zone which, like a womb, holds a darkness from which new life emerges. I think about this as I face the wall upon which three large-scale abstract paintings shown on top of digital prints lightly touch along each other’s sides. Their edges are so proximate that my body almost aches in jealousy at the ease of these objects and their casual proximity. I wonder how Huanca’s performers presently exist in a world of social distancing, where the openness of skin is equivalent to a threat to life. And, quietly, in amongst the visceral installation of the “death cocoon space”, I try to imagine what life will emerge from this current death that the world is suffering… What forms of proximity might be born from this space of distance?</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide07_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/002/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/002/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, Donna Huanca: ‘WET SLIT’, 2020, All images courtesy the artist, Simon Lee Gallery and Peres Projects, Berlin, Photo: Ben Westoby</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Donna Huanca was born in Chicago, IL in 1980 and lives and works in Berlin, Germany. She studied at the Städelschule, Frankfurt, Germany as well as the Skowhegan School of Painting and Sculpture, Skowhegan, ME and the University of Houston, Houston, TX. She has been the recipient of the DAAD Artist Frankfurt and a Fulbright research grant. In 2019 Huanca was the subject of two major large-scale exhibitions, OBSIDIAN LADDER at the Marciano Art Foundation, Los Angeles, CA and LENGUA LLORONA at Copenhagen Contemporary, Copenhagen, Denmark. She has previously had solo exhibitions at the Belvedere Museum, Vienna, Austria (2018); Yuz Museum, Shanghai, China, (2018) and at the Zabludowicz Collection, London, UK (2016).</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.simonleegallery.com/exhibitions/180/" target="_blank" rel="noopener">Donna Huanca: WET SLIT</a> runs at Simon Lee, London, 28 Feb – 18 Apr 2020.</p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">Cassandre Greenberg</dt>
					<dd class="desc">Cassandre Greenberg is an artist and writer, living in London. Her work has been shown at ICA, IMT Gallery, SPACE Studios, Auto Italia and others. Recently, she was a recipient of FVU and Art Monthly’s 2020 Michael O’Pray writing prize. Upcoming is an audio documentary she produced for BBC Sounds, telling the story of an LGBT+ British flight attendant working during the AIDS Epidemic.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

