{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__001: フェリックス・トレッドウェル",
    description: "1992年生まれのイギリス人アーテイスト、フェリックス・トレッドウェルは新世代のブリティッシュアートを牽引する若手作家の一人である。本インタビューでは私たちのプロジェクトスペース2×2×2で発表する新作についてとトレッドウェルの作家としての今後の展望について聞いてみた。",
		ogimage: "https://imlabor.org/journal/interview/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "001",
                "item": ""+ site.url +"/jp/journal/interview/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="interview"></div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "001"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -chat">
				<p class="lead">1992年生まれのイギリス人アーティスト、フェリックス・トレッドウェルは新世代のブリティッシュアートを牽引する若手作家の一人である。英国キャンバーウェル・カレッジ・オブ・アーツで学位を取得後、同国ロイヤル・カレッジ・オブ・アートにて絵画科を修了した。<br>本インタビューでは私たちのプロジェクトスペース2×2×2で発表する新作についてと、トレッドウェルの作家としての今後の展望について聞いてみた。</p>
				<p class="left"><span class="talker">IM LABOR__</span>まず始めに、今回は私たちのスペースで展示をしてくれてありがとう。</p>
				<p class="right"><span class="talker">フェリックス・トレッドウェル__</span>こちらこそ。日本で作品を展示することができてとても嬉しいよ。</p>
				<p class="left"><span class="talker">IL__</span>今回2×2×2で展示する新作について質問しても大丈夫？</p>
				<p class="right -single"><span class="talker">FT__</span>もちろん。</p>
				<p class="left"><span class="talker">IL__</span>今回展示してくれる少年が走っている青い絵を初めて見た時、一番印象に残ったのが、少年が外の世界に興味を持ち始めているように見えたことなんだけど。</p>
				<p class="right -single"><span class="talker">FT__</span>確かに。</p>
				<p class="left"><span class="talker">IL__</span>例えば ‘Blue Puff’(1)、’Dark Age’(2)等、これまでの作品を見てみると、描かれているキャラクターは物事に興味が無いような印象があったし、視線もこちらを向いていなかったよね。</p>
				<p class="right"><span class="talker">FT__</span>そうなんだよね。これまでの作品で描いてきたキャラクター達は臆病だったし、不安そうに見える。でも今は楽観的で前向きな感情を僕の絵を通してこのどうしようもなく悲しい世界に伝えたいと思っているんだ。</p>
				<p class="left"><span class="talker">IL__</span>確かに、‘Attack on titan’(3)や女の子が犬を抱えているドローイングとか、最近の作品のキャラクターはこちらを横目で伺っているような表情をしているけど、それは意図的なものなの？</p>
				<p class="right"><span class="talker">FT__</span>自分が描くキャラクターが鑑賞者により多く関与する必要があるのではないかと感じるようになったんだと思う。キャラクターの視線をこちらに向けることによって、鑑賞者との関係性に大きな変化を生むことが出来る。盗撮みたいに一方的じゃなくなるんだ。</p>
				<p class="left"><span class="talker">IL__</span>なるほど。何を描くかあらかじめ決めてからペインティングを描き始める？</p>
				<p class="right"><span class="talker">FT__</span>スケッチを描くよ。それから面白い構図を探す。漫画とかで使われてるコマ割りを使ってドローイングを配置したりするよ。</p>
				<p class="left"><span class="talker">IL__</span>メディウムはどう？油絵からエアブラシまで色々な種類の画材を使っているよね。</p>
				<p class="right"><span class="talker">FT__</span>普通の筆とエアブラシを組み合わせるのがとても楽しくて、最近はそのテクニックを使って絵を描いているよ。エアブラシはキャラクターを柔らかくしてくれるし、繊細な質感（表情）を表情に出すことが出来るんだ。色々なメディウムを使うけど、特にクレヨンでスケッチするのが好きだね。小さい時から絵を描くことは自分の考えていることを表現するのに一番直接的で楽しい方法なんだ。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide01_sp.jpg" /></picture><span class="caption">(1) Blue Puffa, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide02_sp.jpg" /></picture><span class="caption">(1) Blue Puffa, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide03_sp.jpg" /></picture><span class="caption">(2) Dark Age, 2018, acrilyc on canvas, 162 x 130 cm<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide04_sp.jpg" /></picture><span class="caption">(3) Attack on Titan<br>All images courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text -chat">
				<p class="left"><span class="talker">IL__</span>小さい頃から絵を描くのが好きだったの？</p>
				<p class="right"><span class="talker">FT__</span>うん。いつもフィギュラティブなドローイングを描いてた。ラグラッツ*とゴジラの絵を描いたりしてたよ。</p>
				<p class="left"><span class="talker">IL__</span>自分でオリジナルのモンスターを作ったりもしてた？</p>
				<p class="right"><span class="talker">FT__</span>してた。でも今はモンスターよりも人間とか動物だね。もっと自分たちが存在する世界と近いものを造ろうとしてるんだ。</p>
				<p class="left"><span class="talker">IL__</span>それは日常生活から影響を受けてたりもするの？</p>
				<p class="right"><span class="talker">FT__</span>そうだと思う。僕は自分の幼少期の思い出に固執していて、それを取り戻そうとしているんだ。</p>
				<p class="left"><span class="talker">IL__</span>興味深いね。具体的な思い出とかがあったら聞いてもいいかな？</p>
				<p class="right"><span class="talker">FT__</span>特に具体的なものはないんだけど、10代の時の考え方とか冒険心とかかな。全ての事に対してオープンでどんなことでも挑戦したい子だったんだ。</p>
				<p class="left"><span class="talker">IL__</span>恐れを知らずだったんだね。</p>
				<p class="right"><span class="talker">FT__</span>そう。でも今は10年前に比べると色々な事に恐怖を感じるようになってしまったね。</p>
				<p class="left"><span class="talker">IL__</span>絵を自分の仕事にしたいって最初に気づいたのはいつ？</p>
				<p class="right"><span class="talker">FT__</span>学部にいた頃だったから、多分5年くらい前。絵を描くことが唯一楽しいと思えることだったんだ。心の問題を治療するような感じ。</p>
				<p class="left"><span class="talker">IL__</span>描いてる時だけ心が休まるような感覚？</p>
				<p class="right"><span class="talker">FT__</span>そう。ストレスを感じることもあるけど、気持ちを落ち着かせてくれる時の方が多いかな。他のペインター同様、何とか頑張っているよ。</p>
				<p class="left"><span class="talker">IL__</span>アトリエには毎日決まった時間に行くの？</p>
				<p class="right"><span class="talker">FT__</span>だいたい朝10時半くらい。夜制作するのが好きじゃないんだ。</p>
				<p class="left"><span class="talker">IL__</span>じゃあ、暗くなる前にアトリエを出るんだ。</p>
				<p class="right"><span class="talker">FT__</span>うん。外が暗くなってくるのと比例して描いている絵がどんどん悪くなってくるんだ。そうすると、疲れてきて耐えられなくなるんだよね。僕は自分のことを世界一せっかちな人だと思うよ。</p>
				<p class="left"><span class="talker">IL__</span>アトリエで制作する以外は何をして過ごしてるの？</p>
				<p class="right"><span class="talker">FT__</span>ゲームかな、主にPCとカードゲーム。現実世界から逃避出来るもの。MMOG（大規模マルチプレイヤーオンラインゲーム）が好きなんだ。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide05_sp.jpg" /></picture><span class="caption">(4) A drawing of a girl holding a dog<br>All images courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide06_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide07_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide08_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text -chat">
				<p class="left"><span class="talker">IL__</span>最近プレイしてるのは？</p>
				<p class="right"><span class="talker">FT__</span>ワールド・オブ・ウォークラフト、マジック：ザ・ギャザリング、あとはDOOMかな。日本でも人気があるのかわからないけど。</p>
				<p class="left"><span class="talker">IL__</span>日本でも人気だよ。</p>
				<p class="right"><span class="talker">FT__</span>興味深いね。日本ではモンスター・ハンターが有名だよね。</p>
				<p class="left"><span class="talker">IL__</span>うん、面白いよ。プレイしてる？</p>
				<p class="right -single"><span class="talker">FT__</span>したことないんだ。一緒にやる？</p>
				<p class="left"><span class="talker">IL__</span>次回日本に遊びにきた時にでも是非。そういえば、京都精華大学に一年間交換留学生として日本に住んでいたんだよね。</p>
				<p class="right -single"><span class="talker">FT__</span>うん。</p>
				<p class="left"><span class="talker">IL__</span>その経験が自分の作品に影響したりしている？</p>
				<p class="right"><span class="talker">FT__</span>していると思う。どうやって説明したらいいかわからないけど、文化的側面で人としてたくさんのことを学んだ気がする。日本人とイギリス人は似ているところがあるよね。</p>
				<p class="left"><span class="talker">IL__</span>例えば？</p>
				<p class="right"><span class="talker">FT__</span>主にユーモアのセンスかな。どっちも独特だよね。あとは、イギリスも日本も社会的階級にすごく固執している印象がある。それと、車道が左側なとことか。</p>
				<p class="left"><span class="talker">IL__</span>そうだね。あとは断り方とかね。</p>
				<p class="right -single"><span class="talker">FT__</span>確かに。</p>
				<p class="left"><span class="talker">IL__</span>美術に関してはどう？今の日本の美術はロンドンで活動するイギリス人のアーティストの目にはどう映ってる？</p>
				<p class="right"><span class="talker">FT__</span>日本だけに限った話ではないけど僕たちは今アイデンティティーの危機に直面していると思う。自分が誰であるかを定義することが難しくなっている。イギリスも日本も政治的側面で急速に変化してきているし、今僕たちの世代は混沌の時代を生きてる。若い世代として昔の人たちが始めたことを引き継がなければならないし。<br>日本のアートシーンは新たな日本人アーティスト達によるニューウェーブの出現を待っているんだと思う。多分、若い世代のアーティストからフレッシュなビジョンを得ることが必要なんじゃないかな。</p>
				<p class="left"><span class="talker">IL__</span>そう思う。最後にもう1つ質問してもいいかな？</p>
				<p class="right -single"><span class="talker">FT__</span>もちろん。</p>
				<p class="left"><span class="talker">IL__</span>ありがとう。アーティストとしての今後の計画について教えてくれる？</p>
				<p class="right"><span class="talker">FT__</span>今後は自分のペインティングの世界の深度をもっと広げていきたいなと考えている。僕は今、自分が描いたキャラクターを基にしたおもちゃを作っていて、小さい頃からの夢がついに叶ったんだ。自分の作品をより身近なものにしたいと思っている。これから僕の制作がどのように変わっていくのかはわからないけれど、もっと規模が大きくなっていってほしい。前向きに、目的を達成できることを信じているよ。</p>
				<p class="left"><span class="talker">IL__</span>おもちゃが完成したら是非見せてね。今日はわざわざインタビューの時間を作ってくれてありがとう。</p>
				<p class="right -single"><span class="talker">FT__</span>こちらこそありがとう。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/001/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/001/img/slide09_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">ロンドンを拠点に活動しているフェリックス・トレッドウェル（B.1993）は英国キャンバーウェル・カレッジ・オブ・アート卒業後、同国ロイヤル・カレッジ・オブ・アートにて絵画科を修了した。主な個展に「Little Dark Fantasy」(Union Gallery、ロンドン、イギリス、2019)、「Community」(LTD Los Angeles、LA、アメリカ、2019)、「Dark Age」(L21 Gallery、パルマ、スペイン、2018)等がある。2014年にHix Award受賞。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.felixtreadwell.net" target="_blank" rel="noopener">https://www.felixtreadwell.net</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

