{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'en',
    title: "INTERVIEW__011: Interview with: India Nielsen",
	description: "India Nielsen is a British artist who lives and works in London. On the occasion of Nielsen's solo exhibition 'Crybaby' at im labor, we had the opportunity to talk to her about her practice, how she came up with the exhibition's title, and her plans for the future.",
		ogimage: "https://imlabor.org/journal/interview/011/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "011",
                "item": ""+ site.url +"/journal/interview/011/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/011/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "011"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“When you paint you have to trust your instincts. That means getting to know yourself. It’s very affirmative and I think you have to be very self-compassionate to be a painter.”</h3>
				<p class="lead">India Nielsen is a British artist who lives and works in London. On the occasion of Nielsen's solo exhibition "Crybaby" at im labor, we had the opportunity to talk to her about her practice, how she came up with the exhibition's title, and her plans for the future.</p>
				<p class="lead">I first saw India Nielsen’s work in 2016 when she had just started her first year on the painting programme at the Royal College of Art in London. She was working on a large painting, around 2 metres long, that easily covered her body as she moved around the canvas. In the painting a deformed human body with a cartoonish face and ribs were suspended above what looked like a burning ocean. The whole image seemed to hold an intense energy that felt almost religious as I watched all of these disparate elements being painted in delicate balance in the studio.</p>
				<p class="lead">Her selection of motifs is striking, unique and vivid. These images are collected daily and Nielsen places them on the canvas as if she is remixing music. She describes these motifs as vessels she pours her emotion into. This made sense to me after hearing her story of seeing her favourite artists and cartoon characters she grew up with as avatars she could inhabit and, now she is an adult, approaching her paintings in the same way.</p>
				<p class="lead">All the images painted in her paintings function as Nielsen's alter egos she feeds with energy so they can continue to live independently from her once they leave the studio. No matter where they go they remain connected and, perhaps at this very moment, her emotions continue to flow through them.</p>
				<p><span class="talker">IM LABOR__</span>You like to work across various media, although painting is your primary medium; How and when did you discover that painting is your thing and why does it need to be painting?</p>
				<p><span class="talker">INDIA NIELSEN__</span>I think usually when you first get to art school you start making things that look like art. Art schools in the U.K. are very conversation-heavy so the early works I made were more conceptual and performance-driven - intended to elicit some kind of response.</p>
				<p>I remember we had a “big painting week” in my first month at Slade where a group of us were literally meant to use the time and space we were given to make a massive painting and then critique it. I spent most of the week kind of chatting to (secretly interviewing) this guy next to me about this giant post-internet type painting he was making about Rebecca Black. My crit was before his so I made this tiny postcard version of his painting in the hour before with coloured pencils and presented it, using information I’d taken a mental note of during our chats. Everyone was so confused and it looked so weird having my janky, postcard version right next to his massive, serious, reference-heavy painting.</p>
				<p>Another time, during this same period, we had a sculpture crit and a friend and I drilled wooden boards over all the entrances to the room, locking in all the other students and tutors. We hid drills around the room so they could let themselves out. Then we just left the building through the fire escape and hid outside for the rest of the afternoon. I think I was looking for some kind of energy or active response from people. I don’t regret those early experiments at all because they were necessary, but I realised even then that it wasn’t the work I really wanted to be making.</p>
				<p>In a way I was kind of making fun of how serious everyone was taking themselves, and how much in a bubble I felt we were at art school; full of theory and criticism and trying to show how smart we all were (myself included), but in taking that opposing stance I was really just feeding back in to exactly the thing I was trying to resist.</p>
				<p>I realised that if I really wanted to be free of that I had to go “fuck irony” and really be genuine and to earnestly explore myself through my work; my likes, thoughts, feelings and interests, without any embarrassment. Painting felt like the perfect medium for this because it’s so simple; just line or colour on a surface. There’s less to hide behind. It’s also a great exercise in trusting your intuition because you can’t ultimately think your way through a painting - you have to surrender to, and learn to follow, your instincts.</p>
				<p><span class="talker">IL__</span>That’s a really interesting story, it makes sense that you went through a process of ‘stripping back’ your work after exploring lots of different media because you wanted to be more direct. I also think, as emotionally direct as your paintings are, categorising them as, say, “figurative, cubist, abstract etc.” is really difficult because your paintings incorporate a lot of different techniques, references and art-historical contexts; is that your intention?</p>
				<p><span class="talker">IN__</span>The analogy I usually use is the feeling I had when I played video and computer games as a kid: you could zoom right in and play as one character for hours-long stretches and, until that character dies you“became” that character; you’re really invested in their fate and in the outcome of the game. On the other hand, you can zoom out and see everything coolly laid out as a pattern on a map. Toggling between the two felt very disorientating to me.</p>
				<p>Similarly, the music and artwork that really appealed to me when I was younger (and still today) did so because they held you in a space that felt both familiar and intimate, but also strange and distant; that its meaning couldn’t fully be unpicked. This is the kind of feeling I want my works to have. So, when I’m painting I am usually instinctively feeling out pathways that are created by the references I use, both from my own personal history and also the more universal things I look at and absorb (music I listen to, movies etc); if I feel that the painting is moving too far in one direction I balance it out with something else as a way of opening up other meanings and to keep myself in that middle space where everything can still feel very ‘present’ and urgent. It’s very energy driven.</p>
				<p>I also play with this sense of “zooming in" and “out”, the micro and the macroscopic, a lot in my work in terms of scale; at the moment I’m making paintings that are about the size of me, that I could step into, and also very small rectangular or scroll-shaped canvases about the size of a small portable “window”, like a screen or tablet you can hold in both hands. You can see this in works like ‘Soft Little Soldier’, or ‘Vengeance is’ for example.</p>
        	</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide01_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide02_sp.jpg" /></picture></span><span class="caption">'I.N.D.I.', 2018, Copper Leafing on woord, 35 × 35 × 5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide03_sp.jpg" /></picture><span class="caption">''M' is for Madonna, 'M' is fo Mariah, 'M' is for Mother (IATG)', 2021, Oil on linen, 117 x 137cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide04_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide05_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide06_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide07_sp.jpg" /></picture></span><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide08_sp.jpg" /></picture><span class="caption">'Soft little soldier (burning ants)', 2021, Oil on linen, 56 x 20.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide09_sp.jpg" /></picture></span><span class="caption">'CRY____BABY', 2021, Cherry wood, 79 x 12cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide10_sp.jpg" /></picture><span class="caption">'H.I.M.mmm (my baby’s got a secret)', 2021, Oil on linen, 150 x 120cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide11_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide12_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>Can you talk about how you came up with the exhibition title?</p>
        		<p><span class="talker">IN__</span>The title of the exhibition, ‘Crybaby’ grew out of a lot of the things I touched on above. When making these works I was thinking a lot about my own personal history; the things I grew up listening to, watching and that, in many ways, shaped my identity. For example, the title of the work ’H.I.M.mmm (my baby’s got a secret)’ is the name of the main antagonist from the Powerpuff Girls, ‘HIM’, a devil in sharp, thigh-high boots, a pink ruff and puffy skirt with a high pitched voice, remixed and fading into the chorus of Madonna’s song ‘Secret.’ I grew up alongside the internet, so, whereas before the kind of music you listened to, for example, might have given an indication of the specific, local community you came from, a lot of the cultural material I absorbed was global.</p>
        		<p>It was odd because I felt this psychological dissonance between the micro and the macroscopic; I felt a great intimacy with a lot of these characters or things that I loved, and yet I was also aware of a coldness and sense of distance between us - what did I, a white 10-year old girl at a Roman- Catholic convent school in London really have in common with the members of the Wu-Tang Clan, for example? The internet engenders this kind of dissonance. I saw a lot of these artists, musicians, cartoon and comic book characters I grew up with as avatars I could inhabit, like psychological roleplay, allowing me to unlock certain parts of my psyche that might otherwise be out of reach to me. Now I am an adult I see my paintings in the same way; as vessels I can pour my emotions into, and in doing so they give me something back emotionally; it’s an active, transactional process that feels very grounded in the present.</p>
        		<p>I have also been thinking a lot about self care in the past couple of years and of the importance of affirming all of my emotions, not just the productive or socially acceptable ones. I think that’s important for women in particular because we’re taught that our feelings are a weakness that holds us back; our physical and emotional instincts are “base” or “hysterical” because they’re associated with femininity. It’s misogynistic, but it also stems from this ableist, capitalist drive for humans to be productive cogs in a machine; emotions are classed as “positive” or “negative” based on how productive, useful or socially acceptable they make us. I’ve been consciously unlearning all of this because, in reality, emotions are really valuable guides; it’s our mind and body telling us what we need. ‘Crybaby’ grew out of all of these strands of thoughts and feelings. When you paint you have to trust your instincts. That means getting to know yourself. It’s very affirmative and I think you have to be very self-compassionate to be a painter.</p>
				<p><span class="talker">IL__</span>You have used iconic imagery, like the Catholic Sacred Heart, deformed limbs, cartoonish demons and incubating fetuses since your early paintings. Where did those images come from?</p>
				<p><span class="talker">IN__</span>I’ve been collecting images on a day-to-day basis for years, keeping them in folders on my laptop in different categories. When it comes to making a new batch of paintings I usually spend some time writing about the direction I want the paintings to go in and the effects / feelings I want them to have. Then I start pulling images and loosely grouping them for each painting. I do keep the images and notes around me as guides but, ultimately, I keep things free and let the images emerge on their own.</p>
				<p>I have very vivid dreams and I’ve found that certain motifs appear in my dreams that have gained significance over time. I used to have a recurring character who would shape-shift, but he would always have certain characteristics that would let me know that it was the same person, particularly that he was always desperately trying to communicate something to me, but in each dream his ability to do so would be restricted in different ways. In one dream he was a round, red- faced British caricature-type man sitting in a rowing boat on a lake that I was swimming around in circles. In this dream he could only stare straight ahead, laugh hysterically and move his oars frantically like a cartoon character.</p>
				<p>In another, he was washing the pink afterbirth off of an elf-like fetus in a sink and could speak to me directly, but only in cantonese. In another, he could look directly at me and move around, but he couldn’t speak at all, he could only point to what he was working on at a metal table in an underground laboratory - which happened to be severing the heads of a gorilla and of the British explorer Robert Falcon Scott and swapping their brains over. I sometimes think that this shape-shifting character is my subconscious mind’s projection of myself, as I try and use the images, painting styles and characters I use in my paintings as avatars I can inhabit.</p>
				<p>Catholic imagery often pops up a lot too as, being from a Roman-Catholic family, that was my first introduction to art and the idea that it could be used as a portal - an object that transports you to another emotional zone. The images of female saints weeping and the fetishisation of their grief - the idea that their tears carried a healing and holy power also always really stuck with me.</p>
      		</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide13_sp.jpg" /></picture><span class="caption">'After Cease To Exist (IAE4.E)', 2021, Oil on linen, 117 x 137cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide14_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide15_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide16_sp.jpg" /></picture></span><span class="caption">'_SO SOFT_', 2021, Oak wood, 48×16cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide17_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide17_sp.jpg" /></picture><span class="caption">'_SO_STRONG_', 2021, Oak wood, 59 x 15.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide18_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide18_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide19_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide19_sp.jpg" /></picture><span class="caption">'Vengeance Is', 2021, Oil on linen, 56 x 20.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide20_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide20_sp.jpg" /></picture><span class="caption">Bottom: 'BURN IT DOWN', 2021, Cherry wood, 78 x 20cm / Top: 'BUILD IT UP', 2021, Cherry wood, 64 x 19.5cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide21_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide21_sp.jpg" /></picture></span><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide22_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide22_sp.jpg" /></picture><span class="caption">'P.T.S.D.(Prayer To St. Dymphna)', 2021, Oil on linen, 150 x 120cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide23_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide23_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide24_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide24_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide25_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide25_sp.jpg" /></picture><span class="caption">Install shot 'Crybaby'</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide26_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide26_sp.jpg" /></picture><span class="caption">'SIGIL_JAN_2021', 2021, Oak wood, 25 x 34.5 cm</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide27_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide27_sp.jpg" /></picture><span class="caption">'CRY BABY', 2021, Oil and acrylic on wood, 45 x 40cm</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>Regarding the modular pieces; are they linked to the paintings? How do the modules function in your practice?</p>
				<p><span class="talker">IN__</span>The modular works began at the RCA (Royal College of Art) when I was thinking of ways of installing my paintings in a way that felt fluid, like they were interacting with each other. I started thinking of the frame as a way of stretching the paintings out into the surrounding space. The traditional frame, however, feels quite constrictive, often added on at the end as a “finisher,” to make the painting more presentable. So I decided to make it modular. I made templated for the edges and corners of the paintings, drew around them and cut them out of wood. This led to something that felt much more organic and in line with the language of the paintings. The modules and the paintings were made alongside each other, so the drawings I make for the modules often sparked ideas for paintings and vice versa. The way they are installed also changes each time; the modules can be swapped in and out with the paintings depending on the vibe of the space.</p>
				<p><span class="talker">IL__</span>I can see that your modular pieces being presented in your solo presentation ‘Crybaby’ at imlabor have shifted to being more site-specific. How do you see the modules functioning in the space compared to how you originally conceived them; as modular framing devices?</p>
				<p><span class="talker">IN__</span>This exhibition at imlabor is the first time I have made the modules specifically for a space. I wanted to create more space between the works: slot into various gaps around the gallery. Even though these modules could be called sculptural, they’re very two-dimensional in the way I think about them. I imagine them moving in straight lines, from side to side and making awkward configurations on their way to their destination, like textual Tetris pieces that have broken free from the composition of the paintings.</p>
				<p><span class="talker">IL__</span>I like your description of the modules as “textual Tetris pieces.” Another thing I love about them is that the texts you use are unique and impressive; how do you come up with them? Since you mentioned that you imagine the modules as being like fragments that have broken free from the composition of the paintings, are they made with specific paintings in mind?</p>
				<p><span class="talker">IN__</span>I usually use blackletter, which is the kind of typeface used in a lot of the music videos / albums from when I was younger. I tend to alter it a bit, but it always ended up being very sharp and spikey. I wanted this show feel a lot softer so I switched to a slanted, calligraphic-style typeface, with rounded edges. They flow together more easily as you move through the space, like words in a sentence.</p>
				<p>I mentioned before that the paintings usually begin with writing, rather than drawing, so it makes sense that I usually have certain words or phrases that come to mind when I’m making certain paintings. I make a playlist every time I start a new batch of paintings too which often influences the words I use.</p>
				<p>This one was called “209121IMD0WVGU831” and featured a lot of Madonna, Mariah Carey, Ariana Grande, bbymutha, Arca, Lana del Rey, OSHUN, Megan thee Stallion, Azealia Banks, Doja Cat, Britney Spears, Kelela etc... a lot of female artists. I approach the words the way I do the images - sometimes they’re very blunt and direct and other times they’re more coded, which I think is quite reflective of the way I communicate. </p>
				<p><span class="talker">IL__</span>Are there any images or pieces of information that have recently come to your attention that you would like to incorporate into your work?</p>
				<p><span class="talker">IN__</span>I’d like to try using images or words that are really, really heavily loaded with a specific meaning, or more explicitly reference certain events in the outside world and try incorporating that into the very personal language I’ve been building up through my paintings. It’s really hard to make a painting referencing Trump, for example, or the pandemic or anything political without it having quite a cheesy political feeling or aesthetic. I find that sort of challenge pretty interesting.</p>
				<p>I’d also like to expand the space in my paintings. I think the way space functions in my paintings is a bit like multiple screens laid on top of each other; it’s hard to tell if they’re wafer thin or separated by a great distance. I’d like to try exaggerating this.</p>
				<p><span class="talker">IL__</span>What are your plans for 2021? Is there anything you haven’t done yet that you would love to do, or that you’re working on at the moment?</p>
				<p><span class="talker">IN__</span>Oh yeah, so much. Other than the things I’ve already mentioned, I’d love to have my first proper solo show in London. I’m doing a podcast this weekend that will be coming out on 1st April too (with The Artist’s Contemporary) which I’ve never done before. I also loved starting the interview series with imlabor during the first lockdown last year - spending a couple of hours chatting with more established artists I respect while in lockdown taught me so much and I don’t think I would have approached them otherwise so I’ll definitely be continuing that.</p>
				<p>I’d love to do a publication of my own work, but I don’t have specific timeline for this. 2020 changed my relationship with uncertainty and time and I’ve felt more freedom to focus on the things I really care about, so it’s been a really important year for me. I’m hoping 2021 will be a continuation of this mindset. I’ve learned not to have specific expectations but I’m really enjoying showing and making work right now.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        		<li><picture><source srcset="{{ site.root }}journal/interview/011/img/slide28_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/011/img/slide28_sp.jpg" /></picture><span class="caption">India Nielsen, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in Painting from the Royal College of Art, having completed a BA in Fine Art at The Slade School of Fine Art. In 2021 she will have a solo exhibition at FREEHOUSE in London, as well as a two-person exhibition at Well Projects, Margate and a three-person exhibition at Annarumma gallery in Naples, IT. Her first solo exhibition, ‘Seer Kin Lives’, took place at Jack Bell Gallery in London in 2016. She was in a two-person exhibition at Platform Southwark (London) in 2020. She has been involved in group exhibitions at Eastside Projects (Birmingham), Roman Road, Southwark Park Galleries, Collective Ending, The Residence Gallery, ASC Gallery, The Hockney Gallery, Gallery 46, The Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, The Peckham Experiment Building (London), Assembly House (Leeds), White Columns (New York), Spazio Amanita (Florence) and Im Labor Gallery (Tokyo). India was awarded The Villiers-David Bursary, Royal College of Art (2017) and The Steer/Orpen/Charles Heath Clarke Bursary, The Slade School of Fine Art (2016). India recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was chosen as a recipient of the a-n arts Writing Prize 2019. In 2020 she received Arts Council funding to support work being produced in quarantine for upcoming shows in late 2020/21. She was recently shortlisted for the Ashurst Emerging Artist Prize (2020), with an exhibition taking place until the end of October 2020. Her works are included in a number of international private collections.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.indianielsen.com/" target="_blank" rel="noopener">https://www.indianielsen.com/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

