{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__002: マシュー・バローズ",
    description: "2020年3月16日、英国全土でのCOVID-19パンデミックの急速な拡大に対応して、英国政府は不要不急の外出を避け、自宅で仕事をするようにと国民に要請した。予定していた展覧会が急遽中止となり頼みの綱であるフリーランスやアルバイトの仕事さえも無くなってしまったアーティストたちのストレスを少しでも軽減しようと、英国サセックスを拠点にアーティスト、教育者として活動するマシュー・バローズ氏は、インスタグラムを通じて、シンプルなアピールを開始した。",
		ogimage: "https://imlabor.org/journal/interview/002/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "002",
                "item": ""+ site.url +"/jp/journal/interview/002/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/002/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "002"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「真の価値は利益ではない、真の価値とは恩恵である」</h3>
				<p class="lead">2020年3月16日、英国全土でのCOVID-19パンデミックの急速な拡大に対応して、英国政府は不要不急の外出を避け、自宅で仕事をするようにと国民に要請した。予定していた展覧会が急遽中止となり頼みの綱であるフリーランスやアルバイトの仕事さえも無くなってしまったアーティストたちのストレスを少しでも軽減しようと、英国サセックスを拠点にアーティスト、教育者として活動するマシュー・バローズ氏は、インスタグラムを通じて、シンプルなアピールを開始した。</p>
				<p class="lead">アーティスト・サポート・プレッジ（アーティスト支援誓約）と題された赤いアイコンを彼のインスタグラムに投稿したのである。その投稿のタグラインには、「コンセプトはシンプルです。販売したい作品を自分のインスタグラムに投稿してください、ただし作品は全て£200以下に限ります（送料別途）。売上が£1000に達するごとに、他のアーティストの作品を£200で購入することを誓ってください。」と書かれていた。私がバローズ氏と話したのは、この最初の投稿からわずか10日後のことである。その間に世界中からすでに16,000人以上のアーティストがアーティスト・サポート・プレッジに参加しており、参加人数は時を追うごとに増えていた。</p>
				<p class="lead">本インタビューを通して、ソーシャルメディアの力、贈与経済、自分の価値観に忠実でいることの重要性、そして制作活動の根底にある寛容さについてバローズ氏から話を伺うことができた。また、アーティストの小さなコミュニティの中で芸術性と批評性を育むことを目的として2008年にバローズ氏が設立した、ピアメンタリング・グループ『ABCプロジェクト・アトリエ』、オンライン・アートスクール『アイソレーション・アート・スクール』などの長期プロジェクトについても伺うことができた。</p>
				<p class="lead -note"><sup>*</sup>このインタビューはスカイプで行われました。</p>
				<p><span class="talker">INDIA NIELSEN__</span>アーティスト・サポート・プレッジのアイデアはどこから来たのですか？</p>
				<p><span class="talker">MATTHEW BURROWS__</span>ダイニングルームのテーブルに座っていた時です。私自身、これまで25年間フルタイムのペインターとして働いてきましたが、COVID-19の影響でたくさんの展覧会が急遽中止になることに気づきました。それと同時に、同じような悩みを抱えた友人や、同僚からたくさんのメッセージが届いていました。我々は困難な状況に直面していると理解したんです。すぐにでもお金が必要なアーティストのためにも、早急に機能する経済モデルが必要だと感じたので、私はまずアーティストの利点について考えてみることにしました。私たちの価値は、知識、作品、そしてアーティストとしての生き方にあると思います。私は信頼と寛容の原則に基づいて生きてきました。そして、幸いにもその時私のスタジオには販売することのできる作品がありました。どうにかして、これらを使って、イニシアチブを始められないかと考えたとき、まずは物流方法を何とかする必要がありました。<br>£200という値段は 「利益を見込めて、なおかつ寛容な価格はいくらだろうか。」という疑問の基、設定しました。アーティスト・サポート・プレッジに私の作品を出品するのであれば、その価格は通常の自分の作品の市場価格よりもはるかに低く設定する必要がありました。£200は寛容さを示す為にはちょうどよかったのです。</p>
				<p><span class="talker">IN__</span>£200は人が高いと感じる手前かつ破格の値段でもないですよね。</p>
				<p><span class="talker">MB__</span>その通りです。£200以下で販売することもできますし。アーティスト・サポート・プレッジは誰でも参加することが出来るので、すでに売れているアーティストと、まだ学生やアマチュアのアーティストとのバランスが面白いと感じました。さらにこの活動が寛容なものであるというのを、価格設定以外でも示す必要があると感じたので、以下の義務を追加することにしました。アーティスト・サポート・プレッジを通しての売上が£1000に達したら、20%、つまり£200で他の参加アーティストの作品を購入すること。販売できる上限額が、他の人に支払う額になるという、とてもシンプルなものです。あらゆるレベルで、この誓約は与えるという行為にウェイトが置かれていて、非常に面白い方程式になっています。</p>
				<p><span class="talker">IN__</span>“£1000の目標に達するごとに、その一部を他のアーティストの作品に投資し、支払うことを誓います”という追記がこの活動の要であるように感じます。アーティストの作品をオンラインで販売するプラットフォームはすでにたくさん存在していますが、通常それらのモデルにはコミュニティの概念がないですよね、売買は内密に行われますし。その一方アーティスト・サポート・プレッジのシステムは、アーティスト同士のつながりや仲間意識を築くことを積極的に奨励していると思います。一緒にやっているという感覚を持たせてくれるというか。</p>
				<p><span class="talker">MB__</span>その通りです。また、それと同時にアーティスト自身がパトロンになるという考えも構築されます。アーティストは自分の作品を世界に提供し、その見返りとして資金を受け取ることで、アーティストとして生き残り、アーティストであり続けることができるだけでなく、他のアーティストのパトロンにもなることができるのです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide01_sp.jpg" /></picture></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide02_sp.jpg" /></picture></span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide03_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>このシステムを通して、アーティストはアート市場での購買力を持つようになりましたが、これは一般的にはアーティストが持ち合わせていないことですよね。</p>
				<p><span class="talker">MB__</span>アーティストが生きていくためには、アートの世界以外の人達からの支援が不可欠です。友人や同僚、別の大陸で活動する、見ず知らずのアーティストをサポートすることができるというのは、非常に力強いことだと思います。</p>
				<p><span class="talker">IN__</span>アート業界のように比較的閉鎖的な環境では、アーティスト・サポート・プレッジは非常に成功したイニシアチブであると言えますが、このモデルをより広いコミュニティで活用することは可能でしょうか？</p>
				<p><span class="talker">MB__</span>アーティスト・サポート・プレッジはいくつかの問題を解決してきたと思います。第一に、これまでになかったアーティストのための即時経済が生まれました。私は恩恵の文化や、歴史の中での文化的価値がどのように構築されてきたのかということに非常に興味があります。私たちが現在アートの世界で使用している価値システムは、価値と独創性を高めるという典型的な資本主義の体系の上に構築されています。独創的かつ希少、そして文化的によく知られたものであればあるほど、その価値は高くなります。アーティストはその価値をもって裕福になり、ギャラリーはその価値を管理することによってさらに大きなお金を得ることができます。まさに富のピラミッドです。その頂点に属する少数の人間のみが巨額の富を稼ぐことが可能であり、その反面、下には何も稼いでいない人が多く存在しているのです。<br>私は、このモデルを完全になくすべきだと言っているわけではありません。制作には大きな資金と時間がかかりますし、その為、販売する際に高額になることは仕方がないことです。しかし、だからといってこのピラミッド経済と並行し、アーティストが生き延びるための、他の経済モデルを提案することができないというわけではないと思います。アーティストの多くは講師や技術者などのアルバイト、すなわち「ギグ」経済（下請け）の基で働いています。問題は、それらの仕事は彼らがやるべきこと、つまり作品を作ることから彼らを遠ざけてしまうことです。多くのアーティストがそうであるように、私のスタジオには何千点もの作品があります。しかし、それらの作品はハイエンドのマーケットで展示する為に制作されたものではありませんし、世に出ることはありません。私がこのイニシアチブを通してやりたかったことは、アーティストが生き延びるための資金をすぐに調達できるようにするための市場をつくることでした。<br>アーティスト・サポート・プレッジはサスティナブル（持続可能）なモデルであると考えています。私はエコロジーと環境双方の観点からサステナビリティーという考え方に非常に興味があります。私自身アーティストとしてこの1、2年間、サステナビリティーという価値観をどのようにして、自身の思考、行動そしてアートの価値を高めたいという原動力に落とし込むことが出来るのかについて考えてきました。アーティスト・サポート・プレッジは、これらの価値観を反映したものに過ぎません。私は得たものは還元するべきである、という経済学を信じています。<br>人の気持ちに疎くなったり、気にかけることが出来なくなるまでの富を築き上げ続けることは単純に出来ないと思います。アーティスト・サポート・プレッジの参加者には、他のアーティストよりも経済的に成功している人もいますが、彼らの作品も他のアーテイスト同様最大£200以内で販売されます。そして£1000の目標に達する毎に、20％を還元する必要があります。このイニシアチブの優れた点は、常に20％はコミュニティに還元されることにあります。<br>この売上の一部をコミュニティに還元する、というシステムによって、真価は利益ではなく、贈与である、ということを参加したアーティスト達は顧慮せざるを得ないのです。消費主義経済とは、歴史的に見ても比較的新しいものであり、コミュニティや個人、環境への影響という点ではあまり成功した経済システムであるとは思えません。私がこのイニシアチブを通して提案している概念は、もしかしたら異なる経済モデルを生み出す方法に繋がる可能性があるかもしれませんが、しかしその一方、我々は複数の経済モデルをこの社会に維持できるほど優秀ではないのかもしれません。</p>
				<p><span class="talker">IN__</span>アイソレーション・アート・スクールはどのようにして生まれたのですか？</p>
				<p><span class="talker">MB__</span>アイソレーション・アート・スクールは、私の友人であるキース・タイソン（イギリス人アーティストで2002年のターナー賞受賞者）が立ち上げた姉妹プロジェクトです。彼は、アーティスト・サポート・プレッジと同じような寛容な精神を持った学校を設立したいと考えていました。子供と何か楽しいことをしたいという、美術講師や親御さんからの声をもとにアイデアを発案しました。#isolationartschool のハッシュタグをつければ、誰でもコンテンツを投稿することができます。コンテンツは通常60秒以内の学習映像が主です。投稿者にはコンテンツ内容を説明する適切なハッシュタグとタグラインをつけてもらうことだけをお願いしています。詳しい内容が気になる方は <a href="https://www.instagram.com/isolationartschool/" target="_blank" rel="noopener noreferrer">@isolationartschool</a> を是非参照してください。</p>
				<p><span class="talker">IN__</span>アーティスト・サポート・プレッジ、アイソレーション・アート・スクールの両方ともインスタグラム上のみでの活動になるんですか？</p>
				<p><span class="talker">MB__</span>はい。インスタグラムは私にとって最も身近なプラットーフォームですし、たくさんのアーティストが活用しています。インスタグラムは双方のプロジェクトを軌道に乗せる為にも一番有効的なプラットフォームだったんです。</p>
				<p><span class="talker">IN__</span>アーティスト・サポート・プレッジが短期間で広まった理由の一つに、人々が危機感に駆られているという現状が関係しているのではないかと思うのですが。実際私たちは今危機的状況にいます。英国政府によるCOVID-19への対処は、現在の資本主義モデルが抱える経済的・社会的欠陥を多く露呈しました。その結果、人々は代替モデルを模索するようになったかもしれません。いわゆる「戦時下」のメンタリティから抜け出した以降も、この状況は続いていくのでしょうか、それともアーティスト・サポート・プレッジは自己満足的なイニシアチブで終わってしまうのでしょうか？</p>
				<p><span class="talker">MB__</span>（笑） いい質問ですね。ここ数日間、何度も自問自答しています。贈与経済は、金銭的な価値ではなく、何かを与えるという概念の元成り立っていると思います。オークションでどれほどの金額で取引されたかとか、著名な作家の作品であるとか、そういうことでアートを評価してしまいがちですが、アートを作ること自体が既に寛容な行為であり、それが生み出すことに価値があるという考えを、私たちはやめるべきではありません。全てのアーティストはそのことを暗黙に理解していると思います。<br>COVID-19以降の世界でもその寛容さが求められるかどうか？について、私は専門家ではないのでわかりません。。ソファに座って「これはすごいことになるぞ！」と思ったわけでもないし、「良いアイデアが浮かんだ！」と思ったわけでも無いんです。初めてインスタグラムにアーティスト・サポート・プレッジのアイコンを投稿した時は緊張しました。とんでもないことになるかもしれないと思って...。今現在私が言えるのは、この活動が瞬く間に多くの人の間で広まっていったという事と、アーティスト・サポート・プレッジが内包するメッセージに対して非常に大きな反響があったということです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide04_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Gatescape" 2019, Oil on board 180 x 149 cm, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide05_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Dream House", 2016, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide06_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Two in One", 2017, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide07_sp.jpg" /></picture><span class="caption">Matthew Burrows, "Strata", 2019, Oil on board, 152.5 x 119.5 cm, Courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide08_sp.jpg" /></picture><span class="caption">Artist Support Project, Courtesy of Matthew Burrows</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>現実とオンラインでは時間の動きが大きく異なりますよね。</p>
				<p><span class="talker">MB__</span>そうですね、今まで経験したことのないレベルのスピードで、まるで巨大な波のようです。このイニシアチブはあっという間に世界規模になってしまったので、今は通貨をアメリカ$中心に展開していきたいと考えています。</p>
				<p><span class="talker">IN__</span>今のバローズ氏に求められていることは、この波の勢いを維持させていくことだと思いますが。</p>
				<p><span class="talker">MB__</span>この状況をより理解するために、妻が良い例えを教えてくれました。“今はカヌーで急流を下っているようなものなのだから、左から右に動かすことしかできないんだよ。”と。</p>
				<p><span class="talker">IN__</span>アーティスト・サポート・プレッジが開始してから僅か10日しか経っていませんが、すでに、賞を設けたとお伺いしました。</p>
				<p><span class="talker">MB__</span>そうです。急速に盛り上がっていく様子を実感し、開始してから2日目にこのコミュニティーが持つべきこととして、経済、文化、プラットフォーム、そして学習方法の4つをリストに書きました。これらは全て芸術文化に必要なものです。賞はその中の経済性を高める方法として、設定しました。毎週賞金を提供できるように、何人かの友人にお金を寄付してくれるようお願いしました。</p>
				<p><span class="talker">IN__</span>自身の芸術活動において、バローズ氏は他のアーティストとコラボレーションすることはありますか？</p>
				<p><span class="talker">MB__</span>あまりないですね。私は、イギリスの田舎にあるスタジオで仕事をしています。かなり隔離された場所なんですが、そこが大好きです。</p>
				<p><span class="talker">IN__</span>そうなんですね。それなら、隔離されるという現状はあなたにとってはあまり辛いことではありませんでしたか？</p>
				<p><span class="talker">MB__</span>（笑） アーティスト・サポート・プレッジが始まってからあまり絵を描く時間がなくなってしまったんですが、それはそれでいいんです。今私たちは危機に面しているのだから、しばらくの間制作できなくなってしまったとしても仕方がないと思います。私が絵を描くことよりも、もっと優先すべき問題があるので。</p>
				<p><span class="talker">IN__</span>多くのアーティストが作品を発表する場として、ソーシャルメディア特にインスタグラムが使用されていることを、どのように感じていますか？また、それによって私たちのアートに対する経験や考え方が変わると思いますか？</p>
				<p><span class="talker">MB__</span>ええ、非常に興味深いですね。この事については、何度も考えたことがあります。インスタグラムはそこから得られる情報量という点では非常に限られられていると思いますが、きっかけを得るという意味では非常に有用なツールであると考えます。例えば、インタグラムで見たことをきっかけに調べてもらえるかもしれませんし、展覧会に来てもらえるかもしれません。そのような側面では素晴らしいツールであると思いますが、経験という側面では実際にアートを鑑賞する代わりにはなりません。作品をインスタグラムばかりで追っていると、実際に鑑賞して体験するという機会を逃してまうと思いますし、それは残念なことです。</p>
				<p><span class="talker">IN__</span>バローズ氏はインスタグラムをアーテイスト活動の一環として使っていますか？</p>
				<p><span class="talker">MB__</span>私は自身のインスタグラムは作家活動や、作品、価値観を伝える為のツール、アーティスト活動の手段として使用しています、インスタグラムはそのために使える数少ないツールのひとつだと思います。ソーシャルメディアが世に登場する前は、知名度が高かったり、誰かに記事や本を書いてもらえない限り、自分のストーリーを世界に発信するのはとても難しいことでした。インスタグラムを使えば自発的にそれらを伝えることができます。その点では素晴らしいことだと思いますが、その分慎重に扱う必要があると思います。人生と同じように、上手に扱えば、上手くいくでしょうし、扱いが悪ければ、火傷を負うことになるかもしれません。</p>
				<p><span class="talker">IN__</span>作品を展示する機会に恵まれなかったり、作品でお金を稼いだりするのに苦労しているアーティストに何かアドバイスはありますか？</p>
				<p><span class="talker">MB__</span>先ずは自分の価値を知ることが大事です。あなたは何を基準に生きていますか？あなたの作品にはどんな価値観が内包されているのでしょうか？アーティストが最も陥りやすいのが、自分ではない他者の価値観を反映した作品を制作してしまうことです。自身が持つ価値を知ることが重要であることを、私も30年前に知れたらよかったのですが、これに気づくまでだいぶ時間がかかりました。自身の価値を客観的に理解するのは努力と時間が必要だけど、それだけ不可欠なことなのだと思います。</p>
				<p><span class="talker">IN__</span>自分の価値を知る...。大変なタスクですね...。</p>
				<p><span class="talker">MB__</span>（笑） できますよ、知るためのシステムもありますし。価値とは流動的で常に発展していくものですが、アーティストが自覚すべき価値とは核の部分、すなわちあまり変化しないものなのです。自身の作家としての価値を見極めるということは、自分を解放してあげるという意味でも非常に大切なことです。価値さえ理解すれば、常に同じフォーマットで作品を作ることに依存する必要がなくなります。コンセプトを薄めることなく、価値に基づいて様々な方法で作品を強化することができるのです。例えば、私の作品の主な価値の一つに「重ねる」という行為があります。興味はあるのですが、私は色を扱うことが本当に苦手なんです。だから、私はこの弱点に対処するために自分の価値「重ねる」を使っています。そうすることで、私は絵画の色を最終的により面白く表現することができるのです。</p>
				<p><span class="talker">IN__</span>最後に、自分自身の価値の確立に悩んでいるアーティストが参考になるような情報があれば教えていただけますか。</p>
				<p><span class="talker">MB__</span>私はABC・プロジェクト・アトリエというメンタリング・スキームを年間通して行っています。これは、4人ほどの少人数のグループで行われる、2日間のプログラムです。このプログラムでは、それぞれの住んでいる場所、労働条件、価値観などを全て可視化することによって相対的な批評性を育むことを目的としています。プロジェクトに興味がある場合は、<a href="http://www.matthewburrows.org/home" target="_blank" rel="noopener noreferrer">私のウェブサイト</a>からABC・プロジェクト・アトリエのページに飛んでもらえば詳細情報を見ることができます。メールアドレスもウェブサイトに載せてあります。現在、アーティスト・サポート・プレッジの運営が忙しい為、返信まで少し時間がかかるかもしれませんが、ご了承ください。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/002/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/002/img/slide09_sp.jpg" /></picture><span class="caption">Matthew Burrows, Courtsey of PJ Productions</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">マシュー・バローズは1971年イギリスのウィラル生まれの、イーストサセックスで活動するアーティスト・講師である。93年にバーミンガム・スクール・オブ・アートを卒業、その後1995年にロイヤル・カレッジ・オブ・アート・ロンドンで絵画の修士号を取得。Vigo gallery に所属している。主な個展に「Beyond the Garden Wall」 Vigo Gallery 、ロンドン、 2017、「Para-Dice」 Vigo Gallery、ロンドン、 2014、「Cultic Twister」Alexia Goethe Gallery」ロンドン、2009等がある。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://www.matthewburrows.org/" target="_blank" rel="noopener">http://www.matthewburrows.org/</a></p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">インディア・ニールセン</dt>
					<dd class="desc">インディア・ニールセンはロンドンを拠点に活動するイギリス人アーティストである。スレード美術大学でファインアートの学位を取得後、ロイヤルカレッジオブアートに進学し、絵画科の修士号を取得した。主な展覧会に『Seer Kin Lives』ジャックベルギャラリー（ロンドン）がある。大学院を卒業以降はアーティストのIda Ekbladに従事した。また2019年にはthe a-n art Writing Prizeにノミネートされるなど、作家以外の活動も多岐に渡る。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

