{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
	lang: 'en',
    title: "INTERVIEW__010: In conversation with: Lavender Opener Chair",
	description: "In recent years, artist-run spaces have become more and more active in Japan. In 2020, one of these spaces, XYZ Collective, based in Sugamo, Tokyo, hosted the　'Artist Running Festival', a group show focused exclusively on artist-run galleries.",
	ogimage: "https://imlabor.org/journal/interview/010/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "010",
                "item": ""+ site.url +"/journal/interview/010/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/010/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "010"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<p class="lead">In recent years, artist-run spaces have become more and more active in Japan. In 2020, one of these spaces, XYZ Collective, based in Sugamo, Tokyo, hosted the <a href="http://xyzcollective.org/arf2020.html" target="_blank" rel="noopener noreferrer">'Artist Running Festival'</a>, a group show focused exclusively on artist-run galleries. One space in particular, <a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener noreferrer">Lavender Opener Chair / Tomei</a>, a gallery attached to a restaurant based in Arakawa, Tokyo and run by artists Tatsuhiko Togashi, Yoko Pinkham and Yohei Watanabe, stood out in particular as a space that has been exploring new possibilities for contemporary art since it opened in 2020.</p>
				<p class="lead">On the evening of February 12th, after finishing installing ‘Lavender Hair’ a group exhibition curated by Lavender Opener Chair / Tomei and hosted at imlabor, we sat down with Togashi, Pinkham and Watanabe and, over Indian curries and canned beers, discussed the works presented in the show and their plans for the gallery’s future. I felt a sense of comfort listening to their stories, enhanced by the smell of burnt pepper from Togashi’s work <em>Rose is a rose</em> installed in the gallery and the aroma of the curry’s spices. It is perhaps not unusual to view an exhibition multiple times, but you cannot resist returning to Lavender Opener Chair / Tomei after experiencing first-hand the joy of appreciating beautiful artwork while enjoying delicious meals. </p>
				<p><span class="talker">IM LABOR__</span>First of all, I would like to start this interview by asking you about your work, Yoko: both of your works presented in this group show are rugs. Have you always used knitting techniques in your work?</p>
				<p><span class="talker">YOKO PINKHAM__</span>I've been knitting for a long time, but it's only in the last year or two that I've started to incorporate knitting techniques into my art practice. It doesn’t matter whether it's a jumper or a hat, you have to make a blueprint first and then follow it through to complete the garment. The thing is, I found it quite confusing to draw out this blueprint - I just liked to knit and wanted to feel the texture of fluffy wool. So I thought, "if it's a rug or something flat, I don't need to draw a blueprint." That's how I started making rugs.</p>
				<p><span class="talker">IL__</span>I'm not much of a knitter; can you tell us about the process of making the piece <em>To forest</em>?</p>
				<p><span class="talker">YP__</span>This piece was made using a technique called tufting. Tufting is very flexible. If you use this technique it's possible to make diverse shapes, like a human figure, a circle, or even a sculptural piece, but I like my works to be square.</p>
				<p>Also, tufting is a technique that lines wool from the back using a particular gun, quite similar to embroidery. Because my workroom is small, if the size of the piece is too big, you cannot flip it back to check the surface in the middle of the process. So, it is difficult to draw a straight line or to control the surface's unevenness, but those very difficulties are the reasons why I like to use the technique.</p>
				<p><span class="talker">YOHEI WATANABE__</span>With knitting the start and end points are linear and there are no detours. With tufting, however, there is no such constraint - it’s so flexible that you can start and finish the process from any point. Do you think the reason you stick to this square shape is because you want it to be seen as a painting?</p>
				<p><span class="talker">YP__</span>Honestly, I don't know if I want my work to be seen as a painting, but I think I like to enclose objects, like framing.  I think of it like a garden, water plants in a tank and Illuminated manuscripts - all those objects are usually framed by something.</p>
				<p>You're right though. The more I knit, the further the image is from the original drawing I drew on my iPad. For example, in <em>To forest</em>, when I was working on the purple crystal at the top, the wool yarn was sticking to the underlying fabric by accident, so I knitted it in. As a result, a new image emerged unintentionally. This would not have happened if I'd been working in a linear fashion. Also, for the pink line in this piece, I drew a second line on top of a line I knitted in advance so that the original line would shift and I could deliberately make it uneven. That's why the surface is quite rough. I like the fact that I can't control it completely.</p>
				<p><span class="talker">IL__</span>You make a preliminary sketch on your iPad before you start working. Do you have any motifs that you refer to?</p>
				<p><span class="talker">YP__</span>The motifs I use are often plants. I like plants and animals a lot because they allow me to communicate without talking. The tree in <em>To forest</em> is a reference to the Poka Poka fruit in <em>Legend of Zelda</em>, a video game I'm really into now. The fruit has the power to make your body warm, so if you eat it, you won't die in the snow.  I have always liked the idea of using food to protect yourself.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide01_sp.jpg" /></picture><span class="caption">Yoko Pinkham: 'To forest', 2021, Wool, 173cm × 110cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide02_sp.jpg" /></picture></span><span class="caption">Yoko Pinkham: 'In forest', 2021, Wool, 88cm × 87cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide03_sp.jpg" /></picture><span class="caption">Install shot 'Lavender Hair', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide04_sp.jpg" /></picture></span><span class="caption">Tatsuhiko Togashi: 'Paper on leather", 2021, leather, wood, carbon and ink' 49cm × 66.5cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide05_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'BICLO', 2021, Inkjet print, and perfume, 115cm × 75cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">TATSUHIKO TOGASHI__</span>Yoko draws very fast. She shows me what she's drawn each time. The initial sketches are already good, but the finished ones have become much better.</p>
				<p><span class="talker">IL__</span>How about you Togashi? Your approach to making work is quite different to Yoko. You presented three pieces in this group show, and the media is diverse - photography, sculpture, and drawing - were they all made at the same time?</p>
        <p><span class="talker">TT__</span>Yes, they are a new body of works, and I made all of them at the same time.As for <em>Paper on leather</em>, I always had the idea that I would like to make an artwork using a technique of frottage. Around that time, I saw a leather pad, which is for writing signatures and so on, at a fancy hotel's reception desk, and I instantly thought to myself, "drawing something with ink on paper is listed as 'ink on paper’, so this might be known as 'ink on paper on leather.'" *laughs* That’s how I came up with the idea.</p>
				<p>The image on the leather is a direct copy of the rose pattern printed on the back of a single-sided piece of red carbon paper. Some of them are burned with a soldering iron and they are coloured with a tricolour biro pens afterwards. Soldering leather creates a toasty smell… I kind of like that too. <em>Paper on leather</em> began as a drawing in my mind, but I decided to refer to the form of a table so that it can become the base for another drawing. </p>
				<p><span class="talker">IL__</span>Since you said these pieces were created simultaneously, are they linked to each other in terms of context?</p>
				<p><span class="talker">TT__</span>I guess so. <em>BIQLO</em> is a photography piece taken literally at BIQLO<sup>*1</sup> in Shinjuku. I saw a piece of white paper, a mouillette (a strip of paper used to sample perfume) get stuck in an escalator at BIQLO. I didn't take any photos at the time, but somehow I couldn't get that scene out of my mind, so I went back there later to recreate the scene. I later went to Isetan, a department store in Shinjuku, Tokyo, to try some perfumes and found Rose &amp; Cuir, a perfume with a rose and leather scent.</p>
				<p>A famous perfumer, Jean-Claude Ellena, designed it and what interested me about it is that he didn't use rose at all. What he used instead was a pepper called Nepal Timut pepper which is actually quite prevalent in perfumery.  For example, it's quite challenging to extract fragrance from pomegranate, so the scent is usually made by combining different ingredients to recreate its smell synthetically. <em>Rose is a rose</em> is a piece using four different colours found in peppers. I never thought that rose, leather, and pepper would be connected in this way.</p>
				<p><span class="talker">IL__</span><em>Rose is a rose</em> is a sculpture piece where the word “ROSE" is written in leaves and placed on a scanner. The word “ROSE” is currently burning in the gallery where we sit and the room is filled with a pleasant smell; is it the pepper that burning?</p>
				<p><span class="talker">TT__</span>This is a raw material for incense. When you mix it with water, it becomes an incense. In <em>Rose is a rose</em>, I mixed it with pepper. When I was thinking of what to use for the incense stand, I heard an interesting story my friend told me about a New York photographer who would use the surface of his scanner to do cocaine. You know, if it's a wooden table or something some of the cocaine granules would get lost in the grain of the wood and therefore be wasted. You may have noticed that a glass table is often used in “snorting” scenes in films. The photographer guy my friend told me about didn't have any glass-surfaced stuff at his home, so he used his scanner instead.</p>
				<p><span class="talker">IL__</span>I feel that Watanabe shares a similar approach to making as Togashi; you also presented three artworks in this show that are made with entirely different media, namely: photography, sculpture, and drawing. You don’t have a particular media to use?</p>
				<p><span class="talker">YW__</span>I try not to have a specific media. Ideas always come first, and then I choose the most appropriate medium to embody them.</p>
				<p><span class="talker">IL__</span><em>Book</em> is a series of drawings on sheets of paper that are stapled to resemble a book's format. <em>Cars</em> is a photography piece, and <em>Box</em> is a box with a drawing on the inside, cut in half. Are they linked each other?</p>
				<p><span class="talker">YW__</span>Strictly speaking, they are not linked. But, because I make them, they might be connected in some context even though their media are different. For example, <em>Book</em> is a drawing piece that referred to a book format; I drew on each page of the book in ink, which was saddle-stitched, and then I rebound it into a side stitched binding. So, the pages you are looking at now were not originally next to each other. In <em>Box</em>, some similar phenomenon happened during the process; the drawing used to be one piece, but became split into two pieces and are now placed back to back.</p>
				<p><span class="talker">IL__</span>It seems to me that the process of unfolding is an essential element in your practice.</p>
				<p><span class="talker">YW__</span>I guess you’re right. Recently I've been thinking about colour. For <em>Book</em> I made a rule to use only one colour per page spread. The mixture of colours you can see is the ink from other pages seeping through. Originally, each page was divided by colour: violet, peacock blue and paisley grey. I think it's important to be able to name the page after the colour... like you can go back and forth between mediums by colour category. For example, colour is just colour, but when you're describing something, you can characterise it by its colour, like you can say, "please open the green page.” I like that.</p>
				<p><span class="talker">IL__</span>Is there anything you guys keep in mind when it comes to making artwork? For example, when I listened to Togashi's story, it seemed to me that sense of smell is important in creating his work.</p>
				<p><span class="talker">TT__</span>I don't know if I make artwork while intentionally thinking of a sense of smell,  but there was a moment when I realized that everything has smell and taste. For example, Donald Judd's artwork, I think it has a smell, and if you lick it, you would even taste blood. Things became much clearer in my mind after I had this thought.</p>
      </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide06_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Rose is a rose', 2021, Printer, insense and paper, 21.7cm × 29.5cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide07_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'BOOK#1', 2021, Ink on paper, 29.4cm × 19.2,5cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide08_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'Box', 2021, Acrylic on plywood, 60cm × 30cm x 11.8cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide09_sp.jpg" /></picture><span class="caption">Yohei Watanabe: "Cars", 2021, C-type print, 39cm × 32.5cm, Framed/ 73cm x 54.5cm, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">YW__</span>Yeah, I remember when Togashi was part of the group show at Lavender Opener Chair, he showed a sculpture piece that was a little container made of a Japanese cypress plant, filled with water and heated by a light bulb. It reminded me of a traditional Japanese bath tub and it had a good smell.</p>
				<p><span class="talker">IL__</span>You are in charge of cooking in Tomei, a restaurant that runs in the same space as Lavender Opener Chair, right. In <em>Rose is a rose</em> you used pepper and, I saw in your past work, you made a sculpture out of burdock; do you have any awareness of cooking as a means of your artistic expression?</p>
				<p><span class="talker">TT__</span>In my mind, cooking is cooking, and art is art; there is a boundary between them. Every object, such as wood, glue, and other stuff that has generally been used as art materials, has its own taste. I'm more interested in that fact.</p>
				<p><span class="talker">IL__</span>What about you, Watanabe? Is there anything that you consider important in making artwork?</p>
				<p><span class="talker">YW__</span>I value what I feel and think at that moment. In the <em>Book</em> series, it was quite thrilling to keep responding to what was happening while making it.  I was unable to predict what would happen next. The photography piece Cars was the other way around; it was considered complete at the moment when I completed shooting. Each work has a different mode of thinking, process, and results. I find that very interesting.</p>
				<p><span class="talker">IL__</span>What about you, Yoko?</p>
				<p><span class="talker">YP__</span>Mine is very simple, I don't work when I'm not in the mood, tired, or hungry. I try to change my perspective and get in a good mood, though.</p>
				<p><span class="talker">IL__</span>Listening to your conversations, I felt that you guys understand each other's work very well; do you usually talk about your practice together?</p>
				<p><span class="talker">YP__</span>Yes, especially me *laughs*. I always show them original drawings I made on my iPad and ask their opinion. At the end of the day though, I'm the only person who can picture how it's going to turn out, so the final decision is mine.</p>
				<p><span class="talker">TT__</span>I don't really talk about my work, but I like sharing interesting artists or artwork I found with them. </p>
				<p><span class="talker">IL__</span>Are there any artists you’ve been interested in recently?</p>
				<p><span class="talker">YP__</span>I like Noboru Kitawaki<sup>*2</sup>'s work. I'm also interested in Illuminated manuscripts.</p>
				<p><span class="talker">TT__</span>I've been researching sculptures lately, like François Curley's work, his work is so strange and I can't help looking at it.</p>
				<p><span class="talker">YW__</span>I’ve been interested in Andy Warhol lately...</p>
				<p><span class="talker">IL__</span>Who was the first artist who inspired you?</p>
				<p><span class="talker">YW__</span>I think Wolfgang Tillmans was my first introduction to contemporary art, then I got to know Gerhard Richter and many others.</p>
				<p><span class="talker">YP__</span>I always like Hiratsuka Unichi, a Japanese printmaker. I actually felt a nostalgic sense of smell when I saw his work in person.</p>
				<p><span class="talker">TT__</span>I think for me it was Shimabuku Michihiro, a Japanese artist. Apart from fine artists, I like the film directors Jean-Luc Godard and Michelangelo Antonioni. It's not like I'm into the stories, but I like the medium of filmmaking itself - like the cut and zoom functions those films have. So, during my BA, I spent most of the time watching movies.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide10_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Shade(Light)', 2020, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide11_sp.jpg" /></picture><span class="caption">Yohei Watanabe: 'STONE GRAY, SCARLET, EMERALD', 2020, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide12_sp.jpg" /></picture><span class="caption">Yoko Pinkham: 'Kochia', wool, 88×88cm, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide13_sp.jpg" /></picture><span class="caption">Tatsuhiko Togashi: 'Honeybee Vanishes', 2018, 14.5cm × 8cm perfume, ceramic, cork, courtesy of the artist</span></li>
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide14_sp.jpg" /></picture><span class="caption">A picture of the cutlet restaurant in Yoyogi, courtesy of Lavender Opener Chair / Tomei</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>I want to ask about the poster of this group show; it's quite mysterious, isn't it? What is this image about?</p>
				<p><span class="talker">TT__</span>To explain it, we've got to talk about how we came up with the name <em>Lavender Opener Chair</em> in the first place. We saw an impressive chair at a pork cutlet restaurant in Yoyogi, Tokyo. The chair is lavender colour and shaped like a bottle opener; it looked quite bizarre. You can see a picture of the actual chair on our website if you're interested. We wanted to get the chair at any cost, so we even called the restaurant but we couldn't. We had a small chat about this story with a guy who frequently comes to our restaurant, Tomei. One day, without saying a word, he gave us a blueprint of the chair, which was this image.</p>
				<p><span class="talker">IL__</span>I love the story. *laughs* <br>
				<em>Lavender Opener Chair/ Tomei</em> is an artist-run gallery attached to a restaurant you opened in 2020 in Arakawa, Tokyo; how did this start? </p>
				<p><span class="talker">YP__</span>It all started when Togashi came back from Holland in 2019; he was looking for some office/studio space in Tokyo.</p>
				<p><span class="talker">TT__</span>That's right. At the time, I had just returned from Holland, and I was like, "I have to get a job as soon as possible." And then I told Yoko and Yohei that I was vaguely thinking of starting up something in Tokyo, and we ended up open <em>Lavender Opener Chair/ Tomei</em> together.</p>
				<p><span class="talker">YW__</span>Then we decided that I would be in charge of the gallery, and Togashi would cook. That’s how we started Lavender Opener Chair / Tomei in March 2020.</p>
				<p><span class="talker">TT__</span>I just wanted to have a studio with a kitchen though. *laughs*</p>
				<p><span class="talker">IL__</span>We often visit your space, the food is terrific. It's such a nice experience to be able to see beautiful artwork while eating delicious meals. Have you always like cooking, Togashi?</p>
				<p><span class="talker">TT__</span>Yes, I've always liked cooking. But cooking has become a more significant part of my life after I moved to Holland. You don't have to talk when cooking as cooking itself is already a form of communication that cancels out the language barrier. So, when I was in Holland, I cooked a lot.</p>
				<p><span class="talker">IL__</span>Finally, can you tell us about your plans for the future as Lavender Opener Chair / Tomei?</p>
				<p><span class="talker">YW__</span>I'd like to continue it as long as we can. Ideally, I want it to get bigger.</p>
				<p><span class="talker">TT__</span>It was a coincidence that we ended up doing the gallery alongside the restaurant, but now we feel that there is more potential there than we realised. It is actually remarkable that the same person visits the same exhibition more than once - that doesn’t happen a lot in a regular gallery. Also, people visiting our space tend to stay for a very long time, seeing artwork while eating. I think that the concept of time produced by a restaurant twists the concept of time usually suggested by the gallery context. We want to apply every positive that we've seen and felt over the past year to future curatorial projects. </p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
        <li><picture><source srcset="{{ site.root }}journal/interview/010/img/slide16_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/010/img/slide16_sp.jpg" /></picture><span class="caption">From the left: Yohei Watanabe, Yoko Pinkham, Tatsuhiko Togashi</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">*1</dt>
					<dd class="desc">BIQLO is a joint large-scale shopping store, which Japanese notable fashion wear company UNIQLO and home electronic company BIG CAMERA collaborated on.</dd>
				</dl>
				<dl class="item -notes">
					<dt class="term">*2</dt>
					<dd class="desc">Noboru Kitawaki was a Japanese painter and writer.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Tatsuhiko Togashi</strong><br>Born in 1992 in Yamagata prefecture, Japan currently lives and works in Arakawa, Tokyo. After completing a MA at Sandberg Instituut in Holland, Togashi opened an artist-run gallery with a restaurant, "Lavender Opener Chair / Tomei," in Arakawa, Tokyo. Also, Togashi is in charge of cooking at Tomei.</dd>
					<dd class="desc"><strong>Yoko Pinkham</strong><br>Born in 1989, Chiba, Japan. She started working with wools which is now her main material when she found knitting for her fun. Recently she's been producing rugs using tufting techniques. Recent exhibitions include "Artist Running Festival" xyz collective, 2020</dd>
					<dd class="desc"><strong>Yohei Watanabe</strong><br>Born in 1990 in Fukushima Prefecture, Japan and currently lives and works in Arakawa, Tokyo. Completed a MA at Tokyo National University of Fine Arts and Music. Recent exhibitions include "Giant Chorus," HAGIWARA PROJECTS (2019, Tokyo), "4 boxes and pyramids," 4649 (2018, Tokyo), "Yohei Watanabe: exture of Cat, Clouds Reversed in Retina," KomagomeSOKO (2017, Tokyo), "THE EXPOSED #9 passing pictures" g/p Gallery Shinonome (2015, Tokyo), etc.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://lavenderopenerchair.com/" target="_blank" rel="noopener">https://lavenderopenerchair.com/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

