{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "REVIEW__001: To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972",
    description: "In her first solo presentation in the UK since her 2017 retrospective at the Hepworth, Wakefield, Szapocznikow’s work reveals the fragmented nature of the subconscious by pulling apart the pieces of her own body.",
		ogimage: "https://imlabor.org/journal/review/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/review/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "001",
                "item": ""+ site.url +"/journal/review/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/review/001/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’, Hauser &amp; Wirth, London, until 29 May 2020 &copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "REVIEW" and item.number === "001"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972 <br>at Hauser &amp; Wirth, London</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">An Index of Survival</h3>
				<p class="lead">In her first solo presentation in the UK since her 2017 retrospective at the Hepworth, Wakefield, Szapocznikow’s work reveals the fragmented nature of the subconscious by pulling apart the pieces of her own body.</p>
				<p>In ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 - 1972’, the body lies everywhere in pieces. Plaster casts of the artist’s right leg (‘Noga’, Leg, 1962) and lips① (‘Sans titre’, Untitled, 1964 - 1965) sit in vitrines at the entrance of the exhibition. A yellowed and peeling polyester imprint of what looks, to my discomfort, to be a child’s body, is splayed upright against a royal blue fabric backdrop (‘Herbier bleu I’, Blue Herbarium I, 1972). Elsewhere, neat parcels of resin sit awkwardly on plinths. Resembling lumps of flesh, bright-red sore-looking nipples and lips seem to threaten to pierce through their milky translucent skin like infected hair follicles (‘Tumeur’, Tumor, and ‘Sans titre, Love’, Untitled, Love, 1970). These bodily fragments seem not only to have been violently pulled apart but grown from the debased yet fertile ground of a wasteland; the fruits of a former war zone that now live on in the subconscious.</p>
				<p>It is perhaps fitting that my preliminary circuit of the exhibition gives me as much an impression of a memorial site as it does a gallery space when one considers Szapocznikow’s harrowing biography. As a young Jewish girl living in Poland during the Second World War, at 13 her family was transferred to the ghettos in Pabianice and Łódź. There she worked in the infirmaries as a nurse alongside her mother, who was a paediatrician. She survived Auschwitz, Bergen-Belsen and Theresienstadt. After the war, by then a young woman in her early 20s, she moved to Prague and began making art. In 1969, now in Paris, she was diagnosed with breast cancer and died, four years later, at the age of 46.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide02_sp.jpg" /></picture><span class="caption">Noga (Leg), 1962, Plaster, 20 x 50 x 63.5 cm / 7 7/8 x 19 5/8 x 25 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide03_sp.jpg" /></picture><span class="caption">Sans titre (Untitled), 1964-1965, Plaster, 13 x 7.7 x 3.5 cm / 5 1/8 x 3 x 1 3/8 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide05_sp.jpg" /></picture><span class="caption">Tumeur (Tumor), 1970, Coloured polyester resin and gauze, 4.6 x 6.5 x 8 cm / 1 3/4 x 2 1/2 x 3 1/8 in<br class="_pc">Photo: Fabrice Gousset &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide06_sp.jpg" /></picture><span class="caption">Deser IV (Dessert IV), 1971, Coloured polyester resin, glass, <br class="_pc">electrical wiring and metal, 16.5 x 16 x 13.5 cm / 6 1/2 x 6 1/4 x 5 3/8 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide07_sp.jpg" /></picture><span class="caption">Pamiątka I (Souvenir I), 1971, Polyester resin, fiberglass and photographs, <br class="_pc">75 x 70 x 33 cm / 29 1/2 x 27 1/2 x 13 in<br class="_pc">Photo: Thomas Barratt &copy; ADAGP, Paris<br class="_pc">Courtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck, Paris / and Hauser &amp; Wirth</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide08_sp.jpg" /></picture><span class="caption">Installation view, ‘To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972’,<br class="_pc"> Hauser &amp; Wirth, London, until 29 May 2020<br class="_pc">&copy; ADAGP, ParisCourtesy the Estate of Alina Szapocznikow / Piotr Stanislawski / <br class="_pc">Galerie Loevenbruck,Paris / and Hauser &amp; Wirth. Photo: Alex Delfanne</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p>Trained as a classical sculptor, in 1963 Szapocznikow began using new industrial materials in her work, including poured polyurethane and polyester resin. The results both distinguished her practice as singular and innovative while also allowing influences from surrealism and pop art to emerge, having lived through both movements while they were at their peak. Her most famous of these works, a series of functional, illuminated lamp sculptures, can be seen in the second and final room of the exhibition. Spindly stalks shoot upwards and bloom into luminous, vibrantly coloured lips and nipples. In one, titled Deser IV (Dessert IV), 1971, coloured resin is scooped into a glass dessert bowl like ice cream; a rather solemn looking orange mouth looming absurdly over this gooey landscape like a surrealist sunset.</p>
				<p>Yet while Szapocznikow’s practice was certainly in dialogue with the artistic discourse of her time, she was no solitary artist, she incorporated these discussions into her own very personal visual lexicon. In Pamiątka I, Souvenir I, 1971, from her ‘Souvenirs’ series, a black-and-white image of herself as a smiling young girl hovers above the corpse of a concentration camp victim. These memories, years apart, are suspended together in thick layers of resin. Here, the plastic sheen of pop becomes the sticky substrate of the subconscious, flattening all of one’s accumulated life experiences together into one, ever-present memory. This is the unconscious petrified in resin.</p>
				<p>In works made after her breast-cancer diagnosis, both Szapocznikow’s bodily fragments and her memories themselves seem to mutate like rogue cells. In Tumeur, Tumor, 1970, from her ‘Tumors’1series, another black-and-white photograph of the artist sleeping is bundled up, along with the soft imprint of her lips, in a resin-gauze membrane like just another body cell. This equivalence feels important. Szapocznikow’s sculpture is an index of her subconscious memory through her bodily imprints. She shows us that survival is being able to live with so many harrowing subconscious incompatibilities; of the notion that life continues on after living as a Jew in German-occupied Poland; that one can live through the swinging sixties after the horrors of Bergen-Belsen. That survival is about situating oneself in the emotional aftermath of an event as much as it is simply making it out alive. Perhaps true catharsis is being able to leave oneself in pieces.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide09_sp.jpg" /></picture><span class="caption">Alina Szapocznikow in her Malakoff studio, Malakoff, FR with her work <br class="_pc">‘Fajrant (Quitting Time),’1971, 1971, Photographer: Jacques Verroust, <br class="_pc">Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br class="_pc">Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide10_sp.jpg" /></picture><span class="caption">Alina Szapocznikow in her Père-Lachaise studio, Paris, FR with her work <br class="_pc">‘Sculpture avec une roue tournante (Sculpture with a Rotating Wheel)’, 1963-1964, 1964, <br class="_pc">Unknown photographer, Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br class="_pc">Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
				<li><picture><source srcset="{{ site.root }}journal/review/001/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/review/001/img/slide11_sp.jpg" /></picture><span class="caption">Alina Szapocznikow for ELLE Magazine, Quarries of Querceta, Italy, <br class="_pc">1968,
				Photographer: Roger Gain <br class="_pc">Alina Szapocznikow &copy; ADAGP, Paris Courtesy The Estate of Alina <br>Szapocnikow / Piotr Stanislawski / Loevenbruck, Paris</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -notes">
					<dt class="term">①</dt>
					<dd class="desc">Sans titre (Untitled, 1964 - 1965) was cast in plaster from a combination of the artist’s lips and those of a friend of hers. Szapocznikow often made casts from her own body, but also used those of her son, friends and family members.</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Born in Poland to a Jewish family in 1926, Alina Szapocznikow survived internment in concentration camps during the Holocaust as a teenager. Immediately after the war, she moved rst to Prague and then to Paris, studying sculpture at the École des Beaux-Arts. In 1951, suffering from tuberculosis, she returned to Poland, where she expanded her practice. When the Polish government loosened controls over creative freedom following Stalin’s death in 1952, Szapocznikow moved into gurative abstraction and then a pioneering form of representation. By the 1960s, she was radically re-conceptualizing sculpture as an intimate record not only of her memory but also of her own body. Szapocznikow was diagnosed with breast cancer in 1969, a turn of events that shaped her later sculptural and photographic efforts. She died in Paris in 1973.</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="https://www.hauserwirth.com/hauser-wirth-exhibitions/26832-exalt-ephemeral-alina-szapocznikow-1962-1972" target="_blank" rel="noopener">To Exalt the Ephemeral: Alina Szapocznikow, 1962 – 1972</a> runs at Hauser &amp; Wirth, London, 7  Feb - 2 May 2020.</p>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">India Nielsen is an artist who lives and works in London. She recently graduated with an MA in painting from the Royal College of Art, having completed a BA in fine art at the Slade School of Fine Art. Her first solo exhibition, Seer Kin Lives, took place at Jack Bell Gallery, London, in 2016. She was in a two-person exhibition at Platform Southwark, London, in 2020. She has been involved in group exhibitions in London at ASC gallery, the Hockney Gallery, Gallery 46, Horse Hospital, Tripp Gallery, Matt’s Gallery, Limbo, and Peckham Experiment Building; as well as at Eastside Projects, Birmingham, England; Assembly House, Leeds, England; and Im Labor Gallery, Tokyo. Nielsen was awarded the Villiers David Bursary, Royal College of Art (2017) and the Steer/Orpen/Charles Heath Clarke Bursary, Slade School of Fine Art (2016). She recently undertook an apprenticeship with the artist Ida Ekblad in Norway and was selected to receive the a-n arts Writing Prize 2019.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

