{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'en',
	title: "INTERVIEW__017: Interview with: Yuu Takamizawa",
	description: "Yuu Takamizawa is a Tokyo-based artist and director of the artist-run space, 4649. Takamizawa refers to the value of the phenomenon called art and the artist's identity through his works.",
	ogimage: "https://imlabor.org/journal/interview/017/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "017",
                "item": site.url +"/journal/interview/017/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/017/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "017"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“I think that thinking about the support is art; it also means thinking about reality, and I think that the medium of dealing with reality is art.”</h3>
				<p class="lead">Yuu Takamizawa is a Tokyo-based artist and director of the artist-run space, <a href="http://4-6-4-9.jp/" target="_blank" rel="noopener noreferrer">4649</a>. Takamizawa refers to the value of the phenomenon called art and the artist's identity through his works. The subject matter, 'Originality in Art', is acted upon as if the concept still exists, even though it has been debated countless times since the advent of the readymade. In this context, he explores the possibilities and impossibilities of originality in art and questions the difference between objects that are called artwork and those that are just objects, while attempting to unravel how an object is perceived as art.</p>
				<p class="lead">In this interview, we discussed Takamizawa's solo exhibition, 'imlabor at 2x2x2', which will be held at im labor from the 5th of February, 2022; the artists who have influenced his work; and his future development.</p>
				<p><span class="talker">IM LABOR__</span>In the text of your solo exhibition at 4649 in 2021, it states that "paintings and sculptures are more temporal than other objects," based on Gerhard Richter's statement saying the same. When you work, do you always have the awareness that you are making a painting?</p>
				<p><span class="talker">YUU TAKAMIZAWA__</span>Until recently, I was conscious that I was making a painting... but I don't assume it's a painting. That's for me to decide. I don't think it's a painting in the sense that people use the word nowadays.</p>
				<p><span class="talker">IL__</span>What do you mean by that?</p>
				<p><span class="talker">YT__</span>I'm talking about painting in a limited sense. Though, it's only recently that it has come to be considered as such. Nowadays, "painting" probably means painting in general, right? But I'm not really into that... I can't make something too overarching for me; I don't have the evidence to make such a thing. So, I thought that Clement Greenberg's term, "academic art," was very clear.</p>
				<p>He calls most art "academic art." He says that the definition of academic art has no reference to its support * in this context, the support refers to a flat surface, i.e., a canvas*. The Salon painting is an obvious example. It's just a matter of replacing the content within the premise of painting on canvas, which was given by the academies at that time. That's what they call academic. It's about making the content bizarre enough to distract people from the support, which allows them to focus on the content.</p>
				<p>Some people get upset when I say that kind of work is not art, but for the last year or two, I've been thinking that if you don't think about the support, it's not art, and I've been saying that. Most of the artworks that I like are also designed so you consider its support. I think that thinking about the support is art; it also means thinking about reality, and I think that the medium of dealing with reality is art.</p>
				<p><span class="talker">IL__</span>What kind of work did you make before your current projects? Mainly paintings?</p>
				<p><span class="talker">YT__</span>I was painting all the time when I was a student. Not the figurative kind; I like abstract paintings. I was thinking about how I could paint with the premise of art history at that time. So, I made a moulded version of a painting; it was about 2016. It wasn't a very good piece because it was a technical failure; it was just like a lump of plastic.</p>
				<p><span class="talker">IL__</span>Was it your painting that you moulded?</p>
				<p><span class="talker">YT__</span>Yes, but it wasn't a particularly important piece for me. It had a colour, and if an object has a colour, then strictly speaking, it has a texture, which was essential for me. It was a green abstract painting. I moulded it, poured FRP(Fiber Reinforced Plastics) into it, and attached it back to the stretcher. And all the work I've done since then has been an extension of that piece.</p>
				<p><span class="talker">IL__</span>In 2018, you exhibited a series of works, '<em>the wooden box</em>', a crate with packed paintings contained at a two-person show, '<a href="http://4-6-4-9.jp/4_boxes_and_pyramids.html" target="_blank" rel="noopener noreferrer"><em>4 boxes and pyramids</em></a>', with a Japanese artist, Yohei Watanabe. This is the work you made at the beginning of the extension, right?</p>
				<p><span class="talker">YT__</span>Yes. I made the moulded painting because I wanted to make a painting with no concept of the time, and when I thought about what to make next, I thought it would be better if the light didn't shine on the surface of the painting. I'm interested in when a painting is placed backwards or when it's put in storage. A painting is just an object usually hung on the wall and illuminated by lights, and I wondered why people accept such incomprehensible things. So, I was interested in that mechanism. And, I was also interested in the state of things when a painting is not hung on the wall.</p>
				<p><span class="talker">IL__</span>This reminded me of Ad Reinhardt's '<em>Timeless Painting</em>', which I saw at the The National Museum of Modern Art, Tokyo's exhibition, '<a href="https://www.mot-art-museum.jp/en/exhibitions/motcollection-becoming/" target="_blank" rel="noopener noreferrer"><em>Collection Becoming</em></a>'. It was interesting that the painting was placed face down, and on the back of the canvas, there was a piece of cardboard glued onto it that must have been used for packing and the word "Fragile" written by hand.</p>
				<p><span class="talker">YT__</span>I was really impressed when I saw Ad Reinhardt's paintings in New York. I was looking at a lot of American art, and I thought many artists were trying to make a black painting and struggling to do so. </p>
				<p><span class="talker">IL__</span>Are the paintings in '<em>the wooden box</em>' the ones you actually painted?</p>
				<p><span class="talker">YT__</span>Yes, they are. Before the wooden box series, I made a piece that was a cardboard box with my name and my paintings in it. Before making the piece, I painted black paintings, and it struck me that I wanted to put them all in a cardboard box. When a two-person show at 4649 with Yohei Watanabe was confirmed, I really wanted to put his work in the crate. But I didn't have the courage to do it at that time. So, I vowed to do it one day, and when I exhibited at Void+ in 2021, I put an artwork Yuhei Kobayashi made in the crate and exhibited it.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide01_sp.jpg" /></picture><span class="caption">'No.5, black square painting, scroll', Painting, wooden boxes for transportation, 182 x 60 x 30.2cm, courtesy of the artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide02_sp.jpg" /></picture><span class="caption">'No.7.8.9. black square small paintings in wooden box', Painting, wooden boxes for transportation, 60 x 45 x 57cm, courtesy of the artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide03_sp.jpg" /></picture><span class="caption">'Untitled', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide04_sp.jpg" /></picture><span class="caption">'Installation view of “POP-UP RUNNING by 4649”', courtesy of Void+</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide05_sp.jpg" /></picture><span class="caption">'study (sox04042018)', courtesy of artist and 4649</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide06_sp.jpg" /></picture></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>I see. Also, I was curious about the sock work. This work seems to have been made in a different context to that of the relationship between painting and light and the context you mentioned earlier. Still, it has been continuously exhibited until now. Are these all the same socks?</p>
				<p><span class="talker">YT__</span>No, they are all different socks. While I was working on the crate piece, I accumulated a lot of socks, so I thought I'd exhibit them, but I didn't really think about what the piece meant to me. When the socks piece went up on NADA's Instagram, there were some negative comments about whether this was art or not—I was quite moved by that. It made me feel like it was okay to do this.</p>
				<p>I'm making an artwork about a painting or a chair or something that's there, and my work is about thinking, like, "What the hell is this?" There are people who sell art and make art, and this has been passed down through history, and I wonder what that is, too. In a nutshell, my interests are art, and it's about objects, and I'm always thinking about how these two things relate to each other when I make my work. Recently, I reread Greenberg, and those two things came together.</p>
				<p><span class="talker">IL__</span>You mentioned earlier that you used to paint abstract paintings, is that because you like abstract expressionist artists? Also, are there any other artists or art movements that have influenced your current work?</p>
				<p><span class="talker">YT__</span>No, I don't like them at all. I don't like Mark Rothko or Barnett Newman. I thought they were phonies. But there was an art critic called Michael Fried who got me interested in Greenberg in a sort of backwards way. I'm into people who are generally thought to be wrong in the art world today, such as Fried.</p>
				<p>Most of the things I was taught at university and books I read had a bias towards Felix Gonzalez-Torres. For example, in minimal art, Carl Andre and Robert Morris are opposed to Donald Judd. It's a bit one-dimensional to say it like this, but Judd's work is more like Greenberg's or an extension of formalism. But Morris, a minimalist, is talked about as if he were an innovator. It's as if people are saying that Morris is better than Judd in terms of the positive aspect of opening up the body to art that was previously retinal. I also think that in the 70s, there was a strong argument about how Dan Graham was better than Joseph Kosuth. I think it's also because Graham opened his eyes to the outside world rather than artistic concepts... I think that's why he's considered great.</p>
				<p>But I'm more interested in Judd and Kosuth, and I like the fact that they're more internal.</p>
				<p><span class="talker">IL__</span>Internal?</p>
				<p><span class="talker">YT__</span>I mean, open. What I'm trying to say is that in the end, when Robert Smithson and Torres came out, they really opened the world. Torres made people look at their beds and other places. He used his work to lead people to places where they could use their imagination. I think that's great, and I think it was necessary at the time. But I don't like it. It's like, nowadays, everyone is too open, and everything you think and do has to be shareable and redeemable in society, or it's based on empathy. I don't like that kind of thing. Just as an example, Judd and Kosuth went in a direction that only they could understand and that was more self-contained, and maybe that's not a good thing when it comes to art, but I think it's essential. I want to show things that only I can understand. I want to show something that only I know, something that even if the art world disappeared, I might still be making alone.</p>
				<p>My work can be done without any preconditions of existence, and I think I'm trying to do what I could do if I lived alone in the future. What is called "conceptual art" nowadays is like the academic art I talked about earlier, where there is a premise, such as a canvas or white cube, and you just replace the content. I'm not sure about that. That's why I'm trying not to make it like that.</p>
				<p>Also, Martin Heidegger talked about the remoteness of things, and I thought it was the same as talking about the support in art. What was it...? *Two minutes silence* I can't remember for a second, so never mind.</p>
				<p><span class="talker">IL__</span>I'm really curious about what Heidegger said. *Laughs* Let me know if you remember it. One of the pieces you are showing at im labor is a plastic bag with parts of a replica of an IKEA chair. Did you intend not to use a readymade, but made it by hand to avoid being seen as "conceptual art?" For example, when I saw the work of Peter Fischli and David Weiss, I thought it was readymade, but in fact, it was all made.  </p>
				<p><span class="talker">YT__</span>The chair piece is a reproduction, and the reproduction process is more significant for me. I think, regarding the quality of the reproduction of Fischli and Weiss's work, about 85% remains in a slight handmade texture. I tried to reproduce about 95% of my chair work, although it might be 93% if you see it in real life.</p>
				<p>I wanted to make a chair of a moment in time, like the moulded painting I made when I was a student. The chair is always there, and the painting is always there as a still life. But at the moment it is moulded, time is taken away from the painting. I used to do that with paintings, but I don't think it has to be paintings. I just wanted to create a state in which time is taken away from the chair.</p>
				<p><span class="talker">IL__</span>Can I ask you about the work you will be showing at your solo exhibition at im labor?</p>
				<p><span class="talker">YT__</span>The exhibition comprises two kinds of works. One is about the reflection on the big supports, such as the white cube or the art world. The other is about objects in general that can be used as artworks, through a smaller and more concrete object, the chair.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide07_sp.jpg" /></picture><span class="caption">'Installation view of “imlabor at 2x2x2”', courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide08_sp.jpg" /></picture><span class="caption">'A bench for viewers to sit on during my show at imlabor 2x2x2', 2022, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide09_sp.jpg" /></picture><span class="caption">'untitled', 2021, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide10_sp.jpg" /></picture><span class="caption">'IKEA ‘Marius’ stool BK 20210205', 2021, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide11_sp.jpg" /></picture><span class="caption">'Drain, imlabor, 2022', 2022, courtesy of imlabor and the artist, photograph: Fuyumi Murata</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>What made you interested in art?</p>
				<p><span class="talker">YT__</span>Well, let me think. When I was in primary school, there was an exhibition called <a href="https://www.setagayaartmuseum.or.jp/exhibition/special/detail.php?id=sp00083" target="_blank" rel="noopener noreferrer"><em>DE-GENDERISM</em></a> at a local museum, curated by Yuko Hasegawa. There was a catalogue of the exhibition at the school library, and I stole it and read it at home. There were artists such as Robert Gober, Marina Abramović and Matthew Barney. I've always loved Gober, even to this day.</p>
				<p><span class="talker">IL__</span>That's quite an experience for a schoolboy, discovering Robert Gober. Did you have any other favourite artists?</p>
				<p><span class="talker">YT__</span>Nobuyoshi Araki. There was an Araki house in the neighbourhood. And people were excited that there was a man called Araki living there. Then I wondered who Araki was, and when I was in high school, I found his book in a bookshop, and I started to like him. I also like Ad Reinhardt, as I mentioned earlier. I used to think there was a genre of people who made black paintings, and I wanted to be part of it.</p>
				<p><span class="talker">IL__</span>Did the catalogues of De Gendalism touch the heartstrings of you as a schoolboy because you were familiar with art? What kind of child were you?</p>
				<p><span class="talker">YT__</span>No, I just liked to read books. When I was in primary school, I had a mushroom book at home, and I loved to memorise the shapes and names of mushrooms because they looked interesting. So, I liked mushrooms at first. Also, I used to look for mushrooms; it was quite difficult to find them in the city, but I once found a huge polyporaceae mushroom. I ripped it up and showed it to my teacher when I was in the first grade, and they praised me a lot. After that, I started to like fish, and then my interest went to history, and I read a lot of books. At that time, Nintendo 64 was very popular, and everyone played Smash Brothers, which I didn't really enjoy. So from the ages of 9 to 11, I hardly played with my friends; I was too lazy to go to their houses and play games. So, I went to the river with my grandpa or read books by myself.</p>
				<p>Since I was a little kid, I've been drawing, just copying from illustrated books. But it wasn't like the kid who drew comics all the time... I don't know why I came to like art.</p>
				<p><span class="talker">IL__</span>I see... Is there anything you want or plan to do in the future?</p>
				<p><span class="talker">YT__</span>I used to think that if I didn't do an exhibition, I couldn't do anything as an artist, but now, I'm enjoying working on the exhibition. I didn't have a good image of exhibitions before; I thought they were just something you had to do for the sake of survival. But recently, I've been able to look at a venue where I'm exhibiting and think about what I should place there, so now, I'm hoping to show my work in different places.</p>
				<p>I also want to remove discomfort from my body. I used to think that people who cared about their health were people who liked to torment themselves, but I've learned for the first time that they're not. I went to the sauna the other day, and it felt good.</p>
				<p><span class="talker">IL__</span>Oh, by the way, do you remember what Heidegger said?</p>
				<p><span class="talker">YT__</span>Yeah, I remembered. I was talking about Heidegger, you know... Because Heidegger said something like, "what is present in a visible way appears on the basis of a hidden premise," and this is exactly what we can say about support in terms of art. In a piece of text written by Japanese artist, Suga Kishio, he was talking about being in a coffee shop or a cinema, which somehow linked to what Heidegger said. And I was thinking that his way of looking at all the objects in the distance was similar to Heidegger's way of doing so. I think that's a very modern way of thinking, and I also believe that Suga was reading Heidegger more deeply than the other artists from his era. So, for the context of my own work, I wanted to say that an artist such as Kishio Suga is very important in the way we perceive the presence of the world and things.</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/017/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/017/img/slide12_sp.jpg" /></picture><span class="caption">Yuu Takamizawa, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc"><strong>Yuu Takamizawa</strong><br>
					b. 1990 Tokyo<br>lives and works in Tokyo<br>
					<br>
					<strong>Solo and two-person exhibitions</strong><br>
					2022&nbsp;(forthcoming)&nbsp;&nbsp;King’s Leap, NY<br>
					2022&nbsp;&nbsp;imlabor, Tokyo<br>
					2021&nbsp;&nbsp;4649, Tokyo<br>
					2020&nbsp;&nbsp;Pina, Vienna<br>
					2019&nbsp;&nbsp;Unlimited Liability Company / MX Gallery, NY<br>
					2018&nbsp;&nbsp;4 boxes and pyramids / 4649, Tokyo<br>
					2017&nbsp;&nbsp;ad nauseam / Workstation, Tokyo<br>
					2016&nbsp;&nbsp;mold boy / Workstation, Tokyo<br>
					<br>
					<strong>Group exhibitions</strong><br>
					2020&nbsp;&nbsp;Kings Gate Postal Service Project / Kings Gate Project Space<br>
					2020&nbsp;&nbsp;Hikarie 8, Tokyo<br>
					2019&nbsp;&nbsp;4649-5963 / Mumei, Tokyo<br>
					2018&nbsp;&nbsp;NADA Miami 2018 / Ice Palace Studio, Fl<br>
					2018&nbsp;&nbsp;4649, Tokyo<br>
					2017&nbsp;&nbsp;no show / KAYOKOYUKI, Tokyo<br>
					2015&nbsp;&nbsp;SPVI Ⅱ / Turner Gallery, Tokyo<br>
					2014&nbsp;&nbsp;TAMAVIVANT / Parthenon Tama, Tokyo<br>
					2014&nbsp;&nbsp;SPVI / Turner Gallery, Tokyo<br>
					2013&nbsp;&nbsp;at work / TUA Painting Workshop 1F Gallery, Tokyo<br>
					<br>
					<strong>Curatorial projects</strong><br>
					2017 - present&nbsp;&nbsp;4649, Tokyo<br>
					2015 - 2017&nbsp;&nbsp;Workstation, Tokyo</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

