{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'en',
    title: "INTERVIEW__003: Scarlett Platel",
    description: "Scarlett Platel is a British artist specialising in photography. She aims to capture the essence of things through the lens instead of understanding in words.",
		ogimage: "https://imlabor.org/journal/interview/003/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "JOURNAL",
                "item": ""+ site.url +"/journal/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "003",
                "item": ""+ site.url +"/journal/interview/003/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/003/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "003"-%}
						<div class="info">
								<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">“Spiritual wellness comes from fulfilling one's own needs rather than constantly sourcing external, void-filling activities that fundamentally drain any resources, whether that's other people’s or the world’s.”</h3>
				<p class="lead">Scarlett Platel is a British artist specialising in photography. She aims to capture the essence of things through the lens instead of understanding in words. Animals such as snakes and birds, photographed by her in radioactive colours, hold a strange sense of being that feels sacred. Scarlett describes herself as self-destructive, but looking at her work evokes a craving for the opposite; a yearning for love and healing, showing the drive inherent in all things to move towards both their own destruction and self healing.</p>
				<p class="lead">In this interview, we discussed Scarlett’s new body of work "Condor" and "Vampire," her artistic background and her experience being shortlisted for the European Photography Award.</p>
				<p><span class="talker">IM LABOR__</span>To start, I'd like to ask you about your new body of work, 'Condor' and 'Vampire', what was the concept behind these works? Are they linked to each other? </p>
				<p><span class="talker">SCARLETT PLATEL__</span>The two pieces are linked by the text “I am I” and “You are You”.<br>
				Animals have been playing a large part in my work recently as I am becoming more aware that a return to nature and indeed the link to the 'animal spirit' is the medicine society needs to attain a much needed spiritual awakening. I believe that only this will move us into action to undertake the mammoth job of saving our planet at this absolutely pivotal point in history. The damage we have done is becoming irreversible, and scientists see some species prepare for mass extinction. </p>
				<p>There is an ever-increasing split in the psychology of the world, a hard-line dividing those that give and those that take. By incorporating the Condor as an emblem of self-reliance and realization in comparison to the new archetypal vampiric society, we have been incubating rapidly. I, as is manifested in a lot of my work, see a choice to offer that chance to either be the ‘I’ or the ‘You.’ Giving starts not with the codependent ‘You’ but with the healing of the ‘I.’</p>
				<p>“I am I” and “You are You” come from the Gestalt prayer. The prayer is well known in gestalt and psychotherapy circles, where it is generally taken as a summarizing statement of the philosophy of personal independence central to gestalt therapy. In academic discussion, it sometimes acts as a starting point for debate around issues of autonomy and interdependence.</p>
				<p>Spiritual wellness comes from fulfilling one's own needs rather than constantly sourcing external, void-filling activities that fundamentally drain any resources, whether that's other people’s or the world’s.</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide01_sp.jpg" /></picture><span class="caption">WIP: a print straight from the dark room, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide02_sp.jpg" /></picture></span><span class="caption">CONDOR, I am I, 2020, pint on aluminum, 1030mm×1370mm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide03_sp.jpg" /></picture><span class="caption">VAMPIRE, You are You, 2020, pint on aluminum, 1030mm×1370mm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide04_sp.jpg" /></picture><span class="caption">Shooting process1 - CONDOR, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide05_sp.jpg" /></picture><span class="caption">Shooting process2 - CONDOR, courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>What was the process of making this work like?</p>
				<p><span class="talker">SP__</span>I was incredibly lucky to work with The International Centre of Birds of Prey for this work. Adam Bloch, who works for the centre, was kind enough to introduce me to his world (and his condors - Pookie and Paisley.) The work that conservationists are doing is beautiful and a real inspiration. It would be fantastic to keep working with the birds.</p>
				<p>So with more and more of my work now, it's a process of dreaming, meeting the images and animals in my mind's eye, or when I'm asleep. Something calls to me, and I follow its trail. This can take me all over the place, and it's continuously exciting. With a lot of the animal work, I like to shoot digitally to make sure I get what I need and I always pre-shoot and keep shooting along the way in a film so I can have plenty of play material for the darkroom.</p>
				<p>The darkroom is still an integral part of my practice. It's like a sketchbook to a painter. I happily go-between digital and analog, and I enjoy the clash, which is critically imposed on my work as a whole canon. There is something essential in remembering that process, and making is part of what I do. Physicality is necessary to the work to alchemize it past being just an image. I need to feel the work as an object, a monument to something that must be realized, released, worked on.</p>
        <p><span class="talker">IL__</span>Your main practice is photography. Looking through your previous work, I think your work can be categorised as “staged photography”. Do you take a lot of time to think through the concept before you start shooting? In your degree show "Lord Make Me Pure, But Not Yet" at the Royal College of Art, London, you presented three prints: "The Mothers" "Bella, Love Bird" and "Lord Make Me Pure, But Not Yet". They were installed in a room with a shiny black floor, and a white latex curtain was hanging on the wall. Do you consider installation to be a complementary device to your photography work, something added on at the end, or is your work only completed during the process of installation?</p>
        <p><span class="talker">SP__</span>I come from a photographic background and have been a complete slave to its intricacies; it is a heavily disciplined process. I do, however, consider myself an artist rather than a photographer and use whatever I need to express a point. My work always comes from a place of healing; a seed that needs germinating so that I as a person can move forward. By using the language of the archetypal and esoteric, I hope to transform my self-centered discoveries outwards to a universal metaphor. Sometimes this fails. In fact, I feel it continuously fails, which is why I keep going. I think the day I manage to express something so universally understandable, I may stop making art!</p>
				<p>The floors and installation objects that accompany my works are a natural move towards a more sculptural practice, and each part, much like a film set, is there to enhance the message. I think you can see real development in the work ‘The Mothers.’ The degree show was the first shoot of an idea. In the next show, ‘Light observed’ at KAST gallery in Plymouth, curated beautifully by Damien Griffiths, you can see a total development and finalized resting place for the full sublimation of the piece.</p>
				<p><span class="talker">IL__</span>You completed your BA Critical Art practice at the University of Brighton in 2011. Is this when you decided to specialise in photography?</p>
				<p><span class="talker">SP__</span>I ended up on my BA by mistake. At the time, I was very young and not functioning as a whole, fully formed adult. Luckily, I scraped by in getting accepted on to the course, and it was the best thing that could have happened to me. It was heavily conceptual and philosophical and pushed me into a corner of complete self-evaluation. By being asked to learn a language that was foreign to me, this being the language of art it inforced a meeting between my mind and my soul that tore strips off me.</p>
				<p>This led to a basic breakdown of my psyche and myself as I knew it and forced me to grow in a painful but essential way. This course, as any good degree should do, was the real making of me and gave me access to years of inspiration and work. I understood that the language of the subconscious was like any other language that needed to be learned and given time and patience. It was again here that I cemented my relationship to photography and learned the ways of the colour darkroom. I haven't looked back since!</p>
				<p><span class="talker">IL__</span>Why did you decide to enrol in the MA photography course at the Royal College of Art in 2016?</p>
				<p><span class="talker">SP__</span>My decision to attend the RCA came as I stood looking at all of the works I had installed in my first solo show in Brussels. My gallerist went around pointing out all the chips and scratches and bending bits of photographic paper falling off their mounts and I realized I still had a lot to learn. Another failure, I guess, that pushed me to another fantastic journey. I am very grateful to my gallerist to this day, even though I wanted to kill her at that particular moment!</p>
        </div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide06_sp.jpg" /></picture><span class="caption">THE MOTHERS, 2018, C-Type Darkroom print on Aluminum, 110cm×920cm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide07_sp.jpg" /></picture></span><span class="caption">BELLA, THE LOVE BIRD, 2018, C-Type Darkroom print on Aluminum, 162cm×122cm, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide08_sp.jpg" /></picture><span class="caption">LORD MAKE ME PURE, 2018, C-Type Darkroom print on Aluminum, courtesy the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide09_sp.jpg" /></picture><span class="caption">The Mothers Gift, courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>You were shortlisted for the European Photography Award in 2017 while still doing your MA at the RCA… what was that like?</p>
				<p><span class="talker">SP__</span>Thanks for asking! One of the most amazing things about attending the RCA is the fantastic opportunities it gives you during your two years on the course. I have always been very shy about exposing myself and it was, and still is, hard for me to get into apply for awards. The top European photographic institutions organise the awards and it was a real honor to be picked alongside my classmate Jonáš Mlejnek to represent the UK and exhibit in Italy. I think it’s an award that's really necessary. At the time we were in the run-up for the UK’s referendum vote to leave the EU, so again it's a vital way for young artists to stay connected and break down the ever more substantial divides we’re seeing happening all over the world. I hope and wish for this award to live a long life. </p>
				<p><span class="talker">IL__</span>Are there are any particular references or sources of inspiration which have influenced your work?</p>
				<p><span class="talker">SP__</span>The thing about me is that I'm not very good at moving freely through networks and thoughts - I get rather entrenched in something I like and find it hard to deviate. It’s the same with music, food and people… *laughs*</p>
				<p>While I am continuously inspired and wowed by so many talented artists, especially my contemporaries, I will always hold a stanch place in my heart for Joseph Beuys and Matthew Barney. I can add Marguerite Humeau to that list now. I would love to curate a show of these three artists together. It would be breathtaking.</p>
				<p><span class="talker">IL__</span>Finally, can you tell us about what have you been working on recently?</p>
				<p><span class="talker">SP__</span>I'm working on a new solo show for the Ltd Ink Corporation guys in Edinburgh. I'm a real fan of what they are doing there. Ltd Ink is the brainchild of artist Kevin Harman. He's been a real driving force in keeping art moving in Edinburgh outside of the fringe festival.</p>
				<p>The new works are an ever-growing organism revolving around the journey of the intimate. The story of finding the missing piece to complete the ‘I.’</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/003/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/003/img/slide10_sp.jpg" /></picture><span class="caption">Scarlett Platel, Courtesy the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">Scarlett Platel (b.1987) is a British artist who assembles concepts and images as they emerge from the complex legacy of psychoanalytical and spiritual thought. Using photography, moving image and sculptural elements she reconstructs potent symbols and primitive shapes, blending them with a more perverse understanding of the everyday. With their glowing, dreamlike quality, Platel’s work seems to allow the psychic collective a country side to roam, where mundane objects are illuminated with a subtle prescience, sometimes sinister, at other times sublime. Central themes to her research and visual inquiry encompass directing her attention towards the lost internal objects that at once enable and constrain the dynamism of psychic movement. These “objects” can be found through out the world in the form of the symbolic archetype, in myths, religions and dream work.<br>
          Platel has been involved in group exhibitions and festivals in Scotland “The Same Tendency” at Summerhall, Pingyao International Photography Festival, China; Brighton International Photo Festival, UK and Fakers at the South London gallery, London, UK. Platel  was awarded The New Contemporary Art Prize, judged by Sarah McCory director of The New Contemporary Goldsmiths Gallery, London, The Metro Imaging Mentorship Award, 2018, judged by Clare Freestone, Curator of Photography at The National Portrait Gallery, London, The Labyrinth Lab and Mentorship Award and was featured in Vogue Italia’s best graduate degree shows, 2018. In 2017 she was a finalist for the European Photography Award exhibiting in Modena, Italy.<br>
          In 2020, Platel is going to have a solo show at  SOLO SHOWS Ltd Ink Gallery, The Old Ambulance Depot, Edinburgh.</dd>
					<dd class="desc">She is a recent scholarship graduate from the MA Fine Art Photography program at The Royal College of Art and also holds a BA in Critical Fine Art Practice from Brighton College of Arts and a Foundation from Falmouth College of Art.</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

