{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'journal',
		lang: 'jp',
    title: "INTERVIEW__004: In conversation with: ジェイソン・フォックス by インディア・ニールセン",
    description: "アメリカ人アーティスト、ジェイソン・フォックスによって描かれた、ボブ・マーリー、バラク・オバマやジョージ・ハリスンなどのポップアイコン達は、まるでエイリアンが第三形態へと変容していくような、狂気的で不気味な姿をしている。フォックス氏は風刺と度を超えた妄想や強迫観念との距離感を、作品を通して30年以上探求し続けている。",
		ogimage: "https://imlabor.org/journal/interview/004/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
						{
                "@type": "ListItem",
                "position": "2",
                "name": "JP",
                "item": ""+ site.url +"/jp/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "JOURNAL",
                "item": ""+ site.url +"/jp/journal/"
            },
            {
                "@type": "ListItem",
                "position": "4",
                "name": "INTERVIEW",
                "item": ""+ site.url +"/jp/journal/interview/"
            },
            {
                "@type": "ListItem",
                "position": "5",
                "name": "004",
                "item": ""+ site.url +"/jp/journal/interview/004/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="review">
	<picture><source srcset="{{ site.root }}journal/interview/004/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Saturn, 2020, oil, acrylic, and pencil on canvas, 139.7 x 140 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "004"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}<br><span class="jp">{{ item.titleJP }}</span></h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「私は、『路上』（オン・ザ・ロード）で描かれているウィリアム・バロウズや『サムライ』でアラン・ドロン演じるジェフ・コステロのような、集団に属さないキャラクターに魅了される…端から、亀裂が入っていくのを眺めているような。」</h3>
				<p class="lead">アメリカ人アーティスト、ジェイソン・フォックスによって描かれた、ボブ・マーリー、バラク・オバマやジョージ・ハリスンなどのポップアイコン達は、まるでエイリアンが第三形態へと変容していくような、狂気的で不気味な姿をしている。フォックス氏は風刺と度を超えた妄想や強迫観念との距離感を、作品を通して30年以上探求し続けている。</p>
				<p class="lead">私が6月3日Zoom越しにフォックス氏と話をした時、彼はNYで私はロンドンで隔離生活を余儀なくされていた。進歩的だと思われていたはずの世界は、今回のコロナパンデミックという非常事態によって、世界には社会階級と人種差別の不平等であふれているという事実が露呈され、不満を叫び、偏見にまみれた制度が廃止されることを求める人々の抗議活動が行われている。このような状況下で、90年代初頭から、団塊の世代（今では”世界を動かしている”人々の）の政治への関心の低さや、彼らの自己陶酔的な失敗、アメリカの広告業界、企業主導の文化などに対して作品を通して言及している、アーティストのフォックス氏の話を聞くとこができたのは非常に大きな意味があったのではないだろうか。</p>
				<p class="lead -note"><sup>*</sup>このインタビューは2020年6月3日にZoomで行われました。</p>
				<p><span class="talker">INDIA NIELSEN__</span>まず初めに、最近どのように過ごしているのか、コロナパンデミック以降の隔離生活についてお伺いできますでしょうか。</p>
				<p><span class="talker">JASON FOX__</span>私はニューヨーク州北部のポキプシーで妻（彫刻家のフーマ・ババ）と二人で暮らしています。もともと、私たちはあまり外出しないので、現在の隔離生活をあまり困難に感じてはいません。実際に、隔離中にたくさんの作品を作ることができました。今回のパンデミックを通して、アメリカの厳しい状況が浮き彫りになったのを目の当たりにして恐ろしさを痛感しています。</p>
				<p><span class="talker">IN__</span>警察官の不適切な拘束方法によって死亡させられたジョージ・フロイド氏の悲劇とそれに対して行われている抗議活動をリアルタイムで目撃しているアーティストとして、この現状をどのように感じていますか？ このような非人道的な人種差別問題や暴力に直面した時、アーティスト、特に普段アトリエで篭って制作活動をしているアーティスト達はどのように役割を果たしていくべきだと思いますか？</p>
				<p><span class="talker">JF__</span>私が所属しているNYのCanada Galleyでは、所属アーティストを動員して、Black Lives Matter運動やその他の抗議活動を支援するためのシステムを組織化しています。抗議に参加したたくさんの人たちが逮捕されている現状を目の当たりにして、ギャラリーとアーティスト達は彼らを法的に支援する活動を行う事にしました。また、今回のコロナパンデミックの影響を受けて、職を失い、住む場所を奪われた人たちがいます。私が住んでいるポキプシーで今日夕方、何千人規模の抗議デモがありました。デモに参加している人の9割が若い人達だったのは、本当に感動しました。</p>
				<p>占拠運動（ウォール街を占拠せよ）、そしてバー二ー・サンダースとアレキサンドリア・オカシオ・コルテスのAOC現象以降徐々に意識は変わってきているように思いますが、私と妻は、我々世代の政治への興味・関与の低さに対して、90年代初頭からずっと失望を感じていました。今私たちが置かれている、現状で唯一明るい兆しを上げるとするならば、アメリカの若者達が積極的に抗議運動へと参加していることです。多くの若者達がこの不当な現実に対して腹を立て、政治に対して彼らの活発な姿勢を見ることができることはとても素晴らしいことだと思います。私がコロンビア大学で教鞭を執っていた頃、当時の学生達は政治的批判などを主題にしたコンセプチュアルアートを作っていましたが、それらの作品は現実世界の政治や理論と全く結びついていなくて、私はその事に皮肉を感じていました。</p>
				<p><span class="talker">IN__</span>一概には言えませんが、多くの政治的問題を取り扱うアートは実際にはかなり寄生的なものであるように感じます。アートマーケットの中で、他のアーティストとの差別化を図るための手法のようなものではないかと。</p>
				<p><span class="talker">JF__</span>特定の名前を挙げるつもりはありませんが、「形式的な理由から、政治における自分の立ち位置を明確にしたくない」というような発言をするリレーショナル・アーティストがいます。それは決して政治芸術ではありません。それらに付随するエネルギーを搾取しているだけであって、実際には何のアクションも起こしてはいないのです。</p>
				<p><span class="talker">IN__</span>それはリレーショナルという文脈では破綻していますよね、あくまでも一方的なアプローチのように思えます。</p>
				<p><span class="talker">JF__</span>そうですね。それは、制度上はキュレーションされたファッションのようなもので、すごく表層的だと思います。私の妻はアメリカ出身ではなく、実際外国に夫婦で暮らしていたこともあります。その経験のおかげで、世界で今何が起こっているか、政治に関心を持つようになりました。しかし実際の所、私は政治活動家ではありません。ほとんどの時間を自分の部屋で一人、好きな音楽を聴いて、制作をして、好きなものを見たりして過ごしています。他人に自分の意見を無理に押しける事には気がひけるんです。</p>
				<p>もちろん政治活動家ではないからといって、寄付をしたり、抗議をしたり、意見を言ったりしないわけではありません。自分の中でできることをしています。政治的なプロンプトが私の作品の中にあるとするなら、それは私がそれを良いと思っているからに他なりません。政治的な観点から作品を制作することを面白くないと思っている作家も中にはいるかもしれませんが、それはナンセンスです。例えばオットー・ディックスの作品には彼の政治的観点が露出していますが、それが作品の良さを損なうかというと違います。良い作品は良いのです。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide01_sp.jpg" /></picture><span class="caption">Saturn, 2020, oil, acrylic, and pencil on canvas, 139.7 x 140 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide02_sp.jpg" /></picture></span><span class="caption">Drumerica, 1995, Acrylic on canvas, 45.72 × 60.96 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide03_sp.jpg" /></picture><span class="caption">Leviathan, 2019, oil, acrylic, and pencil on canvas, 228.3 x 157.2 x 3.8 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson </span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide04_sp.jpg" /></picture><span class="caption">Dragon Turns On Itself, 2019 acrylic and pencil on canvas, 139.7 x 139.7 x 2.5 cm: Courtesy of David Kordansky Gallery, Los Angeles, Photography by Lee Thompson</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide05_sp.jpg" /></picture><span class="caption">Fall, 2019, Oil, acrylic, pencil, collage and aluminum foil on canvas, 228.60 × 157.48 × 3.81 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>作品の多くは近年のアメリカ政治史を参照していますよね。赤・白・青の星条旗カラーで描かれていたり、『Star Sta』（2006年）では、賢者（『マタイによる複音書』に登場する占星術学者）に見える人物が、クシャクシャに分解されて星条旗の一部として描かれています。ドナルド・トランプ氏がアメリカ大統領に選ばれた2016年にカナダのギャラリーで開催されたグループ展『Make Painting Great Again』にも参加されていますが、2016年以降のアメリカ政治の急激な変化を考慮した上で、絵を描くことはその変化を抑制したり捉えたりするための有効な手段になるのでしょうか。</p>
				<p><span class="talker">JF__</span>湾岸戦争が始まった90年代初頭から、この国の権力構造に対して私は極めて批判的に考えています。私が抱く帝国主義やマッチョな家父長制への嫌悪感は、私の作品を見てもらえたらわかると思いますが、しかし実際の所、作品を通して政治的・概念的なところへとアプローチしようとしている意図はありません。絵画制作をする時、私は政治的な観点やコンセプトよりも自分の感覚的なところから始めます。筆が進み始めてから、絵を政治的な方向へと進めた方がいいなと判断した場合はそっちへ進めることもあります。</p>
				<p>トランプの存在はアメリカにとって非常に災難であると言えますが、それと同時に彼の存在はこの国が直面している大きな問題を浮き彫りにしています。私は団塊の世代の終わりに生まれましたが、今この国が抱える問題の多くは団塊の世代に責任があると考えています。60年代に一世風靡したヒッピー文化の名残か、団塊の世代には傲慢さがある。私は同世代の人間と政治についての議論をすることがありますが、彼らに誰に投票するかと尋ねると、大抵はジョー・バイデンがその中間。非常に考え方が保守的なんです。そのくせ自分たちではその事実に気付いていない。1972年のジミ・ヘンドリックスのコンサートでブラジャーを燃やしていた自分たちを未だにカッコイイ存在だと思っているのでしょうか。それに、彼らの多くは今アメリカ国内で行われている進歩的な政治活動や抗議運動に脅威を感じているように思います。結局染み付いてしまった固定概念を取り払うことができないのです。</p>
				<p>団塊の世代に蔓延した「望みは全て叶う」という思想は災い以外の何物でもなく、多くの人がいまだにその神話を信じて生きています。私はジョージ・ハリスンの絵を今まで何枚も描いてきましたが、その過程で、この「望みは全て叶う」という思想の過ちに気づきました。私がジョージ・ハリスンをモチーフとして面白いと思う理由の一つに彼がこの思想の過ちを象徴していると考えたからです。ハリソンは非常にスピリチュアルな人で瞑想やインドの神秘主義に陶酔していて、その反面、パーティーに参加しては不特定多数の女性と関係を持ち、信じられないほど贅沢な生活を送っていました。要するに、この「望みは全て叶う」という思想は、言い換えれば「私は神秘的でスピリチュアルな人間であると同時に金持ちのプレイボーイのように生きる事もできる」ということです。団塊の世代の人間の多くにはそういった矛盾や偽善の思想が刷り込まれていて、更に災難な事にそういう彼らがこの世界を動かしているのです。彼らには権力があり、富の大部分を所有し、その事実がこの世界／現状が変わることができない要因の一つなのだと思います。この国は自己批判性に欠いて神話の世界から抜け出すことのできない人たちの集まりによって運営されているのだと思います。</p>
				<p>私の作品の多くはこの国に蔓延する妄想・強迫観念の文化、人間が持つ作られたイメージやブランド力が人間を支配することを主題に作られています。私は以前知り合いとオバマと彼の経歴に関しての議論を交わしたことがありますが、多くの人がオバマのクールな側面、例えばJay-Zと友人であるとか、そういう事しか認知しておらず非常に驚きました。Jay-Zとつるんでいるのだからオバマはクールに違いないと勝手に判断するのです。実際にオバマはブッシュ政権が成し遂げられなかったことをしたのは間違いないのですが。何が言いたいかというと、イメージや表層的な要因だけでその人間を判断する人が多いということに興味を持っています。</p>
				<p><span class="talker">IN__</span>ピエロのつけ鼻が描かれている作品が多いですが、普段の作品と比べるとあまり風刺的な要素が内包されていないように感じます。つけ鼻をモチーフとして使うようになったきっかけを教えてもらえますか？</p>
				<p><span class="talker">JF__</span>ペインターとして常に魅力的な画面を作る方法を探しています。ピエロの鼻は画面の中でのアンカー的な立ち位置として登場させています。昔、ペインターのバーネット・ニューマンが自分で描いた赤い絵を血液に見立てていたという文献を読んだことがありますが、その感覚と近くて、私にとってのピエロの赤いつけ鼻は血に染まったスポンジのようなものです。</p>
				<p><span class="talker">IN__</span>先ほど、一向に変化のない現状（政治・差別）を目の当たりにしてシニカルになってしまうと言っていましたが、今コロナパンデミックやBlack lives Matterの抗議活動が盛んに行われているこの不安定で変化を求める社会の中で、風刺的な作品を作ることに関してどのように感じているのでしょう？</p>
				<p><span class="talker">JF__</span>私の描く風刺的な絵画は抗議そのものというよりも、その出来事の目撃者であると捉えています。これまでの私の作品は非常に悲観的で、過度に誇張されたように見えていたかもしれませんが、現実の世界が私の絵画以上にめちゃくちゃになってきてしまって、私の作品に対して共感を覚える人が多くなってきているように感じます。そんなことは無いと信じたいですが。</p>
				<p>私が特定のポップアイコンや有名人等を作品のモチーフとして使用するときは、そのモチーフが持つ意味を深く掘り起こしています。私はアンディー・ウォーホルが描いた有名人のポートレイトシリーズの大ファンなのですが、彼の手放しに描かれているイメージを受け入れたり、感情を度外視して文化を反映したような作品を作る手法は、あまり自分には合っていないように感じています。私は過度な活動家でも、政治的でもありませんし、結果として私の作品が現代社会の問題を反映しているだけです。</p>
				<p><span class="talker">IN__</span>目撃者になるためには、自身が社会の枠外、すなわちアウトサイダー（部外者）の立場に立つ必要があると思います。アンディー・ウォーホルは極端に自分が社会の中心的存在、インサイダー（当事者）になってしまったことによってある種の疎外感や息苦しさがあったのではないかと思います。その結果、彼は枠の外へとまた戻ろうとしましたよね。アーティストにとって内側と外側のバランスを見極めることは非常に大事であるように感じますが、‘内側’とコミュニケーションをとって、自分の作品を社会で発表することは、現代のアーティストの仕事の内の一つであると思いますか。実際に自分の作品がギャラリーや、公共の場で多く発表され、アーティストとして自分がインサイダーよりになってきたという事実についてはどのように感じていますか？</p>
				<p><span class="talker">JF__</span>そうですね、実際、ここ2、3年で作品を発表する機会は増えてきたように思いますが、長い事アウトサイダーというか社会の外側にいたので、その感覚は自分のDNAの一部のように染み付いてしまっているように感じます。私が住んでいる町は本当に人が少なく、コロナパンデミック以前も、私は所謂“シーン”を作っているアーティストではありませんでした。ですが、“シーン”を作っている人たちの知り合いは多く、私自身は内側と外側の境界線をフラフラしているような感覚です。私は自分の事をアウトサイダーアーティストとは思っていませんし、世俗から完全に切り離されているとも思っていません。しかし、同時に私のライフススタイルは現状身の回りにあるもので完結しています。それに、有名アーティストのライフスタイルにも、セレブの暮らしにも興味がありません…アーティトとして人に見てもらう前提で作品を作ることは重要なのかもしれませんが、本音を言うと、アーティストは誰にも見せずに、誰の意見も聞かずに作った方がいい作品ができるのではないかと思っています。</p>
				<p><span class="talker">IN__</span>90年代前半以降から風刺や皮肉を主題に作品制作をされていますよね。作品の多くは過度に誇張され狂信的に描かれていますが、その“過度”であることが皮肉をより引き立てクールに見せる要因であるようにも思えます。またあなたの作品を見ていると、クリス・マーティンの作品にもあるような、スピリチュアルで魔術的で、カオスマジック的な印象を受けますが、それは意図しているのでしょうか？</p>
				<p><span class="talker">JF__</span>そうですね。力のある作品は、ある程度スピリチュアルでカオスマジックの要素が内包されているべきだとは思います。クリス・マーティンもそうですが、ドナルド・ジャッドもそんな感じではないでしょうか。ドナルドの作品は、極端で狂っている反面、その要素が整然とした形で画面に描かれている。本当に面白いアーティストが作る作品には、見る人に魔法をかけれるような力があると思うんです。アーティストは自分が持っている執着や脅迫観念を表現することのできる、自分で作り出したミクロの世界の中で生きようとする傾向があります。それはアーティストとしては至極普通のことで、ピカソやロバート・クラム、ルイーズ・ブルジョワのようなアーティストにもその傾向が見られます。彼らは各々が自分で作り出した世界で機能している。今、世界的に情勢が不安定な中で、一人一人が政治に対して議論する事を求められています。しかし、アーティストとしてその議論やそれに対しての思想は、個人的なミクロの世界へと吸収すべきだと考えています。そして、そこで蓄積され凝縮された思想が良い作品を作るために意味のあるものへとなっていくのでしょう。制作を通して目撃者となり、うまくいけばその作品に共感を覚える人がいるでしょう。それがアーティストとしてできる仕事だと思っています。</p>
				<p><span class="talker">IN__</span>基本的に油絵やアクリル絵の具を使って絵を描かれていますが、鉛筆や木炭、アルミ箔などの素材も使うことがありますよね。個人的に90年代初頭寝袋を支持体として使って描かれた作品が気になるのですが、この作品についてお話を聞いてもよろしいですか。</p>
				<p><span class="talker">JF__</span>単純に寝袋が安かったからなんですが、チャックをつなぎ合わせると大きくできるので、使い始めました。結果、寝袋の表面の材質が面白くて通常のキャンバスだと出せない質感を表現できました。MOMAに所蔵されているロバート・ラウシェンバーグの『Rauchenberg’s bed』という作品にも影響を受けましたね。</p>
				<p><span class="talker">IN__</span>Dr. DreがN.W.A.にいた頃のインタビューを読んだことがあるんですが、その記事には、彼は制作中、自分が尊敬するプロデューサーやミュージシャンの作品は型にはまって影響を受けすぎてしまうため、参照しないようにしていると書かれていました。画家のジョー・ブラッドリーとの対談記事の中で、あなたはフィリップ・ガストンのことを追い抜かなければいけない“偉大な影”であると話していましたよね。ガストンの作品の中で、「自分でやりたかったな。」と感じたものはありますか？ また当時若手アーティストだったあなたはどのようにして”偉大な影“のフィリップ・ガストンと自分の作品との差別化を測ろうと試みたか教えていただけますでしょうか。</p>
				<p><span class="talker">JF__</span>ガストンの作品にはコミックが持つグラフィカルな物語性とニューヨーク・ペインティング・スクール・チョップが見事に融合されています。私が“偉大な影”に引っ張られない為、最初に考えついたのは独自性を作るために、イメージをより過激にしようということです。スキャナーズや遊星からの物体Xなど、80年代の古典的なホラー映画などからインスピレーションを得ました。そこから徐々に自分のスタイルを確立して、昔と比べると暴力的要素を過剰に組み込む必要性は薄れてきていると思います。</p>
				<p><span class="talker">IN__</span>ブラッドリー氏との対談で、あなたはレファレンスをバラバラとなった自分の身体に見立てていましたが、それは、そのパーツ（レファレンス）を拾い集めて一つに統合することで絵を完成させるという意味なのでしょうか？ アプロプリエーションについてどのように考えていますか？</p>
				<p><span class="talker">JF__</span>アーティスト間でアプロプリエーションという手法は非常によく使われていると思いますが、私は特にその手法を掘り下げようと試みたことはありません。私がポップアイコンや政治家のイメージを使用するのは、アプロプリエーションというよりも、フランシス・ベーコンが特定の写真・イメージに固執して、個人的に解釈し、モーフィングして、絵画にいい意味でのアマチュア性を保たせようとした感覚に似ています。私はそれぞれの絵画にそれぞれの主題・問題を見出し向き合っています。その問題を明確にし、解決するために必要であれば、イメージに強弱をつけたり、違うアプローチをとることもありますが。基本的に描く前から大まかな完成予想図はあるのですが、それとは異なったものができる場合もあります。</p>
				<p><span class="talker">IN__</span>あなたの絵画に登場する人物やオブジェクトは、言い方は良くないですが、まるでふざけているのではないだろうかと思うほどエキセントリックに描かれていますよね。そのせいでアーティスト活動を始めた当時、アウトサイダーアーティストしてカテゴライズされることはありましたか？ また、どのようにして自分の絵画のコンセプトを鑑賞者に伝えたのでしょうか？</p>
				<p><span class="talker">JF__</span>私は、『路上（オン・ザ・ロード）』で描かれているウィリアム・バロウズや『サムライ』でアラン・ドロン演じるジェフ・コステロのような、集団に属さないキャラクターに魅了されてきました…端から、亀裂が入っていくのを眺めているような。私の作品がどのように解釈されるかについては全く気にしていませんし、それは私の仕事ではないと思っています。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide06_sp.jpg" /></picture><span class="caption">Untitled, 2016, Oil, acrylic, and pencil on canvas, 121.92 × 91.44 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide07_sp.jpg" /></picture></span><span class="caption">Drosion, 1993, acrylic on sleeping bags,193 x 335.3cm: Courtesy of Jason Fox</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide08_sp.jpg" /></picture><span class="caption">The Hitman's Bodyguard, 2017, Oil, acrylic and pencil on canvas 106.68 × 91.44 cm: Courtesy of Jason Fox and Canada, New York, Photography by Joe DeNardo</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide09_sp.jpg" /></picture><span class="caption">Untitled, 1999, acrylic on canvas, 76.2 x 60.9cm: Courtesy of Jason Fox</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide10_sp.jpg" /></picture><span class="caption">Surely, 2020, oil, acrylic, and pencil on canvas, 228.9 x 157.5 x 3.8 cm: Courtesy of David Kordansky Gallery, Los Angeles Photography by Lee Thompson</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>あなたの作品には様々な美術史のレファレンスが見られます。絵画の中に絵画を描いたり、未完成のキャンバスに自分の肖像画を描いている様を描いていたり。あとは金網のようなモチーフを使用している作品では、モダニズムのグリッド、チャック・クローズの手法を参照しているように見えますが、この作品はどのようにして描かれたのでしょうか？</p>
				<p><span class="talker">JF__</span>私は以前から抽象画の要素を自分の作品に取り入れる試みをしていて、特に、アグネス・マーティンは私の好きな画家の一人です。彼女の鉛筆と絵の具を薄く使う手法には大きな影響を受けています。グリッドやオプアートにおける色の選択や、その他の抽象画の手法を参照し自分の作品の有機的な身体イメージの中に取り入れる事により、作品の中にSFの要素を組み込むことができたように思います。私の作品『chain iink』に関しては、最初に金網を描いてその網目の中をチャック・クローズのような描き方で埋めていっています。また、過激なイメージを隠すためにモザイク的な役割でグリッドの手法を用いることもあります。私は絵画の中に存在する“絵画”のアイデアにずっと惹かれていて、『all-red』の絵なんかはマティスの作品の事を考えながら描いたものです。あと、ピカソの絵画は私にとって永遠に飽きることのないインスピレーションの源になっています。ピカソは、ノンストップサイボーグ画家のような存在としてみています。また、映画『ドリアングレイの肖像』の中での、絵画を生き物もしくは超自然物体であるという思想にとても共感します。</p>
				<p><span class="talker">IN__</span>グリッドの手法を使って過激な箇所をカバーする事により、モザイクで隠されているような印象を受けますね。体の一部が切断されている身体を描くのと同様にモザイクを用いることで、イメージをよりグロテスクなものに変化させることが出来るように思います。</p>
				<p><span class="talker">JF__</span>当時近しい友人であったアーティストのアレックス・ブラウンは、幾何学的なグリッドを用いたフォトリアリズム的な作品を作っていました。一緒に展示をしたりしていたので彼の作品を見る機会が当時よくあったのですが、その彼のグリッドを用いた作品を見て思ったのがモザイクを使えば今までずっと描きたかった、過激なイメージ（性器等）を絵に描いてもいんじゃないかと思ってしまったんです。それは、結果として、自分の作品が商業的なものから遠ざかってしまう理由の一つになってしまいましたが。</p>
				<p><span class="talker">IN__</span>それを商業的戦略として考えていたんですか？</p>
				<p><span class="talker">JF__</span>ええ、たくさんある中のひとつです。</p>
				<p><span class="talker">IN__</span>その戦略が上手くいかなかった結果、その手法は見切ったんですか？</p>
				<p><span class="talker">JF__</span>最近まで私の作品を買ってくれるのは同業者、主にアーティストだけでした。彼らが私に売ってくれることはありませんでしたが（笑） 絵が売れないので、絵をとにかく青くしたり、ペニスを描かないようにしたり。結局何を試しても変化がなかったので、商業性を気にするのをやめました。</p>
				<p><span class="talker">IN__</span>とにかく絵を青く塗る…（笑） 非常に変わった戦略だと思いますが…なぜそのような発想を思いついたんですか？</p>
				<p><span class="talker">JF__</span>（笑） 私は長い間、NYでアレクシス・ロックマンという画家のアトリエをシェアしていました。当時、彼は美術商のジャン・エンツォ・スペローネと仕事をしていて、ジャンがよく私たちのアトリエに訪ねてきていたのですが、私たちのアトリエは天井まで届かない間仕切りで仕切られていたので、アレクシスとジャンの会話が何年もの間ずっと丸聞こえだったんです。その会話の中で特に忘れられないのが、ジャンがアレックスに「もっと青を！もっと青を入れろ！」って言っていたことです。</p>
				<p><span class="talker">IN__</span>売れる絵を作ろうとするのを辞めたのはいつ頃ですか？ また、作品が世間に評価されるようになったのはカナダギャラリーでの展示をするようになってからですか？</p>
				<p><span class="talker">JF__</span>多分、Feature Galleryの所属でなくなって、その後Peter Blum Galleyで展示をするようになった頃が転機ですかね。それまでよくモチーフとして絵に登場させていたキャラクターやアイコンに依存するのをやめて、作品の方向性をシフトした頃から徐々に忙しくなってきたように感じます。多分、考え方が柔軟になったんでしょうね。ちょうどその頃、今暮らしているポキプシーにも越してきて、ダナ・シュッツ、ジョー・ブラッドリー、デイビッド・アルトメイドなどの若いアーティストと交流を持つようになりました。彼らとは偶然出会って友人になったのですが、ダナ・シュッツは私がコロンビア大学で教えていた時のティーチングアシスタントだったのでそれをきっかけに親しくなりました。かなり昔のことなので今の若い人たちは知らないかもしれませんが、90年代後半から2000年代初頭にかけて、絵のスタイルが一極化したような時期があって、みんなジュリー・メレツのような絵を描いていましたね。それが必ずしも悪いことだとは言いませんが、私も当時のその波に飲み込まれているような気がして、それが自分の作品を変えたいと思うきっかけになりました。その頃、その波に乗っていない若いアーティストたちと知り合いになれたことは、非常に刺激的でラッキーなことだったと思います。それ以降若手作家の型にはまらないスタイルに関心をもち、それが自分の制作の幅を広げる事にもつながりました。</p>
				<p><span class="talker">IN__</span>あなたの作品は音楽や映画などから参照されたイメージを組み合わせて、異質で歪んだ、まるで第三形態のイメージを作り出しているように見えますが。作品における抽象、そして具象との関係性、それらをどのように組み合わせているのかについてお伺いしてもいいですか？</p>
				<p><span class="talker">JF__</span>私はサイドプロジェクトとして普段展示することはない、抽象画を描いています。抽象画を描くことは私にとって純粋に自分の視覚を透析するようなものです。いつかどこかで抽象画作品を発表できる機会があればいいなと今は考えています。昔、抽象と具象をごちゃ混ぜにして描いた作品を何回か展示したことがありますが、あまり成功した展示とは呼べませんでした。私たちは美術館やギャラリーで行われている一貫性のあるモダニズム的な見せ方の展示に慣れてしまっているように感じます。私の作品には過剰主義的な要素があるので、そのようなスタイルの展示で作品を発表するときはトーンダウンする必要性がある事に気づきました。</p>
				<p><span class="talker">IN__</span>情報が多すぎる事に対して批評を受けたりもしたんですか？</p>
				<p><span class="talker">JF__</span>絵画に詰め込まれた情報が多い事に対しての批評はさほど重要ではなくて、それより私の作品を青春的、悪くいうと青臭いと捉えてしまう人がいることの方が自分にとっては問題でした。私の絵を見た人は、モーターヘッドを聴きながらハイになっている若手アーティストが描いたんだろうと勘違いしていて、その事実に対しては非常に苛立ちをおぼえました。でも、作品を見にくる大抵の人は作品を見るよりも、作品に関して描かれている情報を読むという事に気づきました。何を言いたいかというと、視覚的に洗練されている人はそこまで多くないという事、そして彼らにとっては絵画の表面より主題が書かれているプレスリリースの方が大事だという事です。主題というのは私にとってはただの形式に過ぎなかった。さっきガストンについての話を少ししましたが、彼は作品によって空間を支配することを試みている。エリザベス・ペイトンの「このバンドが好きだから描いた」的なものとは異なりますよね。ガストンはこのモチーフが好きだから描いている、のではなく、あくまでも空間を支配する力を持っているからその絵を描いているのです。この考え方を自分の作品にも反映して、自分が面白いと思ったイメージを組み立てていくようになりました。</p>
				<p><span class="talker">IN__</span>共感を得やすい主題を扱っているコンセプトベースのアーティストによって作られた作品の方がより社会に受け入れられやすいのは理解ができます。基本的にそのような作品はステイトメントが明確ですし、説明しやすいですよね。</p>
				<p><span class="talker">JF__</span>そうですね。自分はそうゆうタイプのアーティストではないので、以前は、「今は森の中で道に迷っているだけなので、いずれ誰かが見つけてくれるだろう。」と思っていました。そして、実際その通りでした。自分がいいと思った作品を作り続けていれば、遅かれ早かれ誰かの目に引っかかると思います。</p>
				<p>願わくば、カーメン・ヘレーラのように90歳になるまで待つ必要がないといいですが。カーメンは、彼女の作品が注目されるようになるまで60年かかりました。彼女は素晴らしい作品を作り続ければいつかは認められるという完璧な例だと思います。アーティスト本人の社会性に問題があって孤立していたにせよ、そのほかに不条理な理由があったとしても、続けていれば、遅かれ早かれ、人は良さに気づくはずです。すごく陳腐に聞こえるかもしれませんが、アーティストはその事を信じて突き進む必要があるのです。</p>
				<p><span class="talker">IN__</span>画家の多くは自分の中でお気に入りというか、基準となるモチーフやイメージがあって、それを繰り返し描く事によりそのイメージと自分との独自の関係性を構築していくように思います。そのイメージ・モチーフが持つ本来の意味は二の次で、自分の中でのそのイメージに特別な意味を持たせるというか。例えばジョイス・ペンサートやキャサリン・バンハートの作品の中で漫画のキャラクターをモチーフにして描かれた作品がありますが、そのキャラクターはあくまでも彼女たちの作品の主題を強固にするために選ばれているわけであって、その漫画について言及されている作品ではありませんよね。</p>
				<p><span class="talker">JF__</span>そうですね。私にとって絵の具の塗り方とイメージ・モチーフに関係性をもたせようとしています。制作の中で一番楽しい過程ですが、同時に、絵の方向性や全体を決めるための一番難しくて重要な過程でもありますね。最近、批評家のデイビッド・シルベスターがフランシス・ベーコンにインタビューしている記事を読んだのですが、その中でベーコンがこのイメージとの関係構築について語っていて非常に参考になりました。</p>
				<p><span class="talker">IN__</span>シルベスターとベーコンのインタビュービデオは見ましたか？</p>
				<p><span class="talker">JF__</span>まだ全部見ていないです。ベーコンがエジプトの古代美術に関してのスライドを見せながら語っているクリップは見ましたが、すごかったです。</p>
				<p><span class="talker">IN__</span>評論家のジェリー・サルツは、あなたの作品を「パレオフューチャー（古風な未来図）」と表現しています。私はその意味を、あなたの作品は直線的な時間概念の中に存在していないように見える、という風に解釈したのですが。古代的にも未来的にも見えるというか。特定の時間や場所などを作品の中で暗示させるためのモチーフ選びなどはしていますか？またそれを強くするための手法などはありますか？</p>
				<p><span class="talker">JF__</span>私は映画的なキャラクターデザインの仕方に興味が以前あって、古代と未来、両方に存在するキャラクターを作り出そうとしていました。これはランドスケープアーティストの、ロバート・スミッソンが言っていたことがきっかけです。</p>
				<p>NYのDia:Beacon（ディアビーコン）でウォーホルが有名人のポートレイトをコミッションで描いた絵画作品を見た事が、架空のキャラクターよりも著名な人物をモチーフとして使うきっかけになりました。これらのウォーホルのポートレートシリーズを、私は先ほどお話しした、60年代の遺物や団塊の世代の失敗を象徴する作品として捉えています。</p>
				<p><span class="talker">IN__</span>ロバート・スミッソンが、過去の出来事に関連する“古いモニュメント”は過去を忘れない為に存在し、一方“新しいモニュメント”は未来を忘れさせる（想像を奪う）為に存在する、と書いているのを読んだことがあります。<br>
				アーティストは昔と比べると、より自己言及的になって己を絞り出すように主題を見つけ出そうとしているように感じます。未来に繋がるような新しいイメージは存在すると思いますか？</p>
				<p><span class="talker">JF__</span>何が面白いかというと、アートワールドにはここ何十年もの間、大きな変化がないということです。ポストモダンアートの時代から、アーティストの主題が個人的な問題へとよりフォーカスされるようになったのが70年代後半か80年代初頭からだと思います。ポストモダニズム以降、新たな”イズム”は誕生していないと言えるでしょう。リレーショナルアートはコンセプチュアルアートの派閥の一つであると思っていますし。ピーター・ソールがニュー・ミュージアム・コンテンポラリー・アートの学芸員にした、素晴らしいインタビュー記事があるのですが、そこで今のアートワールドには特定のスタイルは存在していないとか書かれています。アーティストはどのようなスタイルを使ってでも自分の絵（スタイル）を完成させるものだと。それに関して私は全く同感です。絵を描いている時、クリストファー・ウールやアグネス・マーティンやA・R・ペンクの事を思い浮かべることもありますが、彼らは異なるスタイルを持った異なるアーティストであって、私もまた彼らとは異なるスタイルを持ったペインターです。ゲームみたいなものです。このゲームを攻略するための戦略を常に模索しています。他の素晴らしいアーティストの作品はあなたの目の前に広がるハードルのようなものであって、あなたはアーティストとしてそれを飛び越えて進む必要があるのです。</p>
				<p>新しいイズムや主義の文脈を作りださなければいけない時代が実際どうだったのかはわかりませんが、多くのアートはそう簡単にカテゴライズされるものではないと思います。様々な選択、テクニック、スタイルを渡り歩き、自分に合ったスタイルを確立させることは退屈で、膨大な作業だと思いますが、私が考える偉大なアーティスト達のほとんどは新しいものから歴史的なものまで常に全ての時代のアートを見ていて、精通しています。</p>
				<p><span class="talker">IN__</span>たぶん、今のアートワールドは前に進むというよりも、横に進み、これまであまり重要視されていなかったアーティストやスタイルを認識して吸収することに焦点を当てているように感じます。直線的な物語というよりは、ネットワークの幅の拡大ですね。</p>
				<p><span class="talker">JF__</span>今のアートワールドが昔より包括的になったことに対しては肯定的に捉えています。</p>
				<p><span class="talker">IN__</span>最近はどのような活動をされていますか？</p>
				<p><span class="talker">JF__</span>色々と試しています。今は、大好きな昔のニューヨーカーコミックとヘレン・フランケンサーラーを組み合わせて白黒の絵を描いています。あとは、ジョニ・ミッチェルとドラゴンを組み合わせたり、ボブ・マーリーとオバマを組み合わせた絵などを描いています。</p>
				<p><span class="talker">IN__</span>若手アーティストへのアドバイス等あったら教えてください。</p>
				<p><span class="talker">JF__</span>アートを見たり、知識をつけることに貪欲になりましょう。映画を見たり、本を読んだり、とにかく、様々な情報を吸収して、より多くのアーティストに会って話をすればするほどいいと思います。こんな事をいうと、60代のブーマーのようで嫌ですが、たくさん知識を養ってください。あとは、デヴィッド・ホックニーも言っていましたが「とにかく作れ」です。</p>
				<p>インスタグラムなどでダナ・シュッツやジョー・ブラッドリーのスタイルを模倣した作品を何千枚も見ました。私がアドバイスできるとするなら、オリジナリティは幻想ではなく、存在するという事です。というか、少なくとも独創性を持った作品を作ることは可能だと思いますし、大事なことだと思います。今の若手アーティストはオリジナリティなんて存在しないと教え込まれている人が多いですが、私は同意できないですね。</p>
				<p>昔教授が「アートキャリアを作るための特定の方法なんかない、全てのアートキャリアは異なる」と言っていて、いいアドバイスだなと思いました。アートを作る方法、アーティストになる方法は一つではないのです。</p>
				<p><span class="talker">IN__</span>作品に関して、これまでずっと試したかったけれどまだ手がつけれていなことはありますか？</p>
				<p><span class="talker">JF__</span>複数の人物を一つの画面に描くことです。先ほどフランシス・ベーコンの話が出てきましたがベーコンもこの問題に言及していて、具象画家としてイラストレーション的になりすぎず、アマチュア感を出さず、複数の人物を絵に登場させることは非常に難しいことです。なので、これは挑戦したいこととして自分の中にずっとあります。</p>
				<p><span class="talker">IN__</span>今までの手法を一回フラットにして、また新しい手法を手に入れようとしているんですね。</p>
				<p><span class="talker">JF__</span>どうやったら上手くいくか、まだ考えている途中ですけどね（笑）</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/004/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/004/img/slide11_sp.jpg" /></picture><span class="caption">Untitled, 2020. oil, acrylic, and pencil on canvas 106.7 x 92.1 x 2.9cm: Courtesy of David Kordansky Gallery, Los Angeles Photography by Lee Thompson</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">ジェイソン・フォックスは30年以上にわたり、個人的でユニークなビジョンを描き続けている画家である。彼の描くハイブリッドな肖像画には悪魔、天使、ポップスター、死んだペット、政治家などのキャラクターが繰り返し登場し、それらはマーベルコミックやロックアルバムなどの資料を借用しながら、様々な画風や美術史の手法を駆使して制作される。<br>
					ジェイソン・フォックス（1964年ニューヨーク州ヨンカーズ生まれ、ニューヨーク州ポキプシー在住）はクーパーユニオン（ニューヨーク）で美術学士号、コロンビア大学（ニューヨーク）で美術修士号を取得。Canada（NY）、David Kordansky（LA）、Almine Rechギャラリー（ブリュッセル）などで主に作品を発表している。最近のグループ展に、『Samaritans』Eva Presenhuber Gallery（NY） 、『Animal Farm』Brant Foundation Art Study Center（コネティカット）等がある。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">インディア・ニールセン</dt>
					<dd class="desc">インディア・ニールセンはロンドンを拠点に活動するイギリス人アーティストである。スレード美術大学でファインアートの学位を取得後、ロイヤルカレッジオブアートに進学し、絵画科の修士号を取得した。主な展覧会に『Seer Kin Lives』ジャックベルギャラリー（ロンドン）がある。大学院を卒業以降はアーティストのIda Ekbladに従事した。また2019年にはthe a-n art Writing Prizeにノミネートされるなど、作家以外の活動も多岐に渡る。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

