{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__012: Interview with: 室井悠輔",
	description: "室井悠輔は絵画や彫刻を軸としたインスタレーションを主に制作している作家である。室井の作品は時に展示空間を埋め尽くすほどの膨大な量に及ぶが、そこに存在しているのは彼自身の主張や自己顕示ではなく、何かに抵抗するような、あるいは何かから逃れ続けようとする彼の美術に対する姿勢のようなものである。",
	ogimage: "https://imlabor.org/journal/interview/012/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
							"@type": "ListItem",
							"position": "1",
							"name": "TOP",
							"item": site.url + "/"
            },
						{
							"@type": "ListItem",
							"position": "2",
							"name": "JP",
							"item": site.url + "/jp/"
            },
            {
							"@type": "ListItem",
							"position": "3",
							"name": "JOURNAL",
							"item": site.url + "/jp/journal/"
            },
            {
							"@type": "ListItem",
							"position": "4",
							"name": "INTERVIEW",
							"item": site.url + "/jp/journal/interview/"
            },
            {
							"@type": "ListItem",
							"position": "5",
							"name": "012",
							"item": site.url + "/jp/journal/interview/012/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/012/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "012"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「アール・ブリュットの作家たちは美術大学に行かなくても‘それ’を描けているのに、自分が美術教育を受けた上でそういうものを描くのはすごく嘘くさい。だから自分の居場所を客観的に見た結果、アカデミックな現場なりのアール・ブリュットを目指すことにしました。「自由の錬金術」はそういったジレンマを解決したくて制作しました。」</h3>
				<p class="lead">室井悠輔は絵画や彫刻を軸としたインスタレーションを主に制作している作家である。室井の作品は時に展示空間を埋め尽くすほどの膨大な量に及ぶが、そこに存在しているのは彼自身の主張や自己顕示ではなく、何かに抵抗するような、あるいは何かから逃れ続けようとする彼の美術に対する姿勢のようなものである。</p>
				<p class="lead">そうした彼の姿勢の根底にあるのは、常に自身の表現に対して向けられる懐疑的な眼差しと、そもそも表現行為とはいったい何なのかという探究心なのではないかと今回のインタビューを通して感じた。</p>
				<p class="lead">本インタビューでは作家が特に強い影響を受けたというグラフィティやアール・ブリュット、それらに影響を受けながらも美術大学というアカデミックな場所で制作を続けていくという矛盾、そしてその矛盾がどのように彼の作品を変化させていったのかについて話を聞くことができた。</p>
				<p><span class="talker">IM LABOR__</span>室井さんの作品を見るたびにそのスケール感に圧倒されます。一つの展示で見せる作品の物量がとにかく尋常じゃないですよね。インスタレーション作品で使用した絵画や彫刻などを以降のインスタレーションで再利用することはあるのでしょうか？</p>
				<p><span class="talker">YUSUKE MUROI__</span>たまに出てくることもあるんですけど、基本的には一回作った作品は見ないっていう状態になって…前の作品を見返すと、そこに引っ張られてしまうような気がして、一回全部隠してしまいます。失敗作も加筆しないっていうか。したい気持ちはあるんですけど、展覧会の搬入が締め切りという意識が自分の中にあります。ただ最近は、作品がどんどん溜まっていってしまうので、量産はそろそろ…</p>
				<p><span class="talker">IL__</span>（笑） でも、室井さんの作品にとって物量やスケール感は重要な要素だと思うのですが、そのあたりはどう思いますか？</p>
				<p><span class="talker">YM__</span>そうですね。もの1個1個には価値の差があると思いますが、同じ空間にインスタレーションとして並べることで、それぞれの価値の差をなくしていくような感覚があります。あとは、何かすごく思い入れのあるものがあるとしたら、それに付随するものを一緒に展示して、結果的にボリュームが出るみたいなところはあります。</p>
				<p><span class="talker">IL__</span>『第21回岡本太郎現代芸術賞』展の入選作品「平凡な芸術家（仮）は本物の芸術家たり得るか。（すべてを最初から始めたい）（2018）」では、鉛筆デッサンのようなものが無数のドローイングや彫刻などと並列にインストールされていますが、これはどういった展示だったのでしょうか？</p>
				<p><span class="talker">YM__</span>この時は幼少期に描いたものから、今描いている絵やそれまでに描いたものを全部同じ空間に展示しました。展示では作品の横に6とか18とか番号をふったシールが貼ってあって、その年齢で描いたっていう設定にしてあるんですけど、それはでっちあげです。本当にその年齢で描いたものもあれば、過去のものに今の年齢が貼ってあったりします。全部ぐちゃぐちゃにして、新しい個人史みたいなものを作ろうとしました。 <br>タイトルは、ちょっと恥ずかしい感じなんですけど。</p>
				<p><span class="talker">IL__</span>でも、室井さんの作品タイトル実はとても好きです。例えば卒業制作の「自由の錬金術」とか、素晴らしいなと思っていて。</p>
				<p><span class="talker">YM__</span>このタイトル、実は1997年に日本を巡回したジャン・デュビュッフェ展の図録に寄せられたポンピドゥセンター・学芸員のテキストタイトルから引用しました。なので、私の実力とは言い難いものです。ジャン・デュビュッフェは私が最もリスペクトしている作家で、この時の私の作品がただ奇を衒っているだけではないことを示すためというのもありますが、彼の後に続くという意思表示のためにも流用しました。</p>
				<p>ほか、タイトルの決め方は、電車に乗っている時などにiPhoneで展示のためのメモ欄を開いて、そこで思いついた言葉を日常的に残したりしながら、締め切りの直前までに最も落ち着きが良いワードをタイトルにします。基本的にタイトルがあってものを作り始めるっていうよりは、ものを作ることと同時進行的にタイトルを考えていきます。タイトルも作品と同じで、こねるように作っていきます。</p>
				<p><span class="talker">IL__</span>なるほど。インスタレーション全てで一作品という意識が室井さんの中にはあるのでしょうか？</p>
				<p><span class="talker">YM__</span>そうですね。インスタレーションなので全部で1点のつもりなのですが、どうしてもギャラリーで展示する時などは絵を1枚ずつ売る必要性が出てきます。売れない作品を作り続けることは困難なので、そうせざるをえないのが現状です。</p>
				<p>タイトルも、今までペインティングひとつずつにタイトルをつけたことはないです。ただ、「KEN＆Peace」のときはタイトルをひとつずつに対してつけました。それが初めてだった気がします。</p>
				<p><span class="talker">IL__</span>「KEN＆Peace」の展示作品、タイトルが8割「剣」ですよね。（笑）</p>
				<p><span class="talker">YM__</span>この時に、ようやく絵画が絵画として独立してくるようになってきた意識が自分の中でありました。剣というものがすごく象徴的なものなので、1個1個作品にしようという意識が働いたんだと思います。</p>
				<p>あと、mumeiの時（「Hamster-Powered Night Light（2019）」）もタイトルはそれぞれについていました。会場全体に伸びていた筒の作品はあれ1つにタイトルをつけていました。それと、「無題」だったと思いますが、他にもそれぞれにタイトルがついたものがいくつか。今思い返すと、少し蛇足な感じもしなくもないですが。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide01_sp.jpg" /></picture><span class="caption">'平凡な芸術家（仮）は本物の芸術家たり得るか。（すべてを最初から始めたい）', 2018, ミクストメディア, 500 x 500 x 500cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide02_sp.jpg" /></picture><span class="caption">'自由の錬金術', ミクストメディア, 978 x 860 x 300cm, 2015, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide03_sp.jpg" /></picture><span class="caption">Install shot '自由の錬金術', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide04_sp.jpg" /></picture><span class="caption">'KEN＆Peace', 2019, ミクストメディア, サイズ可変, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide05_sp.jpg" /></picture><span class="caption">Install shot 'KEN＆Peace', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide06_sp.jpg" /></picture><span class="caption">Install shot 'KEN＆Peace', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide07_sp.jpg" /></picture><span class="caption">Install shot 'KEN＆Peace', courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>絵画とインスタレーションで分かれてきているというか、最近は別のものになってきているのでしょうか。</p>
				<p><span class="talker">YM__</span>インスタレーションと絵画…そうですね。どうしても空間を意識して構成するので、たとえ絵のみを展示しても、その順番で並んでいる必要がありますし、インスタレーションのように思えます。ただ、美術館で展示する時はいいかもしれませんが、ギャラリーなどで販売も伴ってくるとなると、「インスタレーション」と「絵画」で分けるというのが自分の中で今はしっくりきていますね。</p>
				<p><span class="talker">IL__</span>「KEN＆Peace」のように絵画とインスタレーションの展示では、展示した絵画の文脈に沿ったインスタレーションを制作したのでしょうか？</p>
				<p><span class="talker">YM__</span>「絵が置かれる空間を作る」ような感じです。「KEN＆Peace」の時はHIGUREの奥行きのあるスペースをダンジョンや神殿に見立てて、ゲームをコンセプトにした展覧会をつくろうみたいなのがあって。いつもその場所を見た時に、ここで何をしようかなと考えます。今回のimlaborも、もともとは接骨院だったとのことで、その空間の特色から診療所のイメージで作品を展開しようと決めました。</p>
				<p>というのも、過去の作品ではずっと野外で作品を作っていたので、サイトスペシフィックなというかその場のものを利用するような性質が自分の根底にあるような気がしています。初めの頃はそれこそホワイトキューブに対する抵抗感を表したようなものを作ってしまっていたのですが…続けているうちにだんだんそれがやってもしょうがないことのように思えてきて。そういうのがぐるっと一周したような感じはあります。</p>
				<p><span class="talker">IL__</span>確かに、室井さんが大学に入ってすぐの頃はグラフィティや、それこそアースワークのような活動をされていましたよね。その頃はどういったことを考えていたのでしょうか？</p>
				<p><span class="talker">YM__</span>大学に入る前の頃、確か2008年ぐらいに、スプレーで描くのではなくオブジェクトを置いたりだとかっていうポスト・グラフィティのような動向が話題になっていました。ちょうどその時期に予備校生だったので、いろんな文献を漁ったり、シンポジウムを聞きに行ったりしました。</p>
				<p>ただこれはあまり語られていない部分なのですが、グラフィティって違法であるけどそれが表現として成立しているというところがあって。自分はむしろ違法であるということに執着がなかったので、いかに合法的に表現をするかみたいなことを探っていました。自然物にできるだけささやかに介入して、それが時間経過とともに消滅していったりだとか。それも合法とは言えませんが。もちろんグラフィティのアナーキーなところはカッコイイと思っていましたし、それが本質なので、プロジェクトベースで作品を制作することにはまったく興味が湧きませんでした。</p>
				<p>ただ、大学というアカデミックな場所に入ることで、そこでグラフィティのような行為をやること自体に自分の中で矛盾が生じてきて、徐々にできなくなっていきました。</p>
				<p><span class="talker">IL__</span>なるほど。そうした野外での活動の他にも影響を受けたものとして、アール・ブリュットやアウトサイダー・アートなどがあると以前話をお聞きしましたが、そうした表現と自分の作品の関係について伺えますか？</p>
				<p><span class="talker">YM__</span>グラフィティと並行してアール・ブリュットやアウトサイダー・アートに対する関心もずっとありました。けれど、美術大学に入ると、そういった作品から影響を受けたり模倣したりすることへの疑念が湧きました。</p>
				<p>アール・ブリュットの作家たちは美術大学に行かなくても‘それ’を描けているのに、自分が美術教育を受けた上でそういうものを描くのはすごく嘘くさい。だから自分の居場所を客観的に見た結果、アカデミックな現場なりのアール・ブリュットを目指すことにしました。学部の卒制（「自由の錬金術」）はそういったジレンマを解決したくて制作したものです。</p>
				<p>ただ、そうやって制作を続けていても、影響を受けるという意味で自分がある種搾取してしまっているような感覚からどうしても逃れられませんでした。なのでどうしたら本当のアール・ブリュットになれるのかということを考えた結果、学部を出たあとはそのまま大学院には行かず、労働者になろうと思って働くことにしました。これもまた過酷な労働経験ありきで制作をおこなったアール・ブリュットの作家、マルティン・ラミネスの影響だったりもしますが。</p>
				<p><span class="talker">IL__</span>でも実際に働き出してから、作品にも変化があったように思います。「KEN＆Peace」なんかは、特に作品の変化を感じたのですが。</p>
				<p><span class="talker">YM__</span>表現をするための切実な理由を見出せるようになってきたのかな、とは思います。個人的なところで。それまではもっと制度とか自分の外部に対するものが多かったんですけど。労働者になるっていうのも、アカデミックな美術の制度に対しての自分の態度でした。しかし、むしろそういう労働者に対する自分の見方自体にもまた罪悪感を覚えていました。</p>
				<p>彼らは彼らで信念を持って仕事をしている一方で、自分はそうした仕事を作品のためにやっているような。そこから、最初はすごく自分が職場の中で乖離していたような存在だったのが、どうしたらそこに馴染んで、うまく適応していくことができるかというように考えるようになって。結局そこでは2年間働きましたが、そう考えるようになってからは自分の中でも変化がありました。</p>
				<p>けれどその後、もうずっとここで働き続けなきゃいけないなというようなところまで来たという感じがあって。やはりもう1度集中して制作をしたいという思いもあり、大学院に進みました。</p>
				<p><span class="talker">IL__</span>その後、大学院では修了制作「王国をつくりなさい。」を作られました。これもタイトルが素晴らしいですが、どういった作品なのでしょうか？</p>
				<p><span class="talker">YM__</span>これは自分が見た夢のお告げに従って作品を作りました。アール・ブリュットの作家たちが夢のお告げに従ってものを作るというのはよくある話なのですが、それが自分にもついにきた！と思って。自分にとっても必然的なものが作れたのかなと思っています。</p>
				<p>しかしこの時も、お告げが来たラッキー！と思ってしまう自分に対する罪悪感も同時にありましたが…。</p>
				<p><span class="talker">IL__</span>罪悪感…やっぱりそうなるんですね。（笑）<br>今までの作品について話を伺う中で、室井さんは、制作をどこか自分の外部に委ねるというか、コントロール外にあえて仕向けるような意識があるのかなと思ったのですが、その辺りはどう思いますか？</p>
				<p><span class="talker">YM__</span>そうですね。やっぱりものとか外部の環境に支配はされていると思います。制作のきっかけも何かを見ていいなと思ったり、それを組み入れてみようというところだったりするので。まあでも従っているようで、結局そういうものを探しに行っているという意味ではやっぱり搾取はしてしまっているんだろうなとは思いますが…。</p>
				<p>ただそれはやっぱり、表現者は絶対的に正義にはなり得ないと思っているので、割り切ってはいます。なので、そういう自分の外部の素晴らしいものから恩恵を受けて自分もより良いものを作ろう、みたいな姿勢が今の時点での考えです。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide08_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide08_sp.jpg" /></picture><span class="caption">'カラーフィールド／水たまりに絵の具を溶く', 2009, ミクストメディア, サイズ可変, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide09_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide09_sp.jpg" /></picture></span><span class="caption">'「王国をつくりなさい。」', 2019, ミクストメディア, 500 x 450 x 1600cm, courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide10_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide10_sp.jpg" /></picture><span class="caption">Install shot '「王国をつくりなさい。」', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide11_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide11_sp.jpg" /></picture><span class="caption">Install shot '「王国をつくりなさい。」', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide12_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide12_sp.jpg" /></picture><span class="caption">'Hamster-Powered Night Light', 2019, ミクストメディア, サイズ可変,  courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide13_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide13_sp.jpg" /></picture><span class="caption">Install shot 'Hamster-Powered Night Light', courtesy of the artist</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide14_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide14_sp.jpg" /></picture><span class="caption">Install shot 'Hamster-Powered Night Light', courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IL__</span>今までで、特に強い影響を受けた作家はいますか？</p>
				<p><span class="talker">YM__</span>先にも出てきましたが、ジャン・デュビュッフェと、もうひとりはマイク・ケリーです。その2人には特に影響を受けていると思います。あと、クレス・オルデンバーグの初期の作品がデュビュッフェから影響を受けていて、本当はすごい上手いんだろうけど、あえて下手に描くということがあまりにも上手過ぎて、もはや嘘臭くない領域に達していると思います。</p>
				<p>あとは…ジェイソン・ローズもずっと自分の中でリスペクトし続けている作家のひとりです。2012年にNYで、93年にフォーカスした展覧会をたまたま見たのですが、インスタレーションのうまさは誰も敵わないって、ずっと思っています。もう亡くなっているので、あくまで再現ですが、あのインスタレーションが美術館に所蔵されていることも衝撃です。</p>
				<p>マイク・ケリーに関してはインスタレーションも素晴らしいですが、周縁のものを取り入れていく思想だったり、センスの良さが圧倒的で、さらにそれを理論化して提示できるところも含めてオールマイティーだなって思います。</p>
				<p><span class="talker">IL__</span>今回のim laborでの個展「こどもおとなクリニック」で新しく試したことなどがあったら教えてください。</p>
				<p><span class="talker">YM__</span>「KEN＆Peace」のときもそうですが、さらにペインティング1点1点を主体としているように思います。これまではインスタレーションとしてペインティングを構成的に配置し、空間との関係性を示してきました。今回の展示もインスタレーションと言うことはできると思いますが、絵を主役にするための設定をつくっているという感覚がより強いです。「KEN＆Peace」のときはオブジェクトも多く、それは空間が広かったので、どうしても勿体無いというか、埋めようとする気持ちが優先されました。</p>
				<p>また、自身の記憶から不気味なものを抽出し、魔除け・疫病退散というのをテーマの1つにしています。これも初めてのことだと思います。</p>
				<p><span class="talker">IL__</span>作品をどのように展開していきたいなど、今後やってみたいことはありますか？</p>
				<p><span class="talker">YM__</span>色々あります。国外での作品発表もしたいですが、コロナ渦の今はなかなか積極的になれません。制作については、とにかく継続することで、いつか振り返ったときに多くの変化に気づくような日が来ればよいと思っています。ものを集めるのもライフワークなので、収集の遍歴も楽しみたいと思っています。</p>
				<p>そのためにもアーカイブブックのようなものを定期的に作りたいと考えています。しかしながら、編集の仕事は自分1人では難しいですし、予算の都合もあってなかなか動き出せないのが現状です。</p>
				<p>ほか、コラボレーションも積極的におこないたいです。ちょうど今、京都の<a href="http://voukyoto.com/" target="_blank" rel="noopener noreferrer">VOU</a>にてペインターの安部悠介さんと一つの空間で展示をしており、とても面白い構成ができたと思っています。また、2019年末から<a href="https://www.instagram.com/tofutokaniclub/" target="_blank" rel="noopener noreferrer">『とうふと蟹クラブ』</a>というコレクティブとしても活動をしていますが、新型コロナウイルス蔓延のため、SNSでの作品発表が定着してしまいました。いつか実空間で展覧会を開催することが目標です。</p>
				</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/012/img/slide15_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/012/img/slide15_sp.jpg" /></picture><span class="caption">Yusuke Muroi, courtesy of the artist</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">1990年 群馬県生まれ。東京藝術大学大学院美術研究科修了。<br>
					グラフィティから影響を受け、2009年より路上で作品制作を始める。その後、アウトサイダーアートの観点からアールブリュットや民芸品に興味を持ち、美術の外縁を意識した制作・収集をおこなうようになる。近年は労働と共にある生活や、自身の記憶からコンセプトを得て、ペインティングを中心としたインスタレーション作品を展開する。<br>
					そのほか、不要なものを感性の力で商品化する『一周回ってつらい』、1日1制作を日課としたアーティストコレクティブ『とうふと蟹クラブ』としても活動をしている。<br>
					主な展覧会に、『THE ヨエロ寸 -尋-』VOU （2021,京都）『KEN&amp;Peace』HIGURE 17-15cas（2019,東京）『Hamster-Powered Night Light』 mumei （2019,東京）『群馬青年ビエンナーレ 2017』群馬県立近代美術館（2017,群馬）など。</dd>
				</dl>
			</div>
			<div class="c-data">
				<p class="link"><a href="http://yusukemuroi.jp/" target="_blank" rel="noopener">http://yusukemuroi.jp/</a></p>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

