{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
    type: 'curation',
		lang: 'en',
    title: "CURATION__001: MUD, TOKYO And SWIMMING",
    description: "im labor is pleased to announce a group show 'Mud, Tokyo and Swimming' at Park Tower Hall Gallery1 in Tokyo, Japan.",
		ogimage: "https://imlabor.org/curation/001/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": "1",
                "name": "TOP",
                "item": ""+ site.url +"/"
            },
            {
                "@type": "ListItem",
                "position": "2",
                "name": "CURATION",
                "item": ""+ site.url +"/curation/"
            },
            {
                "@type": "ListItem",
                "position": "3",
                "name": "001",
                "item": ""+ site.url +"/curation/001/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}curation/001/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}curation/001/img/bg-kv_sp.jpg" /></picture>
</div>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles.curation %}
					{%- if item.category === "CURATION" and item.number === "001"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }}</h2>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="c-data">
				<dl class="item">
					<dt class="term">Artist__</dt>
					<dd class="desc">Harriet Florence Farmer, Erin Laura Hughes, India Nielsen, Toru Otani, Kaoru Okubo, Ichiro Mishima, Reina Sugihara, Felix Treadwell</dd>
				</dl>
				<dl class="item">
					<dt class="term">Venue__</dt>
					<dd class="desc">Park Tower Hall Gallery1, Tokyo, Japan</dd>
				</dl>
				<dl class="item">
					<dt class="term">Date__</dt>
					<dd class="desc">24th September - 30th September, 2017</dd>
				</dl>
				<dl class="item">
					<dt class="term">Photography__</dt>
					<dd class="desc">Ichiro Mishima, all imgs copyright and courtesy of the artists and im labor</dd>
				</dl>
				<dl class="item -press">
					<dt class="term">Press release__</dt>
					<dd class="desc">im labor is pleased to announce a group show "Mud, Tokyo and Swimming" at Park Tower Hall Gallery1 in Tokyo, Japan. This show is going to be the first project presented by artist-run gallery im labor.<br>In this show 8 emerging artists from England and Japan will be exhibiting their work.</dd>
				</dl>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -collapse">
				<li><img src="{{ site.root }}curation/001/img/slide01.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide02.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide03.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide04.jpg" alt=""><span class="caption">Felix Treadwell, "Untitled", 2017, spray paint on canvas</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide05.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide06.jpg" alt=""><span class="caption">Harriet Florence Farmer, "Underwater Wave", 2017,  oil bar and dye on silk</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide07.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide08.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide09.jpg" alt=""><span class="caption">Erin Huges, "Fire Place, and Sims Collage", 2017, mixed media</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide10.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide11.jpg" alt=""><span class="caption">Toru Otani, "KSF(green)", 2017, color pencil on abrasive paper</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide12.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide13.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide14.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide15.jpg" alt=""><span class="caption">Reina Sugihara, "study of the wall", 2017</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide16.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide17.jpg" alt=""><span class="caption">Kaoru Okubo, 2017, acrylic and oil on canvas</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide18.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide19.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide20.jpg" alt=""><span class="caption">India Nielsen, "Untitled", 2017, acrylic and oil on canvas</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide21.jpg" alt=""></li>
				<li><img src="{{ site.root }}curation/001/img/slide22.jpg" alt=""><span class="caption">Ichiro Mishima, "Work, fabricate, built and show", 2017, prefabricated house parts</span></li>
				<li class="c-video"><iframe class="movie" src="https://player.vimeo.com/video/238102474?loop=1&amp;byline=0&amp;portrait=0&amp;muted=1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe><span class="caption">Reina Sugihara, "The Sanzu River", 2017, 2:10minutes</span></li>
				<li><img src="{{ site.root }}curation/001/img/slide23.jpg" alt=""></li>
			</ul>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
{%- endblock %}

