.page-breadcrumbs {
	& {
		width: 100%;
	}

	> ul {
		margin: 0 auto;
		padding: 38px (60 / width(max) * 100%) 30px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;

		@include overTablet {

		}
	}

	li {
		@include fz(12,12);
		a {
			color: color(darkgray);

			&[href] {
				text-decoration: none;
				@include overTablet {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&:after {
			content: '>';
			display: inline-block;
			margin: 0 8px;
			width: 5px;
			height: 8px;
			// vertical-align: 0;
			// background-repeat: no-repeat;
			// background-image: url(../img/common/arrow_next-gray.svg);
			// background-position: center center;
			// background-size: cover;

			@include overTablet {
				width: 6px;
				height: 10px;
				// margin: 0 16px;
				// vertical-align: -1px;
			}
		}
		&:last-child:after {
			content: none;
			display: none;
		}
	}
}
