.page-section {
	& {
		padding: 50px 0;
		@include overTablet {
			padding: 100px 0;
		}
    + .page-section {
      margin-top: -50px;
      @include overTablet {
        margin-top: -100px;
      }
    }
	}

	> .inner {
		max-width: 640px;
		margin: 0 auto;
		padding: 0 (50 / width(sp) * 100vw);
		@include overTablet {
			padding: 0;
		}
    &.-full {
      max-width: width(max)+px;
      @include overTablet {
        padding: 0 60px;
      }
    }
    &.-noprofile {
      padding-top: 56px;
      @include overTablet {
        padding-top: 96px;
      }
    }
	}

	.header {
		margin-bottom: 40px;
		@include overTablet {
			margin-bottom: 60px;
		}
		&.-latest {
			margin-bottom: 30px;
			@include AcuminM;
      @include fz(20,20);
			@include overTablet {
				margin-bottom: 60px;
        @include fz(24,24);
			}
		}
		.category {
			position: relative;
			@include AcuminR;
			@include fz(16,26);
			margin-right: 10px;
			padding-right: 10px;
			@include overTablet {
				@include fz(18,32);
				margin-right: 20px;
				padding-right: 20px;
			}
			&::before {
				content: '';
				position: absolute;
				top: 0.4em;
				right: -1px;
				background-color: color(black);
				width: 1px;
				height: 12px;

			}
		}
		.date {
			display: inline-block;
			@include AcuminL;
			@include fz(16,26);
			@include overTablet {
				@include fz(18,32);
			}
		}
		.title {
			position: relative;
			width: 100%;
			padding: 14px 0;
			@include AcuminR;
			@include fz(32,42);
      @include trc(-40);
			@include overTablet {
				padding: 18px 0;
				@include fz(56,72);
			}
		}

    .c-data {
      + .c-sns {
        margin-top: 1.8em;
      }
    }

    .c-sns {
      margin-top: 0.5em;
    }
	}

	.texttitle {
		margin-top: 40px;
		margin-bottom: 32px;
		@include AcuminR;
		@include fz(24,32);
		@include overTablet {
			margin-top: 0;
			@include fz(40,60);
		}
	}

	.lead {
		padding-bottom: 16px;
		@include overTablet {
			padding-bottom: 27px;
		}
	}

	.text {
		@include AcuminL;
		@include fz(16,26);
		@include overTablet {
			@include fz(18,32);
		}

		p {
			+ p {
				margin-top: 26px;
				@include overTablet {
					margin-top: 32px;
				}
			}
		}

		.talker {
			display: inline-block;
			padding-right: 1em;
			@include AcuminM;
		}

		&.-chat {
				p {
				+ p {
					margin-top: 20px;
					@include overTablet {
						margin-top: 32px;
					}
				}
			}
			.talker {
				display: block;
			}
			.left,
			.right {
				max-width: (520 / width(sp) * 100vw);
				@include overTablet {
					max-width: 400px;
				}
			}
			.right {
				margin-left: auto;
				@include overTablet {
					margin-right: -1em;
				}
				&.-single {
					text-align: right;
					@include overTablet {
						padding-right: 1em;
					}
					.talker {
						@include overTablet {
							margin-right: -1em;
						}
					}
				}
				.talker {
					padding-right: 0;
					text-align: right;
					@include overTablet {
						padding-right: 1em;
					}
				}
			}
		}
		&.-review {
			.lead {
				padding-bottom: 0;
				@include AcuminR;
				@include fz(18,28);
				@include overTablet {
					@include fz(24,40);
				}
        &.-note {
          @include fz(14,28);
          @include overTablet {
            @include fz(16,32);
          }
        }
        + p:not([class]) {
          margin-top: 52px;
          @include overTablet {
            margin-top: 64px;
          }
        }
			}
		}
	}

  .-jp & {
    .header {
      .title {
        .jp {
          @include notoSansR;
          @include fz(30,42);
          @include overTablet {
            @include fz(52,68);
          }
        }
      }
    }
    .text {
      @include notoSansR;
      @include fz(14,28);
      @include overTablet {
        @include fz(16,32);
      }
      &.-review {
        .lead {
          @include notoSansM;
          @include fz(16,30);
          @include overTablet {
            @include fz(22,42);
          }
          &.-note {
            @include fz(14,28);
            @include overTablet {
              @include fz(16,32);
            }
          }
        }
      }
    }
    .texttitle {
      @include notoSansM;
      @include fz(24,40);
      @include overTablet {
        @include fz(34,56);
      }
    }
  }

  &.-en-jp {
    .text {
      @include notoSansR;
      @include fz(14,28);
      @include overTablet {
        @include fz(16,32);
      }
      .texttitle {
        @include notoSansM;
        @include fz(34,56);
        .en {
          @include fz(40,60);
          font-weight: 400;
        }
      }
      .lead {
        @include notoSansM;
        @include fz(22,42);
        .en {
           @include fz(24,40);
           font-weight: 400;
        }
      }
      .en {
        display: inline-block;
        margin-top: 0.5em;
        // margin-top: 1em;
        @include AcuminL;
        @include fz(16,26);
        @include overTablet {
          @include fz(18,32);
        }
      }

      figure {
        margin: 3em 0;
      }
      figcaption {
        margin-top: 1em;
        @include fz(12,24);
      }
    }
  }
}
