{% extends '_layouts/_default.njk' %}

{#- ページ情報 -#}
{% set page = {
	type: 'journal',
	lang: 'jp',
	title: "INTERVIEW__021: In conversation with: フーマ・ババ",
	description: "1990年代以降、フーマ・ババは、オブジェ、絵画、写真、ドローイングなどを通して、あらゆる奇妙さと脆弱さを持つ人物をニュアンス豊かに描くことで、その特異な芸術活動を知られるようになりました。彼女は、ブロンズなどの伝統的な素材に加え、木、粘土、ビニール袋、絵の具、パステル、コルク、発泡スチロールなどのファウンドマテリアルをよく使用し、自らを「かなり実用的な」アーティストと表現しています。",
	ogimage: "https://imlabor.org/journal/interview/021/img/share.png",
    breadcrumbs: {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
				"@type": "ListItem",
				"position": "1",
				"name": "TOP",
				"item": site.url + "/"
            },
			{
				"@type": "ListItem",
				"position": "2",
				"name": "JP",
				"item": site.url + "/jp/"
            },
            {
				"@type": "ListItem",
				"position": "3",
				"name": "JOURNAL",
				"item": site.url + "/jp/journal/"
            },
            {
				"@type": "ListItem",
				"position": "4",
				"name": "INTERVIEW",
				"item": site.url + "/jp/journal/interview/"
            },
            {
				"@type": "ListItem",
				"position": "5",
				"name": "021",
				"item": site.url + "/jp/journal/interview/021/"
            }
        ]
    }
} %}

{# ページ固有CSSがある場合linkタグを追記 #}
{% block css %}
{%- endblock %}

{# コンテンツ #}
{% block contents %}
<div id="c-kv" class="c-kv" data-page="curation">
	<picture><source srcset="{{ site.root }}journal/interview/021/img/bg-kv_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/bg-kv_sp.jpg" /></picture>
</div>
<p class="kv-caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</p>

<div class="page-container">
	<div class="page-section">
		<div class="inner">
			<header class="header">
				{%- for item in articles_jp.journal %}
					{%- if item.category === "INTERVIEW" and item.number === "021"-%}
						<div class="info">
							<p class="tag"><span class="category">{{ item.category }}__{{ item.number }}</span><span class="date">{{ item.date }}</span></p>
						</div>
						<h2 class="title">{{ item.title }} <br>{{ item.titleJP }}</h2>
						<div class="c-data">
							<dl class="item">
								<dt class="term">by__</dt>
								<dd class="desc">{{ item.author }}</dd>
							</dl>
						</div>
					{%- endif %}
				{% endfor -%}
				<div class="c-sns">
					{% include '_partials/_c-sns.njk' %}
				</div>
			</header>
			<div class="text -review">
				<h3 class="texttitle">「私の作品はすべて私の手で作られています。ブロンズを制作するときも、原型は自分で作ります。自分で手がけることで、他にはない奇抜さ、独創性、技術が生まれるのです。」</h3>
				<p class="lead">1990年代以降、フーマ・ババは、オブジェ、絵画、写真、ドローイングなどを通して、あらゆる奇妙さと脆弱さを持つ人物をニュアンス豊かに描くことで、その特異な芸術活動を知られるようになりました。彼女は、ブロンズなどの伝統的な素材に加え、木、粘土、ビニール袋、絵の具、パステル、コルク、発泡スチロールなどのファウンドマテリアルをよく使用し、自らを「かなり実用的な」アーティストと表現しています。ラウシェンバーグの後継者と呼ぶにふさわしい彼女の巨大な具象彫刻は、不安定なバランスで組み合わされたオブジェで、もともと回収されてきたスクラップの状態にいつ戻るかもしれない危うさがあります。古代エジプトやアフリカの彫刻、ルイーズ・ブルジョワやヨーゼフ・ボイスといった近現代のアーティスト、SFやホラー映画など、美術史の広い範囲にわたって参照されるこれらのハイブリッドな作品は、過去、現在、未来の間を漂い、自然、モニュメンタリズム、軍国主義、エゴといったテーマに対する瞑想として、また刻々と変わる歴史に伴う狂乱の不確実性を体現するトーテムとしての役割を果たしています。</p>
				<p class="lead">本インタビューでは、19歳でパキスタンのカラチからアメリカに渡り、ニューヨークのロードアイランド・スクール・オブ・デザイン（BFA）とコロンビア大学（MFA）で美術を学んだこと、その後、都会を離れ、ハドソンバレーの剥製職人として働いたことが、常識にとらわれない自由な創作を可能にしたこと、また、自己表現の手段としてのSFの利用などについて語ってもらいました。</p>
				<p class="lead -note"><sup>*</sup>このインタビューはEメールで行われました。</p>
				<p><span class="talker">INDIA NIELSEN__</span>このEメールを書いている時点では、コロナの世界的な流行が報告されてから3年余りが経ちますが、今もって終息する気配はありません。そして、昨年2月24日、プーチン率いるロシアがウクライナに侵攻し、国連と欧米諸国は経済戦争に突入しました。さまざまな状況の中、“面白い時代になりますように”という英語の表現を思い出しました。今回の件は間違って中国の呪いなどと言われたりもしますが、「面白い時代に生きる」ということは、「不確実性、危機、混乱」の時代に生きるということでもあります。あなたは、今の時代に生きることをどのように捉えておられますか？また、それが、あなたの芸術に影響を与えていますか？</p>
				<p><span class="talker">HUMA BHABHA__</span>ウクライナでの代理戦争に先立ち、20年前に始まった永遠の戦争が、アフガニスタン、イラク、シリア、イエメンなどの中東に始まり、報告されていないようなアフリカのさまざまな地域で、同じような組織的破壊と死が繰り返されていることを知ってもらいたいです。米国とヨーロッパの扇動によって、兵器化した戦争ビジネスによって、世界の他の国々の経済状況は、人種差別と欲望に支配される状態になってしまいました。私は10代の頃から、この「面白い時代」をずっと見てきました。何も変わっていないので、私だけでなく、同じ悲しさを抱えている人がたくさんいると思います。幸い、私はかなり孤立した場所に住んでいて、そこは生産的な場所なので、私の芸術活動には影響は特にないですね。</p>
				<p><span class="talker">IN__</span>世界経済を維持するための戦争やその他の人間搾取の無限のサイクルを考えると、シニシズムが時に重荷になって、創造性を殺してしまうこともあると思います。おっしゃったように孤立した場所に住んでおられるのは、世の中と距離を置いて、クリエイティブな作品を産み続けるための選択なのでしょうか。</p>
				<p><span class="talker">HB__</span>私は、世界の状況について斜に構えているわけではありません。私は現実的な現実の中に生きているのであって、何かを避けることはしていないです。クリエイティブであることは、私の仕事にとって必然ですから。</p>
				<p><span class="talker">IN__</span>1962年にパキスタンのカラチに生まれ、その後19歳の時にアメリカに留学されましたね。パキスタンの高校で美術を学んでおられた間の初期の芸術的な取り組みにはどのようなものがあったのでしょうか。また、クリエイティブな関心を追求することに関して、ご家族が大きな存在だったのでしょうか？お母様も芸術家だったと聞きましたが…。</p>
				<p><span class="talker">HB__</span>私はアートを勉強するためにアメリカに来ました。私の母は才能あるアマチュアアーティストで、私がアーティストになりたいと思うようになったのも、母の影響です。両親は、私がアートに興味を持つことにとても協力的でした。</p>
				<p><span class="talker">IN__</span>ニューヨークのコロンビア大学で修士課程を修了された後、アメリカを拠点とする伝説的なアーティスト、マイヤー・ヴァイスマンのスタジオアシスタントとして働かれましたね。当時は80年代後半で、ヴァイスマンはニューヨークのアートシーンに大きな影響を与えていた時期でした。その数年前に、彼は仲間のアーティストであるケント・クラメン、エリザベス・クーリーとともに、ニューヨークのイーストビレッジに、今では有名なギャラリー「インターナショナル・ウィズ・モニュメント」を設立しました。このギャラリーは、ピーター・ハレー、ジェフ・クーンズ、アシュリー・ビッカートン、リチャード・プリンスなどのキャリアに火をつける重要な役割を果たしましたよね。ヴァイスマンの元で働くようになったきっかけと、その経験がどのようなものだったのか、教えて頂けますでしょうか？</p>
				<p><span class="talker">HB__</span>コロンビア大学でMFAに取り組んでいる際、お金がなかったので仕事が必要だったのですが、マイヤーのところで働いていた友人がセカンドアシスタントとして雇ってくれたんです。コロンビア大学での勉強よりも、そちらのほうが勉強になりましたね。キャンバスの張り方、シルクスクリーンなど、当時のNYの現代アートについていろいろと学ぶことができました。 彼はセンスの良いコレクターでもあったので、さらに勉強になりました。</p>
				<p><span class="talker">IN__</span>その後、2002年から2004年にかけて、剥製職人の元でも働いておられたんですよね。このことは、あなたの作品にどのような影響を与えたのでしょうか？</p>
				<p><span class="talker">HB__</span>私は長年、自分を支えるためにさまざまな下積みをしてきました。長年ニューヨークに住んでいたので、剥製工房での仕事によって、うまく、地方での暮らしに慣れることができました。ニワトリ、モルモット、クジャク、キジ、馬、そして何より3匹の犬が自由に走り回っていて、小動物園のようだったのが一番のお気に入りでした。巨大な狩猟店のジオラマの制作を手伝った後、自分の彫刻のためのアーマチュアを作るというようなこともして、多くのことを学びました。また、彼らが捨てていくようなゴミ、例えば動物の頭蓋骨や切り落とされたオオカミの足などを集め、今ではお守りのようにアトリエに置いています。あまりにそれまでと違うことをしていたので、こうあるべきという考えから解き放たれた感覚があって、この時期、普段ならやらないような実験や選択をすることができました。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide01_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide01_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha, January 25–March 14, 2020, David Kordansky Gallery, LosAngeles. Photo: Jeff McLan</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide02_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide02_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha, January 25–March 14, 2020, David Kordansky Gallery, LosAngeles. Photo: Jeff McLan</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>ニューヨークから郊外に引っ越そうと思ったきっかけは何だったのでしょうか？この時、一人で仕事をしていたのですか？この経験の結果、作品において最も顕著に変化したことは何ですか？また、それまではどのような制限を感じていたのですか？</p>
				<p><span class="talker">HB__</span>私は郊外ではなく、ハドソンバレーのポキプシーという静かな川沿いの都市に住んでいます。夫（画家のジェイソン・フォックス）と私は、ニューヨークに住む経済的な余裕がなくなったので、ニューヨークから引っ越しました。粘土を使い始めたのですが、先ほども言ったように、都会から離れたことで、自分の直感に従うことができるようになりました。</p>
				<p><span class="talker">IN__</span>あなたは主に具象彫刻で知られていますが、写真プリントや紙の上にインク、コラージュ、鉛筆を使った大規模なドローイングも制作されています。この2つの分野は、あなたの作品においてどのように融合しているのでしょうか？ドローイングから彫刻が生まれたりもするのでしょうか、それともドローイングと彫刻は別物で、別々で作るものだと考えていますか？</p>
				<p><span class="talker">HB__</span>立体作品を作り始める前は、主にペイントやドローイングをしていました。ドローイングは狭いスペースでもできることなので、スタジオがない時はよくやっていました。高校生の頃からポートレートに興味があり、今は、よりうまくなりました。また、大学の学部生の頃からコラージュやアッサンブラージュにも興味がありました。彫刻とドローイングは直接の関係はなく、彫刻のためにドローイングをするわけではありませんが、並行して制作することで、より面白く、予測不可能な感じで、彫刻にも影響が出ますね。2013年頃からカレンダーに掲載された野生動物の画像を使い始め、より本格的なものへ発展させてきました。ドローイングのスケールを変えるのも、とてもうまくいっています。</p>
				<p><span class="talker">IN__</span>例えば、野生動物の画像はどのように選んでいるのでしょうか？また、それらのイメージに特別な思い入れはありますか？</p>
				<p><span class="talker">HB__</span>私はあらゆる種類のイメージに心惹かれますが、特に動物のイメージが大好きです。動物のイメージの使用は、動物の大量絶滅の時代ですから、テーマとしても適切であり、カレンダーはそのようなイメージの安価な供給源であると思います。</p>
				<p><span class="talker">IN__</span>ドローイング、絵画、彫刻にしても、作品がうまく出来たというのは、どのように見分けるのですか？</p>
				<p><span class="talker">HB__</span>時間と経験、そして自分の作品を知ることですかね。</p>
				<p><span class="talker">IN__</span>2018年にニューヨーク・メトロポリタン美術館の屋上テラスに設置されたコミッションワーク『We Come in Peace』で、より広く世間の注目を集めるようになりましたね。このインスタレーションは、ブロンズで鋳造された粗削りの巨大な2体の人物で構成されており、1体は立っていて、もう1体はターポリンのようなものに覆われて手だけが見えていて、その前にうつ伏せになって、まるで礼拝しているような状態でした。この作品について、また、なぜ作品が人々の心を捉えたと思われるか、是非お聞かせください。</p>
				<p><span class="talker">HB__</span>まず、流用は全くしていなくて、発想も作り方も完全にオリジナルであったからこそ、うまくいったのだと思います。この2人の人物は、私の作品と使用する素材を象徴しています。第二に、現代美術の世界ではほとんど取り上げられることのない軍国主義を、非常に重要なテーマとして取り上げていることが、人々の心を打ったのだと思います。アイデンティティやジェンダー、セクシュアリティについて語ることはできても、軍国主義については決して語ることはできませんし、実際、それによって世界中の多くの人が悪影響を受けていますから。</p>
				<p><span class="talker">IN__</span>そうですね。それは、アートマーケットのせいだと思います。ジェンダーやセクシュアリティなど、アイデンティティの側面は商品化され、変化の印象を与えることができます。しかし、それはほとんど光学的なものなのです。軍国主義に関する作品を作ることは、ギャラリストやコレクターにとって、あまりにも生々しく、鼻につくことだと思いますか？</p>
				<p><span class="talker">HB__</span>存在感がありすぎるのだと思います。</p>
				<p><span class="talker">IN__</span>『We Come in Peace』というタイトルは、1951年のロバート・ワイズ監督のSF映画『The Day the Earth Stood Still』に直接言及するものですね。SFは、あなたの作品の多くに貫かれているテーマですが、作品の中の人物はジェンダーレスで、半人間的で、私たちの世界のものではない「他者」のように見えます。2016年の<a href="https://flash---art.com/article/huma-bhabha/" target="_blank" rel="noopener noreferrer">Flash Artのインタビュー</a>でも、「私は、作品を作るときに、自己の自殺に興味があります。国籍も性別もないのです。作品が特定の自己やイデオロギーに縛られることは避けたいのです。何もないときにこそ、全てになることができるから」とおっしゃっていました。 SFは、それぞれの彫刻の「キャラクター」のエネルギーや特異性をそのままに、作品から自分を取り除く手段を提供してくれるのでしょうか？</p>
				<p><span class="talker">HB__</span>そうですね。SFは、退屈になったり教訓的になったりすることなく、自分を表現し、想像力を働かせながら、特定の問題を扱うことができます。</p>
				<p><span class="talker">IN__</span>お気に入りのSF映画は何ですか？</p>
				<p><span class="talker">HB__</span>いろいろなSFを見ますが、『エイリアン』（1979年）、『ターミネーター』（1980年）、『シング』（1982年）、『彼方より』（1986年）、『ナインスゲート』（1999年）、『ディミトリオスの仮面』（1944年）、『ファーストブラッド』（1982年）などなど、これはたった一部ですけれど、さまざまな形で自分に影響を与える映画を見ています。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide03_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide03_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide04_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide04_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha: We Come in Peace, April 17–October 28, 2018, TheRooftop Garden Commission at The Metropolitan Museum of Art New York. ©HumaBhabha. Photo: HylaSkopitz,courtesy of the artist, David Kordansky Gallery, and TheMetropolitan Museum, New York</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="text">
				<p><span class="talker">IN__</span>ヴァイスマンは、作品から手を離すことに夢中になっているようにも見えますが、それも彼に惹かれた理由のひとつなのでしょうか。</p>
				<p><span class="talker">HB__</span>そんなふうに言われるとびっくりです。なぜなら、私の作品はすべて私の手で作られています。ブロンズを制作するときも、原型は自分で作ります。自分で手がけることで、他にはない奇抜さ、独創性、技術が生まれますから。</p>
				<p><span class="talker">IN__</span>私が言っているのは、あなたが作品から「自分」を取り除くことについての話ですね。手という物理的な痕跡はあっても、それ以外の識別機能はすべて取り除かれている。その「自己の自殺」の願望は、あなたの作品とヴァイスマンの作品に共通するものだと思いました。</p>
				<p><span class="talker">HB__</span>エゴを取り除き、想像力を自由に発揮することには注力しています。</p>
				<p><span class="talker">IN__</span>スピリチュアリティは、あなたの仕事において重要な要素ですか？</p>
				<p><span class="talker">HB__</span>宗教には興味がありませんが、自分の作品にスピリチュアリティが感じられるといいなと思っています。</p>
				<p><span class="talker">IN__</span>スタジオでエネルギーやアイデアを生み出すために、特に行っていることはありますか？何か必ずされる儀式のようなものがあったりしますか？</p>
				<p><span class="talker">HB__</span>特にありませんが、多くの時間を費やしています。</p>
				<p><span class="talker">IN__</span>発泡スチロール、紙、金網、粘土、コルク、ゴムなどのファウンド素材と、他の人から贈られた頭蓋骨やオブジェを使って、スタジオでスケールに合わせた彫刻を作ることが多いですね。その後、作品は鋳造所に運ばれ、ブロンズに鋳造されます。スタジオで作ったマークは即時性があり、鋳造された後は、DIYで作ったオリジナル素材の感触を維持するために、慎重に複製する必要があります。このプロセスや、なぜ最後にブロンズで鋳造する必要があるのか、教えてください。</p>
				<p><span class="talker">HB__</span>粘土、コルク、発泡スチロール、紙、拾ったものなど、壊れやすい素材を使って彫刻を作っています。これらは室内で展示しなければなりません。ブロンズで鋳造するのは、一部の作品に限られます。ブロンズには、屋外でも存在できる永続性があるのです。ブロンズの重さや感触がずっと好きで、ブロンズ彫刻を作ろうと思ったのは、その機会に恵まれたからです。</p>
				<p><span class="talker">IN__</span>私はいつも、アーティスト、とくに彫刻家がキャリアの初期にどのようにして自分の活動を維持するのか、興味を持っています。画家は少なくとも、スペースや材料を節約するために、絵を広げたり巻いたり、紙に描いたりすることができます。彫刻家にはそのような贅沢はありません。あなたの彫刻は、その大きさだけで、制作や保管に非常にコストがかかっているはずです。最初のころはどのような方法で、どのような作品を制作していたのでしょうか？作品の発展は、時間の経過やキャリアの成長とともに利用できるようになったリソースと直接的に相関していると思いますか？</p>
				<p><span class="talker">HB__</span>私は自分自身をかなり実用的なアーティストだと考えています。可能なこと、または自分にとって手頃なものを使って、無料だからということで拾ったり、安くて捨てられたような材料を使い、新しい命を与える。初期の作品は、持ち運びができなかったり、保管場所がなかったりで、処分せざるを得なかったものもあります。より大きな彫刻を作るようになったのはこの10年間のことです。</p>
				<p><span class="talker">IN__</span>現在、取り組んでいることは何ですか？</p>
				<p><span class="talker">HB__</span>現在、ロサンゼルスのDavid Kordanskyギャラリーで<a href="https://www.davidkordanskygallery.com/exhibitions/huma-bhabha-and-michael-williams2" target="_blank" rel="noopener noreferrer">ショー</a>を行っていて、2月25日迄やっています。</p>
				<p><span class="talker">IN__</span>若いアーティストに何かアドバイスがあればお願いします。</p>
				<p><span class="talker">HB__</span>目を覚ましてください。</p>
			</div>
		</div>
		<div class="slide">
			<ul class="slider -default">
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide05_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide05_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide06_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide06_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
				<li><picture><source srcset="{{ site.root }}journal/interview/021/img/slide07_pc.jpg" media="(min-width: 768px)"><img src="{{ site.root }}journal/interview/021/img/slide07_sp.jpg" /></picture><span class="caption">Installation view, Huma Bhabha and Michael Williams: Bhabha Williams, January 21–February 25, 2023, David Kordansky Gallery, Los Angeles. Photo: Jeff McLane</span></li>
			</ul>
		</div>
		<div class="inner">
			<div class="c-data">
				<dl class="item -about">
					<dt class="term">About the Artist__</dt>
					<dd class="desc">フーマ・ババ（1962年生まれ、パキスタン・カラチ）は、25年以上にわたり、現代人の奇妙さと脆弱さを表現するオブジェやドローイングなどの作品を作り続けています。古今東西の文化を取り入れたハイブリッドなフォルムは、ペーソスやユーモアを漂わせ、現代が抱える最も切実な問題の核心に迫り、SF、ホラー、モダニズム、古風な表現が交差する地点で、見慣れない存在の異質さや、生命体がモンスターとみなされる基準について疑問を投げかけているのです。彼女のオブジェの時代性は、彼女の熟練した技術と、自然物質と人工物質の類似点と相違点に着目した、創造的なアプローチによって高められています。また、公共空間のための記念碑的な屋外プロジェクトでは、自然、戦争、文明の古代の過去と遠い未来についての大規模な瞑想をブロンズ像を用いてつくり出しています。</dd>
				</dl>
			</div>
			<div class="c-data">
				<dl class="item -author">
					<dt class="term">India Nielsen</dt>
					<dd class="desc">インディア・ニールセン（1991年ロンドン生まれ）は、ロンドンを拠点に活動しているアーティストである。スレード・スクール・オブ・ファイン・アートで美術の学士号を取得後、ロイヤル・カレッジ・オブ・アートで絵画の修士号を取得。2022年、Lazy Mike galleryで個展を開催予定。最近では、Paradise Row、V.O Curations、Fitzrovia gallery（ロンドン）、2022年のAnnarumma gallery（ナポリ）でのグループ展に参加しています。最近の個展に、Darren FlookでのM is for Madonna, M is for Mariah, M is for Mother、2021年にImlabor（東京）でのCrybaby、2021年にPlatform Southwark（ロンドン）でのRedivideRがある。また、2021年にはWhite Crypt Project Space、Collective Ending（ロンドン）、Spazio Amanita x Avant Arte（フィレンツェ）、2021年にはDanny BaezのキュレーションによるWhite Columns（ニューヨーク）、Roman Road、The Residence Gallery、Southwark Park Galleries（ロンドン）でグループ展に参加。Imlaborのウェブサイトでは他のアーティストにインタビューするなど、執筆活動も行っている。ロンドン在住。</dd>
				</dl>
			</div>
			<div class="c-sns">
				<div class="inner">
					<div class="heading">Share This:</div>
					{% include '_partials/_c-sns.njk' %}
				</div>
			</div>
		</div>
	<!-- /.story-about --></div>
</div>

{%- endblock %}

{# ページ固有JSがある場合sciptタグを追記 #}
{% block script %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{%- endblock %}

